<p>KIRIHARA Online Academyへの%prof_caption%登録にあたっては、以下の規約にご同意いただいたうえで申込ください。</p>

<!--第1条-->
<h3 class="text-left">第1条（%prof_caption%登録規約）</h3>
<ol>
  <li>「KIRIHARA Online Academyへの%prof_caption%登録に関する規約（以下「本規約」という。）」は、株式会社ライトアップ（以下「甲」とします。）が提供する「KIRIHARA Online Academy」及び、これに付随するサービス（以下「本サービス」とします。）において%prof_caption%（以下「乙」とします。）として登録および参加するためのルールを定めるものです。</li>
</ol>

<!--第2条-->
<h3 class="text-left">第2条（規約の遵守）</h3>
<ol>
  <li>乙は、本サービスに参加するにあたり、本規約をよく読んだ上で、誠実に遵守するものとします。</li>
</ol>

<!--第3条-->
<h3 class="text-left">第3条（規約の変更）</h3>
<ol>
  <li>甲は、本規約の乙の一般の利益に適合する場合又は本規約の目的に反しない場合に、乙の了承を得ることなく、本規約を変更することがあります。この場合、本サービスの利用条件は、変更後の利用規約によります。 </li>
  <li>乙は、変更後の規約の適用を受けることに同意します。</li>
  <li>本規約を変更するときは、甲が別途定める場合を除いて、文書またはEメールなどの電磁的方法により通知するものとします。</li>
  <li>本規約の変更の効力は、甲が別途定める場合を除いて、文書またはEメールなどの電磁的方法による通知が乙に到達した時点より、生じるものとします。</li>
</ol>

<!--第4条-->
<h3 class="text-left">第4条（%prof_caption%登録と承諾）</h3>
<ol>
  <li>本サービスにおいて%prof_caption%としての登録を希望する者は、ビデオミーティングシステム「Skype」をインストールし、甲が定める所定の方法により、%prof_caption%登録を行うものとします。</li>
  <li>%prof_caption%登録に際しては、自己の通信環境がサービスの利用に適していることを確認して下さい。</li>
  <li>%prof_caption%登録をした者（登録を前提に仮登録した者も含みます）は、%prof_caption%登録を行った時点でこの規約の内容を承諾したものとみなします。</li>
</ol>

<!--第4条-->
<h3 class="text-left">第5条（%prof_caption%登録の不承認）</h3>
<ol>
<li>本サービスへの%prof_caption%登録希望者が以下のいずれかの項目に該当する場合、甲は登録を承認しない場合があります。
<ol class="list_parentheses">
    <li>既存の登録者が他の名称で登録しようとした場合</li>
    <li>入会申込の際の申告事項に虚偽、誤記または記入もれがあった場合</li>
    <li>本サービスの円滑な運営を妨げる恐れがある場合</li>
    <li>過去において甲より除名処分を受けたことがある場合</li>
    <li>上記以外の理由で、登録に際し不適当であると甲が判断した場合</li>
</ol>
</li>
</ol>

<!--第6条-->
<h3 class="text-left">第6条（本サービスにおける%prof_caption%契約の成立）</h3>
<ol>
<li>本サービスにおける%prof_caption%契約（以下「本契約」とします。）は、甲が乙に対してE メール等により本登録完了を通知し、乙の管理画面より紹介情報を記入の上、公開した日に成立し、乙は当該日以後本サービスに参加できるものとします。</li>
</ol>

<!--第7条-->
<h3 class="text-left">第7条（本サービス参加の期限）</h3>
<ol>
<li>本サービスの参加期限はありませんが、6 ヶ月以上本サービスの利用%member_caption%（以下「%member_caption%」という。）からのレッスン予約がなされない場合は、登録情報を削除することがあります。</li>
</ol>

<!--第8条-->
<h3 class="text-left">第8条（%prof_caption%登録の解除）</h3>
<ol>
<li>甲は、乙が次の各号に該当し、または該当する行為を行なった場合には、本サービスの利用を拒否し、乙に対して何ら通告することなく%prof_caption%登録を解除するものとします。 なお、本条による%prof_caption%登録の解除は、本規約第14条に基づく乙に対する損害賠償の請求を妨げないものとします。
    <ol class="list_parentheses">
        <li>暴力団、暴力団員、暴力団関係企業・団体またはその関係者、その他反社会的勢力であると判明した場合</li>
        <li>甲との取引に関して、脅迫的な言動をし、または暴力を用いたとき、もしくは風説を流布し、偽計を用いまたは威力を用いて、甲の信用を毀損し、または甲の業務を妨害したとき、その他これらに類する行為</li>
        <li>甲の従業員その他の関係者に対する暴力的要求行為、あるいは合理的範囲を超える負担の要求</li>
        <li>犯罪行為に関連する行為または公序良俗に反する行為</li>
        <li>コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報を送信する行為</li>
        <li>甲および甲に所属する乙以外の%prof_caption%または第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為</li>
        <li>本サービスに関して、甲が一般的に開示していない機密情報を詮索すること</li>
        <li>乙から%member_caption%への嫌がらせや、ハラスメント行為</li>
        <li>レッスン時間以外に、本サービスが認める方法以外で、乙またはその代理人がユーザーと個人的に接触しようとすること</li>
        <li>本サービスを本サービスと同様の営業行為、営業目的およびその準備に利用する行為</li>
        <li>ひとつのアカウントを複数の%prof_caption%で利用すること。または、複数のアカウントを一人で利用すること</li>
        <li>%member_caption%及び他の%prof_caption%を本サービス以外に、または甲以外の企業での勤務に勧誘する行為</li>
        <li>%member_caption%または第三者もしくは甲および甲のスタッフ・他の%prof_caption%への脅迫的な行為、卑猥・猥雑、品性を欠く行為、罵倒する行為、嫌悪感を与える行為</li>
        <li>甲の承認した以外の方法で%member_caption%・他の%prof_caption%または第三者との間で、売買および金銭的な利害の発生する行為</li>
        <li>甲のカスタマーサポートスタッフへの暴言、またはカスタマーサポート業務を妨げる行為</li>
        <li>本サービスの利用状況を録音または録画して第三者に開示する行為</li>
        <li>何ら正当な理由がなく、事前に定めた期限内にキャンセルを申し入れることなくレッスンを欠席し、または遅刻し、甲からの指導にもかかわらず是正しない場合</li>
        <li>乙に対する生徒からの評価が著しく低く、甲の指導によっても乙に対する%member_caption%からの評価の改善が見られない場合</li>
        <li>乙が別紙記載の%prof_caption%登録基準を満たしていないことが判明した場合</li>
        <li>その他、甲が不適切と判断する行為</li> 
    </ol>
</li>
</ol>


<!--第9条-->
<h3 class="text-left">第9条（対価）</h3>
<ol>
<li>本サービスへの参加に関する各コースの内容、対価及び%prof_caption%登録基準については、別紙とします。</li>
</ol>

<!--第10条-->
<h3 class="text-left">第10条（レッスンの詳細）</h3>
<ol>
  <li>乙は、管理画面よりレッスンを行える日時を指定するものとします。</li>
  <li>本サービスの利用%member_caption%からレッスンの予約が入った場合は、そのスケジュール通りにレッスンを行うものとします。</li>
  <li>%member_caption%が予約したレッスンをキャンセルフォームよりレッスンのキャンセルを申し出た場合、そのキャンセルの申出が事前に甲の定めた期限内であれば、乙への対価は発生しないものとします。</li>
  <li>乙が、乙の私的な理由によりレッスンに出席できない場合は、甲が事前に定めた期限内にキャンセルを申し入れることができます。なお、キャンセルも申し入れることなくレッスンに出席しない又は遅刻した場合は第9条に定める対価の減額等ペナルティを課せられる可能性があります。</li>
  <li>%member_caption%の都合でレッスンの開始時刻が遅れた場合も終了時間は定刻といたします。その際の対価は1 レッスンと同等に支払われるものとします。</li>    
</ol>

<!--第11条-->
<h3 class="text-left">第11条（個人情報の保護）</h3>
<ol>
<li>甲が知りえた乙の個人情報は、甲の個人情報保護方針に則り運用いたします。なお、%member_caption%自身から乙個人へ伝えた個人情報に関しては適用されないものとし、乙はその個人情報を厳重に取り扱うものとします。</li>
</ol>

<!--第12条-->
<h3 class="text-left">第12条（支払方法等）</h3>
<ol>
<li>乙は対価の支払及び振り込み先として、ペイパル又は日本国内における銀行口座を甲に伝えるものとします。毎月末締、翌月15 日（金融機関が休業の場合はその翌営業日）に支払われるものとします。</li>
</ol>

<!--第13条-->
<h3 class="text-left">第13条（知的財産権）</h3>
<ol>
  <li>本サービスに関する商標権、著作権（著作権法第27条及び第28条の権利を含みます。）などの知的財産権及び所有権は、全て甲又は株式会社桐原書店に帰属します。また、所有権についても同様とします。
</li>
  <li>前項の著作権については、乙が本サービスに関して制作した成果物も対象とします。</li>
  <li>乙は、成果物を制作するにあたり、第三者の著作権を侵害しないことを保証するものとし、成果物に関する著作者人格権を行使しないものとします。</li>    
</ol>

<!--第14条-->
<h3 class="text-left">第14条（損害賠償）</h3>
<ol>
<li>乙は、自己の責めに帰すべき事由（品質を満たさない場合等）により甲に損害を与えた場合（第三者に生じた損害について賠償した損害にかかる求償も含む）、現実に生じた直接かつ通常の損害（逸失利益及び弁護士費用を含む）に限り、当該損害額を、甲に賠償するものとします。/li>
</ol>

<!--第15条-->
<h3 class="text-left">第15条（制限事項）</h3>
<ol>
<li>乙は、乙が%prof_caption%登録をした後これが抹消されるまでの間、及び登録抹消された後３年間、本サービスの参加を通じて知り得た個人、企業、組織等から直接に業務を請け負わないものとします。</li>
</ol>

<!--第16条-->
<h3 class="text-left">第16条（専属的合意管轄裁判所等）</h3>
<ol>
<li>本契約について訴訟の必要が生じた場合には、訴額に応じて、東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。また、本契約は日本国法に準じて解釈されるものとします。なお、本契約は日本語が正文であり、他の言語に訳したものは、参考文です。</li>
</ol>


<!--付則-->
付則
<ol>
<li>本規約は2021年7月15日より実施します。</li>
</ol>


<style>
ol{
  margin-bottom: 2.2rem;
}
ol.list_parentheses{
  padding:0 0 0 1.5em;
  margin:0;
}
ol.list_parentheses li{
  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
  text-indent: -1.5em;    
}
ol.list_parentheses li:before{
  display: marker;
  content: "(" counter(cnt) ") ";
}    
</style>