<p>　桐原オンラインアカデミー powered by ワールドトーク利用規約（以下、「本規約」といいます。）は、株式会社ライトアップ（以下、「甲」といいます。）が提供する「桐原オンラインアカデミー powered by ワールドトーク」およびこれに付随するサービス（以下、「本サービス」といいます。）を、本サービスの%member_caption%（以下、「乙」といいます。）が利用するためのルールを定めるものです。<br>
　本サービスのお申し込みをいただいた方は、本規約に同意したものとみなします。
</p>

<!--第1条-->
<h3 class="text-left">第1条（本規約の趣旨）</h3>
<ol>
  <li>乙は、本サービスを利用するにあたり、本規約を誠実に遵守するものとします。</li>
</ol>

<!--第2条-->
<h3 class="text-left">第2条（本規約の変更）</h3>
<ol>
  <li>甲は、本規約の乙の一般の利益に適合する場合又は本規約の目的に反しない場合に、乙の了承を得ることなく、本規約を変更することがあります。この場合、本サービスの利用条件は、変更後の利用規約によります。 </li>
  <li>乙は、変更後の規約の適用を受けることに同意します。</li>
  <li>本規約を変更するときは、甲が別途定める場合を除いて、本サービスを提供するホームページ（以下「ホームページ」という。）に掲載する方法に通知するものとします。</li>
  <li>本規約の変更の効力は、甲が別途定める場合を除いて、ホームページに表示された時点より、生じるものとします。</li>
</ol>

<!--第3条-->
<h3 class="text-left">第3条（%member_caption%登録）</h3>
<ol>
  <li>%member_caption%登録に際しては、自己の通信環境がサービスの利用に適していることをご確認ください。</li>
  <li>%member_caption%登録をした者（登録を前提に仮登録した者も含む）は、%member_caption%登録を行った時点で本規約の内容を承諾したものとみなします。</li>
  <li>%member_caption%登録は一人１回のみとし、同様に無料体験期間も一人１回のみの利用とします。同一人物による複数登録による無料体験期間の不正利用が発覚した場合、甲から乙に損害金を請求し、乙は支払うものとします。</li>
</ol>

<!--第4条-->
<h3 class="text-left">第4条（登録の不承認）</h3>
<ol>
<li>本サービスへの%member_caption%登録希望者が以下のいずれかの項目に該当する場合、甲は登録を承認しない場合があります。
<ol class="list_parentheses">
    <li>既存の登録者が他の名称で登録しようとした場合</li>
    <li>入会申込の際の申告事項に虚偽、誤記または記入もれがあった場合</li>
    <li>本サービスの円滑な運営を妨げる恐れがある場合</li>
    <li>過去において甲より除名処分を受けたことがある場合</li>
    <li>上記以外の理由で、入会に際し不適当であると甲が判断した場合</li>
</ol>
</li>
</ol>

<!--第5条-->
<h3 class="text-left">第5条（利用開始日）</h3>
<ol>
<li>本サービスの利用開始日は、甲が%member_caption%登録希望者に対してEメールにより本登録完了を通知した日とします。</li>
</ol>

<!--第6条-->
<h3 class="text-left">第6条（乙の本サービス登録情報の有効期限）</h3>
<ol>
<li>6ヶ月以上、チケットの購入およびレッスン予約がなされていない場合は、甲は事前の通知なしに、乙の登録情報を削除することがあります。</li>
</ol>

<!--第7条-->
<h3 class="text-left">第7条（返金）</h3>
<ol>
<li>乙が購入済みコースのチケットについては、使用、未使用を問わず、甲は返金およびチケットの返還を行なわないものとします。なお乙の通信環境・通信接続や通信ソフトウェアおよび接続状況等の障害により本サービスの利用が困難であった場合も同様とします。</li>
</ol>

<!--第8条-->
<h3 class="text-left">第8条（レッスンの詳細）</h3>
<ol>
<li>乙は本サービスで銀行振込またはクレジットカードのいずれかでチケットを購入し、レッスン予約時に乙はチケットを消費するものとします。</li>
<li>乙が予約したレッスンについて、キャンセルフォームよりキャンセルを申し出た場合、甲が事前に定めた期限内であれば、甲は乙に対し、チケットを返還するものとします。</li>
<li>講師側の特別な理由で講師がレッスンに出席しなかった場合、または甲の責任によるトラブルでレッスンに不具合があった場合は、甲は乙に対し、甲の定めによる状況の度合いに見合ったチケットを返還するものとします。</li>
<li>レッスンの受講可能時間帯、レッスン時間、受講料などの詳細について、乙は甲のホームページ上で確認するものとします。</li>
<li>乙の都合でレッスンの開始時刻が遅れた場合も、終了時間は定刻といたします。その場合のチケットの返還は行わないものとします。</li>
<li>クレジットカード決済については、甲が指定する決済代行会社にて決済処理するものとします。</li>    
</ol>

<!--第4条-->
<h3 class="text-left">第9条（登録の解除）</h3>
<ol>
<li>甲は、乙が次の各号に該当する場合には、本サービスの利用を拒否し、乙に対して通告することなく会員登録を解除するものとします。 
    <ol class="list_parentheses">
        <li>暴力団、暴力団員、暴力団関係企業・団体またはその関係者、その他反社会的勢力であると判明した場合</li>
        <li>甲との取引に関して、脅迫的な言動をし、または暴力を用いたとき、もしくは風説を流布し、偽計を用いまたは威力を用いて、甲の信用を毀損し、または甲の業務を妨害したとき、その他これらに類する行為を行なった場合</li>
        <li>甲の従業員その他の関係者に対し、暴力的要求行為を行い、あるいは合理的範囲を超える負担を要求した場合</li>
        <li>犯罪行為に関連する行為または公序良俗に反する行為</li>
        <li>コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報を送信する行為</li>
        <li>甲および甲に所属する講師または第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為</li>
        <li>本サービスに関して、講師の契約条件の他、甲が一般的に開示していない機密情報を詮索すること</li>
        <li>講師への嫌がらせや、レッスンの進行を妨げる等のハラスメント行為</li>
        <li>レッスン時間以外に、本サービスが認める方法以外で、乙またはその代理人が講師と個人的に接触しようとすること</li>
        <li>本サービスを本サービスと同様の営業行為、営業目的およびその準備に利用する行為</li>
        <li>ひとつのアカウントを複数の会員で利用すること。または、複数のアカウントを一人で利用すること</li>
        <li>講師を本サービス以外に、または甲以外の企業での勤務に勧誘する行為</li>
        <li>他の会員または第三者もしくは甲および甲のスタッフ・講師への脅迫的な行為、卑猥・猥雑、品性を欠く行為、罵倒する行為、嫌悪感を与える行為</li>
        <li>甲の承認した以外の方法で他の会員または第三者との間で、売買および金銭的な利害の発生する行為</li>
        <li>甲のカスタマーサポートスタッフへの暴言、またはカスタマーサポート業務を妨げる行為</li>
        <li>本サービスの利用状況を録音または録画して第三者に開示する行為</li>
        <li>その他、甲が不適切と判断する行為</li>    
    </ol>
</li>
</ol>


<!--第10条-->
<h3 class="text-left">第10条（災害時の対策）</h3>
<ol>
<li>レッスン提供国において突然発生するシステム障害・国内情勢・自然災害等、甲の責任によらない理由で、レッスンの受講が一時的に困難であり本サービスを中断せざるをえなくなった場合、甲は、チケットの返還や再開の目途を立てるなど、乙と協議の上、解決するものとします。</li>
</ol>

<!--第11条-->
<h3 class="text-left">第11条（責任の範囲）</h3>
<ol>
  <li>甲の都合により乙にレッスンを提供できなかった場合は、甲は乙に当該レッスン分のチケットを返還するものとします。レッスンキャンセルのために乙が被ったその他の損害に対しては、レッスンキャンセルが突然であった場合でも、甲は一切の責任を負わないものとします。ただし、甲に故意または重過失がある場合は、この限りではありません。</li>
  <li>乙の通信機器、回線状況によりレッスンが受けられなかったと甲が判断した場合、甲は乙にチケットを返還しないものとします。</li>
  <li>乙は、自らが講師へ送信またはアップロードしたファイル、動画、画像等について、第三者の著作権その他の権利を侵害しないものとし、甲に一切の迷惑を掛けないものとします。</li>
  <li>サーバ接続障害によりサイトにアクセスできない場合、甲はその復旧に努めるものとし、乙の機会損失に対する補償はないものとします。ただし、甲に故意または重過失がある場合は、この限りではありません。。</li>
</ol>

<!--第12条-->
<h3 class="text-left">第12条（個人情報の保護）</h3>
<ol>
<li>甲が知りえた乙の個人情報は、別途定める「個人情報の取り扱いについて」に記載された甲の個人情報保護方針に則り運用します。なお、乙が自ら講師個人へ伝えた個人情報に関しては適用されないものとします。</li>
</ol>

<!--第13条-->
<h3 class="text-left">第13条（知的財産権著作権および所有権）</h3>
<ol>
<li>本サービスに関わる商標権、著作権などの知的財産権及び所有権は、全て甲に帰属します。乙が複製の使用や再配布などを行なうことを禁止します。</li>
</ol>

<!--第13条-->
<h3 class="text-left">第14条（専属的合意管轄裁判所）</h3>
<ol>
<li>甲と乙との間で訴訟の必要が生じた場合、訴額に応じて、東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</li>
</ol>

<!--付則-->
付則
<ol>
<li>本規約は2021年7月15日より実施します。</li>
</ol>


<style>
ol{
  margin-bottom: 2.2rem;
}
ol.list_parentheses{
  padding:0 0 0 1.5em;
  margin:0;
}
ol.list_parentheses li{
  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
  text-indent: -1.5em;    
}
ol.list_parentheses li:before{
  display: marker;
  content: "(" counter(cnt) ") ";
}    
</style>