<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h3 class="text-center wt_courseh4">英検二次試験合格コース概要</h3>
    <table class="mb-5 table table-striped wt_coursetable">
      <tbody>
        <tr>
          <th class="text-center">コース料金</th>
          <td class="pl-3 pr-3">英検準1級：40,000円<br>英検2級～準2級：30,000円</td>
        </tr>
        <tr>
          <th class="text-center">コース期間</th>
          <td class="pl-3 pr-3">2ヶ月間（全8回/50分）</td>
        </tr>
        <tr>
          <th class="text-center">講師</th>
          <td class="pl-3 pr-3">日本人講師</td>
        </tr>
        <tr>
          <th class="text-center">講師の資格</th>
          <td class="pl-3 pr-3">英検準1級以上(準1級コースは1級のみ)</td>
        </tr>
        <tr>
          <th class="text-center">指導コース</th>
          <td class="pl-3 pr-3">
            <ul>
              <li>英検準1級 二次試験対策コース</li>
              <li>英検2級 二次試験対策コース</li>
              <li>英検準2級 二次試験対策コース</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="text-center">使用教材</th>
          <td class="pl-3 pr-3">
            <ul>
              <li>英検二次試験・面接完全予想問題</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-5">
    <h4>英検二次試験合格コース基本方針</h4>
    <ol>
      <li>受講者の目標と課題を講師と確認</li>
      <li>英語力の変化や学習進捗により内容は調整</li>
      <li>スコアだけでなく使える英語を身につける</li>
    </ol>

    <div class="d-block d-md-none">

      <table class="table table-striped wt_coursetable">
        <thead>
          <tr>
            <th class="text-center w-10">DAY</th>
            <th class="text-center w-30">対象Part</th>
            <th class="text-center w-60">活動内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td>実力チェック</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>音読/パッセージ</li>
                <li>イラストに関する問題</li>
                <li>意見を問う質問</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>音読/パッセージのチェック</li>
                <li>イラストに関する問題のチェック</li>
                <li>意見を問う質問のチェック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td class="mb-0 d-lg-none">Day.1-2 音読/パッセージ＆イラスト</td>
            <td class="mb-0 d-none d-lg-block">Day.1-2 音読/パッセージ＆イラストを活用したレッスン</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">3</td>
            <td class="mb-0 d-lg-none">Day.1-2 受験者の意見を問う質問</td>
            <td class="mb-0 d-none d-lg-block">Day.1-2 受験者の意見を問う質問を活用したレッスン</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>応答ポイントのフィードバック</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>応答のポイントに照らし合わせたフィードバック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">4</td>
            <td>Day3-4を活用したレッスン</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">5</td>
            <td>Day5-6を活用したレッスン</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">6</td>
            <td>Day7-8を活用したレッスン</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">7</td>
            <td>Day9を活用したレッスン<br>Day1-4に再挑戦</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
                <li>強み・弱みの変化を確認</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
                <li>各項目の強み・弱みの変化を確認</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">8</td>
            <td>Day10を活用したレッスン<br>Day5-8に再挑戦</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
                <li>強み・弱みの変化を確認</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
                <li>各項目の強み・弱みの変化を確認</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="d-none d-md-block">

      <table class="table table-striped wt_coursetable">
        <thead>
          <tr>
            <th class="text-center w-10">DAY</th>
            <th class="text-center w-30">対象Part</th>
            <th class="text-center w-60">活動内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td>実力チェック</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>音読/パッセージ</li>
                <li>イラストに関する問題</li>
                <li>意見を問う質問</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>音読/パッセージのチェック</li>
                <li>イラストに関する問題のチェック</li>
                <li>意見を問う質問のチェック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td class="mb-0 d-lg-none">Day.1-2 音読/パッセージ＆イラスト</td>
            <td class="mb-0 d-none d-lg-block">Day.1-2 音読/パッセージ＆イラストを活用したレッスン</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">3</td>
            <td class="mb-0 d-lg-none">Day.1-2 受験者の意見を問う質問</td>
            <td class="mb-0 d-none d-lg-block">Day.1-2 受験者の意見を問う質問を活用したレッスン</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>応答ポイントのフィードバック</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>応答のポイントに照らし合わせたフィードバック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">4</td>
            <td>Day3-4を活用したレッスン</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">5</td>
            <td>Day5-6を活用したレッスン</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">6</td>
            <td>Day7-8を活用したレッスン</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">7</td>
            <td>Day9を活用したレッスン<br>Day1-4に再挑戦</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
                <li>強み・弱みの変化を確認</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
                <li>各項目の強み・弱みの変化を確認</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">8</td>
            <td>Day10を活用したレッスン<br>Day5-8に再挑戦</td>
            <td>
              <ul class="mb-0 d-lg-none">
                <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
                <li>強み・弱みの変化を確認</li>
              </ul>
              <ul class="mb-0 d-none d-lg-block">
                <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
                <li>各項目の強み・弱みの変化を確認</li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h4 class="mb-5">英検二次試験合格コース監修者「早川幸治（Jay）先生」より</h4>
  </div>
  <div class="col-6 offset-3 col-md-2 offset-md-0 mb-5">
    <img src="/assets/img/common/hayakawa.png" class="w-100 h-auto rounded-circle" alt="コース監修者「早川幸治（Jay）先生」">
  </div>
  <div class="col-12 col-md-10 mb-5">
    <div class="wt_p_comment">
    <p>二次試験では、正しい発音やアクセント、イントネーションで読む力や、話の展開を把握して英文を構成する力、文書やイラストの内容を正確に伝える力、意見を具体的に伝えるスピーキング力など、様々なスキルが求められます。</p>

    <p>本コースでは二次試験に特化して、正しく英文を読み上げる発音やアクセント、イントネーションのほか、スピーキングの「型」を身につけていきます。型を身につけることで、あらゆるトピックに対応できるようになります。<br>また、多くのトピックで使いまわしができる便利な表現も数多く学ぶことができます。</p>

    <p>オンライン英会話レッスンでは実際に英検の級を取得している講師が担当します。<br>スピーキングに対する講師からのフィードバックもありますので、強みや弱みを把握していきましょう。</p>

    <p>また、自分のスピーキングを評価できるようにするために、よい構成／悪い構成を分析する力も磨きます。</p>

    <p class="mb-0">「練習して、評価して終わり」ではなく、さらにアップグレードするための再挑戦も取り入れるため、上達を感じやすく、短期間で精度の高いスピーキング力を身につけることができます。<br>採点基準である応答の内容、発音、語彙力、文法、語法、情報量などもチェックしながらレッスンを行いますので、自分ひとりでは気が付きにくい部分もフォローしていきます。<br>マンツーマンだからこそのサポートやフィードバックを活かし、合格に向けて進んでいきましょう。</p>
    </div>
  </div>

</div>