
  <footer class="wt_footer">
    <TMPL_IF NAME="session_prof_handle">
    <div class="wt_footer_cont">
      
      <div class="container">
        <div class="row">
          <div class="d-none d-lg-block col-lg-3">
            <h3>ホーム</h3>
            <ul>
              <li><a href="/">サービストップページ</a></li>
            </ul>
            <h3>募集・採用</h3>
            <ul>
              <li><a href="/WTE/preg.cgi">日本人英会話講師募集</a></li>
            </ul>
            <h3 class="d-none d-lg-block">講師ダッシュボード</h3>
            <ul class="d-none d-lg-block">
              <li><a href="/WTE/mypage.cgi">ダッシュボードログイン</a></li>
            </ul>
          </div>
          <div class="d-none d-lg-block col-lg-3">
            <h3>規約・ポリシー</h3>
            <ul>
              <li><a href="/WTE/prof.cgi?m=agree">ご利用規約</a></li>
              <li><a href="/wte/privacy">プライバシーポリシー</a></li>
              <li><a href="/wte/transaction">特定商取引法に基づく表示</a></li>
              <li><a href="/wte/company">運営会社概要</a></li>
            </ul>

          </div>
          <div class="col-12 col-lg-3">
            <h3 class="d-none d-lg-block">関連サービス</h3>
            <ul class="d-none d-lg-block">
              <li><a href="https://www.writeup.jp/" target="_blank">株式会社ライトアップ</a></li>
              <li><a href="https://www.kirihara.co.jp/" target="_blank">株式会社桐原書店</a></li>
              <li><a href="https://www.worldtalk.jp/" target="_blank">ワールドトーク</a></li>
              <li><a href="https://biz.worldtalk.jp/" target="_blank">ビジネスワールドトーク</a></li>
              <li><a href="https://school.worldtalk.jp/" target="_blank">ワールドトーク for School</a></li>
              <li><a href="https://pr.wte.jp/" target="_blank">オンラインレッスン立ち上げ支援</a></li>
            </ul>

          </div>
          <div class="col-12 col-lg-3">
            <h3 class="d-none d-lg-block">ソーシャルメディア</h3>
            <ul class="wt_social">
              <li><a href="https://twitter.com/Worldtalk_wu" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
              <li><a href="https://www.facebook.com/worldtalk" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UC90bnAUqqFOQX0l53LO3VBg" target="_blank"><i class="fab fa-youtube fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <TMPL_ELSE>
    </TMPL_IF>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center small"><small class="wt_copyright">&copy; 2021-2024 WriteUp! Co.,Ltd. Worldtalk team. × Kirihara Shoten K.K.</small></p>
        </div>
      </div>
    </div>
  </footer>

