
  <footer class="wt_footer">
    <div class="wt_footer_cont">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-2 offset-md-5 text-center mb-5">
            <p class="wt_logo"><a>TOEIC・英検対策特化型オンライン英会話KIRIHARA Online Academy</a></p>
          </div>
          <div class="col-12 text-center mb-3 mb-md-5">
            <h2>最短距離で結果をつくる</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center"><small class="wt_copyright">&copy; 2021 WriteUp! Co.,Ltd. Worldtalk team. × Kirihara Shoten K.K.</small></p>
        </div>
      </div>
    </div>
  </footer>
