  <header class="wt_header" role="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

            
          
          <TMPL_IF NAME="session_member_handle">
            <p class="wt_logo wt_logo_lp"><a href="%ssl_host_url%/WTE/mypage.cgi"><TMPL_INCLUDE NAME="../include/title.html"></a></p>
          <TMPL_ELSE>
            <p class="wt_logo wt_logo_lp"><a href="/"><TMPL_INCLUDE NAME="../include/title.html"></a></p>
          </TMPL_IF>
        </div>
        
      </div>
    </div>
  </header>


