  <header class="wt_header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-2">
          <TMPL_IF NAME="session_prof_handle">
            <p class="wt_logo"><a href="%ssl_host_url%/WTE/prof.cgi"><TMPL_INCLUDE NAME="../include/title.html"></a></p>
          <TMPL_ELSE>
            <p class="wt_logo"><a href="%ssl_host_url%/WTE/prof.cgi"><TMPL_INCLUDE NAME="../include/title.html"></a></p>
          </TMPL_IF>
        </div>
        <div class="col-lg-8 wt_nav d-none d-lg-block">
          <TMPL_IF NAME="session_prof_handle">
            <ul>
              <li><a href="%ssl_host_url%/WTE/prof.cgi?m=parent">TOP</a></li>
              <li><a href="%ssl_host_url%/WTE/prof.cgi?m=schlstfrm">スケジュール登録</a></li>
              <li><a href="%ssl_host_url%/WTE/prof.cgi?m=lsnlstfrm">レッスン確認</a></li>
              <li><a href="%ssl_host_url%/WTE/prof.cgi?m=course">コース一覧</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/prof.cgi?m=course">コースの紹介</a></li>
                  <li><a href="%ssl_host_url%/WTE/prof.cgi?m=coulstfrm">自分のコース確認</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/prof.cgi?m=billstfrm">請求確認</a></li>
              <li><a href="%ssl_host_url%/WTE/prof.cgi?m=prfmodfrm">プロフィール編集</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/prof.cgi?m=prfmodfrm">プロフィール編集</a></li>
                  <li><a href="%ssl_host_url%/WTE/prof.cgi?m=passwdfrm">パスワード変更</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/prof.cgi?m=prfmodfrm">事務局より</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/prof.cgi?m=movie">早川先生動画</a></li>
                  <li><a href="%ssl_host_url%/WTE/prof.cgi?m=sns">各種SNSツール</a></li>
                  <li><a href="%ssl_host_url%/WTE/prof.cgi?m=letter">事務局ニュースレター</a></li>
                  <li><a href="%ssl_host_url%/assets/pdf/kiyaku.pdf" target="_blank">利用規約確認</a></li>
                  <li><a href="%ssl_host_url%/assets/pdf/manual.pdf" target="_blank">マニュアル確認</a></li>
                </ul>
              </li>
            </ul>
          <TMPL_ELSE>
          </TMPL_IF>
        </div>
        <div class="col-12 col-lg-2 d-none d-lg-block pr-0">
          <TMPL_IF NAME="session_prof_handle">
            <div class="text-right hidetb">
            <ul class="wt_hdbtn">
              <li><a href="%ssl_host_url%/WTE/prof.cgi?m=logoff" class="btn btn-danger ">ログアウト</a></li>
            </ul>
            </div>
          <TMPL_ELSE>
          </TMPL_IF>
        </div>
      </div>
    </div>
  </header>
  
<!--
  <nav class="sb-slidebar sb-left">
  <TMPL_IF NAME="session_prof_handle">
    <ul class="sbbtn">
      <li><a href="/WTE/prof.cgi">トップ</a></li>
      <li><a href="/WTE/prof.cgi?m=logoff">ログアウト</a></li>
    </ul>
    <ul class="sbmenu">
      <li><a href="/WTE/prof.cgi?m=parent">ダッシュボード</a></li>
      <li><a href="/WTE/prof.cgi?m=schlstfrm">スケジュール登録</a></li>
      <li><a href="/WTE/prof.cgi?m=lsnlstfrm">レッスン一覧・履歴</a></li>
      <li><a href="/WTE/prof.cgi?m=coulstfrm">授業管理</a></li>
      <li><a href="/WTE/prof.cgi?m=billstfrm">請求集計・申請</a></li>
      <li><a href="/WTE/prof.cgi?m=prfmodfrm">プロフィール編集</a></li>
      <li><a href="/WTE/prof.cgi?m=passwdfrm">パスワード変更</a></li>
      <li><a href="/WTE/prof.cgi?m=logoff">ログアウト</a></li>
    </ul>
  <TMPL_ELSE>
    <ul class="sbbtn">
      <li><a href="/WTE/prof.cgi">ログイン</a></li>
    </ul>
  </TMPL_IF>
  </nav>-->