  <header class="wt_header" role="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-2">
          <TMPL_IF NAME="session_member_handle">
            <p class="wt_logo"><a href="%ssl_host_url%/WTE/mypage.cgi"><TMPL_INCLUDE NAME="../include/title.html"></a></p>
          <TMPL_ELSE>
            <p class="wt_logo"><a href="/"><TMPL_INCLUDE NAME="../include/title.html"></a></p>
          </TMPL_IF>
        </div>
        <div class="col-lg-7 wt_nav d-none d-lg-block">
        </div>
        <div class="col-12 col-lg-3 d-none d-lg-block pr-0">
        </div>
      </div>
    </div>
  </header>


