<!-- header section -->
<header id="header" class="wte_header sb-slide">
  <div class="container-fluid position-relative">
      
    <div class="sb-toggle-right d-block d-md-none position-absolute wte_sp_menu text-center text-primary"><span class="fas fa-bars text-primary"></span><br>menu</div>
    <div class="row">
      <div class="col-12 col-lg-2">
          <div class="wte_logo ps-3"><a href="%ssl_host_url%/"><img src="/assets/img/common/logo_school.png" alt="%product_name%" loading="lazy"></a></div>
      </div>
      <div class="col-lg-10 wte_head_nav">
          <div class="text-end d-none d-lg-block">
            <ul class="pt-2">
              <!--<li class="me-4 wte_head_nav_none"><a href="%ssl_host_url%/wte/biz">法人の方</a></li>-->
              <li class="me-4 wte_head_nav_none"><a href="%ssl_host_url%/wte/school">学校法人向け</a></li>
              <li class="me-4 wte_head_nav_none"><a href="%ssl_host_url%/wte/apply">学習塾向け</a></li>
              <li class="me-4 wte_head_nav_none"><a href="%ssl_host_url%/wte/apply">%prof_caption%募集</a></li>
              <li class="me-0"><a href="%ssl_host_url%/WTE/mypage.cgi" class="btn btn-warning rounded-pill"><span class="fas fa-sign-in-alt me-3"></span>ログイン</a></li>
              <li><a href="%ssl_host_url%/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill"><span class="fas fa-headset me-3"></span>無料体験</a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="container d-none d-lg-block wte_front">
      <div class="row">
        <nav class="col-10 offset-1 text-center">
          <ul class="wte_front_nav">
            <li>
              <a href="%ssl_host_url%/">ホーム</a>
            </li>
            <li>
              <a href="%ssl_host_url%/wte/eiken1">英検対策について</a>
              <ul>
                <li><a href="%ssl_host_url%/wte/eiken1"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検一次試験対策（筆記）</a></li>
                <li><a href="%ssl_host_url%/wte/eiken2"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検二次試験対策（面接）</a></li>
                <li><a href="%ssl_host_url%/wte/eiken1juniorhigh"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>中学生向けオンライン英検対策</a></li>
                <li><a href="%ssl_host_url%/wte/eiken1high"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>高校生向けオンライン英検対策</a></li>
                <li><a href="%ssl_host_url%/wte/eiken1japanese"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>日本人講師のオンライン英検対策</a></li>
                <li><a href="%ssl_host_url%/wte/eiken1price"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>安価な英検対策プラン</a></li>
              </ul>
            </li>
            <li>
              <a href="%ssl_host_url%/wte/prflstfrm">コース案内</a>
              <ul>
                <li><a href="%ssl_host_url%/wte/eiken1pre1"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検準1級 一次試験対策コース</a></li>
                <li><a href="%ssl_host_url%/wte/eiken1gra2"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検2級 一次試験対策コース</a></li>
                <li><a href="%ssl_host_url%/wte/eiken1pre2"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検準2級 一次試験対策コース</a></li>
                <li><a href="%ssl_host_url%/wte/eiken2pre1"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検準1級 二次試験合格コース</a></li>
                <li><a href="%ssl_host_url%/wte/eiken2gra2"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検2級 二次試験合格コース</a></li>
                <li><a href="%ssl_host_url%/wte/eiken2pre2"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検準2級 二次試験合格コース</a></li>
                <li><a href="%ssl_host_url%/wte/eiken1subscr"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検一次修了者向け定期コース</a></li>
                <li><a href="%ssl_host_url%/wte/eiken2subscr"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検二次修了者向け定期コース</a></li>
              </ul>
            </li>
            <li><a href="%ssl_host_url%/wte/plan">教材について</a>
              <ul>
                <li><a href="%ssl_host_url%/wte/eiken1text"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検一次コースの使用教材</a></li>
                <li><a href="%ssl_host_url%/wte/eiken2text"><span class="fa-solid fa-caret-right text-primary me-3 small"></span>英検二次コースの使用教材</a></li>
              </ul>
            </li>
            <li><a href="%ssl_host_url%/wte/eiken1plan">コース料金</a></li>

            
            <li><a href="%ssl_host_url%/wte/faq">よくあるご質問</a>
              <ul>
                <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a></li>
                <li><a href="%ssl_host_url%/wte/eiken1faq">よくあるご質問</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<nav class="sb-slidebar sb-right bg-primary">
    <div class="container">
      <div class="row py-3">
        <div class="col-6"><a href="%ssl_host_url%/WTE/mypage.cgi" class="btn btn-white btn-md rounded-pill w-100"><span class="fas fa-sign-in-alt me-3"></span>ログイン</a></div>
        <div class="col-6"><a href="%ssl_host_url%/WTE/reg.cgi" class="btn btn-white btn-md rounded-pill w-100"><span class="fas fa-headset me-3"></span>無料体験</a></div>
      </div>
    </div>
    <ul class="sbmenu">
      <li><a href="/">ホーム</a></li>
      <li><a href="%ssl_host_url%/wte/eiken1">英検一次試験対策（筆記）</a></li>
      <li><a href="%ssl_host_url%/wte/eiken2">英検二次試験対策（面接）</a></li>
      <li><a href="%ssl_host_url%/wte/eiken1text">英検一次コースの使用教材</a></li>
      <li><a href="%ssl_host_url%/wte/eiken2text">英検二次コースの使用教材</a></li>
      <li><a href="%ssl_host_url%/wte/prflstfrm">%prof_caption%紹介</a></li>
      <li><a href="%ssl_host_url%/wte/eiken1plan">コース料金</a></li>
      <li><a href="%ssl_host_url%/wte/faq">よくあるご質問</a></li>
      <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a></li>
      <li><a href="%ssl_host_url%/wte/agree">ご利用規約</a></li>
      <li><a href="%ssl_host_url%/wte/transaction">特定商取引法に関わる表示</a></li>
      <li><a href="%ssl_host_url%/wte/company">運営会社概要</a></li>
      <li><a href="%ssl_host_url%/wte/privacy">プライバシーポリシー</a></li>
      <li><a href="%ssl_host_url%/wte/apply">%prof_caption%募集</a></li>
    </ul>
</nav>
