  <header class="wt_header" role="banner"><TMPL_IF NAME="session_member_course_flag_11"><!--男--></TMPL_IF>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-2 pl-3">
         <button type="button" class="drawer-toggle drawer-hamburger d-lg-none">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
            <span class="d-block drawer-hamburger-txt">menu</span>
          </button>

          <nav class="drawer-nav" role="navigation">
            <div class="drawer-menu">

          <TMPL_IF NAME="session_member_handle">
            <ul class="wt_smpbtn mb-3">
              <li><a href="%ssl_host_url%/WTE/mypage.cgi" class="smpbtn_my">マイページ</a></li>
              <li><a href="%ssl_host_url%/WTE/reg.cgi" class="smpbtn_reg">ログアウト</a></li>
            </ul>
          <TMPL_ELSE>
            <ul class="wt_smpbtn mb-3">
              <li><a href="%ssl_host_url%/WTE/mypage.cgi" class="smpbtn_my">ログイン</a></li>
              <li><a href="%ssl_host_url%/WTE/reg.cgi" class="smpbtn_reg">無料体験</a></li>
            </ul>
          </TMPL_IF>
          <ul class="wt_smpnav">
          <TMPL_IF NAME="session_member_handle">
              <li>
                <a href="%ssl_host_url%/WTE/mypage.cgi">マイページ</a>
              </li>
              <li><a href="%CGI_URL%?m=prflstfrm">レッスン予約</a>
                <ul>
                  <!--<li><a href="%CGI_URL%?m=schlstfrm">日程から予約</a></li>-->
                  <TMPL_IF NAME="session_member_course_flag_1"><!--体験レッスンコース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=43&s_course_ccate_id_2=44"><span class="fas fa-caret-right txt_kiri"></span>（体験）TOEIC L&amp;R テスト500～600点突破コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=43&s_course_ccate_id_2=45"><span class="fas fa-caret-right txt_kiri"></span>（体験）TOEIC L&amp;R テスト730点突破コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=47&s_course_ccate_id_2=49"><span class="fas fa-caret-right txt_kiri"></span>（体験）英検準1級一次試験対策コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=47&s_course_ccate_id_2=50"><span class="fas fa-caret-right txt_kiri"></span>（体験）英検2級一次試験対策コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=47&s_course_ccate_id_2=51"><span class="fas fa-caret-right txt_kiri"></span>（体験）英検準2級一次試験対策コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=61&s_course_ccate_id_2=63"><span class="fas fa-caret-right txt_kiri"></span>（体験）英検準1級二次試験合格コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=61&s_course_ccate_id_2=64"><span class="fas fa-caret-right txt_kiri"></span>（体験）英検2級二次試験合格コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=61&s_course_ccate_id_2=65"><span class="fas fa-caret-right txt_kiri"></span>（体験）英検準2級二次試験合格コース</a></li>
                    <li><a href="%CGI_URL%?m=essaytaiken"><span class="fas fa-caret-right txt_kiri"></span>（体験）小論文の書き方初中級コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_11"><!--TOEIC L&Rテスト500～600点突破コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=1&s_course_ccate_id_2=38"><span class="fas fa-caret-right txt_kiri"></span>TOEIC L&amp;R テスト500～600点突破コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_12"><!--TOEIC L&Rテスト730点突破コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=1&s_course_ccate_id_2=39"><span class="fas fa-caret-right txt_kiri"></span>TOEIC L&amp;R テスト730点突破コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_16"><!--TOEIC 500～600点修了者向け定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=68&s_course_ccate_id_2=69"><span class="fas fa-caret-right txt_kiri"></span>TOEIC L&amp;R テスト500～600点修了者定期コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_17"><!--TOEIC 730点修了者向け定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=68&s_course_ccate_id_2=70"><span class="fas fa-caret-right txt_kiri"></span>TOEIC L&amp;R テスト730点修了者定期コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_21"><!--英検準1級 一次試験対策コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=8"><span class="fas fa-caret-right txt_kiri"></span>英検準1級一次試験対策コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_22"><!--英検2級 一次試験対策コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=35"><span class="fas fa-caret-right txt_kiri"></span>英検2級一次試験対策コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_23"><!--英検準2級 一次試験対策コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=36"><span class="fas fa-caret-right txt_kiri"></span>英検準2級一次試験対策コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_26"><!--英検一次試験修了者向け定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=71&s_course_ccate_id_2=73"><span class="fas fa-caret-right txt_kiri"></span>英検一次試験修了者定期コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_27"><!--英検一次試験修了者向け定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=71&s_course_ccate_id_2=80"><span class="fas fa-caret-right txt_kiri"></span>英検一次試験修了者定期コース（2、準2）</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_31"><!--英検準1級 二次試験合格コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=31"><span class="fas fa-caret-right txt_kiri"></span>英検準1級二次試験合格コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_32"><!--英検2級 二次試験合格コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=12"><span class="fas fa-caret-right txt_kiri"></span>英検2級二次試験合格コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_33"><!--英検準2級 二次試験合格コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=13"><span class="fas fa-caret-right txt_kiri"></span>英検準2級二次試験合格コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_36"><!--英検二次試験修了者向け定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=72&s_course_ccate_id_2=74"><span class="fas fa-caret-right txt_kiri"></span>英検二次試験修了者定期コース（準1）</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_37"><!--英検二次試験修了者向け定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=72&s_course_ccate_id_2=81"><span class="fas fa-caret-right txt_kiri"></span>英検二次試験修了者定期コース（2、準2）</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_55"><!--TOEFL iBT Starterコース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=76&s_course_ccate_id_2=77"><span class="fas fa-caret-right txt_kiri"></span>TOEFL iBT Starterコース</a></li>
                  </TMPL_IF>


                  <TMPL_IF NAME="session_member_course_flag_41"><!--小論文の書き方 初中級コース-->
                    <li><a href="/WTE/mypage.cgi?m=essay11"><span class="fas fa-caret-right txt_kiri"></span>小論文の書き方初中級コース（第1回）</a></li>
                    <li><a href="/WTE/mypage.cgi?m=essay12"><span class="fas fa-caret-right txt_kiri"></span>小論文の書き方初中級コース（第2回）</a></li>
                    <li><a href="/WTE/mypage.cgi?m=essay13"><span class="fas fa-caret-right txt_kiri"></span>小論文の書き方初中級コース（第3回）</a></li>
                    <li><a href="/WTE/mypage.cgi?m=essay14"><span class="fas fa-caret-right txt_kiri"></span>小論文の書き方初中級コース（第4回）</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_42"><!--小論文の書き方 中上級コース--></TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_43"><!--小論文の書き方 個別指導コース--></TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_202"><!--英検2級 一次＆二次コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=8"><span class="fas fa-caret-right txt_kiri"></span>英検2級<br>一次試験対策コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=31"><span class="fas fa-caret-right txt_kiri"></span>英検2級<br>二次試験合格コース</a></li>
                  </TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_203"><!--英検2級 一次＆二次コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=35"><span class="fas fa-caret-right txt_kiri"></span>英検2級<br>一次試験対策コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=12"><span class="fas fa-caret-right txt_kiri"></span>英検2級<br>二次試験合格コース</a></li>
                  </TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_204"><!--英検2級 一次＆二次コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=36"><span class="fas fa-caret-right txt_kiri"></span>英検2級<br>一次試験対策コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=13"><span class="fas fa-caret-right txt_kiri"></span>英検2級<br>二次試験合格コース</a></li>
                  </TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_206"><!--英検 一次＆二次定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=71&s_course_ccate_id_2=73"><span class="fas fa-caret-right txt_kiri"></span>英検一次試験<br>修了者定期コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=72&s_course_ccate_id_2=74"><span class="fas fa-caret-right txt_kiri"></span>英検二次試験<br>修了者定期コース</a></li>
                  </TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_254"><!--英検 一次＆二次定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=12"><span class="fas fa-caret-right txt_kiri"></span>英検2級二次試験合格コース</a></li>
                    <li><a href="/WTE/mypage.cgi?m=essay11"><span class="fas fa-caret-right txt_kiri"></span>小論文の書き方初中級コース（第1回）</a></li>
                    <li><a href="/WTE/mypage.cgi?m=essay12"><span class="fas fa-caret-right txt_kiri"></span>小論文の書き方初中級コース（第2回）</a></li>
                    <li><a href="/WTE/mypage.cgi?m=essay13"><span class="fas fa-caret-right txt_kiri"></span>小論文の書き方初中級コース（第3回）</a></li>
                    <li><a href="/WTE/mypage.cgi?m=essay14"><span class="fas fa-caret-right txt_kiri"></span>小論文の書き方初中級コース（第4回）</a></li></li>
                  </TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_255"><!--英検 一次＆二次定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=71&s_course_ccate_id_2=73"><span class="fas fa-caret-right txt_kiri"></span>英検一次試験<br>修了者定期コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=72&s_course_ccate_id_2=74"><span class="fas fa-caret-right txt_kiri"></span>英検二次試験<br>修了者定期コース</a></li>
                  </TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_253"><!--英検 一次＆二次定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=12"><span class="fas fa-caret-right txt_kiri"></span>英検2級二次試験合格コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=71&s_course_ccate_id_2=80"><span class="fas fa-caret-right txt_kiri"></span>英検一次試験修了者定期コース（2、準2）</a></li>
                  </TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_252"><!--英検 一次＆二次定期コース-->
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=12"><span class="fas fa-caret-right txt_kiri"></span>英検2級二次試験合格コース</a></li>
                    <li><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=8"><span class="fas fa-caret-right txt_kiri"></span>英検準1級一次試験対策コース</a></li>
                  </TMPL_IF>
                  <!--<li><a href="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=prflstfrm&s_prof_character=6">英検2級一次試験対策コース</a></li>
                  <li><a href="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=prflstfrm&s_prof_character=7">英検準2級一次試験対策コース</a></li>
                  <li><a href="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=prflstfrm&s_prof_character=8">英検3級一次試験対策コース</a></li>
                  <li><a href="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=prflstfrm&s_prof_character=18">英検2級二次試験合格コース</a></li>
                  <li><a href="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=prflstfrm&s_prof_character=19">英検準2級二次試験合格コース</a></li>
                  <li><a href="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=prflstfrm&s_prof_character=20">英検3級二次試験合格コース</a></li>-->
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=lsnlstfrm"><span class="fas fa-caret-right txt_kiri"></span>レッスン確認</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=crdfrmshw">コース購入</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=crdfrmshw"><span class="fas fa-caret-right txt_kiri"></span>カード決済</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=bnkfrmshw"><span class="fas fa-caret-right txt_kiri"></span>銀行口座振り込み</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=actlstfrm"><span class="fas fa-caret-right txt_kiri"></span>入出金明細</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=mbrmodfrm">プロフィール編集</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=mbrmodfrm"><span class="fas fa-caret-right txt_kiri"></span>プロフィール編集</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=passwdfrm"><span class="fas fa-caret-right txt_kiri"></span>パスワード変更</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=inqfrmshw">お問い合わせ</a></li>
          <TMPL_ELSE>

          </TMPL_IF>
              <li><a href="%ssl_host_url%/">ホーム</a></li>
              <li><a href="%ssl_host_url%/wte/about">はじめての方</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/about"><span class="fas fa-caret-right txt_kiri"></span>KIRIHARA Online Academyについて</a></li>
                  <li><a href="%ssl_host_url%/wte/lesson"><span class="fas fa-caret-right txt_kiri"></span>レッスンのはじめ方</a></li>
                  <li><a href="%ssl_host_url%/wte/startermeet"><span class="fas fa-caret-right txt_kiri"></span>Google Meetの利用方法</a></li>    
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/prflstfrm">講師紹介</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/prflstfrm"><span class="fas fa-caret-right txt_kiri"></span>登録講師のご紹介</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/plan">コース紹介</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/plan"><span class="fas fa-caret-right txt_kiri"></span>コース一覧・料金表</a></li>
                  <li><a href="%ssl_host_url%/wte/toeic"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; L&amp;Rテスト突破コース</a></li>
                  <li><a href="%ssl_host_url%/wte/eiken1"><span class="fas fa-caret-right txt_kiri"></span>英検一次試験対策コース</a></li>
                  <!--<li><a href="%ssl_host_url%/wte/eikenw">英検ライティング対策コース</a></li>-->
                  <li><a href="%ssl_host_url%/wte/eiken2"><span class="fas fa-caret-right txt_kiri"></span>英検二次試験対策コース</a></li>
                  <li><a href="%ssl_host_url%/WTE/reg.cgi?m=essay"><span class="fas fa-caret-right txt_kiri"></span>小論文の書き方コース</a></li>
                  <li><a href="%ssl_host_url%/wte/toefl"><span class="fas fa-caret-right txt_kiri"></span>TOEFL iBT&reg; Starterコース</a></li>                    
                  <!--<li><a href="%ssl_host_url%/wte/grammar">Step by Step文法・単語基礎コース</a></li>-->
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw"><span class="fas fa-caret-right txt_kiri"></span>お問い合わせ</a></li>
                  <li><a href="https://www.kirihara.co.jp/koa_school_form/" target="_blank"><span class="fas fa-caret-right txt_kiri"></span>学校関係者様お問い合わせ</a></li>
                  <li><a href="%ssl_host_url%/wte/kenshu/" target="_blank"><span class="fas fa-caret-right txt_kiri"></span>法人様向け研修サービス</a></li>
                  <li><a href="%ssl_host_url%/wte/faq/"><span class="fas fa-caret-right txt_kiri"></span>よくあるご質問</a></li>
                </ul>
              </li>
            </ul>
            </div>
          </nav>


          <TMPL_IF NAME="session_member_handle">
            <p class="wt_logo"><a href="%ssl_host_url%/WTE/mypage.cgi"><TMPL_INCLUDE NAME="../include/title.html"></a></p>
          <TMPL_ELSE>
            <p class="wt_logo"><a href="/"><TMPL_INCLUDE NAME="../include/title.html"></a></p>
          </TMPL_IF>
        </div>
        <div class="col-lg-7 wt_nav d-none d-lg-block">
          <TMPL_IF NAME="session_member_handle">
            <ul>
              <li>
                <a href="%ssl_host_url%/WTE/mypage.cgi">マイページ</a>
              </li>
              <li><a href="%CGI_URL%?m=prflstfrm">レッスン予約</a>
                <ul>
                  <!--<li><a href="%CGI_URL%?m=schlstfrm">日程から予約</a></li>-->

                  <TMPL_IF NAME="session_member_course_flag_1"><!--体験レッスンコース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=43&s_course_ccate_id_2=44"><img src="/assets/img/course/44.png" class="rounded-circle">（体験）TOEIC L&amp;R テスト<br>500～600点突破コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=43&s_course_ccate_id_2=45"><img src="/assets/img/course/45.png" class="rounded-circle">（体験）TOEIC L&amp;R テスト<br>730点突破コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=47&s_course_ccate_id_2=49"><img src="/assets/img/course/49.png" class="rounded-circle">（体験）英検準1級<br>一次試験対策コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=47&s_course_ccate_id_2=50"><img src="/assets/img/course/50.png" class="rounded-circle">（体験）英検2級<br>一次試験対策コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=47&s_course_ccate_id_2=51"><img src="/assets/img/course/51.png" class="rounded-circle">（体験）英検準2級<br>一次試験対策コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=61&s_course_ccate_id_2=63"><img src="/assets/img/course/63.png" class="rounded-circle">（体験）英検準1級<br>二次試験合格コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=61&s_course_ccate_id_2=64"><img src="/assets/img/course/64.png" class="rounded-circle">（体験）英検2級<br>二次試験合格コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=61&s_course_ccate_id_2=65"><img src="/assets/img/course/65.png" class="rounded-circle">（体験）英検準2級<br>二次試験合格コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=essaytaiken"><img src="/assets/img/course/et.png" class="rounded-circle">（体験）小論文の書き方<br>初中級コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_11"><!--TOEIC L&Rテスト500～600点突破コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=1&s_course_ccate_id_2=38"><img src="/assets/img/course/38.png" class="rounded-circle">TOEIC L&amp;R テスト<br>500～600点突破コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_12"><!--TOEIC L&Rテスト730点突破コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=1&s_course_ccate_id_2=39"><img src="/assets/img/course/39.png" class="rounded-circle">TOEIC L&amp;R テスト<br>730点突破コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_16"><!--TOEIC 500～600点修了者向け定期コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=68&s_course_ccate_id_2=69"><img src="/assets/img/course/69.png" class="rounded-circle">TOEIC L&amp;R テスト<br>500～600点修了者定期コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_17"><!--TOEIC 730点修了者向け定期コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=68&s_course_ccate_id_2=70"><img src="/assets/img/course/70.png" class="rounded-circle">TOEIC L&amp;R テスト<br>730点修了者定期コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_21"><!--英検準1級 一次試験対策コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=8"><img src="/assets/img/course/8.png" class="rounded-circle">英検準1級<br>一次試験対策コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_22"><!--英検2級 一次試験対策コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=35"><img src="/assets/img/course/35.png" class="rounded-circle">英検2級<br>一次試験対策コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_23"><!--英検準2級 一次試験対策コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=36"><img src="/assets/img/course/36.png" class="rounded-circle">英検準2級<br>一次試験対策コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_26"><!--英検一次試験修了者向け定期コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=71&s_course_ccate_id_2=73"><img src="/assets/img/course/73.png" class="rounded-circle">英検一次試験<br>定期コース（準1）</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_27"><!--英検一次試験修了者向け定期コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=71&s_course_ccate_id_2=80"><img src="/assets/img/course/73.png" class="rounded-circle">英検一次試験<br>定期コース（2、準2）</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_31"><!--英検準1級 二次試験合格コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=31"><img src="/assets/img/course/31.png" class="rounded-circle">英検準1級<br>二次試験合格コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_32"><!--英検2級 二次試験合格コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=12"><img src="/assets/img/course/12.png" class="rounded-circle">英検2級<br>二次試験合格コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_33"><!--英検準2級 二次試験合格コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=13"><img src="/assets/img/course/13.png" class="rounded-circle">英検準2級<br>二次試験合格コース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_36"><!--英検二次試験修了者向け定期コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=72&s_course_ccate_id_2=74"><img src="/assets/img/course/74.png" class="rounded-circle">英検二次試験<br>定期コース（準1）</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_37"><!--英検二次試験修了者向け定期コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=72&s_course_ccate_id_2=81"><img src="/assets/img/course/74.png" class="rounded-circle">英検二次試験<br>定期コース（2、準2）</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_55"><!--TOEFL iBT Starterコース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=76&s_course_ccate_id_2=77"><img src="/assets/img/course/77.png" class="rounded-circle">TOEFL iBT <br>Starterコース</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_41"><!--小論文の書き方 初中級コース-->
                    <li class="wt_nav_course"><a href="/WTE/mypage.cgi?m=essay11"><img src="/assets/img/essay/essay11.jpg" class="rounded-circle">小論文の書き方<br>初中級コース（第1回）</a></li>
                    <li class="wt_nav_course"><a href="/WTE/mypage.cgi?m=essay12"><img src="/assets/img/essay/essay12.jpg" class="rounded-circle">小論文の書き方<br>初中級コース（第2回）</a></li>
                    <li class="wt_nav_course"><a href="/WTE/mypage.cgi?m=essay13"><img src="/assets/img/essay/essay13.jpg" class="rounded-circle">小論文の書き方<br>初中級コース（第3回）</a></li>
                    <li class="wt_nav_course"><a href="/WTE/mypage.cgi?m=essay14"><img src="/assets/img/essay/essay14.jpg" class="rounded-circle">小論文の書き方<br>初中級コース（第4回）</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_42"><!--小論文の書き方 中上級コース--></TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_43"><!--小論文の書き方 個別指導コース--></TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_202"><!--英検2級 一次＆二次コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=8"><img src="/assets/img/course/35.png" class="rounded-circle">英検2級<br>一次試験対策コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=31"><img src="/assets/img/course/12.png" class="rounded-circle">英検2級<br>二次試験合格コース</a></li>
                  </TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_203"><!--英検2級 一次＆二次コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=35"><img src="/assets/img/course/35.png" class="rounded-circle">英検2級<br>一次試験対策コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=12"><img src="/assets/img/course/12.png" class="rounded-circle">英検2級<br>二次試験合格コース</a></li>
                  </TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_204"><!--英検2級 一次＆二次コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=36"><img src="/assets/img/course/35.png" class="rounded-circle">英検2級<br>一次試験対策コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=13"><img src="/assets/img/course/12.png" class="rounded-circle">英検2級<br>二次試験合格コース</a></li>
                  </TMPL_IF>
                  <TMPL_IF NAME="session_member_course_flag_206"><!--英検 一次＆二次定期コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=71&s_course_ccate_id_2=73"><img src="/assets/img/course/73.png" class="rounded-circle">英検一次試験<br>修了者定期コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=72&s_course_ccate_id_2=74"><img src="/assets/img/course/74.png" class="rounded-circle">英検二次試験<br>修了者定期コース</a></li>
                  </TMPL_IF>


                  <TMPL_IF NAME="session_member_course_flag_254"><!--英検 一次＆二次定期コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=12"><img src="/assets/img/course/12.png" class="rounded-circle">英検2級二次試験合格コース</a></li>
                    <li class="wt_nav_course"><a href="/WTE/mypage.cgi?m=essay11"><img src="/assets/img/essay/essay11.jpg" class="rounded-circle">小論文の書き方初中級コース（第1回）</a></li>
                    <li class="wt_nav_course"><a href="/WTE/mypage.cgi?m=essay12"><img src="/assets/img/essay/essay12.jpg" class="rounded-circle">小論文の書き方初中級コース（第2回）</a></li>
                    <li class="wt_nav_course"><a href="/WTE/mypage.cgi?m=essay13"><img src="/assets/img/essay/essay13.jpg" class="rounded-circle">小論文の書き方初中級コース（第3回）</a></li>
                    <li class="wt_nav_course"><a href="/WTE/mypage.cgi?m=essay14"><img src="/assets/img/essay/essay14.jpg" class="rounded-circle">小論文の書き方初中級コース（第4回）</a></li></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_253"><!--英検 一次＆二次定期コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=12"><img src="/assets/img/course/12.png" class="rounded-circle">英検2級<br>二次試験合格コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=71&s_course_ccate_id_2=80"><img src="/assets/img/course/73.png" class="rounded-circle">英検一次試験<br>定期コース（2、準2）</a></li>
                  </TMPL_IF>

                  <TMPL_IF NAME="session_member_course_flag_252"><!--英検 一次＆二次定期コース-->
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=4&s_course_ccate_id_2=12"><img src="/assets/img/course/12.png" class="rounded-circle">英検2級<br>二次試験合格コース</a></li>
                    <li class="wt_nav_course"><a href="%CGI_URL%?m=coulstfrm&s_course_ccate_id_1=2&s_course_ccate_id_2=8"><img src="/assets/img/course/8.png" class="rounded-circle">英検準1級<br>一次試験対策コース</a></li>
                  </TMPL_IF>

                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=lsnlstfrm">レッスン履歴・予約確認</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=crdfrmshw">コース加入</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=crdfrmshw">カード決済</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=bnkfrmshw">銀行口座振り込み</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=actlstfrm">チケット入出金明細</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/lesson">ご利用方法</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/lesson">ご利用方法</a></li>
                  <li><a href="%ssl_host_url%/wte/startermeet">Meetについて</a></li>  
                  <li><a href="%ssl_host_url%/wte/faq">よくあるご質問</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=mbrmodfrm">プロフィール編集</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=mbrmodfrm">プロフィール編集</a></li>
                  <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=passwdfrm">パスワード変更</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=inqfrmshw">お問い合わせ</a></li>
            </ul>
          <TMPL_ELSE>
            <ul>
              <li><a href="%ssl_host_url%/">ホーム</a>
                <ul>
                  <li><a href="%ssl_host_url%/">ホームに戻る</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/about">はじめての方</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/about">KIRIHARA Online Academyについて</a></li>
                  <li><a href="%ssl_host_url%/wte/lesson">レッスンのはじめ方</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/prflstfrm">講師紹介</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/prflstfrm">登録講師のご紹介</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/plan">コース紹介</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/plan">コース一覧・料金表</a></li>
                  <li><a href="%ssl_host_url%/wte/toeic">TOEIC&reg; L&amp;Rテスト突破コース</a></li>
                  <li><a href="%ssl_host_url%/wte/eiken1">英検一次試験対策コース</a></li>
                  <!--<li><a href="%ssl_host_url%/wte/eikenw">英検ライティング対策コース</a></li>-->
                  <li><a href="%ssl_host_url%/wte/eiken2">英検二次試験対策コース</a></li>
                  <li><a href="%ssl_host_url%/WTE/reg.cgi?m=essay">小論文の書き方コース</a></li>
                  <li><a href="%ssl_host_url%/wte/toefl">TOEFL iBT&reg; Starterコース</a></li>     
                  <!--<li><a href="%ssl_host_url%/wte/grammar">Step by Step文法・単語基礎コース</a></li>-->
                </ul>
              </li>
              <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a></li><li><a href="https://www.kirihara.co.jp/koa_school_form/" target="_blank">学校関係者様お問い合わせ</a></li>
                  <li><a href="%ssl_host_url%/wte/faq">よくあるご質問</a></li>
                </ul>
              </li>
            </ul>




          </TMPL_IF>
        </div>
        <div class="col-12 col-lg-3 d-none d-lg-block pr-0">
          <TMPL_IF NAME="session_member_handle">
            <div class="text-right mynavcont hidetb">
            <ul class="wt_hdbtn">
              <li></li>
              <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=logoff" class="btn btn-danger ">ログアウト</a></li>
            </ul>
            </div>
          <TMPL_ELSE>
            <ul class="wt_hdbtn">
              <li><a href="%ssl_host_url%/WTE/mypage.cgi" class="btn btn-secondary ">ログイン</a></li>
              <li><a href="%ssl_host_url%/WTE/reg.cgi" class="btn btn-danger ">体験はこちら</a></li>
            </ul>
          </TMPL_IF>
        </div>
      </div>
    </div>
  </header>
