       <header class="wt_header" role="banner">
         <div class="container-fluid">
           <div class="row">
             <div class="col-12 col-lg-2 pl-3">
               <button type="button" class="drawer-toggle drawer-hamburger d-lg-none">
                 <span class="sr-only">toggle navigation</span>
                 <span class="drawer-hamburger-icon"></span>
                 <span class="d-block drawer-hamburger-txt">menu</span>
               </button>

               <nav class="drawer-nav" role="navigation">
                 <div class="drawer-menu">

                   <ul class="wt_smpbtn mb-3">
                     <li><a href="%ssl_host_url%/WTE/mypage.cgi" class="smpbtn_my">ログイン</a></li>
                     <li><a href="%ssl_host_url%/WTE/reg.cgi" class="smpbtn_reg">無料体験</a></li>
                   </ul>
                   <ul class="wt_smpnav">
                     <li><a href="%ssl_host_url%/wte/eiken2">英検二次試験対策ホーム</a></li>
                     <!--<li><a href="%ssl_host_url%/wte/eiken1">コースのご案内</a>
                       <ul>
                         <li><a href="%ssl_host_url%/wte/eiken1pre1"><span class="fas fa-caret-right txt_kiri"></span>英検準1級 一次試験対策コース</a></li>
                         <li><a href="%ssl_host_url%/wte/eiken1gra2"><span class="fas fa-caret-right txt_kiri"></span>英検2級 一次試験対策コース</a></li>
                         <li><a href="%ssl_host_url%/wte/eiken1pre2"><span class="fas fa-caret-right txt_kiri"></span>英検準2級 一次試験対策コース</a></li>
                       </ul>
                     </li>
                     <li><a href="%ssl_host_url%/wte/eiken1pre1study">英検一次試験対策法
                         <ul>
                           <li><a href="%ssl_host_url%/wte/eiken1pre1study"><span class="fas fa-caret-right txt_kiri"></span>英検準1級 一次試験対策法</a></li>
                           <li><a href="%ssl_host_url%/wte/eiken1gra2study"><span class="fas fa-caret-right txt_kiri"></span>英検2級 一次試験対策法</a></li>
                           <li><a href="%ssl_host_url%/wte/eiken1pre2study"><span class="fas fa-caret-right txt_kiri"></span>英検準2級 一次試験対策法</a></li>
                         </ul>
                       </a>
                     </li>-->
                     <li><a href="%ssl_host_url%/wte/eiken1text">教材について</a></li>
                     <li><a href="%ssl_host_url%/wte/prflstfrm">講師（コーチ）について</a>
                       <ul>
                         <li><a href="%ssl_host_url%/wte/prflstfrm"><span class="fas fa-caret-right txt_kiri"></span>登録講師のご紹介</a></li>
                         <li><a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=5"><span class="fas fa-caret-right txt_kiri"></span>英検準1級 一次試験対策</a></li>
                         <li><a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=6"><span class="fas fa-caret-right txt_kiri"></span>英検2級 一次試験対策</a></li>
                         <li><a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=7"><span class="fas fa-caret-right txt_kiri"></span>英検準2級 一次試験対策</a></li>
                       </ul>
                     </li>
                     <li><a href="%ssl_host_url%/wte/eiken2plan">コース料金</a></li>
                     <!--<li><a href="%ssl_host_url%/wte/eikenfaq">よくあるご質問</a></li>-->
                     <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a>
                       <ul>
                         <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw"><span class="fas fa-caret-right txt_kiri"></span>お問い合わせ</a></li>
                       </ul>
                     </li>
                   </ul>
                 </div>
               </nav>

               <p class="wt_logo"><a href="/">
                   <TMPL_INCLUDE NAME="../include/title.html">
                 </a></p>
             </div>
             <div class="col-lg-7 wt_nav d-none d-lg-block">
               <ul>
                 <li><a href="%ssl_host_url%/wte/eiken2">英検二次試験対策
                   </a>
                   <!--<ul>
                     <li><a href="%ssl_host_url%/wte/eiken1pre1study"><span class="fas fa-caret-right txt_kiri"></span>英検準1級 一次試験勉強法</a></li>
                     <li><a href="%ssl_host_url%/wte/eiken1gra2study"><span class="fas fa-caret-right txt_kiri"></span>英検2級 一次試験勉強法</a></li>
                     <li><a href="%ssl_host_url%/wte/eiken1pre2study"><span class="fas fa-caret-right txt_kiri"></span>英検準2級 一次試験勉強法</a></li>
                   </ul>-->
                 </li>
                 <!--<li><a href="%ssl_host_url%/wte/eiken1pre1">コースのご案内</a>
                   <ul>
                     <li><a href="%ssl_host_url%/wte/eiken1pre1"><span class="fas fa-caret-right txt_kiri"></span>英検準1級 一次試験対策コース</a></li>
                     <li><a href="%ssl_host_url%/wte/eiken1gra2"><span class="fas fa-caret-right txt_kiri"></span>英検2級 一次試験対策コース</a></li>
                     <li><a href="%ssl_host_url%/wte/eiken1pre2"><span class="fas fa-caret-right txt_kiri"></span>英検準2級 一次試験対策コース</a></li>
                   </ul>
                 </li>-->
                 <li><a href="%ssl_host_url%/wte/eiken1text">教材について</a></li>
                 <li><a href="%ssl_host_url%/wte/eiken1plan">コース料金</a></li>
                 <li><a href="%ssl_host_url%/wte/eiken1faq">よくあるご質問</a></li>
                 <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a></li>
               </ul>
             </div>
             <div class="col-12 col-lg-3 d-none d-lg-block pr-0">
               <ul class="wt_hdbtn">
                 <li><a href="%ssl_host_url%/WTE/mypage.cgi" class="btn btn-secondary ">ログイン</a></li>
                 <li><a href="%ssl_host_url%/WTE/reg.cgi" class="btn btn-danger ">体験はこちら</a></li>
               </ul>
             </div>
           </div>
         </div>
       </header>