       <header class="wt_header" role="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-2 pl-3">
         <button type="button" class="drawer-toggle drawer-hamburger d-lg-none">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
            <span class="d-block drawer-hamburger-txt">menu</span>
          </button>

          <nav class="drawer-nav" role="navigation">
            <div class="drawer-menu">

            <ul class="wt_smpbtn mb-3">
              <li><a href="%ssl_host_url%/WTE/mypage.cgi" class="smpbtn_my">ログイン</a></li>
              <li><a href="%ssl_host_url%/WTE/reg.cgi" class="smpbtn_reg">無料体験</a></li>
            </ul>
          <ul class="wt_smpnav">
              <li><a href="%ssl_host_url%/wte/toeic">TOEICホーム</a></li>
              <li><a href="%ssl_host_url%/wte/toeic">コースのご案内</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/toeic500"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg;L&amp;Rテスト500~600点突破コース</a></li>
                  <li><a href="%ssl_host_url%/wte/toeic730"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg;L&amp;Rテスト730点突破コース</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicsubscr"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg;修了者向け定期コース</a></li>
                  <li><a href="%ssl_host_url%/wte/kenshu"><span class="fas fa-caret-right txt_kiri"></span>法人向けTOEIC&reg;L&amp;Rテスト研修</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/toeicpart1">TOEIC&reg;対策法</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/toeicpart1"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part1対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart2"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part2対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart3"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part3対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart4"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part4対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart5"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part5対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart6"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part6対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart7"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part7対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicondoku"><span class="fas fa-caret-right txt_kiri"></span>音読のススメ</a></li>
                  <li><a href="%ssl_host_url%/wte/toeictango"><span class="fas fa-caret-right txt_kiri"></span>効率的な単語学習</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicgrammar"><span class="fas fa-caret-right txt_kiri"></span>効率的な文法学習</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicreading"><span class="fas fa-caret-right txt_kiri"></span>長文速読力を鍛える学習</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/toeictext">教材について</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/toeictext"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg;突破コースの使用教材</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicsubsctext"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg;定期コースの使用教材</a></li>
                </ul></li>
              <li><a href="%ssl_host_url%/wte/prflstfrm">講師（コーチ）について</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/prflstfrm"><span class="fas fa-caret-right txt_kiri"></span>登録講師のご紹介</a></li>
                  <li><a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=1"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; L&amp;Rテスト突破（500点）</a></li>
                  <li><a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=2"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; L&amp;Rテスト突破（730点）</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/toeicplan">コース料金</a></li>
              <li><a href="%ssl_host_url%/wte/toeicfaq">よくあるご質問</a></li>
              <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw"><span class="fas fa-caret-right txt_kiri"></span>お問い合わせ</a></li>
                </ul>
              </li>
            </ul>
            </div>
          </nav>

            <p class="wt_logo"><a href="/"><TMPL_INCLUDE NAME="../include/title.html"></a></p>
        </div>
        <div class="col-lg-7 wt_nav d-none d-lg-block">
            <ul>
              <li><a href="%ssl_host_url%/wte/toeic">TOEIC&reg;対策</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/toeic"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg;対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart1"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part1対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart2"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part2対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart3"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part3対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart4"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part4対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart5"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part5対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart6"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part6対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicpart7"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; Part7対策</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicondoku"><span class="fas fa-caret-right txt_kiri"></span>音読のススメ</a></li>
                  <li><a href="%ssl_host_url%/wte/toeictango"><span class="fas fa-caret-right txt_kiri"></span>効率的な単語学習</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicgrammar"><span class="fas fa-caret-right txt_kiri"></span>効率的な文法学習</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicreading"><span class="fas fa-caret-right txt_kiri"></span>長文速読力を鍛える学習</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/toeic500">コースのご案内</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/toeic500"><span class="fas fa-caret-right txt_kiri"></span>500~600点突破コース</a></li>
                  <li><a href="%ssl_host_url%/wte/toeic730"><span class="fas fa-caret-right txt_kiri"></span>730点突破コース</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicsubsc"><span class="fas fa-caret-right txt_kiri"></span>修了者向け定期コース</a></li>    
                  <li><a href="%ssl_host_url%/wte/kenshu"><span class="fas fa-caret-right txt_kiri"></span>法人向け研修</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/toeictext">教材について</a>
                <ul>
                  <li><a href="%ssl_host_url%/wte/toeictext"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg;突破コースの使用教材</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicsubsctext"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg;定期コースの使用教材</a></li>
                </ul></li>
              <li><a href="%ssl_host_url%/wte/prflstfrm">講師紹介</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=1"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; 500点コース対応講師</a></li>
                  <li><a href="%ssl_host_url%/WTE/site.cgi?m=prflstfrm&s_prof_character=2"><span class="fas fa-caret-right txt_kiri"></span>TOEIC&reg; 730点コース対応講師</a></li>
                </ul>
              </li>
              <li><a href="%ssl_host_url%/wte/toeicplan">コース料金</a></li>
              <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a>
                <ul>
                  <li><a href="%ssl_host_url%/WTE/site.cgi?m=inqfrmshw">お問い合わせ</a></li>
                  <li><a href="%ssl_host_url%/wte/toeicfaq">よくあるご質問</a></li>
                </ul>

              </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 d-none d-lg-block pr-0">
            <ul class="wt_hdbtn">
              <li><a href="%ssl_host_url%/WTE/mypage.cgi" class="btn btn-secondary ">ログイン</a></li>
              <li><a href="%ssl_host_url%/WTE/reg.cgi" class="btn btn-danger ">体験はこちら</a></li>
            </ul>
        </div>
      </div>
    </div>
  </header>
