
  <div class="row wt_plan mb-5">
    <div class="col-12 col-md-4 mb-5">
      <h4 class="text-center">英検準1級二次試験合格コース</h4>

      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><span>コース買い切り価格</span><strong class="text-danger">49,500</strong>円</li>
        <li class="list-group-item"><span>コース期間</span>2ヶ月</li>
        <li class="list-group-item"><span>レッスン数</span>50分 8コマ</li>
        <li class="list-group-item"><span>使用教材</span><small><b>英検準1級二次試験・面接完全予想問題 <a href="https://amzn.to/3U5glD6" target="_blank">→購入する</a></b></small></li>
      </ul>
    </div>
    <div class="col-12 col-md-4 mb-5">
      <h4 class="text-center">英検2級二次試験合格コース</h4>

      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><span>コース買い切り価格</span><strong class="text-danger">38,500</strong>円</li>
        <li class="list-group-item"><span>コース期間</span>2ヶ月</li>
        <li class="list-group-item"><span>レッスン数</span>50分 8コマ</li>
        <li class="list-group-item"><span>使用教材</span><small><b>英検2級二次試験・面接完全予想問題 <a href="https://amzn.to/3MksLnZ" target="_blank">→購入する</a></b></small></li>
      </ul>
    </div>
    <div class="col-12 col-md-4 mb-5">
      <h4 class="text-center">英検準2級二次試験合格コース</h4>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><span>コース買い切り価格</span><strong class="text-danger">38,500</strong>円</li>
        <li class="list-group-item"><span>コース期間</span>2ヶ月</li>
        <li class="list-group-item"><span>レッスン数</span>50分 8コマ</li>
        <li class="list-group-item"><span>使用教材</span><small><b>英検準2級二次試験・面接完全予想問題 <a href="https://amzn.to/3Fu3ne9" target="_blank">→購入する</a></b></small></li>
      </ul>
    </div>

  </div>