        <div class="row wt_plan mb-5">
          <div class="col-12 col-md-6">
            <h4 class="text-center">修了者向け定期コース 月2回</h4>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><span>月額価格</span><strong class="text-danger">13,200</strong>円（準1級）<br><strong class="text-danger">9,900</strong>円（2～準2級）</li>
              <li class="list-group-item"><span>コース期間</span>毎月</li>
              <li class="list-group-item"><span>レッスン数</span>50分2コマ</li>
              <li class="list-group-item"><span>使用教材</span>
                <small><b>面接完全予想問題</b></small><br>
                <small><b>その他、講師と相談</b></small></li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <h4 class="text-center">修了者向け定期コース 月4回</h4>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><span>月額価格</span><strong class="text-danger">26,400</strong>円（準1級）<br><strong class="text-danger">19,800</strong>円（2～準2級）</li>
              <li class="list-group-item"><span>コース期間</span>毎月</li>
              <li class="list-group-item"><span>レッスン数</span>50分4コマ</li>
              <li class="list-group-item"><span>使用教材</span>
                <small><b>面接完全予想問題</b></small><br>
                <small><b>その他、講師と相談</b></small></li>
            </ul>
          </div>
        </div>