
  <div class="row wt_plan mb-5">
    <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 mb-5">
      <h4 class="text-center">TOEFL iBT&reg; Starterコース</h4>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><span>コース買い切り価格</span><strong class="text-danger">49,500</strong>円（税込）</li>
        <li class="list-group-item"><span>レッスン時間</span>50分×全8回</li>
          <li class="list-group-item"><span>使用教材</span><small><b>DataBase AVAIL 4技能 英単語・熟語<b class="text-danger">→無償提供</b></b><br><b>英語4技能ハイパートレーニング 長文読解（３）標準編<b class="text-danger">→無償提供</b></b><br><b>英語4技能ハイパートレーニング 長文読解（４）中級編<b class="text-danger">→無償提供</b></b><br><b>英語4技能ハイパートレーニング 長文読解（５）上級編<b class="text-danger">→無償提供</b></b><br><b>The Official Guide to the TOEFL iBT® Test 7th EDITION<a href="https://www.amazon.co.jp/dp/1265477310" target="_blank">→購入する</a></b><br></small></li>
      </ul>
    </div>
  </div>