
  <div class="row wt_plan mb-5">
    <div class="col-12 col-md-4 mb-5">
      <h4 class="text-center">小論文の書き方 初中級コース</h4>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><span>コース買い切り価格</span><strong class="text-danger">5,500</strong>円</li>
        <li class="list-group-item"><span>動画時間</span>25分×4講座</li>
        <li class="list-group-item"><span>使用教材</span><small><b>桐原書店オリジナル教材</b></small></li>
      </ul>
    </div>
    <div class="col-12 col-md-4 mb-5">
      <h4 class="text-center">小論文の書き方 中上級コース</h4>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><span>コース買い切り価格</span><strong class="text-danger">6,600</strong>円</li>
        <li class="list-group-item"><span>動画時間</span>25分×4講座</li>
        <li class="list-group-item"><span>使用教材</span><small><b>桐原書店オリジナル教材</b></small></li>
      </ul>
    </div>
    <div class="col-12 col-md-4 mb-5">
      <h4 class="text-center">個別指導コース</h4>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><span>コース買い切り価格</span><strong class="text-danger">3,630</strong>円</li>
        <li class="list-group-item"><span>レッスン時間</span>25分</li>
        <li class="list-group-item"><span>講座内容</span><small><b>講師からマンツーマン授業</b></small></li>
      </ul>
    </div>

  </div>