
  <div class="row wt_plan mb-5">
    <div class="col-12 col-md-6">
      <h4 class="text-center">500～600点突破コース</h4>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><span>コース買い切り価格</span><strong class="text-danger">38,500</strong>円</li>
        <li class="list-group-item"><span>コース期間</span>2ヶ月</li>
        <li class="list-group-item"><span>レッスン数</span>50分 8コマ</li>
        <li class="list-group-item"><span>使用教材</span><small><b>TOEIC&reg;L&amp;Rテスト書き込みドリル 全パート入門編（スコア500） <i class="text-danger">→無償提供</i></b></small><br>
          <small><b>DataBase TOEICR L&amp;Rテスト最強 単語＆フレーズ <i class="text-danger">→無償提供</i></b></small><br>
          <small><b>総合英語 FACTBOOK ~ これからの英文法 <i class="text-danger">→無償提供</i></b></small><br>
          <small><b>公式TOEIC Listening &amp; Reading 問題集 12 <a href="https://amzn.asia/d/07MVEwh9" target="_blank">→購入する</a></b></small></li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h4 class="text-center">730点突破コース</h4>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"><span>コース買い切り価格</span><strong class="text-danger">38,500</strong>円</li>
        <li class="list-group-item"><span>コース期間</span>2ヶ月</li>
        <li class="list-group-item"><span>レッスン数</span>50分 8コマ</li>
        <li class="list-group-item"><span>使用教材</span><small><b>TOEIC&reg;L&amp;Rテスト書き込みドリル 全パート標準編（スコア650） <i class="text-danger">→無償提供</i></b></small><br>
          <small><b>DataBase TOEICR L&amp;Rテスト最強 単語＆フレーズ <i class="text-danger">→無償提供</i></b></small><br>
          <small><b>総合英語 FACTBOOK ~ これからの英文法 <i class="text-danger">→無償提供</i></b></small><br>
          <small><b>公式TOEIC Listening &amp; Reading 問題集 12 <a href="https://amzn.asia/d/07MVEwh9" target="_blank">→購入する</a></b></small></li>
      </ul>
    </div>
  </div>