                        <h2 class="text-center">個人情報保護方針</h2>
                        <p class="mb-5">ワールドトーク×桐原書店利用規約（以下、「本規約」といいます。）は、株式会社ライトアップ（以下、「甲」といいます。）が提供する「ワールドトーク×桐原書店」およびこれに付随するサービス（以下、「本サービス」といいます。）を、ユーザー（以下、「乙」といいます。）が利用するためのルールを定めるものです。 <br>本サービスのお申し込みをいただいた方は、本規約に同意したものとみなします。</p>

                        <p class="mb-5">株式会社ライトアップと株式会社桐原書店（以下、「当社」という）では、個人情報の保護について以下のような考えのもと、取り組みをすすめていくことをお知らせ致します。</p>

                        <h3>１．個人情報保護の理念</h3>
                        <p class="mb-5">当社では、コンテンツ企画・作成、コンピュータシステムの開発、販売及びこれに関するコンサルティング業務を遂行するにあたり、個人情報を取り扱う場合がございます。個人情報保護に対する社会的なニーズの高まりや本人のプライバシー権の保護のため、取り扱う個人情報は、プライバシーマークの認定基準である、JIS Q 15001に基づいて、安全に保管し、取り扱うことを最大の課題と認識し、事業活動にかかわる全社員及び関係者に徹底していきます。また、社員（退職者、採用応募者も含む）及び取引先の個人情報も適切に取り扱うことをお約束致します。</p>

                        <h3>２．個人情報の適切な取得、利用、提供に関して</h3>
                        <p class="mb-5">当社では、事業の内容及び規模を考慮し、業務遂行に必要な範囲で個人情報の取得をおこないます。取得にあたっては、予め特定した利用目的をご本人に通知し、同意を得た上でおこないます。<br>個人情報の利用は、特定した利用目的の範囲内とし、利用目的を変更する際には、予めご本人に通知し、同意を得た上でおこないます。<br>個人情報は、法令に基づき適正に提供を要求された場合、および利用目的を遂行するために業務を委託する場合を除き、ご本人の同意なく、第三者に提供することはございません。<br>目的外の利用や提供を防止するため、個人情報の利用及び提供は、個人情報保護に関する内部の統括責任者（個人情報保護管理者）が、その適正性を確認した上でおこなっています。また、自主点検、内部監査等の活動を通じた統制活動も強化しております。</p>

                        <h3>３．個人情報保護のための安全管理策</h3>
                        <p class="mb-5">(１)個人情報の漏えい、滅失、毀損等に対する予防措置<br>当社では、個人情報の漏洩、滅失、毀損等を防止するための厳重なセキュリティー対策を実施しております。また、これらを徹底するため、従業員への教育・監督をおこなっています。<br>個人情報取り扱い業務を社外に委託する場合は、委託先の選定や監督を厳重におこなっております。<br>(２)個人情報の漏えい、滅失、毀損等に対する是正措置<br>万が一、個人情報の漏えい、滅失、毀損等が発生した場合は、被害拡大防止を最優先とし、速やかに是正措置を講じるとともに、原因究明をおこない、再発防止に努めます。また、事故に関する情報について、必要な範囲で関係者、関係機関に報告します。</p>

                        <h3>４．法令、国が定める指針、その他の規範の遵守</h3>
                        <p class="mb-5">当社は、個人情報に関する法律および関係法令、主務官庁の指針、所属団体などの規範等を遵守します。</p>

                        <h3>５．個人情報保護マネジメントシステムの継続的改善</h3>
                        <p class="mb-5">当社は個人情報の保護に関するマネジメントシステムを役員および従業員に周知徹底します。また、これを実行し、維持するとともに定期的に見直しをし、継続的改善に努めます。</p>

                        <h3>６．個人情報に関する苦情、相談への対応</h3>
                        <p class="mb-5">当社に対して、個人情報の取り扱いに関する苦情の申し立て、相談をおこなう場合は、下記の個人情報保護事務局へお願いします。また、当社の個人情報保護方針に対するお問い合わせに関しても下記にて対応いたします。</p>
                        <p class="mb-5">個人情報保護方針<br>[窓口]〒150-0002　東京都渋谷区渋谷2-15-1　渋谷クロスタワー　32F<br>株式会社ライトアップ　個人情報保護事務局　宛<br><a href="https://www.writeup.jp/contact/" class="blank">お問い合わせフォームはこちら</a></p>
                        <p class="mb-5 text-right">制定日　2008年6月1日</p>
                        
                        <hr class="mb-5">
                        
                        <h2 class="text-center">個人情報の取り扱いについて</h2>
                        <p class="mb-5">お預かりした個人情報は、以下の利用目的により使用します。それ以外の目的では使用致しません。</p>

                        <h4>【利用目的】</h4>
                        <ul>
                          <li>レッスン実施に関するスケジュール等の連絡のため</li>
                          <li>レッスンを実施するため</li>
                          <li>サービスに係る情報（ニュースレター、キャンペーン情報、アンケート等）配信のため</li>
                          <li>当社が提供するその他のサービスに関する情報配信のため</li>
                          <li>サービスに関するご意見・お問い合わせの正確な把握、それらへの回答のため</li>
                          <li>顧客動向の分析、サービス改善のための調査分析のため</li>
                          <li>ユーザーからの個人情報の開示等のお求めに応じる場合に必要な当該ユーザーのご本人確認のため</li>
                          <li>災害等の緊急事態が発生した際の連絡・対応のため</li>
                          <li>サービスご利用料金の精算、遅延金等の回収のため</li>
                        </ul>
                        <p class="mb-5">また、このページでは、セッション管理の目的でCookie情報を利用しております。</p>
                        <p class="mb-5">前項の目的の範囲内において、かつ、以下に記載する委託対象先に、お預かりした個人情報を第三者に委託することがございます。委託先については、個人情報を適正に取り扱っていると認められる者及び協力会社を選定し、個人情報を厳重に且つ細心の注意を払って管理することを義務付け、徹底いたします。</p>
                        <h4>【委託対象先】</h4>
                        <ul class="mb-5">
                          <li>講師</li>
                          <li>運送業者（キャンペーン等の物品配送のため）</li>
                        </ul>
                        <p class="mb-5">事前にご本人さまに同意をいただけた場合、法令等により開示が求められた場合を除き、一切おこないません。</p>
                        <p class="mb-5">個人情報の登録は、皆様の自由な御判断に任されますが、個人情報の一部を提供していただかない場合には、各種サービスご案内やご希望にお応え出来ない場合があります。</p>
                        <p class="mb-5">御自身の個人情報について、利用目的の通知、開示、訂正、追加、削除、利用停止、提供停止、消去の請求をおこなう場合は、個人情報お問い合わせ窓口までご連絡ください。</p>
                        <p class="mb-5">お問い合わせ窓口：customer@worldtalk.jp</p>
                        <p class="alignRight">株式会社ライトアップ<br>管理グループマネージャー（個人情報保護管理者）</p>