<div class="row mb-5">
  <div class="col-12">
    <h2 class="text-center">2025年度英検について</h2>

    <div class="row mb-5">
      <div class="col-12">
        <h3 class="text-center">2025年度英検スケジュール</h3>
        <p class="text-left text-md-center">英検は年間3回（6月、10月、1月）実施されています。また、近年ではもっと気軽に受けられる英検S-CBTも実施されています。<br>英検の試験申し込みは英検ホームページで受け付けております。<br><a href="https://www.eiken.or.jp/eiken/" rel="nofollow" target="_blank">英検のお申込みはこちら（英検HPに移動）</a></p>
      </div>
      <div class="col-12 col-md-4">
        <h4 class="text-center wt_h4_eiken">2025年度 第1回英検</h4>
        <div class="table-responsive-md">
          <table class="table wt_tb_eiken">
            <tbody>
              <tr>
                <td class="p-3 p-md-4" colspan="2"><strong>申込期間</strong><br>2025年3月24日(月)〜5月7日(水)</td>
              </tr>
              <tr>
                <th class="p-3 p-md-4" colspan="2" style="background-color: #ebebeb;">一次試験</th>
              </tr>
              <tr>
                <td class="p-3 p-md-4"><strong>試験日程</strong><br>本会場：6月1日(日)</td>
                <td class="p-3 p-md-4"><strong>合否公開</strong><br>Web：6月23日(月)<br>郵送：7月1日(火)</td>
              </tr>
              <tr>
                <th class="p-3 p-md-4" colspan="2" style="background-color: #ebebeb;">二次試験</th>
              </tr>
              <tr>
                <td class="p-3 p-md-4"><strong>試験日程</strong><br>本会場A日程 : 7月6日(日)<br>
                  本会場B日程 : 7月13日(日)</td>
                <td class="p-3 p-md-4"><strong>合否公開</strong><br>A日程(W)：7月15日(火)<br>
                  A日程(送)：7月22日(火)<br>B日程(W)：7月22日(火)<br>
                  B日程(送)：7月29日(火)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <h4 class="text-center wt_h4_eiken">2025年度 第2回英検</h4>
        <div class="table-responsive-md">
          <table class="table wt_tb_eiken">
            <tbody>
              <tr>
                <td class="p-3 p-md-4" colspan="2"><strong>申込期間</strong><br>2025年7月1日(火)〜9月8日(月)</td>
              </tr>
              <tr>
                <th class="p-3 p-md-4" colspan="2" style="background-color: #ebebeb;">一次試験</th>
              </tr>
              <tr>
                <td class="p-3 p-md-4"><strong>試験日程</strong><br>本会場：10月5日(日)</td>
                <td class="p-3 p-md-4"><strong>合否公開</strong><br>Web：10月27日(月)<br>郵送：11月4日(火)</td>
              </tr>
              <tr>
                <th class="p-3 p-md-4" colspan="2" style="background-color: #ebebeb;">二次試験</th>
              </tr>
              <tr>
                <td class="p-3 p-md-4"><strong>試験日程</strong><br>A日程：11月9日(日)<br>
                  B日程：11月16日(日)</td>
                  <td class="p-3 p-md-4"><strong>合否公開</strong><br>A日程(W)：11月18日(火)<br>
                    A日程(送)：11月25日(火)<br>B日程(W)：11月25日(火)<br>
                    B日程(送)：12月2日(火)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <h4 class="text-center wt_h4_eiken">2025年度 第3回英検</h4>
        <div class="table-responsive-md">
          <table class="table wt_tb_eiken">
            <tbody>
              <tr>
                <td class="p-3 p-md-4" colspan="2"><strong>申込期間</strong><br>2025年10月31日(金)〜12月15日(月)</td>
              </tr>
              <tr>
                <th class="p-3 p-md-4" colspan="2" style="background-color: #ebebeb;">一次試験</th>
              </tr>
              <tr>
                <td class="p-3 p-md-4"><strong>試験日程</strong><br>本会場：1月25日(日)</td>
                <td class="p-3 p-md-4"><strong>合否公開</strong><br>Web：2月16日(月)<br>郵送：2月24日(火)</td>
              </tr>
              <tr>
                <th class="p-3 p-md-4" colspan="2" style="background-color: #ebebeb;">二次試験</th>
              </tr>
              <tr>
                <td class="p-3 p-md-4"><strong>試験日程</strong><br>A日程：3月1日(日)<br>
                  B日程：3月8日(日)</td>
                  <td class="p-3 p-md-4"><strong>合否公開</strong><br>A日程(W)：3月10日(火)<br>
                    A日程(送)：3月17日(火)<br>B日程(W)：	3月17日(火)<br>
                    B日程(送)：3月24日(火)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <h3 class="text-center">2025年度英検の受験料について</h3>
    <p class="text-left text-md-center">2024年に<a href="https://www.eiken.or.jp/eiken/info/2023/pdf/20231121_info_eiken.pdf" target="_blank">価格改定</a>があり、各級値上げとなります。</p>
    <p class="text-left text-md-center">英検の受験料は一次試験を受ける場所が本会場か準会場かによって価格が異なります。<br>また、1級と準1級は準会場では受験できませんので本会場での受験のみとなります。</p>
    <p class="text-left text-md-center small">※本会場とは日本英語検定協会が設置する公開試験会場<br>※準会場とは日本英語検定協会が認めた団体受験のための特別な会場</p>
  </div>
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

    <h4 class="text-center wt_courseh4">英検の受験料について</h4>
    <table class="mb-5 table table-striped wt_coursetable">
      <tbody>
        <tr>
          <th class="text-center"></th>
          <th class="text-center">本会場</th>
          <th class="text-center">準会場</th>
        </tr>
        <tr>
          <th class="text-center">1級</th>
          <td class="text-center">¥12,500</td>
          <td class="text-center">–</td>
        </tr>
        <tr>
          <th class="text-center">準1級</th>
          <td class="text-center">¥10,500</td>
          <td class="text-center">–</td>
        </tr>
        <tr>
          <th class="text-center">2級</th>
          <td class="text-center">¥9,100</td>
          <td class="text-center">¥6,900</td>
        </tr>
        <tr>
          <th class="text-center">準2級プラス</th>
          <td class="text-center">¥8,700</td>
          <td class="text-center">¥6,400</td>
        </tr>
        <tr>
          <th class="text-center">準2級</th>
          <td class="text-center">¥8,500</td>
          <td class="text-center">¥6,100</td>
        </tr>
        <tr>
          <th class="text-center">3級</th>
          <td class="text-center">¥6,900</td>
          <td class="text-center">¥5,000</td>
        </tr>
        <tr>
          <th class="text-center">4級</th>
          <td class="text-center">¥4,700</td>
          <td class="text-center">¥2,900</td>
        </tr>
        <tr>
          <th class="text-center">5級</th>
          <td class="text-center">¥4,100</td>
          <td class="text-center">¥2,500</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>