
<div class="container-fluid">
  <div class="row wt_recguide">
    <div class="owl-carousel owl-carousel-cr mb-5">
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_11.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">Part3の設問の確認方法や音声頼みで解答しないこと、頻出問題形式など学べました。あっという間のレッスンでした。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_28.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">part7の長文を読むことが苦手ですが、単語の確認や、一緒に訳をしてくれたので、きちんと通して読む練習ができました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_25.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">レッスンで音読と訳をすると問題自体は解けるものが結構あることを知り、精読と速読のモチベーションが上がりました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_30.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">オンラインレッスンは初めてですが、丁寧に教えていただき、楽しく受講することができました。ありがとうございました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_29.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">きちんとレベルを判断いただき、個人に沿ったレッスン内容でした。次のレッスンも楽しみです！宜しくお願いします。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_16.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">体験の際にはたくさん褒めていただき、少し緊張しつつも楽しんでレッスンできました。本日はありがとうございました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_15.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">シャドウイング、オーバーラッピングの効果が、良くわかりました。毎日続けたいと思います。次のlessonが楽しみです！</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_18.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">ダブルパッセージなど苦手意識がありましたが、ポイントを押さえる事で解きやすくなりました。復習などで意識します。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_19.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">とても穏やかにレッスンをすすめ、できているところをほめてくださったのでモチベーションアップにもつながりました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_24.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">とても分かりやすく解説して下さり理解度向上につながりました。解き方も教えて頂き、今後の参考にしたいと思います。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_20.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">まだ微妙に間違っているところとかを察知して教えてくれている。案外抜けているところが多く、まだ詰められると感じた。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_32.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">レッスンの流れや問題の解き方など、丁寧に説明して貰えました。優しい先生ですし、今日はお会いできて良かったです。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_23.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">わからない発音や単語の成り立ちまで教えていただけて、勉強になりました。先生の人当りもよく質問しやすい環境でした。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_26.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">苦手なPart5を中心に先生から戦略を伺うことができて興味深かったです。即実践できる勉強方法が身につくのを感じました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_27.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">優しく教えていただき、内容の濃い、充実したレッスンを受けることが出来ました。モチベーションアップに繋がりました</p>
      </div>



      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_11.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">問題を解く上でどこがポイントなのかがわかりやすかったです。レッスンで試験のコツを面白く教えていただけました！</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_28.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">問題を解くだけでは理解できなかった「能動態」「受動態」について、詳細に分解してご教示くださったので良かったです。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_25.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">文章全体を通しての英語の組み立てられ方など、独学では気づけないことも解説してくださったので、目からうろこでした。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_30.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">無駄のない進行と丁寧な説明で充実した時間でした。テキストに載っていない例文や言い換えも教えて頂きためになりました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_29.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">ありがとうございました。レッスンで確認した単語はきちんとインプットできるので助かります。来週もよろしくお願いします。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_16.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">TOEICのTEST1のリスニング問題を実際に読んでいただきながら確認していくことで、どこで躓いたのかが明確になりました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_15.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">今まで、質問の答え方について詳しくは知らなかったため、今回のレッスンで教えられた事をもとに練習を続けたいと思います。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_18.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">part7が今回で終了しました。苦手なpartでしたが繰り返し読み解くことと引っ掛けに気をつけることを意識していきたいです。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_19.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">勉強の進め方や単語のイメージをしっかり教えて下さったので、続けて頑張っていこうと思いました。よろしくお願い致します。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_24.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">写真に対して、いろんな言い回しで沢山説明できるという事を頭に置いて、思い込まないようにして問題を解いていきたいです。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_20.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">文法の話や音読、リスニングの聞き取り方などを教えて頂けたので良かったです。これからも復習をしっかりしたいと思います。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_32.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">分詞構文や関係代名詞について、At first/Firstの違いなど、日本語訳をみるだけではわからない感覚を教えていただきました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_23.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">分詞についての資料を送ってくださったり、前回の学習の復習並びにpart7の読解のヒントをたくさん教えてくださいました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_26.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">難しかった設問がありましたが、わかりやすく簡潔に指導していただけたのでよかったです。次回もよろしくお願いいたします。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_27.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">熱心に教えてくださり、ありがとうございました。やらなければならない事を数値化してくれたので、とてもよく分かりました。</p>
      </div>

      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_11.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">長文が4月に比べ読めるようになっていますが、単語を感覚で補填しているため単語の記憶量を増やしていきたいと感じました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_28.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">短い時間の中、アイディアが浮かばなかった時は、4つ(金、健康、時間、効率)を軸に考えることを学べてためになりました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_25.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">質問にも的確に答えていただき充実したレッスンでした。よく似たTOEICの頻出単語を同時に教えていただき勉強になりました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_30.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">単語の勉強の仕方、とてもわかりやすかったです。やってみます！レッスンでは優しく教えてくださりありがとうございました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_29.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">単語のイメージを伝えてくださるので、とても頭に残ります。先日受けたTOEICの点数、リーディングの点数は上がりました！</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_16.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">単語テストとPart 3の要点確認、公式問題集での演習(Part 3)を行いました。少しずつ力が伸びているようで嬉しいです^^ </p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_15.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">全レッスンともわかりやすく丁寧に教えてくださりありがとうございました。しっかり復習し高得点を狙えるよう頑張ります！</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
        <img src="/assets/img/voice/voice_18.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">先生、ありがとうございました。とても丁寧で、覚えるべきポイントをしっかり教えて下さるので大変勉強しやすかったです。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_19.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">書き込みドリルのPart5の疑問を質問させていただきました。たくさん褒めてくださるので、楽しくレッスンを続けられます！</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_24.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">初めて参加しましたが、親身に説明してくださり今後の流れから試験の形式までしっかり理解できました。またお願いします。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_20.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">主にリスニングの練習問題を解き、レベルをおすすめしていただけました。リーディングの問題も見ていただきたいです。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_32.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">私のレベルにあったご指導をいただきました。またTOEICを受験するにあたりポイントも解説いただき参考になりました。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_23.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">最後のレッスンは単語勉強の時間がとれず覚えられていなく失礼しました。今後も音読も含めてコツコツと学習をします。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_26.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">今日もありがとうございました！TOEICの課題がヒアリングにあることがよくわかりました。公式のTOEIC本も解いてみます。</p>
      </div>
      <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
        <img src="/assets/img/voice/voice_27.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
        <p class="mb-0">公式問題集で間違えたものもフィードバックしてもらえて、1人で復習するよりも、何が間違えたかはっきりしたと思います。</p>
      </div>


    </div>
  </div>
</div>
