<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>%prof_caption%募集 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
    
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                        <h2 class="text-center">エントリー完了！</h2>
                        <p>ご応募そして、情報のご送信どうもありがとうございます。</p>
                        <p>次に動画面談の流れについて、メールを送付させていただきました。<br>ご確認いただき、内容に沿って動画の作成と送付をお願いいたします。</p>
                      <p>もし、不明点などございましたら、下記メールアドレス宛にお気軽にご連絡お願いいたします。</p>
                      <p><a href="mailto:teacher@kirihara.worldtalk.jp">KIRIHARA Online Academy講師お問い合わせメール（teacher@kirihara.worldtalk.jp）</a></p>
                      <p>今後ともKIRIHARA Online Academyをどうぞよろしくお願いいたします。</p>
          </div>
        </div>
      </div>
    </section>
        
        <div class="wt_sec_bg_1">
        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="url" content="https://academy.kirihara.co.jp/">
              <span class="wt_crumb" itemprop="name">ホーム</span>
              <meta itemprop="position" content="1" />
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/WTE/preg.cgi" itemprop="name" content="%ssl_host_url%/WTE/preg.cgi">
              <span itemprop="title">日本人英会話講師募集</span>
              <meta itemprop="position" content="2" />
            </a>
          </li>
        </ul>
        </div>
    </main>
<TMPL_INCLUDE NAME="../include/footer.html">
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
