<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>TOEIC対策ができる日本人講師募集｜愛媛県松山市｜KIRIHARA Online Academy</title>
  <meta name="description" content="TOEIC対策を専門に行うオンライン英会話サービス「KIRIHARA Online Academy」で、TOEIC対策を担当する英会話講師を募集しています！日本人の英会話講師、及び資格取得指導が得意な方を募集しています！生徒の皆さまの目標達成に向けて一緒に頑張っていただける方、お待ちしております！TOEFL講座も開設予定、TOEFLを教えたい方もご応募ください。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="TOEIC対策ができる日本人講師募集｜愛媛県松山市｜KIRIHARA Online Academy" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="TOEIC対策を専門に行うオンライン英会話サービス「KIRIHARA Online Academy」で、TOEIC対策を担当する英会話講師を募集しています！日本人の英会話講師、及び資格取得指導が得意な方を募集しています！生徒の皆さまの目標達成に向けて一緒に頑張っていただける方、お待ちしております！TOEFL講座も開設予定、TOEFLを教えたい方もご応募ください。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/preg.cgi?m=matsuyamatoeic" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@Worldtalk_wu" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/preg.cgi?m=matsuyamatoeic" />
  <meta name="twitter:title" content="TOEIC対策ができる日本人講師募集｜愛媛県松山市｜KIRIHARA Online Academy" />
  <meta name="twitter:description" content="TOEIC対策を専門に行うオンライン英会話サービス「KIRIHARA Online Academy」で、TOEIC対策を担当する英会話講師を募集しています！日本人の英会話講師、及び資格取得指導が得意な方を募集しています！生徒の皆さまの目標達成に向けて一緒に頑張っていただける方、お待ちしております！TOEFL講座も開設予定、TOEFLを教えたい方もご応募ください。" />
  <meta name="twitter:image" content="" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_head_preg">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1 class="text-center mb-5">TOEICのスコアアップをサポートする<br>オンラインTOEIC対策講師を募集しています！<br>（愛媛県松山市・在宅勤務・副業可）</h1>
                          <h4 class="text-center mb-5">TOEIC対策に特化したカリキュラムを開発しているKIRIHARA Online Academyで講師をしてみませんか？<br></h4>
                          <div class="text-center wt_mvbtn pt-3"><a href="#entry" class="btn btn-secondary rounded-pill btn-lg">エントリーはこちら</a></div>
                      </div>
                  </div>
              </div>
          </section>


        <section>
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12">
                      <h2 class="text-center">TOEIC指導の得意な<strong class="text-primary">日本人英会話講師</strong>を募集しています</h2>
                      <h3 class="text-center text-primary">目標に向かう生徒の皆さまに寄り添い、学習をサポートしていく仕事です！</h3>
                      <p>2021年8月にオープンしたばかりの新しいオンライン学習サービス「KIRIHARA Online Academy」。<br>Nextstageなどの人気の英語教科書を生み出している<strong><a href="https://www.kirihara.co.jp/" target="_blank">「桐原書店」</a></strong>と、日本人講師メインのオンライン英会話<strong><a href="https://www.worldtalk.jp/" target="_blank">「ワールドトーク」</a></strong>が共同開発したプラットフォームです。</p>
                      <p>KIRIHARA Online Academy独自で開発した学習カリキュラムを使用し、短期集中で資格取得が出来るコースを用意しています。<br>現在、サービススタート時にて、<strong class="text-primary">オープニングメンバーとして一緒に頑張っていただける方</strong>を募集しております。<br>是非指導に興味がございましたら、下部のフォームにてご応募ください。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <h3 class="text-center text-primary">このような想いを持つ方を募集しています！</h3>
                    </div>
                    <div class="col-12 col-md-7">
                      <p>KIRIHARA Online Academyでは、こんな想いをお持ちの講師を募集しています！</p>
                      <ul class="mb-5 wt_check">
                        <li>オンラインで英語を教えたい</li>
                        <li>オンラインでTOEICの指導をしたい</li>
                        <li>自分が経験してきた資格取得の方法を伝えたい</li>
                        <li>子育てをしながら在宅でも教えられる仕事をしたい</li>
                        <li>英語が苦手な方のバックアップをしたい</li>
                        <li>英語を覚える楽しさを伝えたい</li>
                      </ul>
                      <p>オンラインでレッスンを実施いただきますので、先生のライフスタイルに合わせてレッスンスケジュールを組んで頂くことが出来ます。<br>ご興味がある方は是非エントリーフォームよりご応募をお願いいたします！</p>
                    </div>
                    <div class="col-12 col-md-5">
                      <img src="/assets/img/preg/img_preg_1.jpg" class="w-100 h-auto rounded-pill" alt="このような想いを持つ方を募集しています！">
                    </div>
                </div>
            </div>
      </section>
        <section class="wt_sec_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                      <h2 class="text-center">KIRIHARA Online Academyのオンライン講師への<strong class="text-primary">登録メリット</strong></h2>
                    </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-4 text-center wt_feature wt_feature_1">
                  <div class="wt_card">
                    <img src="/assets/img/preg/img_preg_2-2.jpg" alt="10年のオンライン英会話運営経験" class="w-100">
                    <h3 class="text-center mb-3 mb-md-5">TOEIC対策に特化した<br class="d-none d-md-block">学習カリキュラムを準備</h3>
                    <p class="mb-0 mb-md-3 text-left">KIRIHARA Online Academyでは、TOEICのスコアアップに特化した学習カリキュラムを開発し、そちらの流れに沿ったレッスンを行っています。<br>そのため</p>
                  </div>
                </div>
                <div class="col-12 col-md-4 text-center wt_feature wt_feature_2">
                  <div class="wt_card">
                    <img src="/assets/img/preg/img_preg_2-1.jpg" alt="指導方法のレクチャーや教材提供も" class="w-100">
                    <h3 class="text-center mb-3 mb-md-5">指導方法のレクチャーや<br class="d-none d-md-block">教材提供も</h3>
                    <p class="mb-0 mb-md-3 text-left">今回、TOEIC対策を行う上で、予めカリキュラムや使用教材をまとめています。また、それぞれ各カリキュラムにおいて、指導方法のレクチャーもさせていただきますので、安心して生徒様とのレッスンに望むことが出来るかと思います。</p>
                  </div>
                </div>
                <div class="col-12 col-md-4 text-center wt_feature wt_feature_3">
                  <div class="wt_card">
                    <img src="/assets/img/preg/img_preg_2-3.jpg" alt="オンラインレッスンのコツなども指導" class="w-100">
                    <h3>定期的な情報提供や<br>動画レターを配信</h3>
                    <p class="text-left">定期的に運営事務局から、オンラインTOEIC対策講師として、人気を得ていくためのノウハウなども共有していきます。初めてでもオンライン講師として活躍していくための様々なコツが知れるのも、ライトアップのオンライン英会話ならではです。</p>
                  </div>
                </div>
              </div>
            </div>
      </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-5">
                      <h2 class="text-center">TOEIC対策講師募集要項</h2>
                      <p>KIRIHARA Online Academy（以下、KOA）は、株式会社桐原書店と、株式会社ライトアップ（オンライン英会話サービス　ワールドトーク運営企業）が運営するオンライン英語学習サービスです。</p>
                      <p>KOAは、桐原書店出版の教材を活用し、カリキュラムにそってレッスンを行っていただきます。2022年3月現在では、英検対策、TOEIC対策のコースをご用意しております。</p>
            
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <th scope="col" class="wt_sec_turquoise txt_lt" style="width:20%">仕事内容</th>
                            <td scope="col">
                              <h4>レッスンについて</h4>
                              <p>レッスンは、1レッスン（1コマ）50分です。（体験レッスンは、25分間）<br>スケジュールは、講師の皆様の都合にあわせて登録いただけます。</p>
                              <p>カリキュラムにそってレッスンを実施いただくことになりますので、会員様が定期的にレッスンを予約し、学習を継続いただくことが出来るようご協力くださいませ。</p>
                              <h4>レッスンまでの流れについて</h4>
                              <ol>
                                <li>講師管理画面で、スケジュールを登録</li>
                                <li>会員様が、スケジュールを見てレッスンを予約（レッスン開始48時間前まで）</li>
                                <li>予約後、メールでお知らせ＆講師管理画面で詳細を確認</li>
                                <li>時間になったら、ビデオ通話システム（Google Meet）にアクセスし、レッスンを開始</li>
                              </ol>
                              <p>予約された際に、どのコースのレッスンであるか、確定しております。<br>予約内容を確認いただきまして、ご準備をお願いいたします。</p>
                              <p class="mb-0">はじめてレッスンをする会員様であれば、適宜メッセージを送って頂くといったフォローも出来る限り実施いただけますようお願いいたします。</p>
                            </td>
                          </tr>
                          <tr>
                            <th class="wt_sec_turquoise txt_lt">勤務地</th>
                            <td>
                              <p class="mb-0">愛媛県松山市（在宅可）<br>PCとビデオ通話が利用できるインターネット環境がある場所が必須条件です。<br>基本的にはご自宅で対応いただく事が望ましいですが、騒がしくない個室の場所でございましたら、そちらで対応いただくことも可能です。カフェ等公共の場でのレッスンの提供は禁止とさせていただいております。なお、独立した空間であっても、車内でのレッスンは禁止です。</p>
                            </td>
                          </tr>
                          <tr>
                            <th class="wt_sec_turquoise txt_lt">勤務時間</th>
                            <td><p class="mb-0">フリーシフト制です。24時間365日、皆様の都合に合わせてレッスンのスケジュールを管理いただけます。</p></td>
                          </tr>
                          <tr>
                            <th class="wt_sec_turquoise txt_lt">応募条件</th>
                            <td>
                              <p>一般的なPCの知識がある方で、社会人経験のある方。<br>そして、教材発送の都合もあり、<strong>日本在住の方</strong>でお願いしています。</p>
                              <p>なお、TOEICコースは採用条件として、級の取得とスコアの点数による指定をしています。</p>
                              <ul>

                                <li>TOEIC730点コース：<strong class="text-danger">TOEICスコア900点以上を取得</strong></li>
                                <li>TOEIC500点コース：<strong class="text-danger">TOEICスコア860点以上を取得</strong></li>
                                <li>TOEFLコース：<strong class="text-danger">2024年10月に新規開設予定</strong></li>
                              </ul>
                              <p>そのほか、以下の項目に当てはまる方のご応募も歓迎しております。</p>
                              <ul>
                                <li>家庭教師、塾講師、学校や英会話スクール等の講師歴3年以上</li>
                                <li>海外滞在歴10年以上</li>
                                <li>海外での勤務経験3年以上、英語を利用したビジネス経験3年以上</li>
                              </ul>
                              <p>なお、3ヶ月、半年といった短期間のみでのご登録は承っておりません。</p>
                              <p>既に他のオンライン英会話サービスで講師として活躍中の方にもご登録いただくことは可能です。</p>
                              <p class="mb-0">ただし、弊社のマニュアルや教材、管理画面の情報等、KOA独自の情報の公開は許可をしておりません。他社オンラインサービスの教材を利用することも禁止です。ご注意のうえお取り扱いをお願いいたします。</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-12 mb-5">
                      <h2 class="text-center">よくあるご質問</h2>
                      <p>講師採用時でのよくある質問をまとめています。一度ご確認お願いいたします。</p>
                      <div class="faq">
                        <div class="row">
                          <div class="col-12">
                            <h2 class="wt_sec_turquoise">FAQ</h2>

                            <div class="fbox">
                              <h3 class="question">Q. 日本語はどのくらい利用した方が良いですか？</h3>
                              <div class="answer"><p>現在、資格対策レッスンが中心のため、日本語中心のレッスンをお願いいたします。生徒様からの個別の要望がありましたら、カリキュラムの域を出ない範囲内で英語を活用したレッスンをご提供ください。</p></div>
                            </div>

                            <div class="fbox">
                              <h3 class="question">Q. WEBカメラは必須ですか？</h3>
                              <div class="answer">
                                <p>はい、必須です。ただし、会員がカメラを利用しない場合は、音声のみでもOKです。</p></div>
                            </div>

                            <div class="fbox">
                              <h3 class="question">Q. 他社と並行してレッスンを行うことは可能でしょうか？</h3>
                              <div class="answer"><p>はい、可能です。しかしながらKOAの教材を他社で利用することは固く禁止しておりますのでご留意くださいませ。また、スケジュールのバッティング等起こらぬようご注意のうえ、対応をお願いしております。</p></div>
                            </div>

                          </div>
                        </div>
                      </div>
            
                    </div>


                    <div class="col-12 mt-5 mb-5">
                        <h2 class="text-center">採用の流れ</h2>
                        <p >講師採用の流れは、以下のように行います。</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_1">
                            <span class="wt_flow_step"><span class="lead">1</span></span>
                            <img src="/assets/img/preg/img_pregflw_1.jpg" alt="書類選考" class="w-75 rounded-circle img-thumbnail mb-4">
                            <h3>書類選考・動画面談</h3>  
                            <p class="text-left mb-5 mb-md-3">WEBからお送りいただいた情報に加えて、自己紹介動画の作成をお願いしています。作成する動画について、エントリーフォーム入力後の送付メールをご確認ください。</p>
                     </div>
                     <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_2">
                            <span class="wt_flow_step"><span>2</span></span>
                            <img src="/assets/img/preg/img_pregflw_2.jpg" alt="採用面談・模擬" class="w-75 rounded-circle img-thumbnail mb-4">
                            <h3>採用面談・模擬レッスン</h3>                               
                            <p class="text-left mb-5 mb-md-3">書類選考、及び動画面談を通過された方は、採用担当者との面談となります。<br>採用面談時に模擬レッスンも行いますので、案内に従いレッスンをお願いいたします。</p>
                       </div>
                       <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_3">
                            <span class="wt_flow_step"><span>3</span></span>
                            <img src="/assets/img/preg/img_pregflw_3.jpg" alt="規約の同意・講師登録" class="w-75 rounded-circle img-thumbnail mb-4">
                            <h3>規約の同意・講師登録</h3>                               
                            <p class="text-left mb-5 mb-md-3">面談後数日以内に結果をお知らせいたします。<br>合格された方はメールに添付している規約への同意と、講師登録をお願いします。</p>
                       </div>
                            
                    <div class="col-12 mt-5 pt-3">
                            <p>上記を通過された方に、KOAの講師としてご登録いただいております。</p>
                            <p>以上、ご確認いただきまして同意いただけましたら、１次選考を実施させていただきますので動画をお送りいただけますでしょうか。</p>
                            <p>そのほかご不明点ございましたら運営事務局までお問い合わせくださいませ。<br>宛先：<a href="mailto:teacher@kirihara.worldtalk.jp">teacher@kirihara.worldtalk.jp</a></p>
                            <p>どうぞ、宜しくお願い致します。</p>
                     </div>
                            
         </div>
      </div>
            
            
    </section>
    
    

        <section class="wt_sec_bg_1" id="entry">
          <div class="container">
            <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                        <h2 class="text-center">講師のエントリーフォームはこちら</h2>
                          <p class="text-center">%prof_caption%を希望する方は、こちらのフォームより必要事項をご入力し、送信してください。<br>数日以内に%product_name%運営事務局よりご連絡いたします。</p>
                        <div class="wt_form wt_form_layer">
           
                          <form method="post" action="%CGI_URL%">
                            <input type="hidden" name="m" value="cfmset" />
                            <input type="hidden" name="pkey" value="%pkey%" />
                            <TMPL_IF NAME="errs"><div class="errs">%errs%</div></TMPL_IF>
                
                            <div class="form-group">
                              <label class="required %prof_lastname_err% %prof_lastname_err%">お名前</label>
                              <div class="row">
                                <div class="col-xs-2 col-sm-1">
                                  <label for="prof_lastname" class=" %prof_lastname_err% %prof_firstname_err%">%prof_lastname_caption%：</label>
                                </div>
                                <div class="col-xs-10 col-sm-5" style="line-height:1">
                                  <input type="text" id="prof_lastname" name="prof_lastname" value="%prof_lastname%" placeholder="（例）山田" class="form-control %prof_lastname_err%" />
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                  <label for="prof_firstname" class="%member_lastname_err% %prof_firstname_err%">%prof_firstname_caption%：</label>
                                </div>
                                <div class="col-xs-10 col-sm-5" style="line-height:1">
                                  <input type="text" id="prof_firstname" name="prof_firstname" value="%prof_firstname%" placeholder="（例）太郎" class="form-control %prof_firstname_err%" />
                                </div>
                              </div>
                              <ul class="note">
                                <li>お名前を入力してください。ここで登録したお名前はサイトに表示されません</li>
                              </ul>
                            </div>

                <div class="form-group">
                  <label for="prof_handle" class="required %prof_handle_err%">%prof_handle_caption%</label>
                  <input type="text" id="prof_handle" name="prof_handle" value="%prof_handle%" placeholder="（例）たろう" class="form-control %prof_handle_err% inputlimit_ascii" />
                  <ul class="note">
                    <li>%prof_handle_caption%を入力してください。登録した%prof_handle_caption%はサイトに表示されます</li>
                  </ul>
                </div>

                <div class="form-group">
                  <label for="prof_email" class="required %prof_email_err%">%prof_email_caption%</label>
                  <input type="text" id="prof_email" name="prof_email" value="%prof_email%" placeholder="（例）yamada@example.com" class="form-control %prof_email_err%" />
                  <ul class="note">
                    <li>100文字以内で%prof_email_caption%を入力してください</li>
                  </ul>
                </div>

                <div class="form-group" style="display:none;">
                  <label for="prof_pass" class="required %prof_pass_err%">%prof_pass_caption%</label>
                  <input type="password" id="prof_pass" name="prof_pass" value="kirihara2022" class="form-control %prof_pass_err%" />
                  <input type="password" id="prof_pass2" name="prof_pass2" value="kirihara2022" class="form-control %prof_pass2_err%" />
                  <ul class="note">
                    <li>8文字以上100文字以内で入力してください</li>
                    <li>確認のためパスワードを2回入力お願いします</li>
                  </ul>
                </div>
                




                <div class="form-group" style="display:none;">
                  <label class="%prof_zip1_err% %prof_zip2_err% %prof_addr1_err% %prof_addr2_err% %prof_addr3_err% %prof_addr4_err%">住所</label>
                  <div class="row">
                    <div class="col-xs-3 col-sm-3"><label for="prof_zip1">郵便番号</label></div>
                    <div class="col-xs-3 col-sm-2"><input type="text" id="prof_zip1" name="prof_zip1" value="%prof_zip1%" maxlength="3" class="form-control inputlimit_num %prof_zip1_err%" /></div>
                    <div class="pull-left"><label>-</label></div>
                    <div class="col-xs-3 col-sm-2"><input type="text" id="prof_zip2" name="prof_zip2" value="%prof_zip2%" maxlength="4" class="form-control inputlimit_num %prof_zip2_err%" /></div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-3"><label for="prof_addr1">%prof_addr1_caption%</label></div>
                    <div class="col-xs-4 col-sm-4">
                      <input type="text" id="prof_addr1" name="prof_addr1" value="%prof_addr1%" class="form-control %prof_addr1_err%" />
                    </div>
                    <div class="col-xs-4 col-sm-5">
                      <ul class="note">
                        <li><span id="prof_addr1_max_char_num">5</span>文字以内</li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-3"><label for="prof_addr2">%prof_addr2_caption%</label></div>
                    <div class="col-xs-4 col-sm-4">
                      <input type="text" id="prof_addr2" name="prof_addr2" value="%prof_addr2%" class="form-control %prof_addr2_err%" />
                    </div>
                    <div class="col-xs-4 col-sm-5">
                      <ul class="note">
                        <li>
                          <span id="prof_addr2_max_char_num">20</span>文字以内
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-3"><label for="prof_addr3">%prof_addr3_caption%</label></div>
                    <div class="col-xs-5 col-sm-5">
                      <input type="text" id="prof_addr3" name="prof_addr3" value="%prof_addr3%" class="form-control %prof_addr3_err%" />
                    </div>
                    <div class="col-xs-4 col-sm-4">
                      <ul class="note">
                        <li>
                          <span id="prof_addr3_max_char_num">50</span>文字以内
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-3"><label for="prof_addr4">%prof_addr4_caption%</label></div>
                    <div class="col-xs-5 col-sm-5">
                      <input type="text" id="prof_addr4" name="prof_addr4" value="%prof_addr4%" class="form-control %prof_addr4_err%" />
                    </div>
                    <div class="col-xs-4 col-sm-4">
                      <ul class="note">
                        <li>
                          <span id="prof_addr4_max_char_num">50</span>文字以内
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                  
                  
                <div class="form-group" style="display:none;">
                  <label for="prof_tel1" class="%prof_tel1_err% %prof_tel2_err% %prof_tel3_err%">電話番号</label>
                  <div class="row">
                    <div class="col-xs-3 col-sm-2">
                      <input type="text" id="prof_tel1" name="prof_tel1" value="%prof_tel1%" maxlength="5" class="form-control inputlimit_num %prof_tel1_err%" />
                    </div>
                    <div class="pull-left"><label>-</label></div>
                    <div class="col-xs-3 col-sm-2">
                      <input type="text" id="prof_tel2" name="prof_tel2" value="%prof_tel2%" maxlength="4" class="form-control inputlimit_num %prof_tel2_err%" />
                    </div>
                    <div class="pull-left"><label>-</label></div>
                    <div class="col-xs-3 col-sm-2">
                      <input type="text" id="prof_tel3" name="prof_tel3" value="%prof_tel3%" maxlength="4" class="form-control inputlimit_num %prof_tel3_err%" />
                    </div>
                  </div>
                </div>
                   
                  <fieldset class="form-group">
                    <legend class="required col-form-legend %prof_gender_err%">%prof_gender_caption%</legend>
                    <div class="form-check">
                      <label class="form-check-label"><input type="radio" id="prof_gender_1" name="prof_gender" value="1" %prof_gender_1_checked% /> 男性</label>
                      <label class="form-check-label"><input type="radio" id="prof_gender_2" name="prof_gender" value="2" %prof_gender_2_checked% /> 女性</label>
                    </div>
                  </fieldset>
                   
                   
                  <div class="form-group"><label class="required %prof_country_err%">%prof_country_caption%</label>
                    <select class="w40 form-control %prof_country_err%" name="prof_country" id="prof_country">
                      <option value="">-</option>
                      <TMPL_LOOP NAME="prof_country_loop"><option value="%country_code%" %selected%>%country_name%</option></TMPL_LOOP>
                    </select>
                  </div>

                  <div class="form-group"><label class="required %prof_residence_err%">%prof_residence_caption%</label>
                    <select class="w40 form-control %prof_residence_err%" name="prof_residence" id="prof_residence">
                      <option value="">-</option>
                      <option value="jp" selected>日本</option>
                    </select>
                  <ul class="note">
                    <li>ただいま日本在住の方のみの募集とさせていただいております</li>
                  </ul>
                  </div>

                <fieldset class="form-group" style="display:none;">
                  <legend class="col-form-legend required %prof_character_err%">%prof_character_caption%</legend>
                  <div class="form-check">
                  <TMPL_LOOP NAME="prof_character_loop">
                    <label class="form-check-label"><input type="checkbox" id="prof_character_%id%" name="prof_character" value="%id%" %checked% />%title%</label>
                  </TMPL_LOOP>
                  </div>
                  <ul class="note">
                    <li><TMPL_IF NAME="prof_character_min">少なくとも%prof_character_min%項目にチェックを入れてください。</TMPL_IF>最大%prof_character_max%項目までチェックを入れることが可能です。</li>
                  </ul>
                </fieldset>
                    
                <fieldset class="form-group" style="display:none;">
                  <legend class="col-form-legend required %prof_interest_err%">%prof_interest_caption%</legend>
                  <div class="form-check">
                  <TMPL_LOOP NAME="prof_interest_loop">
                    <label class="form-check-label"><input type="checkbox" id="prof_interest_%id%" name="prof_interest" value="%id%" %checked% />%title%</label>
                  </TMPL_LOOP>
                  </div>
                  <ul class="note">
                    <li><TMPL_IF NAME="prof_interest_min">少なくとも%prof_interest_min%項目にチェックを入れてください。</TMPL_IF>最大%prof_interest_max%項目までチェックを入れることが可能です。</li>
                  </ul>
                </fieldset>
                    

                <div class="form-group">
                  <label for="prof_intro" class="%prof_intro_err% required">%prof_intro_caption%</label>
                  <textarea name="prof_intro" id="prof_intro" rows="5" class="form-control %prof_intro_err%"></textarea>
                  <ul class="note">
                    <li><span id="prof_intro_max_char_num">8000</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_intro_char_num">0</span>文字）</li>
                  </ul>
                </div>
                
                <div class="form-group">
                  <label for="prof_app1" class="%prof_app1_err%">%prof_app1_caption%</label>
                  <textarea name="prof_app1" id="prof_app1" rows="5" class="form-control %prof_app1_err%">%prof_app1%</textarea>
                  <ul class="note">
                    <li><span id="prof_app1_max_char_num">300</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_app1_char_num">0</span>文字）</li>
                    <li>HTMLタグは有効になりません。</li>
                  </ul>
                </div>
                
                <div class="form-group">
                  <label for="prof_app2" class="%prof_app2_err%">%prof_app2_caption%</label>
                  <textarea name="prof_app2" id="prof_app2" rows="5" class="form-control %prof_app2_err%">%prof_app2%</textarea>
                  <ul class="note">
                    <li><span id="prof_app2_max_char_num">300</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_app2_char_num">0</span>文字）</li>
                    <li>HTMLタグは有効になりません。</li>
                  </ul>
                </div>
                
                <div class="form-group">
                  <label for="prof_app3" class="%prof_app3_err%">%prof_app3_caption%</label>
                  <textarea name="prof_app3" id="prof_app3" rows="5" class="form-control %prof_app3_err%">%prof_app3%</textarea>
                  <ul class="note">
                    <li><span id="prof_app3_max_char_num">3000</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_app3_char_num">0</span>文字）</li>
                    <li>HTMLタグは有効になりません。</li>
                  </ul>
                </div>
                
                <div class="form-group">
                  <label for="prof_app4" class="%prof_app4_err%">%prof_app4_caption%</label>
                  <textarea name="prof_app4" id="prof_app4" rows="5" class="form-control %prof_app4_err%">%prof_app4%</textarea>
                  <ul class="note">
                    <li><span id="prof_app4_max_char_num">1000</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_app4_char_num">0</span>文字）</li>
                    <li>HTMLタグは有効になりません。</li>
                  </ul>
                </div>
                <div class="text-center"><input type="submit" value="登録内容確認" class="btn btn-primary rounded-pill wt_btn" /></div>
              </form>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="wt_sec_bg_1">
        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="url" content="https://academy.kirihara.co.jp/">
              <span class="wt_crumb" itemprop="name">ホーム</span>
              <meta itemprop="position" content="1" />
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/WTE/preg.cgi" itemprop="name" content="%ssl_host_url%/WTE/preg.cgi">
              <span itemprop="title">日本人TOEIC対策講師募集</span>
              <meta itemprop="position" content="2" />
            </a>
          </li>
        </ul>
        </div>
      </main>

      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
<script src="/js/faq.js"></script>

  <script src="/WTE/static/js/dom.js"></script>
  <script src="/WTE/static/js/form.js"></script>
  <script src="/WTE/static/js/prof/prfaddfrm.js"></script>
      <!-- foot section -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "JobPosting",
  "title": "オンラインTOEIC対策講師",
  "description": "KIRIHARA Online Academyは、株式会社桐原書店と、株式会社ライトアップが運営するオンライン英語学習サービスです。桐原書店出版の教材を活用し、カリキュラムにそってレッスンを行っていただきます。2023年1月現在では、TOEIC対策、英検対策のコースをご用意しております。",
  "datePosted": "2026-01-01",
  "validThrough": "2026-06-30",
  "employmentType": "Part-time",
  "hiringOrganization" : {
    "@type" : "Organization",
    "name" : "KIRIHARA Online Academy",
    "sameAs" : "https://academy.kirihara.co.jp/WTE/preg.cgi?m=matsuyamatoeic",
    "logo" : "https://academy.kirihara.co.jp/apple-touch-icon.png"
  },
  "jobLocation": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "addressRegion": "愛媛県",
      "addressLocality": "松山市",
      "streetAddress": "",
      "addressCountry": "JP"
    }
  },
  "baseSalary" : {
    "@type": "MonetaryAmount",
    "currency": "JPY",
    "value": {
      "@type": "QuantitativeValue",
      "value": "100000",
      "minValue": 50000,
      "maxvalue": 300000,
      "unitText": "MONTH"
    }
  }
}
</script>
</body>

</html>
