<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>%product_name% - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="%product_name%のレッスン予約やチケット購入は%member_caption%マイページから。こちらのページよりログインをお願いいたします。" />
<meta name="keywords" content="%product_name%,Skype,オンラインレッスン,%prof_caption%予約" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
              <!--セクション見出し-->
              <h1>%member_caption%ログイン</h1>

              <p>登録されているメールアドレスとパスワードを入力してください。%product_name%へのご登録がまだの方は<a href="/WTE/reg.cgi">こちら</a>より、新規%member_caption%登録をお願いいたします。</p>

              <!--フォームstart-->
              <form action="%CGI_URL%" method="post" class="wform">
                <input type="hidden" name="m" value="athlinsmt" />
                <input type="hidden" name="s" value="%session_seller_id%" />
                <input type="hidden" name="target" value="%target%" />
                <input type="hidden" name="redirect" value="%redirect%" />
                <input type="hidden" name="pln_id" value="%pln_id%" />

                <!--条件：エラーの場合メッセージ表示-->
                <TMPL_IF NAME="errs"><div class="errs">%errs%</div></TMPL_IF>

                <div class="form-group">
                  <label for="member_email" class="%member_email_err% required">メールアドレス</label>
                  <input type="text" id="member_email" name="member_email" value="%member_email%" class="form-control inputlimit_ascii %member_email_err%" placeholder="（例）yamada@example.com" />
                </div>

                <div class="form-group">
                  <label for="member_pass" class="%member_pass_err% required">パスワード</label>
                  <input type="password" id="member_pass" name="member_pass" value="%member_pass%" class="form-control %member_pass_err%" placeholder="パスワードを入力してください" />
                </div>

                <fieldset class="form-group">
                  <div class="form-check">
                    <label for="auto_login_enable"><input type="checkbox" id="auto_login_enable" name="auto_login_enable" value="1" />次回から自動でログインする。</label>
                  </div>
                </fieldset>

                <div class="text-center"><input type="submit" value="ログイン" class="btn btn-primary" /></div>
                <div class="text-center">
                  <input type="button" name="backBtn" value="&raquo; パスワードを忘れた方はこちら" onclick="document.location.href='/WTE/pwdrst.cgi'" class="btn btn-link" />
                </div>
              </form>
          </div>
        </div>
      </div>
    </section>


    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
<script src="/WTE/static/js/dom.js"></script>
<script src="/WTE/static/js/inputlimit.js"></script>
</body>
</html>
