<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>銀行口座振込 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1>銀行口座振込</h1>
            <div class="wform">
              <p class="mgb50">銀行振込の申請を受領いたしました。情報を確認後、事務局より銀行振込先をご連絡させていただきます。<br />あらかじめ、以下の流れをご確認くださいませ。</p>
              <hr class="mgb50">
              <h3>銀行振込でのチケットご利用開始までの流れ</h3>
              <div>
                <ol>
                  <li>お問い合わせいただいた方に、振込口座をお知らせ致します。ご記入いただいた振込予定日までにお振込をお願いします。</li>
                  <li>お振込の際は、お振込名義の前に【%member_caption%ID】を必ず入力して下さい。<br />※%member_caption%IDはメールに記載しております</li>
                  <li>弊社にて入金確認を行います。確認には振込日を含めて2～3営業日をいただいております。<br />（営業日に土、日、祝日は含まれません）</li>
                  <li>入金の確認が完了次第、チケットの付与を行います。</li>
                  <li>チケットの付与が完了次第、運営事務局よりご連絡させていただきます。<br />ご連絡当日より、チケットのご利用が可能です。</li>
                </ol>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
