<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>銀行口座振込 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
          
            <h1>銀行口座振込</h1>
            <p>銀行口座振込にてチケットを購入する方は、必要な情報を事務局宛にご連絡ください。情報を確認後、事務局より銀行振込先をご連絡させていただきます。ご希望のプランを選択し、確認画面へ進むボタンをクリックしてください。</p>
            <p>なお、銀行振込ではスポットコースのみのご対応となります。月額定額制のお申込みにつきましては、クレジットカード決済でのご対応となります。</p>


            <form name="bnkfrmshw" method="post" action="%CGI_URL%" class="wform">
              <input type="hidden" name="m" value="bnkcfmset" />
              <input type="hidden" name="pkey" value="%pkey%" />
              <TMPL_IF NAME="errs"><div class="errs">%errs%</div></TMPL_IF>
              

              <fieldset class="form-group">
                <legend class="col-form-legend required">購入チケット数</legend>
                <div class="form-group">
                  <select name="pln_id" value=" -- ご希望のプランを選択してください -- " class="form-control">
                  <TMPL_LOOP NAME="plan_loop">
                    <option type="radio" name="pln_id" value="%pln_id%" %selected%>%pln_title%<!-- %pln_price_with_comma%円 %pln_point_with_comma%pt --></option>
                  </TMPL_LOOP>
                  </select>
                </div>
              </fieldset>
              
              <div class="form-group">
                <label for="kana">お振込名（カナ）</label>
                <input type="text" name="kana" value="%kana%" id="kana" placeholder="（例）ヤマダタロウ" class="form-control" />
              </div>
              
              <div class="form-group">
                <label for="date">お振込予定日</label>
                <input type="text" name="date" value="%date%" id="date" placeholder="（例）2014年1月1日" class="form-control" />
              </div>
              
              <div class="form-group">
                <label for="note">備考</label>
                <textarea name="note" id="note" class="form-control" placeholder="その他振り込みに関しての追記事項があれば、ご記入くださいませ。"></textarea>
              </div>

              <div class="text-center mgb50"><input type="submit" value="確認画面へ進む" class="btn btn-primary" /></div>
              
              <hr class=" mgb50">
              
              <div class="finfo">
                <h3>銀行振込でのチケットご利用開始までの流れ</h3>
                <ol>
                  <li>お問い合わせいただいた方に、振込口座をお知らせ致します。ご記入いただいた振込予定日までにお振込をお願いします。</li>
                  <li>お振込の際は、お振込名義の前に【%member_caption%ID】を必ず入力して下さい。</li>
                  <li>弊社にて入金確認を行います。確認には振込日を含めて2～3営業日をいただいております。<br />（営業日に土、日、祝日は含まれません）</li>
                  <li>入金の確認が完了次第、チケットの付与を行います。</li>
                  <li>チケットの付与が完了次第、運営事務局よりご連絡させていただきます。<br />ご連絡当日より、チケットのご利用が可能です。</li>
                </ol>
                <div class="gbox">
                  <h4>ご注意事項</h4>
                  <ul class="noteb">
                    <li>お振り込み手数料はお客様のご負担となります。</li>
                    <li>ご購入いただいたチケットのキャンセルはできかねますのでご了承ください。</li>
                    <li>入金確認には振込日を含めて2～3営業日をいただいております。<br /> （営業日に、土日祝日は含まれません）</li>
                  </ul>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
