<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>授業から予約 - <TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user">

  <TMPL_INCLUDE NAME="../include/header.html">
    <div id="sb-site">

      <!-- content section -->
      <section class="search bgblock">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>授業から予約</h1>
              <p class="text-center">レッスンを受けたい授業を検索し、授業の名前や写真をクリックしてください。%prof_caption%の予約を確認することが出来ます。</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <form action="%CGI_URL%" method="post">
                <input type="hidden" name="m" value="coulstfrm" />
                <div class="form-group row">
                  <div class="col-xs-12 col-sm-6">
                    <label for="s_prof_handle" class="">大カテゴリー</label>
                    <div class="clearfix">
                      <select id="s_course_ccate_id_1" name="s_course_ccate_id_1" class="form-control w100 pull-left">
                        <option value=""></option>
                        <TMPL_LOOP NAME="s_ccate_1_loop">
                          <option value="%ccate_id%" %selected%>%ccate_name%</option>
                        </TMPL_LOOP>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <label for="s_prof_fulltext">小カテゴリー</label>
                    <div class="clearfix">
                      <select id="s_course_ccate_id_2" name="s_course_ccate_id_2" class="form-control w100">
                        <option value=""></option>
                        <TMPL_LOOP NAME="s_ccate_2_loop">
                          <option value="%ccate_id%" data-pid="%ccate_pid%" %selected% hidden>%ccate_name%</option>
                        </TMPL_LOOP>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="text-center"><input type="submit" value="　授業を検索　" class="btn btn-primary"></div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- content section -->
      <section class="search bggrey">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <nav aria-label="..." class="text-center">
                <ul class="pagination">
                  <TMPL_IF NAME="prev_url">
                    <li class="page-item">
                      <a href="%prev_url%" class="page-link"> &laquo; 前へ</a>
                    </li>
                    <TMPL_ELSE>
                      <li class="page-item disabled">
                        <span class="page-link"> &laquo; 前へ</span>
                      </li>
                  </TMPL_IF>
                  <TMPL_LOOP NAME="page_loop">
                    <TMPL_IF NAME="current">
                      <li class="page-item active">
                        <span class="page-link">%page%</span>
                      </li>
                      <TMPL_ELSE>
                        <li class="page-item">
                          <a href="%url%" class="page-link">%page%</a>
                        </li>
                    </TMPL_IF>
                  </TMPL_LOOP>
                  <TMPL_IF NAME="next_url">
                    <li class="page-item">
                      <a href="%next_url%" class="page-link">次へ &raquo; </a>
                    </li>
                    <TMPL_ELSE>
                      <li class="page-item disabled">
                        <span class="page-link">次へ &raquo; </span>
                      </li>
                  </TMPL_IF>
                </ul>
              </nav>

              <p class="text-center">
                %hit_with_comma%件中、%start_with_comma%件目から%end_with_comma%件目までの%fetch_with_comma%件を表示しています。</p>
              <div class="sort">
                <ul>
                  <li>
                    <TMPL_IF NAME="sort_key_score_selected">
                      <span>人気順<u class="hideii">に並べる</u></span>
                      <TMPL_ELSE>
                        <a href="%search_base_url%&amp;sort_key=score">人気順<u class="hideii">に並べる</u></a>
                    </TMPL_IF>
                  </li>
                  <li>
                    <TMPL_IF NAME="sort_key_fee_selected">
                      <span>チケット<u class="hideii">が少ない</u>順<u class="hideii">に並べる</u></span>
                      <TMPL_ELSE>
                        <a href="%search_base_url%&amp;sort_key=fee">チケット<u class="hideii">が少ない</u>順<u
                            class="hideii">に並べる</u></a>
                    </TMPL_IF>
                  </li>
                  <li>
                    <TMPL_IF NAME="sort_key_new_selected">
                      <span>新着順<u class="hideii">に並べる</u></span>
                      <TMPL_ELSE>
                        <a href="%search_base_url%&amp;sort_key=new">新着順<u class="hideii">に並べる</u></a>
                    </TMPL_IF>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <TMPL_LOOP NAME="list_loop" COURSE_INTRO_CHARS="200">
            <div class="row profbox">
              <div class="col-xs-4 col-md-2 profface">
                <a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">
                  <TMPL_IF NAME="course_logo">
                    <img src="%course_logo_2_url%?%epoch%" width="%course_logo_2_w%" height="%course_logo_2_h%"
                      alt="" />
                    <TMPL_ELSE>
                      <img src="%static_url%/imgs/profile_blank.png" width="%course_logo_2_w%" height="%course_logo_2_h%"
                        alt="" />
                  </TMPL_IF>
                </a>
              </div>
              <div class="col-xs-8 col-md-10">
                <h2 class="profname"><a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">%course_name%</a></h2>
                <div class="txtkey coucopy">%course_copy%</div>
                <ul class="profinfo">
                  <li class="couprof">対応講師<span><TMPL_IF NAME="prof_logo"><img src="%prof_logo_2_url%?%epoch%" alt="%prof_handle%先生" /><TMPL_ELSE><img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle%先生" /></TMPL_IF> %prof_handle%</span> 先生</li>
                </ul>
                <ul class="profinfo">
                  <li>Point<span>%course_fee_with_comma%</span>pt</li>
                  <li>授業時間<span>%course_step%</span>分</li>
                  <li>カテゴリー<span>%ccate_name_1%<TMPL_IF NAME="ccate_name_2"> &gt; %ccate_name_2%</span></TMPL_IF></li>
                </ul>
                <p>%course_intro% <a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">続きを見る &raquo;</a></p>
              </div>
            </div>
          </TMPL_LOOP>

          <div class="row">
            <nav aria-label="..." class="text-center">
              <ul class="pagination">
                <TMPL_IF NAME="prev_url">
                  <li class="page-item">
                    <a href="%prev_url%" class="page-link"> &laquo; 前へ</a>
                  </li>
                  <TMPL_ELSE>
                    <li class="page-item disabled">
                      <span class="page-link"> &laquo; 前へ</span>
                    </li>
                </TMPL_IF>
                <TMPL_LOOP NAME="page_loop">
                  <TMPL_IF NAME="current">
                    <li class="page-item active">
                      <span class="page-link">%page%</span>
                    </li>
                    <TMPL_ELSE>
                      <li class="page-item">
                        <a href="%url%" class="page-link">%page%</a>
                      </li>
                  </TMPL_IF>
                </TMPL_LOOP>
                <TMPL_IF NAME="next_url">
                  <li class="page-item">
                    <a href="%next_url%" class="page-link">次へ &raquo; </a>
                  </li>
                  <TMPL_ELSE>
                    <li class="page-item disabled">
                      <span class="page-link">次へ &raquo; </span>
                    </li>
                </TMPL_IF>
              </ul>
            </nav>
          </div>

        </div>
      </section>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
    </div>
    <TMPL_INCLUDE NAME="../include/foot.html">
      <TMPL_INCLUDE NAME="../include/analysis.html">

  <script>
    (function () {
      let cate1_el = document.querySelector('#s_course_ccate_id_1');
      let cate2_el = document.querySelector('#s_course_ccate_id_2');

      initCate2Select();

      cate1_el.addEventListener('change', function () {
        cate2_el.value = '';
        initCate2Select();
      }, false);

      function initCate2Select() {
        let c1_id = cate1_el.value;
        let c2_opt_el_list = cate2_el.querySelectorAll('option[data-pid]');
        for (let i = 0, len = c2_opt_el_list.length; i < len; i++) {
          let opt_el = c2_opt_el_list.item(i);
          let pid = opt_el.getAttribute('data-pid');
          if (pid === c1_id) {
            opt_el.hidden = false;
          } else {
            opt_el.hidden = true;
          }
        }
      }
    })();
  </script>

</body>

</html>
