<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>レッスン確認 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>レッスン詳細</h1>
            <div class="wform membox mgb30">
              <div class="clearfix">
                <div class="col-xs-12 col-md-3 memface">
                  <TMPL_IF NAME="prof_logo">
                    <img src="%prof_logo_3_url%?%epoch%" alt="%prof_handle% 先生" class="img-thumbnail" />
                  <TMPL_ELSE>
                    <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle% 先生" class="img-thumbnail" />
                  </TMPL_IF>
                </div>
                <div class="col-xs-12 col-md-9 membody">
                  <h2>レッスン詳細 - %prof_handle% 先生</h2>
                  <div class="gbox text-center mgb10">
                    <TMPL_IF NAME="lsn_cancel">
                      <h3 class="text-center lmessage">キャンセルされました</h3>
                    <TMPL_ELSE>
                      <TMPL_IF NAME="lsn_today"><h3 class="text-center lmessage">本日がレッスン日です</h3></TMPL_IF>
                      <TMPL_IF NAME="lsn_during"><h3 class="text-center lmessage">只今レッスン中です</h3></TMPL_IF>
                      <TMPL_IF NAME="lsn_finished"><h3 class="text-center lmessage">このレッスンは終了しています</h3></TMPL_IF>
                      <TMPL_IF NAME="lsn_report_available">
                        <TMPL_IF NAME="lsn_member_repo_0">
                          <TMPL_IF NAME="lsn_status_0">
                          <p>お早めにレッスン完了報告をお願いいたします。</p>
                          <p>報告の期限は%lsn_report_limit_Y%年%lsn_report_limit_n%月%lsn_report_limit_j%日（%lsn_report_limit_wj%）%lsn_report_limit_G%:%lsn_report_limit_i%までです。</p>
                          </TMPL_IF>
                        </TMPL_IF>
                      </TMPL_IF>
                    </TMPL_IF>
                    <ul class="linfo">
                      <li>授業名<span>%course_name%</span></li>
                      <li>スケジュール<span>%lsn_stime_Y%年%lsn_stime_n%月%lsn_stime_j%日（%lsn_stime_wj%）%lsn_stime_G%:%lsn_stime_i%～%lsn_etime_G%:%lsn_etime_i%</span></li>
                      <li>使用チケット<span>%course_fee_with_comma%</span>pt</li>
                      <!--<li>%prof_caption%のSkype ID<span>%prof_skype_id%</span>（<a href="skype:%prof_skype_id%?add"><span class="fa fa-skype"></span> Add</a> | <a href="skype:%prof_skype_id%?call"><span class="fa fa-skype"></span> Call</a>）</li>-->
                    </ul>
                    <div class="text-center" style="margin-bottom:30px">
                    <TMPL_IF NAME="prof_skype_id">
                      <a href="skype:%prof_skype_id%?call" class="btn btn-skype"><span class="fa fa-skype"></span> Skypeでコールする</a>
                    </TMPL_IF>
                    <TMPL_IF NAME="prof_hp">
                      <a href="%prof_hp%" class="btn btn-zoom"><span class="fa fa-video-camera"></span> ZOOMに入室する</a>
                    </TMPL_IF>
                    </div>
                    <ul class="note">
                      <li>上記に記載している終了時間の5分前にはレッスンが完了いたします。</li>
                      <li>最後の5分間は%prof_caption%が次のレッスンに移動するための時間となります。</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <TMPL_UNLESS NAME="lsn_cancel">
              <TMPL_IF NAME="lsn_report_available">
                <TMPL_IF NAME="lsn_member_repo_0">
                  <TMPL_IF NAME="lsn_status_0">
                  <form action="%CGI_URL%" method="post" id="repo_form">
                    <input type="hidden" name="m" value="lsnrposet" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <input type="hidden" name="lsn_id" value="%lsn_id%" />
                    <div class="wform membox mgb30">
                      <h2>レッスン完了報告</h2>
                      <p>レッスンの完了状況を選択してください。</p>
                      
                      <fieldset class="form-group">
                        <legend class="col-form-legend">レッスン状況報告</legend>
                        <div class="form-check repo_rating_field">
                          <label class="form-check-label"><input type="radio" name="lsn_member_repo" value="1" /> 完了</label>
                          <label class="form-check-label"><input type="radio" name="lsn_member_repo" value="2" /> 未実施（%prof_caption%が来なかった）</label>
                          <label class="form-check-label"><input type="radio" name="lsn_member_repo" value="3" /> トラブル（自分）</label>
                        </div>
                        <ul class="note">
                          <li>未実施またはトラブルの場合は簡潔に説明を入力してください。</li>
                        </ul>
                        <textarea name="lsn_member_repo_note" id="lsn_member_repo_note" maxlength="140" class="form-control"></textarea>
                        <ul class="note">
                          <li>140文字まで</li>
                        </ul>
                      </fieldset>

                      <fieldset class="form-group">
                        <legend class="col-form-legend">レッスン評価</legend>
                        <div class="form-check repo_rating_field">
                          悪い
                          <input type="radio" name="lsn_member_repo_rating" value="1" />
                          <input type="radio" name="lsn_member_repo_rating" value="2" />
                          <input type="radio" name="lsn_member_repo_rating" value="3" checked="checked" />
                          <input type="radio" name="lsn_member_repo_rating" value="4" />
                          <input type="radio" name="lsn_member_repo_rating" value="5"/>
                          良い
                        </div>
                      </fieldset>
                      
                      <fieldset class="form-group">
                        <legend class="col-form-legend">レッスン感想</legend>
                        <textarea name="lsn_review" id="lsn_review" maxlength="140" class="form-control"></textarea>
                        <ul class="note">
                          <li>レッスンの感想をご入力下さい。この投稿は%prof_caption%にも届きます。</li>
                          <li>140文字まで</li>
                        </ul>
                      </fieldset>
                      <div class="text-center"><input type="submit" value="報告する" id="repo_btn" class="btn btn-primary" /></div>
                    </div>
                  </form>
                  </TMPL_IF>
                </TMPL_IF>
              </TMPL_IF>
              <TMPL_UNLESS NAME="lsn_member_repo_0">
                <div class="wform membox mgb30">
                  <h2>レッスンの評価と感想</h2>
                  <h4>報告:
                    <TMPL_IF NAME="lsn_member_repo_1">完了</TMPL_IF>
                    <TMPL_IF NAME="lsn_member_repo_2">未実施（相手が来ない）</TMPL_IF>
                    <TMPL_IF NAME="lsn_member_repo_3">トラブル（自分）</TMPL_IF>
                    <TMPL_IF NAME="lsn_member_repo_9">その他</TMPL_IF>
                  </h4>
                  <TMPL_IF NAME="lsn_member_repo_note"><p>%lsn_member_repo_note%</p></TMPL_IF>
                  <h4>評価:
                    <span class="value%lsn_member_repo_rating%">%lsn_member_repo_rating%</span>
                  </h4>
                  <TMPL_IF NAME="lsn_review"><p>%lsn_review%</p></TMPL_IF>
                </div>
              </TMPL_UNLESS>
            </TMPL_UNLESS>
            
            <div class="wform membox mgb30">
              <h2>メッセージ機能</h2>
              <p class="text-center">%prof_caption%にメッセージを送信することが可能です。事前のレッスン確認にご利用くださいませ。</p>
              
              <TMPL_IF NAME="msg_num">
                <div class="ibox mgb30">
                  <TMPL_LOOP NAME="msg_loop">
                  <h4><TMPL_IF NAME="msg_direction_1">%member_handle%さん から %prof_handle% 先生へ<TMPL_ELSE>%prof_handle% 先生から %member_handle% さんへ</TMPL_IF></h4>
                  <div class="idate">%msg_cdate_Y%/%msg_cdate_n%/%msg_cdate_j%（%msg_cdate_wj%）%msg_cdate_G%:%msg_cdate_i% 送信</div>
                  <p>%msg_content%</p>
                  </TMPL_LOOP>
                </div>
              </TMPL_IF>
              
              <form action="%CGI_URL%" method="post" id="msg_form">
                <input type="hidden" name="m" value="msgaddset" />
                <input type="hidden" name="pkey" value="%pkey%" />
                <input type="hidden" name="lsn_id" value="%lsn_id%" />

                <fieldset class="form-group">
                  <legend class="col-form-legend">%prof_handle%先生にメッセージを送る</legend>
                  <textarea name="msg_content" id="msg_content" class="form-control" maxlength="1000"></textarea>
                  <ul class="note">
                    <li>1000文字まで</li>
                  </ul>
                </fieldset>
                <div class="text-center"><input type="submit" value="送信する" id="msg_btn" class="btn btn-primary" /></div>
              </form>
            </div>
            
            <TMPL_IF NAME="lsn_cancel">
              <div class="wform membox mgb30">
                <h2>キャンセル機能</h2>
                <TMPL_IF NAME="lsn_cancel_1">
                <p>キャンセルを受け付けました。</p>
                </TMPL_IF>
                <TMPL_IF NAME="lsn_cancel_2">
                <p>%prof_caption%によってキャンセルされました。</p>
                </TMPL_IF>
                <p>キャンセル理由：%lsn_cancel_reason%</p>
              </div>
            <TMPL_ELSE>
              <TMPL_IF NAME="lsn_cancelable">
                <div class="wform membox mgb30">
                  <h2>キャンセル機能</h2>
                  <p class="text-center">レッスンのキャンセルを行う方はこちらよりキャンセルが可能です。キャンセル理由をご記入の上、ご送信ください。</p>
                  <TMPL_IF NAME="lsn_base_price">
                    <p><strong style="color:red">%lsn_pay_fee_rate%％キャンセル料（%lsn_base_price_with_comma%回）が発生します。キャンセルするとお持ちの<TMPL_IF NAME="lsn_pay_type_1">チケット<TMPL_ELSE>クーポン</TMPL_IF>からキャンセル料が差し引かれます。</strong></p>
                  </TMPL_IF>
                  <form action="%CGI_URL%" method="post" id="cancel_form">
                    <input type="hidden" name="m" value="lsncclset" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <input type="hidden" name="lsn_id" value="%lsn_id%" />

                    <fieldset class="form-group">
                      <legend class="col-form-legend">キャンセル理由</legend>
                      <textarea name="lsn_cancel_reason" id="lsn_cancel_reason" class="form-control" maxlength="140"></textarea>
                      <ul class="note">
                        <li>レッスンをキャンセルした場合、キャンセルしたタイミングにてチケットが返還されます。</li>
                        <li>レッスン開始時間の%cancelable_hours%時間前を過ぎた場合、キャンセル料としてチケットが消費されますので、ご注意ください。</li>
                        <li>140文字まで</li>
                      </ul>
                      <div class="text-center"><input type="submit" value="キャンセル" id="cancel_btn" class="btn btn-primary" /></div>
                    </fieldset>
              
                  </form>
                </div>
              </TMPL_IF>
            </TMPL_IF>
            
            <div class="wform membox mgb30">
              <h2>決済状況確認</h2>
              <div class="gbox mgb10">
                <ul class="linfo text-center">
                  <li>
                    レッスンステータス
                    <TMPL_IF NAME="lsn_status_0"><span>未確定</span></TMPL_IF>
                    <TMPL_IF NAME="lsn_status_1"><span>完了</span></TMPL_IF>
                    <TMPL_IF NAME="lsn_status_11"><span>通常キャンセル</span></TMPL_IF>
                    <TMPL_IF NAME="lsn_status_12"><span>緊急キャンセル</span></TMPL_IF>
                    <TMPL_IF NAME="lsn_status_13"><span>欠席キャンセル</span></TMPL_IF>
                    <TMPL_IF NAME="lsn_status_21"><span>%prof_caption%による通常キャンセル</span></TMPL_IF>
                    <TMPL_IF NAME="lsn_status_22"><span>%prof_caption%による緊急キャンセル</span></TMPL_IF>
                    <TMPL_IF NAME="lsn_status_23"><span>%prof_caption%による放置キャンセル</span></TMPL_IF>
                    <TMPL_IF NAME="lsn_status_29"><span>その他の理由による非課金</span></TMPL_IF>
                  </li>
                  <TMPL_UNLESS NAME="lsn_status_0">
                    <TMPL_UNLESS NAME="lsn_status_21">
                      <TMPL_UNLESS NAME="lsn_status_22">
                      <li>
                        <TMPL_IF NAME="lsn_pay_type_1">消費チケット</TMPL_IF><TMPL_IF NAME="lsn_pay_type_2">消費クーポン</TMPL_IF> <span>%lsn_base_price_with_comma%</span>回
                      </li>
                      </TMPL_UNLESS>
                    </TMPL_UNLESS>
                  </TMPL_UNLESS>
                </ul>
              </div>
            </div>
            
            <div class="wform membox mgb30">
              <h2>クチコミ機能</h2>
              <p class="text-center">%prof_caption%にクチコミを送ることが可能です。送ったクチコミは%prof_caption%の詳細ページに掲載されることがあります。</p>
              <TMPL_IF NAME="buz_num">
                <div class="ibox mgb30">
                <TMPL_LOOP NAME="buz_loop">
                  <div class="idate">%buz_cdate_Y%/%buz_cdate_n%/%buz_cdate_j%（%buz_cdate_wj%）%buz_cdate_G%:%buz_cdate_i% 送信</div>
                  <p>%buz_content%</p>
                </TMPL_LOOP>
                </div>
              </TMPL_IF>
              
              <form action="%CGI_URL%" method="post" id="buz_form">
                <input type="hidden" name="m" value="buzaddset" />
                <input type="hidden" name="pkey" value="%pkey%" />
                <input type="hidden" name="lsn_id" value="%lsn_id%" />

                <fieldset class="form-group">
                  <legend class="col-form-legend">%prof_handle%先生のクチコミを投稿</legend>
                  <textarea name="buz_content" id="buz_content" class="form-control" maxlength="300"></textarea>
                  <ul class="note">
                    <li>300文字まで</li>
                  </ul>
                </fieldset>
                <div class="text-center"><input type="submit" value="送信する" id="buz_btn" class="btn btn-primary" /></div>
              </form>
            </div>
            
          <!--<TMPL_IF NAME="lsn_extendable">-->
          <!--<div class="block t17 alignCenter">
            <form action="%CGI_URL%" method="post" class="lsn_etd_form">
              <p>現在実施中のレッスンを延長する際には、こちらを押してください。</p>
              <p>延長は（%prof_step%分）となります。</p>
              <input type="hidden" name="m" value="lsnetdset" />
              <input type="hidden" name="pkey" value="%pkey%" />
              <input type="hidden" name="lsn_id" value="%lsn_id%" />
              <input type="submit" value="延長申請する" class="lsn_etd_btn" />
            </form>
          </div>-->
          <!--</TMPL_IF>-->
              
              
              
          </div>
        </div>
      </div>
    </section>
            

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
  <script src="%static_url%/js/mypage/lsndtlfrm.js"></script>
  <script src="%static_url%/js/mypage/favset.js"></script>
  <script src="%static_url%/js/mypage/lsnetdset.js"></script>
  <style>
    #main div.block p { margin-bottom: 0.2em; }
    #main div.block p.repo_rating_field { background-color: white; font-weight: bold; padding: 0.5em; 1em; 0.5em; 1em; }
  </style>
</body>
</html>
