<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>プロフィール編集 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1>プロフィール編集</h1>
            <div class="wform">
              <p>プロフィールの編集が完了しました。</p>
              <div>[<a href="%CGI_URL%?m=parent" target="_top">マイページTOPへ</a>]</div>
              <div>[<a href="%CGI_URL%?m=mbrmodfrm" target="_top">プロフィール編集画面へ</a>]</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
  <script src="/js/jquery/jquery.slidebar.js"></script>
</body>
</html>
