<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>%member_caption%マイページ - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>%member_caption%マイページ</h1>
            <div class="wform membox mgb30">
              <div class="clearfix">
                <div class="hideib col-sm-2 memface">
                  <TMPL_IF NAME="member_logo">
                    <img src="%member_logo_2_url%?%epoch%" width="%member_logo_2_w%" height="%member_logo_2_h%" alt="%member_handle%さん" />
                  <TMPL_ELSE>
                    <img src="%static_url%/imgs/profile_blank.png" width="%member_logo_2_w%" height="%member_logo_2_h%" alt="%member_handle%さん" />
                  </TMPL_IF>
                </div>
                <div class="col-xs-12 col-sm-10">
                  <h2 class="memname">%member_handle% 様</h2>
                  <div class="mgb30">
                  <ul class="meminfo">
                    <li>保持チケット<span>%member_point_with_comma%</span>回</li>
                    <li>チケット有効期限<span>%member_point_expire_y%/%member_point_expire_m%/%member_point_expire_d%</span></li>
                  </ul>
                  <TMPL_IF NAME="member_coupon">
                  <ul class="meminfo">
                    <li>保持クーポン<span>%member_coupon_with_comma%</span>回</li>
                    <li>クーポン有効期限<span>%member_coupon_expire_y%/%member_coupon_expire_m%/%member_coupon_expire_d%</span></li>
                  </ul>
                  </TMPL_IF>
                  <TMPL_IF NAME="is_subscription_member">
                  <ul class="meminfo">
                    <li>加入プラン<span>%pln_title%</span></li>
                  </ul>
                  </TMPL_IF>
                  </div>
                  <div class="mgb30">
                    <h4>%member_caption%様用メモ帳</h4>
                    <TMPL_IF NAME="session_member_note">
                    <div class="imemo"><p>%session_member_note%</p><p class="mgb0"><a href="%CGI_URL%?m=ntemodfrm">&raquo; メモ編集</a></p></div>
                    <TMPL_ELSE>
                    <div class="imemo"><p class="nomemo">ご自由にご記入いただけるメモ帳です。レッスンで覚えておきたいことや、%prof_caption%に質問したいことなどあれば、ご記入ください。</p><p class="mgb0"><a href="%CGI_URL%?m=ntemodfrm">&raquo; メモを追加する</a></p></div>
                    </TMPL_IF>
                  </div>
                </div>
                <div class="text-center">
                  <a href="/WTE/mypage.cgi?m=mbrmodfrm" class="btn btn-primary"><span class="fa fa-user-circle"></span> プロフィール編集</a>
                  <a href="/WTE/mypage.cgi?m=passwdfrm" class="btn btn-primary"><span class="fa fa-lock"></span> パスワード変更</a>
                </div>
              </div>
            </div>
            
            <div class="wform membox mgb30">
              <h2>レッスン予約確認</h2>
              <p class="text-center">現在、%member_handle% 様が予約中のレッスンです。</p>
              <table class="table mgb30">
                <tr>
                  <th class="w10"><span class="hideii">ステータス</span></th>
                  <th class="w35"><span class="hideii">レッスン</span>日時</th>
                  <th class="w25">%prof_caption%/授業名</th>
                  <th class="w30">操作</th>
                </tr>
                <TMPL_LOOP NAME="lesson_loop" LSN_PROF_REPO_NOTE_CHARS="17" LSN_MEMBER_REPO_NOTE_CHARS="17" LSN_REVIEW_CHARS="17">
                <tr>
                  <td>
                    <TMPL_IF NAME="lsn_cancel">
                      キャンセル
                    <TMPL_ELSE>
                      <TMPL_IF NAME="lsn_finished">
                        <TMPL_IF NAME="lsn_status_0">未確定</TMPL_IF>
                        <TMPL_IF NAME="lsn_status_1">完了</TMPL_IF>
                        <TMPL_IF NAME="lsn_status_11"><span class="hiddeni">%member_caption%通常キャンセル</span><span class="viewi">キャンセル</span></TMPL_IF>
                        <TMPL_IF NAME="lsn_status_12"><span class="hiddeni">%member_caption%緊急キャンセル</span><span class="viewi">キャンセル</span></TMPL_IF>
                        <TMPL_IF NAME="lsn_status_13"><span class="hiddeni">%member_caption%放置キャンセル</span><span class="viewi">キャンセル</span></TMPL_IF>
                        <TMPL_IF NAME="lsn_status_21"><span class="hiddeni">%prof_caption%通常キャンセル</span><span class="viewi">キャンセル</span></TMPL_IF>
                        <TMPL_IF NAME="lsn_status_22"><span class="hiddeni">%prof_caption%緊急キャンセル</span><span class="viewi">キャンセル</span></TMPL_IF>
                        <TMPL_IF NAME="lsn_status_23"><span class="hiddeni">%prof_caption%放置キャンセル</span><span class="viewi">キャンセル</span></TMPL_IF>
                        <TMPL_IF NAME="lsn_status_29"><span class="hiddeni">その他理由による非課金</span><span class="viewi">その他</span></TMPL_IF>
                      <TMPL_ELSE>
                        <TMPL_IF NAME="lsn_during">授業中<TMPL_ELSE>予約中</TMPL_IF>
                      </TMPL_IF>
                    </TMPL_IF>
                  </td>
                  <td>
                    <a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%"><span class="hiddeni">%lsn_stime_Y%年</span>%lsn_stime_n%月%lsn_stime_j%日(%lsn_stime_wj%)%lsn_stime_G%:%lsn_stime_i%～%lsn_etime_G%:%lsn_etime_i%</a>
                  </td>
                  <td>
                    <div><a href="%CGI_URL%?m=prfdtlfrm&amp;prof_id=%prof_id%">%prof_handle%<span class="hiddeni"> 先生</span></a></div>
                    <div>%course_name%</div>
                  </td>
                  <td>
                    <TMPL_UNLESS NAME="lsn_cancel">
                      <TMPL_IF NAME="lsn_finished">
                        <TMPL_IF NAME="lsn_member_repo_0">
                          <TMPL_IF NAME="lsn_report_available">
                            <div><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">完了報告する</a></div>
                          </TMPL_IF>
                        <TMPL_ELSE>
                          <TMPL_IF NAME="lsn_member_repo_1"><div class="statusok">完了</div></TMPL_IF>
                          <TMPL_IF NAME="lsn_member_repo_2"><div class="statusng">トラブル</div></TMPL_IF>
                          <TMPL_IF NAME="lsn_member_repo_3"><div class="statusng">その他</div></TMPL_IF>
                          <div>%lsn_member_repo_note%</div>
                          <div class="value">評価:<span class="value%lsn_member_repo_rating%">%lsn_member_repo_rating%</span></div>
                          <TMPL_IF NAME="lsn_review"><div class="t12">%lsn_review%</div></TMPL_IF>
                            </TMPL_IF>
                      <TMPL_ELSE>
                        <div><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%"><span class="hiddeni">予約</span>確認<span class="hiddeni">する</span></a></div>
                      </TMPL_IF>
                    </TMPL_UNLESS>
                  </td>
                </tr>
                </TMPL_LOOP>
              </table>
              
              <div class="text-center">
                <a href="/WTE/mypage.cgi?m=schlstfrm" class="btn btn-primary"><span class="fa fa-calendar"></span> 日程から予約</a>
                <a href="/WTE/mypage.cgi?m=prflstfrm" class="btn btn-primary"><span class="fa fa-graduation-cap"></span> %prof_caption%から予約</a>
              </div>
            </div>
                
            <div class="wform membox mgb30">
              <h2>運営事務局からのお知らせ</h2>
              
              <div class="ibox">
                <TMPL_LOOP NAME="ann_loop">
                <h4>%ann_title%</h4>
                <div class="idate">%ann_cdate_0%/%ann_cdate_1%/%ann_cdate_2% 投稿</div>
                <p>%ann_content%</p>
                </TMPL_LOOP>
              </div>
            </div>
            
            
            <div class="wform membox mgb30">
              <h2>ダウンロードコンテンツ</h2>
              <p class="text-center">チケットを利用して、コンテンツのダウンロードが可能です。%prof_caption%とのレッスンと併用してご利用ください。</p>
              
              <h3 class="icomovie">ダウンロード動画　<span>[<a href="%CGI_URL%?m=dwnlstfrm&amp;s_dwn_type=1">一覧</a>]</span></h3>
              
              <TMPL_LOOP NAME="dwn_1_loop" DWN_INTRO_CHARS="100">
              <div class="row profbox mgb50">
                <div class="col-xs-4 col-md-2 profface">
                  <a href="%CGI_URL%?m=dwndtlfrm&amp;dwn_id=%dwn_id%">
                    <TMPL_IF NAME="dwn_logo">
                      <img src="%dwn_logo_3_url%?%epoch%" width="%dwn_logo_3_w%" height="%dwn_logo_3_h%" alt="" />
                    <TMPL_ELSE>
                      <img src="%static_url%/imgs/profile_blank.png" width="%dwn_logo_3_w%" height="%dwn_logo_3_h%" alt="" />
                    </TMPL_IF>
                  </a>
                </div>
                <div class="col-xs-8 col-md-10">
                  <h2 class="profname"><a href="%CGI_URL%?m=dwndtlfrm&amp;dwn_id=%dwn_id%">%dwn_title%</a></h2>
                  <ul class="profinfo">
                    <li>Point<span>%dwn_point_with_comma%</span>pt</li>
                    <li>公開日 %dwn_pubdate_0%-%dwn_pubdate_1%-%dwn_pubdate_2%</li>
                    <li><TMPL_IF NAME="dwn_type_1">長さ</TMPL_IF><TMPL_IF NAME="dwn_type_2">頁数</TMPL_IF> %dwn_duration%</li>
                  </ul>
                  <p>%dwn_intro% <a href="%CGI_URL%?m=dwndtlfrm&amp;dwn_id=%dwn_id%">続きを見る &raquo;</a></p>
                </div>
              </div>
              </TMPL_LOOP>
              
              <h3 class="icomovie">ダウンロードPDF　<span>[<a href="%CGI_URL%?m=dwnlstfrm&amp;s_dwn_type=2">一覧</a>]</span></h3>
              
              <TMPL_LOOP NAME="dwn_2_loop" DWN_INTRO_CHARS="100">
              <div class="row profbox mgb50">
                <div class="col-xs-4 col-md-2 profface">
                  <a href="%CGI_URL%?m=dwndtlfrm&amp;dwn_id=%dwn_id%">
                    <TMPL_IF NAME="dwn_logo">
                      <img src="%dwn_logo_3_url%?%epoch%" width="%dwn_logo_3_w%" height="%dwn_logo_3_h%" alt="" />
                    <TMPL_ELSE>
                      <img src="%static_url%/imgs/profile_blank.png" width="%dwn_logo_3_w%" height="%dwn_logo_3_h%" alt="" />
                    </TMPL_IF>
                  </a>
                </div>
                <div class="col-xs-8 col-md-10">
                  <h2 class="profname"><a href="%CGI_URL%?m=dwndtlfrm&amp;dwn_id=%dwn_id%">%dwn_title%</a></h2>
                  <ul class="profinfo">
                    <li>Point<span>%dwn_point_with_comma%</span>pt</li>
                    <li>公開日 %dwn_pubdate_0%-%dwn_pubdate_1%-%dwn_pubdate_2%</li>
                    <li><TMPL_IF NAME="dwn_type_1">長さ</TMPL_IF><TMPL_IF NAME="dwn_type_2">頁数</TMPL_IF> %dwn_duration%</li>
                  </ul>
                  <p>%dwn_intro% <a href="%CGI_URL%?m=dwndtlfrm&amp;dwn_id=%dwn_id%">続きを見る &raquo;</a></p>
                </div>
              </div>
              </TMPL_LOOP>
            </div>
              
            <!--<div class="wform membox mgb30">
              <h2>進捗報告</h2>
              <p class="text-center">先生からのアドバイスがこちらに表示されます。<br><a href="%CGI_URL%?m=prelstfrm">&raquo; 過去の一覧を見たい方はこちら</a></p>
              
              <TMPL_IF NAME="prep_num">
                <div class="ibox mgb30">
                  <TMPL_LOOP NAME="prep_loop">
                  <h4><TMPL_IF NAME="prof_id">%prof_handle%<TMPL_ELSE>%member_handle%</TMPL_IF></h4>
                  <div class="idate">%prep_cdate_Y%年%prep_cdate_n%月%prep_cdate_j%日（%prep_cdate_wj%）%prep_cdate_G%:%prep_cdate_i% 送信</div>
                  <p>%prep_content%</p>
                  </TMPL_LOOP>
                </div>
              </TMPL_IF>
              

              <form action="%CGI_URL%" method="post" id="pre_form">
                <input type="hidden" name="m" value="preaddset" />
                <input type="hidden" name="pkey" value="%pkey%" />

                <fieldset class="form-group">
                  <legend class="col-form-legend">進捗報告する</legend>
                  <textarea name="prep_content" id="prep_content" class="form-control" maxlength="500"></textarea>
                  <ul class="note">
                    <li>500文字まで</li>
                  </ul>
                </fieldset>
                <div class="text-center"><input type="submit" value="送信する" id="msg_btn" class="btn btn-primary" /></div>
              </form>
            </div>-->
              
          <!--<TMPL_IF NAME="lsn_extendable">
          <div class="points">
            現在実施中のレッスンを延長（%prof_step%分）可能です。
            <span class="button listbuttun"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%" class="green">レッスン詳細を見る</a></span>
          </div>
          </TMPL_IF>-->

          </div>
        </div>

      </div>
    </section>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
