<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>カード決済 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="" />
<meta name="keywords" content="スカイプ,%product_name%" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!--メインコンテンツstart-->
    <article id="main" class="col4">

      <section class="page bggrey">
        <div class="container tline">
          <div class="row">
            <div class="col-xs-12">
              <!--セクション見出し-->
              <h1>カード決済の流れ</h1>

              <p class="text-center mgb0">%product_name%は、クレジットカード決済、もしくは<a href="/WTE/mypage.cgi?m=bnkfrmshw">銀行決済</a>でのお支払が可能です。<br />クレジットカード決済の場合は、PayPalを利用して行います。</p>
              <h2 class="tlinefst">カード決済の流れ</h2>
              <div class="tbox clearfix">
                <img src="/assets/img/caps/caps_mypage.png" alt="マイページ" class="pull-right w50" />
                <p>サイドメニュー【カード決済】をクリックします。</p>
              </div>
              <div class="tbox clearfix">
                <img src="/assets/img/caps/caps_plancheck.png" alt="プラン選択" class="pull-right w50" />
                <p>ご希望のプランを選択し【確認画面に進む】ボタンをクリックします</p>
              </div>
              <div class="tbox clearfix">
                <img src="/assets/img/caps/caps_kakunin.png" alt="プラン確認" class="pull-right w50" />
                <p>ご注文のプランにお間違えないか確認します。問題無ければ、【カード決済手続きに進む】をクリックします</p>
              </div>
              <div class="tbox clearfix">
                <img src="/assets/img/caps/caps_paypal.png" alt="支払画面" class="pull-right w50" />
                <p>クレジットカード情報を入力する欄が表示されます。<br />ご利用になるカード情報の入力し、【今すぐ支払う】ボタンをクリックしてください。</p>
                <div class="block">
                  <ul class="annotation">
                    <li>クレジットカード有効期限切れのものはご利用いただけません</li><li>画面が切り替わるまでに少々お時間がかかることがございますが、【今すぐ支払う】ボタンは1度クリックしていただければ問題ございません。</li>
                  </ul>
                </div>
              </div>
              <div class="tbox clearfix">
                <img src="/assets/img/caps/caps_paypalend.png" alt="完了" class="pull-right w50" />
                <div>画面が以下のように変わりましたら、完了となります。<br />チケットの付与に少々お時間をいただくことがございますので、マイページのトップにて所持チケットをご確認くださいませ。</div>
              </div>
              <h2>解約の流れ</h2>

              <div class="tbox clearfix">
                <img src="/assets/img/caps/caps_kaiyaku.png" alt="マイページ" class="pull-right w50" />
                <div>サイドメニュー【カード決済】をクリックします。解約ボタンが表示されるので、クリックします。</div>
              </div>
              <div class="tbox clearfix">「本当に解約してもよろしいですか?」という確認画面が表示されるので「OK」を選択してくださいませ。</div>
              <div class="tbox clearfix">「解約が完了しました。」という表示がでたら解約完了です。</div>

              <!-- <h2>PayPalとは？</h2>
              <div class="tbox clearfix">
                <p>インターネットを利用した決済サービスです。%product_name%では、PayPalを決済代行会社としております。190の国・地域、800万のECサイトで利用されています。<br />%product_name%ではクレジットカード情報を所持せず、全てPayPal側で管理をすることが出来ます。お客様がカードでの支払いを行う際、クレジットカード情報のみをご入力いただければすぐに決済を行うことが可能です。</p>
              </div>
              <div class="tbox clearfix">
                <div class="block">
                  <h3>ここがチケット！</h3>
                  <ul class="annotation">
                    <li>%member_caption%登録をする必要が無く、クレジットカードでの支払いが出来る</li>
                    <li>お支払いを停止する場合もボタン一つで出来る</li>
                  </ul>
                </div>
              </div> -->

              <div class="text-center" style="margin-top:2em;"><a href="/WTE/mypage.cgi?m=crdfrmshw" class="btn btn-primary">カード決済に戻る</a></div>
            </div>
          </div>
        </div>
      </section>


    </article>
    <!--メインコンテンツend-->

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
