<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>日程から予約 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
          <h1>日程から予約</h1>
          <p class="text-center">カレンダーの日にち部分をクリックすると、日時指定でスケジュール予約が出来ます。</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="wform calendar">
            

              <ul class="noteb">
                <li>予約はレッスン開始<strong>%lesson_reservation_limit%<span class="limitunit">%lesson_reservation_limit_unit%</span>前</strong>までであれば受け付け可能です。</li>
                <li>またキャンセルは<strong>%cancelable_hours%時間前</strong>まで受け付け可能です。</li>
                <li>時刻はすべて<strong>日本の現地時間</strong>で表示しています。海外在住の方はご注意ください</li>
              </ul>
            
              <nav aria-label="..." class="text-center">
                <ul class="pagination">
                    <TMPL_IF NAME="last_month_disabled">
                      <li class="page-item disabled"><span class="page-link"><span class="hideii"> &laquo; </span>%last_month_Y%年%last_month_n%月</span></li>
                    <TMPL_ELSE>
                      <li class="page-item"><a href="%CGI_URL%?m=schlstfrm&amp;ym=%last_month_Y%%last_month_m%&amp;branch_id=%branch_id%" id="last_month_link" class="page-link"><span class="hideii"> &laquo; </span>%last_month_Y%年%last_month_n%月</a></li>
                    </TMPL_IF>

                  <li class="page-item active">
                    <span class="page-link"> %this_month_Y%年%this_month_n%月 </span>
                  </li>
                    <TMPL_IF NAME="next_month_disabled">
                      <li class="page-item disabled"><span class="page-link"> %next_month_Y%年%next_month_n%月<span class="hideii"> &raquo; </span></span></li>
                    <TMPL_ELSE>
                      <li class="page-item"><a href="%CGI_URL%?m=schlstfrm&amp;ym=%next_month_Y%%next_month_m%&amp;branch_id=%branch_id%" id="next_month_link" class="page-link"> %next_month_Y%年%next_month_n%月<span class="hideii"> &raquo; </span></a></li>
                    </TMPL_IF>
                </ul>
              </nav>
            
              <table class="schlst">
               <thead>
                <tr>
                  <th class="sun"><span>日</span></th>
                  <th><span>月</span></th>
                  <th><span>火</span></th>
                  <th><span>水</span></th>
                  <th><span>木</span></th>
                  <th><span>金</span></th>
                  <th class="sat"><span>土</span></th>
                </tr>
               </thead>
               <tbody>
                <TMPL_LOOP NAME="week_loop">
                <tr>
                  <TMPL_LOOP NAME="day_loop">
                  <td class="%othermonth% %today% %disabled%" <TMPL_UNLESS NAME="disabled">onclick="document.location.href='%CGI_URL%?m=lsnrsvfrm&amp;d=%Y%%m%%d%';"</TMPL_UNLESS>>
                    %j%
                    <TMPL_IF NAME="lsn_num">
                    <ul>
                      <TMPL_LOOP NAME="lsn_loop">
                        <TMPL_IF NAME="disabled">
                          <li class="finished"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">%stime% 終了<br />%prof_handle% 先生</a></li>
                        <TMPL_ELSE>
                          <li class="reserved"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">%stime% レッスン<br />%prof_handle% 先生</a></li>
                        </TMPL_IF>
                      </TMPL_LOOP>
                    </ul>
                    </TMPL_IF>
                  </td>
                  </TMPL_LOOP>
                </tr>
                </TMPL_LOOP>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

		<!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
	<script>
	$(function() {
		$('.limitunit').each(function(){
			var txt1 = $(this).html();
			$(this).html(
				txt1.replace('d','日')
			);
		});
		$('.limitunit').each(function(){
			var txt2 = $(this).html();
			$(this).html(
				txt2.replace('h','時間')
			);
		});
		$('.limitunit').each(function(){
			var txt3 = $(this).html();
			$(this).html(
				txt3.replace('m','分')
			);
		});
	});
	</script>
	<style>
	    td.disabled { background-color: #eeeeee; }
	</style>
</body>
</html>
