<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>小論文のプロフェッショナルが指導 オンライン家庭教師</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="小論文のプロフェッショナルが指導 オンライン家庭教師" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <meta property="og:site_name" content="KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="小論文のプロフェッショナルが指導 オンライン家庭教師" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <TMPL_INCLUDE NAME="../include/head_cv.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_cv2.html">

      <main role="main" class="wt_main wt_essay">

        <section class="wt_mainvis">
          <div class="wt_catch">
            <div class="wt_catch_circle">
              <div>
                <h4 class="txt_lt mt-4">25年の実績</h4>  
                <h2 class="txt_lt pb-0">小論文のプロフェッショナルが指導</h2>  
                <h1 class="mb-5">オンライン家庭教師</h1>
                <div class=""><a href="#register" class="btn wt_btn btn-primary rounded-pill ">無料で動画視聴する</a></div>
              </div>
            </div>
          </div>
          <ul class="wt_slider">
            <li class="wt_slider_es"></li>
          </ul>
        </section>


        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">選ばれる<strong class="txt_kiri">6つのポイント</strong></h2>
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_school.png" class="w-75" alt="設立50年 教育出版社の桐原書店がノウハウを惜しみなくお伝えします！">
                  </div>
                  <p>設立50年<br>教育出版社の桐原書店が<br class="d-none d-sm-block">ノウハウを惜しみなくお伝えします！</p>
              </div>
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_lecture.png" class="w-75" alt="延べ300校以上から講演依頼殺到！大人気講師を独り占め！">
                  </div>
                  <p>のべ数千校以上から講演依頼殺到！<br class="d-none d-sm-block">大人気講師を独り占め！</p>
              </div>
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_checklist.png" class="w-75" alt="最新の入試傾向を知ることができる">
                  </div>
                  <p>最新の入試傾向を<br class="d-none d-sm-block">知ることができる</p>
              </div>
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_video.png" class="w-75" alt="「便利さ」いつでもどこでも何度でも学習できる">
                  </div>
                  <p>「便利さ」<br>いつでもどこでも何度でも<br class="d-none d-sm-block">学習できる</p>
              </div>
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_writing.png" class="w-75" alt="学びを定着 レッスン毎に前回の復習の時間があります！定着化を目指します。">
                  </div>
                  <p>学びを定着<br>レッスン毎に前回の復習の時間があります！<br class="d-none d-sm-block">定着化を目指します。</p>
              </div>
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_ethics.png" class="w-75" alt="短期集中型 入試目前の学生のためにぎゅっと4講義に凝縮">
                  </div>
                  <p>短期集中型<br>入試目前の学生のために<br class="d-none d-sm-block">ぎゅっと4講義に凝縮</p>
              </div>

            </div>   

              
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center"><a href="#register" class="btn btn-danger rounded-pill wt_btn">無料で動画視聴する</a></div>
              </div>
            </div>              
              
              
          </div>
        </section>

        <section class="wt_sec_grey">
          <div class="container">
              
            <div class="row">
              <div class="col-12 col-lg-8 offset-lg-2">              

                <div class="wt_problem">
                  <h3 class="text-center">学習出来る事</h3>
                  <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                      <ul class="p-0 mb-0 p-lg-3">
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>合格するための答案を書くことができるようになる</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>そもそも小論文とは何かが理解できる</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>小論文の勉強方法が分かり、独力により書く力の向上が可能</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>実施時期の早い総合型選抜型・推薦入試に効率良く対応することが可能</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>多様な設問形式に対応できる考え方、書き方を学ぶことができる</li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>



        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">選べる<strong class="txt_kiri">3つのコース</strong></h2>
                <p class="text-center">自分に合ったコースを選択！</p>

              </div>
            </div>
              
            <div class="row"> 
                
              <div class="col-12 col-xl-4 mb-4 wt_course_wap">
                <div class="wt_card wt_card_g wt_course">
                  <h3 class="text-center">小論文の書き方 初中級コース</h3>
                  <p>小論文を書くとき、一行目から悩んでいませんか？すらすら答案が書けるようになります！</p>
                    <table class="">
                        <tr>
                            <td class="w-20"><strong>時間</strong></td>
                            <td><strong>25分×4</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>料金</strong></td>
                            <td><strong>5,500円</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>内容</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="w-20">第一回</td>
                            <td>小論文のルール</td>
                        </tr> 
                        <tr>
                            <td class="w-20">第二回</td>
                            <td>小論文のテクニック・出題形式</td>
                        </tr>
                        <tr>
                            <td class="w-20">第三回</td>
                            <td>小論文でやってはいけない事</td>
                        </tr> 
                        <tr>
                            <td class="w-20">第四回<br><small style="white-space: nowrap;">(オンデマンド)</small></td>
                            <td>小論文の効率的な勉強方法</td>
                        </tr>                        
                    </table>    
                </div>
              </div>

               <div class="col-12 col-xl-4 mb-4 recommend">
                <h4 class="text-center">おすすめ</h4>   
                <div class="wt_card wt_card_g wt_course">
                  <h3 class="text-center">小論文の書き方 中上級コース</h3>
                  <p>一応答案が書けても、どのように点数を伸ばすか困っていませんか？具体的に得点を稼げるポイントを明瞭解説！</p>
                    <table class="">
                        <tr>
                            <td class="w-20"><strong>時間</strong></td>
                            <td><strong>25分×4</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>料金</strong></td>
                            <td><strong>6,600円</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>内容</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="w-20">第一回</td>
                            <td>小論文の基本構成(基礎・応用)</td>
                        </tr> 
                        <tr>
                            <td class="w-20">第二回</td>
                            <td>実践演習(多角視点)</td>
                        </tr>
                        <tr>
                            <td class="w-20">第三回</td>
                            <td>小論文の出題形式別テクニック</td>
                        </tr> 
                        <tr>
                            <td class="w-20">第四回<br><small style="white-space: nowrap;">(オンデマンド)</small></td>
                            <td>総復習・本番に向けて直前対策</td>
                        </tr> 
                       
                    </table>    
                </div>
              </div>  
                
               <div class="col-12 col-xl-4 mb-4 wt_course_wap">
                <div class="wt_card wt_card_g wt_course" style="height: 100%;">
                  <h3 class="text-center">個別指導コース</h3>
                  <p>プロフェッショナル講師を独り占め</p>
                    <table class="">
                        <tr>
                            <td class="w-20"><strong>時間</strong></td>
                            <td><strong>25分×1</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>料金</strong></td>
                            <td><strong>3,630円</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>内容</strong></td>
                            <td>スペシャリスト講師からマンツーマン指導！<br><small>(ライブ授業 ※Skypeを使用)</small>
                        </tr>
                        <tr>                
                            <td colspan="2">
                                <p class="mb-0 px-0 mr-1">1. 志望理由書とは何か</p>
                                <ul class="px-3 mr-0">
                                    <li>そもそもどのような目的で提出を求められる書類なのか</li>
                                    <li>書くべき内容は何なのか</li>
                                </ul>
                                <p class="mb-0 px-0 mr-1">2. 志望理由書の基本的な書き方</p>
                                <ul class="px-3 mr-0">
                                    <li>個々の書くべき要素はどういうものか</li>
                                    <li>文章化するときの注意点とは</li>
                                </ul>
                                <p class="mb-0 px-0 mr-1">3. より高い評価を受けるために</p>
                                <ul class="px-3 mr-0">
                                    <li>全文を構成する際のコツ</li>
                                    <li>表現面の注意点 </li>                                
                                </ul>
                            </td>
                        </tr>
                    </table>    
                </div>
              </div>  
            </div>
              
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center"><a href="#register" class="btn btn-danger rounded-pill wt_btn">無料で動画視聴する</a></div>
              </div>
            </div>                 
              
          </div>
        </section>


        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">受講までの<strong class="txt_kiri">流れ</strong></h2>
                <p class="text-center">最短3分！すぐに学習を始められます。</p>  
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_1 mb-5">
                <span class="wt_flow_step"><span class="lead">1</span></span>
                <img src="/assets/img/reg/flow_1.png" alt="無料会員登録をする" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">無料会員登録をする</h3>
                <p>氏名・メールアドレスを記載するのみ！簡単30秒！</p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_2 mb-5">
                <span class="wt_flow_step"><span>2</span></span>
                <img src="/assets/img/reg/flow_2.png" alt="お申込みをする" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">お申込みをする</h3>
                <p>すぐにメールをお送りします。お申込みフォームに入力して完了！</p>  
              </div>
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_3 mb-5">
                <span class="wt_flow_step"><span>3</span></span>
                <img src="/assets/img/reg/flow_3.png" alt="レッスン受講開始" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">レッスン受講開始</h3>
                <p>お支払いの確認ができましたら、視聴用のリンクをお送りします。テキストをダウンロードし、即受講いただけます。</p>  
              </div>
            </div>
          </div>
        </section>
          
        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-8 offset-lg-2">              

                <div class="wt_problem wt_problem_g">
                  <h3 class="text-center">こんな方に<strong class="txt_kiri">おすすめ</strong></h3>
                  <div class="row mt-5">
                    <div class="col-6 col-md-8 col-lg-8 col-xl-6 offset-xl-1">
                      <ul class="p-0 mb-0 p-lg-3">
                        <li class="mb-4 mt-xl-4"><strong><span class="fas fa-check-square" aria-hidden="true"></span>大学入試まで時間がない方</strong></li>
                        <li class="mb-4"><strong><span class="fas fa-check-square" aria-hidden="true"></span>何から勉強してよいかわからない</strong></li>
                        <li><strong><span class="fas fa-check-square" aria-hidden="true"></span>学校で小論文の指導がなくお困りの学生</strong></li>
                      </ul>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 offset-xl-1 text-center">
                      <img src="/assets/img/reg/img_reg_recommend.png" alt="こんな方におすすめ" class="mt-3 mt-xl-0 w-100">
                    </div>                      
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>  
          
        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">講師紹介</strong></h2>
              </div>
            </div>
            <div class="row mt-5">
               <div class="col-12 col-xl-6 mb-4 text-center">
                <div class="wt_card wt_course pt-5">
                <!--<img src="/assets/img/reg/img_reg_prof.png?v2" class="rounded-circle w-50" alt="唐澤邦仁">-->
                    <div class="wt_youtube_cont mx-3">
                      <div class="wt_youtube">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/adtqYGG2y5w?rel=0&theme=light&showinfo=0&autohide=1&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      </div>
                    </div>
    
                  <h3 class="text-center mt-4" style="color: #343434;">唐澤邦仁</h3>
                  <p class="text-left">これまで300校以上の高校で、約6万人の高校生、1500人の先生方に小論文の書き方を伝授してきました。<br>小論文は決してラッキー・アンラッキーの試験ではなく、得点を重ねていける書き方のある試験です。<br>ぜひ本講座で効率的な小論文の書き方を習得してください。</p>
                  <p class="text-left mb-0"><small>※会員登録すると、小論文の書き方の動画講座1話分を無料で視聴可能です</small></p>
                </div>
              </div>
               <div class="col-12 col-xl-6 mb-4 text-center">
                <div class="wt_card wt_course pt-5">
                  <div class="wt_youtube_cont mx-3">    
                    <img src="/assets/img/reg/img_reg_prof2.png" class="w-100 mb-0" style="border-radius: 0;" alt="井端紀子">    
                  </div>
                  <h3 class="text-center mt-4" style="color: #343434;">井端紀子</h3>
                  <p class="text-left">小論文についての疑問を解決します。<br>「小論文」と聞いただけで苦手意識を持ってしまう人も多いでしょう。しかし小論文は、コツをつかめば書けるようになります。そして、書いたものには「よい所」が必ずあります。その「よい所」を生かして自信につなげるためのお手伝いをいたします。</p>
                  <p class="text-left mb-0"><small>※個別指導コースの担当をさせていただきます</small></p>
                </div>
              </div>                
            </div>
          </div>
        </section>          

       


          <section class="wt_sec_bg_1 wt_toeic">
            <div class="container pdb0">
              <div class="row">
                <div class="col-12 mb-5">
                  <h2 class="text-center">よくある<strong class="txt_kiri">質問</strong></h2>
                </div>
              </div>
            </div>
            <div class="container faq">
              <div class="row">
                <div class="col-12 mb-5">
                  <h2>オンライン家庭教師に関するご質問</h2>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>お支払い方法を教えてください</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">クレジットカード・銀行振込でのお支払いが可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>受講期限はありますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">申込日から3ヶ月です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>視聴期限はありますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">購入いただければ永遠に視聴可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>パソコン・タブレットは必要でしょうか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">画面上でテキストを見ながら学習する場合は必要です。携帯での受講も可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>個別指導コースのみの受講はできますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">可能ですが、オンデマンドを受講頂いた後に個別指導コースの受講がおすすめです！</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>教材の購入は必要ですか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">テキスト教材の購入は不要です。弊社オリジナルの教材をPDFでダウンロードしていただきます。</p></div>
                  </div>

 

                </div>

              </div>

                 

            </div>
          </section>          
          

        <section id="register">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">まずは<strong class="txt_kiri">無料で動画視聴</strong>を<br class="d-block d-md-none">会員登録はこちらから</h2>
                <p class="text-lg-center mb-lg-5">会員登録いただいた方には、無料動画を用意しています。</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">
                <div class="wt_form wt_form_layer">

                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="cfmset" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <TMPL_IF NAME="errs">
                      <p class="errs">%errs%</p>
                    </TMPL_IF>

                    <div class="form-group" style="display: none">
                      <label class="required %member_lastname_err% %member_firstname_err%">お名前</label>
                      <div class="row">
                        <div class="col-2 col-sm-1">
                          <label for="member_lastname" class=" %member_lastname_err% %member_firstname_err%">%member_lastname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_lastname" name="member_lastname" value="%member_lastname%" placeholder="（例）山田" class="form-control %member_lastname_err%" />
                        </div>
                        <div class="col-2 col-sm-1">
                          <label for="member_firstname" class="%member_lastname_err% %member_firstname_err%">%member_firstname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_firstname" name="member_firstname" value="%member_firstname%" placeholder="（例）太郎" class="form-control %member_firstname_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_handle" class="required %member_handle_err%">%member_handle_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_handle" name="member_handle" value="%member_handle%" placeholder="（例）桐原一郎" class="form-control %member_handle_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_email" class="required %member_email_err%">%member_email_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_email" name="member_email" value="%member_email%" placeholder="（例）yamada@example.com" class="form-control %member_email_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_pass" class="required %member_pass_err%">%member_pass_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="password" id="member_pass" name="member_pass" value="%member_pass%" placeholder="%member_pass_caption%を入力してください（8～12文字）" class="form-control %member_pass_err%" />
                          <div class="form-group">
                            <input type="password" id="member_pass2" name="member_pass2" value="%member_pass2%" placeholder="確認の為、再度%member_pass_caption%を入力してください" class="form-control %member_pass2_err%" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" style="display:none;">
                      <label for="coupon_code" class="%coupon_code_err%">%coupon_code_caption%</label>
                      <input type="text" id="coupon_code" name="coupon_code" value="rwmvhpjo" class="form-control %coupon_code_err%" />
                      <ul class="note">
                        <li>%coupon_code_caption%をお持ちの方は、ここに8桁の半角英数字で入力してください</li>
                      </ul>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="agree">利用規約</label>
                        </div>
                        <div class="col-12 col-xl-8 mb-5">
                          <div class="wt_termsbox wt_termsbox_lp">
                            <div>
                              <TMPL_INCLUDE NAME="../include/agreement.html">
                            </div>
                            <div>
                              <TMPL_INCLUDE NAME="../include/privacypolicy.html">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center">
                          <h5 class="text-center">規約に同意いただいた方は、「次へすすむ」ボタンを押してください</h5>
                        </div>
                      </div>

                      <div class="text-center mb-5">
                        <input type="submit" value="次へすすむ" class="btn btn-danger rounded-pill wt_btn" />
                      </div>

                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer_lp.html">
        <TMPL_INCLUDE NAME="../include/foot_cv.html">
          <script src="%static_url%/js/dom.js"></script>
          <script src="%static_url%/js/inputlimit.js"></script>
          <style>
            #coupon_code {
              width: 8em;
            }

          </style>
</body>

</html>
