<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>2ヶ月で結果をつくる！短期集中型オンラインTOEIC対策コース</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="2ヶ月で結果をつくる！短期集中型オンラインTOEIC対策コース" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <meta property="og:site_name" content="KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="2ヶ月で結果をつくる！短期集中型オンラインTOEIC対策コース" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <TMPL_INCLUDE NAME="../include/head_cv.html">
    <style>
      .owl-carousel-cr .owl-stage-outer {
        padding-top: 25px;
      }
    </style>
<script src="https://www.googleoptimize.com/optimize.js?id=OPT-NWGGNLZ"></script>
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_cv.html">

      <main role="main" class="wt_main">

        <section class="wt_mainvis">
          <div class="wt_catch">
            <div class="wt_catch_circle">
              <div>
                <h1 class="mb-5">短期集中型！2ヶ月で<br>500点・600点・730点突破<br>オンラインのTOEIC対策</h1>
                <div class="wt_mvbtn"><a href="#register" onclick="ga('send','event','LP','click','reg_2_toeic_catch');" class="btn btn-danger rounded-pill btn-lg">無料体験レッスン実施中 →</a></div>
              </div>
            </div>
          </div>
          <ul class="wt_slider">
            <li class="wt_slider_t"></li>
          </ul>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">TOEIC&reg;L&amp;Rテストの<br class="d-block d-md-none"><strong class="txt_kiri">スコアアップ</strong>に<br>
                  2ヶ月間の<strong class="txt_kiri">短期集中コース</strong><br class="d-block d-md-none">を提供します</h2>
                <p class="text-left">英語の検定教科書などの出版を行っている桐原書店が開発したオンライン学習サービス「KIRIHARA Online Academy」。</p>
                <p class="text-left">効率的にTOEIC&reg;L&amp;Rテストのスコアアップを目指す、オリジナルのカリキュラムを用意いたしました。</p>
                <p class="text-left text-danger"><strong>※コース修了までの期間：1ヶ月（週2レッスン）～2ヶ月（週1レッスン）</strong></p>
                <div class="wt_problem mb-5">
                  <h3 class="text-center">こんな方におすすめです</h3>
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <ul class="text-center p-0 mb-0 p-lg-3">
                        <li><span class="fas fa-check" aria-hidden="true"></span>仕事で忙しくなかなか時間がとれない</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>会社でTOEICスコアを求められている</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>就職や転職のためにスコアを上げたい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>英語学習の目標づくりにTOEICを受験</li>
                      </ul>
                    </div>
                    <div class="col-12 col-lg-6">
                      <ul class="text-center p-0 mb-0 p-lg-3">
                        <li><span class="fas fa-check" aria-hidden="true"></span>初めての試験で勉強方法がわからない</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>無駄のない効率的な学習法を知りたい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>スケジュールとやることを決めたい</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <p class="wt_mcopy">＼<script>
                    var today = new Date();
                    var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                    document.write((lastDay.getMonth() + 1) + "/" + lastDay.getDate() + "");
                    </script>までプラン価格13%OFF／</p>
                </div>

                <div class="wt_mvbtn text-center"><a href="#register" onclick="ga('send','event','LP','click','reg_3_toeic_intro');" class="btn btn-danger rounded-pill btn-lg">無料体験レッスン実施中 →</a></div>
              </div>
            </div>
          </div>
        </section>

        <section class="wt_sec_grey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">KIRIHARA Online AcademyのTOEIC®対策はここが<strong class="txt_kiri">違う</strong>！</h2>
              </div>
            </div>
              <div class="row">
                <div class="col-12 col-md-6 text-center wt_feature wt_feature_1">
                  <img src="/assets/img/toeic/feature_1.jpg?3" alt="TOEIC®️スコアアップのための短期集中カリキュラムを準備"
                    class="w-100 rounded">
                  <h3>TOEIC®️スコアアップのための<br><strong>短期集中カリキュラム</strong>を準備</h3>
                  <p class="text-left">KIRIHARA Online Academyは
                    TOEIC®️対策に特化したオンライン英会話スクールです。<br>2カ月でスコアアップするための、学習カリキュラムを組んでいるため、学習に迷うことなく専念することができます。</p>
                </div>
                <div class="col-12 col-md-6 text-center wt_feature wt_feature_2">
                  <img src="/assets/img/toeic/feature_2.jpg?2" alt="日本人の英会話講師がマンツーマンで学習サポート" class="w-100 rounded">
                  <h3><strong>日本人の英会話講師</strong>が<br>マンツーマンで学習サポート</h3>
                  <p class="text-left">
                    オンラインレッスンは実際にTOEIC®️の高スコアを所持する日本人講師が担当しています。<br>TOEIC®️対策の指導に加えて、学習の進捗管理も行い、試験までマンツーマンでサポートさせていただきます。
                  </p>
                </div>
                <div class="col-12 col-md-6 text-center wt_feature wt_feature_3">
                  <img src="/assets/img/toeic/feature_3.jpg?2" alt="TOEIC®️対策に特化した講座を完全オンラインで提供" class="w-100 rounded">
                  <h3>TOEIC®️対策に特化した講座を<br><strong>完全オンライン</strong>で提供</h3>
                  <p class="text-left">KIRIHARA Online
                    Academyは桐原書店が立ち上げたオンライン英会話スクールです。<br>忙しい皆さまが効率的に学習を進めるためにも、自宅でインターネットさえあれば学習ができる環境を用意いたしました。</p>
                </div>
                <div class="col-12 col-md-6 text-center wt_feature wt_feature_4">
                  <img src="/assets/img/toeic/feature_4.jpg?2" alt="55年の英語教材開発の実績" class="w-100 rounded">
                  <h3>55年の英語教材開発の実績<br><strong>桐原書店の教材</strong>を活用</h3>
                  <p class="text-left">
                    コースの開発は、これまで学校の検定教科書や英語学習教材を55年間作り続けてきた桐原書店が行っています。<br>コース監修に多くのTOEIC&reg;教材の著者でもある早川幸治先生を迎え、講座の品質に関しては絶対の自信がございます。
                  </p>
                </div>
              </div>
          </div>
        </section>

        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">ご利用いただいた<br class="d-block d-md-none"><strong class="txt_kiri">生徒様の声</strong></h2>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">

              <div class="owl-carousel owl-carousel-cr mb-5">
                <div class="wt_card wt_lp_voice container">
                  <div class="row">
                    <div class="col-3 col-md-1 col-lg-2">
                      <img src="/assets/img/voice/voice_29.png" class="w-100 h-auto rounded-circle mb-2" />
                    </div>
                    <div class="col-8 col-md-11 col-lg-10 pl-0">
                      <h4 class="mb-0 p-0">やればできるんだ！<br class="d-block d-md-none">という自信を持てました</h4>
                      <p class="wt_lp_voicemeta p-0">Mさん 女性　2022年5月コース修了</p>
                      <span class="wt_scoreup">スコア<br><strong>150</strong>点<br>UP!</span>
                    </div>
                    <div class="d-block d-md-none">
                      <p class="mb-3">結果は前回より150点もアップ致しました。<br>ご指導いただきました先生、ありがとうございました。</p>
                      <p class="mb-0">御社の教材アプリも非常に使いやすかったです。<br>これからも学習を続けていきたいと思います。</p>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="mb-4">お世話になります。<br>先日受験しましたTOEICの結果がでましたのでご報告とお礼をお伝えしたくご連絡しました。</p>
                      <p class="mb-4">結果は730点には届きませんでしたが、前回より150点もアップ致しました。<br>ご指導いただきました先生、ありがとうございました。</p>
                      <p class="mb-0">御社の教材アプリも非常に使いやすかったです。<br>引き続き学習を続けていきたいと思います。<br>まずは、やればできるんだという自信をつけて下さりありがとうございました！</p>
                    </div>
                  </div>
                </div>

                <div class="wt_card wt_lp_voice container">
                  <div class="row">
                    <div class="col-3 col-md-1 col-lg-2">
                      <img src="/assets/img/voice/voice_33.png" class="w-100 h-auto rounded-circle mb-2" />
                    </div>
                    <div class="col-8 col-md-11 col-lg-10 pl-0">
                      <h4 class="mb-0 p-0">先生がいた方が<br class="d-block d-md-none">飛躍的に伸びると思います</h4>
                      <p class="wt_lp_voicemeta p-0">Nさん 女性　2022年7月コース修了</p>
                      <span class="wt_scoreup">スコア<br><strong>125</strong>点<br>UP!</span>
                    </div>
                    <div class="d-block d-md-none">
                      <p class="mb-3">短期間なので、集中しやすいと思います。<br>テキストを送って頂けるので、迷いなく取り組めます。</p>
                      <p class="mb-0">講師の方も熱心で、向上心が高まります。<br>英語学習に、益々意欲が高まりました。</p>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="mb-4">短期間なので、集中しやすいと思います。<br>テキストを送って頂けるので、迷いなく取り組めます。<br>講師の方も熱心で、向上心が高まります。<br>独学もよいですが、トレーナーがいた方が、飛躍的に学力が伸びると思います。</p>
                      <p class="mb-0">先生とお会い出来て良かったです。英語学習に、益々意欲が高まりました。</p>
                    </div>
                  </div>
                </div>

                <div class="wt_card wt_lp_voice container">
                  <div class="row">
                    <div class="col-3 col-md-1 col-lg-2">
                      <img src="/assets/img/voice/voice_32.png" class="w-100 h-auto rounded-circle mb-2" />
                    </div>
                    <div class="col-8 col-md-11 col-lg-10 pl-0">
                      <h4 class="mb-0 p-0">楽しいと思いながら<br class="d-block d-md-none">勉強できるようになりました</h4>
                      <p class="wt_lp_voicemeta p-0">Sさん 女性　2022年8月コース修了</p>
                      <span class="wt_scoreup">スコア<br><strong>110</strong>点<br>UP!</span>
                    </div>
                    <div class="d-block d-md-none">
                      <p class="mb-3">英語の勉強をするのが嫌で仕方なかった私が楽しいと思いながら勉強できるようになりました<br>今まで本当にありがとうございます。</p>
                      <p class="mb-0">このコースを受講して、受講する前よりTOEICの点数が伸びたり、解きやすくなったりと成果が現れました。<br>講師の方も親身になって寄り添ってくださり、英語の楽しさを知ることが出来ました。</p>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="mb-4">英語の勉強をするのが嫌で仕方なかった私が楽しいと思いながら勉強できるようになりました<br>今まで本当にありがとうございます。</p>
                      <p class="mb-0">このコースを受講して、受講する前よりTOEICの点数が伸びたり、解きやすくなったりと成果が現れました。<br>講師の方も親身になって寄り添ってくださり、英語の楽しさを知ることが出来ました。</p>
                    </div>
                  </div>
                </div>

                <div class="wt_card wt_lp_voice container">
                  <div class="row">
                    <div class="col-3 col-md-1 col-lg-2">
                      <img src="/assets/img/voice/voice_23.png" class="w-100 h-auto rounded-circle mb-2" />
                    </div>
                    <div class="col-8 col-md-11 col-lg-10 pl-0">
                      <h4 class="mb-0 p-0">TOEIC学習のコツを<br class="d-block d-md-none">理解できました！</h4>
                      <p class="wt_lp_voicemeta p-0">Sさん 男性　2021年10月コース修了</p>
                      <span class="wt_scoreup">スコア<br><strong>100</strong>点<br>UP!</span>
                    </div>
                    <div class="d-block d-md-none">
                      <p class="mb-3">TOEICをはじめて受けた時は自分でやみくもに勉強していましたが、カリキュラムがあるとやりやすいです。</p>
                      <p class="mb-0">もっとスコアを上げたいので、教えてもらった学習方法も今後つづけて必ずスコアを上げます！ありがとうございました。</p>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="mb-4">TOEICをはじめて受けた時は自分でやみくもに勉強していましたが、今回KIRIHARA Online Academyのカリキュラムを実行し、とてもやりやすかったです。<br>結果は90点アップとなりましたが、もっとスコアを上げていきたいです。</p>
                      <p class="mb-0">教えてもらった学習方法は今後も使えるものですので、引き続き学習をつづけて、必ずスコアを上げます！<br>指導いただいた先生ありがとうございました！</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="wt_sec_grey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">TOEIC&reg;L&amp;Rテスト<br class="d-block d-md-none">突破コースの<strong class="txt_kiri">料金プラン</strong></h2>
                <p>KIRIHARA Online Academyでは学習者の目標に合わせて、適切なカリキュラムを組んでおります。</p>
                <p>効率的に短期間でスコアアップするためのコースを提供いたします。</p>

              </div>

              <div class="col-12 col-md-6 mb-4">
                <div class="wt_card wt_course pt-5">
                  <h3 class="text-center">TOEIC&reg;L&amp;Rテスト<br><strong class="tex_kiri">730点</strong>突破コース</h3>
                  <p>TOEIC&reg;L&amp;Rテストを何度も受講されており、よりスコアを上げていきたいと考えている方におすすめのコースです。</p>
                  <p>読解スピードの強化や、問題のストーリーを読む力を強化し、英語を英語のまま理解できるような力を身につけます。</p>
                  <h4 class="mb-0">コース料金</h4>
                  <p class="mb-0"><strong><s>44,000円</s> → <b class="text-danger">33,000円</b></strong></p>
                    <p class="text-danger"><small>※<script>var today = new Date();
var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
document.write(lastDay.getFullYear() + "年" + (lastDay.getMonth() + 1) + "月" + lastDay.getDate() + "日");</script>までのキャンペーン価格</small></p>
                  <h4 class="mb-0">期間</h4>
                  <p><strong><b>2</b>ヶ月（1レッスン50分、8回）</strong></p>
                  <h4 class="mb-0">使用教材</h4>
                  <ul class="mb-0">
                    <li>書き込みドリル（スコア650）</li>
                    <li>DataBase TOEIC</li>
                    <li>公式問題集8</li>
                    <li>FACTBOOK</li>
                  </ul>
                  <p class="text-danger"><small>※今なら教材3冊（書き込みドリル、DataBase TOEIC、FACTBOOK）無償プレゼント</small></p>
                  <h4 class="mb-0">対象</h4>
                  <p class="mb-0">TOEIC®︎スコア700～800点台を目指している方におすすめ</p>
                </div>
              </div>

              <div class="col-12 col-md-6 mb-4">
                <div class="wt_card wt_course pt-5">
                  <h3 class="text-center">TOEIC&reg;L&amp;Rテスト<br><strong class="tex_kiri">500点~600点</strong>突破コース</h3>
                  <p>TOEIC&reg;L&amp;Rテストをはじめて受験する方や、英語に苦手意識を持っている方におすすめのコースです。</p>
                  <p>TOEICの問題形式に慣れ、基本的な問題を落とさないように、英語の基礎力の向上と聞き方、読み方のコツを身につけます。</p>
                  <h4 class="mb-0">コース料金</h4>
                  <p class="mb-0"><strong><s>44,000円</s> → <b class="text-danger">33,000円</b></strong></p>
                  <p class="text-danger"><small>※<script>var today = new Date();
var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
document.write(lastDay.getFullYear() + "年" + (lastDay.getMonth() + 1) + "月" + lastDay.getDate() + "日");</script>までのキャンペーン価格</small></p>
                  <h4 class="mb-0">期間</h4>
                  <p><strong><b>2</b>ヶ月（1レッスン50分、8回）</strong></p>
                  <h4 class="mb-0">使用教材</h4>
                  <ul class="mb-0">
                    <li>書き込みドリル（スコア500）</li>
                    <li>DataBase TOEIC</li>
                    <li>公式問題集8</li>
                    <li>FACTBOOK</li>
                  </ul>
                  <p class="text-danger"><small>※今なら教材3冊（書き込みドリル、DataBase TOEIC、FACTBOOK）無償プレゼント</small></p>
                  <h4 class="mb-0">対象</h4>
                  <p class="mb-0">TOEIC®︎スコア500～600点台を目指している方におすすめ</p>
                </div>
              </div>

            </div>
          </div>
        </section>



        <section class="wt_sec_turquoise">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">今だけ、5,500円相当の<br class="d-block d-md-none">書籍プレゼント！</h2>
              </div>
              <div class="col-12 col-md-8">
                <p>コース申込いただいた方に桐原書店から「もれなく」3冊の教材をプレゼントします！<br>この機会にぜひご利用ください！<br><small>※プレゼント特典は<script>var today = new Date();
var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
document.write(lastDay.getFullYear() + "年" + (lastDay.getMonth() + 1) + "月" + lastDay.getDate() + "日");</script>まで</small></p>
                <ul class="d-none d-md-block">
                  <li>TOEIC&reg; L&amp;Rテスト 書き込みドリル</li>
                  <li>DataBase TOEIC&reg; L&amp;Rテスト最強単語&amp;フレーズ</li>
                  <li>総合英語FACTBOOK ~ これからの英文法</li>
                </ul>
              </div>
              <div class="col-12 col-md-4">
                <img src="/assets/img/lp/books_present.png" class="w-100 h-auto" alt="桐原書店から「もれなく」3冊の教材をプレゼントします">
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">スコアアップの勉強法！<br class="d-block d-md-none">TOEIC&reg;カリキュラムの<strong class="txt_kiri">特徴</strong></h2>
                <p>KIRIHARA Online Academyのカリキュラムで実際に行っているレッスン内容を紹介致します。</p>
                <p>短期間でスコアアップするためのノウハウがいっぱい詰まったコースです！</p>
              </div>

            </div>
          </div>


          <div class="container-fluid">
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-7 col-lg-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 p-lg-5 col-xl-9 p-xl-5">
                    <div class="badge wt_badge text-center"><span class="d-none d-md-inline">point. </span>1</div>
                    <h3 class="text-center text-md-left">現在地を知る<strong class="text-primary">レベルチェック</strong></h3>
                    <p>継続的にTOEIC受験をされている方であれば問題ないですが、はじめてであったり、しばらく受けていない方は、今、自分がうけたらどのくらいのスコアか？を知ることが大事です！</p>
                    <p>「公式問題集」を使って本番形式の問題を解くことで、現在地を知ることができます。<br>そこから、どのくらいのスコアを目指すか目標を立てましょう。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/reg/img_reg_toeic_1.jpg" alt="現在地を知るためのレベルチェック" class="w-100 h-auto" loading="lazy">
              </div>
            </div>
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-7 col-lg-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 p-lg-5 col-xl-9 p-xl-5">
                    <div class="badge wt_badge"><span class="d-none d-md-inline">point. </span>2</div>
                    <h3 class="text-center text-md-left">TOEICの<strong class="text-primary">問題形式</strong>に慣れる</h3>
                    <p>はじめてTOEICを受験される方は、TOEICの問題形式を覚えた方が効率よく学習を進められます！<br>Part1～Part7、それぞれ問題形式は毎回変わりませんので、きっちり抑えましょう！</p>
                    <p>桐原書店の「書き込みドリル」でPart別の問題の基礎から、ひとつずつ慣れていくことができます。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/reg/img_reg_toeic_2.jpg" alt="TOEICの問題形式に慣れる" class="w-100 h-auto" loading="lazy">
              </div>
            </div>
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-7 col-lg-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 p-lg-5 col-xl-9 p-xl-5">
                    <div class="badge wt_badge"><span class="d-none d-md-inline">point. </span>3</div>
                    <h3 class="text-center text-md-left">TOEICで<strong class="text-primary">よく出る単語</strong>を覚える</h3>
                    <p>TOEICはビジネスや日常会話で使われる英語をもとに、テストが作られております。<br>そのため、受験英語や英検などで出てくる単語とは少し異なります。</p>
                    <p>TOEICに特化した単語帳を使って、テストに出やすい語彙を覚えましょう。<br>カリキュラムでは桐原書店の「Database TOEIC」を使っています。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/reg/img_reg_toeic_3.jpg" alt="TOEICでよく出る単語を覚える" class="w-100 h-auto" loading="lazy">
              </div>
            </div>
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-7 col-lg-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 p-lg-5 col-xl-9 p-xl-5">
                    <div class="badge wt_badge"><span class="d-none d-md-inline">point. </span>4</div>
                    <h3 class="text-center text-md-left"><strong class="text-primary">基礎から応用</strong>の順でしっかり対策</h3>
                    <p>テスト対策をする上で演習問題を繰り返すことは大事です。<br>ただし、基礎が身についていないと、解答の理解が追い付かず、上達につながらないこともあります。</p>
                    <p>「書き込みドリル」で基礎を理解し、「公式問題集」で応用演習。<br>この順番で問題をしっかり理解することがスコアアップにつながります。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/reg/img_reg_toeic_4.jpg" alt="基礎から応用の順でしっかり対策" class="w-100 h-auto" loading="lazy">
              </div>
            </div>
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-7 col-lg-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 p-lg-5 col-xl-9 p-xl-5">
                    <div class="badge wt_badge"><span class="d-none d-md-inline">point. </span>5</div>
                    <h3 class="text-center text-md-left"><strong class="text-primary">音読</strong>で英語の感覚をインストール</h3>
                    <p>問題を解いたあとは、問題と解答を音読トレーニングすることで、英語の感覚が身につき、リスニング力もリーディング力もアップします。</p>
                    <p>リスニングは音声がよりクリアに聞き取りやすくなり、リーディングでは長文を読むスピードが向上します。<br>また英語の感覚が身につくため、テストが終わった後でも、自身の英語力の向上を実感できます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/reg/img_reg_toeic_5.jpg" alt="TOEICでよく出る単語を覚える" class="w-100 h-auto" loading="lazy">
              </div>
            </div>
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-7 col-lg-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 p-lg-5 col-xl-9 p-xl-5">
                    <div class="badge wt_badge"><span class="d-none d-md-inline">point. </span>6</div>
                    <h3 class="text-center text-md-left"><strong class="text-primary">多読</strong>によって速読力を強化</h3>
                    <p>テスト対策をする上で演習問題を繰り返すことは大事です。<br>ただし、基礎が身についていないと、解答の理解が追い付かず、上達につながらないこともあります。</p>
                    <p>「書き込みドリル」で基礎を理解し、「公式問題集」で応用演習。<br>この順番で問題をしっかり理解することがスコアアップにつながります。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/reg/img_reg_toeic_6.jpg" alt="多読によって速読力を強化" class="w-100 h-auto" loading="lazy">
              </div>
            </div>
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-7 col-lg-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 p-lg-5 col-xl-9 p-xl-5">
                    <div class="badge wt_badge"><span class="d-none d-md-inline">point. </span>7</div>
                    <h3 class="text-center text-md-left"><strong class="text-primary">オンラインレッスン</strong>で学習を継続！</h3>
                    <p>そして、何といっても8回のオンラインレッスンでTOEIC対策が得意な講師と一緒に、受験日までしっかりトレーニングをしていきます。</p>
                    <p>学習のつまずきや苦手を一緒に克服し、日々の学習で苦しいときにもいつでも相談に乗ります。</p>
                    <p>学習の管理やモチベーションを継続させるためにも、日本人講師との定期的なレッスンで、試験日まで一緒に頑張っていきましょう！</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/reg/img_reg_toeic_7.jpg" alt="オンラインレッスンで学習を継続！" class="w-100 h-auto" loading="lazy">
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">

                <div class="text-center">
                  <p class="wt_mcopy">＼<script>
                    var today = new Date();
                    var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                    document.write((lastDay.getMonth() + 1) + "/" + lastDay.getDate() + "");
                    </script>までプラン価格13%OFF／</p>
                </div>
                <div class="wt_mvbtn text-center"><a href="#register" onclick="ga('send','event','LP','click','reg_4_toeic_feature');" class="btn btn-danger rounded-pill btn-lg">無料体験レッスン実施中 →</a></div>
              </div>
            </div>
          </div>


        </section>

        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">TOEIC&reg;カリキュラムの<br class="d-block d-md-none"><strong class="txt_kiri">詳細について</strong></h2>
                <ol>
                  <li>受講者の目標と課題を講師と確認</li>
                  <li>英語力の変化や学習進捗により内容は調整</li>
                  <li>スコアだけでなく使える英語を身につける</li>
                </ol>
                <table class="table table-striped wt_coursetable">
                  <thead>
                    <tr>
                      <th class="text-center w-10">DAY</th>
                      <th class="text-center w-30">対象Part</th>
                      <th class="text-center w-60">活動内容</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">ゼロ</td>
                      <td>事前準備</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>自己分析による現在地チェック</li>
                          <li>教材の準備</li>
                          <li>文法の再確認</li>
                          <li>Part2の宿題</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>自己分析による現在地チェック</li>
                          <li>桐原書店刊行の教材配付と学習方法の案内</li>
                          <li>公式問題集等の購入</li>
                          <li>TOEIC対策スタートに向けての準備学習</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">1</td>
                      <td>コース解説<br>Part2攻略法</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>目標設定</li>
                          <li>学習方法確認</li>
                          <li>Part2の予習と実践</li>
                          <li>語彙テスト</li>
                          <li>Part5の宿題</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>目標設定とスケジュール</li>
                          <li>基本的な学習の流れや学習方法について確認</li>
                          <li>トレーニングの内容や実践</li>
                          <li>「書き込みドリル」でPart2の重要ポイントを自宅学習し授業で不明点を解決（事前告知）</li>
                          <li>公式問題集で強化</li>
                          <li>語彙指導に関する確認</li>
                          <li>課題確認</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">2</td>
                      <td>Part5攻略法</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>Part5の予習と実践</li>
                          <li>語彙テスト</li>
                          <li>文法の確認</li>
                          <li>Part7（前半）の宿題</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>学習状況の確認</li>
                          <li>「書き込みドリル」でPart5の重要ポイントを自宅学習し授業で不明点を解決</li>
                          <li>文法問題演習と攻略法の理解と習得</li>
                          <li>重要語彙・表現の確認</li>
                          <li>公式問題集で強化</li>
                          <li>課題確認</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">3</td>
                      <td>Part7攻略法①</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>Part7（前半）の予習と実践</li>
                          <li>語彙テスト</li>
                          <li>速読の計測</li>
                          <li>Part7（後半）の宿題</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>「書き込みドリル」でPart7の重要ポイントを自宅学習し授業で不明点を解決</li>
                          <li>速読（時間計測）、講師による本文内容に関する質疑・応答</li>
                          <li>公式問題集で強化</li>
                          <li>重要語彙・表現の確認</li>
                          <li>語彙確認テスト実施(「データベースTOEIC」を活用)</li>
                          <li>課題確認</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">4</td>
                      <td>Part7攻略法②</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>Part7（後半）の予習と実践</li>
                          <li>語彙テスト</li>
                          <li>速読の計測</li>
                          <li>Part3の宿題</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>パッセージ別対策</li>
                          <li>速読（時間計測）、講師による本文内容に関する質疑・応答</li>
                          <li>公式問題集で強化</li>
                          <li>重要語彙・表現の確認</li>
                          <li>語彙確認テスト実施(「データベースTOEIC」を活用)</li>
                          <li>課題確認</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">5</td>
                      <td>Part3の攻略法</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>Part3の予習と実践</li>
                          <li>語彙テスト</li>
                          <li>音読トレーニング</li>
                          <li>Part4の宿題</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>「書き込みドリル」でPart3の重要ポイントを自宅学習し授業で不明点を解決</li>
                          <li>質疑応答によるストーリー・問題内容の確認、語彙確認</li>
                          <li>音読トレーニング・オーバーラッピング・シャドーイング</li>
                          <li>公式問題集で強化</li>
                          <li>語彙確認テスト実施(「データベースTOEIC」を活用)</li>
                          <li>課題確認</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">6</td>
                      <td>Part4の攻略法</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>Part4の予習と実践</li>
                          <li>語彙テスト</li>
                          <li>音読トレーニング</li>
                          <li>Part6の宿題</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>「書き込みドリル」でPart4の重要ポイントを自宅学習し授業で不明点を解決</li>
                          <li>質疑応答によるストーリー・問題内容の確認、語彙確認</li>
                          <li>音読トレーニング・オーバーラッピング・シャドーイング</li>
                          <li>公式問題集で強化</li>
                          <li>語彙確認テスト実施(「データベースTOEIC」を活用)</li>
                          <li>課題確認</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">7</td>
                      <td>Part6攻略法</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>Part6の予習と実践</li>
                          <li>語彙テスト</li>
                          <li>文法の確認</li>
                          <li>Part1の宿題</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>「書き込みドリル」でPart6の重要ポイントを自宅学習し授業で不明点を解決</li>
                          <li>Part6攻略法の理解と習得。</li>
                          <li>重要語彙・表現の確認。</li>
                          <li>公式問題集で強化</li>
                          <li>語彙確認テスト実施(「データベースTOEIC」を活用)</li>
                          <li>課題確認</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">8</td>
                      <td>Part1攻略法<br>振り返り</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>Part1の予習と実践</li>
                          <li>語彙テスト</li>
                          <li>総復習</li>
                          <li>受験の心得</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>「書き込みドリル」でPart1の重要ポイントを自宅学習し授業で不明点を解決</li>
                          <li>公式問題集で強化</li>
                          <li>語彙確認テスト実施(「データベースTOEIC」を活用)</li>
                          <li>課題確認</li>
                          <li>Par1～7の総復習</li>
                          <li>受験までの対策確認、受験時の心得</li>
                        </ul>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </section>

        <section class="wt_sec_turquoise">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">今だけ、5,500円相当の<br class="d-block d-md-none">書籍プレゼント！</h2>
              </div>
              <div class="col-12 col-md-8">
                <p>コース申込いただいた方に桐原書店から「もれなく」3冊の教材をプレゼントします！<br>この機会にぜひご利用ください！<br><small>※プレゼント特典は<script>var today = new Date();
var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
document.write(lastDay.getFullYear() + "年" + (lastDay.getMonth() + 1) + "月" + lastDay.getDate() + "日");</script>まで</small></p>
                <ul class="d-none d-md-block">
                  <li>TOEIC&reg; L&amp;Rテスト 書き込みドリル</li>
                  <li>DataBase TOEIC&reg; L&amp;Rテスト最強単語&amp;フレーズ</li>
                  <li>総合英語FACTBOOK ~ これからの英文法</li>
                </ul>
              </div>
              <div class="col-12 col-md-4">
                <img src="/assets/img/lp/books_present.png" class="w-100 h-auto" alt="桐原書店から「もれなく」3冊の教材をプレゼントします">
              </div>
            </div>
          </div>
        </section>

        <section id="register">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">TOEIC&reg;スコアアップの<br class="d-block d-md-none"><strong class="txt_kiri">入り口</strong>はこちら</h2>
                <p class="text-lg-center mb-lg-5">会員登録いただいた方には、無料の体験レッスンを用意しています。<br>TOEICの効率的な学習方法を体験することができますので、TOEIC受験をお考えの方はぜひご利用ください。</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">
                <div class="wt_form wt_form_layer">

                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="cfmset" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <TMPL_IF NAME="errs">
                      <p class="errs">%errs%</p>
                    </TMPL_IF>

                    <div class="form-group" style="display: none">
                      <label class="required %member_lastname_err% %member_firstname_err%">お名前</label>
                      <div class="row">
                        <div class="col-2 col-sm-1">
                          <label for="member_lastname" class=" %member_lastname_err% %member_firstname_err%">%member_lastname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_lastname" name="member_lastname" value="%member_lastname%" placeholder="（例）山田" class="form-control %member_lastname_err%" />
                        </div>
                        <div class="col-2 col-sm-1">
                          <label for="member_firstname" class="%member_lastname_err% %member_firstname_err%">%member_firstname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_firstname" name="member_firstname" value="%member_firstname%" placeholder="（例）太郎" class="form-control %member_firstname_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_handle" class="required %member_handle_err%">%member_handle_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" required="required" id="member_handle" name="member_handle" value="%member_handle%" placeholder="（例）桐原一郎" class="form-control %member_handle_err%" onclick="ga('send','event','LP','click','reg_5_toeic_form');" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_email" class="required %member_email_err%">%member_email_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" required="required" id="member_email" name="member_email" value="%member_email%" placeholder="（例）yamada@example.com" class="form-control %member_email_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_pass" class="required %member_pass_err%">%member_pass_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="password" required="required" id="member_pass" name="member_pass" value="%member_pass%" placeholder="%member_pass_caption%を入力してください（8～12文字）" class="form-control %member_pass_err%" />
                          <div class="form-group">
                            <input type="password" id="member_pass2" name="member_pass2" value="%member_pass2%" placeholder="確認の為、再度%member_pass_caption%を入力してください" class="form-control %member_pass2_err%" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" style="display:none;">
                      <label for="coupon_code" class="%coupon_code_err%">%coupon_code_caption%</label>
                      <input type="text" required="required" id="coupon_code" name="coupon_code" value="rwmvhpjo" class="form-control %coupon_code_err%" />
                      <ul class="note">
                        <li>%coupon_code_caption%をお持ちの方は、ここに8桁の半角英数字で入力してください</li>
                      </ul>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="agree">利用規約</label>
                        </div>
                        <div class="col-12 col-xl-8 mb-5">
                          <div class="wt_termsbox wt_termsbox_lp">
                            <div>
                              <TMPL_INCLUDE NAME="../include/agreement.html">
                            </div>
                            <div>
                              <TMPL_INCLUDE NAME="../include/privacypolicy.html">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center">
                          <h5 class="text-center">規約に同意いただいた方は、「次へすすむ」ボタンを押してください</h5>
                        </div>
                      </div>

                      <div class="text-center mb-5">
                        <input type="submit" value="次へすすむ" class="btn btn-danger rounded-pill wt_btn" onclick="ga('send','event','LP','click','reg_6_toeic_submit');" />
                      </div>

                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </section>



      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer_lp.html">
        <TMPL_INCLUDE NAME="../include/foot_cv.html">
          <script src="%static_url%/js/dom.js"></script>
          <script src="%static_url%/js/inputlimit.js"></script>
          <style>
            #coupon_code {
              width: 8em;
            }

          </style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
  $(document).ready(function() {

    /* owl-carousel */

    $(".owl-carousel-cr").owlCarousel({
      loop: true,
      autoplay: true,
      autoplaySpeed: 750,
      center: true,
      responsive: {
        0: {
          items: 1,
          margin: 50
        },
        768: {
          items: 2,
          margin: 50
        },
        960: {
          items: 2,
          margin: 60
        }
      }
    });
  });

</script>
</body>

</html>
