<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>無料体験レッスン・会員登録｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="無料体験レッスン・会員登録｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_register.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="無料体験レッスン・会員登録｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_register.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <link rel="stylesheet" href="/assets/css/lp.css?3">
<style>
    .wt_footer_banner{
        display: none;
    }
</style>       
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
<!-- Event snippet for 無料体験 conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-10960177327/qdkFCMG659EDEK-RnOoo'}); </script>
  <TMPL_INCLUDE NAME="../include/header.html">

  <main role="main" class="wt_main">

    <section class="wt_headvis wt_head_contact">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>体験レッスンのお申込み</h1>
          </div>
        </div>
      </div>
    </section>

    <section id="register">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 wt_form">
                        <h2 class="text-center"><strong class="txt_kiri">メールのご確認</strong>をお願いします</h2>
                        <p class="mb-5 text-lg-center">お申込み情報を受付いたしました。<br>本人確認のために、登録いただいたアドレスへメールをお送りいたしました。</p>
                        <p class="mb-5 text-lg-center">メール内<strong>「本人確認の認証URL」</strong>をクリックしてください。</p>
                        <p class="mb-5 text-danger text-lg-center">Yahooメール、Gmailの場合、まれに「迷惑メールフォルダ」に分類されることがあります。<br>メールが見つからない場合は「迷惑メールフォルダ」もご確認ください。</p>
                        <p class="mb-5 text-lg-center">※こんなメールが届きます<br>件名：【%product_name%】体験申し込み通知 ※本人確認</p>
                        <p class="text-center"><img src="/assets/img/caps/caps_reg9001.png" class="img-responsive center-block img-thumbnail" alt="[%product_name%] %member_caption%仮登録通知"></p>
                    </div>
                </div>
            </div>
        </section>
    </main>

  <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
