<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>まだ間に合う！短期集中型英検一次試験対策コース</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="2ヶ月で結果をつくる！短期集中型英検二次試験合格コース" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken2.jpg" />
  <meta property="og:site_name" content="KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="2ヶ月で結果をつくる！短期集中型英検二次試験合格コース" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken2.jpg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <TMPL_INCLUDE NAME="../include/head_cv.html">
    <style>
      .owl-carousel-cr .owl-stage-outer {
        padding-top: 25px;
      }

    </style>
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_cv.html">

      <main role="main" class="wt_main">

        <section class="wt_mainvis">
          <div class="wt_catch">
            <div class="wt_catch_circle">
              <div>
                <h1 class="mb-5">4技能を総合的に鍛える<br>短期集中型<br>英検一次試験対策コース</h1>
                <div class="wt_mvbtn"><a href="#register" class="btn btn-danger rounded-pill btn-lg">無料体験レッスン実施中 →</a></div>
              </div>
            </div>
          </div>
          <ul class="wt_slider">
            <li class="wt_slider_e1"></li>
          </ul>
        </section>


        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検一次試験の<br class="d-block d-md-none"><strong class="txt_kiri">合格</strong>に向けて<br>
                  <strong class="txt_kiri">短期集中コース</strong><br class="d-block d-md-none">を提供します</h2>
                <p class="text-left">英語の検定教科書などの出版を行っている桐原書店が開発したオンライン学習サービス「KIRIHARA Online Academy」。</p>
                <p class="text-left">効率的に英検一次試験の対策を行う、オンラインカリキュラムを用意いたしました。</p>
                <p class="text-left text-danger"><strong>※コース修了までの期間：１ヶ月（週２レッスン）～２ヶ月（週１レッスン）</strong></p>
                <div class="wt_problem mb-5">
                  <h3 class="text-center">こんな方におすすめです</h3>
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <ul class="text-center p-0 mb-0 p-lg-3">
                        <li><span class="fas fa-check" aria-hidden="true"></span>筆記試験の対策を集中してやりたい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>ライティングが苦手で対策したい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>リーディングの点数を上げたい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>どう勉強したらいいかわからない</li>
                      </ul>
                    </div>
                    <div class="col-12 col-lg-6">
                      <ul class="text-center p-0 mb-0 p-lg-3">
                        <li><span class="fas fa-check" aria-hidden="true"></span>リスニング力を鍛えたい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>無駄のない一次対策方法を知りたい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>計画とスケジュールを決めてほしい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>子供の英検受験を合格させたい</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <p class="wt_mcopy">＼気になる講座を体験できる！／</p>
                </div>
                <div class="wt_mvbtn text-center"><a href="#register" class="btn btn-danger rounded-pill btn-lg">無料コース体験できます →</a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="wt_sec_grey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">KIRIHARA Online Academyの英検対策はここが<strong class="txt_kiri">違う</strong>！</h2>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-12 col-md-6 text-center wt_feature wt_feature_1">
                <img src="/assets/img/toeic/feature_1.jpg?3" alt="英検合格のための短期集中カリキュラムを準備" class="w-100 rounded"
                  loading="lazy">
                <h3>英検合格のための<br><strong>短期集中講座</strong>を準備</h3>
                <p class="text-left">KIRIHARA Online Academyは
                  英検対策に特化したオンライン英会話スクールです。<br>2カ月で目標の級に合格するための、学習カリキュラムを組んでいるため、迷うことなく学習に専念することができます。</p>
              </div>
              <div class="col-12 col-md-6 text-center wt_feature wt_feature_2">
                <img src="/assets/img/toeic/feature_2.jpg?2" alt="日本人の英会話講師がマンツーマンで学習サポート" class="w-100 rounded"
                  loading="lazy">
                <h3><strong>日本人の英会話講師</strong>が<br>マンツーマンで学習サポート</h3>
                <p class="text-left">
                  オンラインレッスンは実際に英検合格の級を取得している日本人講師が担当しています。<br>英検対策の指導に加えて、学習の進捗管理も行い、試験までマンツーマンでサポートさせていただきます。
                </p>
              </div>
              <div class="col-12 col-md-6 text-center wt_feature wt_feature_3">
                <img src="/assets/img/toeic/feature_3.jpg?2" alt="TOEIC®️対策に特化した講座を完全オンラインで提供" class="w-100 rounded"
                  loading="lazy">
                <h3>英検対策に特化した講座を<br><strong>完全オンライン</strong>で提供</h3>
                <p class="text-left">KIRIHARA Online
                  Academyは桐原書店が立ち上げたオンライン英会話スクールです。<br>忙しい皆さまが効率的に学習を進めるためにも、自宅でインターネットさえあれば学習ができる環境を用意いたしました。</p>
              </div>
              <div class="col-12 col-md-6 text-center wt_feature wt_feature_4">
                <img src="/assets/img/toeic/feature_4.jpg?2" alt="55年の英語教材開発の実績" class="w-100 rounded" loading="lazy">
                <h3>55年の英語教材開発の実績<br><strong>桐原書店の教材</strong>を活用</h3>
                <p class="text-left">
                  コースの開発は、これまで学校の検定教科書や英語学習教材を55年間作り続けてきた桐原書店が行っています。<br>コース監修に多くの英語教材の著者でもある早川幸治先生を迎え、講座の品質に関しては絶対の自信がございます。
                </p>
              </div>
            </div>

          </div>
        </section>

        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">ご利用いただいた<br class="d-block d-md-none"><strong class="txt_kiri">生徒様の声</strong></h2>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">

              <div class="owl-carousel owl-carousel-cr mb-5">

                
                <div class="wt_card wt_lp_voice container">
                  <div class="row">
                    <div class="col-3 col-md-1 col-lg-2">
                      <img src="/assets/img/voice/voice_29.png" class="w-100 h-auto rounded-circle mb-2" />
                    </div>
                    <div class="col-8 col-md-11 col-lg-10 pl-0">
                      <h3 class="mb-0 p-0">短期間で能力の<br class="d-block d-md-none">のびを実感できました</h3>
                      <p class="wt_lp_voicemeta p-0">RKさん 中学生 女性　2022年6月コース修了</p>
                      <span class="wt_scoreup">英検<br>準<strong>1</strong>級!</span>
                    </div>
                    <div class="d-block d-md-none">
                      <p class="mb-3">初対面の講師とのレッスンで、最初は緊張しました。<br>でも、日本人講師で安心できました</p>
                      <p class="mb-0">1回の講義で、ライティング、リスニング、リーディングなど、全て対応いただき、短期間での能力の伸びを実感できました！</p>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="mb-4">初対面の講師とのオンラインレッスンで、最初は緊張していましたが、日本人講師という安心感で普段の学校の授業のように受けられました。</p>
                        <p class="mb-0">講義の中に単語テストもあり、語彙力アップにもつながります。<br>1回の講義で、ライティング添削、リスニング確認、リーディングの読解など、全て対応してくださり、短期間での能力の伸びを実感できました！</p>
                    </div>
                  </div>
                </div>

                <div class="wt_card wt_lp_voice container">
                  <div class="row">
                    <div class="col-3 col-md-1 col-lg-2">
                      <img src="/assets/img/voice/voice_33.png" class="w-100 h-auto rounded-circle mb-2" loading="lazy">
                    </div>
                    <div class="col-8 col-md-11 col-lg-10 pl-0">
                      <h3 class="mb-0 p-0">計画的に勉強を<br class="d-block d-md-none">進めることができました</h3>
                      <p class="wt_lp_voicemeta p-0">RMさん 中学生女性　2022年6月コース修了</p>
                      <span class="wt_scoreup">英検<br>準<strong>1</strong>級!</span>
                    </div>
                    <div class="d-block d-md-none">
                      <p class="mb-3">マンツーマンのレッスンで、わからない部分を解決しやすかったです。</p>
                      <p class="mb-0">学校の勉強との両立が大変でしたが、カリキュラムもあり、計画的に英検の勉強を進めることができました。</p>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="mb-4">マンツーマンのレッスンだったので、自分のわからない部分を解決しやすかったです。<br>特に、つまづいた問題を丁寧に説明いただき、とてもわかりやすかったです。</p>
                          <p class="mb-0">学校の勉強との両立が大変でしたが、カリキュラムもあり、計画的に英検の勉強を進めることができました。</p>
                    </div>
                  </div>
                </div>

                <div class="wt_card wt_lp_voice container">
                  <div class="row">
                    <div class="col-3 col-md-1 col-lg-2">
                      <img src="/assets/img/voice/voice_32.png" class="w-100 h-auto rounded-circle mb-2" loading="lazy">
                    </div>
                    <div class="col-8 col-md-11 col-lg-10 pl-0">
                      <h3 class="mb-0 p-0">自分で理解し<br class="d-block d-md-none">問題が解ける楽しさを感じました</h3>
                      <p class="wt_lp_voicemeta p-0">ASさん 高校生　女性　2023年1月コース修了</p>
                      <span class="wt_scoreup">英検<br><strong>2</strong>級!</span>
                    </div>
                    <div class="d-block d-md-none">
                      <p class="mb-3">学校の授業では、理解できず進むことがあります。<br>わからないことがあれば丁寧に教えていただき学習を進められました。</p>
                      <p class="mb-0">自分で理解し、問題が解ける楽しさも感じることが出来ました。</p>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="mb-4">学校の授業では、理解できずに学習が進むことがあります。<br>
                        マンツーマンのレッスンで、わからないことがあれば丁寧に教えてくれるので、しっかり理解して学習を進められました。</p>
                        <p class="mb-0">自分で理解し、問題が解ける楽しさも感じることが出来ました。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>



        <section class="wt_sec_grey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検一次試験<br class="d-block d-md-none">合格コース<strong class="txt_kiri">料金プラン</strong></h2>
                <p>KIRIHARA Online Academyでは学習者の目標に合わせて、適切なカリキュラムを組んでおります。</p>
                <p>効率的に短期間で英検の一次試験に合格するためのコースを提供いたします。</p>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="wt_card wt_course pt-5">
                  <h3 class="text-center">英検準1級<br>一次試験合格コース</h3>
                  <p>英検準1級の受験を考えている方におすすめのコースです。</p>
                  <p>短期間で集中して、英検二次試験の面接の型をしっかり身につけるカリキュラムを用意しています。</p>
                  <h4 class="mb-0">コース料金</h4>
                  <p class="mb-0"><strong><b class="text-danger">44,000円</b></strong></p>

                  <h4 class="mb-0">期間</h4>
                  <p><strong><b>1〜2</b>ヶ月（1レッスン50分、8回）</strong></p>
                  <h4 class="mb-0">使用教材</h4>
                  <ul>
                    <li>英検準1級総合対策教本</li>
                    <li>英検準1級過去６回全問題集</li>
                    <li>DataBase Avail</li>
                  </ul>
                  <h4 class="mb-0">対象</h4>
                  <p class="mb-0">英検2級を取得している方<br>英検準1級を受験される方<br>英検準1級の一次試験を通過された方</p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="wt_card wt_course pt-5">
                  <h3 class="text-center">英検2級<br>一次試験合格コース</h3>
                  <p>英検2級の受験を考えている方におすすめのコースです。</p>
                  <p>短期間で集中して、英検一次試験の面接の型をしっかり身につけるカリキュラムを用意しています。</p>
                  <h4 class="mb-0">コース料金</h4>
                  <p class="mb-0"><strong><b class="text-danger">33,000円</b></strong></p>

                  <h4 class="mb-0">期間</h4>
                  <p><strong><b>1〜2</b>ヶ月（1レッスン50分、8回）</strong></p>
                  <h4 class="mb-0">使用教材</h4>
                  <ul>
                    <li>英検2級総合対策教本</li>
                    <li>英検2級過去６回全問題集</li>
                    <li>DataBase Avail</li>
                  </ul>
                  <h4 class="mb-0">対象</h4>
                  <p class="mb-0">英検準2級を取得している方<br>英検2を受験される方<br>英検2級の一次試験を通過された方</p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="wt_card wt_course pt-5">
                  <h3 class="text-center">英検準2級<br>一次試験合格コース</h3>
                  <p>英検準2級の受験を考えている方におすすめのコースです。</p>
                  <p>短期間で集中して、英検一次試験の面接の型をしっかり身につけるカリキュラムを用意しています。</p>
                  <h4 class="mb-0">コース料金</h4>
                  <p class="mb-0"><strong><b class="text-danger">33,000円</b></strong></p>

                  <h4 class="mb-0">期間</h4>
                  <p><strong><b>1〜2</b>ヶ月（1レッスン50分、8回）</strong></p>
                  <h4 class="mb-0">使用教材</h4>
                  <ul>
                    <li>英検準2級総合対策教本</li>
                    <li>英検準2級過去６回全問題集</li>
                    <li>DataBase Avail</li>
                  </ul>
                  <h4 class="mb-0">対象</h4>
                  <p class="mb-0">英検3級を取得している方<br>英検準2級を受験される方<br>英検準2級の一次試験を通過された方</p>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">KIRIHARA Online Academyの<br class="d-none d-md-block">英検一次試験合格コースで<strong class="txt_kiri">合格を目指す！</strong></h2>
              </div>
            </div>
          </div>

          <div class="container-fluid">

            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 1</div>
                    <h3 class="text-left">生徒それぞれの英語力をもとに<br>取り組む<strong class="text-primary">課題</strong>と合格への<strong class="text-primary">道筋を明確に</strong>します</h3>
                    <p>KIRIHARA Online Academyでは学習カリキュラムを用意し、英検一次試験の合格のための効率的なプログラムを用意しております。<br>一次試験に必要な技能をバランスよく強化し、総合的に英語力を強化していきますので、安心して試験対策に臨めます。</p>
                    <p>さらに生徒一人ひとりにマンツーマンで日本人講師のオンラインレッスンがつきますので、生徒個人の苦手や強みに合わせて、課題を明確にした上で指導をさせていただきます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_2.jpg" alt="生徒それぞれの英語力をもとに取り組む課題と合格への道筋を明確にします" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 2</div>
                    <h3 class="text-left">講師の管理により学習内容のムラを減らし<br><strong class="text-primary">バランスよく学習</strong>できるようになります</h3>
                    <p>生徒それぞれに学習記録シートをお渡しし、日々の学習内容と学習時間を記録する形でお願いしております。<br>また、講師と学習記録を共有することで、学習が足りない部分や苦手な技能を強化し、バランスよく合格のための力を身につけていきます。</p>
                    <p>独学ではどうしても自分の力がついているのか不安という方も、講師という客観的な視点でレベルをチェックすることで、迷いなく学習に集中して取り組むことが出来るようになります。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_3.jpg" alt="講師の管理により学習内容のムラを減らしバランスよく学習できるようになります" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 3</div>
                    <h3 class="text-left">必要な単語やフレーズの定着度を把握し<br>重要な<strong class="text-primary">文法項目のチェック</strong>もできます</h3>
                    <p>桐原書店より出版しているDatabase AVAILを使用し、語彙力の強化と記憶へのフレーズの定着を目指しています。<br>本書は5年分の試験問題の中から、その級の合格のために習得すべき必要語句を選定し、無駄な学習がないように配慮がされています。</p>
                    <p>また、実際のレッスンの最初にVocabularyテストを行い、知識への定着度を逐一チェックさせていただきます。<br>間違えた問題は講師よりシェアさせていただきますので、復習にご活用いただけます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_4.jpg" alt="必要な単語やフレーズの定着度を把握し重要な文法項目のチェックもできます" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 4</div>
                    <h3 class="text-left">音読でインプットとアウトプットの力を繋ぎ<br><strong class="text-primary">リスニング力</strong>や<strong class="text-primary">総合力を向上</strong>させます</h3>
                    <p>KIRIHARA Online Academyのカリキュラムの特徴として、4技能強化のための音読トレーニングを重視しております。<br>音読を習慣化することで、リスニングやリーディング力の強化や一次試験のあとの、面接でのスピーキング対策にも繋がります。</p>
                    <p>また、英検合格のみならず、その後の英語コミュニケーション能力の向上を目指しておりますので、徹底したアウトプットを繰り返すことで、生徒それぞれの英会話力の向上につとめさせていただきます。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_5.jpg" alt="音読でインプットとアウトプットの力を繋ぎリスニング力や総合力を向上させます" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 5</div>
                    <h3 class="text-left">現状の語彙力や読解力を把握し<br>講師と共有することで<strong class="text-primary">苦手意識を減らします</strong></h3>
                    <p>リーディングの理解度を確認するため、生徒にはリーディングチェックリストをお渡しし、記入をお願いしています。<br>問題の理解度や長文内での語彙の習得度などを確認することで、リーディングにおける課題を見える化します。</p>
                    <p>講師が客観的に生徒それぞれのリーディングの課題を捉えられることで、読解のために文法の理解が足りていないのか、語彙が不足しているのかを判断し、強化のためのアドバイスをさせていただきます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_6.jpg" alt="現状の語彙力や読解力を把握し講師と共有することで苦手意識を減らします" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 6</div>
                    <h3 class="text-left">ライティングの「型」を身につけ<br>合格のための<strong class="text-primary">技術を身につけます</strong></h3>
                    <p>ライティング問題に関しては、英検特有の型を習得することで、アウトプットのためのスキルを向上させることができます。<br>またライティングした内容はレッスンにて講師が確認し内容のフィードバックをさせていただきます。</p>
                    <p>英検を実際に取得している日本人講師が添削を行いますので、よりライティングのスコアをアップさせるための作文のコツやアドバイスなどもさせていただきます。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_7.jpg" alt="ライティングの「型」を身につけ合格のための技術を身につけます" class="w-100 h-auto">
              </div>
            </div>

          </div>
        </section>

        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検一次試験対策コースの<strong class="txt_kiri">カリキュラム</strong>について</h2>

                <h4>英検一次試験対策コース基本方針</h4>
                <ol class="d-block d-md-none mb-5">
                  <li>レベルチェックと学習進捗状況を講師と確認</li>
                  <li>マンツーマンで生徒様に合った指導を行う</li>
                  <li>各レッスン後に宿題を出させていただきます</li>
                </ol>
                <ol class="d-none d-md-block mb-5">
                  <li>レベルチェックの結果や学習進捗状況を講師と確認し、指導内容の調整をします。</li>
                  <li>マンツーマンレッスンで、苦手分野の克服など、各生徒様に合った指導をさせていただきます。</li>
                  <li>各レッスン後に宿題を出させていただきます。</li>
                </ol>

                <div class="d-block d-md-none">

                  <table class="table table-striped wt_coursetable">
                    <thead>
                      <tr>
                        <th class="text-center w-10">DAY</th>
                        <th class="text-center w-30">宿題</th>
                        <th class="text-center w-60">レッスン概要</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center font-weight-bold">1</td>
                        <td>
                          文法学習1<br>日々の語彙学習<br>教本からL、R、W問題
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>出題傾向や学習法確認</li>
                            <li>読解基礎（長文構成・読み方）</li>
                            <li>英作文の基礎（作文の構成）</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center font-weight-bold">2</td>
                        <td>
                            文法学習2<br>日々の語彙学習<br>教本からL、R、W問題
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>学習した文法の復習</li>
                            <li>語彙・リスニング・読解</li>
                            <li>ライティングFB</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center font-weight-bold">3</td>
                        <td>
                          文法学習3<br>日々の語彙学習<br>問題集からL、R、W問題
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>学習した文法の復習</li>
                            <li>語彙・リスニング・読解</li>
                            <li>ライティングFB</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center font-weight-bold">4</td>
                        <td>
                          文法学習4<br>日々の語彙学習<br>問題集からL、R、W問題
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>語彙・リスニング・読解</li>
                            <li>ライティングのFB</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center font-weight-bold">5</td>
                        <td>
                          文法学習5<br>日々の語彙学習<br>問題集からL、R、W問題
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>学習した文法の復習</li>
                            <li>語彙・リスニング・読解</li>
                            <li>ライティングのFB</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center font-weight-bold">6</td>
                        <td>
                          日々の語彙学習<br>問題集からL、R、W問題
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>語彙・リスニング・読解</li>
                            <li>ライティングのFB</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center font-weight-bold">7</td>
                        <td>
                          日々の語彙学習<br>問題集からL、R、W問題
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>学習した文法の復習</li>
                            <li>語彙・リスニング・読解</li>
                            <li>ライティングのFB</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center font-weight-bold">8</td>
                        <td>
                          日々の語彙学習<br>L、R、W問題の復習<br>振り返り・総括
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>語彙・リスニング・読解確認</li>
                            <li>ライティングのFB</li>
                            <li>アドバイス、総括・振り返り</li>
                          </ul>
                        </td>
                      </tr>
  
                    </tbody>
                  </table>
                </div>
                <div class="d-none d-md-block">

                  <div class="row">
                    <div class="col-12">
                      <table class="table table-striped wt_coursetable">
                        <thead>
                          <tr>
                            <th class="text-center w-10">DAY</th>
                            <th class="text-center w-30">宿題</th>
                            <th class="text-center w-60">レッスン概要</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1回</td>
                            <td>
                              <ul>
                                <li>文法（文型、時制、態、助動詞）</li>
                                <li>日々の語彙学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（教本から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>単語の出題傾向や学習法の確認</li>
                                <li>読解の基礎（長文の構成・読み方のコツ）</li>
                                <li>英作文の基礎（作文の構成）</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>2回</td>
                            <td>
                              <ul>
                                <li>文法（仮定法、不定詞、動名詞、分詞）</li>
                                <li>日々の単語学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（教本から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>学習した文法の復習</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>3回</td>
                            <td>
                              <ul>
                                <li>文法（関係詞、比較）</li>
                                <li>日々の単語学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（教本・問題集から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>学習した文法の復習</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>4回</td>
                            <td>
                              <ul>
                                <li>文法（名詞、代名詞、冠詞、形容詞、副詞）</li>
                                <li>日々の単語学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（教本・問題集から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>5回</td>
                            <td>
                              <ul>
                                <li>文法（前置詞・接続詞、特殊な構文）</li>
                                <li>日々の語彙学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（問題集から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>学習した文法の復習</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>6回</td>
                            <td>
                              <ul>
                                <li>日々の語彙学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（問題集から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>7回</td>
                            <td>
                              <ul>
                                <li>日々の単語学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（問題集から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>学習した文法の復習</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>8回</td>
                            <td>
                              <ul>
                                <li>語彙学習</li>
                                <li>リスニング、リーディング、ライティングの宿題</li>
                                <li>間違った箇所等の振り返り</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                                <li>コース期間で上達したことや課題点のフィードバック、テスト本番に向けてのアドバイス、総括・振り返り</li>
                              </ul>
                            </td>
                          </tr>
      
                        </tbody>
                      </table>

                      <p class="mt-4 lead">注：書籍名(略称)<br>「データベースAvail」⇒「データベース アヴェイル 4技能 英単語・熟語」<br>「教本」 ⇒「英検総合対策教本」<br>「問題集」 ⇒「英検過去6回全問題集」</p>

                    </div>
                  </div>
                  <div class="row mt-5">
                    <div class="col-12">

                      <div class="text-center">
                        <p class="wt_mcopy">＼気になるプランを体験できる！／
                        </p>
                      </div>
                      <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1"
                          class="btn btn-danger rounded-pill btn-lg">無料体験レッスン実施中 →</a></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section id="register">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">まずは<strong class="txt_kiri">無料体験レッスン</strong>を<br class="d-block d-md-none">会員登録はこちらから</h2>
                <p class="text-lg-center mb-lg-5">会員登録いただいた方には、無料の体験レッスンを用意しています。<br>スピーキングの効率的な学習方法を体験することができますので、英検二次試験を控えていらっしゃる方ぜひご利用ください。</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">
                <div class="wt_form wt_form_layer">

                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="cfmset" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <TMPL_IF NAME="errs">
                      <p class="errs">%errs%</p>
                    </TMPL_IF>

                    <div class="form-group" style="display: none">
                      <label class="required %member_lastname_err% %member_firstname_err%">お名前</label>
                      <div class="row">
                        <div class="col-2 col-sm-1">
                          <label for="member_lastname" class=" %member_lastname_err% %member_firstname_err%">%member_lastname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_lastname" name="member_lastname" value="%member_lastname%" placeholder="（例）山田" class="form-control %member_lastname_err%" />
                        </div>
                        <div class="col-2 col-sm-1">
                          <label for="member_firstname" class="%member_lastname_err% %member_firstname_err%">%member_firstname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_firstname" name="member_firstname" value="%member_firstname%" placeholder="（例）太郎" class="form-control %member_firstname_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_handle" class="required %member_handle_err%">%member_handle_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_handle" name="member_handle" value="%member_handle%" placeholder="（例）桐原一郎" class="form-control %member_handle_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_email" class="required %member_email_err%">%member_email_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_email" name="member_email" value="%member_email%" placeholder="（例）yamada@example.com" class="form-control %member_email_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_pass" class="required %member_pass_err%">%member_pass_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="password" id="member_pass" name="member_pass" value="%member_pass%" placeholder="%member_pass_caption%を入力してください（8～12文字）" class="form-control %member_pass_err%" />
                          <div class="form-group">
                            <input type="password" id="member_pass2" name="member_pass2" value="%member_pass2%" placeholder="確認の為、再度%member_pass_caption%を入力してください" class="form-control %member_pass2_err%" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" style="display:none;">
                      <label for="coupon_code" class="%coupon_code_err%">%coupon_code_caption%</label>
                      <input type="text" id="coupon_code" name="coupon_code" value="rwmvhpjo" class="form-control %coupon_code_err%" />
                      <ul class="note">
                        <li>%coupon_code_caption%をお持ちの方は、ここに8桁の半角英数字で入力してください</li>
                      </ul>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="agree">利用規約</label>
                        </div>
                        <div class="col-12 col-xl-8 mb-5">
                          <div class="wt_termsbox wt_termsbox_lp">
                            <div>
                              <TMPL_INCLUDE NAME="../include/agreement.html">
                            </div>
                            <div>
                              <TMPL_INCLUDE NAME="../include/privacypolicy.html">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center">
                          <h5 class="text-center">規約に同意いただいた方は、「次へすすむ」ボタンを押してください</h5>
                        </div>
                      </div>

                      <div class="text-center mb-5">
                        <input type="submit" value="次へすすむ" class="btn btn-danger rounded-pill wt_btn" />
                      </div>

                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer_lp.html">
        <TMPL_INCLUDE NAME="../include/foot_cv.html">
          <script src="%static_url%/js/dom.js"></script>
          <script src="%static_url%/js/inputlimit.js"></script>
          <style>
            #coupon_code {
              width: 8em;
            }

          </style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
  $(document).ready(function() {

    /* owl-carousel */

    $(".owl-carousel-cr").owlCarousel({
      loop: true,
      autoplay: true,
      autoplaySpeed: 750,
      center: true,
      responsive: {
        0: {
          items: 1,
          margin: 50
        },
        768: {
          items: 2,
          margin: 50
        },
        960: {
          items: 2,
          margin: 60
        }
      }
    });
  });

</script>
</body>

</html>
