<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>まだ間に合う！短期集中型英検二次試験合格コース</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="2ヶ月で結果をつくる！短期集中型英検二次試験合格コース" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken2.jpg" />
  <meta property="og:site_name" content="KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="2ヶ月で結果をつくる！短期集中型英検二次試験合格コース" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken2.jpg" />
  <TMPL_INCLUDE NAME="../include/head_cv.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_cv.html">

      <main role="main" class="wt_main">

        <section class="wt_mainvis">
          <div class="wt_catch">
            <div class="wt_catch_circle">
              <div>
                <h1 class="mb-5">まだ間に合う！<br>短期集中型<br>英検二次試験合格コース</h1>
                <div class="wt_mvbtn"><a href="#register" class="btn btn-danger rounded-pill btn-lg">無料体験レッスン実施中 →</a></div>
              </div>
            </div>
          </div>
          <ul class="wt_slider">
            <li class="wt_slider_e2"></li>
          </ul>
        </section>


        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検二次試験の<br class="d-block d-md-none"><strong class="txt_kiri">合格</strong>に向けて<br>
                  <strong class="txt_kiri">短期集中コース</strong><br class="d-block d-md-none">を提供します</h2>
                <p class="text-left">英語の検定教科書などの出版を行っている桐原書店が開発したオンライン学習サービス「KIRIHARA Online Academy」。</p>
                <p class="text-left">効率的に英検二次試験の対策を行う、オンラインカリキュラムを用意いたしました。</p>
                <p class="text-left text-danger"><strong>※コース修了までの期間：１ヶ月（週２レッスン）～２ヶ月（週１レッスン）</strong></p>
                <div class="wt_problem mb-5">
                  <h3 class="text-center">こんな方におすすめです</h3>
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <ul class="text-center p-0 mb-0 p-lg-3">
                        <li><span class="fas fa-check" aria-hidden="true"></span>二次試験の対策を集中してやりたい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>面接が緊張してしまいうまくいかない</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>スピーキング対策がまだやれていない</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>どう勉強したらいいかわからない</li>
                      </ul>
                    </div>
                    <div class="col-12 col-lg-6">
                      <ul class="text-center p-0 mb-0 p-lg-3">
                        <li><span class="fas fa-check" aria-hidden="true"></span>無駄のない二次対策方法を知りたい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>計画とスケジュールを決めてほしい</li>
                        <li><span class="fas fa-check" aria-hidden="true"></span>子供の英検受験を合格させたい</li>
                      </ul>
                    </div>
                  </div>
                </div>
                                <div class="text-center">
                                  <p class="wt_mcopy">＼<script>
                    var today = new Date();
                    var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                    document.write((lastDay.getMonth() + 1) + "/" + lastDay.getDate() + "");
                    </script>までプラン価格13%OFF／</p>
                                </div>
                <div class="wt_mvbtn text-center"><a href="#register" class="btn btn-danger rounded-pill btn-lg">無料コース体験できます →</a></div>
              </div>
            </div>
          </div>
        </section>

        <section class="wt_sec_grey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検二次試験<br class="d-block d-md-none">合格コース<strong class="txt_kiri">料金プラン</strong></h2>
                <p>KIRIHARA Online Academyでは学習者の目標に合わせて、適切なカリキュラムを組んでおります。</p>
                <p>効率的に短期間で英検の二次試験に合格するためのコースを提供いたします。</p>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="wt_card wt_course pt-5">
                  <h3 class="text-center">英検準1級<br>二次試験合格コース</h3>
                  <p>英検準1級の受験を考えている方におすすめのコースです。</p>
                  <p>短期間で集中して、英検二次試験の面接の型をしっかり身につけるカリキュラムを用意しています。</p>
                  <h4 class="mb-0">コース料金</h4>
                  <p class="mb-0"><strong><s>55,000円</s> → <b class="text-danger">44,000円</b></strong></p>
                  <p class="text-danger"><small>※<script>var today = new Date();
var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
document.write(lastDay.getFullYear() + "年" + (lastDay.getMonth() + 1) + "月" + lastDay.getDate() + "日");</script>までのキャンペーン価格</small></p>
                  <h4 class="mb-0">期間</h4>
                  <p><strong><b>1〜2</b>ヶ月（1レッスン50分、8回）</strong></p>
                  <h4 class="mb-0">使用教材</h4>
                  <ul>
                    <li>14日でできる！ 英検準1級 二次試験・面接 完全予想問題</li>
                  </ul>
                  <h4 class="mb-0">対象</h4>
                  <p class="mb-0">英検2級を取得している方<br>英検準1級を受験される方<br>英検準1級の一次試験を通過された方</p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="wt_card wt_course pt-5">
                  <h3 class="text-center">英検2級<br>二次試験合格コース</h3>
                  <p>英検2級の受験を考えている方におすすめのコースです。</p>
                  <p>短期間で集中して、英検二次試験の面接の型をしっかり身につけるカリキュラムを用意しています。</p>
                  <h4 class="mb-0">コース料金</h4>
                  <p class="mb-0"><strong><s>44,000円</s> → <b class="text-danger">33,000円</b></strong></p>
                  <p class="text-danger"><small>※<script>var today = new Date();
var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
document.write(lastDay.getFullYear() + "年" + (lastDay.getMonth() + 1) + "月" + lastDay.getDate() + "日");</script>までのキャンペーン価格</small></p>
                  <h4 class="mb-0">期間</h4>
                  <p><strong><b>1〜2</b>ヶ月（1レッスン50分、8回）</strong></p>
                  <h4 class="mb-0">使用教材</h4>
                  <ul>
                    <li>14日でできる！ 英検2級 二次試験・面接 完全予想問題</li>
                  </ul>
                  <h4 class="mb-0">対象</h4>
                  <p class="mb-0">英検準2級を取得している方<br>英検2を受験される方<br>英検2級の一次試験を通過された方</p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="wt_card wt_course pt-5">
                  <h3 class="text-center">英検準2級<br>二次試験合格コース</h3>
                  <p>英検準2級の受験を考えている方におすすめのコースです。</p>
                  <p>短期間で集中して、英検二次試験の面接の型をしっかり身につけるカリキュラムを用意しています。</p>
                  <h4 class="mb-0">コース料金</h4>
                  <p class="mb-0"><strong><s>44,000円</s> → <b class="text-danger">33,000円</b></strong></p>
                  <p class="text-danger"><small>※<script>var today = new Date();
var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
document.write(lastDay.getFullYear() + "年" + (lastDay.getMonth() + 1) + "月" + lastDay.getDate() + "日");</script>までのキャンペーン価格</small></p>
                  <h4 class="mb-0">期間</h4>
                  <p><strong><b>1〜2</b>ヶ月（1レッスン50分、8回）</strong></p>
                  <h4 class="mb-0">使用教材</h4>
                  <ul>
                    <li>14日でできる！ 英検準2級 二次試験・面接 完全予想問題</li>
                  </ul>
                  <h4 class="mb-0">対象</h4>
                  <p class="mb-0">英検3級を取得している方<br>英検準2級を受験される方<br>英検準2級の一次試験を通過された方</p>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検合格のための学習法！<br class="d-block d-md-none">英検二次試験コースの<strong class="txt_kiri">特徴</strong></h2>
                <p>KIRIHARA Online Academyのカリキュラムで実際に行っているレッスン内容を紹介致します。</p>
                <p>短期間でスコアアップするためのノウハウがいっぱい詰まったコースです！</p>
              </div>

            </div>
          </div>


          <div class="container-fluid">
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-7 col-lg-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 p-lg-5 col-xl-9 p-xl-5">
                    <div class="badge wt_badge text-center"><span class="d-none d-md-inline">point. </span>1</div>
                    <h3 class="text-center text-md-left"><strong class="text-primary">レベルチェック</strong>で強みと弱みの明確化</h3>
                    <p>二次試験を合格するためには自身の強みと弱みを明らかにし、苦手を克服し、強みを強化していく形が好ましいです。<br>レッスンのはじめには問題を使った簡単なレベルチェックを行い、講師と共に何が足りないかを明確にします。</p>
                    <p>レッスンをこなしていく中で、強みと弱みを意識し、ちゃんと改善出来ているかもチェックしていきます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/reg/img_reg_eiken2_1.jpg" alt="レベルチェックで強みと弱みの明確化" class="w-100 h-auto" loading="lazy">
              </div>
            </div>
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-7 col-lg-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 p-lg-5 col-xl-9 p-xl-5">
                    <div class="badge wt_badge"><span class="d-none d-md-inline">point. </span>2</div>
                    <h3 class="text-center text-md-left">例題でスピーキングの<strong class="text-primary">型を習得</strong></h3>
                    <p>二次試験の対策を行う上で指定させていただいている、旺文社の「二次試験・面接 完全予想問題」を活用し、本番の試験に近い問題で課題に取り組みます。</p>
                    <p>二次試験の攻略のコツはスピーキングの「型」を身につけることです。<br>二次試験の基本的な流れは変わらないため、教材とオンラインレッスンを利用し、答え方のコツをしっかりと把握しましょう。<br>しっかりと教材を活用し型を身につけることで、自分の中で二次試験の対策方法が養われていきます。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/reg/img_reg_eiken2_2.jpg" alt="例題でスピーキングの型を習得" class="w-100 h-auto" loading="lazy">
              </div>
            </div>
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-7 col-lg-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 p-lg-5 col-xl-9 p-xl-5">
                    <div class="badge wt_badge"><span class="d-none d-md-inline">point. </span>3</div>
                    <h3 class="text-center text-md-left">オンラインレッスンによる<strong class="text-primary">フィードバック</strong></h3>
                    <p>オンラインレッスンでは、講師による出題傾向や対策の確認の他、面接官と見立ててロールプレイを行います。<br>実際に英検を取得している講師が、皆さまの回答に対しフィードバックを行い、更に評価されるための形に修正していきます。</p>
                    <p>また、第三者の視点で生徒の皆さまの強みを更に強化し、弱みを改善するためのトレーニングもいたします。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/reg/img_reg_eiken2_3.jpg" alt="オンラインレッスンによるフィードバック" class="w-100 h-auto" loading="lazy">
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">

                                <div class="text-center">
                                  <p class="wt_mcopy">＼<script>
                    var today = new Date();
                    var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                    document.write((lastDay.getMonth() + 1) + "/" + lastDay.getDate() + "");
                    </script>までプラン価格13%OFF／</p>
                                </div>
                <div class="wt_mvbtn text-center"><a href="#register" class="btn btn-danger rounded-pill btn-lg">無料コース体験できます →</a></div>
              </div>
            </div>
          </div>


        </section>

        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検二次試験コースの<br class="d-block d-md-none"><strong class="txt_kiri">詳細について</strong></h2>
                <ol>
                  <li>受講者の目標と課題を講師と確認</li>
                  <li>英語力の変化や学習進捗により内容は調整</li>
                  <li>スコアだけでなく使える英語を身につける</li>
                </ol>
                <table class="table table-striped wt_coursetable">
                  <thead>
                    <tr>
                      <th class="text-center w-10">DAY</th>
                      <th class="text-center w-30">対象Part</th>
                      <th class="text-center w-60">活動内容</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">1</td>
                      <td>実力チェック</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>音読/パッセージ</li>
                          <li>イラストに関する問題</li>
                          <li>意見を問う質問</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>音読/パッセージのチェック</li>
                          <li>イラストに関する問題のチェック</li>
                          <li>意見を問う質問のチェック</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">2</td>
                      <td class="mb-0 d-lg-none">Day.1-2 音読/パッセージ＆イラスト</td>
                      <td class="mb-0 d-none d-lg-block">Day.1-2 音読/パッセージ＆イラストを活用したレッスン</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">3</td>
                      <td class="mb-0 d-lg-none">Day.1-2 受験者の意見を問う質問</td>
                      <td class="mb-0 d-none d-lg-block">Day.1-2 受験者の意見を問う質問を活用したレッスン</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>応答ポイントのフィードバック</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>応答のポイントに照らし合わせたフィードバック</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">4</td>
                      <td>Day3-4を活用したレッスン</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">5</td>
                      <td>Day5-6を活用したレッスン</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">6</td>
                      <td>Day7-8を活用したレッスン</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">7</td>
                      <td>Day9を活用したレッスン<br>Day1-4に再挑戦</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
                          <li>強み・弱みの変化を確認</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
                          <li>各項目の強み・弱みの変化を確認</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">8</td>
                      <td>Day10を活用したレッスン<br>Day5-8に再挑戦</td>
                      <td>
                        <ul class="mb-0 d-lg-none">
                          <li>アクセントやイントネーション、応答ポイントのフィードバック</li>
                          <li>強み・弱みの変化を確認</li>
                        </ul>
                        <ul class="mb-0 d-none d-lg-block">
                          <li>アクセントやイントネーション、応答のポイントに照らし合わせたフィードバック</li>
                          <li>各項目の強み・弱みの変化を確認</li>
                        </ul>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </section>

        <section id="register">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">まずは<strong class="txt_kiri">無料体験レッスン</strong>を<br class="d-block d-md-none">会員登録はこちらから</h2>
                <p class="text-lg-center mb-lg-5">会員登録いただいた方には、無料の体験レッスンを用意しています。<br>スピーキングの効率的な学習方法を体験することができますので、英検二次試験を控えていらっしゃる方ぜひご利用ください。</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">
                <div class="wt_form wt_form_layer">

                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="cfmset" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <TMPL_IF NAME="errs">
                      <p class="errs">%errs%</p>
                    </TMPL_IF>

                    <div class="form-group" style="display: none">
                      <label class="required %member_lastname_err% %member_firstname_err%">お名前</label>
                      <div class="row">
                        <div class="col-2 col-sm-1">
                          <label for="member_lastname" class=" %member_lastname_err% %member_firstname_err%">%member_lastname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_lastname" name="member_lastname" value="%member_lastname%" placeholder="（例）山田" class="form-control %member_lastname_err%" />
                        </div>
                        <div class="col-2 col-sm-1">
                          <label for="member_firstname" class="%member_lastname_err% %member_firstname_err%">%member_firstname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_firstname" name="member_firstname" value="%member_firstname%" placeholder="（例）太郎" class="form-control %member_firstname_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_handle" class="required %member_handle_err%">%member_handle_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_handle" name="member_handle" value="%member_handle%" placeholder="（例）桐原一郎" class="form-control %member_handle_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_email" class="required %member_email_err%">%member_email_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_email" name="member_email" value="%member_email%" placeholder="（例）yamada@example.com" class="form-control %member_email_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_pass" class="required %member_pass_err%">%member_pass_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="password" id="member_pass" name="member_pass" value="%member_pass%" placeholder="%member_pass_caption%を入力してください（8～12文字）" class="form-control %member_pass_err%" />
                          <div class="form-group">
                            <input type="password" id="member_pass2" name="member_pass2" value="%member_pass2%" placeholder="確認の為、再度%member_pass_caption%を入力してください" class="form-control %member_pass2_err%" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" style="display:none;">
                      <label for="coupon_code" class="%coupon_code_err%">%coupon_code_caption%</label>
                      <input type="text" id="coupon_code" name="coupon_code" value="rwmvhpjo" class="form-control %coupon_code_err%" />
                      <ul class="note">
                        <li>%coupon_code_caption%をお持ちの方は、ここに8桁の半角英数字で入力してください</li>
                      </ul>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="agree">利用規約</label>
                        </div>
                        <div class="col-12 col-xl-8 mb-5">
                          <div class="wt_termsbox wt_termsbox_lp">
                            <div>
                              <TMPL_INCLUDE NAME="../include/agreement.html">
                            </div>
                            <div>
                              <TMPL_INCLUDE NAME="../include/privacypolicy.html">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center">
                          <h5 class="text-center">規約に同意いただいた方は、「次へすすむ」ボタンを押してください</h5>
                        </div>
                      </div>

                      <div class="text-center mb-5">
                        <input type="submit" value="次へすすむ" class="btn btn-danger rounded-pill wt_btn" />
                      </div>

                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer_lp.html">
        <TMPL_INCLUDE NAME="../include/foot_cv.html">
          <script src="%static_url%/js/dom.js"></script>
          <script src="%static_url%/js/inputlimit.js"></script>
          <style>
            #coupon_code {
              width: 8em;
            }

          </style>
</body>

</html>
