<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>無料体験レッスン・会員登録｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="無料体験レッスン・会員登録｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_register.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="無料体験レッスン・会員登録｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_register.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <link rel="stylesheet" href="/assets/css/lp.css?3">
<style>
    .wt_footer_banner{
        display: none;
    }
</style>       
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

  <main role="main" class="wt_main">

    <section class="wt_headvis wt_head_contact">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>無料体験レッスンはこちら</h1>
          </div>
        </div>
      </div>
    </section>

    <section id="register">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 wt_form">
                        <h2 class="text-center">目標達成のための<strong class="txt_kiri">第一歩</strong></h2>
                        <p class="mb-5 text-lg-center">%product_name%に興味をお持ちいただき、ありがとうございます。<br>無料体験レッスンで気軽に講座を体験ください。<br>※クレジット情報の入力は不要ですのでご安心ください。</p>

                        <form method="post" action="%CGI_URL%" id="freg" name="freg">
                          <input type="hidden" name="m" value="cfmset" />
                          <input type="hidden" name="pkey" value="%pkey%" />
                          <TMPL_IF NAME="errs"><p class="errs">%errs%</p></TMPL_IF>

                          <div class="form-group" style="display: none">
                            <label class="required %member_lastname_err% %member_firstname_err%">お名前</label>
                            <div class="row">
                              <div class="col-2 col-sm-1">
                                <label for="member_lastname" class=" %member_lastname_err% %member_firstname_err%">%member_lastname_caption%：</label>
                              </div>
                              <div class="col-10 col-sm-5" style="line-height:1">
                                <input type="text" id="member_lastname" name="member_lastname" value="%member_lastname%" placeholder="（例）山田" class="form-control %member_lastname_err%" />
                              </div>
                              <div class="col-2 col-sm-1">
                                <label for="member_firstname" class="%member_lastname_err% %member_firstname_err%">%member_firstname_caption%：</label>
                              </div>
                              <div class="col-10 col-sm-5" style="line-height:1">
                                <input type="text" id="member_firstname" name="member_firstname" value="%member_firstname%" placeholder="（例）太郎" class="form-control %member_firstname_err%" />
                              </div>
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="member_handle" class="required %member_handle_err%">%member_handle_caption%</label>
                            <input type="text" id="member_handle" name="member_handle" value="%member_handle%" placeholder="（例）桐原一郎" class="form-control %member_handle_err%" />
                          </div>

                          <div class="form-group">
                            <label for="member_email" class="required %member_email_err%">%member_email_caption%</label>
                            <input type="email" id="member_email" name="member_email" value="%member_email%" placeholder="（例）kirihara@example.com" class="form-control %member_email_err%" />
                          </div>

                          <div class="form-group">
                            <label for="member_pass" class="required %member_pass_err%">%member_pass_caption%</label>
                            <input type="password" id="member_pass" name="member_pass" value="%member_pass%" placeholder="%member_pass_caption%を入力してください（8～12文字）" class="form-control %member_pass_err%" />
                          </div>
                          <div class="form-group">
                            <input type="password" id="member_pass2" name="member_pass2" value="%member_pass2%" placeholder="確認の為、再度%member_pass_caption%を入力してください"  class="form-control %member_pass2_err%" />
                          </div>

                          <div class="form-group" style="display:none;">
                            <label for="coupon_code" class="%coupon_code_err%">%coupon_code_caption%</label>
                            <input type="text" id="coupon_code" name="coupon_code" value="lrhfi3ta" class="form-control %coupon_code_err%" />
                            <ul class="note">
                              <li>%coupon_code_caption%をお持ちの方は、ここに8桁の半角英数字で入力してください</li>
                            </ul>
                          </div>

                          <div class="form-group">
                            <label for="agree">利用規約</label>
                            <div class="wt_termsbox">
                              <div><TMPL_INCLUDE NAME="../include/agreement.html"></div>
                            </div>
                            <label for="agree">個人情報の取り扱い</label>
                            <p class="text-left small">当社のプライバシーポリシー（個人情報保護方針）はこちら <a href="https://www.writeup.jp/privacy/" target="_blank" rel="noopener">https://www.writeup.jp/privacy/</a></p>
                            <div class="col-12 text-center">
                                <input  class="checklist" type="checkbox" onchange="change()" id="agree" name="agree"> <strong>利用規約、個人情報の取り扱いに同意する</strong>
                            </div>
                          </div>
                          <div class="text-center mb-5">
                            <input type="submit" value="次へすすむ" class="btn btn-danger rounded-pill wt_btn" />
                          </div>
                          
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

  <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<script src="%static_url%/js/dom.js"></script>
<script src="%static_url%/js/inputlimit.js"></script>
<style>#coupon_code{width:8em;}</style>
  
<script>
$(function(){
	$('#freg').submit(function(){
		if(!$('#agree').prop('checked')){
			alert("利用規約、個人情報の取り扱いに同意してください。");
			return false;
		} else {
			return true;
		}
	});
});
</script>       
</body>
</html>
