<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>【重要】料金プラン変更による報酬改定についてのお知らせ ｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta name="robots" content="noindex,nofollow" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

      
<body id="instructor" class="instructor">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_prof.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">【重要】料金プラン変更による報酬改定についてのお知らせ</h2>
                  <p>いつも、レッスンありがとうございます。<br>KIRIHARA Online Academyでは、<strong>2025年1月1日（水）</strong>より、一般向け料金プランの価格改定を行います。</p>
                  <p>それに伴い、先生への報酬も変更となります。<br>以下変更内容となりますので、ご確認をお願いいたします。</p>
                  <p>※注意点<br>システムの都合上、1月中のレッスンに関して手作業で報酬変更を行います<br>そのため、報酬が旧プランの報酬で表示されることがありますが、2月の精算までに修正しますのでご安心ください。</p> 
                  
                  <h3 class="mt-5">【TOEICコース】</h3>
                  <p>TOEIC500～600点突破コース：1レッスン 1,125円→ <strong class="text-danger">1,312円</strong><br>TOEIC730点突破コース：1レッスン 1,125円→ <strong class="text-danger">1,312円</strong></p>

                  <p>TOEIC修了者向け定期コース：1レッスン 1,200円 → <strong class="text-danger">1,350円</strong></p>

                  <h3 class="mt-5">【英検コース】</h3>
                  <p>英検準1級一次試験対策コース：1レッスン 1,500円 → <strong class="text-danger">1,687円</strong><br>英検2級一次試験対策コース：1レッスン 1,125円 → <strong class="text-danger">1,312円</strong><br>英検準2級一次試験対策コース：1レッスン 1,125円 → <strong class="text-danger">1,312円</strong></p>

                  <p>英検準1級二次試験合格コース：1レッスン 1,500円 → <strong class="text-danger">1,687円</strong><br>英検2級二次試験合格コース：1レッスン 1,125円 → <strong class="text-danger">1,312円</strong><br>英検準2級二次試験合格コース：1レッスン 1,125円 → <strong class="text-danger">1,312円</strong></p>

                  <p>英検試験修了者向け定期コース（準1級）：1レッスン 1,200円/月 → <strong class="text-danger">1,800円/月</strong><br>英検試験修了者向け定期コース（2級～準2級）：1レッスン 1,200円/月 → <strong class="text-danger">1,350円/月</strong></p>                
                  <p>※修了者向け定期コースは、準1級と、2級・準2級の価格を分けます<br>※体験レッスンは25分のため上記金額の半額となります</p>
                  
                  <p class="mt-5">ご確認いただけますと幸いです。<br>何卒よろしくお願い申し上げます。</p>
              </div>
          </div>
 
        </div>
    </section>
   </main>
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot_prof.html">
  
</body>
</html>
