<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>%prof_caption%プロフィール編集｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta name="robots" content="noindex,nofollow" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <link rel="stylesheet" href="/assets/css/lp.css?5">

    <style>
      .input-group-text{
        font-size: 1.6rem;
        height: 50px;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    </style>
</head>
      
<body id="instructor" class="instructor">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_prof.html">

      <main role="main" class="wt_main">
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center"><TMPL_IF NAME="prof_logo">プロフィール情報のご編集<TMPL_ELSE>まずは情報をご入力ください</TMPL_IF></h2>

                  <TMPL_IF NAME="member_purpose">
                    <p class="text-left text-md-center mb-5">プロフィール情報の編集はこちらから。<br>教材発送をご希望の方は、住所や電話番号のご登録をお願いいたします。</p>
                    <TMPL_ELSE>
                  </TMPL_IF>
                  <TMPL_IF NAME="errs">
                    <div class="errs">%errs%</div>
                  </TMPL_IF>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 offset-md-2">
            <div class="wt_form wt_form_layer mb-5">
              <h3 class="mb-5 wt_head-border"><span class="badge badge-pill badge-primary">Step.1</span>プロフィール登録</h3>
              <p>必要情報のご登録をお願いいたします。</p>
            <form method="post" action="%CGI_URL%" enctype="multipart/form-data">
              <input type="hidden" name="m" value="prfmodset" />
              <input type="hidden" name="pkey" value="%pkey%" />
              <input type="hidden" id="prof_company" name="prof_company" value="%prof_company%" />
              <!--<input type="hidden" id="prof_dept" name="prof_dept" value="%prof_dept%" />-->
              <input type="hidden" id="prof_title" name="prof_title" value="%prof_title%" />
              <TMPL_IF NAME="errs"><div class="errs">%errs%</div></TMPL_IF>
              
                <div class="form-group mb-4">
                  <label class="required %prof_lastname_err% %prof_lastname_err%">お名前</label>
                  <div class="row">
                    <div class="col-12 col-sm-6" style="line-height:1">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">姓</span>
                        </div>
                        <input type="text" id="prof_lastname" name="prof_lastname" value="%prof_lastname%" placeholder="（例）山田" class="form-control %prof_lastname_err%" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6" style="line-height:1">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">名</span>
                        </div>
                        <input type="text" id="prof_firstname" name="prof_firstname" value="%prof_firstname%" placeholder="（例）太郎" class="form-control %prof_firstname_err%" />
                      </div>
                    </div>
                  </div>
                  <ul class="note">
                    <li>本名を入力ください。こちらの名前はサイトでは表示されませんのでご安心ください。</li>
                  </ul>
                </div>

                <div class="form-group mb-4">
                  <label for="prof_handle" class="required %prof_handle_err%">%prof_handle_caption%</label>
                  <div class="input-group">
                    <input type="text" id="prof_handle" name="prof_handle" value="%prof_handle%" placeholder="（例）Tarou" class="form-control %prof_handle_err%" />
                    <div class="input-group-append">
                      <span class="input-group-text">先生</span>
                    </div>
                  </div>
                  
                  <ul class="note">
                    <li>サイト上での表示名になります。</li>
                  </ul>
                </div>

                <div class="form-group mb-4">
                  <label for="prof_email" class="required %prof_email_err%">%prof_email_caption%</label>
                  <input type="text" id="prof_email" name="prof_email" value="%prof_email%" placeholder="（例）yamada@example.com" class="form-control %prof_email_err%" />
                </div>

                <div class="form-group mb-4" style="display:none">
                  <label for="prof_pass" class="required %prof_pass_err%">%prof_pass_caption%</label>
                  <input type="password" id="prof_pass" name="prof_pass" value="%prof_pass%" class="form-control %prof_pass_err%" />
                  <ul class="note">
                    <li>8文字以上<span id="prof_pass_max_char_num">12</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_pass_char_num">0</span>文字）</li>
                  </ul>
                </div>

                <div class="form-group mb-4" style="">
                  <label for="prof_dept" class="required %prof_dept_err%">%prof_dept_caption%</label>
                  <input type="text" id="prof_dept" name="prof_dept" value="%prof_dept%" placeholder="https://meet.google.com/abc-defg-hij" class="form-control inputlimit_ascii %prof_dept_err%" />
                  <ul class="note">
                    <li><a href="https://meet.google.com/landing" target="_blank">Google Meetのホームページ</a>より、「新しい会議を作成」をクリックし、表示されたページのURLをコピーペーストしてください</li>
                  </ul>
                  <div class="wt_youtube_cont mb-4">
                    <div class="wt_youtube">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/TCVubO-F8kQ?rel=0&theme=light&showinfo=0&autohide=1&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              
                <div class="form-group mb-4">
                  <label for="prof_skype_id" class="%prof_skype_id_err%">%prof_skype_id_caption%（終了予定）</label>
                  <input type="text" id="prof_skype_id" name="prof_skype_id" value="%prof_skype_id%" class="form-control text inputlimit_ascii %prof_skype_id_err% xlarge" placeholder="（例）live:.cid.745906f36db9a78a" />
                  <ul class="note">
                    <li>アカウントをお持ちでない方は<a href="https://signup.live.com/?lic=1" target="_blank">Skypeホームページ</a>ヘ</li>
                    <!--<li>登録方法がわからない方はこちらの動画をご覧ください</li>-->
                  </ul>
                  <!--<div class="wt_youtube_cont mb-4">
                    <div class="wt_youtube">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/e6NV1-8Mq6c?rel=0&theme=light&showinfo=0&autohide=1&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                  </div>-->
                </div>

                <div class="form-group mb-4" style="">
                  <label for="prof_hp" class="%prof_hp_err%">%prof_hp_caption%（学校会員担当者のみ）</label>
                  <input type="text" id="prof_hp" name="prof_hp" value="%prof_hp%" placeholder="https://us06web.zoom.us/j/**********?pwd=***************" class="form-control inputlimit_ascii %prof_hp_err%" />
                  <ul class="note">
                    <li><a href="https://zoom.us/" target="_blank">ZOOMのホームページ</a>より、アカウントを作成いただき「プロフィール」ページより「パーソナルミーティングID」を取得ください</li>
                  </ul>
                </div>
              
                <div class="form-group mb-4">
                  <label for="prof_logo_up" class="%prof_logo_up_err%">プロフィール写真</label>
                  <input type="file" id="prof_logo_up" name="prof_logo_up" class="text %prof_logo_up_err% mb-4" />
                  <TMPL_IF NAME="prof_logo_up">
                  <div id="prof_logo_box">
                    <img src="%prof_logo_2_tmp_url%?%epoch%" width="%prof_logo_2_w%" height="%prof_logo_2_h%" alt="プロフィール写真" class="rounded-pill" />
                  </div>
                  <div class="form-check">
                    <label for="prof_logo_del"><input type="checkbox" id="prof_logo_del" name="prof_logo_del" value="1" /> 登録した画像を取り消す</label>
                  </div>
                  <TMPL_ELSE>
                  <TMPL_IF NAME="prof_logo">
                  <div id="prof_logo_box">
                    <img src="%prof_logo_2_url%?%epoch%" width="%prof_logo_2_w%" height="%prof_logo_2_h%" alt="プロフィール写真" class="rounded-pill" />
                  </div>
                  <div class="form-check">
                    <label for="prof_logo_del"><input type="checkbox" id="prof_logo_del" name="prof_logo_del" value="1" /> 登録した画像を取り消す</label>
                  </div>
                  </TMPL_IF>
                  </TMPL_IF>
                  <ul class="note">
                    <li>出来るだけ笑顔の写真を登録ください。</li>
                    <li>正方形の写真をアップすると、ホームページで綺麗に表示されます。</li>
                    <li>サイズは10MB以内の画像ファイルをご登録ください。</li>
                  </ul>
                </div>
                   
                <fieldset class="form-group mb-4">
                  <label class="%prof_gender_err%">%prof_gender_caption%</label>
                  <div class="form-check">
                    <label class="form-check-label"><input type="radio" id="prof_gender_1" name="prof_gender" value="1" %prof_gender_1_checked% /> 男性</label>
                    <label class="form-check-label"><input type="radio" id="prof_gender_2" name="prof_gender" value="2" %prof_gender_2_checked% /> 女性</label>
                  </div>
                </fieldset>
                   
                <div class="form-group mb-4">
                  <label class="%prof_birthy_err% %prof_birthm_err% %prof_birthd_err%">生年月日</label>
                  <div class="row">
                    <div class="col-4 col-md-3">
                      <div class="input-group">
                        <input type="text" id="prof_birthy" name="prof_birthy" value="%prof_birthy%" maxlength="5" class="form-control inputlimit_num %prof_birthy_err%" />
                        <div class="input-group-append">
                          <span class="input-group-text">年</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 col-md-3">
                      <div class="input-group">
                        <input type="text" id="prof_birthm" name="prof_birthm" value="%prof_birthm%" maxlength="4" class="form-control inputlimit_num %prof_birthm_err%" />
                        <div class="input-group-append">
                          <span class="input-group-text">月</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 col-md-3">
                      <div class="input-group">
                        <input type="text" id="prof_birthd" name="prof_birthd" value="%prof_birthd%" maxlength="4" class="form-control inputlimit_num %prof_birthd_err%" />
                        <div class="input-group-append">
                          <span class="input-group-text">日</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <fieldset class="form-group d-none mb-4">
                  <legend class="col-form-legend required %prof_interest_err%">%prof_interest_caption%</legend>
                  <div class="form-check">
                  <TMPL_LOOP NAME="prof_interest_loop">
                    <label class="form-check-label"><input type="checkbox" id="prof_interest_%id%" name="prof_interest" value="%id%" %checked% />%title%</label>
                  </TMPL_LOOP>
                  </div>
                  <ul class="note">
                    <li><TMPL_IF NAME="prof_interest_min">少なくとも%prof_interest_min%項目にチェックを入れてください。</TMPL_IF></li>
                  </ul>
                </fieldset>
                    

                <div class="form-group mb-4">
                  <label for="prof_intro" class="%prof_intro_err% required">%prof_intro_caption%</label>
                  <textarea name="prof_intro" id="prof_intro" rows="5" class="form-control %prof_intro_err%" style="height: 400px;">%prof_intro%</textarea>
                  <div class="wt_sample_box">
                    <h5>自己紹介フォーマット例）</h5>
                    <p class="mb-0">
▼ごあいさつ<br>
※まずは生徒の皆さまへの一言メッセージを書きましょう<br>
　ご自身の強みや、どんなお悩みを持っている方におススメか？があると更に良いです<br>
<br>
▼経歴<br>
※ご自身の経歴を入力ください<br>
　自分の資格取得に関する経歴や、その他英語に関係するスキルや資格、経験など<br>
<br>
▼指導実績<br>
※これまで指導した生徒の実績を入力ください<br>
　特に資格対策における生徒の合格数や目標達成数があると更に良いです<br>
<br>
▼レッスン可能時間帯<br>
※レッスンを開講できる時間帯を入力ください</p>
                  </div>
                  <ul class="note">
                    <li><span id="prof_intro_max_char_num">8000</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_intro_char_num">0</span>文字）</li>
                  </ul>
                </div>
                    
                <div class="form-group mb-4" style="display:none;">
                  <label for="prof_intro2" class="%prof_intro2_err%">%prof_intro2_caption%</label>
                  <textarea name="prof_intro2" id="prof_intro2" rows="5" class="form-control %prof_intro2_err%">%prof_intro2%</textarea>
                  <ul class="note">
                    <li><span id="prof_intro2_max_char_num">1000</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_intro2_char_num">0</span>文字）</li>
                    <li>出来る限り資格対策における、生徒への合格実績や目標達成実績を入力するようにしてください</li>
                  </ul>
                </div>
                    
                <div class="form-group mb-4" style="display:none;">
                  <label for="prof_associate1" class="%prof_associate1_err% required">%prof_associate1_caption%</label>
                  <textarea name="prof_associate1" id="prof_associate1" rows="5" class="form-control %prof_associate1_err%">%prof_associate1%</textarea>
                  <ul class="note">
                    <li><span id="prof_associate1_max_char_num">300</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_associate1_char_num">0</span>文字）</li>
                  </ul>
                </div>
                    
                <div class="form-group mb-4" style="display:none;">
                  <label for="prof_associate2" class="%prof_associate2_err%">%prof_associate2_caption%</label>
                  <textarea name="prof_associate2" id="prof_associate2" rows="5" class="form-control %prof_associate2_err%">%prof_associate2%</textarea>
                  <ul class="note">
                    <li><span id="prof_associate2_max_char_num">300</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_associate2_char_num">0</span>文字）</li>
                  </ul>
                </div>
              
                           
                <div class="form-group mb-4">
                  <label for="prof_audio_url" class="%prof_audio_url_err%">%prof_audio_url_caption%</label>
                  <div class="clearfix">
                    <div class="d-inline-block">http://www.youtube.com/watch?v=</div>
                    <div class="col-3 col-sm-2 d-inline-block">
                      <input type="text" id="prof_audio_url" name="prof_audio_url" value="%prof_audio_url%" class="form-control inputlimit_ascii %prof_audio_url_err%" />
                    </div>
                  </div>
                    <ul class="note">
                      <li>自己紹介動画をYoutubeにアップの上、URLのv=の後に続く「11桁」の文字列を入力ください</li>
                      <li>設定方法が分からない場合は、事務局の方でお手伝いいたしますのでご連絡ください</li>
                    </ul>
                </div>
                           
                <div class="form-group mb-4">
                  <label for="prof_video_url" class="%prof_video_url_err%">%prof_video_url_caption%</label>
                  <div class="clearfix">
                    <div class="d-inline-block">http://www.youtube.com/watch?v=</div>
                    <div class="col-3 col-sm-2 d-inline-block">
                      <input type="text" id="prof_video_url" name="prof_video_url" value="%prof_video_url%" class="form-control inputlimit_ascii %prof_video_url_err%" />
                    </div>
                  </div>
                  <ul class="note">
                      <li>レッスン動画をYoutubeにアップの上、URLのv=の後に続く「11桁」の文字列を入力ください</li>
                      <li>設定方法が分からない場合は、事務局の方でお手伝いいたしますのでご連絡ください</li>
                      <li>レッスン動画の撮影を希望される方も事務局までご連絡ください</li>
                  </ul>
                </div>
              
                <div class="form-group mb-4" style="display:none;">
                  <label for="prof_fee" class="required %prof_fee_err%">%prof_fee_caption%</label>
                  <input type="text" id="prof_fee" name="prof_fee" value="%prof_fee%" class="form-control inputlimit_num %prof_fee_err%" />
                  <ul class="note">
                    <li>ここで指定する金額は%member_caption%に表示する金額です。%prof_caption%に配分される金額ではありませんので注意してください。</li>
                    <!--<li>%prof_caption%に配分される金額は、チケット利用時の場合は、ここで指定した金額の%normal_point_prof_margin%％です。<br />クーポン利用時の場合は、ここで指定した金額の%normal_coupon_prof_margin%％です。</li>-->
                    <li>0～999999の金額を半角数値で入力してください。</li>
                    <li>必要チケットを変更すると、下記の条件に該当するスケジュールに適用されます。<br />
                      <ul>
                        <li>変更後に登録したスケジュール</li>
                        <li>登録済で、予約の入っていないスケジュール</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              
                <div class="form-group mb-4" style="display:none;">
                  <label class="required %prof_rank_err%">%prof_rank_caption%</label>
                  <select class="form-control %prof_rank_err%" name="prof_rank" id="prof_rank">
                    <option value="">-</option>
                    <TMPL_LOOP NAME="prof_rank_loop"><option value="%id%" %selected%>%title%</option></TMPL_LOOP>
                  </select>
                  <ul class="note">
                    <li>こちらはサービスサイトに表示されます。</li>
                  </ul>
                </div>
              </div>
                  
            <div class="wt_form wt_form_layer mb-5">
              <h3 class="mb-5 wt_head-border"><span class="badge badge-pill badge-primary">Step.2</span>教材送付先の登録</h3>
              <p>教材送付に必要な情報をご入力ください。</p>
                <div class="form-group mb-4">
                  <label class="%prof_zip1_err% %prof_zip2_err% %prof_addr1_err% %prof_addr2_err% %prof_addr3_err% %prof_addr4_err% required">住所</label>
                  <div class="row">
                    <div class="col-3 col-md-2"><label for="prof_zip1">郵便番号</label></div>
                    <div class="col-3 col-sm-2 pr-0"><input type="number" id="prof_zip1" name="prof_zip1" value="%prof_zip1%" maxlength="3" class="form-control inputlimit_num %prof_zip1_err%" /></div>
                    <div class="col-1 col-sm-1 text-center pr-0 pl-0"><label>-</label></div>
                    <div class="col-3 col-sm-2 pl-0"><input type="number" id="prof_zip2" name="prof_zip2" value="%prof_zip2%" maxlength="4" class="form-control inputlimit_num %prof_zip2_err%" onkeyup="AjaxZip3.zip2addr('prof_zip1',this,'prof_addr1','prof_addr2','prof_addr3')" /></div>
                  </div>
                  <div class="row">
                    <div class="col-3 col-sm-3 col-md-2"><label for="prof_addr1">%prof_addr1_caption%</label></div>
                    <div class="col-4 col-sm-4">
                      <input type="text" id="prof_addr1" name="prof_addr1" value="%prof_addr1%" class="form-control %prof_addr1_err%" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 col-sm-3 col-md-2"><label for="prof_addr2">%prof_addr2_caption%</label></div>
                    <div class="col-4 col-sm-4 col-md-10">
                      <input type="text" id="prof_addr2" name="prof_addr2" value="%prof_addr2%" class="form-control %prof_addr2_err%" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 col-sm-3 col-md-2"><label for="prof_addr3">%prof_addr3_caption%</label></div>
                    <div class="col-5 col-sm-5 col-md-10">
                      <input type="text" id="prof_addr3" name="prof_addr3" value="%prof_addr3%" class="form-control %prof_addr3_err%" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 col-sm-3 col-md-2"><label for="prof_addr4">%prof_addr4_caption%</label></div>
                    <div class="col-5 col-sm-5 col-md-10">
                      <input type="text" id="prof_addr4" name="prof_addr4" value="%prof_addr4%" class="form-control %prof_addr4_err%" />
                    </div>
                  </div>
                </div>
                  
                <div class="form-group mb-4">
                  <label for="prof_tel1" class="%prof_tel1_err% %prof_tel2_err% %prof_tel3_err%">電話番号</label>
                  <div class="row">
                    <div class="col-3 col-sm-2">
                      <input type="text" id="prof_tel1" name="prof_tel1" value="%prof_tel1%" maxlength="5" class="form-control inputlimit_num %prof_tel1_err%" />
                    </div>
                    <div class="float-left"><label>-</label></div>
                    <div class="col-3 col-sm-2">
                      <input type="text" id="prof_tel2" name="prof_tel2" value="%prof_tel2%" maxlength="4" class="form-control inputlimit_num %prof_tel2_err%" />
                    </div>
                    <div class="float-left"><label>-</label></div>
                    <div class="col-3 col-sm-2">
                      <input type="text" id="prof_tel3" name="prof_tel3" value="%prof_tel3%" maxlength="4" class="form-control inputlimit_num %prof_tel3_err%" />
                    </div>
                  </div>
                  <ul class="note">
                    <li>ご住所・及びお電話番号の情報は公開されません</li>
                    <li>報酬の支払い、及び教材の配送などに必要なため、入力をお願いしています</li>
                  </ul>
                </div>
                   
                 
                 
                <div class="form-group mb-4"><label class="required %prof_country_err%">%prof_country_caption%</label>
                  <select class="w40 form-control %prof_country_err%" name="prof_country" id="prof_country">
                    <option value="">-</option>
                    <TMPL_LOOP NAME="prof_country_loop"><option value="%country_code%" %selected%>%country_name%</option></TMPL_LOOP>
                  </select>
                </div>

                <div class="form-group mb-4"><label class="required %prof_residence_err%">%prof_residence_caption%</label>
                  <select class="w40 form-control %prof_residence_err%" name="prof_residence" id="prof_residence">
                    <option value="">-</option>
                    <TMPL_LOOP NAME="prof_residence_loop"><option value="%country_code%" %selected%>%country_name%</option></TMPL_LOOP>
                  </select>
                  <ul class="note">
                    <li>こちらの情報はサービスサイトに表示されます。</li>
                  </ul>
                </div>
              </div>
              <div class="wt_form wt_form_layer mb-5">
                <h3 class="mb-5 wt_head-border"><span class="badge badge-pill badge-primary">Step.3</span>指導コースの選択</h3>
                <p>教材送付に必要な情報をご入力ください。</p>
                <fieldset class="form-group mb-4">
                  <label class="required %prof_character_err%">%prof_character_caption%</label>
                  <p><a href="/WTE/prof.cgi?m=course" target="_blank">コース紹介ページ</a>より、提供を希望するコースを選び、下記チェックボックスを入力ください。</p>
                  <div class="form-check">
                  <table class="table table-striped wt_coursetable">
                  <TMPL_LOOP NAME="prof_character_loop">
            <tr>
              <td><label class="form-check-label d-block"><input type="checkbox" id="prof_character_%id%" name="prof_character" value="%id%" %checked% >%title%</label></td>
            </tr>
                  </TMPL_LOOP>
                  </table>
                  </div>
                  <ul class="note">
                    <li>各コース条件がありますので、中には希望をいただいても提供不可の可能性もございますので、ご了承ください。</li>
                  </ul>
                </fieldset>
                
                
                <div class="text-center"><input type="submit" value="編集する" name="setBtn" class="btn btn-primary rounded-pill wt_btn" /></div>
              </form>
              </div>
              
          </div>
        </div>
      </div>
    </section>
  </main>        

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot_prof.html">
  <script src="/assets/js/ajaxzip3.js"></script>
<script type="text/javascript" src="%static_url%/js/prof/prfaddfrm.js"></script>
</body>
</html>

