<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>【新プラン】TOEFLコース追加についてのお知らせ ｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta name="robots" content="noindex,nofollow" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

      
<body id="instructor" class="instructor">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_prof.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">【新プラン】TOEFLコース追加についてのお知らせ</h2>
                  <p>いつも、レッスンありがとうございます。<br>KIRIHARA Online Academyでは、新プランとして<strong class="text-danger">TOEFL iBT スターターコース</strong>を公開することになりました。</p>
                  <p>そこで、TOEFLコース対応可能な講師の皆様を募集いたします。<br>対応できる方は<a href="mailto:teacher@kirihara.worldtalk.jp">teacher@kirihara.worldtalk.jp</a>宛てにご一報連絡いただけますと幸いです。</p>
                  <p>また、指導可能な講師へ、KIRIHARA Online Academy主催のオンライン研修を開催いたします。<br>この機会にぜひ、ご参加お願いいたします。</p>
                  
                  <h3 class="mt-5">【どんなコースか】</h3>
                  <p>TOEFL iBT&reg;の本受験にトライできる英語レベルに引き上げるためのコースです。<br>TOEFL受験がはじめての方、これから学習を開始しようと考えている方が対象となります。</p>
                  <p>参考までに、KOA内に集客用の説明ページを作成しましたので、ご確認ください。<br><a href="https://academy.kirihara.co.jp/wte/toefl" target="_blank">→ TOEFL iBT&reg; Starterコース</a></p>
                  
                  <h3 class="mt-5">【指導条件】</h3>
                  <ul>
                    <li>英検準1級、もしくはTOEFL iBT88点以上を持っている⽅<br>
                      （TOEFL iBTの受験経験がある優遇）</li>
                    <li>指定の教材を持っている⽅</li>
                    <li>当社採⽤条件をクリアしている⽅</li>
                    <li>カリキュラムを全て把握いただいた⽅<br><a href="https://academy.kirihara.co.jp/assets/pdf/ca_toefl_starter.pdf" target="_blank">→ TOEFL iBT&reg; Starterコースのシラバスはこちら</a></li>
                  </ul>

                  <h3 class="mt-5">【報酬について】</h3>
                  <p>コースの報酬は以下となります。</p>
                  <ul>
                    <li>通常レッスン（50分）：<strong class="text-danger">1,687円</strong></li>
                    <li>体験レッスン（25分）：<strong class="text-danger">843円</strong></li>
                  </ul>

                  <h3 class="mt-5">【教材について】</h3>
                  <ul>
                    <li>The Official Guide to the TOEFL iBT® Test 7th EDITION → <a href="https://amzn.to/4fXGAH1" target="_blank"><strong>購入する</strong></a></li>
                    <li>DataBase AVAIL 4技能 英単語・熟語 → <strong class="text-danger">無償提供</strong></li>
                    <li>英語4技能ハイパートレーニング 長文読解（３）標準編 → <strong class="text-danger">無償提供</strong></li>
                    <li>英語4技能ハイパートレーニング 長文読解（４）中級編 → <strong class="text-danger">無償提供</strong></li>
                    <li>英語4技能ハイパートレーニング 長文読解（５）上級編 → <strong class="text-danger">無償提供</strong></li>
                  </ul>

                  
                  <p class="mt-5">ご確認いただけますと幸いです。<br>何卒よろしくお願い申し上げます。</p>
              </div>
          </div>
 
        </div>
    </section>
   </main>
    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot_prof.html">
  
</body>
</html>
