<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>%product_name%</title>
<meta name="robots" content="noindex,nofollow" />
<TMPL_INCLUDE NAME="./include/head_prof.html">
</head>
<body id="instructor" class="instructor">

<TMPL_INCLUDE NAME="./include/header_prof.html">
  <div id="sb-site">

    <!-- schedule section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Account</h1>
            <p>You can see the list of the lessons for which you can request payment.  When you click the button [Calculate],  you will see the total amount payable.  We recommend you download CSV files because the lessons will be displayed for %pdm_limit% days only.<br />The date is displayed as 【 YYYY/MM/DD 】.</p>
            <ul class="list-inline">
              <li><a href="%CGI_URL%?m=bilcsvdwn"><span class="fa fa-file-excel-o"></span>Download CSV file</a></li>
              <li><a href="%CGI_URL%?m=pdmlstfrm"><span class="fa fa-history"></span>See the history list of account</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="wform">
            <nav aria-label="..." class="text-center">
              <ul class="pagination">
                <TMPL_IF NAME="prev_url">
                <li class="page-item">
                  <a href="%prev_url%" class="page-link"> &laquo; Pre</a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link"> &laquo; Pre</span>
                </li>
                </TMPL_IF>
                <TMPL_LOOP NAME="page_loop">
                <TMPL_IF NAME="current">
                <li class="page-item active">
                  <span class="page-link">%page%</span>
                </li>
                <TMPL_ELSE>
                <li class="page-item">
                  <a href="%url%" class="page-link">%page%</a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
                <TMPL_IF NAME="next_url">
                <li class="page-item">
                  <a href="%next_url%" class="page-link">Next &raquo; </a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link">Next &raquo; </span>
                </li>
                </TMPL_IF>
              </ul>
            </nav>
            
            <table class="table">
              <tr>
                <th class="">ID</th>
                <th class="">Payment status</th>
                <th class="">Date</th>
                <th class="">Member</th>
                <th class="">Skype ID</th>
                <th class="">Lesson status</th>
                <th class="">Points</th>
              </tr>
              <TMPL_LOOP NAME="list_loop">
              <tr>
                <td>%lsn_id%</td>
                <td>
                  <TMPL_IF NAME="lsn_pdm_status_0">Unclaimed</TMPL_IF>
                  <TMPL_IF NAME="lsn_pdm_status_1">In progress</TMPL_IF>
                  <TMPL_IF NAME="lsn_pdm_status_2">Paid</TMPL_IF>
                </td>
                <td><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">%lsn_stime_Y%/%lsn_stime_n%/%lsn_stime_j%（%lsn_stime_wj%）%lsn_stime_G%:%lsn_stime_i%～%lsn_etime_G%:%lsn_etime_i%</a></td>
                <td>%member_handle%</td>
                <td>%member_skype_id%</td>
                <td>
                  <TMPL_IF NAME="lsn_status_1">Done</TMPL_IF>
                  <TMPL_IF NAME="lsn_status_11">Students Cancel</TMPL_IF>
                  <TMPL_IF NAME="lsn_status_12">Students Emergency Cancel</TMPL_IF>
                  <TMPL_IF NAME="lsn_status_13">No contact from students</TMPL_IF>
                  <TMPL_IF NAME="lsn_status_21">Teacher Cancel</TMPL_IF>
                  <TMPL_IF NAME="lsn_status_22">Teacher Emergency Cancel</TMPL_IF>
                  <TMPL_IF NAME="lsn_status_23">No contact from Teacher</TMPL_IF>
                  <TMPL_IF NAME="lsn_status_29">No charge for other reasons</TMPL_IF>
                </td>
                <td>%lsn_prof_price_with_comma% yen</td>
              </tr>
              </TMPL_LOOP>
            </table>
            
            <form action="%CGI_URL%" method="get">
              <input type="hidden" name="m" value="bilpdmfrm" />
              <div class="text-center"><input type="submit" value="　Calculate　" class="m1 btn btn-primary" /></div>
            </form>
            
            <nav aria-label="..." class="text-center">
              <ul class="pagination">
                <TMPL_IF NAME="prev_url">
                <li class="page-item">
                  <a href="%prev_url%" class="page-link"> &laquo; Pre</a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link"> &laquo; Pre</span>
                </li>
                </TMPL_IF>
                <TMPL_LOOP NAME="page_loop">
                <TMPL_IF NAME="current">
                <li class="page-item active">
                  <span class="page-link">%page%</span>
                </li>
                <TMPL_ELSE>
                <li class="page-item">
                  <a href="%url%" class="page-link">%page%</a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
                <TMPL_IF NAME="next_url">
                <li class="page-item">
                  <a href="%next_url%" class="page-link">Next &raquo; </a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link">Next &raquo; </span>
                </li>
                </TMPL_IF>
              </ul>
            </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- foot section -->
<TMPL_INCLUDE NAME="./include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="./include/foot_prof.html">
  
</body>
</html>

