<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>%product_name%</title>
<meta name="robots" content="noindex,nofollow" />
<TMPL_INCLUDE NAME="./include/head_prof.html">
</head>
<body id="instructor" class="instructor">

<TMPL_INCLUDE NAME="./include/header_prof.html">
  <div id="sb-site">

    <!-- schedule section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Lesson Detail</h1>
            <div class="wform membox mgb30">
              <div class="clearfix">
                <div class="col-xs-4 col-md-3 memface">
                  <TMPL_IF NAME="member_logo">
                    <img src="%member_logo_3_url%" width="%member_logo_3_w%" height="%member_logo_3_h%" alt="%member_handle%" class="w50 img-thumbnail" />
                  <TMPL_ELSE>
                    <img src="%static_url%/imgs/profile_blank.png" width="%member_logo_3_w%" height="%member_logo_3_h%" alt="%member_handle%" class="img-thumbnail" />
                  </TMPL_IF>
                </div>
                <div class="col-xs-8 col-md-9">
                  <h2>Lesson - %member_handle%</h2>
                  <div class="gbox text-center mgb10">
                    <TMPL_IF NAME="lsn_cancel">
                      <h3 class="text-center lmessage">This lesson has been canceled</h3>
                    <TMPL_ELSE>
                      <TMPL_IF NAME="lsn_today">
                        <h3 class="text-center lmessage">Today is your lesson day.</h3>
                      </TMPL_IF>
                      <TMPL_IF NAME="lsn_during">
                        <h3 class="text-center lmessage">Lesson Now.</h3>
                      </TMPL_IF>
                      <TMPL_IF NAME="lsn_finished">
                        <h3 class="text-center lmessage">This lesson has been completed.</h3>
                      </TMPL_IF>
                      <TMPL_IF NAME="lsn_report_available"><TMPL_IF NAME="lsn_prof_repo_0"><TMPL_IF NAME="lsn_status_0">
                        <p>Please report as soon as possible.</p>
                        <p>Limit:%lsn_report_limit_Y%/%lsn_report_limit_n%/%lsn_report_limit_j% 　%lsn_report_limit_G%:%lsn_report_limit_i%</p>
                      </TMPL_IF></TMPL_IF></TMPL_IF>
                    </TMPL_IF>
                    <ul class="linfo">
                      <li>Schedule<span>%lsn_stime_Y%/%lsn_stime_n%/%lsn_stime_j%/（%lsn_stime_wj%）%lsn_stime_G%:%lsn_stime_i%～%lsn_etime_G%:%lsn_etime_i%</span></li>
                      <li>Student's name<span>%member_handle%</span></li>
                      <li>Student's Skype ID<span>%member_skype_id%</span>（<a href="skype:%member_skype_id%?add"><span class="fa fa-skype"></span> Add</a> | <a href="skype:%member_skype_id%?call"><span class="fa fa-skype"></span> Call</a>）</li>
                    </ul>
                    <!--<ul class="note">
                      <li>上記に記載している終了時間の5分前にはレッスンが完了いたします。</li>
                      <li>最後の5分間で完了報告のご入力をお願いします。</li>
                    </ul>-->
                  </div>
                </div>
              </div>
            </div>
                 
                 
            <TMPL_UNLESS NAME="lsn_cancel">
              <TMPL_IF NAME="lsn_report_available">
                <TMPL_IF NAME="lsn_prof_repo_0">
                  <TMPL_IF NAME="lsn_status_0">
                  <form action="%CGI_URL%" method="post" id="repo_form">
                    <input type="hidden" name="m" value="lsnrposet" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <input type="hidden" name="lsn_id" value="%lsn_id%" />
                    <div class="wform membox mgb30">
                      <h2>Report</h2>
                      <p>Please select the status of the lesson.</p>
                      
                      <fieldset class="form-group">
                        <legend class="col-form-legend">Lesson Report</legend>
                        <div class="form-check repo_rating_field">
                          <label class="form-check-label"><input type="radio" name="lsn_prof_repo" value="1" /> Done</label>
                          <label class="form-check-label"><input type="radio" name="lsn_prof_repo" value="2" /> Lesson not held (due to student)</label>
                          <label class="form-check-label"><input type="radio" name="lsn_prof_repo" value="3" /> Lesson not held (due to yourself)</label>
                        </div>
                        <ul class="note">
                          <li>Please explain the situation briefly if your lesson was not held.</li>
                        </ul>
                        <textarea name="lsn_prof_repo_note" id="lsn_prof_repo_note" maxlength="140" class="form-control"></textarea>
                        <ul class="note">
                          <li>within 140 characters</li>
                        </ul>
                      </fieldset>
                      <div class="text-center"><input type="submit" value="Submit" id="repo_btn" class="btn btn-primary" /></div>
                    </div>
                  </form>
                  </TMPL_IF>
                </TMPL_IF>
              </TMPL_IF>
                
              <TMPL_UNLESS NAME="lsn_prof_repo_0">
                <div class="wform membox mgb30">
                  <h2>Report</h2>
                  <h4>Report:
                    <TMPL_IF NAME="lsn_prof_repo_1">Done</TMPL_IF>
                    <TMPL_IF NAME="lsn_prof_repo_2">Lesson not held (due to student)</TMPL_IF>
                    <TMPL_IF NAME="lsn_prof_repo_3">Lesson not held (due to yourself)</TMPL_IF>
                    <TMPL_IF NAME="lsn_prof_repo_9">Other</TMPL_IF>
                  </h4>
                  <TMPL_IF NAME="lsn_prof_repo_note"><p>%lsn_prof_repo_note%</p></TMPL_IF>
                </div>
              </TMPL_UNLESS>
              
              <TMPL_UNLESS NAME="lsn_member_repo_0">
                <div class="wform membox mgb30">
                  <h2>Evaluation and feedback of lessons</h2>
                  <h4>Report:
                    <TMPL_IF NAME="lsn_member_repo_1">Done</TMPL_IF>
                    <TMPL_IF NAME="lsn_member_repo_2">Lesson not held (due to student)</TMPL_IF>
                    <TMPL_IF NAME="lsn_member_repo_3">Lesson not held (due to yourself)</TMPL_IF>
                    <TMPL_IF NAME="lsn_member_repo_9">Other</TMPL_IF>
                  </h4>
                  <TMPL_IF NAME="lsn_member_repo_note"><p>%lsn_member_repo_note%</p></TMPL_IF>
                  <h4>Evaluation:<span class="value%lsn_member_repo_rating%">%lsn_member_repo_rating%</span></h4>
                  <TMPL_IF NAME="lsn_review"><p>%lsn_review%</p></TMPL_IF>
                </div>
              </TMPL_UNLESS>
            </TMPL_UNLESS>
                 
                 
            <TMPL_IF NAME="lsn_status">
              <div class="wform membox mgb30">
                <h2>Account report</h2>
                <table class="table">
                  <tbody>
                    <tr>
                      <th class="w20">Lesson Points</th>
                      <td class="w80">%lsn_base_price_with_comma%回</td>
                    </tr>
                    <tr>
                      <th>Share raito</th>
                      <td>%lsn_prof_margin% ％</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Payment received</th>
                      <td>%lsn_prof_price_with_comma% yen</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </TMPL_IF>
                  
                  
            <div class="wform membox mgb30">
              <h2>Student's Profile</h2>
              <table class="table">
                <tr>
                  <th class="w20">Nickname</th>
                  <td class="w80">%member_handle%</td>
                </tr>
                <TMPL_IF NAME="member_skype_id">
                <tr>
                  <th>Skype ID</th>
                  <td>%member_skype_id%</td>
                </tr>
                </TMPL_IF>
                <tr>
                  <th>Gender</th>
                  <td>
                    <TMPL_IF NAME="member_gender_1">Male</TMPL_IF>
                    <TMPL_IF NAME="member_gender_2">Female</TMPL_IF>
                  </td>
                </tr>
                <tr>
                  <th>Purpose</th>
                  <td>
                    <TMPL_LOOP NAME="member_purpose_loop"><div class="replace">%title%</div></TMPL_LOOP>
                  </td>
                </tr>
                <tr>
                  <th>Demand</th>
                  <td>
                    <TMPL_LOOP NAME="member_demand_loop"><div class="replace">%title%</div></TMPL_LOOP>
                  </td>
                </tr>
                <tr>
                  <th>Interest</th>
                  <td>
                    <TMPL_LOOP NAME="member_interest_loop"><div class="replace">%title%</div></TMPL_LOOP>
                  </td>
                </tr>
                <tr>
                  <th>Level</th>
                  <td>
                    <TMPL_LOOP NAME="member_level_loop"><div class="replace">%title%</div></TMPL_LOOP>
                  </td>
                </tr>
                <tr>
                  <th>Self Introduction</th>
                  <td>%member_intro%</td>
                </tr>
                <tr>
                  <th>Request</th>
                  <td>%member_comment%</td>
                </tr>
              </table>
            </div>
                  
            <div class="wform membox mgb30">
              <h2>Message</h2>
              <p class="text-center">This is a messaging function. Your message will be sent to student . Likewise, students can send message to you.</p>
              <TMPL_IF NAME="msg_num">
              <div class="ibox mgb30">
                <TMPL_LOOP NAME="msg_loop">
                  <h4><TMPL_IF NAME="msg_direction_1">%member_handle%<TMPL_ELSE>%prof_handle%</TMPL_IF></h4>
                  <div class="idate">-> %msg_cdate_Y%/%msg_cdate_n%/%msg_cdate_j%（%msg_cdate_wj%）</div>
                  <p>%msg_content%</p>
                </TMPL_LOOP>
              </div>
              </TMPL_IF>
              <form action="%CGI_URL%" method="post" id="msg_form">
                <input type="hidden" name="m" value="msgaddset" />
                <input type="hidden" name="pkey" value="%pkey%" />
                <input type="hidden" name="lsn_id" value="%lsn_id%" />
                <fieldset class="form-group">
                  <legend class="col-form-legend">message:</legend>
                  <textarea name="msg_content" id="msg_content" class="form-control" maxlength="1000"></textarea>
                  <ul class="note">
                    <li>within 1000 characters</li>
                  </ul>
                  <div class="text-center"><input type="submit" value="Submit" id="msg_btn" class="btn btn-primary" /></div>
                </fieldset>
              </form>
            </div>
                  
            <TMPL_IF NAME="lsn_cancel">
              <div class="wform membox mgb30">
                <h2>Cancellation</h2>
                <TMPL_IF NAME="lsn_cancel_1">
                <p>Has been canceled<</p>
                </TMPL_IF>
                <TMPL_IF NAME="lsn_cancel_2">
                <p>The lesson was canceled.</p>
                </TMPL_IF>
                <p>Cancel Reason：%lsn_cancel_reason%</p>
              </div>
            <TMPL_ELSE>
              <TMPL_IF NAME="lsn_cancelable">
                <div class="wform membox mgb30">
                  <h2>Cancellation</h2>
                  <p class="text-center">Send your reason for cancellation in case you need to cancel.<TMPL_IF NAME="lsn_cancelable_2"><br /><strong style="color:red">Time for the lesson comes soon.Please reftain from cancelling.</strong></TMPL_IF></p>
                  <form action="%CGI_URL%" method="post" id="cancel_form">
                  <input type="hidden" name="m" value="lsncclset" />
                  <input type="hidden" name="pkey" value="%pkey%" />
                  <input type="hidden" name="lsn_id" value="%lsn_id%" />
                    <fieldset class="form-group">
                      <legend class="col-form-legend">Reason for Cancellation</legend>
                      <textarea name="lsn_cancel_reason" id="lsn_cancel_reason" class="form-control" maxlength="140"></textarea>
                      <ul class="note">
                        <li>within 140 characters</li>
                      </ul>
                      <div class="text-center"><input type="submit" value="Submit" id="cancel_btn" class="btn btn-primary" /></div>
                    </fieldset>
                  </form>
                </div>
              </TMPL_IF>
            </TMPL_IF>
            
            <div class="wform membox mgb30">
              <h2>Lesson Feedback (Sharing contents and Lesson materials)</h2>
              <p class="text-center">Please fill in your lesson feedback. This is to be shared with any teachers who will be assigned to this student.</p>
              <TMPL_IF NAME="prep_num">
                <p><a href="%CGI_URL%?m=prelstfrm&amp;s_lsn_id=%lsn_id%">&raquo; Browse all Lesson Feedback</a></p>
                <div class="ibox mgb30">
                  <TMPL_LOOP NAME="prep_loop">
                    <h4><TMPL_IF NAME="prof_id">%prof_handle%<TMPL_ELSE>%member_handle%</TMPL_IF></h4>
                    <div class="idate">-> %prep_cdate_Y%/%prep_cdate_n%/%prep_cdate_j%（%prep_cdate_wj%）</div>
                    <p>%prep_content%</p>
                  </TMPL_LOOP>
                </div>
              </TMPL_IF>
              
              <form action="%CGI_URL%" method="post" id="pre_form">
                <input type="hidden" name="m" value="preaddset" />
                <input type="hidden" name="pkey" value="%pkey%" />
                <input type="hidden" name="lsn_id" value="%lsn_id%" />
                <fieldset class="form-group">
                  <legend class="col-form-legend">lesson feedback</legend>
                  <textarea name="prep_content" id="prep_content" class="form-control" maxlength="1000"></textarea>
                  <ul class="note">
                    <li>within 1000 characters</li>
                  </ul>
                  <div class="text-center"><input type="submit" value="Submit" id="msg_btn" class="btn btn-primary" /></div>
                </fieldset>
              </form>
            </div>
              
          </div>
        </div>
      </div>
    </section>
    <!-- foot section -->
<TMPL_INCLUDE NAME="./include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="./include/foot_prof.html">
  <script src="%static_url%/js/prof/lsndtlfrm.js?v2"></script>
  <script src="/assets/js/profcheck.js"></script>
</body>
</html>
