<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>%product_name%</title>
<meta name="robots" content="noindex,nofollow" />
<TMPL_INCLUDE NAME="./include/head_prof.html">
</head>
<body id="instructor" class="instructor">

<TMPL_INCLUDE NAME="./include/header_prof.html">
  <div id="sb-site">

    <!-- schedule section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Report</h1>
            <p>Click “Report” button after each lesson.  Un-reported lessons will not be paid. <br />The date is displayed as 【 YYYY/MM/DD 】.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="wform">
            <nav aria-label="..." class="text-center">
              <ul class="pagination">
                <TMPL_IF NAME="prev_url">
                <li class="page-item">
                  <a href="%prev_url%" class="page-link"> &laquo; Pre</a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link"> &laquo; Pre</span>
                </li>
                </TMPL_IF>
                <TMPL_LOOP NAME="page_loop">
                <TMPL_IF NAME="current">
                <li class="page-item active">
                  <span class="page-link">%page%</span>
                </li>
                <TMPL_ELSE>
                <li class="page-item">
                  <a href="%url%" class="page-link">%page%</a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
                <TMPL_IF NAME="next_url">
                <li class="page-item">
                  <a href="%next_url%" class="page-link">Next &raquo; </a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link">Next &raquo; </span>
                </li>
                </TMPL_IF>
              </ul>
            </nav>
          
            <table class="table">
            <tr>
              <th class="">Status</th>
              <th class="">Date &amp; Time</th>
              <th class="">Student</th>
              <th class="hideit">Report(You)</th>
              <th class="hideit">Report(Student)</th>
            </tr>
            <TMPL_LOOP NAME="list_loop" LSN_PROF_REPO_NOTE_CHARS="20" LSN_MEMBER_REPO_NOTE_CHARS="20" LSN_REVIEW_CHARS="20">
            <tr>
              <td>
                <TMPL_IF NAME="lsn_cancel">
                  Cancel
                <TMPL_ELSE>
                  <TMPL_IF NAME="lsn_finished">
                    <TMPL_IF NAME="lsn_status_0">Waiting acknowledgment</TMPL_IF>
                    <TMPL_IF NAME="lsn_status_1">Done</TMPL_IF>
                    <TMPL_IF NAME="lsn_status_11">Students Cancel</TMPL_IF>
                    <TMPL_IF NAME="lsn_status_12">Students Emergency Cancel</TMPL_IF>
                    <TMPL_IF NAME="lsn_status_13">No contact from students</TMPL_IF>
                    <TMPL_IF NAME="lsn_status_21">Teacher Cancel</TMPL_IF>
                    <TMPL_IF NAME="lsn_status_22">Teacher Emergency Cancel</TMPL_IF>
                    <TMPL_IF NAME="lsn_status_23">No contact from Teacher</TMPL_IF>
                    <TMPL_IF NAME="lsn_status_29">No charge for other reasons</TMPL_IF>
                  <TMPL_ELSE>
                    <TMPL_IF NAME="lsn_during">During lesson<TMPL_ELSE>Reserved</TMPL_IF>
                  </TMPL_IF>
                </TMPL_IF>
              </td>
              <td><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">%lsn_stime_Y%/%lsn_stime_n%/%lsn_stime_j% %lsn_stime_G%:%lsn_stime_i%～%lsn_etime_G%:%lsn_etime_i%</a></td>
              <td>%member_handle%</td>
              <td class="hideit">
                <TMPL_UNLESS NAME="lsn_cancel">
                  <TMPL_IF NAME="lsn_finished">
                    <TMPL_IF NAME="lsn_prof_repo_0">
                      <TMPL_IF NAME="lsn_report_available">
                        <div class="alignCenter button"><div class="alignCenter button"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%" class="red">Submit report</a></div>
                      </TMPL_IF>
                    <TMPL_ELSE>
                      <TMPL_IF NAME="lsn_prof_repo_0"><div>Report not submitted</div></TMPL_IF>
                      <TMPL_IF NAME="lsn_prof_repo_1"><div class="statusok">Done</div></TMPL_IF>
                      <TMPL_IF NAME="lsn_prof_repo_2"><div class="statusng">Lesson not held (due to student)</div></TMPL_IF>
                      <TMPL_IF NAME="lsn_prof_repo_3"><div class="statusng">Lesson not held (due to yourself)</div></TMPL_IF>
                      <TMPL_IF NAME="lsn_prof_repo_9"><div class="statusng">Lesson not held (for other reasons)</div></TMPL_IF>
                      <div class="t12">%lsn_prof_repo_note%</div>
                    </TMPL_IF>
                  <TMPL_ELSE>
                    <div class="alignCenter button"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">Confirm your resrevations</a></div>
                    <TMPL_IF NAME="lsn_during">
                      <div class="alignCenter button"><div class="alignCenter button"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%" class="red">Submit report</a></div>
                    </TMPL_IF>
                  </TMPL_IF>
                </TMPL_UNLESS>
              </td>
              <td class="hideit">
                <TMPL_UNLESS NAME="lsn_cancel">
                  <TMPL_IF NAME="lsn_finished">
                    <TMPL_IF NAME="lsn_member_repo_0">
                      Report not submitted
                    <TMPL_ELSE>
                      <TMPL_IF NAME="lsn_member_repo_0"><div>Report not submitted</div></TMPL_IF>
                      <TMPL_IF NAME="lsn_member_repo_1"><div class="statusok">Done</div></TMPL_IF>
                      <TMPL_IF NAME="lsn_member_repo_2"><div class="statusng">Lesson not held (due to student)</div></TMPL_IF>
                      <TMPL_IF NAME="lsn_member_repo_3"><div class="statusng">Lesson not held (due to yourself)</div></TMPL_IF>
                      <TMPL_IF NAME="lsn_member_repo_9"><div class="statusng">Lesson not held (for other reasons)</div></TMPL_IF>
                      <div class="t12">%lsn_member_repo_note%</div>
                      <div class="value">Evaluation:<span class="value%lsn_member_repo_rating%">%lsn_member_repo_rating%</span></div>
                      <TMPL_IF NAME="lsn_review"><div class="t12">%lsn_review%</div></TMPL_IF>
                    </TMPL_IF>
                  </TMPL_IF>
                </TMPL_UNLESS>
              </td>
            </tr>
            </TMPL_LOOP>
          </table>
            

            <nav aria-label="..." class="text-center">
              <ul class="pagination">
                <TMPL_IF NAME="prev_url">
                <li class="page-item">
                  <a href="%prev_url%" class="page-link"> &laquo; Pre</a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link"> &laquo; Pre</span>
                </li>
                </TMPL_IF>
                <TMPL_LOOP NAME="page_loop">
                <TMPL_IF NAME="current">
                <li class="page-item active">
                  <span class="page-link">%page%</span>
                </li>
                <TMPL_ELSE>
                <li class="page-item">
                  <a href="%url%" class="page-link">%page%</a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
                <TMPL_IF NAME="next_url">
                <li class="page-item">
                  <a href="%next_url%" class="page-link">Next &raquo; </a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <span class="page-link">Next &raquo; </span>
                </li>
                </TMPL_IF>
              </ul>
            </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- foot section -->
<TMPL_INCLUDE NAME="./include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="./include/foot_prof.html">
  
</body>
</html>