<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>%product_name%</title>
<meta name="robots" content="noindex,nofollow" />
<TMPL_INCLUDE NAME="./include/head_prof.html">
</head>
<body id="instructor" class="instructor">

<TMPL_INCLUDE NAME="./include/header_prof.html">
  <div id="sb-site">

    <!-- schedule section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Change Password</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>You can chane your login password.  Please click  [Submit] when you fill in the form.  After changing, you can logoff automatically and see the login window.  Please login with  your new password. </p>
            
            <form id="passform" method="post" action="%CGI_URL%" name="passform" class="wform">
              <input type="hidden" name="m" value="passwdset" />
              <input type="hidden" name="pkey" value="%pkey%" />
              <TMPL_IF NAME="errs"><div class="errs">%errs%</div></TMPL_IF>
              
              <div class="form-group">
                <label for="prof_pass">Current Password</label>
                <input type="password" id="prof_pass" name="prof_pass" value="%prof_pass%" size="20" class="form-control inputlimit_ascii" />
                <ul class="note">
                  <li>Fill in your current password from 8 to 12 characters</li>
                </ul>
              </div>
              
              <div class="form-group">
                <label for="prof_pass_new1">New Password</label>
                <input type="password" id="prof_pass_new1" name="prof_pass_new1" value="" size="20" class="form-control inputlimit_ascii" />
                <ul class="note">
                  <li>Fill in your new password from 8 to 12 characters.</li>
                  <li>You cannot use half-width space.</li>
                </ul>
              </div>
              
              <div class="form-group">
                <label for="prof_pass_new2">Confirm New Password(Again)</label>
                <input type="password" id="prof_pass_new2" name="prof_pass_new2" value="%prof_pass_new2%" size="20" class="form-control inputlimit_ascii" />
                <ul class="note">
                  <li>Please confirm your new password.</li>
                  <li>You cannot use half-width space.</li>
                </ul>
              </div>
              
              <div class="text-center"><input type="submit" value="Submit" name="setBtn" class="btn btn-primary" /></div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- foot section -->
<TMPL_INCLUDE NAME="./include/footer_prof.html">
  </div>
<TMPL_INCLUDE NAME="./include/foot_prof.html">
<script type="text/javascript" src="%static_url%/js/prof/passwdfrm.js"></script>
</body>
</html>