<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>%prof_caption%授業削除｜%prof_caption%授業管理｜%product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-chalkboard-teacher text-primary"></i> %prof_caption%授業削除</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                      <li class="breadcrumb-item"><a href="/WTE/admin.cgi?m=coulstfrm">%prof_caption%授業管理</a></li>
                      <li class="breadcrumb-item active">%prof_caption%授業削除</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>
          <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">

                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-chalkboard-teacher text-primary"></i> %prof_caption%授業情報</h3>
                  </div>
                  <div class="card-body text-sm">
                    
                    <TMPL_IF NAME="errs"><div class="errs">%errs%</div></TMPL_IF>
                    <form method="post" action="%CGI_URL%">
                      <input type="hidden" name="m" value="coudelset" />
                      <input type="hidden" name="pkey" value="%pkey%" />
                      <table class="table">
                        <tr>
                          <td>識別ID</td>
                          <td>
                            %course_id%
                          </td>
                        </tr>
                        <tr>
                          <td>%prof_caption%</td>
                          <td>[%prof_id%] %prof_lastname% %prof_firstname% (%prof_handle%)</td>
                        </tr>
                        <tr>
                          <td>授業名</td>
                          <td>%course_name%</td>
                        </tr>
                        <tr>
                          <td>必要チケット</td>
                          <td>%course_fee_with_comma%</td>
                        </tr>
                        <tr>
                          <td>アイキャッチ写真</td>
                          <td>
                            <img src="/assets/img/course/%course_ccate_id_2%.png" width="%course_logo_2_w%" height="%course_logo_2_h%" style="width:60px;height:60px;border-radius:50%;">
                          </td>
                        </tr>
                        <tr>
                          <td>カテゴリー</td>
                          <td>大：%ccate_name_1%／小：%ccate_name_2%</td>
                        </tr>
                        <tr>
                          <td>レッスンの単位時間（分）</td>
                          <td>%course_step% 分</td>
                        </tr>
                        <tr>
                          <td>内容詳細</td>
                          <td>%course_intro%</td>
                        </tr>
                        <tr>
                          <td>ステータス</td>
                          <td><TMPL_IF NAME="course_status_0">無効</TMPL_IF>
                            <TMPL_IF NAME="course_status_1">有効</TMPL_IF></td>
                        </tr>
                        <tr>
                          <td>登録日時</td>
                          <td>%course_cdate_0%-%course_cdate_1%-%course_cdate_2%
                            %course_cdate_3%:%course_cdate_4%:%course_cdate_5%
                            %course_cdate_8%
                            <TMPL_IF NAME="course_cdate_9"> %course_cdate_9%</TMPL_IF>
                            <TMPL_IF NAME="course_cdate_7">（夏時間）</TMPL_IF>
                          </td>
                        </tr>
                      </table>
                    </div>
                  
                    <div class="card-footer text-sm">
                      <button type="submit" id="setBtn" class="btn btn-info" name="setBtn">削除</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    <TMPL_INCLUDE NAME="include_footer.html">
    </div>
    <TMPL_INCLUDE NAME="include_foot.html">
      <link href="/WTE/static/js/dialog/dialog.css" type="text/css" rel="stylesheet">
      <script src="/WTE/static/js/dialog/dialog.js"></script>
      <script>
        (function () {
          let frm_el = document.querySelector('form');
          frm_el.addEventListener('submit', function (event) {
            event.preventDefault();
            let resAction = () => {
              let btn_el = frm_el.querySelector('button[type="submit"]');
              //btn_el.disabled = true;
              frm_el.submit();
            };
            let props = [
              {
                caption: 'はい',
                callback: resAction
              },
              {
                caption: 'いいえ',
                callback: function () { }
              }
            ];
            let title = '削除の確認';
            let msg = '本当に削除してもよろしいですか？ よろしければ「はい」を押してください。';
            dialog.show(title, msg, props);
          }, false);
        })();
    
      </script>
  </body>

</html>
