<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>%product_name%</title>
<link href="%static_url%/css/admin/common.css" type="text/css" rel="stylesheet" />
<link href="%static_url%/js/dialog/dialog.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="%static_url%/js/dom.js"></script>
<script type="text/javascript" src="%static_url%/js/dialog/dialog.js"></script>
<script type="text/javascript" src="%static_url%/js/admin/dctlstfrm.js"></script>
<style type="text/css">
div.add_box { margin-bottom: 1em; }
table.list tr td {
	border-top: 0px;
	border-bottom: 0px;
}
</style>
</head>
<body>
<h1>ダウンロード商品カテゴリー管理</h1>
<div id="main">
<div class="add_box">ダウンロード商品に登録するPDF、動画のカテゴリをこちらで登録します。<br /><br /><a href="%CGI_URL%?m=dctaddfrm"><img src="%static_url%/imgs/iconspedia/add-16.png" width="16" height="16" alt="カテゴリーを新規登録する" /></a><a href="%CGI_URL%?m=dctaddfrm">カテゴリーを新規登録する</a></div>
<TMPL_IF NAME="hit">
<table class="list" summary="">
	<thead>
		<tr>
			<td>カテゴリー名</td>
			<td>状態</td>
			<td class="center">表示順</td>
			<td class="center">編集</td>
			<td class="center">削除</td>
		</tr>
	</thead>
	<tbody>
		<TMPL_LOOP NAME="list_loop">
		<tr class="status_%dct_status% layer_%dct_layer%">
			<td class="title">[%dct_id%] <span id="dct_title_%dct_id%">%dct_title%</span></td>
			<td>
				<TMPL_IF NAME="dct_status_0">無効</TMPL_IF>
				<TMPL_IF NAME="dct_status_1">有効</TMPL_IF>
			</td>
			<td class="center nowrap">
				<TMPL_IF NAME="__first__">
					<img src="%static_url%/imgs/ico_up_disabled_20.png" width="20" height="20" alt="上へ" />
				<TMPL_ELSE>
					<a href="%CGI_URL%?m=dctsupset&amp;dct_id=%dct_id%"><img src="%static_url%/imgs/ico_up_20.png" width="20" height="20" alt="上へ" /></a>
				</TMPL_IF>
				<TMPL_IF NAME="__last__">
					<img src="%static_url%/imgs/ico_dn_disabled_20.png" width="20" height="20" alt="下へ" />
				<TMPL_ELSE>
					<a href="%CGI_URL%?m=dctsdnset&amp;dct_id=%dct_id%"><img src="%static_url%/imgs/ico_dn_20.png" width="20" height="20" alt="下へ" /></a>
				</TMPL_IF>
			</td>
			<td class="center"><a href="%CGI_URL%?m=dctmodfrm&amp;dct_id=%dct_id%"><img src="%static_url%/imgs/ico_edt_20.png" width="20" height="20" alt="編集" /></a></td>
			<td class="center">
				<a href="%CGI_URL%?m=dctdelset&amp;dct_id=%dct_id%&amp;pkey=%pkey%" class="del_link" id="del_link_%dct_id%"><img src="%static_url%/imgs/ico_del_20.png" width="20" height="20" alt="削除" /></a>
			</td>
		</tr>
		</TMPL_LOOP>
	</tbody>
</table>
</TMPL_IF>
</div>
</body>
</html>
