<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>%product_name%</title>
<link href="%static_url%/css/admin/common.css" type="text/css" rel="stylesheet" />
<link href="%static_url%/js/dialog/dialog.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="%static_url%/js/dom.js"></script>
<script type="text/javascript" src="%static_url%/js/dialog/dialog.js"></script>
<script type="text/javascript" src="%static_url%/js/admin/dwndelfrm.js"></script>
</head>
<body>
<h1><a href="%CGI_URL%?m=dwnlstfrm">DL商品管理</a> - 削除</h1>
<div id="main">
<p>以下のDL商品情報を削除します。内容を確認の上、「削除」ボタンを押してください。</p>
<TMPL_IF NAME="errs"><div class="errs">%errs%</div></TMPL_IF>
<form method="post" action="%CGI_URL%">
	<input type="hidden" name="m" value="dwndelset" />
	<input type="hidden" name="pkey" value="%pkey%" />
	<fieldset>
		<legend>商品情報</legend>
		<dl>
			<dt>識別ID</dt>
			<dd>%dwn_id%</dd>
		</dl>
		<dl>
			<dt>商品名称</dt>
			<dd>%dwn_title%</dd>
		</dl>
		<dl>
			<dt>カテゴリー</dt>
			<dd>%dct_title%</dd>
		</dl>
		<dl>
			<dt>商品種別</dt>
			<dd>
				<TMPL_IF NAME="dwn_type_1">動画</TMPL_IF>
				<TMPL_IF NAME="dwn_type_2">PDF</TMPL_IF>
			</dd>
		</dl>
		<dl>
			<dt>公開日時</dt>
			<dd>%dwn_pubdate_0%-%dwn_pubdate_1%-%dwn_pubdate_2% %dwn_pubdate_3%:%dwn_pubdate_4%:%dwn_pubdate_5%  %dwn_pubdate_8%<TMPL_IF NAME="dwn_pubdate_9"> %dwn_pubdate_9%</TMPL_IF><TMPL_IF NAME="dwn_pubdate_7">（夏時間）</TMPL_IF></dd>
		</dl>
		<dl>
			<dt>商品保存場所</dt>
			<dd>
				<TMPL_IF NAME="dwn_loc_1">
					ローカル
					<TMPL_IF NAME="dwn_fname">
						（ファイル名：<code>%dwn_fname%</code>）<span class="btn"><a href="%CGI_URL%?m=dwnfledwn&amp;dwn_id=%dwn_id%" target="_blank" >download</a></span>
					<TMPL_ELSE>
						（ファイル未登録）
					</TMPL_IF>
					<span class="btn"><a href="%CGI_URL%?m=dwnflefrm&amp;dwn_id=%dwn_id%">商品ファイルの登録</a></span>
				</TMPL_IF>
				<TMPL_IF NAME="dwn_loc_2">
					外部URL（ <code>%dwn_url%</code> ）
				</TMPL_IF>
			</dd>
		</dl>
		<dl>
			<dt>課金チケット額</dt>
			<dd>%dwn_point_with_comma%回</dd>
		</dl>
		<dl>
			<dt>画像</dt>
			<dd>
				<TMPL_IF NAME="dwn_logo">
					<div id="dwn_logo_box">
						<img src="%dwn_logo_1_url%?%epoch%" width="%dwn_logo_1_w%" height="%dwn_logo_1_h%" alt="" />
						<img src="%dwn_logo_2_url%?%epoch%" width="%dwn_logo_2_w%" height="%dwn_logo_2_h%" alt="" />
						<img src="%dwn_logo_3_url%?%epoch%" width="%dwn_logo_3_w%" height="%dwn_logo_3_h%" alt="" />
					</div>
				</TMPL_IF>
			</dd>
		</dl>
		<dl>
			<dt>順位係数</dt>
			<dd>%dwn_weight%</dd>
		</dl>
		<dl>
			<dt>ダウンロード可能期間</dt>
			<dd>
				購入直後から %dwn_period% 時間の間だけダウンロード可能
			</dd>
		</dl>
		<dl>
			<dt>尺またはページ数</dt>
			<dd>%dwn_duration%</dd>
		</dl>
		<dl>
			<dt>紹介文</dt>
			<dd>%dwn_intro%</dd>
		</dl>
		<dl>
			<dt>備考</dt>
			<dd>%dwn_note%</dd>
		</dl>
		<dl>
			<dt>累計販売数</dt>
			<dd>%dwn_num_with_comma%</dd>
		</dl>
		<dl class="last">
			<dt>ステータス</dt>
			<dd>
				<TMPL_IF NAME="dwn_status_0">準備中</TMPL_IF>
				<TMPL_IF NAME="dwn_status_1">販売中</TMPL_IF>
				<TMPL_IF NAME="dwn_status_9">販売停止</TMPL_IF>
			</dd>
		</dl>
	</fieldset>
	<div><input type="submit" value="削除" name="setBtn" class="submit" /></div>
</form>
</div>
</body>
</html>
