<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>システム管理者画面｜%product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
</head>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo mb-2">
      <a href="https://academy.kirihara.co.jp/" class="brand-link">
      <img src="https://academy.kirihara.co.jp/assets/img/common/logo.svg" class="w-50 h-auto">
      </a>
    </div>
    <div class="card">
    <div class="card-body login-card-body">

      <TMPL_IF NAME="errs">
        <div class="text-danger">
            %error%
        </div>
      </TMPL_IF>
      <button name="backBtn" onclick="javascript:history.back()">&lt;&lt; 戻る</button>

    </div>
    </div>
  </div>

<!-- フォーム二重投稿禁止 -->
<script src="%static_url%/js/form-guard.js"></script>
<!-- 入力値半角変換 -->
<script src="%static_url%/js/input-limit.js"></script>

<TMPL_INCLUDE NAME="include_foot.html">
</body>

</html>