<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>%product_name%</title>
<link href="%static_url%/css/admin/common.css" type="text/css" rel="stylesheet" />
<link href="%static_url%/js/dialog/dialog.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="%static_url%/js/dom.js"></script>
<script type="text/javascript" src="%static_url%/js/dialog/dialog.js"></script>
<script type="text/javascript" src="%static_url%/js/admin/fmldelfrm.js"></script>
</head>
<body>
<h1><a href="%CGI_URL%?m=fmllstfrm">フォローメール管理</a> - 削除</h1>
<div id="main">
<p>以下のフォローメール情報を削除します。内容を確認の上、「削除」ボタンを押してください。</p>
<TMPL_IF NAME="errs"><div class="errs">%errs%</div></TMPL_IF>
<form method="post" action="%CGI_URL%">
	<input type="hidden" name="m" value="fmldelset" />
	<input type="hidden" name="pkey" value="%pkey%" />
	<fieldset>
		<legend>フォローメール情報</legend>
		<dl>
			<dt>識別ID</dt>
			<dd>%fml_id%</dd>
		</dl>
		<dl>
			<dt>タイトル</dt>
			<dd>%fml_title%</dd>
		</dl>
		<dl>
			<dt>配信基準日</dt>
			<dd>
				<TMPL_IF NAME="fml_base_1">最終ログイン日</TMPL_IF>
				<TMPL_IF NAME="fml_base_2">登録日</TMPL_IF>
			</dd>
		</dl>
		<dl>
			<dt>基準日からの日数</dt>
			<dd>配信基準日 から %fml_days% 日後に配信</dd>
		</dl>
		<dl>
			<dt>配信条件</dt>
			<dd>
				<TMPL_IF NAME="fml_cond_1">全会員に配信</TMPL_IF>
				<TMPL_IF NAME="fml_cond_2">月額契約会員に配信</TMPL_IF>
				<TMPL_IF NAME="fml_cond_3">スポット会員に配信</TMPL_IF>
			</dd>
		</dl>
		<dl>
			<dt>テンプレートデータ</dt>
			<dd>%fml_content%</dd>
		</dl>
		<dl class="last">
			<dt>備考</dt>
			<dd>%fml_memo%</dd>
		</dl>
	</fieldset>
	<div><input type="submit" value="削除" name="setBtn" class="submit" /></div>
</form>
</div>
</body>
</html>
