  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Brand Logo -->
    <a href="%CGI_URL%" class="brand-link">
      <img src="/WTE/AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
      <span class="brand-text font-weight-bold">KIRIHARA Online Academy</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar text-sm">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column mb-5" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">売上関連</li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=slscntfrm" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i>
              <p>
                売上管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=pntcntfrm" class="nav-link">
              <i class="nav-icon fas fa-fill"></i>
              <p>
                残ポイント集計
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=reporting" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                各種報告用数値まとめ
              </p>
            </a>
          </li>
          <li><hr></li>
          <li class="nav-header">マスター管理</li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=sellstfrm" class="nav-link">
              <i class="nav-icon fas fa-university"></i>
              <p>
                企業・学校管理
              </p>
            </a>
          </li>
          <!--<li class="nav-item">
            <a href="%CGI_URL%?m=sdmlstfrm" class="nav-link">
              <i class="nav-icon fas fa-university"></i>
              <p>
                企業・学校精算
              </p>
            </a>
          </li>-->
          <li class="nav-item">
            <a href="%CGI_URL%?m=mbrlstfrm" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                %member_caption%管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=prflstfrm" class="nav-link">
              <i class="nav-icon fas fa-graduation-cap"></i>
              <p>
                %prof_caption%管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=prflstfrm2&s_prof_status=1&limit=100" class="nav-link">
              <i class="nav-icon fas fa-graduation-cap"></i>
              <p>
                アクティブ講師
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=coulstfrm" class="nav-link">
              <i class="nav-icon fas fa-chalkboard-teacher"></i>
              <p>
                %prof_caption%授業管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=pdmlstfrm" class="nav-link">
              <i class="nav-icon fas fa-calculator"></i>
              <p>
                %prof_caption%精算
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=lsnlstfrm" class="nav-link">
              <i class="nav-icon fas fa-calendar"></i>
              <p>
                レッスン管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=schlstfrm2" class="nav-link">
              <i class="nav-icon fas fa-calendar"></i>
              <p>
                予約コマ管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=mbractlst" class="nav-link">
              <i class="nav-icon fas fa-coins"></i>
              <p>
                通常ポイント管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=cpnactlst" class="nav-link">
              <i class="nav-icon fas fa-user-plus"></i>
              <p>
                体験ポイント管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=cpnlstfrm" class="nav-link">
              <i class="nav-icon fas fa-money-bill"></i>
              <p>
                クーポン管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=crdlstfrm" class="nav-link">
              <i class="nav-icon fas fa-credit-card"></i>
              <p>
                カード決済管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=autlstfrm" class="nav-link">
              <i class="nav-icon fas fa-redo"></i>
              <p>
                定期購入管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=plnlstfrm" class="nav-link">
              <i class="nav-icon fas fa-yen-sign"></i>
              <p>
                プラン管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=annlstfrm" class="nav-link">
              <i class="nav-icon fas fa-info-circle"></i>
              <p>
                お知らせ管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=dwnlstfrm" class="nav-link">
              <i class="nav-icon fas fa-download"></i>
              <p>
                ダウンロードコンテンツ
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=dsllstfrm" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>
                ダウンロード履歴
              </p>
            </a>
          </li>
        </li>
        <li><hr></li>
          <li class="nav-header">システム管理</li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=bsecnffrm" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                基本設定
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=tpllstfrm" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                メールテンプレート
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=fmllstfrm" class="nav-link">
              <i class="nav-icon fas fa-paper-plane"></i>
              <p>
                フォローメール
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=dctlstfrm" class="nav-link">
              <i class="nav-icon fas fa-sitemap"></i>
              <p>
                DL商品カテゴリー管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=cctlstfrm" class="nav-link">
              <i class="nav-icon fas fa-chalkboard"></i>
              <p>
                授業カテゴリー管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://academy.kirihara.co.jp/phpMyAdmin/" target="_blank" class="nav-link">
              <i class="nav-icon fab fa-php"></i>
              <p>
                phpMyAdmin
              </p>
            </a>
          </li>
          <li><hr></li>
          <li class="nav-header">マニュアル</li>
          <li class="nav-item">
            <a href="https://www.notion.so/team/c0789dc4-a7d2-448f-89ba-aba002c6ac96/join" target="_blank" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                運営者マニュアル
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://sites.google.com/view/howtousewte" target="_blank" class="nav-link">
              <i class="nav-icon fas fa-bookmark"></i>
              <p>
                WTEマニュアル
              </p>
            </a>
          </li>
          <li><hr></li>
          <li class="nav-header">外部ツール</li>
          <li class="nav-item">
            <a href="https://analytics.google.com/analytics/web/#/p324318342/reports/intelligenthome" target="_blank" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i>
              <p>
                Google Analytics
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://search.google.com/search-console/performance/search-analytics?resource_id=https%3A%2F%2Facademy.kirihara.co.jp%2F&hl=ja" target="_blank" class="nav-link">
              <i class="nav-icon fas fa-search"></i>
              <p>
                Search Console
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://academy.kirihara.co.jp/blog/wp-admin" target="_blank" class="nav-link">
              <i class="nav-icon fab fa-wordpress"></i>
              <p>
                WordPress
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://mc.webcas.net/mc2/Login.ext" target="_blank" class="nav-link">
              <i class="nav-icon fas fa-inbox"></i>
              <p>
                WebCas
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
