<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>システム管理者画面｜%product_name%</title>
  <meta http-equiv="Set-Cookie" content="%cookie_string_sid%" />
  <meta http-equiv="Set-Cookie" content="%cookie_string_auto_logon_enable%" />
  <meta http-equiv="refresh" content="0;URL=%CGI_URL%?m=authlogonform" />
  <TMPL_INCLUDE NAME="include_head.html">
</head>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo mb-2">
      <a href="https://academy.kirihara.co.jp/" class="brand-link">
      <img src="https://academy.kirihara.co.jp/assets/img/common/logo.svg" class="w-50 h-auto">
      </a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg text-sm">ログオフ中…</p>
      </div>
    </div>
  </div>

<!-- フォーム二重投稿禁止 -->
<script src="%static_url%/js/form-guard.js"></script>
<!-- 入力値半角変換 -->
<script src="%static_url%/js/input-limit.js"></script>

<TMPL_INCLUDE NAME="include_foot.html">
</body>

</html>