<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>レッスン情報編集｜レッスン管理｜%product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-calendar text-primary"></i> レッスン情報編集</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                      <li class="breadcrumb-item"><a href="/WTE/admin.cgi?m=lsnlstfrm">レッスン管理</a></li>
                      <li class="breadcrumb-item active">レッスン情報編集</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>
          <!-- /.content-header -->


        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <form method="post" action="%CGI_URL%">
                  <input type="hidden" name="m" value="lsnmodset" />
                  <input type="hidden" name="pkey" value="%pkey%" />
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-calendar text-primary"></i> レッスン情報編集</h3>
                      <div class="card-tools pull-right">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div>
                    </div>
                    <div class="card-body text-sm">
                      <ul class="mb-4">
                        <li>売上確定期間が過ぎるまでは、レッスン・ステータスの変更が可能となります。</li>
                        <li>完了報告の不一致がある場合や、誤った報告を受けている場合は、管理側で修正の対応をお願いします。</li>
                      </ul>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group row">
                            <label class="col-sm-3">レッスン識別ID</label>
                            <div class="col-sm-9">%lsn_id%</div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3">授業名</label>
                            <div class="col-sm-9">[%course_id%] %course_name%</div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3">レッスン日時</label>
                            <div class="col-sm-9">%lsn_stime_Y%年%lsn_stime_n%月%lsn_stime_j%日（%lsn_stime_wj%）%lsn_stime_G%:%lsn_stime_i%～%lsn_etime_G%:%lsn_etime_i%</div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3">%member_caption%</label>
                            <div class="col-sm-9"><TMPL_IF NAME="member_logo">
                                <img src="%member_logo_1_url%?%epoch%" width="%member_logo_1_w%"
                              height="%member_logo_1_h%" alt="" class="rounded-circle" style="height:40px;width:40px;" />
                            <TMPL_ELSE>
                          </TMPL_IF>[%member_id%] %member_handle%</div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3">%prof_caption%</label>
                            <div class="col-sm-9"><TMPL_IF NAME="prof_logo">
                              <img src="%prof_logo_1_url%?%epoch%" width="%prof_logo_1_w%"
                              height="%prof_logo_1_h%" alt="" class="rounded-circle" style="height:40px;width:40px;" />
                            <TMPL_ELSE>
                          </TMPL_IF>[%prof_id%] %prof_handle%</div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3">レッスン予約日時</label>
                            <div class="col-sm-9">%lsn_cdate_0%-%lsn_cdate_1%-%lsn_cdate_2% %lsn_cdate_3%:%lsn_cdate_4%:%lsn_cdate_5%
                              %lsn_cdate_8%<TMPL_IF NAME="lsn_cdate_9"> %lsn_cdate_9%</TMPL_IF>
                              <TMPL_IF NAME="lsn_cdate_7">（夏時間）</TMPL_IF></div>
                          </div>
                          <TMPL_IF NAME="lsn_cancel">
                          <div class="form-group row">
                            <label class="col-sm-3">キャンセル状況</label>
                            <div class="col-sm-9">
                              <table class="table">
                                <tr>
                                  <th>キャンセル者</th>
                                  <td>
                                    <TMPL_IF NAME="lsn_cancel_1">%member_caption%<TMPL_ELSE>%prof_caption%</TMPL_IF>
                                  </td>
                                </tr>
                                <tr>
                                  <th>キャンセル日時</th>
                                  <td>%lsn_cancel_date_0%-%lsn_cancel_date_1%-%lsn_cancel_date_2%
                                    %lsn_cancel_date_3%:%lsn_cancel_date_4%:%lsn_cancel_date_5%</td>
                                </tr>
                                <tr>
                                  <th>キャンセル理由</th>
                                  <td>%lsn_cancel_reason%</td>
                                </tr>
                              </table></div>
                          </div>
                          </TMPL_IF>
                          
                          <div class="form-group row">
                            <label class="col-sm-3">%member_caption%のレッスン報告</label>
                            <div class="col-sm-9">
                              <TMPL_IF NAME="lsn_member_repo">
                              <table class="table">
                                <tr>
                                  <th>報告内容</th>
                                  <td>
                                    <TMPL_IF NAME="lsn_member_repo_1">完了</TMPL_IF>
                                    <TMPL_IF NAME="lsn_member_repo_2">未実施（相手が来ない）</TMPL_IF>
                                    <TMPL_IF NAME="lsn_member_repo_3">トラブル（自分）</TMPL_IF>
                                    <TMPL_IF NAME="lsn_member_repo_9">その他</TMPL_IF>
                                  </td>
                                </tr>
                                <tr>
                                  <th>報告日時</th>
                                  <td>%lsn_member_repo_date_0%-%lsn_member_repo_date_1%-%lsn_member_repo_date_2%
                                    %lsn_member_repo_date_3%:%lsn_member_repo_date_4%:%lsn_member_repo_date_5%</td>
                                </tr>
                                <tr>
                                  <th>説明</th>
                                  <td>%lsn_member_repo_note%</td>
                                </tr>
                                <tr>
                                  <th>感想</th>
                                  <td>%lsn_review%</td>
                                </tr>
                              </table>
                            <TMPL_ELSE>
                            未報告
                            </TMPL_IF>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3">%prof_caption%のレッスン報告</label>
                            <div class="col-sm-9">
                              <TMPL_IF NAME="lsn_prof_repo">
                              <table class="table">
                                <tr>
                                  <th>報告内容</th>
                                  <td>
                                    <TMPL_IF NAME="lsn_prof_repo_1">完了</TMPL_IF>
                                    <TMPL_IF NAME="lsn_prof_repo_2">未実施（相手が来ない）</TMPL_IF>
                                    <TMPL_IF NAME="lsn_prof_repo_3">トラブル（自分）</TMPL_IF>
                                    <TMPL_IF NAME="lsn_prof_repo_9">その他</TMPL_IF>
                                  </td>
                                </tr>
                                <tr>
                                  <th>報告日時</th>
                                  <td>%lsn_prof_repo_date_0%-%lsn_prof_repo_date_1%-%lsn_prof_repo_date_2%
                                    %lsn_prof_repo_date_3%:%lsn_prof_repo_date_4%:%lsn_prof_repo_date_5%</td>
                                </tr>
                                <tr>
                                  <th>説明</th>
                                  <td>%lsn_prof_repo_note%</td>
                                </tr>
                                <tr>
                                  <th>感想</th>
                                  <td>%lsn_review%</td>
                                </tr>
                              </table>
                            <TMPL_ELSE>
                            未報告
                            </TMPL_IF>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3">レッスン・ステータス</label>
                            <div class="col-sm-9">
                              <TMPL_IF NAME="lsn_status_0">未確定</TMPL_IF>
                              <TMPL_IF NAME="lsn_status_1">完了</TMPL_IF>
                              <TMPL_IF NAME="lsn_status_11">会員による通常キャンセル</TMPL_IF>
                              <TMPL_IF NAME="lsn_status_12">会員による緊急キャンセル</TMPL_IF>
                              <TMPL_IF NAME="lsn_status_13">会員による欠席キャンセル</TMPL_IF>
                              <TMPL_IF NAME="lsn_status_21">%prof_caption%による通常キャンセル</TMPL_IF>
                              <TMPL_IF NAME="lsn_status_22">%prof_caption%による緊急キャンセル</TMPL_IF>
                              <TMPL_IF NAME="lsn_status_23">%prof_caption%による欠席キャンセル</TMPL_IF>
                              <TMPL_IF NAME="lsn_status_29">その他の理由による非課金</TMPL_IF>
                              <TMPL_IF NAME="lsn_status_31">払い戻し</TMPL_IF>
                              <TMPL_IF NAME="lsn_status_date">
                                （最終確定日時：%lsn_status_date_0%-%lsn_status_date_1%-%lsn_status_date_2%
                                %lsn_status_date_3%:%lsn_status_date_4%:%lsn_status_date_5%）
                              </TMPL_IF>
                            </div>
                          </div>

                            <TMPL_IF NAME="lsn_status_settable">
                              <div class="form-group row">
                                <label class="col-sm-3">ステータス変更</label>
                                <div class="col-sm-9">
                                <select name="lsn_status" id="lsn_status">
                                  <option value="">▼select</option>
                                  <option value="1" %lsn_status_1_selected%>
                                    完了（%member_caption%・%prof_caption%ともに完了報告したのと同じ扱い）</option>
                                  <option value="11" %lsn_status_11_selected%>%member_caption%による通常キャンセル</option>
                                  <option value="12" %lsn_status_12_selected%>%member_caption%による緊急キャンセル</option>
                                  <option value="13" %lsn_status_13_selected%>%member_caption%による欠席キャンセル
                                  </option>
                                  <option value="21" %lsn_status_21_selected%>%prof_caption%による通常キャンセル</option>
                                  <option value="22" %lsn_status_22_selected%>%prof_caption%による緊急キャンセル</option>
                                  <option value="23" %lsn_status_23_selected%>%prof_caption%による欠席キャンセル</option>
                                  <option value="29" %lsn_status_29_selected%>その他の理由による非課金</option>
                                </select>
                                <input type="submit" name="setBtn" value="更新" />
                                </div>
                              </div>
                            </TMPL_IF>
                            <TMPL_IF NAME="lsn_status">
                              <div class="form-group row">
                                <label class="col-sm-3">課金</label>
                                <div class="col-sm-9">
                                  <table class="table">
                                    <tr>
                                      <th>課金種別</th>
                                      <td>
                                        <TMPL_IF NAME="lsn_pay_type_1">チケット<TMPL_ELSE>クーポン</TMPL_IF>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>レッスン料金</th>
                                      <td>%lsn_prof_fee_with_comma%回</td>
                                    </tr>
                                    <tr>
                                      <th>配分ベース比率</th>
                                      <td>%lsn_pay_fee_rate% ％</td>
                                    </tr>
                                    <tr>
                                      <th>配分ベース料金</th>
                                      <td>%lsn_base_price_with_comma%回</td>
                                    </tr>
                                    <tr>
                                      <th>%prof_caption%への分配マージン比率</th>
                                      <td>%lsn_prof_margin% ％</td>
                                    </tr>
                                    <tr>
                                      <th>%prof_caption%への支払金額</th>
                                      <td>
                                        %lsn_prof_price_with_comma% 円
                                        <TMPL_IF NAME="lsn_pdm_status_0">（未請求）</TMPL_IF>
                                        <TMPL_IF NAME="lsn_pdm_status_1">（支払中 [<a
                                            href="%CGI_URL%?m=pdmlstfrm&amp;s_pdm_id=%pdm_id%">詳細</a>]）</TMPL_IF>
                                        <TMPL_IF NAME="lsn_pdm_status_2">（支払済 [<a
                                            href="%CGI_URL%?m=pdmlstfrm&amp;s_pdm_id=%pdm_id%">詳細</a>]）</TMPL_IF>
                                      </td>
                                    </tr>
                                    <tr class="seller_switch">
                                      <th>代理店への分配マージン比率</th>
                                      <td>%lsn_seller_margin% ％</td>
                                    </tr>
                                    <tr class="seller_switch">
                                      <th>代理店への支払金額</th>
                                      <td>%lsn_seller_price_with_comma% 円</td>
                                    </tr>
                                    <tr>
                                      <th>会員からのチケット引き落とし状況</th>
                                      <td>
                                        <TMPL_IF NAME="lsn_charged_date">
                                          済（%lsn_charged_date_0%-%lsn_charged_date_1%-%lsn_charged_date_2%
                                          %lsn_charged_date_3%:%lsn_charged_date_4%:%lsn_charged_date_5%）
                                          <TMPL_ELSE>
                                            未
                                        </TMPL_IF>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </TMPL_IF>

                            <div class="form-group row">
                              <label class="col-sm-3">メッセージ</label>
                              <div class="col-sm-9">


                                <TMPL_IF NAME="msg_num">
                                  <div id="msg_list">
                                    <TMPL_LOOP NAME="msg_loop">
                                      <div class="msg">
                                        <div class="header">
                                          [%msg_cdate_0%-%msg_cdate_1%-%msg_cdate_2%
                                          %msg_cdate_3%:%msg_cdate_4%:%msg_cdate_5%]
                                          <b>
                                            <TMPL_IF NAME="msg_direction_1">%member_caption% &rarr; %prof_caption%
                                              <TMPL_ELSE>%prof_caption% &rarr; %member_caption%</TMPL_IF>
                                          </b>
                                          <div>
                                            <div class="content">%msg_content%</div>
                                          </div>
                                          <hr>
                                    </TMPL_LOOP>
                                  </div>
                                </TMPL_IF>

                              </div>
                            </div>
                          </div>
                        </div>


                  </form>
              </div>
              </div>
              </div>
              </section>


              <TMPL_IF NAME="lsn_cancel">
                <TMPL_ELSE>
                <TMPL_IF NAME="lsn_cancelable">
                  <!-- Main content -->
                  <section class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">
                <form method="post" action="%CGI_URL%" id="cancel_form">
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-calendar text-primary"></i> レッスンのキャンセル処理</h3>
                      <div class="card-tools pull-right">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div>
                    </div>
                    <div class="card-body text-sm">
                      <ul class="mb-4">
                        <li>管理者よりレッスンのキャンセルを行います。<br>必ず、キャンセル理由を入力ください。</li>
                      </ul>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group row">
                            <label class="col-sm-3">キャンセル者</label>
                            <div class="col-sm-3">
                              <select name="lsn_cancel_person" id="lsn_cancel_person" class="form-control">
                                <option value="">▼select</option>
                                <option value="1">%member_caption%</option>
                                <option value="2">%prof_caption%</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3">キャンセル理由</label>
                            <div class="col-sm-9">
                              <textarea name="lsn_cancel_reason" id="lsn_cancel_reason" class="form-control" maxlength="140"></textarea>
                              <ul class="note">
                                <li>140文字まで</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-sm">
                      <input type="hidden" name="m" value="lsncclset" />
                      <input type="hidden" name="pkey" value="%pkey%" />
                      <input type="hidden" name="lsn_id" value="%lsn_id%" />
                      <input type="hidden" name="member_id" value="%member_id%" />
                      <input type="hidden" name="prof_id" value="%prof_id%" />
                      <input type="submit" name="setBtn" value="キャンセル" id="cancel_btn" class="btn btn-info" />
                    </div>
                    </dl>
                  </fieldset>
                </form>
              </div>
              </div>
              </div>
              </section>
                </TMPL_IF>
                </TMPL_IF>

              <TMPL_IF NAME="lsn_base_price">
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">

                <form method="post" action="%CGI_URL%" id="lsnbck">
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-calendar text-primary"></i> 売上確定レッスンの払い戻し処理</h3>
                      <div class="card-tools pull-right">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div>
                    </div>
                    <div class="card-body text-sm">
                      <ul class="mb-4">
                        <li>「払い戻し」ボタンを押すと、すでに確定してしまった売上を 0 にし、会員にチケットまたはクーポンを払い戻します。</li>
                        <li>%prof_caption%および代理店への配分も 0 にセットされますが、あくまでもデータベース上の値を 0 にセットするだけですので、すでに請求済みの場合は効果がありません。この点、ご理解の上で払い戻し処理をしてください。</li>
                      </ul>
                    </div>

                    <div class="card-footer text-sm">
                      <input type="hidden" name="m" value="lsnbckset" />
                      <input type="hidden" name="pkey" value="%pkey%" />
                      <button type="submit" id="setBtn" class="btn btn-info" name="setBtn">払い戻し</button>
                    </div>
                </div>
              </form>
              </div>
              </div>
              </div>
              </section>
            </TMPL_IF>

          </div>
            
          <TMPL_INCLUDE NAME="include_footer.html">
      </div>
      <TMPL_INCLUDE NAME="include_foot.html">
    </body>
              
  </html>