<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>残ポイント集計 | %product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">

        <body>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-fill text-primary"></i> 残ポイント集計</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                      <li class="breadcrumb-item active">残ポイント集計</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="card card-primary card-outline">
                      <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i> 残ポイント履歴</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body text-sm">
                        <table id="example2" class="table table-hover">
                          <thead>
                            <tr>
                              <th>集計日時</th>
                              <th>ダウンロード</th>
                            </tr>
                          </thead>
                          <tbody>
                            <TMPL_LOOP NAME="list_loop">
                              <tr>
                                <td>%Y%/%M%/%D% %h%:%m%</td>
                                <td>
                                  <a href="%CGI_URL%?m=pntcnttsvdwn&amp;fname=%fname%"><i class="fas fa-file-excel"></i> CSV</a>
                                </td>
                              </tr>
                            </TMPL_LOOP>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <TMPL_INCLUDE NAME="include_footer.html">
  </div>

  <TMPL_INCLUDE NAME="include_foot.html">
</body>

</html>