<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>%product_name%</title>
  <link href="%static_url%/css/admin/common.css" type="text/css" rel="stylesheet">
  <style>
    #prof_company {
      width: 25em;
    }

    #prof_dept {
      width: 25em;
    }

    #prof_title {
      width: 15em;
    }

    #prof_handle {
      width: 30em;
    }

    #prof_skype_id {
      width: 30em;
    }

    #prof_pass {
      width: 12em;
    }

    #prof_title {
      width: 20em;
    }

    #prof_lastname {
      width: 20em;
    }

    #prof_firstname {
      width: 20em;
    }

    #prof_zip1 {
      width: 3em;
    }

    #prof_zip2 {
      width: 4em;
    }

    #prof_addr1 {
      width: 5em;
    }

    #prof_addr2 {
      width: 15em;
    }

    #prof_addr3 {
      width: 20em;
    }

    #prof_addr4 {
      width: 20em;
    }

    #prof_tel1 {
      width: 5em;
    }

    #prof_tel2 {
      width: 4em;
    }

    #prof_tel3 {
      width: 4em;
    }

    #prof_fax1 {
      width: 5em;
    }

    #prof_fax2 {
      width: 4em;
    }

    #prof_fax3 {
      width: 4em;
    }

    #prof_birthy {
      width: 5em;
    }

    #prof_birthm {
      width: 3em;
    }

    #prof_birthd {
      width: 3em;
    }

    #prof_logo_box img {
      vertical-align: top;
      border: 1px solid #cccccc;
    }

    #prof_order_weight {
      width: 3em;
    }
  </style>
</head>

<body>
  <h1><a href="%CGI_URL%?m=prflstfrm">%prof_caption%管理</a> - 新規登録</h1>
  <div id="main">
    <p>%prof_caption%を新規に登録します。必要事項を入力の上、「登録」ボタンを押してください。</p>
    <TMPL_IF NAME="errs">
      <div class="errs">%errs%</div>
    </TMPL_IF>
    <form method="post" action="%CGI_URL%" enctype="multipart/form-data">
      <input type="hidden" name="m" value="prfaddset" />
      <input type="hidden" name="pkey" value="%pkey%" />
      <fieldset>
        <legend>基本情報</legend>
        <dl style="display:none;">
          <dt><label class="%prof_company_err% %prof_dept_err% %prof_title_err%">所属</label></dt>
          <dd>
            <table class="noborder">
              <tr>
                <td>%prof_company_caption%</td>
                <td>
                  ：<input type="text" id="prof_company" name="prof_company" value="%prof_company%"
                    class="text %prof_company_err%" />
                  <small>※ <span id="prof_company_max_char_num">100</span>文字以内（現在の入力文字数：<span
                      id="prof_company_char_num">0</span>文字）</small>
                </td>
              </tr>
              <tr>
                <td>%prof_dept_caption%</td>
                <td>
                  ：<input type="text" id="prof_dept" name="prof_dept" value="%prof_dept%"
                    class="text %prof_dept_err%" />
                  <small>※ <span id="prof_dept_max_char_num">100</span>文字以内（現在の入力文字数：<span
                      id="prof_dept_char_num">0</span>文字）</small>
                </td>
              </tr>
              <tr>
                <td>%prof_title_caption%</td>
                <td>
                  ：<input type="text" id="prof_title" name="prof_title" value="%prof_title%"
                    class="text %prof_title_err%" />
                  <small>※ <span id="prof_title_max_char_num">20</span>文字以内（現在の入力文字数：<span
                      id="prof_title_char_num">0</span>文字）</small>
                </td>
              </tr>
            </table>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_lastname"
              class="required %prof_lastname_err% %prof_firstname_err%">%prof_lastname_caption%・%prof_firstname_caption%</label>
          </dt>
          <dd>
            %prof_lastname_caption%：<input type="text" id="prof_lastname" name="prof_lastname" value="%prof_lastname%"
              class="text %prof_lastname_err%" />　
            %prof_firstname_caption%：<input type="text" id="prof_firstname" name="prof_firstname"
              value="%prof_firstname%" class="text %prof_firstname_err%" />
            <ul class="note">
              <li>%prof_lastname_caption%は<span id="prof_lastname_max_char_num">100</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_lastname_char_num">0</span>文字）</li>
              <li>%prof_firstname_caption%は<span
                  id="prof_firstname_max_char_num">100</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_firstname_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_handle" class="required %prof_handle_err%">%prof_handle_caption%</label></dt>
          <dd>
            <input type="text" id="prof_handle" name="prof_handle" value="%prof_handle%"
              class="text %prof_handle_err%" />
            <ul class="note">
              <li>%prof_handle_caption%は<span id="prof_handle_max_char_num">30</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_handle_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_email" class="required %prof_email_err%">%prof_email_caption%</label></dt>
          <dd>
            <input type="text" id="prof_email" name="prof_email" value="%prof_email%" class="text %prof_email_err%" />
            <ul class="note">
              <li><span id="prof_email_max_char_num">255</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_email_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_pass" class="required %prof_pass_err%">%prof_pass_caption%</label></dt>
          <dd>
            <input type="text" id="prof_pass" name="prof_pass" value="%prof_pass%"
              class="text inputlimit_ascii %prof_pass_err%" />
            <ul class="note">
              <li>8文字以上<span id="prof_pass_max_char_num">20</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_pass_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_skype_id" class="%prof_skype_id_err%">%prof_skype_id_caption%</label>
          </dt>
          <dd>
            <input type="text" id="prof_skype_id" name="prof_skype_id" value="%prof_skype_id%"
              class="text inputlimit_ascii %prof_skype_id_err%" />
            <ul class="note">
              <li><span id="prof_skype_id_max_char_num">255</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_skype_id_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_hp" class="%prof_hp_err%">%prof_hp_caption%</label></dt>
          <dd>
            <input type="text" id="prof_hp" name="prof_hp" value="%prof_hp%"
              class="text inputlimit_ascii %prof_hp_err%" />
            <ul class="note">
              <li><span id="prof_hp_max_char_num">255</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_hp_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_logo_up" class="%prof_logo_up_err%">プロフィール写真</label></dt>
          <dd>
            <input type="file" id="prof_logo_up" name="prof_logo_up" class="text %prof_logo_up_err%" />
            <ul class="note">
              <li>GIF/JPEG/PNG形式のいずれかの画像ファイルを指定してください。</li>
            </ul>
            <TMPL_IF NAME="prof_logo_up">
              <div id="prof_logo_box">
                <img src="%prof_logo_2_tmp_url%?%epoch%" width="%prof_logo_2_w%" height="%prof_logo_2_h%" alt="ロゴ（中）" />
              </div>
              <div><input type="checkbox" id="prof_logo_del" name="prof_logo_del" value="1" /> <label
                  for="prof_logo_del">登録した画像を取り消す</label></div>
            </TMPL_IF>
          </dd>
        </dl>
        <dl style="display:none;">
          <dt><label class="required %prof_rank_err%">%prof_rank_caption%</label></dt>
          <dd>
            <select name="prof_rank" id="prof_rank" class="%prof_rank_err%">
              <option value="1">-</option>
              <!--<TMPL_LOOP NAME="prof_rank_loop">
                <option value="%id%" %selected%>%title%</option>
              </TMPL_LOOP>-->
            </select>
          </dd>
        </dl>
        <dl class="last">
          <dt><label class="required">%prof_coupon_ok_caption%</label></dt>
          <dd>
            <select name="prof_coupon_ok" id="prof_coupon_ok">
              <option value="0" %prof_coupon_ok_0_selected%>受け付けない</option>
              <option value="1" %prof_coupon_ok_1_selected%>受け付ける</option>
            </select>
          </dd>
        </dl>
      </fieldset>
      <fieldset>
        <legend>住所・連絡先</legend>
        <dl>
          <dt><label
              class="%prof_zip1_err% %prof_zip2_err% %prof_addr1_err% %prof_addr2_err% %prof_addr3_err% %prof_addr4_err%">住所</label>
          </dt>
          <dd>
            <table class="noborder">
              <tr>
                <td>郵便番号</td>
                <td>：</td>
                <td>
                  <input type="text" id="prof_zip1" name="prof_zip1" value="%prof_zip1%" maxlength="3"
                    class="text inputlimit_num %prof_zip1_err%" /> -
                  <input type="text" id="prof_zip2" name="prof_zip2" value="%prof_zip2%" maxlength="4"
                    class="text inputlimit_num %prof_zip2_err%" />
                </td>
              </tr>
              <tr>
                <td>%prof_addr1_caption%</td>
                <td>：</td>
                <td><input type="text" id="prof_addr1" name="prof_addr1" value="%prof_addr1%"
                    class="text %prof_addr1_err%" /> <small>※ <span
                      id="prof_addr1_max_char_num">5</span>文字以内（現在の入力文字数：<span
                      id="prof_addr1_char_num">0</span>文字）</small></td>
              </tr>
              <tr>
                <td>%prof_addr2_caption%</td>
                <td>：</td>
                <td><input type="text" id="prof_addr2" name="prof_addr2" value="%prof_addr2%"
                    class="text %prof_addr2_err%" /> <small>※ <span
                      id="prof_addr2_max_char_num">100</span>文字以内（現在の入力文字数：<span
                      id="prof_addr2_char_num">0</span>文字）</small></td>
              </tr>
              <tr>
                <td>%prof_addr3_caption%</td>
                <td>：</td>
                <td><input type="text" id="prof_addr3" name="prof_addr3" value="%prof_addr3%"
                    class="text %prof_addr3_err%" /> <small>※ <span
                      id="prof_addr3_max_char_num">100</span>文字以内（現在の入力文字数：<span
                      id="prof_addr3_char_num">0</span>文字）</small></td>
              </tr>
              <tr>
                <td>%prof_addr4_caption%</td>
                <td>：</td>
                <td><input type="text" id="prof_addr4" name="prof_addr4" value="%prof_addr4%"
                    class="text %prof_addr4_err%" /> <small>※ <span
                      id="prof_addr4_max_char_num">100</span>文字以内（現在の入力文字数：<span
                      id="prof_addr4_char_num">0</span>文字）</small></td>
              </tr>
            </table>
          </dd>
        </dl>
        <dl class="last">
          <dt><label class="%prof_tel1_err% %prof_tel2_err% %prof_tel3_err%">電話番号</label></dt>
          <dd>
            <input type="text" id="prof_tel1" name="prof_tel1" value="%prof_tel1%" maxlength="5"
              class="text inputlimit_num %prof_tel1_err%" /> -
            <input type="text" id="prof_tel2" name="prof_tel2" value="%prof_tel2%" maxlength="4"
              class="text inputlimit_num %prof_tel2_err%" /> -
            <input type="text" id="prof_tel3" name="prof_tel3" value="%prof_tel3%" maxlength="4"
              class="text inputlimit_num %prof_tel3_err%" />
          </dd>
        </dl>
      </fieldset>
      <fieldset>
        <legend>プロフィール</legend>
        <dl>
          <dt><label class="%prof_birthy_err% %prof_birthm_err% %prof_birthd_err%">生年月日</label></dt>
          <dd>
            西暦
            <input type="text" id="prof_birthy" name="prof_birthy" value="%prof_birthy%" maxlength="4"
              class="text inputlimit_num %prof_birthy_err%" /> 年
            <input type="text" id="prof_birthm" name="prof_birthm" value="%prof_birthm%" maxlength="2"
              class="text inputlimit_num %prof_birthm_err%" /> 月
            <input type="text" id="prof_birthd" name="prof_birthd" value="%prof_birthd%" maxlength="2"
              class="text inputlimit_num %prof_birthd_err%" /> 日
          </dd>
        </dl>
        <dl>
          <dt><label class="required %prof_gender_err%">%prof_gender_caption%</label></dt>
          <dd>
            <label><input type="radio" id="prof_gender_1" name="prof_gender" value="1" %prof_gender_1_checked% />
              男性</label> ／
            <label><input type="radio" id="prof_gender_2" name="prof_gender" value="2" %prof_gender_2_checked% />
              女性</label>
          </dd>
        </dl>
        <dl>
          <dt><label class="required %prof_country_err%">%prof_country_caption%</label></dt>
          <dd>
            <select name="prof_country" id="prof_country" class="%prof_country_err%">
              <option value="">-</option>
              <TMPL_LOOP NAME="prof_country_loop">
                <option value="%country_code%" %selected%>%country_name%</option>
              </TMPL_LOOP>
            </select>
          </dd>
        </dl>
        <dl>
          <dt><label class="required %prof_residence_err%">%prof_residence_caption%</label></dt>
          <dd>
            <select name="prof_residence" id="prof_residence" class="%prof_residence_err%">
              <option value="">-</option>
              <TMPL_LOOP NAME="prof_residence_loop">
                <option value="%country_code%" %selected%>%country_name%</option>
              </TMPL_LOOP>
            </select>
          </dd>
        </dl>
        <dl>
          <dt><label class="required %prof_character_err%">%prof_character_caption%</label></dt>
          <dd>
            <table>
              <TMPL_LOOP NAME="prof_character_loop">
                <tr>
                  <td>%id%</td>
                  <td>：</td>
                  <td><label><input type="checkbox" id="prof_character_%id%" name="prof_character" value="%id%"
                        %checked% /> %title%</label></td>
                </tr>
              </TMPL_LOOP>
            </table>
            <ul class="note">
              <li>
                <TMPL_IF NAME="prof_character_min">少なくとも%prof_character_min%項目にチェックを入れてください。</TMPL_IF>
                最大%prof_character_max%項目までチェックを入れることが可能です。
              </li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label class="required %prof_interest_err%">%prof_interest_caption%</label></dt>
          <dd>
            <table>
              <TMPL_LOOP NAME="prof_interest_loop">
                <tr>
                  <td>%id%</td>
                  <td>：</td>
                  <td><label><input type="checkbox" id="prof_interest_%id%" name="prof_interest" value="%id%"
                        %checked% /> %title%</label></td>
                </tr>
              </TMPL_LOOP>
            </table>
            <ul class="note">
              <li>
                <TMPL_IF NAME="prof_interest_min">少なくとも%prof_interest_min%項目にチェックを入れてください。</TMPL_IF>
                最大%prof_interest_max%項目までチェックを入れることが可能です。
              </li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_intro" class="required %prof_intro_err%">%prof_intro_caption%</label></dt>
          <dd>
            <textarea name="prof_intro" id="prof_intro" rows="5" cols="80"
              class="%prof_intro_err%">%prof_intro%</textarea>
            <ul class="note">
              <li><span id="prof_intro_max_char_num">8000</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_intro_char_num">0</span>文字）</li>
              <li>HTMLタグは有効になりません。</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_intro2" class="%prof_intro2_err%">%prof_intro2_caption%</label></dt>
          <dd>
            <textarea name="prof_intro2" id="prof_intro2" rows="5" cols="80">%prof_intro2%</textarea>
            <ul class="note">
              <li><span id="prof_intro2_max_char_num">1000</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_intro2_char_num">0</span>文字）</li>
              <li>HTMLタグは有効になりません。</li>
            </ul>
          </dd>
        </dl>
        <dl>
			<dt><label for="prof_associate1" class="%prof_associate1_err%">%prof_associate1_caption%</label></dt>
			<dd>
				<textarea name="prof_associate1" id="prof_associate1" rows="5" cols="80">%prof_associate1%</textarea>
				<ul class="note">
					<li><span id="prof_associate1_max_char_num">300</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_associate1_char_num">0</span>文字）</li>
					<li>HTMLタグは有効になりません。</li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><label for="prof_associate2" class="%prof_associate2_err%">%prof_associate2_caption%</label></dt>
			<dd>
				<textarea name="prof_associate2" id="prof_associate2" rows="5" cols="80">%prof_associate2%</textarea>
				<ul class="note">
					<li><span id="prof_associate2_max_char_num">300</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_associate2_char_num">0</span>文字）</li>
					<li>HTMLタグは有効になりません。</li>
				</ul>
			</dd>
		</dl>
        <dl>
			<dt><label for="prof_audio_url" class="%prof_audio_url_err%">%prof_audio_url_caption%</label></dt>
			<dd>
				<input type="text" id="prof_audio_url" name="prof_audio_url" value="%prof_audio_url%" class="text inputlimit_ascii %prof_audio_url_err%" />
				<ul class="note">
					<li><span id="prof_audio_url_max_char_num">255</span>文字以内で入力してください。（現在の入力文字数：<span id="prof_audio_url_char_num">0</span>文字）</li>
				</ul>
			</dd>
		</dl>
        <dl class="last">
          <dt><label for="prof_video_url" class="%prof_video_url_err%">%prof_video_url_caption%</label></dt>
          <dd>
            <input type="text" id="prof_video_url" name="prof_video_url" value="%prof_video_url%"
              class="text inputlimit_ascii %prof_video_url_err%" />
            <ul class="note">
              <li><span id="prof_video_url_max_char_num">255</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_video_url_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
      </fieldset>
      <fieldset>
        <legend>表示順</legend>
        <dl>
          <dt><label for="prof_order_weight"
              class="required %prof_order_weight_err%">%prof_order_weight_caption%</label></dt>
          <dd>
            <input type="text" id="prof_order_weight" name="prof_order_weight" value="%prof_order_weight%"
              class="text inputlimit_num %prof_order_weight_err%" />
            <ul class="note">
              <li>0～255までの値を半角数字で指定してください。</li>
              <li>0より大きい数字がセットされれば、人気順表示の際に優先的にトップに表示されます。また、大きい数字ほどトップに表示されます。</li>
            </ul>
          </dd>
        </dl>
        <dl class="last">
          <dt><label class="%prof_reco_err%">%prof_reco_caption%</label></dt>
          <dd>
            <label><input type="checkbox" id="prof_reco" name="prof_reco" value="1" %prof_reco_1_checked% />
              オススメにする</label>
          </dd>
        </dl>
      </fieldset>
      <fieldset>
        <legend>登録申し込み</legend>
        <dl>
          <dt><label for="prof_app1" class="%prof_app1_err%">%prof_app1_caption%</label></dt>
          <dd>
            <textarea id="prof_app1" name="prof_app1" rows="3" cols="80" class="%prof_app1_err%">%prof_app1%</textarea>
            <ul class="note">
              <li><span id="prof_app1_max_char_num">300</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_app1_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_app2" class="%prof_app2_err%">%prof_app2_caption%</label></dt>
          <dd>
            <textarea id="prof_app2" name="prof_app2" rows="3" cols="80" class="%prof_app2_err%">%prof_app2%</textarea>
            <ul class="note">
              <li><span id="prof_app2_max_char_num">300</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_app2_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_app3" class="%prof_app3_err%">%prof_app3_caption%</label></dt>
          <dd>
            <textarea id="prof_app3" name="prof_app3" rows="3" cols="80" class="%prof_app3_err%">%prof_app3%</textarea>
            <ul class="note">
              <li><span id="prof_app3_max_char_num">3000</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_app3_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
        <dl class="last">
          <dt><label for="prof_app4" class="%prof_app4_err%">%prof_app4_caption%</label></dt>
          <dd>
            <textarea id="prof_app4" name="prof_app4" rows="3" cols="80" class="%prof_app4_err%">%prof_app4%</textarea>
            <ul class="note">
              <li><span id="prof_app4_max_char_num">1000</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_app4_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
      </fieldset>


      <fieldset>
        <legend>課金比率と売上配分</legend>
        <dl class="last">
          <dt><label class="">講師個別売上配分</label></dt>
          <dd>
            <p>
              <label>
                <input type="checkbox" name="prof_override_margin" id="prof_override_margin" value="1" %prof_override_margin_1_checked%>
                講師個別配分を適用する
              </label>
            </p>
            <ul class="note">
              <li>売上配分の比率を、以下に定義する個別の比率で優先したい場合は、上記チェックボックスにチェックを入れ、以下の個別の比率を定義してください。</li>
            </ul>
          </dd>
        </dl>
        <dl class="last" id="point_margin_box" hidden>
          <dt><label class="">ポイント利用時</label></dt>
          <dd>
            <table class="margin_tbl">
              <tr>
                <th></th>
                <th>課金比率</th>
                <th>%prof_caption%の配分</th>
                <th>代理店の配分</th>
              </tr>
              <tr>
                <td>通常完了</td>
                <td><input type="text" id="normal_point_fee_rate" name="normal_point_fee_rate" value="%normal_point_fee_rate%" maxlength="3" class="text inputlimit_num margins %normal_point_fee_rate_err%" /> ％
                <td><input type="text" id="normal_point_prof_margin" name="normal_point_prof_margin" value="%normal_point_prof_margin%" maxlength="3" class="text inputlimit_num margins %normal_point_prof_margin_err%" /> ％
                <td><input type="text" id="normal_point_seller_margin" name="normal_point_seller_margin" value="%normal_point_seller_margin%" maxlength="3" class="text inputlimit_num margins %normal_point_seller_margin_err%" /> ％
              </tr>
              <tr>
                <td>%member_caption%通常キャンセル</td>
                <td><input type="text" id="cancel1_point_fee_rate" name="cancel1_point_fee_rate" value="%cancel1_point_fee_rate%" maxlength="3" class="text inputlimit_num margins %cancel1_point_fee_rate_err%" /> ％
                <td><input type="text" id="cancel1_point_prof_margin" name="cancel1_point_prof_margin" value="%cancel1_point_prof_margin%" maxlength="3" class="text inputlimit_num margins %cancel1_point_prof_margin_err%" /> ％
                <td><input type="text" id="cancel1_point_seller_margin" name="cancel1_point_seller_margin" value="%cancel1_point_seller_margin%" maxlength="3" class="text inputlimit_num margins %cancel1_point_seller_margin_err%" /> ％
              </tr>
              <tr>
                <td>%member_caption%緊急キャンセル</td>
                <td><input type="text" id="cancel2_point_fee_rate" name="cancel2_point_fee_rate" value="%cancel2_point_fee_rate%" maxlength="3" class="text inputlimit_num margins %cancel2_point_fee_rate_err%" /> ％
                <td><input type="text" id="cancel2_point_prof_margin" name="cancel2_point_prof_margin" value="%cancel2_point_prof_margin%" maxlength="3" class="text inputlimit_num margins %cancel2_point_prof_margin_err%" /> ％
                <td><input type="text" id="cancel2_point_seller_margin" name="cancel2_point_seller_margin" value="%cancel2_point_seller_margin%" maxlength="3" class="text inputlimit_num margins %cancel2_point_seller_margin_err%" /> ％
              </tr>
              <tr>
                <td>%member_caption%放置キャンセル</td>
                <td><input type="text" id="cancel3_point_fee_rate" name="cancel3_point_fee_rate" value="%cancel3_point_fee_rate%" maxlength="3" class="text inputlimit_num margins %cancel3_point_fee_rate_err%" /> ％
                <td><input type="text" id="cancel3_point_prof_margin" name="cancel3_point_prof_margin" value="%cancel3_point_prof_margin%" maxlength="3" class="text inputlimit_num margins %cancel3_point_prof_margin_err%" /> ％
                <td><input type="text" id="cancel3_point_seller_margin" name="cancel3_point_seller_margin" value="%cancel3_point_seller_margin%" maxlength="3" class="text inputlimit_num margins %cancel3_point_seller_margin_err%" /> ％
              </tr>
            </table>
          </dd>
        </dl>
        <dl class="last" id="point_coupon_box" hidden>
          <dt><label class="">クーポン利用時</label></dt>
          <dd>
            <table class="margin_tbl">
              <tr>
                <th></th>
                <th>課金比率</th>
                <th>%prof_caption%の配分</th>
                <th>代理店の配分</th>
              </tr>
              <tr>
                <td>通常完了</td>
                <td><input type="text" id="normal_coupon_fee_rate" name="normal_coupon_fee_rate" value="%normal_coupon_fee_rate%" maxlength="3" class="text inputlimit_num margins %normal_coupon_fee_rate_err%" /> ％
                <td><input type="text" id="normal_coupon_prof_margin" name="normal_coupon_prof_margin" value="%normal_coupon_prof_margin%" maxlength="3" class="text inputlimit_num margins %normal_coupon_prof_margin_err%" /> ％
                <td><input type="text" id="normal_coupon_seller_margin" name="normal_coupon_seller_margin" value="%normal_coupon_seller_margin%" maxlength="3" class="text inputlimit_num margins %normal_coupon_seller_margin_err%" /> ％
              </tr>
              <tr>
                <td>%member_caption%通常キャンセル</td>
                <td><input type="text" id="cancel1_coupon_fee_rate" name="cancel1_coupon_fee_rate" value="%cancel1_coupon_fee_rate%" maxlength="3" class="text inputlimit_num margins %cancel1_coupon_fee_rate_err%" /> ％
                <td><input type="text" id="cancel1_coupon_prof_margin" name="cancel1_coupon_prof_margin" value="%cancel1_coupon_prof_margin%" maxlength="3" class="text inputlimit_num margins %cancel1_coupon_prof_margin_err%" /> ％
                <td><input type="text" id="cancel1_coupon_seller_margin" name="cancel1_coupon_seller_margin" value="%cancel1_coupon_seller_margin%" maxlength="3" class="text inputlimit_num margins %cancel1_coupon_seller_margin_err%" /> ％
              </tr>
              <tr>
                <td>%member_caption%緊急キャンセル</td>
                <td><input type="text" id="cancel2_coupon_fee_rate" name="cancel2_coupon_fee_rate" value="%cancel2_coupon_fee_rate%" maxlength="3" class="text inputlimit_num margins %cancel2_coupon_fee_rate_err%" /> ％
                <td><input type="text" id="cancel2_coupon_prof_margin" name="cancel2_coupon_prof_margin" value="%cancel2_coupon_prof_margin%" maxlength="3" class="text inputlimit_num margins %cancel2_coupon_prof_margin_err%" /> ％
                <td><input type="text" id="cancel2_coupon_seller_margin" name="cancel2_coupon_seller_margin" value="%cancel2_coupon_seller_margin%" maxlength="3" class="text inputlimit_num margins %cancel2_coupon_seller_margin_err%" /> ％
              </tr>
              <tr>
                <td>%member_caption%放置キャンセル</td>
                <td><input type="text" id="cancel3_coupon_fee_rate" name="cancel3_coupon_fee_rate" value="%cancel3_coupon_fee_rate%" maxlength="3" class="text inputlimit_num margins %cancel3_coupon_fee_rate_err%" /> ％
                <td><input type="text" id="cancel3_coupon_prof_margin" name="cancel3_coupon_prof_margin" value="%cancel3_coupon_prof_margin%" maxlength="3" class="text inputlimit_num margins %cancel3_coupon_prof_margin_err%" /> ％
                <td><input type="text" id="cancel3_coupon_seller_margin" name="cancel3_coupon_seller_margin" value="%cancel3_coupon_seller_margin%" maxlength="3" class="text inputlimit_num margins %cancel3_coupon_seller_margin_err%" /> ％
              </tr>
            </table>
            <ul class="note">
              <li>課金比率は、%member_caption%への課金額を算出するための比率になります。また、この比率から算出された金額は、%prof_caption%と代理店へ売上を配分する際の基となる金額にもなります。例えば課金比率を50%とすると、1000円のレッスンに対して500円が%member_caption%に課金され、この500円を所定の比率で%prof_caption%と代理店へ配分することになります。通常、通常完了の課金比率は100%とします。キャンセルの場合は、いわゆるキャンセル料を算出するための比率になります。</li>
              <li>課金比率により算出された課金額は、配分比率によって、%prof_caption%と代理店に配分されることになります。%prof_caption%と代理店の配分比率の和が100を超えることがないよう注意してください。</li>
              <li>上記の比率や配分の単位はすべてパーセントです。0～100の数値を指定してください。</li>
              <li>放置キャンセルとは、%member_caption%がレッスンを予約したにもかかわらず受講せずにほったらかされた場合を指します。</li>
            </ul>
          </dd>
        </dl>
      </fieldset>
      <script>
        document.getElementById('prof_override_margin').addEventListener('click', showHideMarginBox, false);
        showHideMarginBox();
    
        function showHideMarginBox() {
          const checked = document.getElementById('prof_override_margin').checked;
          document.getElementById('point_margin_box').hidden = !checked;
          document.getElementById('point_coupon_box').hidden = !checked;
        }
      </script>
    
      <fieldset>
        <legend>銀行口座情報</legend>
        <dl>
          <dt><label for="prof_bank_code" class="%prof_bank_code_err%">金融機関コード</label></dt>
          <dd>
            <input type="text" id="prof_bank_code" name="prof_bank_code" value="%prof_bank_code%" class="text %prof_bank_code_err%" />
            <ul class="note">
              <li>4 桁の半角数値で入力してください。</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_bank_name" class="%prof_bank_name_err%">金融機関名</label></dt>
          <dd>
            <input type="text" id="prof_bank_name" name="prof_bank_name" value="%prof_bank_name%" class="text %prof_bank_name_err%" />
            <ul class="note">
              <li>20 文字以内で入力してください。</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_bank_branch_code" class="%prof_bank_branch_code_err%">支店コード</label></dt>
          <dd>
            <input type="text" id="prof_bank_branch_code" name="prof_bank_branch_code" value="%prof_bank_branch_code%" class="text %prof_bank_branch_code_err%" />
            <ul class="note">
              <li>3 桁の半角数値で入力してください。</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_bank_branch_name" class="%prof_bank_branch_name_err%">支店名</label></dt>
          <dd>
            <input type="text" id="prof_bank_branch_name" name="prof_bank_branch_name" value="%prof_bank_branch_name%" class="text %prof_bank_branch_name_err%" />
            <ul class="note">
              <li>20 文字以内で入力してください。</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_bank_account_type" class="%prof_bank_account_type_err%">口座種別</label></dt>
          <dd>
            <select name="prof_bank_account_type" id="prof_bank_account_type" class="select %prof_bank_account_type_err%">
              <option value=""></option>
              <option value="1" %prof_bank_account_type_1_selected%>普通</option>
              <option value="2" %prof_bank_account_type_2_selected%>当座</option>
              <option value="4" %prof_bank_account_type_4_selected%>貯蓄</option>
            </select>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_bank_account_number" class="%prof_bank_account_number_err%">口座番号</label></dt>
          <dd>
            <input type="text" id="prof_bank_account_number" name="prof_bank_account_number" value="%prof_bank_account_number%" class="text %prof_bank_account_number_err%" />
            <ul class="note">
              <li>7 桁の半角数値で入力してください。</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_bank_account_name" class="%prof_bank_account_name_err%">口座名義</label></dt>
          <dd>
            <input type="text" id="prof_bank_account_name" name="prof_bank_account_name" value="%prof_bank_account_name%" class="text %prof_bank_account_name_err%" />
            <ul class="note">
              <li>48 文字以内で入力してください。ただし濁点および半濁点を含む文字は 2 文字として数えますので注意してください。</li>
              <ii>利用可能な文字は、全角カナ、全角アルファベット大文字、全角数字、全角スペース、そして以下の全角の記号です：
                <ul>
                  <li>， (全角カンマ)</li>
                  <li>． (全角ピリオド)</li>
                  <li>&#x2010 (全角ハイフン)</li>
                  <li>ー (全角音引)</li>
                  <li>－ (全角マイナス)</li>
                  <li>／ (全角スラッシュ)</li>
                  <li>「 (かぎ括弧:開)</li>
                  <li>」 (かぎ括弧:閉)</li>
                  <li>（ (開き括弧)</li>
                  <li>） (閉じ括弧)</li>
                  <li>￥ (円マーク)</li>
                </ul>
              </ii>
              <li>促音、拗音などの全角カタカナ小文字は利用できません。大文字に変換して入力してください。（誤:トップ, 正:トツプ）</li>
            </ul>
          </dd>
        </dl>
        <dl class="last">
          <dt><label for="prof_deduction" class="required %prof_deduction_err%">源泉徴収</label></dt>
          <dd>
            <select name="prof_deduction" id="prof_deduction" class="select %prof_deduction_err%">
              <option value="0" %prof_deduction_0_selected%>しない</option>
              <option value="1" %prof_deduction_1_selected%>する</option>
            </select>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_invoice_registration" class="%prof_invoice_registration_err%">課税事業者登録番号</label></dt>
          <dd>
            <input type="text" id="prof_invoice_registration" name="prof_invoice_registration" value="%prof_invoice_registration%" class="text %prof_invoice_registration_err%" />
            <ul class="note">
              <li>7 桁の半角数値で入力してください。</li>
            </ul>
          </dd>
        </dl>
      </fieldset>
    

      <fieldset>
        <legend>その他</legend>
        <dl>
          <dt><label for="prof_status" class="required %prof_status_err%">ステータス</label></dt>
          <dd>
            <select name="prof_status" id="prof_status" class="select %prof_status_err%">
              <option value="0" %prof_status_0_selected%>無効</option>
              <option value="1" %prof_status_1_selected%>有効</option>
            </select>
          </dd>
        </dl>
        <dl>
          <dt><label for="prof_memo" class="%prof_memo_err%">%prof_memo_caption%</label></dt>
          <dd>
            <textarea id="prof_memo" name="prof_memo" rows="3" cols="80" class="%prof_memo_err%">%prof_memo%</textarea>
            <ul class="note">
              <li><span id="prof_memo_max_char_num">1000</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_memo_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
        <dl class="last">
          <dt><label for="prof_memo2" class="%prof_memo2_err%">%prof_memo2_caption%</label></dt>
          <dd>
            <textarea id="prof_memo2" name="prof_memo2" rows="3" cols="80"
              class="%prof_memo2_err%">%prof_memo2%</textarea>
            <ul class="note">
              <li><span id="prof_memo2_max_char_num">1000</span>文字以内で入力してください。（現在の入力文字数：<span
                  id="prof_memo2_char_num">0</span>文字）</li>
            </ul>
          </dd>
        </dl>
      </fieldset>
      <div><input type="submit" value="登録" name="setBtn" class="submit" /></div>
    </form>
  </div>

  <!-- 入力文字数カウント -->
  <script src="%static_url%/js/input-count.js"></script>
  <!-- フォーム二重投稿禁止 -->
  <script src="%static_url%/js/form-guard.js"></script>
  <!-- 入力値半角変換 -->
  <script src="%static_url%/js/input-limit.js"></script>

</body>

</html>