<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>%product_name%</title>
  <link href="%static_url%/css/admin/common.css" type="text/css" rel="stylesheet">
  <link href="%static_url%/js/dialog/dialog.css" type="text/css" rel="stylesheet">
  <script src="%static_url%/js/dialog/dialog.js"></script>
</head>

<body>
  <h1><a href="%CGI_URL%?m=prflstfrm">%prof_caption%管理</a> - 削除</h1>
  <div id="main">
    <p>以下の%prof_caption%情報を削除します。内容を確認の上、「削除」ボタンを押してください。</p>
    <TMPL_IF NAME="errs">
      <div class="errs">%errs%</div>
    </TMPL_IF>
    <form method="post" action="%CGI_URL%">
      <input type="hidden" name="m" value="prfdelset" />
      <input type="hidden" name="pkey" value="%pkey%" />
      <fieldset>
        <legend>基本情報</legend>
        <dl>
          <dt>%prof_caption%識別ID</dt>
          <dd>%prof_id%</dd>
        </dl>
        <dl>
          <dt>%prof_company_caption%・%prof_lastname_caption% %prof_firstname_caption%</dt>
          <dd>
            <TMPL_IF NAME="prof_company">
              <div>%prof_company%</div>
              <TMPL_IF NAME="prof_dept">
                <div>%prof_dept%</div>
              </TMPL_IF>
              <TMPL_IF NAME="prof_title">
                <div>%prof_title%</div>
              </TMPL_IF>
            </TMPL_IF>
            <div>%prof_lastname% %prof_firstname%</div>
          </dd>
        </dl>
        <dl>
          <dt>%prof_handle_caption%</dt>
          <dd>%prof_handle%</dd>
        </dl>
        <dl>
          <dt>%prof_email_caption%</dt>
          <dd>%prof_email%</dd>
        </dl>
        <dl>
          <dt>%prof_skype_id_caption%</dt>
          <dd>%prof_skype_id%</dd>
        </dl>
        <dl>
          <dt>プロフィール写真</dt>
          <dd>
            <TMPL_IF NAME="prof_logo">
              <div id="prof_logo_box">
                <img src="%prof_logo_1_url%?%epoch%" width="%prof_logo_1_w%" height="%prof_logo_1_h%" alt="企業ロゴ（小）" />
                <img src="%prof_logo_2_url%?%epoch%" width="%prof_logo_2_w%" height="%prof_logo_2_h%" alt="企業ロゴ（中）" />
                <img src="%prof_logo_3_url%?%epoch%" width="%prof_logo_3_w%" height="%prof_logo_3_h%" alt="企業ロゴ（大）" />
              </div>
            </TMPL_IF>
          </dd>
        </dl>
        <dl style="display:none;">
          <dt>%prof_rank_caption%</dt>
          <dd>%prof_rank_title%</dd>
        </dl>
        <dl class="last">
          <dt>%prof_coupon_ok_caption%</dt>
          <dd>
            <TMPL_IF NAME="prof_coupon_ok_0">受け付けない</TMPL_IF>
            <TMPL_IF NAME="prof_coupon_ok_1">受け付ける</TMPL_IF>
          </dd>
        </dl>
      </fieldset>
      <fieldset>
        <legend>住所・連絡先</legend>
        <dl>
          <dt>住所</dt>
          <dd>
            <TMPL_IF NAME="prof_zip1">
              <div>〒%prof_zip1%-%prof_zip2%</div>
            </TMPL_IF>
            <TMPL_IF NAME="prof_addr1">
              <div>%prof_addr1% %prof_addr2%</div>
              <div>%prof_addr3% %prof_addr4%</div>
            </TMPL_IF>
          </dd>
        </dl>
        <dl>
          <dt>電話番号</dt>
          <dd>
            <TMPL_IF NAME="prof_tel1">
              <div>TEL：%prof_tel1%-%prof_tel2%-%prof_tel3%</div>
            </TMPL_IF>
          </dd>
        </dl>
        <dl class="last">
          <dt>%prof_hp_caption%</dt>
          <dd>
            <TMPL_IF NAME="prof_hp">%prof_hp%<TMPL_ELSE>&nbsp;</TMPL_IF>
          </dd>
        </dl>
      </fieldset>
      <fieldset>
        <legend>プロフィール</legend>
        <dl>
          <dt>生年月日</dt>
          <dd>
            <TMPL_IF NAME="prof_birthy">西暦 %prof_birthy%年%prof_birthm%月%prof_birthd%日<TMPL_ELSE>&nbsp;
            </TMPL_IF>
          </dd>
        </dl>
        <dl>
          <dt>%prof_gender_caption%</dt>
          <dd>
            <TMPL_IF NAME="prof_gender_1">男性</TMPL_IF>
            <TMPL_IF NAME="prof_gender_2">女性</TMPL_IF>
          </dd>
        </dl>
        <dl>
          <dt>%prof_country_caption%</dt>
          <dd>%prof_country_name%</dd>
        </dl>
        <dl>
          <dt>%prof_residence_caption%</dt>
          <dd>%prof_residence_name%</dd>
        </dl>
        <dl>
          <dt>%prof_character_caption%</dt>
          <dd>
            <TMPL_LOOP NAME="prof_character_loop"><span style="margin-right: 1em;">%title%</span>
            </TMPL_LOOP>
          </dd>
        </dl>
        <dl>
          <dt>%prof_interest_caption%</dt>
          <dd>
            <TMPL_LOOP NAME="prof_interest_loop"><span style="margin-right: 1em;">%title%</span></TMPL_LOOP>
          </dd>
        </dl>
        <!--<dl>
			<dt>%prof_associate1_caption%</dt>
			<dd>
				<TMPL_IF NAME="prof_associate1">%prof_associate1%<TMPL_ELSE>&nbsp;</TMPL_IF>
			</dd>
		</dl>
		<dl>
			<dt>%prof_associate2_caption%</dt>
			<dd>
				<TMPL_IF NAME="prof_associate2">%prof_associate2%<TMPL_ELSE>&nbsp;</TMPL_IF>
			</dd>
		</dl>-->
        <dl>
          <dt>%prof_intro_caption%</dt>
          <dd>
            <TMPL_IF NAME="prof_intro">%prof_intro%<TMPL_ELSE>&nbsp;</TMPL_IF>
          </dd>
        </dl>
        <dl>
          <dt>%prof_intro2_caption%</dt>
          <dd>
            <TMPL_IF NAME="prof_intro2">%prof_intro2%<TMPL_ELSE>&nbsp;</TMPL_IF>
          </dd>
        </dl>
        <!--<dl>
			<dt>%prof_audio_url_caption%</dt>
			<dd><TMPL_IF NAME="prof_audio_url">%prof_audio_url%<TMPL_ELSE>&nbsp;</TMPL_IF></dd>
		</dl>-->
        <dl class="last">
          <dt>%prof_video_url_caption%</dt>
          <dd>
            <TMPL_IF NAME="prof_video_url">%prof_video_url%<TMPL_ELSE>&nbsp;</TMPL_IF>
          </dd>
        </dl>
      </fieldset>
      <fieldset>
        <legend>表示順</legend>
        <dl>
          <dt>%prof_order_weight_caption%</dt>
          <dd>%prof_order_weight%</dd>
        </dl>
        <dl class="last">
          <dt>%prof_reco_caption%</dt>
          <dd>
            <TMPL_IF NAME="prof_reco_1">オススメにする<TMPL_ELSE>&nbsp;</TMPL_IF>
          </dd>
        </dl>
      </fieldset>
      <fieldset>
        <legend>その他</legend>
        <dl>
          <dt>ステータス</dt>
          <dd>
            <TMPL_IF NAME="prof_status_0">無効</TMPL_IF>
            <TMPL_IF NAME="prof_status_1">有効</TMPL_IF>
            <TMPL_IF NAME="prof_status_2">仮登録</TMPL_IF>
          </dd>
        </dl>
        <dl>
          <dt>%prof_memo_caption%</label></dt>
          <dd>%prof_memo%</dd>
        </dl>
        <dl>
          <dt>%prof_memo2_caption%</label></dt>
          <dd>%prof_memo2%</dd>
        </dl>
        <dl>
          <dt>%prof_note_caption%</dt>
          <dd>%prof_note%</dd>
        </dl>
        <dl>
          <dt>登録日時</dt>
          <dd>%prof_cdate_0%-%prof_cdate_1%-%prof_cdate_2% %prof_cdate_3%:%prof_cdate_4%:%prof_cdate_5%
            %prof_cdate_8%<TMPL_IF NAME="prof_cdate_9"> %prof_cdate_9%</TMPL_IF>
            <TMPL_IF NAME="prof_cdate_7">（夏時間）</TMPL_IF>
          </dd>
        </dl>
        <dl class="last">
          <dt>最終更新日時</dt>
          <dd>%prof_mdate_0%-%prof_mdate_1%-%prof_mdate_2% %prof_mdate_3%:%prof_mdate_4%:%prof_mdate_5%
            %prof_mdate_8%<TMPL_IF NAME="prof_mdate_9"> %prof_mdate_9%</TMPL_IF>
            <TMPL_IF NAME="prof_mdate_7">（夏時間）</TMPL_IF>
          </dd>
        </dl>
      </fieldset>
      <div><input type="submit" value="削除" name="setBtn" class="submit" /></div>
    </form>
  </div>

  <script>
    (function () {
      let frm_el = document.querySelector('form');
      frm_el.addEventListener('submit', function (event) {
        event.preventDefault();
        let resAction = () => {
          let btn_el = frm_el.querySelector('input[type="submit"]');
          btn_el.disabled = true;
          frm_el.submit();
        };
        let props = [
          {
            caption: 'はい',
            callback: resAction
          },
          {
            caption: 'いいえ',
            callback: function () { }
          }
        ];
        let title = '削除の確認';
        let msg = '本当に削除してもよろしいですか？ よろしければ「はい」を押してください。';
        dialog.show(title, msg, props);
      }, false);
    })();

  </script>
</body>

</html>