<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>各種報告用数値まとめ | %product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0"><i class="fas fa-table text-primary"></i> 各種報告用数値まとめ</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">

              <!--<div class="row">
                <div class="col-12">
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-edit text-primary"></i> 前回ログオン情報</h3>
                    </div>
                    <div class="card-body text-sm row">
                      <table class="table">
                        <tr>
                          <th>日時</th>
                          <td><TMPL_IF NAME="last_logon_tm">%last_logon_tm_0%-%last_logon_tm_1%-%last_logon_tm_2% %last_logon_tm_3%:%last_logon_tm_4%:%last_logon_tm_5% %last_logon_tm_8%<TMPL_IF NAME="last_logon_tm_9"> %last_logon_tm_9%</TMPL_IF><TMPL_IF NAME="last_logon_tm_7">（夏時間）</TMPL_IF><TMPL_ELSE>-</TMPL_IF></td>
                        </tr>
                        <tr>
                          <th>IPアドレス</th>
                          <td><TMPL_IF NAME="last_logon_ip">%last_logon_ip%<TMPL_ELSE>-</TMPL_IF></td>
                        </tr>
                        <tr>
                          <th>User-Agent</th>
                          <td><TMPL_IF NAME="last_logon_ip">%last_logon_ua%<TMPL_ELSE>-</TMPL_IF></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>-->

              <div class="row d-flex">
                <div class="col-12 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-table text-primary"></i> 月報告用Format（請求データ）</h3>
                    </div>
                    <div class="card-body text-sm row pt-2 pb-2 pt-md-3 pb-md-3">
                      <div class="col-8 col-md-12">
                        <p class="mb-0"><a href="https://docs.google.com/spreadsheets/d/1dLYecSsPrrjB1p77V9V6f1_wWInb2leg4Yuo2yX5CSw/edit?usp=sharing" target="_blank">月報告用フォーマット</a>のシート「各種データ - 報告」のコピペ入力用。</p>
                      </div>
                      
                    </div>
                    <div class="card-footer text-sm">
                      <a href="%CGI_URL%?m=slscntfrm3" class="btn btn-info">開く</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-table text-primary"></i> 月報告用Format（講師報酬）</h3>
                    </div>
                    <div class="card-body text-sm row pt-2 pb-2 pt-md-3 pb-md-3">
                      <div class="col-8 col-md-12">
                        <p class="mb-0"><a href="https://docs.google.com/spreadsheets/d/1dLYecSsPrrjB1p77V9V6f1_wWInb2leg4Yuo2yX5CSw/edit?usp=sharing" target="_blank">月報告用フォーマット</a>のシート「****講師報酬」のコピペ入力用。</p>
                      </div>
                    </div>
                    <div class="card-footer text-sm">
                      <a href="%CGI_URL%?m=pdmlstfrm2&s_pdm_status=1" class="btn btn-info">開く</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-table text-primary"></i> KOA数値管理</h3>
                    </div>
                    <div class="card-body text-sm row pt-2 pb-2 pt-md-3 pb-md-3">
                      <div class="col-8 col-md-12">
                        <p class="mb-0"><a href="https://docs.google.com/spreadsheets/d/1l5XPiliukV0wqMs7Ekgrl3QmKWc14mJ9-cUJMNlfF5U/edit?usp=sharing" target="_blank">KOA数値管理</a>のシート「数値」のコピペ入力用。当月および3か月後</p>
                      </div>
                    </div>
                    <div class="card-footer text-sm">
                      <a href="%CGI_URL%?m=slscntfrm3" class="btn btn-info">開く</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-table text-primary"></i>議事録（各種KPI）</h3>
                    </div>
                    <div class="card-body text-sm row pt-2 pb-2 pt-md-3 pb-md-3">
                      <div class="col-8 col-md-12">
                        <p class="mb-0"><a href="https://www.notion.so/58362cfd3b8c4a43bc2e432b6b154189?v=d247b7fe357f4e36a2e8787df478ea07" target="_blank">Notion議事録</a>の「各種数値」の「*月進捗」のコピペ入力用。</p>
                      </div>
                    </div>
                    <div class="card-footer text-sm">
                      <a href="%CGI_URL%?m=slscntfrm2" class="btn btn-info">開く</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-table text-primary"></i>議事録（購入履歴）</h3>
                    </div>
                    <div class="card-body text-sm row pt-2 pb-2 pt-md-3 pb-md-3">
                      <div class="col-8 col-md-12">
                        <p class="mb-0"><a href="https://www.notion.so/58362cfd3b8c4a43bc2e432b6b154189?v=d247b7fe357f4e36a2e8787df478ea07" target="_blank">Notion議事録</a>の「各種数値」の「決済状況」のコピペ入力用。</p>
                      </div>
                    </div>
                    <div class="card-footer text-sm">
                      <a href="%CGI_URL%?m=crdlstfrm2" class="btn btn-info">開く</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-table text-primary"></i>教材費チャージ</h3>
                    </div>
                    <div class="card-body text-sm row pt-2 pb-2 pt-md-3 pb-md-3">
                      <div class="col-8 col-md-12">
                        <p class="mb-0">毎月の教材費経費をチャージするためのフォーム（森山アカウントでチャージ）</p>
                      </div>
                    </div>
                    <div class="card-footer text-sm">
                      <a href="%CGI_URL%?m=mbrchgfrm&member_id=2" class="btn btn-info">開く</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>
        </div>
        <TMPL_INCLUDE NAME="include_footer.html">
      </div>
      <TMPL_INCLUDE NAME="include_foot.html">
  </body>

</html>
