<fieldset>
	<div>
		<span class="seller_switch">企業・学校</span><span class="seller_switch_on">運営者</span>名：
		<input id="s_seller_company" type="text" name="s_seller_company" value="%s_seller_company%" class="text" />
		<a href="javascript:seller_searchbox_show();"><img src="%static_url%/imgs/iconspedia/search-24.png" width="24" height="24" alt="検索" /></a>
	</div>
</fieldset>
<TMPL_IF NAME="limit_over">
	<p>%hit_with_comma%件がヒットしました。%limit%件以下となるよう絞り込んでください。</p>
<TMPL_ELSE>
	<p>%hit_with_comma%件がヒットしました。該当の行をクリックしてください。</p>
</TMPL_IF>
<table class="list">
	<TMPL_LOOP NAME="list_loop">
	<tr>
		<td><img src="%static_url%/imgs/status_%seller_status%_16.png" width="16" height="16" alt="" /></td>
		<td class="seller_id">%seller_id%</td>
		<td class="seller_company">%seller_company%</td>
	</tr>
	</TMPL_LOOP>
</table>
