<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>売上管理 | %product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
  <style>
     .table .bg-success th,
     .table .bg-info th{
      padding: 0.25rem 0.75rem!important;
    }
    #example2 td {
      padding:.15rem;
      font-size: 12px;
    }
  </style>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0"><i class="fas fa-chart-line text-primary"></i> 売上管理</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                    <li class="breadcrumb-item active">売上管理</li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-search text-primary"></i> 絞り込み検索</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-sm">
                      <form method="post" action="%CGI_URL%">
                        <input type="hidden" name="m" value="slscntfrm3" />
                        <label for="s_sdate">集計月</label>
                        <div class="row mb-3">
                          <div class="col-9 col-md-3">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">開始</span>
                              </div>
                              <input type="date" name="s_sdate" value="%s_sdate%" class="form-control" id="s_sdate">
                            </div>
                          </div>
                          <div class="col-9 col-md-3">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">終了</span>
                              </div>
                              <input type="date" name="s_edate" value="%s_edate%" class="form-control" id="s_edate">
                            </div>
                          </div>
                        </div>
                        <label for="s_stdate">3カ月前</label>
                        <div class="row">
                          <div class="col-9 col-md-3">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">開始</span>
                              </div>
                              <input type="date" name="s_stdate" value="%s_stdate%" class="form-control" id="s_stdate">
                            </div>
                          </div>
                          <div class="col-9 col-md-3">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">終了</span>
                              </div>
                              <input type="date" name="s_etdate" value="%s_etdate%" class="form-control" id="s_etdate">
                            </div>
                          </div>
                          <div class="col-3 col-md-1">
                            <button type="submit" id="setBtn" class="btn btn-info" name="setBtn">検索</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-list text-primary"></i> 検索結果</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-sm">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <h4 class="text-center h6">当月</h4>
                          <table id="example2" class="table table-hover text-sm">
                            <thead>
                              <tr>
                                <th style="width:30%">ライトアップ</th>
                                <th style="width:30%">桐原書店</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><script>
                                    var total3 = %sum_8% * 1.1;
                                    document.write(total3.toLocaleString())
                                  </script></td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>%sum_8_with_comma%</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>%sum_23_with_comma%</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td><script>
                                  var total4 = %sum_23% / 1.1;
                                  document.write(total4.toLocaleString())
                                </script></td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>%sum_5_with_comma%</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>%sum_7_with_comma%</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>-%sum_28_with_comma%
                                </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>-%sum_29_with_comma%
                                </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>-%sum_30_with_comma%
                                </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>%sum_4_with_comma%</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>%sum_2_with_comma%</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>
                                  <script>
                                    var total34 = (%sum_5% + %sum_7%) - (%sum_28% + %sum_29% + %sum_30%) + (%sum_4% + %sum_2%) ;
                                    document.write(total34.toLocaleString())
                                  </script>
                                </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>
                                  <script>
                                    var total1 = %sum_5% + %sum_7% ;
                                    document.write(total1.toLocaleString())
                                  </script>
                                </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>
                                  -<script>
                                    var total31 = %sum_28% + %sum_29% + %sum_30% ;
                                    document.write(total31.toLocaleString())
                                  </script>
                                </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>
                                  <script>
                                    var total2 = %sum_4% + %sum_2% ;
                                    document.write(total2.toLocaleString())
                                  </script>
                                </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>%sum_10_with_comma%</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td><script>
                                  var total37 = ((%sum_5% + %sum_7%) - (%sum_28% + %sum_29% + %sum_30%) + (%sum_4% + %sum_2%)) * 0.08 ;
                                  document.write(Math.floor(total37).toLocaleString())
                                </script></td>
                              </tr>
                              <tr>
                                <td>%sum_32_with_comma%</td>
                                <td>%sum_33_with_comma%</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td><script>
                                  var total40 = %sum_10% + %sum_32%;
                                  document.write(total40.toLocaleString())
                                </script> 円</td>
                                <td><script>
                                  var total41 = total37 + %sum_33%;
                                  document.write(Math.floor(total41).toLocaleString())
                                </script> 円</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td><script>
                                  var total42 = total34 - total40;
                                  document.write(total42.toLocaleString())
                                </script> 円</td>
                                <td><script>
                                  var total45 = 0 - Math.floor(total41)
                                  document.write(total45.toLocaleString())
                                </script> 円</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td><script>
                                  var total44 = total42 / 2;
                                  document.write(Math.floor(total44).toLocaleString())
                                </script> 円</td>
                                <td><script>
                                  var total46 = total45 / 2;
                                  document.write(total46.toLocaleString())
                                </script> 円</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td><strong><script>
                                  var total47 = total44 - total46;
                                  var total49 = total47 * 1.1;
                                  if (total47 > 0){
                                    document.write(Math.floor(total47).toLocaleString());
                                    document.write(" 円<small>（税込");
                                    document.write(Math.floor(total49).toLocaleString());
                                    document.write(" 円）</small>")
                                  }
                                </script></strong></td>
                                <td><script>
                                  var total48 = total46 - total44;
                                  var total50 = total48 * 1.1;
                                  if (total48 > 0){
                                    document.write(Math.floor(total48).toLocaleString());
                                    document.write(" 円<small>（税込");
                                    document.write(Math.floor(total50).toLocaleString());
                                    document.write(" 円）</small>")
                                  }
                                </script></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col-12 col-md-6">
                          <h4 class="text-center h6">3か月後</h4>
                          <table id="example2" class="table table-hover text-sm">
                            <thead>
                              <tr>
                                <th style="width:30%">ライトアップ</th>
                                <th style="width:30%">桐原書店</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>-%sum_1_with_comma%</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>-%sum_6_with_comma%</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>-%sum_3_with_comma%</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>
                                  <script>
                                    var total34 = (0) - (%sum_1% + %sum_6% + %sum_3%) + (0) ;
                                    document.write(total34.toLocaleString())
                                  </script>
                                </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>0</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>
                                  -<script>
                                    var total31 = %sum_1% + %sum_6% + %sum_3% ;
                                    document.write(total31.toLocaleString())
                                  </script>
                                </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>0</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr style="background-color: #ccc;">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                  </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <TMPL_INCLUDE NAME="include_footer.html">
  </div>

  <TMPL_INCLUDE NAME="include_foot.html">
</body>

</html>