<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>売上管理 | %product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
  <style>
     .table .bg-success th,
     .table .bg-info th{
      padding: 0.25rem 0.75rem!important;
    }
  </style>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0"><i class="fas fa-chart-line text-primary"></i> 売上管理</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                    <li class="breadcrumb-item active">売上管理</li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-search text-primary"></i> 絞り込み検索</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-sm">
                      <form method="post" action="%CGI_URL%">
                        <input type="hidden" name="m" value="slscntfrm" />
                        <label for="s_sdate">集計月</label>
                        <div class="row mb-3">
                          <div class="col-9 col-md-3">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">開始</span>
                              </div>
                              <input type="date" name="s_sdate" value="%s_sdate%" class="form-control" id="s_sdate">
                            </div>
                          </div>
                          <div class="col-9 col-md-3">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">終了</span>
                              </div>
                              <input type="date" name="s_edate" value="%s_edate%" class="form-control" id="s_edate">
                            </div>
                          </div>
                        </div>
                        <label for="s_stdate">3カ月前</label>
                        <div class="row">
                          <div class="col-9 col-md-3">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">開始</span>
                              </div>
                              <input type="date" name="s_stdate" value="%s_stdate%" class="form-control" id="s_stdate">
                            </div>
                          </div>
                          <div class="col-9 col-md-3">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">終了</span>
                              </div>
                              <input type="date" name="s_etdate" value="%s_etdate%" class="form-control" id="s_etdate">
                            </div>
                          </div>
                          <div class="col-3 col-md-1">
                            <button type="submit" id="setBtn" class="btn btn-info" name="setBtn">検索</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-list text-primary"></i> 検索結果</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-sm">
                      <table id="example2" class="table table-hover text-sm">
                        <thead>
                          <tr>
                            <th style="width:30%">項目</th>
                            <th style="width:30%">ライトアップ</th>
                            <th style="width:30%">桐原書店</th>
                            <th style="width:10%">CSV</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bg-success">
                            <th>入金額</th>
                            <th>ライトアップ</th>
                            <th>桐原書店</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th class="bg-light">銀行振込
                              <!--ポイント管理 mbract の「入金（銀行振込単発チケット購入）」の各レコード合算金額-->
                            </th>
                            <td>%sum_8_with_comma% 円<small>（税込：<script>
                                var total3 = %sum_8% * 1.1;
                                document.write(total3.toLocaleString())
                              </script> 円）</small></td>
                            <td></td>
                            <td><a href="%CGI_URL%?m=slscnttsvdwn&amp;type=8&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a></td>
                          </tr>
                          <tr>
                            <th class="bg-light">カード決済
                              <!--カード決済管理 card の各レコード合算ポイント-->
                            </th>
                            <td><script>
                              var total4 = %sum_23% / 1.1;
                              document.write(total4.toLocaleString())
                            </script> 円<small>（税込：%sum_23_with_comma% 円）</small></td>
                            <td></td>
                            <td><a href="%CGI_URL%?m=slscnttsvdwn&amp;type=9&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a></td>
                          </tr>
                          <tr>
                            <th class="bg-light">学校導入
                              <!--ポイント管理 mbract の「入金（銀行振込単発チケット購入）」の各レコード合算金額-->
                            </th>
                            <td>%sum_34_with_comma% 円<small>（税込：<script>
                              var total50 = %sum_34% * 1.1;
                              document.write(total50.toLocaleString())
                            </script> 円）</small></td>
                            <td>%sum_35_with_comma% 円<small>（税込：<script>
                              var total51 = %sum_35% * 1.1;
                              document.write(total51.toLocaleString())
                            </script> 円）</small></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="bg-success">
                            <th>レッスン売上</th>
                            <th>ライトアップ</th>
                            <th>桐原書店</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th class="bg-light">通常レッスン売上（レッスン受講消化額）
                              <!--レッスン管理の「完了」「会員緊急キャンセル」「会員欠席キャンセル」の各レコード合算金額-->
                            </th>
                            <td>%sum_5_with_comma% 円<small><!--（通常 %sum_24_with_comma% 円、学校 <script>
                              var total21 = %sum_5% - %sum_24%;
                              document.write(total21.toLocaleString())
                            </script> 円）</small>--></td>
                            <td></td>
                            <td>
                              <a href="%CGI_URL%?m=slscnttsvdwn&amp;type=5&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <th class="bg-light">動画レッスン売上（動画購入消化額）
                              <!--ポイント管理 mbract の「出金（動画コースの購入）」の各レコード合算金額-->
                            </th>
                            <td class="price">%sum_7_with_comma% 円</td>
                            <td></td>
                            <td>
                              <a href="%CGI_URL%?m=slscnttsvdwn&amp;type=7&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="bg-success">
                            <th>ポイント付与</th>
                            <th>ライトアップ</th>
                            <th>桐原書店</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th class="bg-light">体験レッスン用ポイント付与
                              <!--クーポン管理の「入金（会員登録）」の各レコード合算金額-->
                            </th>
                            <td class="price">-%sum_28_with_comma% 円<br>
                              <!--3か月後-->
                              （3か月後：-%sum_1_with_comma% 円）
                            </td>
                            <td></td>
                            <td>
                              <a href="%CGI_URL%?m=slscnttsvdwn&amp;type=1&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <th class="bg-light">体験用ポイント再付与
                              <!--クーポン管理の「入金（管理者より付与）」の各レコード合算金額-->
                            </th>
                            <td class="price">-%sum_29_with_comma% 円<br>
                              <!--3か月後-->
                              （3か月後：-%sum_6_with_comma% 円）
                            </td>
                            <td></td>
                            <td>
                              <a href="%CGI_URL%?m=slscnttsvdwn&amp;type=6&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <th class="bg-light">通常レッスンポイント再付与
                              <!--ポイント管理の「入金（管理者より付与）」の各レコード合算金額-->
                            </th>
                            <td class="price">-%sum_30_with_comma% 円<!--<small>（通常 -%sum_31_with_comma% 円、学校 -<script>
                              var total30 = %sum_30% - %sum_31%;
                              document.write(total30.toLocaleString())
                            </script> 円）</small>--><br>
                              <!--3か月後-->
                              （3か月後：-%sum_3_with_comma% 円<!--<small>（通常 -%sum_26_with_comma% 円、学校 -<script>
                              var total22 = %sum_3% - %sum_26%;
                              document.write(total22.toLocaleString())
                              </script> 円）</small>-->）
                            
                            </td>
                            <td></td>
                            <td>
                              <a href="%CGI_URL%?m=slscnttsvdwn&amp;type=3&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a>
                            </td>
                          </tr>
                          <tr style="display:none;">
                            <th class="bg-light">モニターポイント調整（3か月後にマイナス計上）
                              <!--ポイント管理の「入金（モニターチケット付与）」の各レコード合算金額-->
                            </th>
                            <td class="price">-%sum_11_with_comma% 円</td>
                            <td><a href="%CGI_URL%?m=slscnttsvdwn&amp;type=11&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="bg-success">
                            <th>有効期限による失効売上</th>
                            <th>ライトアップ</th>
                            <th>桐原書店</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th class="bg-light">体験用ポイント有効期限切れ
                              <!--クーポン管理の「出金（有効期限切れ）」の各レコード合算金額-->
                            </th>
                            <td class="price">%sum_4_with_comma% 円</td>
                            <td></td>
                            <td>
                              <a href="%CGI_URL%?m=slscnttsvdwn&amp;type=4&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <th class="bg-light">通常レッスンポイント有効期限切れ
                              <!--ポイント管理の「出金（有効期限切れ）」の各レコード合算金額-->
                            </th>
                            <td class="price">%sum_2_with_comma% 円<small><!--（通常 %sum_27_with_comma% 円、学校 <script>
                              var total27 = %sum_2% - %sum_27%;
                              document.write(total27.toLocaleString())
                            </script> 円）</small>--></td>
                            <td></td>
                            <td>
                              <a href="%CGI_URL%?m=slscnttsvdwn&amp;type=2&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="bg-success">
                            <th>①、②、③合計</th>
                            <th>ライトアップ</th>
                            <th>桐原書店</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th class="bg-light">合計</th>
                            <td class="price">
                              <script>
                                var total34 = (%sum_5% + %sum_7%) - (%sum_28% + %sum_29% + %sum_30%) + (%sum_4% + %sum_2%) ;
                                document.write(total34.toLocaleString())
                              </script> 円<!--<small>（通常 <script>
                                var total35 = (%sum_24%) - (%sum_28% + %sum_29% + %sum_31%) + (%sum_4% + %sum_27%) ;
                                document.write(total35.toLocaleString())
                              </script> 円、学校 <script>
                                var total36 = (%sum_5% - %sum_24%) - (%sum_30% - %sum_31%) + (%sum_2% - %sum_27%) ;
                                document.write(total36.toLocaleString())
                            </script> 円）</small>-->
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">① レッスン売上</th>
                            <td class="price">
                              <script>
                                var total1 = %sum_5% + %sum_7% ;
                                document.write(total1.toLocaleString())
                              </script> 円<!--<small>（通常 %sum_24_with_comma% 円、学校 <script>
                              var total21 = %sum_5% - %sum_24%;
                              document.write(total21.toLocaleString())
                            </script> 円）</small>-->
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">② 無料ポイント付与（今月）</th>
                            <td class="price">
                              -<script>
                                var total31 = %sum_28% + %sum_29% + %sum_30% ;
                                document.write(total31.toLocaleString())
                              </script> 円<!--<small>（通常 -<script>
                                var total32 = %sum_28% + %sum_29% + %sum_31% ;
                                document.write(total32.toLocaleString())
                              </script> 円、学校 -<script>
                                var total33 = %sum_30% - %sum_31%;
                                document.write(total33.toLocaleString())
                              </script> 円）</small>-->
                              <!-- 3か月後 -->
                              <!--
                              -<script>
                                var total11 = %sum_1% + %sum_6% + %sum_3% + %sum_11% ;
                                document.write(total11.toLocaleString())
                              </script> 円<small>（通常 -<script>
                                var total23 = %sum_1% + %sum_6% + %sum_26% + %sum_11% ;
                                document.write(total23.toLocaleString())
                              </script> 円、学校 -<script>
                                var total24 = %sum_3% - %sum_26%;
                                document.write(total24.toLocaleString())
                              </script> 円）</small>
                              -->
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">③ 有効期限切れポイント</th>
                            <td class="price">
                              <script>
                                var total2 = %sum_4% + %sum_2% ;
                                document.write(total2.toLocaleString())
                              </script> 円<!--<small>（通常 <script>
                                var total28 = %sum_4% + %sum_27% ;
                                document.write(total28.toLocaleString())
                              </script> 円、学校 <script>
                                var total29 = %sum_2% - %sum_27% ;
                                document.write(total29.toLocaleString())
                              </script> 円）</small>-->
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="bg-success">
                            <th>原価</th>
                            <th>ライトアップ</th>
                            <th>桐原書店</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th class="bg-light">講師報酬
                              <!--レッスン管理の「完了」「会員緊急キャンセル」「会員欠席キャンセル」の講師配分の各レコード合算金額-->
                            </td>
                            <td class="price">%sum_10_with_comma% 円<!--<small>（通常 %sum_25_with_comma% 円、学校 <script>
                              var total25 = %sum_10% - %sum_25%;
                              document.write(total25.toLocaleString())
                            </script> 円）</small>--></td>
                            <td></td>
                            <td>
                              <a href="%CGI_URL%?m=slscnttsvdwn&amp;type=10&amp;s_sdate=%s_sdate%&amp;s_edate=%s_edate%">
                                <i class="fas fa-file-excel"></i> CSV
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <th class="bg-light">早川先生マージン
                              <!--レッスン管理の「完了」「会員緊急キャンセル」「会員欠席キャンセル」の講師配分の各レコード合算金額-->
                            </th>
                            <td></td>
                            <td class="price"><script>
                              var total37 = ((%sum_5% + %sum_7%) - (%sum_28% + %sum_29% + %sum_30%) + (%sum_4% + %sum_2%)) * 0.08 ;
                              document.write(Math.round(total37).toLocaleString())
                            </script> 円</td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <th class="bg-light">教材原価、送料
                              <!--レッスン管理の「完了」「会員緊急キャンセル」「会員欠席キャンセル」の講師配分の各レコード合算金額-->
                            </th>
                            <td>%sum_32_with_comma% 円</td>
                            <td>%sum_33_with_comma% 円</td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <th class="bg-light">システム改修費
                              <!--レッスン管理の「完了」「会員緊急キャンセル」「会員欠席キャンセル」の講師配分の各レコード合算金額-->
                            </th>
                            <td></td>
                            <td></td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <th class="bg-light">動画制作費
                              <!--レッスン管理の「完了」「会員緊急キャンセル」「会員欠席キャンセル」の講師配分の各レコード合算金額-->
                            </th>
                            <td></td>
                            <td></td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="bg-success">
                            <th>精算用</th>
                            <th>ライトアップ</th>
                            <th>桐原書店</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th class="bg-light">② 費用合計</th>
                            <td><script>
                              var total40 = %sum_10% + %sum_32%;
                              document.write(total40.toLocaleString())
                            </script> 円</td>
                            <td><script>
                              var total41 = total37 + %sum_33%;
                              document.write(Math.round(total41).toLocaleString())
                            </script> 円</td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">①-② 分配対象収益</th>
                            <td><script>
                              var total42 = total34 - total40;
                              document.write(total42.toLocaleString())
                            </script> 円</td>
                            <td><script>
                              var total45 = 0 - Math.round(total41)
                              document.write(Math.round(total45).toLocaleString())
                            </script> 円</td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">WU 50%</th>
                            <td><script>
                              var total44 = total42 / 2;
                              document.write(Math.round(total44).toLocaleString())
                            </script> 円</td>
                            <td><script>
                              var total46 = total45 / 2;
                              document.write(Math.round(total46).toLocaleString())
                            </script> 円</td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">桐原 50%</th>
                            <td><script>
                              var total52 = Math.round(total42) - Math.round(total44);
                              document.write(Math.round(total52).toLocaleString())
                            </script> 円</td>
                            <td><script>
                              var total53 = Math.round(total45) - Math.round(total46);
                              document.write(Math.round(total53).toLocaleString())
                            </script> 円</td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">差引精算額</th>
                            <td><strong><script>
                              var total47 = Math.round(total52) - Math.round(total46);
                              var total49 = Math.round(total47) * 1.1;
                              if (total47 > 0){
                                document.write(Math.round(total47).toLocaleString());
                                document.write(" 円<small>（税込");
                                document.write(Math.round(total49).toLocaleString());
                                document.write(" 円）</small>")
                              }
                            </script></strong></td>
                            <td><script>
                              var total48 = total46 - total44;
                              var total50 = total48 * 1.1;
                              if (total48 > 0){
                                document.write(Math.round(total48).toLocaleString());
                                document.write(" 円<small>（税込");
                                document.write(Math.round(total50).toLocaleString());
                                document.write(" 円）</small>")
                              }
                            </script></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="bg-info">
                            <th>各種KPI</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                          <tr>
                            <th class="bg-light">会員登録数</th>
                            <td class="price">
                              %sum_19% 名<small>（通常 <script>
                                var total19 = %sum_19% - %sum_20% ;
                                document.write(total19.toLocaleString())
                              </script> 名、学校 %sum_20% 名）</small>
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">アクティブ会員</th>
                            <td class="price">
                              %sum_21% 名
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">レッスン数（体験数）</th>
                            <td class="price">
                              %sum_14% 件<small>（%sum_15% 件）</small>
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">有料購入数</th>
                            <td class="price">
                              <script>
                                var total15 = %sum_16% + %sum_17% ;
                                document.write(total15.toLocaleString())
                              </script> 件<small>（カード %sum_16% 件、銀行 %sum_17% 件）</small>
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">講師応募数</th>
                            <td class="price">
                              %sum_18% 名
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">アクティブ講師</th>
                            <td class="price">
                              %sum_22% 名
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <!--<tr>
                    <td>④ 合計</td>
                    <td class="price">
                        <script>
                            var total100 = %sum_5% + %sum_7% + %sum_4% + %sum_2% - %sum_1% - %sum_6% - %sum_3% - %sum_11%;
                            document.write(total100.toLocaleString())
                        </script> 円
                    </td>
                    <td></td>
                </tr>-->
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">体験レッスン率</th>
                            <td class="price">
                              <script>
                                var total20 = Math.round( %sum_15% / ( %sum_19% - %sum_20% ) * 100 * 10 ) / 10;
                                document.write(total20.toLocaleString())
                              </script> %
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">体験からの有料化率</th>
                            <td class="price">
                              <script>
                                var total21 = Math.round(( %sum_16% + %sum_17% ) / %sum_15% * 100 * 10) / 10;
                                document.write(total21.toLocaleString())
                              </script> %
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th class="bg-light">登録からの有料化率</th>
                            <td class="price">
                              <script>
                                var total21 = Math.round(( %sum_16% + %sum_17% ) / ( %sum_19% - %sum_20% ) * 100 * 10) / 10;
                                document.write(total21.toLocaleString())
                              </script> %
                            </td>
                            <td></td>
                            <td></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <TMPL_INCLUDE NAME="include_footer.html">
  </div>

  <TMPL_INCLUDE NAME="include_foot.html">
</body>

</html>