RewriteEngine on
#RewriteCond %{HTTP_HOST} !^www.(.+)$
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
RewriteCond %{http_host} ^kirihara.worldtalk.jp
RewriteRule ^(.*) http://academy.kirihara.co.jp/$1 [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule (.*)?$ https://%{HTTP_HOST}/$1 [R=301,L]
#RewriteRule ^index.html$ /WTE/site.cgi?m=index [L]
#RewriteRule ^$ /WTE/site.cgi?m=index [L]
#RewriteRule ^wte/([a-z0-9]+) /WTE/site.cgi?m=$1 [L]

RewriteRule ^index.html$ /WTE/site.cgi?m=index&%{QUERY_STRING} [L]
RewriteRule ^$ /WTE/site.cgi?m=index&%{QUERY_STRING} [L]
RewriteRule ^wte/eiken1pre1study$ /wte/eiken1pre1$1 [R=301,L]
RewriteRule ^wte/eiken1gra2study$ /wte/eiken1gra2$1 [R=301,L]
RewriteRule ^wte/eiken1pre2study$ /wte/eiken1pre2$1 [R=301,L]
RewriteRule ^wte/([a-z0-9]+) /WTE/site.cgi?m=$1&%{QUERY_STRING} [L]


<Files xmlrpc.php>
Order Allow,Deny
Deny from all
</Files>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 weeks"
  ExpiresByType image/gif "access plus 3 months"
  ExpiresByType image/jpeg "access plus 3 months"
  ExpiresByType image/png "access plus 3 months"
  ExpiresByType image/webp "access plus 3 months"
  ExpiresByType image/x-icon "access plus 3 months"
  ExpiresByType image/svg+xml "access plus 3 months"
  ExpiresByType application/javascript "access plus 3 months"
  ExpiresByType application/x-javascript "access plus 3 months"
  ExpiresByType text/javascript "access plus 3 months"
  ExpiresByType application/x-font-ttf "access plus 1 year"
  ExpiresByType application/x-font-woff "access plus 1 year"
  ExpiresByType application/x-font-woff2 "access plus 1 year"
  ExpiresByType application/x-font-opentype "access plus 1 year"
</IfModule>

<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
  SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|ico)$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI _\.utxt$ no-gzip
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/atom_xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE application/x-httpd-php
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-font-woff
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
</IfModule>

#メモリ使用量の上限
php_value memory_limit 128M

#POSTデータの最大サイズ　※合計サイズ
php_value post_max_size 40M

#1ファイルあたりの最大アップロードサイズ
php_value upload_max_filesize 40M

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# WebP対応ブラウザかつWebPファイルがあればWebPファイルを返す設定
<IfModule mod_rewrite.c>
  # Rewriteモジュールを有効にする
  RewriteEngine On
  # WebP対応ブラウザはAcceptリクエストヘッダにimage/webpを含む慣例
  # その場合のみ後続のRewriteRuleを適用する
  RewriteCond %{HTTP_ACCEPT} image/webp
  # 対応するWebP版のファイルがある場合のみ後続のRewriteRuleを適用する
  RewriteCond %{SCRIPT_FILENAME}.webp -f
  # *.jpg、*.png、*.gifファイルを*.webpファイルに内部的にルーティングする(ルーティング先は$0.webpでも可)
  # Content-Typeはimage/webpにする
  RewriteRule .(jpe?g|png|gif)$ %{SCRIPT_FILENAME}.webp [T=image/webp]
</IfModule>
# 拡張子.webpファイルへの直接アクセスにはContent-Typeとしてimage/webpを返す設定
<IfModule mod_mime.c>
  AddType image/webp .webp
</IfModule>
# WebPファイルがあるかもしれない画像へのリクエストは全てVary: Acceptレスポンスヘッダを返す設定(CDN対策)
# Headerディレクティブ単独ではできないのでSetEnvIfディレクティブとの組み合わせで実現する
<IfModule mod_setenvif.c>
  SetEnvIf Request_URI "\.(jpe?g|png|gif)$" _image_request
</IfModule>
<IfModule mod_headers.c>
  Header append Vary Accept env=_image_request
</IfModule>