<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>%course_name% - %prof_handle% 先生｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="%course_name% - %prof_handle% 先生｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="%course_name% - %prof_handle% 先生｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">%course_name% - %prof_handle% 先生</h2>
                <div class="row mb-5">
                    <div class="col-12">
                      <div class="wt_teacherbox p-5">
                          <div class="container">
                            <div class="row">
                                <div class="col-8 offset-2 col-md-4 offset-md-0 col-lg-3">
                                  <TMPL_IF NAME="prof_logo">
                                  <img src="%prof_logo_3_url%?%epoch%" alt="%prof_handle%先生" class="w-100 rounded-circle mb-3 mb-md-4">
                                  <TMPL_ELSE>
                                  <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle%先生" class="w-75 rounded-circle mb-3 mb-md-4">
                                  </TMPL_IF>
                                  <TMPL_IF NAME="is_fav">
                                    <a href="%CGI_URL%?m=favsetajx&amp;prof_id=%prof_id%" class="fav_set favon" data-caption0="お気に入りに追加" data-caption1="登録済み">登録済み</a>
                                  <TMPL_ELSE>
                                    <a href="%CGI_URL%?m=favsetajx&amp;prof_id=%prof_id%" class="fav_set favoff" data-caption0="お気に入りに追加" data-caption1="登録済み">お気に入りに追加</a>
                                  </TMPL_IF>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9 pr-0 pl-0 pr-md-3 pl-md-3">
                                  <h2 class="text-center text-md-left">%prof_handle%先生</h2>
                                  <h3 class="text-center text-md-left mb-3 txt_kiri">コース概要</h3>
                                  <ul class="wt_teacherdetail">
                                      <li>コース名:<span><img src="/assets/img/course/%course_ccate_id_2%.png" class="rounded-circle" alt="%course_name%" /> %course_name%</span></li>
                                      <li>レッスン時間:<span>%course_step%</span>分</li>
                                  </ul>
                                  <ul class="wt_teacherdetail mb-0">
                                      <li>コース概要:</li>
                                  </ul>
                                  <p class="mb-5">%course_intro%</p>
                                  <hr class="mb-5">
                                  <h3 class="text-center text-md-left mb-3 txt_kiri">講師プロフィール</h3>
                                  <ul class="wt_teacherdetail">
                                      <li>出身国:<span class="flag-icon flag-icon-%prof_country%"></span><span>%prof_country_name%</span></li>
                                      <li>居住国:<span class="flag-icon flag-icon-%prof_residence%"></span><span>%prof_residence_name%</span></li>
                                      <li>性別:<span><TMPL_IF NAME="prof_gender_1">男性</TMPL_IF><TMPL_IF NAME="prof_gender_2">女性</TMPL_IF></span></li>
                                  </ul>
                                  <!--<ul class="wt_teacherdetail">
                                      <li>%prof_interest_caption%:<br>
                                        <TMPL_LOOP NAME="prof_interest_loop">
                                          <span class="wt_tag_2"><i>%title%</i></span>
                                        </TMPL_LOOP>
                                      </li>
                                  </ul>-->
                                  <ul class="wt_teacherdetail mb-0">
                                      <li>先生の自己紹介:</li>
                                  </ul>
                                  <div class="wt_acco_text_wrapper">
                                    <div class="wt_acco_text">
                                       <p>%prof_intro%</p>
                                    </div>
                                    <div class="wt_acco_show_more">
                                      ▼ 自己紹介の続きを読む
                                    </div>
                                  </div>
                                  
                      <TMPL_IF NAME="prof_video_url">
                                  <ul class="wt_teacherdetail mb-0">
                                      <li>先生からのビデオメッセージ:</li>
                                  </ul>
                                   <div class="wt_profile_cont">
                                          <div class="youtubecont">
                                            <iframe width="853" height="480" src="//www.youtube.com/embed/%prof_video_url%" frameborder="0" allowfullscreen></iframe>
                                          </div>
                                  </div>
                                  </TMPL_IF>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
                           

                
                <div class="row wt_teacherbox m-0">
                    <input type="radio" id="tab_schedule" name="wt_tab_item" checked>
                    <label class="wt_tab_item col-4" for="tab_schedule"><span class="far fa-calendar-alt"></span><i class="d-none d-md-inline">スケジュール</i></label>
                    <input type="radio" id="tab_voice" name="wt_tab_item">
                    <label class="wt_tab_item col-4" for="tab_voice"><span class="far fa-comment-dots"></span><i class="d-none d-md-inline">受講者の声</i></label>
                    <input type="radio" id="tab_course" name="wt_tab_item">
                    <!--<label class="wt_tab_item col-4" for="tab_course"><span class="fas fa-chalkboard-teacher"></span><i class="d-none d-md-inline">その他のコース</i></label>-->
                  
                    <div class="col-12 p-0 wt_tab_content" id="wt_voice_content">
                      <div class="p-5">
                        <h3 class="text-center">%prof_handle%先生へのレッスン受講者の声</h3>
                        
            
                        <ul class="buzz">
                          <TMPL_LOOP NAME="buz_loop">
                            <li>%buz_content%</li>
                          </TMPL_LOOP>
                          <TMPL_IF NAME="buz_loop">
                          <TMPL_ELSE>
                            <p>%prof_handle% 先生のクチコミはまだありません</p>
                          </TMPL_IF>
                        </ul>
                      </div>
                    </div>
                    <div class="col-12 wt_tab_content" id="wt_schedule_content">
                      <div class="p-3 pb-5 p-md-5">
                        <h3 class="text-center">%prof_handle%先生のスケジュール</h3>
                        <div id="calendar" class="wt_calendar" data-url="%CGI_URL%?m=prfschajx&amp;prof_id=%prof_id%&amp;course_id=%course_id%">
                          <p>now loading ...</p>
                        </div>
                      </div>
                    </div>
                    <!--<div class="col-12 p-0 wt_tab_content" id="wt_course_content">
                      <div class="p-5">
                        <h3 class="text-center">%prof_handle%先生の担当コース</h3>
                        
                      <TMPL_LOOP NAME="course_loop" COURSE_INTRO_CHARS="150">
                      <div class="container">
                        <div class="row">
                          <div class="col-4 col-md-2 pl-0">
                              <img src="/assets/img/course/%course_ccate_id_2%.png" alt="%prof_handle%先生" class="w-100 h-auto rounded-circle" />
                          </div>
                          <div class="col-8 col-md-10">
                            <h2>%course_name%</h2>
                            <ul class="wt_teacherdetail">
                                <li>Category:<span>%ccate_name_1%<TMPL_IF NAME="ccate_name_2"> &gt; %ccate_name_2%</TMPL_IF></span></li>
                            </ul>
                            <h4>%course_copy%</h4>
                            <p class="wt_teacherintro mb-0">%course_intro% <a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">続きを見る &raquo;</a></p>
                          </div>
                        </div>
                      </div>
                      </TMPL_LOOP>
          
                      </div>
                    </div>-->
                </div>
          </div>
        </section>
                            

     </main>  

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
        <script src="%static_url%/js/mypage/prfdtlfrm.js"></script>
        <script src="%static_url%/js/mypage/favset.js"></script>
        <script>
          $(function () {
            $('.limitunit').each(function () {
              var txt1 = $(this).html();
              $(this).html(
                txt1.replace('d', '日')
              );
            });
            $('.limitunit').each(function () {
              var txt2 = $(this).html();
              $(this).html(
                txt2.replace('h', '時間')
              );
            });
            $('.limitunit').each(function () {
              var txt3 = $(this).html();
              $(this).html(
                txt3.replace('m', '分')
              );
            });
          });

$(function() {
  $(".wt_acco_show_more").click(function() {
    var show_text = $(this)
      .parent(".wt_acco_text_wrapper")
      .find(".wt_acco_text");
    var small_height = 200; //This is initial height.
    var original_height = show_text.css({ height: "auto" }).height();

    if (show_text.hasClass("wt_acco_open")) {
      /*CLOSE*/
      show_text.height(original_height).animate({ height: small_height }, 400);
      show_text.removeClass("wt_acco_open");
      $(this)
        .text("▼ 自己紹介の続きを読む")
        .removeClass("wt_acco_active");
    } else {
      /*OPEN*/
      show_text
        .height(small_height)
        .animate({ height: original_height }, 400, function() {
          show_text.height("auto");
        });
      show_text.addClass("wt_acco_open");
      $(this)
        .text("▲ 自己紹介を閉じる")
        .addClass("wt_acco_active");
    }
  });
});
        
        </script>
</body>

</html>
