<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title><TMPL_IF NAME="ajax_ccate_name_1">%ajax_ccate_name_1%<TMPL_ELSE>授業から予約</TMPL_IF><TMPL_IF NAME="ajax_ccate_name_2">%ajax_ccate_name_2%<TMPL_ELSE></TMPL_IF>｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <style>
    .lsnbx p{
      font-size:14px;
      font-size:1.4rem;
    }
    </style>
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><TMPL_IF NAME="ajax_ccate_name_2">%ajax_ccate_name_2%<TMPL_ELSE>授業から予約</TMPL_IF></h2>

                <p class="text-center mb-5"><strong>「<TMPL_IF NAME="ajax_ccate_name_2">%ajax_ccate_name_2%<TMPL_ELSE></TMPL_IF>」</strong>に対応している講師一覧です。<br>講師の名前をクリックすると、その講師のプロフィールやスケジュールの確認が出来ますので、ご確認の上、ご予約をお願いいたします。</p>
                
              <TMPL_IF NAME="session_member_coupon">

                <h3 class="text-center wt_form_layer_tp wt_form_layer_tp_blue lsnbx">体験レッスンの流れについて</h3>
                <div class="wt_form wt_form_layer_bt mb-5 lsnbx lsnbx_45">
                  <div class="row">
                    <div class="col-12">
                      <p class="text-center mb-3">各コースの体験レッスンは以下の流れとなります</p>
                      <div class="container">
                        <div class="row mt-5">
                          <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_1">
                            <span class="wt_flow_step"><span class="lead">1</span></span>
                            <img src="/assets/img/mypage/img_taiken_1.jpg" alt="レッスンを受けたい講師をクリック" class="w-75 rounded-circle img-thumbnail mb-4">
                            <p class="text-left mb-5 mb-md-3">対応講師一覧より、レッスンを受けたい講師をクリックください。</p>
                          </div>
                          <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_2">
                            <span class="wt_flow_step"><span>2</span></span>
                            <img src="/assets/img/mypage/img_taiken_2.jpg" alt="都合の良い日程をクリックします" class="w-75 rounded-circle img-thumbnail mb-4">
                            <p class="text-left mb-5 mb-md-3">講師のスケジュールを確認し、都合の良い日程をクリックします。</p>
                          </div>
                          <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_3">
                            <span class="wt_flow_step"><span>3</span></span>
                            <img src="/assets/img/mypage/img_taiken_3.jpg" alt="今後の学習方法を相談できる" class="w-75 rounded-circle img-thumbnail mb-4">
                            <p class="text-left mb-5 mb-md-3">予約確認のページが表示されますので、問題なければ予約確定！</p>
                          </div>
                          <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_4">
                            <span class="wt_flow_step"><span>4</span></span>
                            <img src="/assets/img/mypage/img_taiken_4.jpg" alt="Skypeを立ち上げてレッスン開始！" class="w-75 rounded-circle img-thumbnail mb-4">
                            <p class="text-left mb-5 mb-md-3">レッスンの日時になりましたら、Skypeを立ち上げてレッスン開始！</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                      
              </TMPL_IF>
                
            </div>
          </div>
          <!--<div class="row">
            <div class="col-xs-12">
              <form action="%CGI_URL%" method="post">
                <input type="hidden" name="m" value="coulstfrm" />
                <div class="form-group row">
                  <div class="col-xs-12 col-sm-6">
                    <label for="s_prof_handle" class="">大カテゴリー</label>
                    <div class="clearfix">
                      <select id="s_course_ccate_id_1" name="s_course_ccate_id_1" class="form-control w100 pull-left">
                        <option value=""></option>
                        <TMPL_LOOP NAME="s_ccate_1_loop">
                          <option value="%ccate_id%" %selected%>%ccate_name%</option>
                        </TMPL_LOOP>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <label for="s_prof_fulltext">小カテゴリー</label>
                    <div class="clearfix">
                      <select id="s_course_ccate_id_2" name="s_course_ccate_id_2" class="form-control w100">
                        <option value=""></option>
                        <TMPL_LOOP NAME="s_ccate_2_loop">
                          <option value="%ccate_id%" data-pid="%ccate_pid%" %selected% hidden>%ccate_name%</option>
                        </TMPL_LOOP>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="text-center"><input type="submit" value="　授業を検索　" class="btn btn-primary rounded-pill wt_btn"></div>
              </form>
            </div>
          </div>-->
        <div class="row">
        <div class="col-12">
          <p class="text-center">%hit_with_comma%件中、%start_with_comma%件目から%end_with_comma%件目までの%fetch_with_comma%件を表示しています。</p>
          <nav aria-label="..." class="text-center">
            <ul class="wt_pagination">
              <TMPL_IF NAME="prev_url">
              <li class="page-item">
                <a href="%prev_url%" class="page-link fas fa-chevron-left"></a>
              </li>
              <TMPL_ELSE>
              <li class="page-item disabled">
                <i class="page-link fas fa-chevron-left"></i>
              </li>
              </TMPL_IF>
              <TMPL_LOOP NAME="page_loop">
              <TMPL_IF NAME="current">
              <li class="page-item active">
                <span class="page-link">%page%</span>
              </li>
              <TMPL_ELSE>
              <li class="page-item">
                <a href="%url%" class="page-link">%page%</a>
              </li>
              </TMPL_IF>
              </TMPL_LOOP>
              <TMPL_IF NAME="next_url">
              <li class="page-item">
                <a href="%next_url%" class="page-link fas fa-chevron-right"></a>
              </li>
              <TMPL_ELSE>
              <li class="page-item disabled">
                <i class="page-link fas fa-chevron-right"></i>
              </li>
              </TMPL_IF>
            </ul>
          </nav>
          </div>
        </div>
       
       <div class="wt_teacherbox p-0">
          <div class="row" style="display:none">
            <ul class="wt_teachersort col-12 container">
              <div class="row">
              <li class="col-6 pr-0">
                <TMPL_IF NAME="sort_key_score_selected">
                <span><i class="fas fa-sort-down"></i>人気順に並べる</span>
                <TMPL_ELSE>
                <a href="%search_base_url%&amp;sort_key=score"><i class="fas fa-sort"></i>人気順に並べる</a>
                </TMPL_IF>
              </li>
              <li class="col-6 pl-0">
                <TMPL_IF NAME="sort_key_new_selected">
                <span><i class="fas fa-sort-down"></i>新着順に並べる</span>
                <TMPL_ELSE>
                <a href="%search_base_url%&amp;sort_key=new"><i class="fas fa-sort"></i>新着順に並べる</a>
                </TMPL_IF>
              </li>
              </div>
            </ul>
          </div>
             
            
          <TMPL_LOOP NAME="list_loop" COURSE_INTRO_CHARS="200" PROF_INTRO_CHARS="200">
         <div class="wt_teachercont">
          <div class="p-5">
            <a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%" class="wt_teachlink"></a>
            <div class="container">
              <div class="row">
                <div class="col-6 offset-3 offset-md-0 col-md-2 pl-0 pr-0 pr-md-3 mb-4">
                  <TMPL_IF NAME="prof_logo">
                    <img src="%prof_logo_2_url%?%epoch%" alt="%prof_handle%先生" class="w-100 h-auto rounded-circle" />
                  <TMPL_ELSE>
                    <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle%先生" class="w-100 h-auto rounded-circle" />
                  </TMPL_IF>
                </div>
                <div class="col-12 col-md-10 pl-0 pr-0 pl-md-3 pr-md-3">
                  <h2 class="text-center text-md-left">%prof_handle% 先生</h2>
                  <ul class="wt_teacherdetail">
                      <li>コース名:<span><img src="/assets/img/course/%course_ccate_id_2%.png" class="rounded-circle" alt="%course_name%" /> %course_name%</span></li>
                      <li>レッスン時間:<span>%course_step%</span>分</li>
                  </ul>
                  <ul class="wt_teacherdetail">
                      <li>出身国:<span class="flag-icon flag-icon-%prof_country%"></span></li>
                      <li>居住国:<span class="flag-icon flag-icon-%prof_residence%"></span></li>
                  </ul>
                  <p class="wt_teacherintro mb-0">%prof_intro% <a href="/wte/prfdtlfrm/%prof_id%">続きを見る &raquo;</a></p>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="p-4 wt_sec_grey wt_teacherborder">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <ul class="wt_teacherdetail mb-0">
                    <li>提供可能な時間帯:
                      <TMPL_LOOP NAME="prof_interest_loop">
                        <span class="wt_tag_2"><i>%title%</i></span>
                      </TMPL_LOOP>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>-->
            </div>
          </TMPL_LOOP>
      </div>

        <div class="row">
          <div class="col-12">
            <nav aria-label="..." class="text-center">
              <ul class="wt_pagination">
                <TMPL_IF NAME="prev_url">
                <li class="page-item">
                  <a href="%prev_url%" class="page-link fas fa-chevron-left"></a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <i class="page-link fas fa-chevron-left"></i>
                </li>
                </TMPL_IF>
                <TMPL_LOOP NAME="page_loop">
                <TMPL_IF NAME="current">
                <li class="page-item active">
                  <span class="page-link">%page%</span>
                </li>
                <TMPL_ELSE>
                <li class="page-item">
                  <a href="%url%" class="page-link">%page%</a>
                </li>
                </TMPL_IF>
                </TMPL_LOOP>
                <TMPL_IF NAME="next_url">
                <li class="page-item">
                  <a href="%next_url%" class="page-link fas fa-chevron-right"></a>
                </li>
                <TMPL_ELSE>
                <li class="page-item disabled">
                  <i class="page-link fas fa-chevron-right"></i>
                </li>
                </TMPL_IF>
              </ul>
            </nav>
            
              </div>
            </div>

        </div>
      </section>
      </main>              

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">

  <script>
    (function () {
      let cate1_el = document.querySelector('#s_course_ccate_id_1');
      let cate2_el = document.querySelector('#s_course_ccate_id_2');

      initCate2Select();

      cate1_el.addEventListener('change', function () {
        cate2_el.value = '';
        initCate2Select();
      }, false);

      function initCate2Select() {
        let c1_id = cate1_el.value;
        let c2_opt_el_list = cate2_el.querySelectorAll('option[data-pid]');
        for (let i = 0, len = c2_opt_el_list.length; i < len; i++) {
          let opt_el = c2_opt_el_list.item(i);
          let pid = opt_el.getAttribute('data-pid');
          if (pid === c1_id) {
            opt_el.hidden = false;
          } else {
            opt_el.hidden = true;
          }
        }
      }
    })();
  </script>

</body>

</html>
