<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>カード決済｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <TMPL_INCLUDE NAME="../include/analysis.html">
<style>
  .wform.wformcfm{padding:25px 0;}
  .wform.wformcfm fieldset,.wform.wformcfm .gbox{margin:0 25px;}
</style>
</head>
      
<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center">カード決済</h2>

                <div class="wt_form wt_form_layer mb-5">
            <p>以下のご注文に間違いはないでしょうか。問題ないようでしたら「決済を実行する」ボタンを押してください。</p>

            <!--Strype-->
              <form id="payment-form" method="post" action="%CGI_URL%">
                <input type="hidden" name="pkey" value="%pkey%">
                <input type="hidden" name="m" value="stripes">
                <fieldset>
                  <table class="table mb-5">
                    <tbody>
                      <tr>
                        <th class="w30">プラン名</th>
                        <td>%pln_title%</td>
                      </tr>
                      <tr>
                        <th>料金</th>
                        <td>
                          <TMPL_IF NAME="pln_subscription">月額 </TMPL_IF>
                          %pln_price_with_comma% 円
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>

                <div id="hss_iframe_cont" style="display:none;">
                  <div class="gbox">※<strong>「今すぐ支払う」</strong>ボタンを押すとすぐに決済が行われます<br />※画面の切り替わりに時間がかかることがありますが、複数回クリックするとエラーの原因となりますのでご注意ください</div>

                  <div class="text-center">
                    <iframe id="hss_iframe" name="hss_iframe" width="100%" height="500px" frameborder="0" scrolling="no"></iframe>
                  </div>
                </div>
                <h3 class="text-center">クレジットカード入力</h3>
                <div class="mb-5">
                <div style="font-size:0;font-weight:bold;margin-bottom:5px;position: relative"><div style="width:80%;display:inline-block;font-size:10px;">クレジットカード（VISA/MASTER/JCB）</div><div style="width:60px;display:inline-block;font-size:10px;position:absolute;right:70px;">有効期限</div><div style="width:70px;display:inline-block;font-size:10px;position:absolute;right:0px;">ｾｷｭﾘﾃｨｺｰﾄﾞ</div></div>
                <div id="card-element" style="border:1px solid 
                #ebebeb;padding:10px;margin-bottom:20px;">
                <!-- ここにクレジットカード情報入力欄が挿入される -->
                </div>
                </div>

                <!-- ここにエラーメッセージが表示される -->
                <div id="card-errors" role="alert"></div>
                <div class="text-center mb-3">
                  <button class="btn btn-primary rounded-pill wt_btn" id="submit-button">決済を実行する</button>
                </div>

                <div class="text-center">
                  <input type="button" value="プランを修正する" onclick="document.location.href='%CGI_URL%?m=crdfrmshw&amp;pkey=%pkey%';" class="btn btn-link" />
                </div>
                <input type="hidden" name="cmd" value="_hosted-payment">
                <input type="hidden" name="currency_code" value="JPY">
                <input type="hidden" name="business" value="%paypal_id%">
                <input type="hidden" name="item_name" value="%pln_id%">
                <input type="hidden" name="subtotal" value="%crd_price%">
                <input type="hidden" name="return" value="%CGI_URL%?m=crdcptset&amp;pkey=%pkey%&amp;crd_id=%crd_id%&amp;member_id=%member_id%">
                <input type="hidden" name="cancel_return" value="%CGI_URL%?m=crdcclset&amp;pkey=%pkey%&amp;crd_id=%crd_id%&amp;member_id=%member_id%">
                <input type="hidden" name="notify_url" value="%CGI_DIR_URL%/paypalipn.cgi">
                <input type="hidden" name="invoice" value="%crd_id%">
                <input type="hidden" name="custom" value="%crd_id%-%member_id%-%pln_id%">
                <input type="hidden" name="billing_first_name" value="%member_firstname%">
                <input type="hidden" name="billing_last_name" value="%member_lastname%">
                <input type="hidden" name="billing_zip" value="%member_zip1%-%member_zip2%" id="billing_zip">
                <input type="hidden" name="billing_country" value="JP">
                <input type="hidden" name="billing_state" value="%member_addr1%" id="billing_state">
                <input type="hidden" name="billing_city" value="%member_addr2%" id="billing_city">
                <input type="hidden" name="billing_address1" value="%member_addr3%%member_addr4%" id="billing_address1">
                <input type="hidden" name="template" value="templateD" />
                <input type="hidden" name="showHostedThankyouPage" value="false">
              </form>



              <!--paypal-->
<!--            <form target="hss_iframe" id="paypal_form" method="post" action="%paypal_post_url%?cmd=_hosted-payment">
              <fieldset>
                <table class="table">
                  <tbody>
                    <tr>
                      <th class="w30">プラン名Paypal</th>
                      <td>%pln_title%</td>
                    </tr>
                    <tr>
                      <th>料金</th>
                      <td>
                        <TMPL_IF NAME="pln_subscription">月額 </TMPL_IF>
                        %pln_price_with_comma% 円
                      </td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
              <input type="hidden" name="cmd" value="_hosted-payment">
              <input type="hidden" name="currency_code" value="JPY">
              <input type="hidden" name="business" value="%paypal_id%">
              <input type="hidden" name="item_name" value="%pln_id%">
              <input type="hidden" name="subtotal" value="%crd_price%">
              <input type="hidden" name="return" value="%CGI_URL%?m=crdcptset&amp;pkey=%pkey%&amp;crd_id=%crd_id%&amp;member_id=%member_id%">
              <input type="hidden" name="cancel_return" value="%CGI_URL%?m=crdcclset&amp;pkey=%pkey%&amp;crd_id=%crd_id%&amp;member_id=%member_id%">
              <input type="hidden" name="notify_url" value="%CGI_DIR_URL%/paypalipn.cgi">
              <input type="hidden" name="invoice" value="%crd_id%">
              <input type="hidden" name="custom" value="%crd_id%-%member_id%-%pln_id%">
              <input type="hidden" name="billing_first_name" value="%member_handle%">
              <input type="hidden" name="billing_last_name" value="KOA">
              <input type="hidden" name="billing_zip" value="%member_zip1%-%member_zip2%" id="billing_zip">
              <input type="hidden" name="billing_country" value="JP">
              <input type="hidden" name="billing_state" value="%member_addr1%" id="billing_state">
              <input type="hidden" name="billing_city" value="%member_addr2%" id="billing_city">
              <input type="hidden" name="billing_address1" value="%member_addr3%%member_addr4%" id="billing_address1">
              <input type="hidden" name="template" value="templateD" />
              <input type="hidden" name="showHostedThankyouPage" value="false">
              <div class="text-center">
                <input type="submit" value="カード決済手続きに進む" id="call_paypal_btn" class="btn btn-primary rounded-pill wt_btn" />
              </div>
              <div class="text-center">
                <input type="button" value="プランを修正する" onclick="document.location.href='%CGI_URL%?m=crdfrmshw&amp;pkey=%pkey%';" class="btn btn-link" />
              </div>

              <div id="hss_iframe_cont" style="display:none;">
                <div class="gbox">※<strong>「今すぐ支払う」</strong>ボタンを押すとすぐに決済が行われます<br />※画面の切り替わりに時間がかかることがありますが、複数回クリックするとエラーの原因となりますのでご注意ください</div>

                <div class="text-center">
                  <iframe id="hss_iframe" name="hss_iframe" width="100%" height="500px" frameborder="0" scrolling="no"></iframe>
                </div>
              </div>
            </form>-->

              </div>

              </div>
                  
               </div>
            </div>
          </div>
        </section>
      </main>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
  <script>
    (function () {
      var billing_state = $("#billing_state").val();
      var billing_city = $("#billing_city").val();
      var billing_zip = $("#billing_zip").val();
      var billing_address1 = $("#billing_address1").val();
      if(billing_zip == "-" || billing_state == "" || billing_city == "" || billing_address1 == "") {
        $("#billing_zip").val("150-0002");
        $("#billing_state").val("東京都");
        $("#billing_city").val("渋谷区");
        $("#billing_address1").val("渋谷2-15-1 渋谷クロスタワー32F");
      }
  
      var called = false;
      var form_el = $("#paypal_form");
      var btn_el = $("#call_paypal_btn");
      var iframe_cont_el = $("#hss_iframe_cont");
      form_el.submit(function() {
        if( called === false ) {
          called = true;
          btn_el.attr("value", "処理中...");
          btn_el.attr("disabled", "disabled");
          return true;
        } else {
          return false;
        }
      });
      var iframe_el = $("#hss_iframe");
      window.onload = function() {
        iframe_el.load(function() {
          btn_el.attr("value", "表示完了");
          iframe_cont_el.attr("style", "display:block;");
        });
      };
  
    })();
    </script>
  
  
  
  
  <script src="https://js.stripe.com/v3/"></script>
    <script>
      const publicKey = '%stripe_public_key%';
  
      var stripe = Stripe(publicKey);
      var elements = stripe.elements();
  
      // スタイルのカスタマイズ
      var style = {
          base: {
              fontSize: '16px',
              color: "#32325d",
          }
      };
  
      // クレジットカード情報入力欄の構築
      var card = elements.create('card', {style: style, hidePostalCode: true});
      card.mount('#card-element');
  
      // 入力変更時のリスナー
      // バリデーションメッセージを表示する
      card.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
              displayError.textContent = event.error.message;
          } else {
              displayError.textContent = '';
          }
      });
  
  
      
      // submit時のリスナー
  
      var submitButton = document.getElementById('submit-button');
  
      var form = document.getElementById('payment-form');
      form.addEventListener('submit', function(event) {
          event.preventDefault();
  
          submitButton.disabled = true;
  
          // 支払い処理
          doPayment();
  
      });
  
      async function doPayment() {
        
        var { paymentMethod, error } = await stripe.createPaymentMethod({
          type: 'card',
          card: card,
        });
  
        if (error) {
          document.getElementById('card-errors').textContent = error.message;
          submitButton.disabled = false;
          return;
        }
  
        let url_parts = window.location.href.split('?');
        let url = url_parts.shift();
  
        let subtotal = document.querySelector('input[name="subtotal"]').value;
  
        let data = new FormData();
        data.append("m", "stripesintent");
        data.append("subtotal", subtotal);
        data.append("payment_method", paymentMethod.id);
  
        let opts = {
          method: 'post',
          body: data,
          mode: 'same-origin',
          credentials: 'same-origin'
        };
  
        const response = await fetch(url, opts);
  
        const json_response = await response.json();
        const { client_secret, payment_id, customer_id } = await json_response;
  
        var { paymentIntent, error } = await stripe.confirmCardPayment(client_secret);
  
        if (error) {
          console.error("Payment failed:", error.message);
          document.getElementById('card-errors').textContent = error.message;
          submitButton.disabled = false;
          return;
        } else {
            console.log("Payment successful:", paymentIntent);
        }
  
        // 決済が完了
        stripeTokenHandler(payment_id, customer_id);
      }
  
      function stripeTokenHandler(payment_id, customer_id) {
          var form = document.getElementById('payment-form');
  
          var hiddenInput = document.createElement('input');
          hiddenInput.setAttribute('type', 'hidden');
          hiddenInput.setAttribute('name', 'payment_id');
          hiddenInput.setAttribute('value', payment_id);
          form.appendChild(hiddenInput);
  
          hiddenInput = document.createElement('input');
          hiddenInput.setAttribute('type', 'hidden');
          hiddenInput.setAttribute('name', 'customer_id');
          hiddenInput.setAttribute('value', customer_id);
          form.appendChild(hiddenInput);
  
          form.submit();
      }
  </script>
</body>
</html>
