<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>クレジットカード決済｜<TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <TMPL_INCLUDE NAME="../include/analysis.html">
    <style>
      .wte_plantable_Toeic500Employee,
      .wte_plantable_Toeic730Employee,
      .wte_plantable_EikenJ1Employee,
      .wte_plantable_Eiken2Employee,
      .wte_plantable_EikenJ2Employee,
      .wte_plantable_EikenMenJ1Employee,
      .wte_plantable_EikenMen2Employee,
      .wte_plantable_EikenMenJ2Employee{
        display: none;
      }
      .seller_id_12 .wte_plantable_Toeic500Employee,
      .seller_id_12 .wte_plantable_Toeic730Employee,
      .seller_id_12 .wte_plantable_EikenJ1Employee,
      .seller_id_12 .wte_plantable_Eiken2Employee,
      .seller_id_12 .wte_plantable_EikenJ2Employee,
      .seller_id_12 .wte_plantable_EikenMenJ1Employee,
      .seller_id_12 .wte_plantable_EikenMen2Employee,
      .seller_id_12 .wte_plantable_EikenMenJ2Employee{
        display: table-row;
      }
      .seller_id_12 .wte_plantable_Toeic500,
      .seller_id_12 .wte_plantable_Toeic730,
      .seller_id_12 .wte_plantable_EikenJ1,
      .seller_id_12 .wte_plantable_Eiken2,
      .seller_id_12 .wte_plantable_EikenJ2,
      .seller_id_12 .wte_plantable_EikenMenJ1,
      .seller_id_12 .wte_plantable_EikenMen2,
      .seller_id_12 .wte_plantable_EikenMenJ2,
      .seller_id_12 .wte_plantable_EssayB,
      .seller_id_12 .wte_plantable_EssayI,
      .seller_id_12 .wte_plantable_EssayL{
        display: none;
      }
    </style>
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center">クレジットカード決済</h2>

                <!--本%member_caption%メンバーの場合解約ボタンを表示start-->
                <TMPL_IF NAME="is_subscription_member">
                  <div class="wt_form wt_form_layer mb-5">
                    <h3 class="text-center">プラン解約</h3>
                    <h4 class="text-center">「%pln_title%」を解約する</h4>
                    <p>現在「%pln_title%」に加入しています。</p>
                    <ul>
                      <li>月額料金：%auto_price_with_comma%円/月</li>
                      <li>課金日：毎月%auto_day%日</li>
                    </ul>
                    <p>毎月、カードから料金が引き落としされ、自動的にレッスンチケットが付与されます。<br>現在の月額プランを解約したい場合は<strong>「プラン解約」</strong>ボタンを押してください。
                    </p>
                    <p>解約されますと、月額課金はストップされます。<br>また解約後の再入会も可能です。<br>皆さまの学習進捗に合わせて、計画的にご利用ください。</p>
                    <div class="text-center"><a href="%CGI_URL%?m=autstpajx" class="btn btn-primary rounded-pill wt_btn"
                        id="autstp">プラン解約</a></div>
                  </div>
                </TMPL_IF>
                <!--<p class="text-danger">現在、決済フォームのメンテナンスを行っております。ご不便をお掛けし申し訳ございません。</p>-->
                  
                <div class="d-none">    
                <h4 class="text-danger mb-0">※夏季休業期間のお知らせ</h4>
                <p class="text-danger"><strong>8月12日（水）～8月17日（日）まで夏季休暇のため、教材配送が18日（月）以降となります。<br>ご不便をおかけいたしますが、ご了承のほどよろしくお願いいたします。</strong></p>  
                </div>                  
                  
                <div class="wt_form wt_form_layer mb-5">
                  <h3>プラン一覧</h3>
                  <p class="text-center">ご希望のコースを一つ選択してください。<br>※決済方法にご不明な点があれば、こちらの<a
                      href="/WTE/mypage.cgi?m=payment">決済方法説明ページ</a>をご確認ください。</p>
                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="crdcfmset" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <TMPL_IF NAME="errs">
                      <div class="errs">%errs%</div>
                    </TMPL_IF>


                    <fieldset class="form-group" style="display:none">
                      <legend class="col-form-legend">月額定期購入プラン</legend>
                      <div class="form-check">
                        <TMPL_LOOP NAME="plan_loop_1">
                          <label class="form-check-label"><input type="radio" name="pln_id" value="%pln_id%"
                              %checked%>%pln_title% - 月額%pln_price_with_comma%円（税込）</label>
                        </TMPL_LOOP>
                      </div>
                    </fieldset>
                    <fieldset class="form-group seller_id_%session_seller_id%">
                      <div class="form-check">
                        <table class="table table-striped wt_coursetable mb-5">
                          <thead>
                            <tr>
                              <th class="text-center" colspan="2">短期集中講座コース一覧</th>
                            </tr>
                          </thead>
                          <tbody>
                            <TMPL_LOOP NAME="plan_loop_0">
                              <tr class="wte_plantable_%pln_id%">
                                <td>
                                  <label class="form-check-label d-block"><input type="radio" name="pln_id"
                                      value="%pln_id%" %checked%>%pln_title%</label>
                                </td>
                                <td>%pln_price_with_comma%円（税込）</td>
                              </tr>
                            </TMPL_LOOP>
                          </tbody>
                        </table>
                        <table class="table table-striped wt_coursetable">
                          <thead>
                            <tr>
                              <th class="text-center" colspan="2">修了者向け定期コース一覧</th>
                            </tr>
                          </thead>
                          <tbody>
                            <TMPL_LOOP NAME="plan_loop_1">
                              <tr class="wte_plantable_%pln_id%">
                                <td>
                                  <label class="form-check-label d-block"><input type="radio" name="pln_id"
                                      value="%pln_id%" %checked%>%pln_title%</label>
                                </td>
                                <td>%pln_price_with_comma%円（税込）</td>
                              </tr>
                            </TMPL_LOOP>
                          </tbody>
                        </table>
                      </div>
                    </fieldset>
                    <div class="text-center"><input type="submit" value="確認画面へ進む"
                        class="btn btn-primary rounded-pill wt_btn" /></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        </div>
        <TMPL_INCLUDE NAME="../include/foot.html">
          <script>
            (function () {

              var processing = false;

              $(document).ready(function () {
                $('#autstp').click(function (event) {
                  event.preventDefault();
                  if (processing === true) { return; }
                  var res = window.confirm('本当に解約してもよろしいですか？');
                  if (res === true) {
                    reqAutStp($(this));
                  }
                });
              });

              function reqAutStp(el) {
                var url = el.attr('href');
                if (!url) { return; }
                el.text('処理中...');
                $.ajax({
                  url: url,
                  type: 'GET',
                  cache: false,
                  dataType: 'text',
                  success: function (data) {
                    processing = false;
                    if (data.match(/^1/)) {
                      el.text('解約完了');
                      window.alert('解約が完了しました。');
                      document.location.reload();
                    } else {
                      el.text('解約');
                      window.alert('システムエラー：しばらくしてからやり直してください。');
                    }
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                    processing = false;
                    el.text('解約');
                    window.alert('システムエラー：しばらくしてからやり直してください。');
                  }
                });
              }

            })();
          </script>
</body>

</html>