<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <title>ダイレクトメッセージ履歴 - %product_name%</title>
  <TMPL_INCLUDE NAME="../include/heads.html">
</head>

<body id="user" class="">

  <TMPL_INCLUDE NAME="../include/headers.html">
    <div id="sb-site" class="bg-light">

      <!-- schedule section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12">

              <div class="card mb-5">
                <div class="card-header">
                  <div class="text-center"><img src="/assets/img/icons/mail.png" alt="" class="wte_img_icons">
                  </div>
                  <h3 class="text-center">ダイレクトメッセージ履歴</h3>
                </div>
                <div class="card-body">
                  <p class="text-center">
                    %hit_with_comma%件中、%start_with_comma%件目から%end_with_comma%件目までの%fetch_with_comma%件を表示しています。</p>

                  <nav aria-label="..." class="text-center">
                    <ul class="pagination">
                      <TMPL_IF NAME="prev_url">
                        <li class="page-item">
                          <a href="%prev_url%" class="page-link"> &laquo; 前へ</a>
                        </li>
                        <TMPL_ELSE>
                          <li class="page-item disabled">
                            <span class="page-link"> &laquo; 前へ</span>
                          </li>
                      </TMPL_IF>
                      <TMPL_LOOP NAME="page_loop">
                        <TMPL_IF NAME="current">
                          <li class="page-item active">
                            <span class="page-link">%page%</span>
                          </li>
                          <TMPL_ELSE>
                            <li class="page-item">
                              <a href="%url%" class="page-link">%page%</a>
                            </li>
                        </TMPL_IF>
                      </TMPL_LOOP>
                      <TMPL_IF NAME="next_url">
                        <li class="page-item">
                          <a href="%next_url%" class="page-link">次へ &raquo; </a>
                        </li>
                        <TMPL_ELSE>
                          <li class="page-item disabled">
                            <span class="page-link">次へ &raquo; </span>
                          </li>
                      </TMPL_IF>
                    </ul>
                  </nav>

                  <table class="table">
                    <tr>
                      <th>最終投稿日時</th>
                      <th>%prof_caption%</th>
                      <th>内容</th>
                    </tr>
                    <TMPL_LOOP NAME="list_loop" DMSG_DESC_CHARS="30">
                      <tr>
                        <td><a href="%CGI_URL%?m=dmgdtlfrm&amp;s_prof_id=%prof_id%"><span
                              class="hiddeni">%dmsg_cdate_Y%年</span>%dmsg_cdate_n%月%dmsg_cdate_j%日(%dmsg_cdate_wj%)%dmsg_cdate_G%:%dmsg_cdate_i%</a>
                        </td>
                        <td><a href="%CGI_URL%?m=dmgdtlfrm&amp;s_prof_id=%prof_id%">%prof_handle%先生</a></td>
                        <td>
                          %dmsg_content%
                        </td>
                      </tr>
                    </TMPL_LOOP>
                  </table>

                  <nav aria-label="..." class="text-center">
                    <ul class="pagination">
                      <TMPL_IF NAME="prev_url">
                        <li class="page-item">
                          <a href="%prev_url%" class="page-link"> &laquo; 前へ</a>
                        </li>
                        <TMPL_ELSE>
                          <li class="page-item disabled">
                            <span class="page-link"> &laquo; 前へ</span>
                          </li>
                      </TMPL_IF>
                      <TMPL_LOOP NAME="page_loop">
                        <TMPL_IF NAME="current">
                          <li class="page-item active">
                            <span class="page-link">%page%</span>
                          </li>
                          <TMPL_ELSE>
                            <li class="page-item">
                              <a href="%url%" class="page-link">%page%</a>
                            </li>
                        </TMPL_IF>
                      </TMPL_LOOP>
                      <TMPL_IF NAME="next_url">
                        <li class="page-item">
                          <a href="%next_url%" class="page-link">次へ &raquo; </a>
                        </li>
                        <TMPL_ELSE>
                          <li class="page-item disabled">
                            <span class="page-link">次へ &raquo; </span>
                          </li>
                      </TMPL_IF>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
      </section>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
    </div>
    <TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>