<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title><TMPL_IF NAME="dwn_type_1">動画商品詳細</TMPL_IF><TMPL_IF NAME="dwn_type_2">PDF商品詳細</TMPL_IF> - %dwn_title% - <TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <TMPL_INCLUDE NAME="../include/analysis.html">
</head>
      
<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center"><TMPL_IF NAME="dwn_type_1">動画商品詳細</TMPL_IF><TMPL_IF NAME="dwn_type_2">PDF商品詳細</TMPL_IF></h2>

            <h3>%dwn_title%</h3>
          </div>
          <div class="col-xs-12 col-md-3 memface">
            <div class="profface">
              <TMPL_IF NAME="dwn_logo">
              <img src="%dwn_logo_3_url%?%epoch%" width="%dwn_logo_3_w%" height="%dwn_logo_3_h%" alt="" />
              <TMPL_ELSE>
              <img src="%static_url%/imgs/profile_blank.png" width="%prof_logo_3_w%" height="%prof_logo_3_h%" alt="" />
              </TMPL_IF>
            </div>
            <ul class="profinfodet">
              <li>種別<span><TMPL_IF NAME="dwn_type_1">動画</TMPL_IF><TMPL_IF NAME="dwn_type_2">PDF</TMPL_IF></span></li>
              <li>point<span>%dwn_point_with_comma%pt</span></li>
              <li>公開日<span>%dwn_pubdate_0%-%dwn_pubdate_1%-%dwn_pubdate_2%</span></li>
              <li>カテゴリー名<span>%dct_title%</span></li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-9 membody">
            
            <table class="table">
              <tr>
                <th class="w20">商品名</th>
                <td>%dwn_title%</td>
              </tr>
              <tr>
                <th>概要</th>
                <td>%dwn_intro%</td>
              </tr>
              <TMPL_IF NAME="dsl_expire_0">
              <tr>
                <th>有効期限</th>
                <td>%dsl_expire_0%/%dsl_expire_1%/%dsl_expire_2% %dsl_expire_3%:%dsl_expire_4%:%dsl_expire_5% まで</td>
              </tr>
              </TMPL_IF>
            </table>
              
              <TMPL_IF NAME="dsl_qualified">
                <form action="%CGI_URL%" method="post" target="_blank">
                  <input type="hidden" name="m" value="dslfledwn" />
                  <input type="hidden" name="dsl_id" value="%dsl_id%" />
                  <div class="text-center">
                    <TMPL_IF NAME="dwn_loc_1">
                      <input type="submit" value="ダウンロード" class="submit" />
                    </TMPL_IF>
                    <TMPL_IF NAME="dwn_loc_2">
                      <TMPL_IF NAME="dwn_type_1"><p><input type="submit" value="視聴" class="submit" /></p></TMPL_IF>
                      <TMPL_IF NAME="dwn_type_2"><p><input type="submit" value="閲覧" class="submit" /></p></TMPL_IF>
                    </TMPL_IF>
                  </div>
                </form>
              <TMPL_ELSE>

                  <TMPL_IF NAME="member_can_buy">
                    <p class="text-center">「ダウンロード確認」ボタンを押すと確認ダイアログが表示されます。</p>
                    <form action="%CGI_URL%" method="post" id="buy_form">
                      <input type="hidden" name="m" value="dwnbuyset" />
                      <input type="hidden" name="pkey" value="%pkey%" />
                      <input type="hidden" name="dwn_id" value="%dwn_id%" />
                      <div class="text-center"><input type="button" class="submit" id="buy_btn" value="ダウンロード確認" /></div>
                    </form>
                  <TMPL_ELSE>
                    <p class="text-center"><strong style="color:#f00;">チケット不足のため購入することができません。</strong></p>
                  </TMPL_IF>
                <div class="wlform" style="display:none;">
                  <h3>チケット確認</h3>
                  <table class="table">
                    <tr>
                      <th class="w30">現在の保持チケット</th>
                      <td class="w70">%member_point_with_comma%回</td>
                    </tr>
                    <tr>
                      <th>レッスン予約済みのチケット</th>
                      <td>%member_receivable_point_with_comma%回</td>
                    </tr>
                    <tr>
                      <th>現在の利用可能なチケット</th>
                      <td>%member_available_point_with_comma%回</td>
                    </tr>
                    <tr>
                      <th>本商品のチケット</th>
                      <td><strong>%dwn_point_with_comma%</strong>回</td>
                    </tr>
                  </table>
                </div>
              </TMPL_IF>
            </div>
                  
              </div>
            </div>
          </div>
        </section>
      </main>
            


    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
  <link rel="stylesheet" href="/assets/css/lib/jquery-ui.min.css"></script>
  <script src="/assets/js/lib/jquery-ui.min.js"></script>
  <script>
  $(function() {
    var $dialog = $('<div></div>');
    $dialog.html('よろしければ「送信する」を、取りやめる場合は「キャンセル」ボタンを押してください。')
    $dialog.dialog({
      title: 'ダウンロード確認',
      resizable: false,
      modal: true,
      autoOpen: false,
      buttons: {
        "送信する": function() {
          $('#buy_form').submit();
        },
        "キャンセル": function() {
          $(this).dialog('close');
        }
      }
    });
    $('#buy_btn').click(function() {
      $dialog.dialog('open');
      return false;
    });
  });
  </script>
</body>
</html>
