<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>小論文の書き方初中級コース（第4回）｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="小論文の書き方初中級コース（第4回）｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="小論文の書き方初中級コース（第4回）｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <TMPL_INCLUDE NAME="../include/analysis.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center">小論文の書き方初中級コース（第4回）</h2>               
                  
                <div class="wt_form wt_form_layer mb-5">
                  <p>小論文の書き方初中級コース（第4回）です。<br>このコースの目標は基本的な小論文の書き方を抑え、入試を突破するためのプラスアルファのテクニックを身につけていきます。</p>
                  <p><a href="https://academy.kirihara.co.jp/assets/pdf/essaytext_beginner.pdf" target="_blank">初中級コースレジュメ（p11）</a></p>
                  <div class="wt_youtube_cont mb-5">
                    <div class="wt_youtube">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/7Gyf23BjOXo?rel=0&amp;theme=light&amp;showinfo=0&amp;autohide=1&amp;color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                    </div>
                  </div>
                  <h4>全4回初中級コースの各URLはこちら</h4>
                  <ul>
                    <li><a href="/WTE/mypage.cgi?m=essay11">小論文の書き方初中級コース（第1回）</a></li>
                    <li><a href="/WTE/mypage.cgi?m=essay12">小論文の書き方初中級コース（第2回）</a></li>
                    <li><a href="/WTE/mypage.cgi?m=essay13">小論文の書き方初中級コース（第3回）</a></li>
                    <li><a href="/WTE/mypage.cgi?m=essay14">小論文の書き方初中級コース（第4回）</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
