<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="お問い合わせ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <TMPL_INCLUDE NAME="../include/analysis.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center">お問い合わせ</h2>               
                  
                <div class="wt_form wt_form_layer mb-5">
                  <p>お問い合わせ内容をご記入の上「次へ」ボタンを押してください。</p>
            
                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="inqcfmset" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                  <input type="hidden" name="inq_title_caption_8" value="無料体験について" />
                  <input type="hidden" name="inq_title_caption_7" value="モニターについて" />
                    <input type="hidden" name="inq_title_caption_1" value="入会・%member_caption%登録について" />
                    <input type="hidden" name="inq_title_caption_2" value="料金・お支払方法について" />
                    <input type="hidden" name="inq_title_caption_3" value="レッスン・カリキュラムについて" />
                    <input type="hidden" name="inq_title_caption_4" value="講師について" />
                    <input type="hidden" name="inq_title_caption_5" value="その他のご質問、ご意見" />

                  <TMPL_IF NAME="errs"><p class="errs">%errs%</p></TMPL_IF>

                  <div class="form-group">
                    <label>ニックネーム</label>
                    <p>%member_handle% 様</p>
                  </div>

                  <div class="form-group">
                    <label>メールアドレス</label>
                    <p>%member_email%</p>
                    <ul class="note">
                      <li>お名前やメールアドレスが異なる場合は、<a href="%CGI_URL%?m=mbrmodfrm">プロフィール編集</a>にて変更してください。</li>
                    </ul>
                  </div>

                  <fieldset class="form-group">
                    <legend class="col-form-legend required %inq_title_err%">お問い合わせ項目</legend>
                    <div class="form-group">
                      <select class="form-control %inq_title_err%" id="inq_title" name="inq_title">
                        <option value="">---お問い合わせ項目をお選び下さい---</option>
                        <option value="8" %inq_title_selected_8%>無料体験について</option>
                        <option value="7" %inq_title_selected_7%>モニターについて</option>
                        <option value="1" %inq_title_selected_1%>入会・%member_caption%登録について</option>
                        <option value="2" %inq_title_selected_2%>料金・お支払方法について</option>
                        <option value="3" %inq_title_selected_3%>レッスン・カリキュラムについて</option>
                        <option value="4" %inq_title_selected_4%>講師について</option>
                        <option value="5" %inq_title_selected_5%>その他のご質問、ご意見</option>
                      </select>
                    </div>
                  </fieldset>

                  <div class="form-group">
                    <label for="inq_cont" class="required %inq_cont_err%">お問い合わせ内容</label>
                    <textarea id="inq_cont" name="inq_cont" class="form-control %inq_cont_err%" placeholder="お問い合わせ内容をご記入下さい">%inq_cont%</textarea>
                    <ul class="note">
                      <li>お問い合わせ内容は<span id="inq_cont_max_char_num">3000</span>文字以内で入力してください。（現在の入力文字数：<span id="inq_cont_char_num">0</span>文字）</li>
                    </ul>
                  </div>

                  <div class="text-center"><input type="submit" value="次へ" name="setBtn" class="btn btn-primary rounded-pill wt_btn" /></div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<script src="%static_url%/js/dom.js"></script>
<script src="%static_url%/js/inputlimit.js"></script>
  <script src="%static_url%/js/mypage/inqfrmshw.js"></script>
</body>
</html>
