<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>予約完了 - <TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta property="og:title" content="マイページログイン｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="レッスンのご予約はマイページから。様々なカリキュラムから受講いただけます。あなたの目標に最短距離で近づけるよう、サポートさせていただきます。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=athlinfrm" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_login.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=athlinfrm" />
  <meta name="twitter:title" content="マイページログイン｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="レッスンのご予約はマイページから。様々なカリキュラムから受講いただけます。あなたの目標に最短距離で近づけるよう、サポートさせていただきます。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_login.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">

  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">予約完了</h2>
                <div class="row mb-5">
                    <div class="col-12">
                      <div class="wt_teacherbox p-3 pt-5 pb-5 p-md-5 mb-5">
                          <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                  <TMPL_IF NAME="prof_logo">
                                  <img src="%prof_logo_3_url%?%epoch%" alt="%prof_handle%先生" class="w-100 rounded-circle mb-4">
                                  <TMPL_ELSE>
                                  <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle%先生" class="w-75 rounded-circle mb-4">
                                  </TMPL_IF>
                                </div>
                                <div class="col-12 col-md-8 col-md-9">
                                  <h3 class="mb-4">予約詳細 - %prof_handle% 先生</h3>
                                  <h3 class="text-center lmessage">予約が完了しました</h3>
                                  <ul class="wt_teacherdetail">
                                      <li>コース:<span>%course_name%</span></li>
                                  </ul>
                                  <ul class="wt_teacherdetail">
                                      <li>スケジュール:<span>%lsn_stime_Y%年%lsn_stime_n%月%lsn_stime_j%日（%lsn_stime_wj%）%lsn_stime_G%:%lsn_stime_i%～%lsn_etime_G%:%lsn_etime_i%</span>
                                      </li>
                                      <li>

                      <ul class="note">
                        <li>60分のスケジュールを抑えた場合、レッスン実施時間は50分間です。<br>30分のスケジュールを抑えた場合、レッスン実施時間は25分間です。</li>
                        <li>レッスン完了から%lesson_bill_limit%分後に、チケットは消費いたします。</li>
                        <li>
                          レッスン開始時間から%cancelable_hours%時間を切っている場合のキャンセルは、キャンセル料としてチケットが消費されますので、ご注意ください。
                        </li>
                      </ul>
                                      </li>
                    <form action="%CGI_URL%" method="get">
                      <input type="hidden" name="m" value="lsnlstfrm" />
                      <p class="text-center"><input type="submit" value="予約一覧へ" class="btn btn-link" /></p>
                    </form>


                  </div>



                </div>
              </div>

            </div>
          </div>
        </div>
                  </div>
                </div>
              </div>
      </section>
    </main>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
  <TMPL_IF NAME="lsn_pay_type_2">

    <script src="https://r.moshimo.com/af/r/result.js?p_id=3688&pc_id=10667&m_v=%member_id%-%lsn_id%" id="msmaf"></script>
    <noscript><img src="https://r.moshimo.com/af/r/result?p_id=3688&pc_id=10667&m_v=%member_id%-%lsn_id%" width="1" height="1" alt=""></noscript>
    <script type="text/javascript">
      (function(w,d,s){
       var f=d.getElementsByTagName(s)[0],j=d.createElement(s);
       j.async=true;j.src='https://dmp.im-apps.net/js/1021549/0001/itm.js';
       f.parentNode.insertBefore(j, f);
      })(window,document,'script');
     </script>
     
    <script type="text/javascript">
      (function(){
      function loadScriptRTCV(callback){
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://www.rentracks.jp/js/itp/rt.track.js?t=' + (new Date()).getTime();
      if ( script.readyState ) {
      script.onreadystatechange = function() {
      if ( script.readyState === 'loaded' || script.readyState === 'complete' ) {
      script.onreadystatechange = null;
      callback();
      };
      };
      } else {
      script.onload = function() {
      callback();
      };
      };
      document.getElementsByTagName('head')[0].appendChild(script);
      }
      
      loadScriptRTCV(function(){
      _rt.sid = 8599;
      _rt.pid = 12177;
      _rt.price = 0;
      _rt.reward = -1;
      _rt.cname = '';
      _rt.ctel = '';
      _rt.cemail = '';
      _rt.cinfo = '%member_id%-%lsn_id%';
      rt_tracktag();
      });
      }(function(){}));
      </script>
      </TMPL_IF>
        <script src="%static_url%/js/mypage/favset.js"></script>
</body>

</html>
