<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>予約確認 - <TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="description" content="予約確認" />
  <meta property="og:title" content="マイページログイン｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="レッスンのご予約はマイページから。様々なカリキュラムから受講いただけます。あなたの目標に最短距離で近づけるよう、サポートさせていただきます。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=athlinfrm" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_login.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=athlinfrm" />
  <meta name="twitter:title" content="マイページログイン｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="レッスンのご予約はマイページから。様々なカリキュラムから受講いただけます。あなたの目標に最短距離で近づけるよう、サポートさせていただきます。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_login.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">予約確認</h2>
                <div class="row mb-5">
                  <div class="col-12">
                    <div class="wt_teacherbox p-3 pt-5 pb-5 p-md-5 mb-5">
                      <div class="container">
                        <div class="row">
                          <div class="col-12 col-md-4 col-lg-3">
                            <TMPL_IF NAME="prof_logo">
                              <img src="%prof_logo_3_url%?%epoch%" alt="%prof_handle%先生" class="w-100 rounded-circle mb-4">
                              <TMPL_ELSE>
                                <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle%先生" class="w-75 rounded-circle mb-4">
                            </TMPL_IF>
                          </div>
                          <div class="col-12 col-md-8 col-md-9">
                            <h3 class="mb-4">予約詳細 - %prof_handle% 先生</h3>
                            <ul class="wt_teacherdetail">
                              <li>コース:<span id="selected_course_name">%selected_course_name%</span></li>
                            </ul>
                            <ul class="wt_teacherdetail">
                              <li>スケジュール:<span>%sch_stime_Y%年%sch_stime_n%月%sch_stime_j%日（%sch_stime_wj%）%sch_stime_G%:%sch_stime_i% ～<i id="selected_course_etime_Gi">%selected_course_etime_Gi%</i></span>
                              </li>
                              <li>
                                <ul class="note mb-3">
                                  <li>60分のスケジュールを抑えた場合、レッスン実施時間は50分間です。<br>30分のスケジュールを抑えた場合、レッスン実施時間は25分間です。</li>
                                  <!--<li>最後の5分間は%prof_caption%が次のレッスンに移動するための時間となります。</li>-->
                                </ul>
                              </li>
                            </ul>




                            <TMPL_IF NAME="selected_course_id">
                              <TMPL_UNLESS NAME="selected_member_can_buy">
                                <div id="member_can_not_buy_reason" style="color:red;">
                                  この授業を申し込むことはできません：
                                  <TMPL_IF NAME="selected_member_can_not_buy_reason_1">チケット不足</TMPL_IF>
                                  <TMPL_IF NAME="selected_member_can_not_buy_reason_2">他の授業と時間が重複</TMPL_IF>
                                  <TMPL_IF NAME="selected_member_can_not_buy_reason_3">%prof_caption%の時間枠が不足</TMPL_IF>
                                  <TMPL_IF NAME="selected_member_can_not_buy_reason_99">不明</TMPL_IF>
                                </div>
                              </TMPL_UNLESS>
                            </TMPL_IF>

                            <div class="wlform">
                              <h4 style="display:none;">コース選択</h4>
                              <form action="%CGI_URL%" method="post">
                                <input type="hidden" name="m" value="lsnrsvset" />
                                <input type="hidden" name="pkey" value="%pkey%" />
                                <input type="hidden" name="sch_id" value="%sch_id%" />
                                <div class="container">
                                  <div class="row border-bottom" style="display:none;">
                                    <div class="col-9 col-md-10">
                                      <h5>選択コース</h5>
                                    </div>
                                    <div class="col-3 col-md-2">
                                      <h5>時間</h5>
                                    </div>
                                  </div>
                                  <TMPL_LOOP NAME="course_loop" COURSE_INTRO_CHARS="150">
                                    <script type="application/json" class="course-json">
                                      % course_json %

                                    </script>

                                    <TMPL_IF NAME="member_can_buy">
                                      <div class="row border-bottom" style="display:none;">
                                        <div class="col-9 col-md-10">

                                          <label for="course_id_%course_id%">
                                            <input type="radio" id="course_id_%course_id%" name="course_id" value="%course_id%" class="d-inline-block" %checked%>
                                            <img src="/assets/img/course/%course_ccate_id_1%.png" class="wt_thumb_sm rounded-circle d-none d-md-inline-block p-2">
                                            <div class="d-inline">%course_name%</div>

                                            <TMPL_IF NAME="member_can_buy">
                                              <TMPL_ELSE>
                                                <ul class="cource_palert">
                                                  <TMPL_IF NAME="member_can_not_buy_reason_1">
                                                    <li>※チケットが不足しています</li>
                                                  </TMPL_IF>
                                                  <TMPL_IF NAME="member_can_not_buy_reason_2">
                                                    <li>※他の授業と時間が重複しています</li>
                                                  </TMPL_IF>
                                                  <TMPL_IF NAME="member_can_not_buy_reason_3">
                                                    <li>※%prof_caption%の時間枠が不足しています</li>
                                                  </TMPL_IF>
                                                  <TMPL_IF NAME="member_can_not_buy_reason_99">
                                                    <li>※この授業は選択できません</li>
                                                  </TMPL_IF>
                                                </ul>
                                            </TMPL_IF>

                                          </label>
                                        </div>
                                        <div class="col-3 col-md-2">
                                          %course_step%分
                                        </div>
                                      </div>
                                      <TMPL_ELSE>
                                        <div class="row border-bottom d-none">
                                          <div class="col-9 col-md-10">
                                            <input type="radio" name="" value="" disabled>
                                          </div>
                                        </div>
                                    </TMPL_IF>

                                  </TMPL_LOOP>
                                </div>

                                <TMPL_IF NAME="member_can_buy_by_point">
                                  <h4 class="d-none">チケット確認</h4>
                                  <table class="table d-none">
                                    <tr>
                                      <th>現在の保持チケット</th>
                                      <td>%member_point_with_comma%回</td>
                                    </tr>
                                    <tr>
                                      <th>予約済みのチケット</th>
                                      <td>%member_receivable_point_with_comma%回</td>
                                    </tr>
                                    <tr>
                                      <th>現在の利用可能なチケット</th>
                                      <td>%member_available_point_with_comma%回</td>
                                    </tr>
                                  </table>
                                </TMPL_IF>
                                <TMPL_IF NAME="member_can_buy_by_coupon">
                                  <h3 class="d-none">クーポン確認</h3>
                                  <table class="table d-none">
                                    <tr>
                                      <th>現在の保持クーポン</th>
                                      <td>%member_coupon_with_comma%回</td>
                                    </tr>
                                    <tr>
                                      <th>予約済みのクーポン</th>
                                      <td>%member_receivable_coupon_with_comma%回</td>
                                    </tr>
                                    <tr>
                                      <th>利用可能なクーポン</th>
                                      <td>%member_available_coupon_with_comma%回</td>
                                    </tr>
                                  </table>
                                </TMPL_IF>


                                <TMPL_IF NAME="member_can_buy">
                                  <p class="text-center">受講するコースは<strong class="text-danger">「<span id="selected_course_name">%selected_course_name%</span>」</strong>で間違いありませんか？</p>
                                  <TMPL_IF NAME="member_can_buy_by_coupon">
                                    <TMPL_IF NAME="member_can_buy_by_point">
                                      <p class="text-danger text-center"><label for="lsn_pay_type"><input type="checkbox" name="lsn_pay_type" value="2" checked />※体験レッスン用のチケットを使う</label></p>
                                      <TMPL_ELSE>
                                        <input type="hidden" name="lsn_pay_type" value="2" />
                                        <p class="text-danger text-center">※1回無料の体験レッスンチケットを利用します<br>※レッスンを受講すると体験用チケットは消費いたします</p>
                                    </TMPL_IF>
                                  </TMPL_IF>
                                  <div class="text-center"><input type="submit" value="予約確定" class="btn btn-primary rounded-pill wt_btn mb-3" /></div>
                                  <div class="text-center mb-3"><a href="javascript:history.back();"><span class="fas fa-caret-right" aria-hidden="true"></span>前のページに戻る</a></div>
                                  <div class="gbox mgb0">
                                    <ul class="note">
                                      <li>レッスン完了から%lesson_bill_limit%分後に、チケットは消費いたします。</li>
                                      <li>レッスン開始時間の%cancelable_hours%時間前までにキャンセルした場合、キャンセルされたタイミングでチケットが返還されます</li>
                                      <li>レッスン開始時間から%cancelable_hours%時間を切っている場合のキャンセルは、キャンセル料としてチケットが消費されますので、ご注意ください。</li>
                                    </ul>
                                  </div>
                                </TMPL_IF>
                              </form>

                              <TMPL_UNLESS NAME="member_can_buy">
                                <h3 class="d-none">%session_member_handle%様のチケット確認</h3>
                                <table class="table d-none">
                                  <tr>
                                    <th>現在の保持チケット</th>
                                    <td>%member_point_with_comma%回</td>
                                  </tr>
                                  <tr>
                                    <th>予約済みのチケット</th>
                                    <td>%member_receivable_point_with_comma%回</td>
                                  </tr>
                                  <tr>
                                    <th>現在の利用可能なチケット</th>
                                    <td>%member_available_point_with_comma%回</td>
                                  </tr>
                                </table>
                                <TMPL_IF NAME="member_coupon">
                                  <h3 class="d-none">%session_member_handle%様のクーポン確認</h3>
                                  <table class="table d-none">
                                    <tr>
                                      <th>現在の保持クーポン</th>
                                      <td>%member_coupon_with_comma%回</td>
                                    </tr>
                                    <tr>
                                      <th>予約済みのクーポン</th>
                                      <td>%member_receivable_coupon_with_comma%回</td>
                                    </tr>
                                    <tr>
                                      <th>利用可能なクーポン</th>
                                      <td>%member_available_coupon_with_comma%回</td>
                                    </tr>
                                  </table>
                                </TMPL_IF>
                                <h3 class="text-center lmessage">利用可能なチケットが不足しているため予約できません</h3>
                                <div class="text-center">
                                  <a href="/WTE/mypage.cgi?m=crdfrmshw" class="btn btn-primary rounded-pill wt_btn">チケットを購入する</a>
                                </div>
                              </TMPL_UNLESS>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--<div class="wform membox mgb30">
                <h2>%prof_handle% 先生のプロフィール</h2>

                <table class="table">
                  <tr>
                    <th class="w20">%prof_caption%名</th>
                    <td>%prof_handle% 先生</td>
                  </tr>
                  <TMPL_IF NAME="prof_company">
                    <tr>
                      <th>%prof_company_caption%</th>
                      <td>%prof_company%</td>
                    </tr>
                  </TMPL_IF>
                  <tr>
                    <th>%prof_gender_caption%</th>
                    <td>
                      <TMPL_IF NAME="prof_gender_1">男性</TMPL_IF>
                      <TMPL_IF NAME="prof_gender_2">女性</TMPL_IF>
                    </td>
                  </tr>
                  <tr>
                    <th>%prof_character_caption%</th>
                    <td>
                      <ul class="tag">
                        <TMPL_LOOP NAME="prof_character_loop">
                          <li class="tag1"><a href="/WTE/mypage.cgi?m=prflstfrm&amp;s_prof_character=%id%">%title%</a>
                          </li>
                        </TMPL_LOOP>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>%prof_interest_caption%</th>
                    <td>
                      <ul class="tag">
                        <TMPL_LOOP NAME="prof_interest_loop">
                          <li class="tag2"><a href="/WTE/mypage.cgi?m=prflstfrm&amp;s_prof_interest=%id%">%title%</a>
                          </li>
                        </TMPL_LOOP>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>%prof_intro_caption%</th>
                    <td>%prof_intro%</td>
                  </tr>
                  <TMPL_IF NAME="prof_intro2">
                    <tr>
                      <th>%prof_intro2_caption%</th>
                      <td>%prof_intro2%</td>
                    </tr>
                  </TMPL_IF>
                  <TMPL_IF NAME="prof_associate1">
                    <tr>
                      <th>%prof_associate1_caption%</th>
                      <td>%prof_associate1%</td>
                    </tr>
                  </TMPL_IF>
                  <TMPL_IF NAME="prof_associate2">
                    <tr style="display:none;">
                      <th>%prof_associate2_caption%</th>
                      <td>%prof_associate2%</td>
                    </tr>
                  </TMPL_IF>
                  <TMPL_IF NAME="prof_video_url">
                    <tr>
                      <th>%prof_caption%ビデオ</th>
                      <td>
                        <iframe width="380" height="223" src="https://www.youtube.com/embed/%prof_video_url%"
                          frameborder="0" allowfullscreen></iframe>
                      </td>
                    </tr>
                  </TMPL_IF>
                </table>
              </div>-->

                  </div>
                </div>
              </div>
        </section>
      </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        </div>
        <TMPL_INCLUDE NAME="../include/foot.html">
          <script src="%static_url%/js/mypage/favset.js"></script>

          <script>
            (function() {

              let json_el_list = document.querySelectorAll('script.course-json');
              let courses = {};
              for (let i = 0, len = json_el_list.length; i < len; i++) {
                try {
                  let data = JSON.parse(json_el_list.item(i).textContent);
                  if (data && data.course_id) {
                    let id = data.course_id;
                    courses[id] = data;
                  }
                } catch (e) {}
              }

              let checkbox_el_list = document.getElementsByName('course_id');
              for (let i = 0, len = checkbox_el_list.length; i < len; i++) {
                checkbox_el_list.item(i).addEventListener('click', changeCourse, false);
              }

              function changeCourse(event) {
                let reason_el = document.getElementById('member_can_not_buy_reason')
                if (reason_el) {
                  reason_el.innerHTML = '';
                }
                let course = courses[event.currentTarget.value];
                let key_list = [
                  'course_name',
                  'course_fee_with_comma',
                  'course_etime_Gi'
                ];
                key_list.forEach(function(k) {
                  document.getElementById('selected_' + k).textContent = course[k];
                });
              }
            })();

          </script>

</body>

</html>
