<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>プロフィール編集完了｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="プロフィール編集｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="プロフィール編集｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <link rel="stylesheet" href="/assets/css/lp.css?5">
  <TMPL_INCLUDE NAME="../include/analysis.html">
<meta http-equiv="refresh" content="2;URL=%CGI_URL%?m=parent" />
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h2 class="text-center">プロフィールを登録しました</h2>

                <div class="wt_form wt_form_layer">
                <p>プロフィールの編集が完了しました。<br>レッスンの予約やコースの確認はマイページからお願いいたします。<br><b class="text-danger">※3秒後にマイページにリダイレクトいたします。</b></p>
                <div class="text-center"><a href="%CGI_URL%?m=parent" class="btn btn-primary rounded-pill wt_btn">マイページTOPへ</a></div>
                <div class="text-center"><a href="%CGI_URL%?m=mbrmodfrm">プロフィール編集に戻る</a></div>

                 </div>
              </div>
            </div>
          </div>
        </section>
      </main>

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
<TMPL_INCLUDE NAME="../include/foot.html">
<script src="%static_url%/js/mypage/mbraddfrm.js"></script>
</body>
</html>
