<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>プロフィール編集｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="プロフィール編集｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="プロフィール編集｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <link rel="stylesheet" href="/assets/css/lp.css?5">
  <TMPL_INCLUDE NAME="../include/analysis.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h2 class="text-center"><TMPL_IF NAME="member_purpose">プロフィール情報のご編集<TMPL_ELSE>まずは情報をご入力ください</TMPL_IF></h2>

                  
                  <TMPL_IF NAME="member_purpose">
                    <p class="text-left text-md-center mb-5">プロフィール情報の編集はこちらから。<br>教材発送をご希望の方は、住所や電話番号のご登録をお願いいたします。</p>
                    <TMPL_ELSE>
                    <p class="text-left text-md-center mb-5">プロフィールのご登録はこちらから。<br>プラン加入後に教材発送をご希望の方は、住所や電話番号もご登録ください。</p>
                  </TMPL_IF>
                  <TMPL_IF NAME="errs">
                    <div class="errs">%errs%</div>
                  </TMPL_IF>

                  <form method="post" action="%CGI_URL%" enctype="multipart/form-data">
                    <input type="hidden" name="m" value="mbrmodset" />
                    <input type="hidden" name="pkey" value="%pkey%" />

                <div class="wt_form wt_form_layer mb-5">
                  <h3 class="mb-5 wt_head-border"><span class="badge badge-pill badge-primary">Step.1</span>プロフィール登録</h3>
                  <p>必要情報のご登録をお願いいたします。</p>


                    <div class="form-group" style="display:none;">
                      <label for="member_company" class="%member_company_err%">%member_company_caption%</label>
                      <input type="text" id="member_company" name="member_company" value="%member_company%" class="form-control %member_company_err%" />
                      <label for="member_dept" class="%member_dept_err%">%member_dept_caption%</label>
                      <input type="text" id="member_dept" name="member_dept" value="%member_dept%" class="form-control text %member_dept_err%" />
                      <label for="member_title" class="%member_title_err%">%member_title_caption%</label>
                      <input type="text" id="member_title" name="member_title" value="%member_title%" class="form-control text %member_title_err%" />
                    </div>

                    <div class="form-group" style="display:none;">
                      <label class="required %member_lastname_err% %member_firstname_err%">お名前</label>
                      <div class="row">
                        <div class="col-2 col-sm-1">
                          <label for="member_lastname" class=" %member_lastname_err% %member_firstname_err%">%member_lastname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_lastname" name="member_lastname" value="%member_lastname%" placeholder="（例）山田" class="form-control %member_lastname_err%" />
                        </div>
                        <div class="col-2 col-sm-1">
                          <label for="member_firstname" class="%member_lastname_err% %member_firstname_err%">%member_firstname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_firstname" name="member_firstname" value="%member_firstname%" placeholder="（例）太郎" class="form-control %member_firstname_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="member_handle" class="required %member_handle_err%">%member_handle_caption%</label>
                      <input type="text" id="member_handle" name="member_handle" value="%member_handle%" placeholder="（例）桐原一郎" class="form-control %member_handle_err%" />
                    </div>

                    <div class="form-group">
                      <label for="member_email" class="%member_email_err% required">メールアドレス</label>
                      <input type="email" id="member_email" name="member_email" value="%member_email%" class="form-control inputlimit_ascii %member_email_err%" placeholder="（例）kirihara@example.com" />
                    </div>

                    <div class="form-group">
                      <label for="member_logo_up" class="%member_logo_up_err%">プロフィール写真</label>
                      <input type="file" id="member_logo_up" name="member_logo_up" class="%member_logo_up_err% w-100" />
                      <ul class="note">
                        <li>登録いただいた写真は講師にのみ共有されます</li>
                      </ul>
                      <TMPL_IF NAME="member_logo_up">
                        <div id="member_logo_box">
                          <img src="%member_logo_2_tmp_url%?%epoch%" width="%member_logo_2_w%" height="%member_logo_2_h%" alt="プロフィール写真（中）" />
                        </div>
                        <div><input type="checkbox" id="member_logo_del" name="member_logo_del" value="1" /> <label for="member_logo_del">登録した画像を取り消す</label></div>
                        <TMPL_ELSE>
                          <TMPL_IF NAME="member_logo">
                            <div id="member_logo_box">
                              <img src="%member_logo_2_url%?%epoch%" width="%member_logo_2_w%" height="%member_logo_2_h%" alt="プロフィール写真（中）" />
                            </div>
                            <div><input type="checkbox" id="member_logo_del" name="member_logo_del" value="1" /> <label for="member_logo_del">登録した画像を取り消す</label></div>
                          </TMPL_IF>
                      </TMPL_IF>
                    </div>
                    <div class="form-group">
                      <label for="member_intro" class="%member_intro_err%">簡単に%member_intro_caption%を入力ください</label>
                      <textarea name="member_intro" id="member_intro" rows="5" class="form-control xxxlarge" placeholder="（例）桐原一郎です。
TOEIC学習を効率的にしたく登録します。
リスニング力をアップさせたいです。
よろしくお願いいたします。">%member_intro%</textarea>
                      <ul class="note">
                        <li>担当講師にお伝えしたいことやご要望をご記入ください</li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label for="member_comment" class="%member_comment_err%">資格取得状況などをご記入ください</label>
                      <textarea name="member_comment" id="member_comment" rows="5" class="form-control xxxlarge" placeholder="（例）現在のTOEICスコアは500点です。
650点を超えられるように勉強中です。
英検はまだ受験をしたことがありません。">%member_comment%</textarea>
                      <ul class="note">
                        <li>過去のTOEICや英検の受験状況をお知らせください</li>
                      </ul>
                    </div>
                  </div>

                  <div class="wt_form wt_form_layer mb-5">
                    <h3 class="mb-5 wt_head-border"><span class="badge badge-pill badge-primary">Step.2</span>教材送付先の登録</h3>
                    <p>教材送付をご希望の方はご入力ください。</p>
                    <div class="form-group">
                      <label class="%member_zip1_err% %member_zip2_err% %member_addr1_err% %member_addr2_err% %member_addr3_err% %member_addr4_err%">住所</label>
                      <div class="row">
                        <div class="col-3 col-md-2"><label for="member_zip1">郵便番号</label></div>
                        <div class="col-3 col-sm-2 pr-0"><input type="number" id="member_zip1" name="member_zip1" value="%member_zip1%" maxlength="3" class="form-control inputlimit_num %member_zip1_err%" /></div>
                        <div class="col-1 col-sm-1 text-center pr-0 pl-0"><label>-</label></div>
                        <div class="col-3 col-sm-2 pl-0"><input type="number" id="member_zip2" name="member_zip2" value="%member_zip2%" maxlength="4" class="form-control inputlimit_num %member_zip2_err%" onkeyup="AjaxZip3.zip2addr('member_zip1',this,'member_addr1','member_addr2','member_addr3')" /></div>
                      </div>
                      <div class="row">
                        <div class="col-3 col-md-2"><label for="member_addr1">%member_addr1_caption%</label></div>
                        <div class="col-9 col-md-10">
                          <input type="text" id="member_addr1" name="member_addr1" value="%member_addr1%" class="form-control %member_addr1_err%" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3 col-md-2"><label for="member_addr2">%member_addr2_caption%</label></div>
                        <div class="col-9 col-md-10">
                          <input type="text" id="member_addr2" name="member_addr2" value="%member_addr2%" class="form-control %member_addr2_err%" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3 col-md-2"><label for="member_addr3">%member_addr3_caption%</label></div>
                        <div class="col-9 col-md-10">
                          <input type="text" id="member_addr3" name="member_addr3" value="%member_addr3%" class="form-control %member_addr3_err%" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3 col-md-2"><label for="member_addr4">%member_addr4_caption%</label></div>
                        <div class="col-9 col-md-10">
                          <input type="text" id="member_addr4" name="member_addr4" value="%member_addr4%" class="form-control %member_addr4_err%" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="member_tel1" class="%member_tel1_err% %member_tel2_err% %member_tel3_err%">電話番号</label>
                      <div class="row">
                        <div class="col-3 col-sm-2 pr-0">
                          <input type="text" id="member_tel1" name="member_tel1" value="%member_tel1%" maxlength="5" class="form-control inputlimit_num %member_tel1_err%" />
                        </div>
                        <div class="col-1 col-sm-1 text-center pr-0 pl-0"><label>-</label></div>
                        <div class="col-3 col-sm-2 pr-0 pl-0">
                          <input type="text" id="member_tel2" name="member_tel2" value="%member_tel2%" maxlength="4" class="form-control inputlimit_num %member_tel2_err%" />
                        </div>
                        <div class="col-1 col-sm-1 text-center pr-0 pl-0"><label>-</label></div>
                        <div class="col-3 col-sm-2 pl-0">
                          <input type="text" id="member_tel3" name="member_tel3" value="%member_tel3%" maxlength="4" class="form-control inputlimit_num %member_tel3_err%" />
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="wt_form wt_form_layer mb-5">
                    <h3 class="mb-5 wt_head-border"><span class="badge badge-pill badge-primary">Step.3</span>アンケート</h3>
                    <p>最後に簡単なアンケートにお答えください。</p>


                    <div class="form-group" style="display:none;">
                      <label for="member_hp" class="%member_hp_err%">%member_hp_caption%</label>
                      <input type="text" id="member_hp" name="member_hp" value="%member_hp%" class="text inputlimit_ascii %member_hp_err% xlarge" />
                    </div>

                    <fieldset class="form-group" style="display: none">
                      <legend class="col-form-legend %member_lang_err%">%member_lang_caption%</legend>
                      <div class="form-check">
                        <label class="form-check-label"><input type="radio" id="member_lang_1" name="member_lang" value="1" %member_lang_1_checked% /> 日本語</label>
                        <label class="form-check-label"><input type="radio" id="member_lang_2" name="member_lang" value="2" %member_lang_2_checked% /> 英語</label>
                      </div>
                    </fieldset>

                    <fieldset class="form-group" style="display: none">
                      <legend class="col-form-legend %member_gender_err%">%member_gender_caption%</legend>
                      <div class="form-check">
                        <label class="form-check-label"><input type="radio" id="member_gender_1" name="member_gender" value="1" %member_gender_1_checked% /> 男性</label>
                        <label class="form-check-label"><input type="radio" id="member_gender_2" name="member_gender" value="2" %member_gender_2_checked% /> 女性</label>
                      </div>
                    </fieldset>

                    <div class="form-group" style="display:none;">
                      <label for="member_birthy" class="%member_birthy_err% %member_birthm_err% %member_birthd_err%">生年月日</label>
                      <div class="row">
                        <div class="pull-left" style="padding-left:15px"><label>西暦</label></div>
                        <div class="col-3 col-sm-2">
                          <input type="text" id="member_birthy" name="member_birthy" value="%member_birthy%" maxlength="4" class="form-control inputlimit_num %member_birthy_err%" />
                        </div>
                        <div class="pull-left"><label>年</label></div>
                        <div class="col-3 col-sm-2">
                          <input type="text" id="member_birthm" name="member_birthm" value="%member_birthm%" maxlength="2" class="form-control inputlimit_num %member_birthm_err%" />
                        </div>
                        <div class="pull-left"><label>月</label></div>
                        <div class="col-3 col-sm-2">
                          <input type="text" id="member_birthd" name="member_birthd" value="%member_birthd%" maxlength="2" class="form-control inputlimit_num %member_birthd_err%" />
                        </div>
                        <div class="pull-left"><label>日</label></div>
                      </div>
                    </div>

                    <fieldset class="form-group">
                      <legend class="col-form-legend required %member_purpose_err%">%member_purpose_caption%</legend>
                      <div class="form-check">
                        <TMPL_LOOP NAME="member_purpose_loop">
                          <label class="form-check-label"><input type="checkbox" id="member_purpose_%id%" name="member_purpose" value="%id%" %checked% />%title%</label>
                        </TMPL_LOOP>
                      </div>
                      <ul class="note">
                        <li>1項目以上チェックを入れてください</li>
                      </ul>
                    </fieldset>


                    <fieldset class="form-group">
                      <legend class="col-form-legend required %member_demand_err%">%member_demand_caption%</legend>
                      <div class="form-check">
                        <TMPL_LOOP NAME="member_demand_loop">
                          <label class="form-check-label"><input type="checkbox" id="member_demand_%id%" name="member_demand" value="%id%" %checked% />%title%</label>
                        </TMPL_LOOP>
                      </div>
                      <ul class="note">
                        <li>1項目以上チェックを入れてください</li>
                      </ul>
                    </fieldset>


                    <fieldset class="form-group">
                      <legend class="col-form-legend required %member_interest_err%">%member_interest_caption%</legend>
                      <div class="form-check">
                        <TMPL_LOOP NAME="member_interest_loop">
                          <label class="form-check-label"><input type="checkbox" id="member_interest_%id%" name="member_interest" value="%id%" %checked% />%title%</label>
                        </TMPL_LOOP>
                      </div>
                      <ul class="note">
                        <li>1項目以上チェックを入れてください</li>
                      </ul>
                    </fieldset>

                    <fieldset class="form-group">
                      <legend class="col-form-legend required %member_level_err%">%member_level_caption%</legend>
                      <div class="form-check">
                        <TMPL_LOOP NAME="member_level_loop">
                          <label class="form-check-label"><input type="radio" id="member_level_%id%" name="member_level" value="%id%" %checked% />%title%</label>
                        </TMPL_LOOP>
                      </div>
                      <ul class="note">
                        <li>どれか1つチェックを入れてください</li>
                      </ul>
                    </fieldset>


                    <div class="form-group" style="display: none;">
                      <label for="member_associate1" class="%member_associate1_err%">%member_associate1_caption%</label>
                      <textarea name="member_associate1" id="member_associate1" rows="5" placeholder="例）
月曜日の19～21時
火曜日の12～18時
2022年12月1日
※希望の曜日や1週間以上後の希望日時をご入力ください" class="form-control xxxlarge">%member_associate1%</textarea>
                      <ul class="note">
                        <li>希望の曜日や1週間以上後の希望日時をご入力ください</li>
                        <li><span id="member_associate1_max_char_num">300</span>文字以内で入力してください。（現在の入力文字数：<span id="member_associate1_char_num">0</span>文字）</li>
                      </ul>
                    </div>
                    <div class="form-group" style="display:none;">
                      <label for="member_associate2" class="%member_associate2_err%">%member_associate2_caption%</label>
                      <textarea name="member_associate2" id="member_associate2" rows="5" class="form-control xxxlarge">%member_associate2%</textarea>
                      <ul class="note">
                        <li><span id="member_associate2_max_char_num">300</span>文字以内で入力してください。（現在の入力文字数：<span id="member_associate2_char_num">0</span>文字）</li>
                      </ul>
                    </div>
                  </div>

                    <div class="text-center"><input type="submit" value="<TMPL_IF NAME=" member_purpose">編集<TMPL_ELSE>情報を送信する</TMPL_IF>" name="setBtn" class="btn btn-danger rounded-pill wt_btn" /></div>
                  </form>

              </div>
            </div>
          </div>
        </section>
      </main>


    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
<TMPL_INCLUDE NAME="../include/foot.html">
  <script src="/assets/js/ajaxzip3.js"></script>
<script src="%static_url%/js/dom.js"></script>
<script src="%static_url%/js/inputlimit.js"></script>
<script src="%static_url%/js/mypage/mbraddfrm.js"></script>
</body>
</html>
