<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>日程から予約｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">日程から予約</h2>
                <div class="wt_form wt_form_layer mb-5">
                <p class="text-center">カレンダーの日にち部分をクリックすると、日時指定でスケジュール予約が出来ます。</p>
                <ul class="noteb">
                  <li>予約はレッスン開始<strong>%lesson_reservation_limit%<span class="limitunit">%lesson_reservation_limit_unit%</span>前</strong>までであれば受け付け可能です。</li>
                  <li>またキャンセルは<strong>%cancelable_hours%時間前</strong>まで受け付け可能です。</li>
                  <li>時刻はすべて<strong>日本の現地時間</strong>で表示しています。海外在住の方はご注意ください</li>
                </ul>
            
                
          <nav aria-label="..." class="text-center mb-5">
            <ul class="wt_pagination_sch">
                <TMPL_IF NAME="last_month_disabled">
                  <li class="page-item disabled"><span class="page-link"><i class="fas fa-chevron-left"></i> %last_month_Y%年%last_month_n%月</span></li>
                <TMPL_ELSE>
                  <li class="page-item"><span class="page-link"><a href="%CGI_URL%?m=schlstfrm&amp;d=%last_week_s_ymd%"><i class="fas fa-chevron-left"></i>%last_month_Y%年%last_month_n%月</a></span></li>
                </TMPL_IF>
              <li class="page-item active">
                <span class="page-link"> %this_month_Y%年%this_month_n%月 </span>
              </li>
                <TMPL_IF NAME="next_month_disabled">
                  <li class="page-item disabled"><span class="page-link">%next_month_Y%年%next_month_n%月 
                <i class="fas fa-chevron-right"></i></span></li>
                <TMPL_ELSE>
                    <li class="page-item"><span class="page-link"><a href="%CGI_URL%?m=schlstfrm&amp;d=%next_week_s_ymd%">%next_month_Y%年%next_month_n%月 <i class="fas fa-chevron-right"></i></a></span></li>
                </TMPL_IF>
            </ul>
          </nav>
                
                <div class="wt_calendar">
                <table class="schlst">
                 <thead>
                  <tr>
                    <th class="sun"><span>日</span></th>
                    <th><span>月</span></th>
                    <th><span>火</span></th>
                    <th><span>水</span></th>
                    <th><span>木</span></th>
                    <th><span>金</span></th>
                    <th class="sat"><span>土</span></th>
                  </tr>
                 </thead>
                 <tbody>
                  <TMPL_LOOP NAME="week_loop">
                <tr>
                  <TMPL_LOOP NAME="day_loop">
                  <td class="%othermonth% %today% %disabled%" <TMPL_UNLESS NAME="disabled">onclick="document.location.href='%CGI_URL%?m=lsnrsvfrm&amp;d=%Y%%m%%d%';"</TMPL_UNLESS>>
                    %j%
                    <TMPL_IF NAME="lsn_num">
                    <ul>
                      <TMPL_LOOP NAME="lsn_loop">
                        <TMPL_IF NAME="disabled">
                          <li class="finished"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">%stime% 終了<br />%prof_handle% 先生</a></li>
                        <TMPL_ELSE>
                          <li class="reserved"><a href="%CGI_URL%?m=lsndtlfrm&amp;lsn_id=%lsn_id%">%stime% レッスン<br />%prof_handle% 先生</a></li>
                        </TMPL_IF>
                      </TMPL_LOOP>
                    </ul>
                    </TMPL_IF>
                  </td>
                  </TMPL_LOOP>
                </tr>
                  </TMPL_LOOP>
                  </tbody>
                </table>
                </div>
                
          </div>
        </div>
      </div>
    </section>

        <div class="wt_sec_bg_1">
        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li><a href="/" itemprop="url" content="https://academy.kirihara.co.jp/"><span class="wt_crumb" itemprop="title">ホーム</span></a></li>
          <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=parent" itemprop="url" content="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=parent"><span itemprop="title">マイページ</span></a></li>
          <li><a href="%ssl_host_url%/WTE/mypage.cgi?m=schlstfrm" itemprop="url" content="https://academy.kirihara.co.jp/WTE/mypage.cgi?m=schlstfrm"><span itemprop="title">日程から予約</span></a></li>
        </ul>
        </div>

      </main>
		<!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
	<script>
	$(function() {
		$('.limitunit').each(function(){
			var txt1 = $(this).html();
			$(this).html(
				txt1.replace('d','日')
			);
		});
		$('.limitunit').each(function(){
			var txt2 = $(this).html();
			$(this).html(
				txt2.replace('h','時間')
			);
		});
		$('.limitunit').each(function(){
			var txt3 = $(this).html();
			$(this).html(
				txt3.replace('m','分')
			);
		});
	});
	</script>
	<style>
	    td.disabled { background-color: #eeeeee; }
	</style>
</body>
</html>
