  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Brand Logo -->
    <a href="%CGI_URL%" class="brand-link">
      <img src="/WTE/AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
      <span class="brand-text font-weight-light">企業様・学校様メニュー</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar text-sm">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">レッスン管理</li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=mbrlstfrm" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                %member_caption%管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=lsnlstfrm" class="nav-link">
              <i class="nav-icon fas fa-calendar"></i>
              <p>
                レッスン管理
              </p>
            </a>
          </li>
          <!--<li class="nav-item">
            <a href="%CGI_URL%?m=cpnlstfrm" class="nav-link">
              <i class="nav-icon fas fa-money-bill"></i>
              <p>
                クーポン管理
              </p>
            </a>
          </li>-->
          <li class="nav-header">プロフィール設定</li>
          <li class="nav-item">
            <a href="%CGI_URL%?m=selmodfrm" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                プロフィール編集
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
