<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>%member_caption%管理｜%product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0"><i class="fas fa-user text-primary"></i> %member_caption%管理</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                    <li class="breadcrumb-item active">%member_caption%管理</li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="mbrlstfrm" />
                    <div class="card card-primary card-outline">
                      <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-search text-primary"></i> 絞り込み検索</h3>
                        <div class="card-tools pull-right">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="card-body text-sm">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_member_id">%member_caption%識別ID</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <input id="s_member_id" type="number" name="s_member_id" value="%s_member_id%" class="form-control" placeholder="半角数字、完全一致" />
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_member_handle">%member_handle_caption%</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <input id="s_member_handle" type="text" name="s_member_handle" value="%s_member_handle%" class="form-control" placeholder="部分一致" />
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_member_email">%member_email_caption%</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <input id="s_member_email" type="text" name="s_member_email" value="%s_member_email%" class="form-control" placeholder="部分一致" />
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-2">
                                <label for="s_cdate1">期間</label>
                              </div>
                              <div class="col-12 col-sm-5">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">開始</span>
                                  </div>
                                  <input type="date" name="s_cdate1" value="%s_cdate1%" class="form-control" id="%s_cdate1%">
                                </div>
                              </div>
                              <div class="col-12 col-sm-5">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">終了</span>
                                  </div>
                                  <input type="date" name="s_cdate2" value="%s_cdate2%" class="form-control" id="s_cdate2">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_member_st_flag">プラン状況</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <select name="s_member_st_flag" id="s_member_st_flag" class="form-control">
                                  <option value="">指定なし</option>
                                  <option value="1" %s_member_st_flag_1_selected%>体験会員</option>
                                  <option value="2" %s_member_st_flag_2_selected%>有料会員</option>
                                  <option value="3" %s_member_st_flag_3_selected%>無料モニター会員</option>
                                  <option value="4" %s_member_st_flag_4_selected%>キャンペーン会員</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_member_course_flag">加入コース</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <select name="s_member_course_flag" id="s_member_course_flag" class="form-control">
                                  <option value="">指定なし</option>
                                  <option value="1" %s_member_course_flag_1_selected%>未加入</option>
                                  <option value="11" %s_member_course_flag_11_selected%>TOEIC®L&Rテスト500～600点突破コース</option>
                                  <option value="12" %s_member_course_flag_12_selected%>TOEIC®L&Rテスト730点突破コース</option>
                                  <option value="16" %s_member_course_flag_16_selected%>TOEIC®500～600点修了者向け定期コース</option>
                                  <option value="17" %s_member_course_flag_17_selected%>TOEIC®730点修了者向け定期コース</option>
                                  <option value="21" %s_member_course_flag_21_selected%>英検準1級 一次試験対策コース</option>
                                  <option value="21" %s_member_course_flag_22_selected%>英検2級 一次試験対策コース</option>
                                  <option value="21" %s_member_course_flag_23_selected%>英検準2級 一次試験対策コース</option>
                                  <option value="31" %s_member_course_flag_31_selected%>英検準1級 二次試験合格コース</option>
                                  <option value="32" %s_member_course_flag_32_selected%>英検2級 二次試験合格コース</option>
                                  <option value="33" %s_member_course_flag_33_selected%>英検準2級 二次試験合格コース</option>
                                  <option value="41" %s_member_course_flag_41_selected%>小論文の書き方 初中級コース</option>
                                  <option value="42" %s_member_course_flag_42_selected%>小論文の書き方 中上級コース</option>
                                  <option value="43" %s_member_course_flag_43_selected%>小論文の書き方 個別指導コース</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="s_member_status">ステータス</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <select name="s_member_status" id="s_member_status" class="form-control">
                                  <option value="">指定なし</option>
                                  <option value="0" %s_member_status_0_selected%>無効</option>
                                  <option value="1" %s_member_status_1_selected%>本登録</option>
                                  <option value="2" %s_member_status_2_selected%>仮登録</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="form-group row">
                              <div class="col-12 col-sm-3">
                                <label for="limit">表示件数</label>
                              </div>
                              <div class="col-12 col-sm-9">
                                <select name="limit" id="limit" class="form-control">
                                  <option value="20" %limit_20_selected%>20件</option>
                                  <option value="50" %limit_50_selected%>50件</option>
                                  <option value="100" %limit_100_selected%>100件</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-sm">
                        <button type="submit" id="setBtn" class="btn btn-info" name="setBtn">検索</button>
                      </div>
                    </div>
                  </form>


                  <TMPL_IF NAME="hit">
                    <div class="card card-primary card-outline collapsed-card">
                      <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-file-excel text-primary"></i> 検索条件/CSV</h3>
                        <div class="card-tools pull-right">
                          <a href="%download_url%">
                            <i class="fas fa-download"></i> CSVダウンロード
                          </a>
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                      </div>

                      <div class="card-body text-sm">
                        <table class="table">
                          <tr>
                            <td>%member_handle_caption%</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_member_handle">%s_member_handle% （部分一致）<TMPL_ELSE>指定なし</TMPL_IF>
                            </td>
                          </tr>
                          <tr>
                            <td>%member_email_caption%</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_member_email">%s_member_email% （部分一致）<TMPL_ELSE>指定なし</TMPL_IF>
                            </td>
                          </tr>
                          <tr>
                            <td>期間</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_cdate1">
                                %s_cdate1% ～ %s_cdate2%
                                <TMPL_ELSE>
                                  <TMPL_IF NAME="s_cdate2">
                                    ～ %s_cdate2%
                                    <TMPL_ELSE>
                                      指定無し
                                  </TMPL_IF>
                              </TMPL_IF>
                            </td>
                          </tr>
                          <tr>
                            <td>プラン状況</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_member_st_flag_selected">
                                <TMPL_IF NAME="s_member_st_flag_1">体験会員</TMPL_IF>
                                <TMPL_IF NAME="s_member_st_flag_2">有料会員</TMPL_IF>
                                <TMPL_IF NAME="s_member_st_flag_3">無料モニター会員</TMPL_IF>
                                <TMPL_IF NAME="s_member_st_flag_4">キャンペーン会員</TMPL_IF>
                                <TMPL_ELSE>
                                  指定なし
                              </TMPL_IF>
                            </td>
                          </tr>
                          <tr>
                            <td>決済完了フラグ</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_crd_success_selected">
                                <TMPL_IF NAME="s_crd_success_0">未確定</TMPL_IF>
                                <TMPL_IF NAME="s_crd_success_1">成功</TMPL_IF>
                                <TMPL_IF NAME="s_crd_success_2">失敗</TMPL_IF>
                                <TMPL_ELSE>
                                  指定なし
                              </TMPL_IF>
                            </td>
                          </tr>
                          <tr>
                            <td>加入コース</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_member_course_flag_selected">
                                <TMPL_IF NAME="s_member_course_flag_1">体験会員</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_11">TOEIC®L&Rテスト500～600点突破コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_12">TOEIC®L&Rテスト730点突破コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_16">TOEIC®500～600点修了者向け定期コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_17">TOEIC®730点修了者向け定期コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_21">英検準1級 一次試験対策コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_22">英検2級 一次試験対策コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_23">英検準2級 一次試験対策コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_31">英検準1級 二次試験合格コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_32">英検2級 二次試験合格コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_33">英検準2級 二次試験合格コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_41">小論文の書き方 初中級コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_42">小論文の書き方 中上級コース</TMPL_IF>
                                <TMPL_IF NAME="s_member_course_flag_43">小論文の書き方 個別指導コース</TMPL_IF>
                                <TMPL_ELSE>
                                  指定なし
                              </TMPL_IF>
                            </td>
                          </tr>
                          <tr>
                            <td>ステータス</td>
                            <td>：</td>
                            <td>
                              <TMPL_IF NAME="s_member_status_selected">
                                <TMPL_IF NAME="s_member_status_0">無効</TMPL_IF>
                                <TMPL_IF NAME="s_member_status_1">本登録</TMPL_IF>
                                <TMPL_IF NAME="s_member_status_2">仮登録</TMPL_IF>
                                <TMPL_ELSE>
                                  指定なし
                              </TMPL_IF>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </TMPL_IF>

                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-list text-primary"></i> 検索結果</h3>
                      <div class="card-tools pull-right">
                        <TMPL_IF NAME="s_seller_id">
                            <a href="%CGI_URL%?m=mbraddfrm&amp;seller_id=%s_seller_id%"><i class="fas fa-plus-circle"></i> 「%seller_company%」に%member_caption%を新規登録する</a>
                        </TMPL_IF>

                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-sm">
                      <div class="page_navi">
                        <p>%hit_with_comma%件中、%start_with_comma%件目から%end_with_comma%件目までの%fetch_with_comma%件を表示しています。</p>
                        <TMPL_IF NAME="hit">
                          <div class="text-center">
                            <ul class="pagination pagination-sm justify-content-center">
                              <li class="page-item">
                                <TMPL_IF NAME="prev_url">
                                  <a href="%prev_url%" class="page-link">&laquo;</a>
                                  <TMPL_ELSE>
                                    <a class="page-link">&laquo;</a>
                                </TMPL_IF>
                              </li>
                              <TMPL_LOOP NAME="page_loop">
                                <TMPL_IF NAME="current">
                                  <li class="page-item active">
                                    <a class="page-link">%page%</a>
                                  </li>
                                  <TMPL_ELSE>
                                    <li class="page-item">
                                      <a href="%url%" class="page-link">%page%</a>
                                    </li>
                                </TMPL_IF>
                              </TMPL_LOOP>
                              <li class="page-item">
                                <TMPL_IF NAME="next_url">
                                  <a href="%next_url%" class="page-link">&raquo;</a>
                                  <TMPL_ELSE>
                                    <a class="page-link">&raquo;</a>
                                </TMPL_IF>
                              </li>
                            </ul>
                          </div>
                        </TMPL_IF>
                      </div>
                      <TMPL_IF NAME="hit">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>写真</th>
                              <th>%member_handle_caption%</th>
                              <th>メール/スカイプ</th>
                              <th>企業・学校</th>
                              <th>予約</th>
                              <th>進捗</th>
                              <th>編集</th>
                            </tr>
                          </thead>
                          <tbody>
                            <TMPL_LOOP NAME="list_loop">
                              <tr class="success_%member_status%">
                                <td><i class="fa fa-circle status_%member_status%"></i>%member_id%</td>
                                <td>
                                  <TMPL_IF NAME="member_logo">
                                    <img src="%member_logo_1_url%?%epoch%" style="width:40px;height:40px;border-radius:50%;" alt="ロゴ（小）" />
                                    <TMPL_ELSE>
                                      <div style="width:40px; height:40px; background-color:#cccccc;border-radius:50%;"></div>
                                  </TMPL_IF>
                                </td>
                                <td>
                                  <div>%member_handle%</div>
                                  <div>登録：%member_cdate_0%-%member_cdate_1%-%member_cdate_2% %member_cdate_3%:%member_cdate_4%</div>
                                  <div>プラン：<TMPL_IF NAME="member_st_flag_1">体験会員<TMPL_IF NAME="member_memo2">（※%member_memo2%）</TMPL_IF>
                                    </TMPL_IF>
                                    <TMPL_IF NAME="member_st_flag_2"><span style="color:red">有料会員</span></TMPL_IF>
                                    <TMPL_IF NAME="member_st_flag_3"><span style="color:orange">モニター会員</span></TMPL_IF>
                                    <TMPL_IF NAME="member_st_flag_4"><span style="color:green">キャンペーン会員</span></TMPL_IF>
                                  </div>
                                  <div>
                                    <TMPL_IF NAME="member_course_flag_11">コース：<strong style="color:rgb(6, 134, 23)">TOEIC®L&R 500～600点</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_12">コース：<strong style="color:rgb(6, 134, 23)">TOEIC®L&R 730点</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_16">コース：<strong style="color:rgb(6, 134, 23)">TOEIC®定期 500～600点</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_17">コース：<strong style="color:rgb(6, 134, 23)">TOEIC®定期 730点</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_21">コース：<strong style="color:rgb(226, 102, 0)">英検準1級 一次試験</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_22">コース：<strong style="color:rgb(226, 102, 0)">英検2級 一次試験</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_23">コース：<strong style="color:rgb(226, 102, 0)">英検準2級 一次試験</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_31">コース：<strong style="color:rgb(10, 121, 155)">英検準1級 二次試験</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_32">コース：<strong style="color:rgb(10, 121, 155)">英検2級 二次試験</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_33">コース：<strong style="color:rgb(10, 121, 155)">英検準2級 二次試験</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_41">コース：<strong style="color:rgb(116, 107, 28)">小論文の書き方 初中級</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_42">コース：<strong style="color:rgb(116, 107, 28)">小論文の書き方 中上級</strong></TMPL_IF>
                                    <TMPL_IF NAME="member_course_flag_43">コース：<strong style="color:rgb(116, 107, 28)">小論文の書き方 個別</strong></TMPL_IF>
                                  </div>
                                </td>
                                <td>%member_email%<br>%member_skype_id%</td>
                                <td>
                                  [%seller_id%]
                                  <TMPL_IF NAME="seller_url">
                                    <a href="%seller_url%" target="_blank">%seller_company%</a>
                                    <TMPL_ELSE>
                                      %seller_company%
                                  </TMPL_IF>
                                </td>
                                <td>
                                  <a href="%CGI_URL%?m=lsnlstfrm&amp;s_member_id=%member_id%">レッスン</a>
                                </td>
                                <td><a href="%CGI_URL%?m=prelstfrm&amp;s_member_id=%member_id%"><i class="fas fa-project-diagram"></i></a></td>
                                <td><a href="%CGI_URL%?m=mbrmodfrm&amp;member_id=%member_id%"><i class="nav-icon fas fa-edit"></i></a></td>
                              </tr>
                            </TMPL_LOOP>
                          </tbody>
                        </table>
                        <div class="page_navi mt-3">
                          <TMPL_IF NAME="hit">
                            <div class="text-center">
                              <ul class="pagination pagination-sm justify-content-center">
                                <li class="page-item">
                                  <TMPL_IF NAME="prev_url">
                                    <a href="%prev_url%" class="page-link">&laquo;</a>
                                    <TMPL_ELSE>
                                      <a class="page-link">&laquo;</a>
                                  </TMPL_IF>
                                </li>
                                <TMPL_LOOP NAME="page_loop">
                                  <TMPL_IF NAME="current">
                                    <li class="page-item active">
                                      <a class="page-link">%page%</a>
                                    </li>
                                    <TMPL_ELSE>
                                      <li class="page-item">
                                        <a href="%url%" class="page-link">%page%</a>
                                      </li>
                                  </TMPL_IF>
                                </TMPL_LOOP>
                                <li class="page-item">
                                  <TMPL_IF NAME="next_url">
                                    <a href="%next_url%" class="page-link">&raquo;</a>
                                    <TMPL_ELSE>
                                      <a class="page-link">&raquo;</a>
                                  </TMPL_IF>
                                </li>
                              </ul>
                            </div>
                          </TMPL_IF>
                        </div>
                      </TMPL_IF>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <TMPL_INCLUDE NAME="include_footer.html">
  </div>
  <TMPL_INCLUDE NAME="include_foot.html">

    <!-- 企業・学校検索ダイアログ start -->
    <div id="ajax_seller_search_box" class="ui-dialog" title="企業・学校検索ボックス">&nbsp;</div>
    <!-- 企業・学校検索ダイアログ end -->

    <!-- 企業・学校検索ダイアログ用 start -->
    <link href="%static_url%/css/admin/ajax_seller_search_box.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="%static_url%/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="%static_url%/js/jquery/ui/ui.core.js"></script>
    <script type="text/javascript" src="%static_url%/js/jquery/ui/ui.dialog.js"></script>
    <script type="text/javascript" src="%static_url%/js/jquery/ui/ui.resizable.js"></script>
    <script type="text/javascript" src="%static_url%/js/jquery/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="%static_url%/js/admin/mbrlstfrm_ajax_seller_search.js"></script>
    <!-- 企業・学校検索ダイアログ用 end -->
    <!--jQuery JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--jQuery UI JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!--jQuery UI CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <script>
      $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd'
      });
    </script>
</body>


</html>