<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>企業様・学校様メニュー | %product_name%</title>
  <TMPL_INCLUDE NAME="include_head.html">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <TMPL_INCLUDE NAME="include_header.html">
      <TMPL_INCLUDE NAME="include_menu.html">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0"><i class="fas fa-home text-primary"></i> 企業様・学校様メニュー</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="%CGI_URL%">Home</a></li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
				<div class="row">
				  <div class="col-12">
					<div class="card card-primary card-outline">
					  <div class="card-header">
						<h3 class="card-title"><i class="fas fa-edit text-primary"></i> KOAからのお知らせ</h3>
					  </div>
					  <div class="card-body text-sm">
						<TMPL_LOOP NAME="ann_loop">
							<div class="mailbox-read-info">
								<h6>%ann_title%
								<span class="mailbox-read-time float-right">%ann_cdate_0%/%ann_cdate_1%/%ann_cdate_2%</span></h6>
								</div>
								<div class="mailbox-read-message">
									%ann_content%
									</div>
						</TMPL_LOOP>
					  </div>
					</div>
				  </div>
				</div>
              <div class="row">
                <div class="col-12">
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-edit text-primary"></i> メモ</h3>
                    </div>
                    <div class="card-body text-sm">
                      <TMPL_IF NAME="seller_note">
                        <div id="note">%seller_note%</div>
                      <TMPL_ELSE>
                        未登録
                      </TMPL_IF>
                    </div>
                    <div class="card-footer text-sm">
                        <a href="%CGI_URL%?m=ntemodfrm" class="btn btn-info">メモ編集</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex">

                <div class="col-6 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-graduation-cap text-primary"></i> %member_caption%管理</h3>
                    </div>
                    <div class="card-body text-sm">
                      <p>登録している%member_caption%の一覧を確認できます。登録情報の新規登録・編集・削除が可能です。</p>
                      <a href="%CGI_URL%?m=mbrlstfrm" class="btn btn-info">%member_caption%管理</a>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-calendar text-primary"></i> レッスン管理</h3>
                    </div>
                    <div class="card-body text-sm">
                      <p>%member_caption%と%prof_caption%のレッスン一覧です。詳細をクリックすると、報告状況や課金情報について確認できます。</p>
                      <a href="%CGI_URL%?m=lsnlstfrm" class="btn btn-info">レッスン管理</a>
                    </div>
                  </div>
                </div>
                <!--<div class="col-6 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fas fa-money-bill text-primary"></i> クーポン管理</h3>
                    </div>
                    <div class="card-body text-sm">
                      <p>体験レッスン用のクーポンの発行から、発行したクーポンの利用者数、情報の編集ができます。</p>
                      <a href="%CGI_URL%?m=cpnlstfrm" class="btn btn-info">クーポン管理</a>
                    </div>
                  </div>
                </div>-->


              </div>
            </div>
          </section>
        </div>
        <TMPL_INCLUDE NAME="include_footer.html">
      </div>
      <TMPL_INCLUDE NAME="include_foot.html">
  </body>
  
</html>
