<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>
    <TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="description" content="出版社「桐原書店」による新しいオンライン英会話スクール「KIRIHARA Online Academy」。英検対策・TOEIC対策に特化し、教材を活用した自宅学習と、日本人講師とのマンツーマンのオンラインレッスンを組み合わせた、最も効率の良い、試験対策サービスです。コース監修は英語講師として多数の書籍を出版している「早川幸治（Jay）先生」が行っています。英検・TOEICの受験に少しでもお悩みを抱えている方は是非、一度無料体験レッスンをお試しください。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="出版社「桐原書店」による新しいオンライン英会話スクール「KIRIHARA Online Academy」。英検対策・TOEIC対策に特化し、教材を活用した自宅学習と、日本人講師とのマンツーマンのオンラインレッスンを組み合わせた、最も効率の良い、試験対策サービスです。コース監修は英語講師として多数の書籍を出版している「早川幸治（Jay）先生」が行っています。英検・TOEICの受験に少しでもお悩みを抱えている方は是非、一度無料体験レッスンをお試しください。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="出版社「桐原書店」による新しいオンライン英会話スクール「KIRIHARA Online Academy」。英検対策・TOEIC対策に特化し、教材を活用した自宅学習と、日本人講師とのマンツーマンのオンラインレッスンを組み合わせた、最も効率の良い、試験対策サービスです。コース監修は英語講師として多数の書籍を出版している「早川幸治（Jay）先生」が行っています。英検・TOEICの受験に少しでもお悩みを抱えている方は是非、一度無料体験レッスンをお試しください。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <TMPL_INCLUDE NAME="../include/analysis.html">
</head>

<body id="user" class="index drawer drawer--right v2">
  <TMPL_INCLUDE NAME="../include/body.html">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0&appId=229437533792557&autoLogAppEvents=1" nonce="Krjb1tBG"></script>
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">


        <section class="wt_mainvis">
          <div class="wt_catch">
            <div class="wt_catch_circle">
              <div>
                <p class="wt_catch_logo mb-4 d-none d-lg-block"><img src="/assets/img/common/logo.svg" alt="ワールドトーク×桐原書店" class="w-75"></p>
                <p>必ず合格させたい方へ！</p>
                <h1>英検、TOEIC&reg; L&amp;Rテスト<br>
                  資格対策に特化した<br>
                  短期集中型！オンラインカリキュラム
                  <span class="d-block mt-3 mb-3 d-lg-none">KIRIHARA Online Academy</span>
                </h1>
                <div class="wt_mvbtn"><a href="%ssl_host_url%/WTE/reg.cgi" class="btn btn-danger rounded-pill btn-lg">ご希望の対策はありますか？<br>
                    <span class="d-none d-lg-inline">まずは、</span>レッスン体験からお試しください
                  </a></div>
              </div>
            </div>
          </div>
          <ul class="wt_slider owl-carousel owl-carousel-mv">
            <li class="wt_slider01"></li>
            <li class="wt_slider02"></li>
            <li class="wt_slider03"></li>
          </ul>
        </section>


        <section>
          <!--<div class="container">
            <div class="row">
              <div class="col-12 col-md-10 offset-md-1">
                <ul class="wt_headline mb-5">
                  <li><a href=""><img src="/assets/img/index/bnr_toeic.jpg" class="w-100" /></a></li>
                </ul>
              </div>
            </div>
          </div>-->
          <div class="container-fluid">
            <div class="row">
              <!--<div class="col-12">
      <ul class="wt_headline owl-carousel owl-carousel-bnr mb-5">
        <li><a href="/wte/event20211222"><img src="/assets/img/index/bnr_event_20211222.jpg" /></a></li>
        <li><a href="/wte/toeic"><img src="/assets/img/index/bnr_w_toeic.jpg" /></a></li>
        <li><a href="/wte/eiken1"><img src="/assets/img/index/bnr_w_eiken1.jpg" /></a></li>
      </ul>
      </div>-->
              <!--<div class="col-12 col-md-6 offset-md-3 mb-3 mb-md-5">
      <ul class="wt_headline mb-5">
        
        <li><a href="/wte/event20220208"><img src="/assets/img/index/bnr_event_20220208.jpg" class="w-100 h-auto" /></a></li>
      </ul>
      </div>-->
            </div>
          </div>

          <!--<div class="container mb-5">
            <div class="row">
              <div class="col-12 wt_headline">
                <h3>Headline!</h3>
                <ul class="m-0 pl-3 pl-lg-5">
                  <li><a href="/wte/starterskype">【重要】Skypeへの通話システム変更について</a></li>
                </ul>
              </div>
            </div>
          </div>-->



          <div class="container pt-5">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検の合格・TOEIC&reg; L&amp;Rテストのスコアアップを目指している方へ<br>
                  忙しい皆さまのために<strong class="txt_kiri">効率</strong>を最重視！<br class="d-none d-md-block"><strong class="txt_kiri">短期間</strong>で合格までの力を身に付けませんか？</h2>
                <!--<h3 class="text-center wt_copy mb-5"><strong class="txt_kiri">「桐原書店」</strong>の教材・カリキュラム × <strong class="txt_wt">「ワールドトーク」</strong>の日本人講師<br class="d-none d-md-block">による<strong class="wt_marker">TOEIC対策</strong>・<strong class="wt_marker">英検対策</strong>に特化したオンライン英会話です！</h3>-->
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h3 class="text-center wt_copy mb-5">KIRIHARA Online Academyは<strong class="txt_kiri">英検</strong>の一次試験対策、二次試験対策と<br class="d-none d-md-block"><strong class="txt_kiri">TOEIC&reg; L&amp;Rテスト</strong>対策に特化した、オンライン形式の学習プログラムです。</h3>

                <p>KIRIHARA Online Academyの最大の特徴はそれぞれの試験に特化した<strong class="txt_kiri">学習カリキュラム</strong>を開発し、2ヶ月という<strong class="txt_kiri">短期集中型</strong>の目標達成プログラムをご提供出来ることです。<br>受験勉強や期末試験で忙しくて、資格対策の学習時間をなかなか取ることが出来ない<strong class="txt_kiri">中学生</strong>・<strong class="txt_kiri">高校生</strong>の皆さま、就職活動や単位取得を目指す<strong class="txt_kiri">大学生</strong>の方、外資系への転職や昇進を目指す<strong class="txt_kiri">社会人</strong>の方まで、効率良く学習を継続できるプランをご用意しております。</p>
                <p>カリキュラムの開発はNextstageなどの人気の英語教科書を生み出している<strong><a href="https://www.kirihara.co.jp/" target="_blank">「桐原書店」</a></strong>が担当、数多くの英語著書を持つ英語講師<strong><a href="http://www.learningconnections.co.jp/" target="_blank">「早川幸治（Jay）先生」</a></strong>を監修者として参加頂き、共同で準備いたしました。<br>また、オンラインレッスンは日本人講師メインのオンライン英会話<strong><a href="https://www.worldtalk.jp/" target="_blank">「ワールドトーク」</a></strong>に所属している、英検やTOEIC&reg; L&amp;Rテストの指導実績が豊富な日本人講師がレッスンを実施します。</p>

                <p>他社では絶対に真似出来ない、数多くの強力なメソッドが詰まったプログラムをご提供させていただきます！<br>皆さまの目標達成（合格・スコアアップ）を実現させますので、少しでもKIRIHARA Online Academyに興味をお持ちいただけましたら、是非、各プログラムの体験レッスンをご受講ください。<br>
                  皆さまのご参加を心よりお待ちしております！</p>
              </div>
              <!--<div class="col-12 col-md-6">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rqwFddMQ5-I?rel=0&theme=light&showinfo=0&autohide=1&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen onclick="ga('send','event','movie','click','mv_suzu');"></iframe>
                  </div>
                </div>
                <p class="text-center">コース監修者：早川幸治（Jay）先生からのメッセージ</p>
              </div>-->
            </div>
            <div class="row mb-5">
              <div class="col-12 text-center">

                <div class="wt_mvbtn"><a href="%ssl_host_url%/WTE/reg.cgi" class="btn btn-danger rounded-pill btn-lg">ご希望の対策はありますか？<br>体験レッスンを受講したい方はこちらへ
                  </a></div>
              </div>
            </div>
          </div>
        </section>



        <section class="wt_sec_turquoise">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">KIRIHARA Online Academyでは他社では決して真似出来ない<br>
                  <strong>7つの大きな強み</strong>があります！</h2>
                <h3 class="text-center wt_copy mb-5">「自己学習 × オンラインレッスン」を組み合わせたレッスンカリキュラムで<br class="d-none d-md-block">効率的にスコアアップや合格に繋がる仕組みをつくる</h3>
              </div>
            </div>

            <div class="row mb-5">
              <div class="col-12 col-md-4 bordbox bordbox-r-lt">
                <div class="text-center mt-2 mb-4 pb-1"><img src="/assets/img/index/img_strong_01.png"></div>
                <h4>Nextstageなど人気英語教科書の桐原書店が開発したオンラインカリキュラム</h4>
                <p>Nextstageなど学生に人気の教科書を開発している桐原書店が学習者を合格に導く短期集中カリキュラムを開発しました！</p>
              </div>
              <div class="col-12 col-md-4 bordbox">
                <div class="text-center mt-2 mb-4 pb-1"><img src="/assets/img/index/img_strong_02.png"></div>
                <h4>実際に英検やTOEIC&reg;を経験している指導実績豊富な日本人講師</h4>
                <p>日本人講師のオンライン英会話ワールドトークから、実際に英検・TOEIC&reg;の指導実績豊富な日本人講師が学習を指導します</p>
              </div>
              <div class="col-12 col-md-4 bordbox bordbox-r bordbox-r-rt">
                <div class="text-center mt-2 mb-4 pb-1"><img src="/assets/img/index/img_strong_03.png"></div>
                <h4>忙しい学生でも効率的に学べる、50分全8回の短期集中資格対策カリキュラム</h4>
                <p>忙しいからこそ、資格対策は短期集中で効率的に学習したい！50分8回のオンラインレッスンで試験当日までしっかり指導</p>
              </div>
              <div class="col-12 col-md-3 bordbox bordbox-b bordbox-r-lb">
                <div class="text-center mt-2 mb-4 pb-1"><img src="/assets/img/index/img_strong_04.png"></div>
                <h4>英語講師早川幸治（Jay）先生がカリキュラム監修！</h4>
                <p>コース監修は英語講師早川幸治（Jay）先生！自らが合格に至った学習メソッドを凝縮</p>
              </div>
              <div class="col-12 col-md-3 bordbox bordbox-b">
                <div class="text-center mt-2 mb-4 pb-1"><img src="/assets/img/index/img_strong_05.png"></div>
                <h4>教材+オンラインレッスンによる無駄のない学習方法</h4>
                <p>各コースには指定教材があり。教材とオンラインレッスンで無駄なく学習が可能</p>
              </div>
              <div class="col-12 col-md-3 bordbox bordbox-b">
                <div class="text-center mt-2 mb-4 pb-1"><img src="/assets/img/index/img_strong_06.png"></div>
                <h4>早川幸治先生の英語学習のための教材動画が視聴可能！</h4>
                <p>会員特典として、早川幸治先生の英語学習のための教材動画も視聴が可能です。</p>
              </div>
              <div class="col-12 col-md-3 bordbox bordbox-r bordbox-b bordbox-r-rb">
                <div class="text-center mt-2 mb-4 pb-1"><img src="/assets/img/index/img_strong_07.png"></div>
                <h4>定期開催の無料セミナーで早川先生に直接学習相談も！</h4>
                <p>毎月、定期的に開催している無料のセミナーで直接早川幸治先生に質問が出来ます！</p>
              </div>
            </div>

          </div>
        </section>


        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">KIRIHARA Online Academyの開発した指導カリキュラムは<br>
                  <strong class="text-primary">教材・自己学習</strong>と<strong class="text-primary">オンラインレッスン</strong>を組み合わせた<br>
                  <strong class="text-primary">ハイブリッド</strong>な学習カリキュラム！</h2>
                <p>KIRIHARA Online Academyでは教材を使った自主学習と日本人講師の丁寧なオンラインレッスンの2つを組み合わせ、学習者が最短で目標を達成できるようなカリキュラムを構築しています。</p>
              </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1 mb-5 d-none d-md-block">
              <img src="/assets/img/index/theme_cur_p.jpg" alt="" class="w-100 h-auto">
            </div>
            <div class="col-12 col-md-10 offset-md-1 mb-5 d-md-none">
              <img src="/assets/img/index/theme_cur_s.jpg" alt="" class="w-100 h-auto">
            </div>
            <div class="row">
              <div class="col-12">
                <h3 class="text-center">こんなお悩みを解決できます</h3>
                <ul class="list-unstyled mb-5 text-center">
                  <li><span class="fas fa-check text-secondary" aria-hidden="true"></span>試験当日までに目標に必要な英語力を身につけたい</li>
                  <li><span class="fas fa-check text-secondary" aria-hidden="true"></span>当日までの貴重な時間を無駄なく対策に使いたい</li>
                  <li><span class="fas fa-check text-secondary" aria-hidden="true"></span>1人だと継続する意志を保てないので学習を見てほしい</li>
                  <li><span class="fas fa-check text-secondary" aria-hidden="true"></span>受験や期末試験で忙しいので短期集中で学習したい</li>
                  <li><span class="fas fa-check text-secondary" aria-hidden="true"></span>何としても試験で結果を残したい</li>
                </ul>
                <p>こんなお悩みをお持ちの方はKIRIHARA Online Academyにお任せください！<br>もし、カリキュラムについて一度試してみたい方は、無料カリキュラムを体験いただけますので、是非お気軽にお申し付けください。</p>
              </div>
            </div>
          </div>
        </section>

        <!--<section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">KIRIHARA Online Academy</strong> の特徴</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 text-center wt_feature wt_feature_1">
                <img src="/assets/img/index/feature_1.jpg" alt="TOEIC・英検対策のための本格的なカリキュラムを準備" class="w-100 rounded">
                <h3 class="mb-5"><strong>TOEIC・英検</strong>対策のための本格的なカリキュラムを準備</h3>
                <p class="text-left">桐原書店オリジナルのTOEICや英検対策を効率化する、本格的なプログラムを準備いたしました。皆さまのTOEICのスコアアップや英検の合格に是非ご活用ください。</p>
              </div>
              <div class="col-12 col-md-4 text-center wt_feature wt_feature_2">
                <img src="/assets/img/index/feature_2.jpg" alt="TOEIC界のカリスマ講師早川幸治先生が監修！" class="w-100 rounded">
                <h3 class="mb-5">TOEIC講師<br><strong>早川幸治先生</strong>が監修！</h3>
                <p class="text-left">当スクールで提供するコースの監修を、TOEIC講師として有名な早川幸治先生が行っています。「出題傾向に慣れ」「英語力を身に付け」「解答方法を身に付ける」効果的な学習法を提供します。</p>
              </div>
              <div class="col-12 col-md-4 text-center wt_feature wt_feature_3">
                <img src="/assets/img/index/feature_3.jpg" alt="日本人英語講師があなたの学習をマンツーマンサポート" class="w-100 rounded">
                <h3 class="mb-5"><strong>日本人英語講師</strong>があなたの学習をマンツーマンサポート</h3>
                <p class="text-left">TOEICや英検の対策において、学習計画の作成と毎日の学習の継続は欠かせません。資格対策の得意な日本人講師があなたの目標達成に寄り添い、計画的な学習のサポートをさせていただきます。</p>
              </div>
            </div>


          </div>
        </section>-->

        <!--<section class="wt_sec_bg_1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">TOEICや英検対策でこんな<strong class="text-primary">お悩み</strong>ありませんか？</h2>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center">
          <img src="./assets/img/index/case_1.jpg" alt="自分がわかるまで質問ができる" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center">
          <div class="wt_fukidashi p-5">
            <h3><span class="fas fa-check"></span><strong>独学</strong>で勉強をするのがむずかしい方</h3>
            <p class="text-left">動画や教材、アプリなど試験対策のためのツールは色々あるけど、何が一番効果的なのかわからない。一人だとどうしてもモチベーションが続かない。そんな方にオンラインレッスンをお薦めしています！</p>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center order-md-2">
          <img src="./assets/img/index/case_2.jpg" alt="自分の間違いや癖を修正できる" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center order-md-1">
          <div class="wt_fukidashi p-5">
            <h3><span class="fas fa-check"></span>最も<strong>効率の良い</strong>方法を実践したい方</h3>
            <p class="text-left">仕事や習い事で忙しいからこそ、効率よく試験対策を行いたいという方に。指定したカリキュラムに沿って、あなた専用の講師があなたの進捗管理やレベルチェックもしてくれます。</p>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center">
          <img src="./assets/img/index/case_3.jpg" alt="今後の学習方法を相談できる" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center">
          <div class="wt_fukidashi p-5">
            <h3><span class="fas fa-check"></span>子どもの<strong>進学や成績</strong>に役立てたい方</h3>
            <p class="text-left">週数回のオンライン英会話レッスンだけで、すぐに英語力を向上させるのはとても難しく、レッスン以外の毎日の学習もとても重要となります。同じように1から英語を覚えていった日本人講師だからこそ、効果的な学習相談ができると考えています。</p>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center order-md-2">
          <img src="./assets/img/index/case_4.jpg" alt="自分の間違いや癖を修正できる" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center order-md-1">
          <div class="wt_fukidashi p-5">
            <h3><span class="fas fa-check"></span>グローバルな環境で<strong>成長</strong>していきたい方</h3>
            <p class="text-left">自分の間違いや癖を、正しく指摘してくれるコーチがいると一気に学力は向上します。文法の間違いや、発音の癖など、細かい修正は日本語による説明がとても重要になります。日本人講師だからこそ、弱い部分を明確に指導することができるのです。</p>
          </div>
        </div>
      </div>
    </div>
  </section>-->

        <!--<section class="pb-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">ワールドトークの日本人講師の<br class="d-block d-sm-none"><strong class="text-primary">特徴</strong></h2>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row wt_sec_blue">
        <div class="col-12 col-md-6 p-5 order-md-2">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-md-11 col-xl-10 p-5">
              
              <h3 class="mb-5">ワールドトークの<br>質の高い日本人講師を採用</h3>
              <p class="mb-5">英検対策やTOIEC対策を行う上で、実際に試験を経験している日本人講師が生徒のみなさまに伴走させていただく形が最も効率の良い方法です。<br>日本人講師をメインとするオンライン英会話「ワールドトーク」より、人気の高い丁寧な講師が皆さまの学習をサポートさせていただきますので、安心してご利用いただけます。</p>
              <p><a href="/wte/prflstfrm" class="btn btn-secondary rounded-pill wt_btn">登録している講師を見る</a></p>
            </div>
            <div class="col-md-1 col-xl-2"></div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-md-0 order-md-1 wt_bg_strength_1">
        </div>
      </div>
      <div class="row wt_sec_turquoise">
        <div class="col-12 col-md-6 p-5">
          <div class="row h-100 align-items-center">
            <div class="col-md-1 col-xl-2 col-xxl-3"></div>
            <div class="col-12 col-md-11 col-xl-10 p-5">
              
              <h3 class="mb-5">桐原書店の<br>資格対策に特化した教材を活用</h3>
              <p class="mb-5">英語教材から、学校の教科書まで教育に特化した出版会社「桐原書店」が、各プログラムにおける教材支援を行っております。<br>TOEIC対策のための豊富なテキストや、各プログラム毎の教材選定など、受験において最適なご利用教材をご案内させていただきます。</p>
              <p><a href="/wte/text" class="btn btn-secondary rounded-pill wt_btn">使用教材のご紹介</a></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-md-0 wt_bg_strength_2">
        </div>
      </div>
      <div class="row wt_sec_navy">
        <div class="col-12 col-md-6 p-5 order-md-2">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-md-11 col-xl-10 p-5">
              
              <h3 class="mb-5">カリスマ講師！<br>早川幸治先生がプログラムを監修</h3>
              <p class="mb-5">ワールドトーク×桐原書店では、全てのプログラムに対し、「カリスマTOEIC講師」として知られる早川幸治先生にプログラム監修を行っていただいております。<br>資格対策のプロフェッショナルが考えた、TOEICの点数アップ、英検の合格までのカリキュラムを、生徒の皆さまにご提供いたします。</p>
              <p><a href="/wte/text" class="btn btn-secondary rounded-pill wt_btn">早川幸治先生インタビュー</a></p>
            </div>
            <div class="col-md-1 col-xl-2"></div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-md-0 order-md-1 wt_bg_strength_3">
        </div>
      </div>
    </div>
  </section>-->

        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検・TOEIC&reg; L&amp;Rテスト<strong class="text-primary">対策コースのご紹介</strong></h2>
                <p class="text-center">KIRIHARA Online Academyでは試験対策に特化したコースを用意しています！<br>気になるコースの詳細をご確認いただき、興味がありましたら一度ご体験ください。</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 mb-5">
                <div class="wt_card text-center">
                  <a href="/wte/toeic"><img src="/assets/img/index/service_1.jpg?1" alt="TOEIC BRIDGE L&amp;Rテスト対策コース" class="w-100"></a>
                  <h3>TOEIC&reg; L&amp;Rテスト突破コース</h3>
                  <h4>TOEIC&reg; L&amp;Rテスト受験が<strong class="txt_kiri">はじめての人</strong>でも安心！<br><strong class="txt_kiri">初心者～中級社向け</strong>カリキュラム</h4>
                  <!--<ul class="wt_card_tagli">
                    <li>対象：<span class="wt_card_tag">高校生</span><span class="wt_card_tag">大学生</span><span class="wt_card_tag">大人</span></li>
                  </ul>-->
                  <p class="text-left">就職や転職、大学の単位習得のために、TOEIC&reg; L&amp;Rテストの受験が必要な方にお薦めのカリキュラムです。</p>
                  <p class="text-left">スコアアップのためには、TOEIC&reg; L&amp;Rテストがどういう試験なののを理解が必要です。<br>
                    カリキュラムでは、早川幸治先生の著書教材を利用し<strong>「Part1～Part7」</strong>までの<strong>「基礎力」</strong>を身につけ、公式問題集を使った実際のテストに近い問題で<strong>「解く力とスピード」</strong>を養います。<br>
                    カリキュラムでは、早川幸治先生の著書教材を利用し<strong>「Part1～Part7」</strong>までの<strong>「基礎力」</strong>を身につけ、公式問題集を使った実際のテストに近い問題で<strong>「解く力とスピード」</strong>を養います。<br>
                    オンラインレッスンでは、マンツーマンで講師が<strong>「不明点の解説」</strong>や<strong>「学習法の教示」</strong>により、効率的にスコアアップを実現させます。</p>
                  <a href="/wte/toeic" class="text-center btn btn-secondary rounded-pill wt_btn_sm">TOEIC&reg; L&amp;Rテスト対策コースの詳細を見る</a>
                </div>
              </div>
              <div class="col-12 col-md-6 mb-5">
                <div class="wt_card text-center">
                  <a href="/wte/eiken1"><img src="/assets/img/index/service_2.jpg?1" alt="英検一次試験対策コース" class="w-100">
                  </a>
                  <h3>英検一次試験対策コース</h3>
                  <h4><strong class="txt_kiri">基礎から応用</strong>まで、<br>短期間で英検合格のための<strong class="txt_kiri">総合的</strong>な力を身につける</h4>
                  <!--<ul class="wt_card_tagli">
                    <li>対象：<span class="wt_card_tag">小学生</span><span class="wt_card_tag">中学生</span><span class="wt_card_tag">高校生</span></li>
                  </ul>-->
                  <p class="text-left">受験や進学、英語力の向上のために、小学生から中学制、高校生に人気の、英検に特化したカリキュラムです。</p>

                  <p class="text-left">英検の合格のためには、級に応じた必要な英語力の獲得が必要不可欠です。<br>
                    カリキュラムでは、<strong>「単語」「文法」「リスニング」「読解」「ライティング」</strong>といった<strong>「基礎力」</strong>のベースアップと共に、英検の過去問を使った<strong>「応用力」</strong>の向上も目指します。<br>
                    また、オンラインレッスンにより、<strong>「苦手やつまづき」</strong>のチェックと<strong>「改善」</strong>を行うことで、英検一次試験合格の力を身に付けられます。</p>
                  <!--<a href="/wte/eiken1" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>-->
                  <a href="/wte/eiken1" class="text-center btn btn-secondary rounded-pill wt_btn_sm">英検一次試験対策コースの詳細を見る</a>
                </div>
              </div>
              <div class="col-12 col-md-6 mb-5">
                <div class="wt_card text-center">
                  <a href="/wte/eiken2"><img src="/assets/img/index/service_4.jpg?1" alt="英検二次試験対策コース" class="w-100">
                  </a>
                  <h3>英検二次試験対策コース</h3>
                  <h4><strong class="txt_kiri">スピーキングの型</strong>を身につけ、<br>二次試験をしっかり合格させます</h4>
                  <!--<ul class="wt_card_tagli">
                    <li>対象：<span class="wt_card_tag">中学生</span><span class="wt_card_tag">高校生</span></li>
                  </ul>-->
                  <p class="text-left">英検の一次試験が合格すると、すぐに二次試験がやってきます。試験突破を無駄にしないための追加対策カリキュラムです。</p>

                  <p class="text-left">英検の二次試験突破の鍵は、ただ闇雲にスピーキングのトレーニングをするのではなく、英検が求めている<strong>「型」</strong>をしっかりと理解し、身に付けることが大切です。<br>
                    このコースでは教材を活用した<strong>「型」</strong>の習得と、オンラインレッスンによる<strong>「模擬面接」</strong>と講師の<strong>「フィードバック」</strong>で、二次試験を合格するための力と、本番のパフォーマンスに向けた自信を身に付けられます。</p>
                  <a href="/wte/eiken2" class="text-center btn btn-secondary rounded-pill wt_btn_sm">英検二次試験対策コースの詳細を見る</a>
                </div>
              </div>
              <div class="col-12 col-md-6 mb-5">
                <div class="wt_card text-center">
                  <a href="/WTE/reg.cgi?m=essay"><img src="/assets/img/index/service_6.jpg?1" alt="小論文コース" class="w-100">
                  </a>
                  <h3>小論文コース</h3>
                  <h4><strong class="txt_kiri">小論文の</strong>プロフェッショナルが<br>オンラインで指導いたします</h4>
                  <!--<ul class="wt_card_tagli">
                    <li>対象：<span class="wt_card_tag">中学生</span><span class="wt_card_tag">高校生</span></li>
                  </ul>-->
                  <p class="text-left">のべ数千校以上から講演依頼殺到している桐原書店の小論文講座をオンラインでもスタートいたしました！</p>

                  <p class="text-left">設立してから50年、教育出版社の桐原書店が最新の<strong>入試傾向</strong>を抑えた、いつでもどこでも学習できる小論文の書き方講座です。<br>
                    短期で集中してトレーニングするために、<strong>4つの動画での講義</strong>に内容を凝縮しています。<br>わかりやすく、そして何度でも見直し復習ができるから、学びを定着させることができます。<br>安価で充実した対策を行うためにも是非ご利用ください。</p>
                  <a href="/WTE/reg.cgi?m=essay" class="text-center btn btn-secondary rounded-pill wt_btn_sm">小論文コースの詳細を見る</a>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section style="display:none;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">登録している<strong class="text-primary">日本人</strong>講師一覧</h2>
                <p></p>
              </div>
              <div class="col-12 owl-carousel owl-carousel-cr mb-5">
                <TMPL_LOOP NAME="pref_score_loop" PROF_INTRO_CHARS="40" LIMIT="14">
                  <div class="wt_carousel p-4 p-sm-5">
                    <a href="%ssl_host_url%/wte/prfdtlfrm/%prof_id%"></a>
                    <TMPL_IF NAME="prof_logo">
                      <img src="%prof_logo_2_url%" alt="%prof_handle% 先生" class="rounded-circle w-100 mb-4" />
                      <TMPL_ELSE>
                        <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle% 先生" class="rounded-circle w-100 mb-4" />
                    </TMPL_IF>
                    <h4 class="text-center mb-4">%prof_handle%</h4>
                    <p class="mb-0">%prof_intro%</p>
                  </div>
                </TMPL_LOOP>
              </div>
            </div>
          </div>
        </section>

        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">まずはカリキュラムを試してみよう！<br>体験までの流れをご説明いたします</h2>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_1 mb-5">
                <span class="wt_flow_step"><span class="lead">1</span></span>
                <img src="/assets/img/index/flow_1.png" alt="自分がわかるまで質問ができる" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-5 tex_kiri">まずは会員登録を<br>お願いします。</h3>
              </div>
              <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_2 mb-5">
                <span class="wt_flow_step"><span>2</span></span>
                <img src="/assets/img/index/flow_1-2.png" alt="自分の間違いや癖を修正できる" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-5 tex_kiri">ご希望のコースを<br>選択します。</h3>
              </div>
              <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_3 mb-5">
                <span class="wt_flow_step"><span>3</span></span>
                <img src="/assets/img/index/flow_2.png" alt="今後の学習方法を相談できる" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-5 tex_kiri">講師を選んで<br>予約します。</h3>
              </div>
              <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_4 mb-5">
                <span class="wt_flow_step"><span>4</span></span>
                <img src="/assets/img/index/flow_3.png" alt="今後の学習方法を相談できる" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-5 tex_kiri">時間が来たら体験<br>レッスンスタート</h3>
              </div>
            </div>
          </div>
        </section>

        <section class="wt_sec_turquoise">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><br class="d-block d-sm-none"><strong>学校関係者</strong>の皆さまへ</h2>
                <p>生徒への英検対策メニューをもっと充実させたいとお考えの学校関係者の皆さま、是非KIRIHARA Online Academyを一度お試しください。<br>桐原書店の担当より、まずはヒアリングをさせていただきます。<br>下記リンクより、まずは気軽にお問い合わせください。</p>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-12 text-center">
                <a href="https://www.kirihara.co.jp/koa_school_form/" target="_blank" class="btn btn-light rounded-pill wt_btn">学校関係者様お問い合わせ</a>
              </div>
            </div>
          </div>
        </section>

        <!-- news section -->
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><br class="d-block d-sm-none">KOA<strong class="text-primary">ブログ</strong></h2>
                <p class="text-center">現在、TOEIC&reg; L&amp;Rテスト対策のコンテンツを執筆中です！TOEIC対策をされている方は是非ご一読ください。</p>
              </div>
            </div>
            <div class="container">
              <div id="feed" class="row">

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/toeic-500/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/04/toeic500_main-1.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>TOEIC&reg; 500点はどのくらいのレベル？【TOEIC&reg; L&amp;Rテスト初心者はまずはここから目指そう！】</h3>
                        <p class="date">2022年4月21日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/toeic-730/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/02/730_main.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>TOEIC&reg; 730点はどのくらいのレベル？【最短距離での学習方法も紹介！】</h3>
                        <p class="date">2022年2月4日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/ondoku/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/02/ondoku_main.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>音読を活用したTOEIC&reg;の学習法【ぐんぐん英語力が伸びる効果的な勉強方法】</h3>
                        <p class="date">2022年2月7日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/toeic-part1/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/04/part1_main.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>TOEIC&reg; L&amp;RテストPart1の写真描写問題は確実に！対策と学習方法を公開</h3>
                        <p class="date">2022年4月12日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/toeic-part2/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/04/part2_main.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>TOEIC L&amp;RテストPart2対策方法は？「応答問題」はココに気を付けよう！</h3>
                        <p class="date">2022年4月5日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/toeic-part3/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/04/part3_main.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>TOEIC&reg; L&amp;RテストのPart3を対策しよう！会話問題を聞き取るスキルを磨こう</h3>
                        <p class="date">2022年4月7日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/toeic-part4/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/04/part4_main.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>TOEIC&reg; L&amp;RテストのPart4対策は？リスニングで説明文問題を聞き取るコツは？</h3>
                        <p class="date">2022年4月7日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/toeic-part5/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/05/part5_main.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>初心者でもスコアアップを目指せる！TOEIC&reg; L&amp;RテストのPart5対策について</h3>
                        <p class="date">2022年5月26日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/toeic-part6/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/05/part6_main.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>苦手意識を克服！TOEIC&reg; L&amp;RテストのPart6対策と解き方のコツ</h3>
                        <p class="date">2022年5月31日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/toeic-part7/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/03/reading_main.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>TOEIC&reg; L&amp;Rテストの長文読解対策は？Part7対策のために多読・速読トレーニング</h3>
                        <p class="date">2022年3月31日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/toeic-kakikomi-workbook/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/02/kakikomi_main2.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>TOEIC&reg; L&amp;Rテスト対策の教材を書き込み式にした理由とは？【書き込みドリル編集者へのインタビューも】</h3>
                        <p class="date">2022年2月9日</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row colcont"><a href="https://academy.kirihara.co.jp/blog/toeic/official-workbook/"></a>
                    <div class="imgcont"><img src="https://academy.kirihara.co.jp/blog/wp-content/uploads/2022/02/exercise_main.jpg"></div>
                    <div class="align-middle">
                      <div class="h-100">
                        <h3>TOEIC&reg; L&amp;Rテスト対策なら「公式問題集」を使い込むのがオススメ！【効果的な使い方をご紹介】</h3>
                        <p class="date">2022年2月17日</p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><br class="d-block d-sm-none"><strong class="text-primary">運営事務局</strong>からのお知らせ</h2>
                <p class="text-center">運営事務局からのお知らせです。また、Twitterでは講師のスケジュール登録を確認できます。是非、フォローをお願いいたします。</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="wt_news">
                  <TMPL_LOOP NAME="ann_loop">
                    <h4>%ann_title%</h4>
                    <div class="idate">%ann_cdate_0%/%ann_cdate_1%/%ann_cdate_2%</div>
                    <p>%ann_content%</p>
                    <hr />
                  </TMPL_LOOP>
                </div>
              </div>
              <div class="col-12 col-md-4 top_twitter">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/KIRIHARA_WT?ref_src=twsrc%5Etfw">Tweets by KIRIHARA_WT</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
              <div class="col-12 col-md-4">
                <div class="fb-page" data-href="https://www.facebook.com/Wt_kiri-103615725247978" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                  <blockquote cite="https://www.facebook.com/Wt_kiri-103615725247978" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Wt_kiri-103615725247978">Wt_kiri</a></blockquote>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!--footer.html読み込み-->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">

          <style>
            #feed h3 {
              font-size: 1.7rem;
              margin: 15px 20px;
              margin-bottom: 0.5em;
              line-height: 1.6;
              font-weight: 500;
              height: 81.56px;
              overflow: hidden;
            }

            #feed p {
              font-size: 1.4rem;
              margin-bottom: 0;
            }

            #feed .date {
              font-size: 1.2rem;
              color: #888;
              margin: 15px;
              text-align: right;
            }

            .colcont {
              position: relative;
              margin-bottom: 1.5em;
              margin-right: -3px;
              margin-left: -3px;
              border-radius: 2px;
              background: #fff;
              -webkit-box-shadow: 0px 1px 3px rgb(0 0 0 / 18%);
              box-shadow: 0px 1px 3px rgb(0 0 0 / 18%);
              transition: all 300ms ease-out;
              -webkit-transition: all 300ms ease-out;
            }

            .colcont:hover {
              -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
              -webkit-box-shadow: 0px 3px 18px 3px rgb(0 0 0 / 8%);
              box-shadow: 0px 3px 18px 3px rgb(0 0 0 / 8%);
            }

            #feed a {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              text-indent: -999px;
              z-index: 2;
            }

            #feed .colcont img {
              width: 100%;
              height: auto;
              transition: all 300ms ease-out;
              -webkit-transition: all 300ms ease-out;
            }

            .imgcont {
              overflow: hidden;
              padding: 0;
            }

            .align-middle {
              display: flex;
              justify-content: center;
              align-items: center;
            }

          </style>


          <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
          <script>
            $(document).ready(function() {

              /* owl-carousel */
              $(".owl-carousel-mv").owlCarousel({
                loop: true,
                items: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                slideSpeed: 1500,
                dots: false
              });
              $(".owl-carousel-cr").owlCarousel({
                loop: true,
                autoplay: true,
                autoplaySpeed: 1000,
                responsive: {
                  0: {
                    items: 2,
                    margin: 5
                  },
                  768: {
                    items: 4,
                    margin: 15
                  },
                  992: {
                    items: 5,
                    margin: 15
                  },
                  1200: {
                    items: 6,
                    margin: 15
                  },
                  1600: {
                    items: 7,
                    margin: 15
                  }
                }
              });
              $(".owl-carousel-bnr").owlCarousel({
                loop: true,
                autoplay: true,
                autoplaySpeed: 750,
                center: true,
                responsive: {
                  0: {
                    items: 1,
                    margin: 5
                  },
                  768: {
                    items: 1,
                    margin: 15
                  },
                  992: {
                    items: 2,
                    margin: 30
                  },
                  1200: {
                    items: 2,
                    margin: 40
                  },
                  1600: {
                    items: 2,
                    margin: 60
                  }
                }
              });
            });

            //$(function(){
            //  feedBlog( 'https://academy.kirihara.co.jp/blog/feed/' , "#feed");
            //  
            //});

            function feedBlog(url, id, num, txt) {

              var pubDate, Dates, Dday, Dmonth, Dyear, dates;
              var title, postUrl, dates, description, firstImg;

              (num == null) ? num = 30: num = num;
              //    ( txt == null )?txt=25:txt=txt;

              $.ajax({
                url: url,
                dataType: 'xml',
                success: function(xml) {

                  var contents = '';
                  var i = 0;
                  $(xml).find("item").each(function(index) {

                    i++;
                    $this = $(this);

                    title = $this.find("title").text();
                    postUrl = $this.find("link").text();
                    pubDate = $this.find("pubDate").text();
                    description = $this.find("description").text();
                    description = description.replace(/<("[^"]*"|'[^']*'|[^'">])*>/g, '')
                    firstImg = $this.find("content\\:encoded, encoded").text();
                    firstImg = $(firstImg).find("img").first().attr("src");

                    Dates = new Date(pubDate);
                    Dday = Dates.getDate();
                    Dmonth = Dates.getMonth() + 1;
                    Dyear = Dates.getFullYear();

                    contents += '<div class="col-12 col-md-4"><div class="row colcont">';
                    contents += '<a href="' + postUrl + '"></a>';
                    contents += '<div class="imgcont">';
                    contents += '<img src="' + firstImg + '" />';
                    contents += '</div><div class="align-middle"><div class="h-100">';
                    contents += '<h3>' + strLengthCheck(title, txt) + '</h3>';
                    contents += '<p class="date">' + Dyear + '年' + Dmonth + '月' + Dday + '日</p>';
                    //                contents += '<p>' + strLengthCheck ( description , txt )  + '</p>';
                    //                contents += '<p><a href="' + postUrl + '">' + '続きはこちら</a></p>';
                    contents += '</div></div></div></div>'

                    if (i == num) return false; //記事数で終了
                  });
                  $(id).append(contents);
                },
                error: function() {
                  console.log('error');
                }
              });
            };

            function strLengthCheck(txt, number) {

              if (txt == null) {
                return txt = "";
              } else if (txt.length > number) {
                return txt.substr(0, number) + "...";
              } else {
                return txt;
              }
            }

          </script>
</body>

</html>
