<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title><TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <TMPL_INCLUDE NAME="../include/analysis.html">
</head>

<body id="user" class="index">
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.9&appId=229437533792557";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>
  <TMPL_INCLUDE NAME="../include/header.html">

  <main role="main" class="wt_main">


  <section class="wt_mainvis">
    <div class="wt_catch">
      <div class="wt_catch_circle">
        <div>
        <p class="wt_catch_logo mb-3 d-none d-md-block"><img src="/assets/img/common/logo_w.svg" alt="ワールドトーク×桐原書店" class="w-100"></p>
        <p>英語が使える<br><span>未来</span>をつくる</p>
        <h1>桐原書店とワールドトークが共同開発する<br>学生のためのオンライン英会話</h1>
          <div class="wt_mvbtn"><a href="%ssl_host_url%/WTE/reg.cgi" class="btn btn-light rounded-pill btn-lg">無料体験<span class="d-none d-md-inline">レッスン</span>はこちら</a></div>
        </div>
      </div>
    </div>
    <ul class="wt_slider owl-carousel owl-carousel-mv">
      <li class="wt_slider01"></li>
      <li class="wt_slider02"></li>
    </ul>
  </section>
      
      
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
            <h2 class="text-center"><strong class="text-wt">ワールドトーク</strong>×<strong class="text_kirihara">桐原書店とは</strong></h2>
          <p class="wt_copy text-center mb-5">（ワールドトーク for students powered by 桐原書店）</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
         <p>ワールドトーク×桐原書店とは、学校教育を受けている学生の悩みや課題を解決するために、日本人講師のオンライン英会話<strong class="wt_marker">「ワールドトーク」</strong>と英語の教科書や教材の出版社でもある<strong class="wt_marker">「桐原書店」</strong>が共同開発した、新しいオンライン英会話スクールです。</p>
         <p>グローバル化が進む現代において、学生にとって英語力の強化は非常に重要な課題となります。<br>英語への苦手意識を克服し、世界で活躍できるよう、学校教育に合わせた英語学習をオンラインにて提供いたします。</p>
          <p>桐原書店の教科書や教材のノウハウと、ワールドトークに所属する品質の高い日本人講師が学生の英語教育をマンツーマンでサポートいたします。</p>
          <p>まずは、実際のレッスン風景を動画にてご覧ください。皆様の目標に寄り添った指導を心がけています。</p>
        </div>
        <!--<div class="col-12 col-md-6">
          <div class="wt_youtube_cont">
            <div class="wt_youtube">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/yg71xUGAie8?rel=0&theme=light&showinfo=0&autohide=1&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen onclick="ga('send','event','movie','click','mv_suzu');"></iframe>
            </div>
          </div>
          <p class="text-center">人気講師HIROKI先生のレッスン動画です！是非ご覧ください。</p>
        </div>-->
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="/p/about" class="btn btn-secondary rounded-pill wt_btn">ワールドトークについて</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">こんな方に<strong class="text-primary">お薦め</strong>のサービスです</h2>
          <p class="text-center">ワールドトーク×桐原書店ではこのような目標やお悩みを持つ方にお薦めのサービスです。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 text-center wt_feature wt_feature_1">
          <img src="./assets/img/index/feature_1.jpg" alt="自分がわかるまで質問ができる" class="w-100 rounded">
          <h3><strong>TOEIC</strong>を始めたい・点数を伸ばしたい</h3>
          <p class="text-left">ワールドトークのレッスンは、わからないことは日本語で質問OKというスタンスで提供しています。質問ができるから初めて学べるのだと考えています。日本人講師にわからないことは何でも質問してください。理解することが何よりも大事です。</p>
        </div>
        <div class="col-12 col-md-4 text-center wt_feature wt_feature_2">
          <img src="./assets/img/index/feature_2.jpg" alt="自分の間違いや癖を修正できる" class="w-100 rounded">
          <h3><strong>英検受験</strong>を進学や学力向上に役立てたい</h3>
          <p class="text-left">自分の間違いや癖を、正しく指摘してくれるコーチがいると一気に学力は向上します。文法の間違いや、発音の癖など、細かい修正は日本語による説明がとても重要になります。日本人講師だからこそ、弱い部分を明確に指導することができるのです。</p>
        </div>
        <div class="col-12 col-md-4 text-center wt_feature wt_feature_3">
          <img src="./assets/img/index/feature_3.jpg" alt="今後の学習方法を相談できる" class="w-100 rounded">
          <h3><strong>総合選抜型入試</strong>のため英語の成績を上げたい</h3>
          <p class="text-left">週数回のオンライン英会話レッスンだけで、すぐに英語力を向上させるのはとても難しく、レッスン以外の毎日の学習もとても重要となります。同じように1から英語を覚えていった日本人講師だからこそ、効果的な学習相談ができると考えています。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="/p/merit" class="btn btn-secondary rounded-pill wt_btn">日本人講師って何がいいの?</a>
        </div>
      </div>
    </div>
  </section>

  <section class="wt_sec_bg_1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">充実したコース一覧</h2>
          <p class="text-center">ワールドトーク×桐原書店では学生の皆様の目標に合わせ、様々なコースを用意しています。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="wt_card text-center">
            <a href="/mypages/eiken"><img src="./assets/img/index/service_1.jpg?1" alt="TOEIC BRIDGE L&amp;Rテスト対策コース" class="w-100"></a>
            <h3>TOEIC BRIDGE L&amp;Rテスト対策コース</h3>
            <ul class="wt_card_tagli">
                <li>対象：<span class="wt_card_tag">中学生</span><span class="wt_card_tag">高校生</span></li>
            </ul>
            <p class="text-left">TOEICへの架け橋として、中学生やTOEIC受験が初めての方にお薦めのTOEIC BRIDGE L&amp;Rテスト。<br>TOEICのカリスマ講師早川幸治先生監修のプログラムをご用意しています。</p>
            <a href="/mypages/eiken" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="wt_card text-center">
            <a href="/mypages/toeic"><img src="./assets/img/index/service_2.jpg?1" alt="TOEIC L&amp;Rテスト対策コース" class="w-100"></a>
            <h3>TOEIC L&amp;Rテスト対策コース</h3>
            <ul class="wt_card_tagli">
                <li>対象：<span class="wt_card_tag">高校生</span><span class="wt_card_tag">大学生</span><span class="wt_card_tag">大人</li>
            </ul>
            <p class="text-left">日常英語やビジネス英語の英語力を測る指標として知られるTOEIC L&amp;Rテスト。<br>カリスマ講師早川幸治先生監修のプログラムにより、得点アップに向けた指導を行います。</p>
            <a href="/mypages/toeic" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="wt_card text-center">
            <a href="/mypages/grammar"><img src="./assets/img/index/service_3.jpg?1" alt="Whats'up? （SDG’s）レッスン" class="w-100"></a>
            <h3>Whats'up? （SDG’s）レッスン</h3>
            <ul class="wt_card_tagli">
                <li>対象：<span class="wt_card_tag">高校生</span></li>
            </ul>
            <p class="text-left">桐原書店で出版している英語教材「Whats'up?」を使ったレッスン。<br>様々なTOPICを使い、文化や教養などを伝える幅広い英語学習にご利用いただけます。</p>
            <a href="/mypages/grammar" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="wt_card text-center">
            <a href="/mypages/kids"><img src="./assets/img/index/service_4.jpg?1" alt="英検対策コース（5級?2級）" class="w-100"></a>
            <h3>英検対策コース（5級?2級）</h3>
            <ul class="wt_card_tagli">
                <li>対象：<span class="wt_card_tag">小・中学生</span><span class="wt_card_tag">高校生</span><span class="wt_card_tag">大学生</span></li>
            </ul>
            <p class="text-left">受験や留学など取得に様々なメリットがある英検対策。 <br>英語の4技能強化のための基礎的な力を付けるためにお薦めです。</p>
            <a href="/mypages/kids" class="text-center btn btn-secondary rounded-pill wt_btn_sm">2021年10月開講予定</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0">
          <div class="wt_card text-center">
            <a href="/mypages/accent"><img src="./assets/img/index/service_5.jpg?1" alt="英検対策コース（準1級?1級）" class="w-100"></a>
            <h3>英検対策コース（準1級?1級）</h3>
            <ul class="wt_card_tagli">
                <li>対象：<span class="wt_card_tag">高校生</span><span class="wt_card_tag">大学生</span><span class="wt_card_tag">大人</span></li>
            </ul>
            <p class="text-left">発音レッスンはネイティブ講師からと思いがちですが、日本人だからこそ、具体的で細かい指導が可能です。また、日本人が不得意とする発音のパターンも理解しているからこそ、効率的に正しい発音を身に着けることが可能です。</p>
            <a href="/mypages/accent" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center"><strong class="text-primary">お薦めの</strong>日本人講師</h2>
          <p></p>
        </div>
        <div class="col-12 owl-carousel owl-carousel-cr mb-5">
          <TMPL_LOOP NAME="pref_score_loop" PROF_INTRO_CHARS="40" LIMIT="10">
          <div class="wt_carousel p-4 p-sm-5">
            <a href="%ssl_host_url%/wte/prfdtlfrm/%prof_id%"></a>
            <TMPL_IF NAME="prof_logo">
            <img src="%prof_logo_2_url%" alt="%prof_handle% 先生" class="rounded-circle w-100 mb-4" />
            <TMPL_ELSE>
            <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle% 先生" class="rounded-circle w-100 mb-4" />
            </TMPL_IF>
            <h4 class="text-center mb-4">%prof_handle%</h4>
            <p class="mb-0">%prof_intro%</p>
          </div>
          </TMPL_LOOP>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">日本人講師でも<br class="d-block d-sm-none"><strong class="text-primary">お得な</strong>料金プラン</h2>
        </div>
      </div>
      <div class="row wt_plan mb-5">
        <div class="col-6 col-md-15">
          <h4 class="text-center">お手軽コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><span>税抜価格</span><strong>3,000</strong>円/月</li>
            <li class="list-group-item text-primary"><span>付与チケット</span><strong>3,000</strong>pt</li>
            <li class="list-group-item"><span>有効期限</span>1ヶ月</li>
            <li class="list-group-item"><span>予約保持数</span>4コマ</li>
            <li class="list-group-item"><span>受講回数</span>1~11回</li>
            <li class="list-group-item d-none"><span>1コマ</span>25分</li>
          </ul>
        </div>
        <div class="col-6 col-md-15">
          <h4 class="text-center">基本コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><span>税抜価格</span><strong>5,000</strong>円/月</li>
            <li class="list-group-item text-primary"><span>付与チケット</span><strong>5,000</strong>pt</li>
            <li class="list-group-item"><span>有効期限</span>1ヶ月</li>
            <li class="list-group-item"><span>予約保持数</span>4コマ</li>
            <li class="list-group-item"><span>受講回数</span>2~19回</li>
            <li class="list-group-item d-none"><span>1コマ</span>25分</li>
          </ul>
        </div>
        <div class="col-6 col-md-15">
          <h4 class="text-center ichioshi">イチ押しコース
            <div class="left-half"></div>
            <div class="right-half"></div>
          </h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><span>税抜価格</span><strong>6,000</strong>円/月</li>
            <li class="list-group-item text-danger"><span>付与チケット</span><strong>6,500</strong>pt</li>
            <li class="list-group-item"><span>有効期限</span>1ヶ月</li>
            <li class="list-group-item"><span>予約保持数</span>4コマ</li>
            <li class="list-group-item"><span>受講回数</span>2~25回</li>
            <li class="list-group-item d-none"><span>1コマ</span>25分</li>
          </ul>
        </div>
        <div class="col-6 col-md-15">
          <h4 class="text-center">集中コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><span>税抜価格</span><strong>10,000</strong>円/月</li>
            <li class="list-group-item text-primary"><span>付与チケット</span><strong>11,000</strong>pt</li>
            <li class="list-group-item"><span>有効期限</span>1ヶ月</li>
            <li class="list-group-item"><span>予約保持数</span>4コマ</li>
            <li class="list-group-item"><span>受講回数</span>4~42回</li>
            <li class="list-group-item d-none"><span>1コマ</span>25分</li>
          </ul>
        </div>
        <div class="col-6 col-md-15">
          <h4 class="text-center">徹底コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><span>税抜価格</span><strong>20,000</strong>円/月</li>
            <li class="list-group-item text-primary"><span>付与チケット</span><strong>22,000</strong>pt</li>
            <li class="list-group-item"><span>有効期限</span>1ヶ月</li>
            <li class="list-group-item"><span>予約保持数</span>4コマ</li>
            <li class="list-group-item"><span>受講回数</span>9~84回</li>
            <li class="list-group-item d-none"><span>1コマ</span>25分</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="/p/plan" class="btn btn-secondary rounded-pill wt_btn">料金の詳細はこちら</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center"><br class="d-block d-sm-none"><strong class="text-primary">体験</strong>レッスンの流れ</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 text-center wt_flow wt_flow_1">
          <img src="./assets/img/index/flow_1.jpg" alt="自分がわかるまで質問ができる" class="w-75 rounded-circle mb-5">
          <h3 class="mb-5">まずは無料で会員登録</h3>
          <p class="text-left">会員登録フォームから、プロフィールの登録をお願いいたします。登録は簡単！無料で出来ますのでご安心ください。</p>
        </div>
        <div class="col-12 col-md-4 text-center wt_flow wt_flow_2">
          <img src="./assets/img/index/flow_2.jpg" alt="自分の間違いや癖を修正できる" class="w-75 rounded-circle mb-5">
          <h3 class="mb-5">体験レッスンを予約します</h3>
          <p class="text-left">プロフィールの登録が終わったら、先生を検索してみましょう。気になる講師がいましたら予約を取ってみましょう。</p>
        </div>
        <div class="col-12 col-md-4 text-center wt_flow wt_flow_3">
          <img src="./assets/img/index/flow_3.jpg" alt="今後の学習方法を相談できる" class="w-75 rounded-circle mb-5">
          <h3 class="mb-5">時間が来たら体験スタート！</h3>
          <p class="text-left">レッスンの予約時間になりましたら、Google Meetに入室してください。講師からコールがありましたらレッスンスタートです！</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="/p/lessons" class="btn btn-secondary rounded-pill wt_btn">体験レッスンまでの流れ</a>
        </div>
      </div>
    </div>
  </section>
         
         
         
         
         
          <TMPL_IF NAME="session_member_handle">
            <TMPL_ELSE>
              <div class="row mgt50">
                <div class="col-xs-12">
                  <div class="mvbtn text-center"><a href="%ssl_host_url%/WTE/reg.cgi">無料体験はこちらから</a></div>
                </div>
              </div>
          </TMPL_IF>




      <!-- information section -->
      <section class="bggrey">
        <div class="container">
          <div class="row info">
            <div class="col-xs-12">
              <h1>お知らせ</h1>
            </div>
            <div class="col-xs-12">
              <div class="ibox">
                <TMPL_LOOP NAME="ann_loop">
                  <h4>%ann_title%</h4>
                  <div class="idate">%ann_cdate_0%/%ann_cdate_1%/%ann_cdate_2% 投稿</div>
                  <p>%ann_content%</p>
                </TMPL_LOOP>
              </div>
            </div>
          </div>
          <TMPL_IF NAME="session_member_handle">
            <TMPL_ELSE>
              <div class="row mgt50">
                <div class="col-xs-12">
                  <div class="mvbtn text-center"><a href="%ssl_host_url%/WTE/reg.cgi">無料体験はこちらから</a></div>
                </div>
              </div>
          </TMPL_IF>
        </div>
      </section>

    </div>
    

</main>

    <!--footer.html読み込み-->
    <TMPL_INCLUDE NAME="../include/footer.html">
      <TMPL_INCLUDE NAME="../include/foot.html">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script>
    $(document).ready(function() {

      /* fixed */
      jQuery(function() {
        var nav = jQuery('.wt_header');
        var offsetTop = nav.offset().top;
        var floatMenu = function() {
          if (jQuery(window).scrollTop() > 120) {
            nav.addClass('fixed');
          } else {
            nav.removeClass('fixed');
          }
        }
        jQuery(window).scroll(floatMenu);
        jQuery('body').bind('touchmove', floatMenu);
      });
      var topBtn = $('#scroll');
      $(window).scroll(function() {
        if ($(this).scrollTop() > 80) {
          topBtn.addClass('fixed');
        } else {
          topBtn.removeClass('fixed');
        }
      });

      /* owl-carousel */
      $(".owl-carousel-mv").owlCarousel({
        loop: true,
        items: 1,
        autoplay: true,
        autoplaySpeed: 1000,
        slideSpeed: 1500,
        dots: false
      });
      $(".owl-carousel-cr").owlCarousel({
        loop: true,
        autoplay: true,
        autoplaySpeed: 750,
        responsive: {
          0: {
            items: 2,
            margin: 5
          },
          768: {
            items: 4,
            margin: 15
          },
          992: {
            items: 5,
            margin: 15
          },
          1200: {
            items: 6,
            margin: 15
          },
          1600: {
            items: 7,
            margin: 15
          }
        }
      });
    });

  </script>
</body>

</html>
