<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>TOEIC&reg; L&amp;Rテスト突破コース｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="TOEIC&reg; L&amp;Rテスト突破コース｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/toeic" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/toeic" />
  <meta name="twitter:title" content="TOEIC&reg; L&amp;Rテスト突破コース｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
      
      <style>
          .wt_card img{
              width:180px;              
              padding:20px 10px;
              margin: 0 auto;              
              }
          .wt_card li,.wt_card p{
              font-size: 14px;
          }
      </style>
      
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_coursevis wt_head_toeic">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>TOEIC&reg; L&amp;Rテスト突破コース</h1>
                        <h4 class="text-center">TOEICのスコア500点以上を目指す方、730点以上を目指す方、TOEIC BRIDGE対策を行いたい方へ</h4>
                      </div>
                  </div>
              </div>
          </section>
          <section>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-center">オンライン英会話を活用し、マンツーマンの<strong class="txt_kiri">TOEIC対策レッスン</strong><br>短期集中で効率よくスコアアップを目指したい方へ</h2>
                  <p>「TOEIC&reg; L&amp;R テスト」はビジネスでよく使われる状況が出題されます。そのため高校までの学習範囲とは異なるものが多くありますがそれが無駄になるわけではなく、それまでの学習は土台になります。<br>「TOEIC&reg; L&amp;R テスト」対策に必要なものは以下の３つであり、本講座ではそれらを身につけることを目指すことで目標スコアの達成を図ります。</p>
                  <ol class="font-weight-bold mb-4">
                    <li>テスト形式や出題内容に慣れること</li>
                    <li>テストで求められる英語力を身に付けること</li>
                    <li>解答方法を身に付けること</li>
                  </ol>
                  <p>このコースでは、TOEIC各パートで問われている知識やスキルを磨くために、学習しやすく効果が出やすい順序に学習します。<br>徹底的に基礎固めを重視するため、学習時間に対する学習効果を高めることができます。</p>
                  <p>マンツーマン指導によるコーチングとティーチングにより、試験当日まで継続するためのモチベーションの維持や、分からない点や自分の弱い部分を攻略するための学習をサポートさせていただきます。</p>
                </div>
              </div>
            </div>
          </section>
 <section class="wt_sec_bg_1">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-center">TOEIC&reg; L&amp;Rテスト突破コースの<strong class="txt_kiri">特徴</strong></h2>
        </div>
      </div>
    <div class="row">
      <div class="col-12 col-md-4 text-center wt_feature wt_feature_1">
        <img src="/assets/img/index/feature_1.jpg" alt="教材を活用した効率的・効果的なレッスン" class="w-100 rounded">
        <h3 class="mb-5"><strong>教材を使った</strong>効率的・効果的なオンラインレッスン</h3>
        <p class="text-left">桐原書店オリジナルのTOEICを効率化する、本格的なプログラムを準備いたしました。皆さまのTOEICのスコアアップに是非ご活用ください。</p>
      </div>
      <div class="col-12 col-md-4 text-center wt_feature wt_feature_2">
        <img src="/assets/img/index/feature_2.jpg" alt="TOEIC界のカリスマ講師早川幸治先生が監修！" class="w-100 rounded">
        <h3 class="mb-5">TOEICに関する著書多数、<br>実力派の<strong>早川幸治先生</strong>が<br>監修！</h3>
        <p class="text-left">当スクールで提供するコースの監修を、TOEIC講師として有名な早川幸治先生が行っています。「出題傾向に慣れ」「英語力を身に付け」「解答方法を身に付ける」効果的な学習法を提供します。</p>
      </div>
      <div class="col-12 col-md-4 text-center wt_feature wt_feature_3">
        <img src="/assets/img/index/feature_3.jpg" alt="日本人英語講師があなたの学習をマンツーマンサポート" class="w-100 rounded">
        <h3 class="mb-5"><strong>日本人英語講師</strong>があなたの学習をマンツーマンサポート</h3>
        <p class="text-left">TOEICや英検の対策において、学習計画の作成と毎日の学習の継続は欠かせません。資格対策の得意な日本人講師があなたの目標達成に寄り添い、計画的な学習のサポートをさせていただきます。</p>
      </div>
    </div>
      
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center order-md-2">
          <img src="/assets/img/course/hayakawa.jpg" alt="早川幸治先生" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center order-md-1">
          <div class="wt_fukidashi p-5">
            <h3>コース監修 - 早川幸治（Jay）先生より</h3>
            <p class="text-left">TOEICに必要な<strong>「英語力」「情報処理能力」「対策力」</strong>の3つの力を効果的に身につけられる講座です。<br>ご受講いただく皆様のスコアアップを応援しております！</p>
          </div>
        </div>
      </div>
      
    </div>
          </section>


  <section class="wt_sec_turquoise">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">TOEIC&reg; L&amp;Rテスト突破コースの<strong>使用教材</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 mb-3">
          <div class="wt_card text-center">
            <img src="/assets/img/course/toeic_text01.jpg" width="100%">
          <h3>TOEIC&reg;  L&amp;Rテスト書き込みドリル<br>全パート入門編(スコア500)</h3>
          <ul class="text-left">
             <li>価格：1,485円（税込み）</li>
             <li>著：早川幸治</li>
             <li>ISBN：978-4-342-00158-1</li>
             <li>出版社：桐原書店</li>
          </ul>
          <p class="mb-0 text-left">出題形式に慣れるためにも、本番を想定した教材を使い学習します。また、それぞれのパートにおいて、攻略のポイントや学習の仕方なども細かく掲載されており、受験初心者が迷わずに学習に取り組めるように工夫された教材です。</p>              
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="wt_card text-center">
            <img src="/assets/img/course/toeic_text02.jpg" width="100%">
          <h3>TOEIC&reg;  L&amp;Rテスト書き込みドリル<br>全パート入門編(スコア650)</h3>
          <ul class="text-left">
            <li>価格：1,870円（税込み）</li>
            <li>著：早川幸治</li>
            <li>ISBN：978-4-342-00177-2</li>
             <li>出版社：桐原書店</li>              
          </ul>
          <p class="mb-0 text-left">出題形式に慣れるためにも、本番を想定した教材を使い学習します。また、それぞれのパートにおいて、攻略のポイントや学習の仕方なども細かく掲載されており、受験初心者が迷わずに学習に取り組めるように工夫された教材です。</p>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="wt_card text-center">
            <img src="/assets/img/course/toeic_text03.jpg" width="100%">        
          <h3>DataBase TOEIC&reg;  L&amp;Rテスト最強 単語＆フレーズ</h3>
          <ul class="text-left">
            <li>価格：1,760円（税込み）</li>
            <li>著：早川幸治</li>
            <li>ISBN：978-4-342-00187-1</li>
            <li>出版社：桐原書店</li>              
          </ul>
          <p class="mb-0 text-left">脳の仕組みを活用して使えるようになるためのタネとシカケが随所に盛り込まれています。見出し語句は公式問題集や著者による毎回のTOEIC受検経験から厳選されています。</p>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="wt_card text-center">
            <img src="/assets/img/course/toeic_text04.jpg" width="100%">               
          <h3>TOEIC BRIDGE&reg;  L&amp;Rテストはじめてでも80点突破</h3>
          <ul class="text-left">
            <li>価格：1,760円（税込み）</li>
            <li>著：早川幸治</li>
            <li>ISBN：978-4-8163-6860-8</li>
            <li>出版社：ナツメ社</li>   
          </ul>
          <p class="mb-0 text-left">それぞれのパートにおいて、攻略のポイントや学習の仕方なども細かく掲載されており、受験初心者が迷わずに学習に取り組めるように工夫された教材です。</p>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="wt_card text-center">
            <img src="/assets/img/course/toeic_text05.jpg" width="100%">                   
          <h3>公式TOEIC&reg; L&&amp;R問題集</h3>
          <!--<ul class="text-left">
            <li>価格：3,300円（税込み）</li>
            <li>出版社：国際ビジネスコミュニケーション協会</li>              
          </ul>-->
          <p class="mb-0 text-left">テスト本番に備えられる公式問題集です。ETSが制作した公式の教材だから、本番のテストを体験できるのが特徴。本番のテストとまったく同じプロセスで制作しているため、スコアの目安がわかります。</p>
          </div>
        </div>          
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
                  <h2 class="text-center">TOEIC&reg; L&amp;Rテスト突破コースの<strong class="txt_kiri">プラン</strong>一覧</h2>
        </div>
      </div>
      <div class="row wt_plan mb-5">
        <div class="col-12 col-md-4 mb-5">
          <h4 class="text-center">TOEIC&reg; L&amp;Rテスト500点突破コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item text-primary"><span>税込価格</span><strong>33,000</strong>円</li>
            <li class="list-group-item"><span>回数</span>全<strong>8</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>50</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>TOEIC&reg; L&amp;Rテストで500点を突破したい</li>
              <li>TOEIC&reg; L&amp;Rテスト未受験者または初心者</li>
              <li>大学入学後のプレースメントテスト対策したい</li>
              <li>勤務先よりTOEIC&reg; L&amp;Rテストのスコアアップを要請されている</li>
            </ul></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-5">
          <h4 class="text-center">TOEIC&reg; L&amp;Rテスト730点突破コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item text-primary"><span>税込価格</span><strong>33,000</strong>円</li>
            <li class="list-group-item"><span>回数</span>全<strong>8</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>50</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>TOEIC&reg; L&amp;Rテストで730点を突破したい</li>
              <li>TOEIC&reg; L&amp;Rテストでスコアアップしたい</li>
              <li>大学入学後のプレースメントテスト対策したい</li>
              <li>勤務先よりTOEIC&reg; L&amp;Rテストのスコアアップを要請されている</li>
            </ul></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-5">
          <h4 class="text-center">TOEIC&reg; Bridge L&amp;Rテスト対策コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item text-primary"><span>税込価格</span><strong>33,000</strong>円</li>
            <li class="list-group-item"><span>回数</span>全<strong>8</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>50</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>TOEIC&reg; L&amp;Rテストを受検して歯が立たない</li>
              <li>TOEIC&reg; L&amp;Rテストに初めて挑戦する中高生</li>
              <li>英語が苦手で学び直ししたいと考えている社会人</li>
              <li>大学入学後のプレースメントテスト対策したい</li>
            </ul></li>
          </ul>
        </div>
      </div>
    </div>
  </section>








    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
