<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>TOEIC&reg;Part1学習法｜TOEIC&reg;対策のオンラインプログラム｜KIRIHARA Online Academy</title>
  <meta name="description" content="TOEIC&reg;L&amp;RテストPart1「写真描写問題」の対策は人物や物、風景などの写真を見ながらリスニングを行う問題です。攻略するためには音声の聞き取るべきポイントを理解し、事前に写真を観察することが大事です。Part1でスコアを稼ぐためは音読学習が効果的です。聞こえてきた英語と同じように話す、リピーティングを取り入れてみてください。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,KIRIHARA Online Academy,TOEIC,早川幸治" />
  <meta property="og:title" content="TOEIC&reg;Part1学習法｜TOEIC&reg;対策のオンラインプログラム｜KIRIHARA Online Academy" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="TOEIC&reg;L&amp;RテストPart1「写真描写問題」の対策は人物や物、風景などの写真を見ながらリスニングを行う問題です。攻略するためには音声の聞き取るべきポイントを理解し、事前に写真を観察することが大事です。Part1でスコアを稼ぐためは音読学習が効果的です。聞こえてきた英語と同じように話す、リピーティングを取り入れてみてください。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/toeicpart1" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <meta property="og:site_name" content="TOEIC&reg;対策プログラム｜オンラインで2ヶ月間短期集中｜KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/toeicpart1" />
  <meta name="twitter:title" content="TOEIC&reg;Part1学習法｜TOEIC&reg;対策のオンラインプログラム｜KIRIHARA Online Academy" />
  <meta name="twitter:description" content="TOEIC&reg;L&amp;RテストPart1「写真描写問題」の対策は人物や物、風景などの写真を見ながらリスニングを行う問題です。攻略するためには音声の聞き取るべきポイントを理解し、事前に写真を観察することが大事です。Part1でスコアを稼ぐためは音読学習が効果的です。聞こえてきた英語と同じように話す、リピーティングを取り入れてみてください。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <link rel="stylesheet" href="/assets/css/lp.css?4">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_toeic.html">

      <main role="main" class="wt_main">

        <section class="wt_headvis wt_head_toeic">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>TOEIC&reg;対策コース修了者向け定期コース</h1>
              </div>
            </div>
          </div>
        </section>



        <section>
          <div class="container">
            <div class="row ">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">講座が終わった後</strong>も学習をサポート</h2>
              </div>
              <div class="col-12 col-md-8 offset-md-2">
                <div class="mb-5">
                  <img src="/assets/img/toeic/toeicsubsc.jpg" class="w-100 h-auto" alt="TOEIC&reg;対策コース修了者向け定期コース">
                </div>
                <p>「いつも励ましていただき学習習慣がつきました」<br>
                  「この2ヶ月間で英語力がワンランク上がりました」<br>
                  「リスニングのコツがわかりやる気が湧きました」</p>
                  <p>受講生の皆さまから、沢山のお喜びの声をいただいております！</p>
                  <p>この度、TOEIC対策を「さらに」充実させるために、講座修了者へ「サブスク型」の定期コースを提供することになりました。</p>
                  <p>より一層TOEICの力をつけるための、新プランです！<br>
                  通常の講座と合わせてご活用いただけますと幸いです。</p>
              </div>
              <div class="col-12 col-md-5">
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center">修了者向け定期コース <strong class="txt_kiri">料金プラン</strong></h2>
                <p class="mb-5">こちらの講座は、突破コースを修了した方のみとなります。<br>月2回のコース、月4回のコースを用意しています。</p>
              </div>
            </div>

            <div class="row wt_plan mb-5">
              <div class="col-12 col-md-6">
                <h4 class="text-center">修了者向け定期コース 月2回</h4>
                <ul class="list-group list-group-flush text-center">
                  <li class="list-group-item"><span>月額価格</span><strong class="text-danger">8,800</strong>円</li>
                  <li class="list-group-item"><span>コース期間</span>毎月</li>
                  <li class="list-group-item"><span>レッスン数</span>50分2コマ</li>
                  <li class="list-group-item"><span>使用教材</span><small><b>TOEIC®L&Rテスト書き込みドリル[フレーズ言いまわし編] <i class="text-danger">→無償提供</i></b></small><br>
                    <small><b>その他、担当講師と相談</b></small></li>
                </ul>
              </div>
              <div class="col-12 col-md-6">
                <h4 class="text-center">修了者向け定期コース 月4回</h4>
                <ul class="list-group list-group-flush text-center">
                  <li class="list-group-item"><span>月額価格</span><strong class="text-danger">17,600</strong>円</li>
                  <li class="list-group-item"><span>コース期間</span>毎月</li>
                  <li class="list-group-item"><span>レッスン数</span>50分4コマ</li>
                  <li class="list-group-item"><span>使用教材</span><small><b>TOEIC®L&Rテスト書き込みドリル[フレーズ言いまわし編] <i class="text-danger">→無償提供</i></b></small><br>
                    <small><b>その他、担当講師と相談</b></small></li>
                </ul>
              </div>
            </div>               

            <div class="row">
              <div class="col-12 text-center">
                <p class="text-center mb-2"><strong>＼体験レッスン実施中！たった5分で予約が可能／</strong></p>
                <div class="wt_mvbtn"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">まずはこちらから無料の会員登録をしてください</a></div>
              </div>
            </div>
          </div>
        </section>



        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="url" content="https://academy.kirihara.co.jp/">
              <span class="wt_crumb" itemprop="item">ホーム</span>
              <meta itemprop="position" content="1">
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/toeic" itemprop="item" content="https://academy.kirihara.co.jp/wte/toeic">
              <span itemprop="name">TOEIC対策</span>
              <meta itemprop="position" content="2">
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/toeicpart1" itemprop="item" content="https://academy.kirihara.co.jp/wte/toeicpart1">
              <span itemprop="name">TOEICコースのPart1学習法</span>
              <meta itemprop="position" content="3">
            </a>
          </li>
        </ul>
      </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
          <!-- Schema -->
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Article",
              "name": "TOEIC&reg;Part1学習法｜TOEIC&reg;対策のオンラインプログラム｜KIRIHARA Online Academy",
              "headline": "短期集中型オンラインTOEIC対策の料金プランのご案内です。他校と比べても圧倒的な安さで充実のカリキュラムを受けられます",
              "description": "TOEIC&reg;L&amp;RテストPart1「写真描写問題」の対策は人物や物、風景などの写真を見ながらリスニングを行う問題です。攻略するためには音声の聞き取るべきポイントを理解し、事前に写真を観察することが大事です。Part1でスコアを稼ぐためは音読学習が効果的です。聞こえてきた英語と同じように話す、リピーティングを取り入れてみてください。",
              "datePublished": "2022-10-26T09:00:00+09:00",
              "dateModified": "2022-10-26T13:00:00+09:00",
              "url": "https://academy.kirihara.co.jp/wte/toeicpart1",
              "mainEntityOfPage": "https://academy.kirihara.co.jp/wte/toeicpart1",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ],
              "author": [{
                "@type": "Organization",
                "name": "KIRIHARA Online Academy",
                "url": "https://academy.kirihara.co.jp/"
              }]
            }

          </script>
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "WebPage",
              "name": "TOEIC&reg;Part1学習法｜TOEIC&reg;対策のオンラインプログラム｜KIRIHARA Online Academy",
              "description": "TOEIC&reg;L&amp;RテストPart1「写真描写問題」の対策は人物や物、風景などの写真を見ながらリスニングを行う問題です。攻略するためには音声の聞き取るべきポイントを理解し、事前に写真を観察することが大事です。Part1でスコアを稼ぐためは音読学習が効果的です。聞こえてきた英語と同じように話す、リピーティングを取り入れてみてください。",
              "url": "https://academy.kirihara.co.jp/wte/toeicpart1",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ]
            }

          </script>
</body>

</html>
