<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>%product_name%とは？｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="ワールドトーク×桐原書店とは？｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/about" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/about" />
  <meta name="twitter:title" content="ワールドトーク×桐原書店とは？｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_head_lesson">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>%product_name%とは？</h1>
                      </div>
                  </div>
              </div>
          </section>
          <section>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-center">%product_name%とは？</h2>
                  <p>%product_name%とは、ワールドトークを運営する株式会社ライトアップと、受験参考書や検定教科書を出版する株式会社桐原書店が共同で開発した、新しいオンライン英語学習のプラットフォームです。<br>ワールドトークの強みである<strong>「質の高い日本人講師」</strong>と、桐原書店の強みとなる<strong>「英語教材」</strong>や<strong>「英語のコンテンツ制作」</strong>を組み合わせ、<strong>TOEICや英検などの資格対策</strong>から、<strong>学生の成績アップ</strong>などを目指した様々なカリキュラムをご提供いたします。</p>
                </div>
              </div>
            </div>
          </section>






    <!-- content section -->
    <!--<section class="page">
      <div class="container">
        <div class="row feat">
          <div class="col-xs-12 col-md-4">
            <img src="/assets/img/index/img_feat_01.jpg" class="img-thumbnail" alt="">
            <h3 class="text-center">85社の豊富なシステム導入実績</h3>
            <p>%product_name%の販売をスタートさせてから5年が経ちました。今では85社の企業様にシステムのご導入をいただきました。そのため、システムの安定性や運用サポートの面では特に自信を持っています。</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="/assets/img/index/img_feat_02.jpg" class="img-thumbnail" alt="">
            <h3 class="text-center">%member_caption%20,000人のサービス運営</h3>
            <p>他のシステム会社との大きな違いが、自社でサービスを運営していること。オンライン英会話「ワールドトーク」は2011年のオープン以来順調に成長しています。その運営ノウハウも共有いたします。</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="/assets/img/index/img_feat_03.jpg" class="img-thumbnail" alt="">
            <h3 class="text-center">2ヶ月でサイト立ち上げが可能</h3>
            <p>サイトを早く立ち上げたいというご要望にもお応え出来ます。サイト構築やデザイン制作も一緒にご提供。各ページのテンプレートも整備していますので、簡単にサイトの立ち上げが可能です。</p>
          </div>
        </div>
        <TMPL_IF NAME="session_member_handle">
        <TMPL_ELSE>
          <div class="row mb-5">
            <div class="col-12 text-center">
              <a href="/WTE/reg.cgi" class="btn btn-primary rounded-pill wt_btn">無料体験はこちら</a>
            </div>
          </div>
        </TMPL_IF>
      </div>
    </section>-->


    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
