<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>【重要】料金プランの金額変更について｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="【重要】料金プランの金額変更について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/lesson" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/lesson" />
  <meta name="twitter:title" content="【重要】料金プランの金額変更について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_head_lesson">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>【重要】年末年始期間中の対応について</h1>
                      </div>
                  </div>
              </div>
          </section>



          <section>
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12">
                      <p>いつもKIRIHARA Online Academyをご利用いただきましてありがとうございます。</p>
                      <p>年末年始のカスタマーサポート対応時間をお知らせいたします。<br>以下の期間中は、カスタマーサポート対応がお休みとなります。</p>

                      <h3>■年末年始休業期間</h3>
                      <p><strong class="text-danger">2024年12月28日（土）～2025年1月5日（日）</strong></p>
                      <p>なお、期間中も講師のスケジュール枠に登録がございましたら、レッスンを実施いただくことが可能です。</p>

                      <h3>＜教材の送付につきまして＞</h3>
                      <p><strong>2024年12月28日（土）～2025年1月5日（日）</strong>に加入された方は<strong class="text-danger">2025年1月6日（月）</strong>より順次発送をいたします</p>
                      <p>お時間をいただきまして誠に申し訳ございませんが、何卒よろしくお願いいたします。</p>


                      <h3>＜お問い合わせ対応につきまして＞</h3>
                      <p>期間中にいただきましたお問い合わせにつきましては、<strong class="text-danger">2025年1月6日（月）</strong>より順次対応をいたします。</p>

                      <p>会員の皆様には大変ご不便をおかけいたしますが、ご理解くださいますようお願い申し上げます。<br>皆様よいお年をお過ごしくださいませ。</p>                
                        
                        
                    </div>
                </div>

                <div class="row mb-5">
                    
                </div>
            </div>
          </section>
    </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
    <TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>
