<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>
    大学生のためのTOEIC&reg; L&amp;Rテスト突破コース｜<TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="description" content="KIRIHARA Online AcademyはTOEICRL&Rテストのスコアアップ対策に特化した、オンライン形式の学習プログラムです。1番の特徴はそれぞれの試験に特化したカリキュラムを開発し、2ヶ月という短期集中型の目標達成プログラムをご提供出来ることです。Nextstageなどの人気の英語教科書を開発している「桐原書店」がコースを作成。カリキュラムの監修者として、数多くの英語著書を持つ英語講師、「早川幸治（Jay）先生」が参加しています。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="大学生のためのTOEIC&reg; L&amp;Rテスト突破コース｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="KIRIHARA Online AcademyはTOEICRL&Rテストのスコアアップ対策に特化した、オンライン形式の学習プログラムです。1番の特徴はそれぞれの試験に特化したカリキュラムを開発し、2ヶ月という短期集中型の目標達成プログラムをご提供出来ることです。Nextstageなどの人気の英語教科書を開発している「桐原書店」がコースを作成。カリキュラムの監修者として、数多くの英語著書を持つ英語講師、「早川幸治（Jay）先生」が参加しています。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/toeic" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/toeic" />
  <meta name="twitter:title" content="大学生のためのTOEIC&reg; L&amp;Rテスト突破コース｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="KIRIHARA Online AcademyはTOEICRL&Rテストのスコアアップ対策に特化した、オンライン形式の学習プログラムです。1番の特徴はそれぞれの試験に特化したカリキュラムを開発し、2ヶ月という短期集中型の目標達成プログラムをご提供出来ることです。Nextstageなどの人気の英語教科書を開発している「桐原書店」がコースを作成。カリキュラムの監修者として、数多くの英語著書を持つ英語講師、「早川幸治（Jay）先生」が参加しています。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="index wt_toeic drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0&appId=229437533792557&autoLogAppEvents=1" nonce="Krjb1tBG"></script>
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">



        <section class="wt_mainvis wt_mainvis_college">
            
        
                    <div class="wt_catch wt_catch_college">

                        <div class="wt_catch_circle wt_catch_circle_college">
                          <div>
                            <p class="wt_catch_logo mb-4 d-none d-lg-block"><img src="/assets/img/common/logo.svg" alt="ワールドトーク×桐原書店" class="w-75"></p>
                            <h3>単位取得から就職活動まで！<br>大学生のための</h3>
                            <p>オンラインTOEIC&reg; L&amp;Rテスト</p>
                            <h3>突破コース</h3>  
                            <span class="d-block mt-3 mb-3 d-lg-none">KIRIHARA Online Academy</span>

                                
                            <div class="wt_mvbtn mt-md-5"><a href="https://academy.kirihara.co.jp/WTE/reg.cgi" class="btn btn-danger rounded-pill btn-lg">500点～800点を目指す方向け<br>
                            <span class="d-none d-lg-inline">まずは</span>体験レッスンをお試しください
                            </a></div>                                
                          </div>
                        </div>
                            
                   </div>

          <ul class="wt_slider wt_slider_college">
            <li class="wt_slider_c"></li>
          </ul>
        </section>


        <section class="wt_college_reason wt_bg_beige mb-5">


          <div class="container">
            <div class="row">

              <div class="col-12 col-md-6">
                <h3>今、大学生にTOEIC&reg; L&amp;Rテストが<br>求められている理由とは？</h3>
                <p>多くの方たちが受験する英語の試験といえば、TOEICRL&Rテストです。ビジネスパーソン向けの試験と認識している方も多いかもしれませんが、実は大学生の受験者もたくさんいます。</p>
                <p>たとえば、2019年に実施された公開テストの全体の受験者数が約83万人でしたが、大学生の受験者数は約28万人と全体の約30%を占めています。</p>
                <p>平均点に関しては、受験者全体が588点なのに対し、大学生の平均点は574点でした。</p>
              </div>
              <div class="col-12 col-md-6">
                <div class="wt_card pb-1">
                  <img src="/assets/img/college/img_score.jpg" alt="所属学校別受験者数と平均スコア" class="w-100 h-auto">
                </div>
              </div>
            </div>
          </div>
        </section>

          
        <section>
          <div class="container">
            <div class="row mt-lg-5">
              <div class="col-12 mb-5 mt-lg-5">
                <h2 class="text-center">大学生がTOEIC&reg; L&amp;Rを受験するメリットは？</h2>
              </div>
            </div>
              
            <div class="row wt_college_merit">
              <div class="col-12 col-md-4 mb-5">
                <div class="wt_bg_beige text-center">  
                    <h3 style="font-size: 220%;font-family: 'Montserrat', sans-serif;">{ MERIT-1 }</h3>
                    <h3 style="height:40px;line-height: 1.1;">単位取得やプレイスメントテストに</h3>
                    <img src="/assets/img/college/merit_01.png" class="w50 h-auto mt-3 mb-4">
                    <p class="text-left">TOEIC&reg; L&amp;Rテストのスコアで単位認定される大学が増加傾向にあります。取得したスコアで単位を取得すれば、ゆったりとした大学生活を送れるでしょう。</p>
                    <p class="text-left">また、TOEIC&reg; L&amp;Rテストは大学のプレイスメントテストとしても活用されています</p>
                </div>
              </div>
              <div class="col-12 col-md-4 mb-5">
                <div class="wt_bg_beige text-center">   
                    <h3 style="font-size: 220%;font-family: 'Montserrat', sans-serif;">{ MERIT-2 }</h3>
                    <h3 style="height:40px;">就職活動で有利になる！</h3>
                    <img src="/assets/img/college/merit_02.png" class="w50 h-auto mt-3 mb-4">
                    <p class="text-left">用時にTOEICRL&Rのスコアを参考にする企業が多いので、ある程度のスコアを獲得することで、就職活動を有利に進められるでしょう。</p>
                    <p class="text-left">また、公務員試験や教員採用試験でも活用できるほか、インターンシップでも使えます。</p>
                  </div>
              </div>
              <div class="col-12 col-md-4 mb-5">
                <div class="wt_bg_beige text-center">                     
                    <h3 style="font-size: 220%;font-family: 'Montserrat', sans-serif;">{ MERIT-3 }</h3>
                    <h3 style="height:40px;">大学編入や大学院の院試にも</h3>
                    <img src="/assets/img/college/merit_03.png" class="w50 h-auto mt-3 mb-4">
                    <p class="text-left">大学編入の際、TOEICRL&Rテストのスコアが出願条件となっている大学が存在します。大学側が求めるスコアを提出すれば、英語試験が免除になるケースも。</p>
                    <p class="text-left">また、大学院の院試でも、スコアを提出しなければならない場合があります。</p>
                  </div>
              </div>
            </div>
          </div>
        </section>
          
          
        <section class="wt_bg_beige">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-4">
                  <img src="/assets/img/college/img_600.png" alt="大学生はまず600点を目指そう！" class="w-100 h-auto mb-3">                  
              </div>
              <div class="col-12 col-md-8">
                  <h3>大学生はまず600点を目指そう！</h3>
                  <p>TOEIC&reg; L&amp;Rテストのスコアは単位取得や就職活動、大学院の院試などさまざまな場面で活用できる資格です。社会人になれば、昇進時にも役立ちます。そのため、まだTOEIC&reg; L&amp;Rテストを受験したことがない方は、時間にゆとりのある学生のうちにチャレンジしてみませんか？</p>
                  <p>履歴書に書ける点数は600点くらいからなので、大学生は600点取得を目標にすると良いでしょう。しかし、英語が苦手な方は何から手をつけて良いのか、分からなくなるかもしれません。独学ではモチベーションの維持が難しいのも事実です。</p>
                  <p>そこでおすすめなのが、KIRIHARA Online AcademyのTOEIC&reg; L&amp;R対策です。</p>
              </div>
            </div>
          </div>
        </section>

          

        <section class="wt_college_measure">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">%product_name%のTOEIC&reg; L&amp;Rテスト対策は？</h2>
              </div>
            </div>

            <div class="row mt-5 mb-5">
              <div class="col-12 col-lg-6 measure_img mt-md-5 mb-3">
                <img src="/assets/img/college/measure_01.png" alt="2ヶ月の短期集中TOEIC&reg; L&amp;R<br>対策プログラム">
              </div>
              <div class="col-12 col-lg-6">
                  <div class="wt_bg_beige wt_bg_beige_r"> 
                      <h3>2ヶ月の短期集中TOEIC&reg; L&amp;Rテスト<br>対策プログラム</h3>
                      <p>TOEIC&reg; L&amp;Rテスト対策に特化した、オンライン形式の学習プログラムです。たったの2ヶ月でスコアアップを目指します。</p>
                      <p>本プログラムを受講していただくことで、英語力アップはもちろんですが、速読トレーニングなどを通して情報処理能力を養えます。また、時間配分やパート別の対策といった対策力も鍛えることが可能。</p>
                      <p>500点突破コースと730点突破コースの2種類のコースが用意されているので、初心者から中級者まで受講していただけます。</p>
                      <p>カリキュラムの監修は、大手企業や大学などで講師として活躍し、多くの英語著書を手掛ける早川幸治（Jay）先生です。</p>
                  </div>
              </div>
            </div>

            <div class="row pt-2 mb-5">
              <div class="col-12 col-lg-6 measure_img mt-md-5 order-md-2 mb-3">
                <img src="/assets/img/college/measure_02.png" class="img_r" alt="桐原書店の実績ある教材とカリキュラム">
              </div>
              <div class="col-12 col-lg-6 order-md-1">
                  <div class="wt_bg_beige wt_bg_beige_l">
                      <h3>桐原書店の実績ある教材とカリキュラム</h3>
                      <p>KIRIHARA Online AcademyのTOEIC&reg; L&amp;Rテスト対策コースでは、桐原書店刊行の教材を使います。</p>
                      <p>たとえば、シリーズ累計40万部を誇り、数多くの大学でも利用されている「書き込みドリル」を使って、基礎から徹底的に学びます。</p>
                      <p>また、語彙を忘れにくくさせる仕掛けが満載の「Database TOEICR L&Rテスト最強 単語&フレーズ」を活用し、語彙力を強化。</p>
                      <p>カリキュラムに関しては、Part1～Part7まで全パートの対策が含まれます。桐原書店の教材のほか、公式問題集も使ってパート別対策を行います。</p>
                      <p>さらに、効果抜群の学習法として知られる音読学習を取り入れているのも、本プログラムの特徴です。多読による速読力強化トレーニングも組み込まれています。</p>
                      <p>なお、初日に講師がみなさんの目標とするスコアや学習上の悩みをヒアリングして、スケジュールを設定してくれるのも魅力。目標達成を目指せる、自分のレベルに合った満足度の高いレッスンが期待できます。</p>
                  </div>
              </div>
            </div> 
              
            <div class="row pt-2 mb-5">
              <div class="col-12 col-lg-6 measure_img mt-md-5 mb-3">
                <img src="/assets/img/college/measure_03.png" alt="きめ細やかな日本人講師の学習サポート">
              </div>
              <div class="col-12 col-lg-6">
                  <div class="wt_bg_beige wt_bg_beige_r">
                      <h3>きめ細やかな日本人講師の学習サポート</h3>
                      <p>%product_name%でのオンラインレッスンは、TOEIC&reg; L&amp;Rテストや英検Rの指導実績豊富な日本人講師が担当します。日本語でやり取りができるので、きめ細やかな学習サポートが期待できます。</p>
                      <p>また、レッスン中は日本語で質疑応答ができるので、効率的な学習が可能。日本語が使えるので、英語力に自信がない方でも安心してレッスンが受けられます。さらに、勉強するうえで悩みが生じた際は、日本語で相談できるのも日本人講師のメリットです。</p>
                      <p>独学とは異なり、講師と一緒に対策ができるので、モチベーションも維持しやすいですよ。日本人講師のマンツーマンレッスンを受講し、短期間で目標スコアの達成を目指しましょう。</p>
                  </div>
              </div>
            </div>              
          </div>
        </section>

          

        <section class="wt_bg_beige wt_college_youtube">
          <div class="container">
            <div class="row mt-5">
              <div class="col-12 pb-3 mt-3">
                <h2 class="text-center">有名Youtuberさんにも体験いただきました！</h2>
              </div>
              <div class="col-12 col-md-6 mb-5">
                <div class="wt_card text-center">
                  <img src="/assets/img/college/youtuber_01.jpg" alt="【英TOEIC勉強法】基本の3ステップを900点超えが実演解説" class="w-100">
                  <a href=""><h3><strong>みおりんCafe</strong> 様</h3></a>
                  <p class="text-center">【英TOEIC勉強法】基本の3ステップを900点超えが実演解説<br>まず700点を超えるための学習法</p>
                </div>
              </div>
              <div class="col-12 col-md-6 mb-5">
                <div class="wt_card text-center">
                  <img src="/assets/img/college/youtuber_02.jpg" alt="【英語資格】TOEIC対策するよ!" class="w-100">
                  <a href=""><h3><strong>inspire.closets</strong> 様</h3></a>
                  <p class="text-center">【英語資格】TOEIC対策するよ!<br> // taking online classes + study vlog</p>
                </div>
              </div>

            </div>
          </div>
        </section>


        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">カリキュラム監修者早川幸治先生の学習メソッド</h2>

              </div>
            </div>
            <div class="row wt_college_method">
              <div class="col-12 col-md-6">
                  <img src="/assets/img/toeic/hayakawashiki.png" class="w-100 h-auto">
                  <img src="/assets/img/college/img_method_02.png" class="w-100 h-auto mt-5 mb-5">
              </div>
              <div class="col-12 col-md-6">
                  <div class="wt_bg_beige text-center mb-5">
                      <h3 style="font-size: 220%;font-family: 'Montserrat', sans-serif;" class="mt-2 mb-1">{ METHOD-1 }</h3><h3>英語力アップ</h3><p class="text-left">学習をすることで、語彙や文法、英文構造などの知識を増やし理解度を高めるための基礎を作ります。スコアアップの基礎となる英語力を高めます。</p>
                  </div>
                  <div class="wt_bg_beige text-center mb-5">
                      <h3 style="font-size: 220%;font-family: 'Montserrat', sans-serif;" class="mt-2 mb-1">{ METHOD-1 }</h3><h3>情報処理能力アップ</h3><p class="text-left">トレーニングをすることで、知識をスキルに高め、リスニング力・リーディング力へと転換させます。英語を英語のまま理解する力や、スピード処理能力を養成します。</p>
                  </div>
                  <div class="wt_bg_beige text-center mb-5">
                      <h3 style="font-size: 220%;font-family: 'Montserrat', sans-serif;" class="mt-2 mb-1">{ METHOD-1 }</h3><h3>対策力アップ</h3><p class="text-left">問題を解くことで、いま身についている知識やスキルが活用できる度合いの確認や、伸ばした知識・スキルを活用する練習をします。時間配分やパート別の対策が可能です。</p>
                  </div>                  
              </div>                
            </div>
          </div>
        </section>
          
          
          
        <section class="wt_bg_beige">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">ご利用いただいた皆さまの声</h2>
              </div>
            </div>              
            <div class="row mb-5">
              <div class="col-12 col-md-4">
                  <img src="/assets/img/college/voice_01.png" alt="" class="w-100 h-auto mb-3">                  
              </div>
              <div class="col-12 col-md-8 pt-xl-5">
                  <h3>テキストテキストテキストテキスト</h3>
                  <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                  <p>キストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-12 col-md-4">
                  <img src="/assets/img/college/voice_02.png" alt="" class="w-100 h-auto mb-3">                  
              </div>
              <div class="col-12 col-md-8 pt-xl-5">
                  <h3>テキストテキストテキストテキスト</h3>
                  <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                  <p>キストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                  <img src="/assets/img/college/voice_03.png" alt="" class="w-100 h-auto mb-3">                  
              </div>
              <div class="col-12 col-md-8 pt-xl-5">
                  <h3>テキストテキストテキストテキスト</h3>
                  <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                  <p>キストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
              </div>
            </div>              
          </div>
        </section>
          





        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">まずはカリキュラムを試してみよう！<br>体験までの流れをご説明いたします</h2>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_1 mb-5">
                <span class="wt_flow_step"><span class="lead">1</span></span>
                <img src="/assets/img/index/flow_1.png" alt="自分がわかるまで質問ができる" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-5 tex_kiri">まずは会員登録を<br>お願いします。</h3>
              </div>
              <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_2 mb-5">
                <span class="wt_flow_step"><span>2</span></span>
                <img src="/assets/img/index/flow_1-2.png" alt="自分の間違いや癖を修正できる" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-5 tex_kiri">ご希望のコースを<br>選択します。</h3>
              </div>
              <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_3 mb-5">
                <span class="wt_flow_step"><span>3</span></span>
                <img src="/assets/img/index/flow_2.png" alt="今後の学習方法を相談できる" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-5 tex_kiri">講師を選んで<br>予約します。</h3>
              </div>
              <div class="col-12 col-md-6 col-lg-3 text-center wt_flow wt_flow_4 mb-5">
                <span class="wt_flow_step"><span>4</span></span>
                <img src="/assets/img/index/flow_3.png" alt="今後の学習方法を相談できる" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-5 tex_kiri">時間が来たら体験<br>レッスンスタート</h3>
              </div>
            </div>
          </div>
        </section>


        <section class="wt_sec_turquoise">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">%product_name%の<br>よくあるご質問</h2>
                <p class="text-center">%product_name%にこれまでいただいた質問をまとめました。<br>その他の不明点があれば、こちらのよくある質問ページもご確認ください。</p>
              </div>
            </div>

            <div class="row mt-5 mb-5 pb-3 faq">
              <div class="col-12">


                <div class="fbox text-center">
                  <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>無料体験レッスンはどのようにして受講したらよいですか？</strong></h3>
                  <div class="answer wt_bggrey">
                    <p class="pt-5 pb-5 mb-0">まずはこちらの<a href="/WTE/site.cgi?m=inqfrmshw"><u>お問い合わせフォーム</u></a>より、体験希望のコースをご連絡ください。<br>体験の流れをご案内させていただきます。</p>
                  </div>
                </div>

                <div class="fbox text-center">
                  <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>カリキュラムについて、事前に確認することは出来ますか？</strong></h3>
                  <div class="answer wt_bggrey">
                    <p class="pt-5 pb-5 mb-0">はい、可能です！<br>まず、各コースのカリキュラムの一部を各コースページにてご紹介させていただいております。<br>更に詳細の内容を知りたい方は体験レッスンをお申し込みください。<br>体験の流れと共に、ご案内をさせていただきます。</p>
                  </div>
                </div>

                <div class="fbox text-center">
                  <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>教材の購入は必須でしょうか？</strong></h3>
                  <div class="answer wt_bggrey">
                    <p class="pt-5 pb-5 mb-0">体験レッスンは無料教材を使用しますので、購入は不要です。<br>但し、実際のコース受講に関しては、教材購入をお願いしております。<br>一部、桐原書店から出版されている教材に関しては、コース受講者様に無償プレゼントさせていただいております。</p>
                  </div>
                </div>

                <div class="fbox text-center">
                  <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>オンラインレッスンに必要な環境は何でしょうか？</strong></h3>
                  <div class="answer wt_bggrey">
                    <p class="pt-5 pb-5 mb-0">体験レッスンは無料教材を使用しますので、購入は不要です。<br>但し、実際のコース受講に関しては、教材購入をお願いしております。<br>一部、桐原書店から出版されている教材に関しては、コース受講者様に無償プレゼントさせていただいております。</p>
                  </div>
                </div>

                <div class="fbox text-center">
                  <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>講師はどうやって選べば良いですか？</strong></h3>
                  <div class="answer wt_bggrey">
                    <p class="pt-5 pb-5 mb-0">はい、各講師教えられるコースは違いますので、体験したいコースより講師をお探しください。<br>各講師、自分の空いている時間をスケジュール枠として登録しておりますので、皆さまのご都合に合わせて予約をお願いいたします。</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12 text-center">
                <a href="/wte/faq" class="btn btn-secondary rounded-pill wt_btn">その他のご質問はこちらから</a>
              </div>
            </div>

          </div>
        </section>

        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">各種メディアはこちら</h2>
                <p class="text-center">%product_name%では、ブログやSNSにて定期的な情報配信をしております。<br>英検やTOEICRL&amp;Rテストに対する有益な情報を配信していきますので、是非、フォローをお願いいたします！</p>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mb-3">
                <a href="https://academy.kirihara.co.jp/blog/"><img src="/assets/img/common/bnr_blog.jpg" class="blog_bnr w-100"></a>
              </div>
            </div>

          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">%product_name%からのお知らせ</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="wt_news">
                  <TMPL_LOOP NAME="ann_loop">
                    <h4>%ann_title%</h4>
                    <div class="idate">%ann_cdate_0%/%ann_cdate_1%/%ann_cdate_2%</div>
                    <p>%ann_content%</p>
                    <hr />
                  </TMPL_LOOP>
                </div>
              </div>
              <div class="col-12 col-md-4 top_twitter">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/KIRIHARA_WT?ref_src=twsrc%5Etfw">Tweets by KIRIHARA_WT</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
              <div class="col-12 col-md-4">
                <div class="fb-page" data-href="https://www.facebook.com/Wt_kiri-103615725247978" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                  <blockquote cite="https://www.facebook.com/Wt_kiri-103615725247978" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Wt_kiri-103615725247978">Wt_kiri</a></blockquote>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- foot section -->
        <TMPL_INCLUDE NAME="../include/footer.html">
          </div>
          <TMPL_INCLUDE NAME="../include/foot.html">
            <TMPL_INCLUDE NAME="../include/analysis.html">
</body>

</html>
