<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>運営会社 × 共同開発会社概要｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="ワールドトークを運営する株式会社ライトアップと、教育に関する教科書・教材の出版会社である株式会社桐原書店のご紹介です。英検対策・TOEIC対策に特化したオンライン英会話「ワールドトーク×桐原書店」は共同で運営及びサービス開発を行っています。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="運営会社 × 共同開発会社概要｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="ワールドトークを運営する株式会社ライトアップと、教育に関する教科書・教材の出版会社である株式会社桐原書店のご紹介です。英検対策・TOEIC対策に特化したオンライン英会話「ワールドトーク×桐原書店」は共同で運営及びサービス開発を行っています。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/company" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/company" />
  <meta name="twitter:title" content="運営会社 × 共同開発会社概要｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="ワールドトークを運営する株式会社ライトアップと、教育に関する教科書・教材の出版会社である株式会社桐原書店のご紹介です。英検対策・TOEIC対策に特化したオンライン英会話「ワールドトーク×桐原書店」は共同で運営及びサービス開発を行っています。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

  <main role="main" class="wt_main">
       
        <section class="wt_headvis wt_head_company">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>運営会社 × 共同開発会社概要</h1>
                    </div>
                </div>
            </div>
        </section>
    
    <!-- table section -->
    <section>
      <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">運営会社概要</h2>
                        <p class="mb-5 text-center">運営事務局は別センターで対応しておりますため、運営会社へのお電話はご遠慮くださいませ。<br>お電話いただいた場合でも、ご対応、また、折返しのご連絡はいたしかねますのでご了承ください。<br>お問い合わせは、全てメールにて対応を行っております。お問い合わせフォームよりご連絡くださいますよう宜しくお願い致します。</p>
                        <h3 class="text-center txt_wt mb-5">インターネットで日本人のWANTを実現する！</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="table-responsive-md">
                            <table class="table">
                                <tr>
                                    <th class="p-3 p-md-4 w-25">会社名</th>
                                    <td class="p-3 p-md-4 w-75">株式会社ライトアップ<br>URL: <a href="https://www.writeup.jp/" target="_blank" rel="nofollow">https://www.writeup.jp/</a></td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">設立</th>
                                    <td class="p-3 p-md-4">2002年4月5日</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">所在地</th>
                                    <td class="p-3 p-md-4">〒150-0002<br>東京都渋谷区渋谷2-15-1　渋谷クロスタワー32F</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">資本金</th>
                                    <td class="p-3 p-md-4">3億8,638万円</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">代表者</th>
                                    <td class="p-3 p-md-4">代表取締役社長　白石 崇</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">経営陣</th>
                                    <td class="p-3 p-md-4">取締役　村越 亨<br>取締役　佐藤 寛信<br>取締役　吉本 信治郎<br>取締役　吉川 浩永<br>監査役　野村 透<br>監査役　大雲 卓雄<br>監査役　髙木 美咲穂（弁護士）</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">社員数</th>
                                    <td class="p-3 p-md-4">社員：約150名 （役員、在宅勤務・育休、契約社員、インターン含む）</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">市場</th>
                                    <td class="p-3 p-md-4">東京証券取引所　グロース市場　証券コード：6580<br>※2018年6月22日（金）新規上場</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">事業内容</th>
                                    <td class="p-3 p-md-4">
                                        <ul>
                                            <li>インターネット関連業務全般</li>
                                            <li>コンテンツの企画・制作</li>
                                            <li>CMSソリューションの提供</li>
                                            <li>ウェブサイトの構築</li>
                                            <li>バズマーケティング企画運営支援</li>
                                            <li>SEOソリューションの提供</li>
                                            <li>自社メディア運営</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">許可番号</th>
                                    <td class="p-3 p-md-4">有料職業紹介事業　13-ユ-305366<br>平成24年3月1日許可</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <table>
                            <tr>
                                <td class="pt-0 pl-3 pr-3 pb-3"><img src="/assets/img/company/ipo.jpg" class="img-fluid" alt="2018年6月22日（金）新規上場">
                                    <p class="text-center"><small>※2018年6月22日（金）新規上場いたしました</small></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-4"><img src="/assets/img/company/crosstower.jpg" class="img-fluid" alt="渋谷クロスタワー32Fに弊社オフィス">
                                    <p class="text-center"><small>渋谷クロスタワー32Fに弊社オフィスがあります</small></p>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>

            </div>
        </section>
    <section>
      <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">共同開発会社概要</h2>
                        <h3 class="text-center txt_kiri mb-5">学習に喜びと感動を Take joy in 
                        what you learn.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="table-responsive-md">
                            <table class="table">
                                <tr>
                                    <th class="p-3 p-md-4 w-25">会社名</th>
                                    <td class="p-3 p-md-4 w-75">株式会社桐原書店<br>URL: <a href="https://www.kirihara.co.jp/" target="_blank" rel="nofollow">https://www.kirihara.co.jp/</a></td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">設立</th>
                                    <td class="p-3 p-md-4">1967（昭和42）年12月1日</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">本社・営業所所在地</th>
                                  <td class="p-3 p-md-4"><p>株式会社桐原書店<br>〒141-0031　東京都品川区西五反田2-11-8</p>
                                  <p>仙台営業所（東北・北海道地区担当）<br>〒981-3622　宮城県黒川郡大和町もみじヶ丘3-34-2</p>
                                  <p>東京営業所（関東・甲信越地区担当）<br>〒352-0021　埼玉県新座市あたご1丁目1-14 事務棟1階</p>
                                  <p>大阪営業所（近畿・北陸地区担当）<br>〒564-0063　大阪府吹田市江坂町2-8-8</p>
                                  <p>広島営業所（中国・四国地区担当）<br>〒733-0007　広島市西区大宮3-9-4 パール大宮1F 102号</p>
                                  <p class="mb-0">福岡営業所（九州・沖縄地区担当）<br>〒812-0013　福岡市博多区博多駅東1-10-1 信用組合会館ビル5Ｆ</p></td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">資本金</th>
                                    <td class="p-3 p-md-4">96百万円</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">代表者</th>
                                    <td class="p-3 p-md-4">代表取締役社長　門間 正哉</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">社員数</th>
                                    <td class="p-3 p-md-4">104名(2025年3月31日現在）</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">取扱商品</th>
                                    <td class="p-3 p-md-4">文部科学省検定教科書、学習参考書・問題集、デジタル教材、小論文添削</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">仕入先</th>
                                    <td class="p-3 p-md-4">TOPPANクロレ株式会社、大村印刷株式会社、三美印刷株式会社、他</td>
                                </tr>
                                <tr>
                                    <th class="p-3 p-md-4">グループ・関連会社</th>
                                    <td class="p-3 p-md-4">株式会社学研ホールディングス<br>URL: <a href="https://www.gakken.co.jp/" target="_blank" rel="nofollow">https://www.gakken.co.jp/</a><br>株式会社Gakken<br>URL: <a href="https://www.corp-gakken.co.jp/" target="_blank" rel="nofollow">https://www.corp-gakken.co.jp/</a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <table>
                            <tr>
                                <td class="pt-0 pl-3 pr-3 pb-3"><img src="/assets/img/company/kirihara_copy.jpg" class="img-fluid" alt="学習に喜びと感動を">
                                </td>
                            </tr>
                        </table>

                    </div>
            </div>
        </section>
        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li><a href="/" itemprop="url" content="https://academy.kirihara.co.jp/"><span class="wt_crumb" itemprop="title">ホーム</span></a></li>
          <li><a href="%ssl_host_url%/wte/company" itemprop="url" content="https://academy.kirihara.co.jp/wte/company"><span itemprop="title">運営会社 × 共同開発会社概要</span></a></li>
        </ul>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>
