<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>授業から予約(%course_name% - %prof_handle% 先生) - <TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">

  <TMPL_INCLUDE NAME="../include/header.html">
    <div id="sb-site">

      <!-- content section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>%course_name%</h1>
              <h2>%course_copy%</h2>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="profface">
                <TMPL_IF NAME="course_logo">
                  <img src="%course_logo_3_url%?%epoch%" alt="%prof_handle% 先生" />
                  <TMPL_ELSE>
                    <img src="%static_url%/imgs/profile_blank.png" alt="" />
                </TMPL_IF>
              </div>
              <ul class="profinfodet">
                <li>Point<span>%course_fee_with_comma%</span>pt</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-9">
              <table class="table">
                <tr>
                  <th class="w20">%prof_caption%名</th>
                  <td>%prof_handle% 先生</td>
                </tr>
                <tr>
                  <th class="w20">授業時間</th>
                  <td>%course_step%分</td>
                </tr>
                <tr>
                  <th>カテゴリー</th>
                  <td>%ccate_name_1%<TMPL_IF NAME="ccate_name_2"> &gt; %ccate_name_2%</TMPL_IF>
                  </td>
                </tr>
                <tr>
                  <th>詳細内容</th>
                  <td>%course_intro%</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>

      <!-- schedule section -->
      <section class="page bggrey">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2>%prof_handle% 先生のスケジュール</h2>
            </div>
          </div>

          <div class="gbox">
            <ul class="noteb">
              <li>予約はレッスン開始<strong>%lesson_reservation_limit%<span
                    class="limitunit">%lesson_reservation_limit_unit%</span>前</strong>までであれば受け付け可能です。</li>
              <li>またキャンセルは<strong>%cancelable_hours%時間前</strong>まで受け付け可能です。</li>
              <li>時刻はすべて<strong>日本の現地時間</strong>で表示しています。海外在住の方はご注意ください</li>
            </ul>
          </div>

          <div id="calendar" class="calendar" data-url="/WTE/site.cgi?m=prfschajx&amp;prof_id=%prof_id%&amp;course_id=%course_id%">
            <p>now loading ...</p>
          </div>
        </div>
      </section>

      <!-- Course -->
      <section class="page bgblock">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2>%prof_handle% 先生の他の授業</h2>
            </div>
          </div>
          <p>%course_num% 件のサービスが見つかりました。</p>
          

          <TMPL_LOOP NAME="course_loop" COURSE_INTRO_CHARS="150">
          <div class="row profbox">
            <div class="col-xs-4 col-md-2 profface">
              <a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">
              <TMPL_IF NAME="course_logo">
                <img src="%course_logo_2_url%?%epoch%" width="%course_logo_2_w%" height="%course_logo_2_h%" alt="">
              <TMPL_ELSE>
                <img src="%static_url%/imgs/profile_blank.png" width="%course_logo_2_w%" height="%course_logo_2_h%" alt="" />
              </TMPL_IF>
              </a>
            </div>
            <div class="col-xs-8 col-md-10">
              <h2 class="profname"><a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">%course_name%</a></h2>
              <ul class="profinfo">
                <li>Point<span>%course_fee_with_comma%</span></li>
                <li>Category<span>%ccate_name_1%<TMPL_IF NAME="ccate_name_2"> &gt; %ccate_name_2%</TMPL_IF></span></li>
              </ul>
              <h4>%course_copy%</h4>
              <p>%course_intro% <a href="%CGI_URL%?m=coudtlfrm&amp;course_id=%course_id%">続きを見る &raquo;</a></p>
            </div>
          </div>
          </TMPL_LOOP>
          
          
          
        </div>
      </section>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
    </div>
    <TMPL_INCLUDE NAME="../include/foot.html">
      <TMPL_INCLUDE NAME="../include/analysis.html">

        <script src="%static_url%/js/site/prfdtlfrm.js"></script>
        <!--
        <script>
          $(function () {
            $('.limitunit').each(function () {
              var txt1 = $(this).html();
              $(this).html(
                txt1.replace('d', '日')
              );
            });
            $('.limitunit').each(function () {
              var txt2 = $(this).html();
              $(this).html(
                txt2.replace('h', '時間')
              );
            });
            $('.limitunit').each(function () {
              var txt3 = $(this).html();
              $(this).html(
                txt3.replace('m', '分')
              );
            });
          });
        </script>
        -->
</body>

</html>
