<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>英検二次試験コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」</title>
  <meta name="description" content="この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。英検対策を引き続き継続したい方への、新しいプランです！ぜひ、講座が終了しましたらご検討くださいませ。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,KIRIHARA Online Academy,TOEIC,早川幸治" />
  <meta property="og:title" content="英検二次試験コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。英検対策を引き続き継続したい方への、新しいプランです！ぜひ、講座が終了しましたらご検討くださいませ。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/eiken2subsc" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png" />
  <meta property="og:site_name" content="英検二次試験コース修了者向け定期コース｜オンラインで2ヶ月間短期集中｜KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/eiken2subsc" />
  <meta name="twitter:title" content="英検二次試験コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta name="twitter:description" content="この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。英検対策を引き続き継続したい方への、新しいプランです！ぜひ、講座が終了しましたらご検討くださいませ。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <link rel="stylesheet" href="/assets/css/lp.css?4">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_eiken1.html">

      <main role="main" class="wt_main">
          
          <section class="wt_headvis wt_head_eiken1">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>英検二次試験コース修了者向け定期コース</h1>
                      </div>
                  </div>
              </div>
          </section>          



        <section class="wt_sec_grey">
          <div class="container">
            <div class="row ">
              <div class="col-12">
                <h2 class="text-center">講座が終わった後も学習を<strong class="txt_kiri">サポート</strong><br>修了者向け定期学習コース</h2>
              </div>
              <!--<div class="col-12 col-md-8 offset-md-2">
                <div class="mb-5">
                  <img src="/assets/img/eiken2/eiken2subsc.jpg" class="w-100 h-auto" alt="英検二次試験コース修了者向け定期コース">
                </div>
                <p>「いつも励ましていただき学習習慣がつきました」<br>
                  「この2ヶ月間で英語力がワンランク上がりました」<br>
                  「リスニングのコツがわかりやる気が湧きました」</p>
                  <p>受講生の皆さまから、沢山のお喜びの声をいただいております！</p>
                  <p>この度、TOEIC対策を「さらに」充実させるために、講座修了者へ「サブスク型」の定期コースを提供することになりました。</p>
                  <p>より一層TOEICの力をつけるための、新プランです！<br>
                  通常の講座と合わせてご活用いただけますと幸いです。</p>
              </div>
              <div class="col-12 col-md-5">
              </div>-->
            </div>
            <div class="row ">
              <div class="col-12 col-md-6">
                  <p>「英検本試験直前のレッスンで安心できました」<br>「リスニング練習の成果が出てきて嬉しいです」<br>「説明を受けながら学習した方が記憶に残ります」</p>
                  <p>コースを受講した生徒様から、たくさんお喜びのご連絡をいただきました！</p>
                  <p>この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。</p>
                  <p>英検対策を引き続き継続したい方への、新しいプランです！<br>ぜひ、講座が終了しましたらご検討くださいませ。</p>
              </div>
              <div class="col-12 col-md-6">      
                  <img src="/assets/img/eiken2/eiken2subsc-2.jpg" class="w-100 h-auto" alt="英検二次試験コース修了者向け定期学習コース">
              </div>                
             </div>      
          </div>
        </section>
          
          
       <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検の<strong class="txt_kiri">合格を掴み取る</strong>ための<br>定期学習コースの特長</h2>
                <p class="text-left text-md-center">定期学習コースは、英検二次試験合格コース(全8回コース)を終えて、<br class="d-none d-md-block">追加で授業を受けたい・継続して英検対策をしたい方のためのオンリーワンのコースです。<br>英二次試験コースに引き続き、担当講師が受講生一人一人の欠点強化に特化したレッスンを提供します。</p>
              </div>
            </div>
          </div>

          <div class="container-fluid">

            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 1</div>
                    <h3 class="text-left">不得意を<strong class="text-primary">ピンポイント</strong>で強化</h3>
                    <p>英検受験をされた方は個人成績表をもとに苦手なパターンを見つけ、さらにヒアリングを通して改善のためのプログラムを考えます。カリキュラム通りの二次試験講座(全8回コース)とは異なり、自身の苦手を克服するためのレッスンを行います。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken2/img_eiken2subsc_1.jpg" alt="不得意をピンポイントで強化" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 2</div>
                      <h3 class="text-left"><strong class="text-primary">講座と一緒の講師</strong>が担当</h3>
                    <p>英検対策講座を担当した講師が定期コースも継続して担当することも可能！2ヶ月間共に学んだ講師と引き続き学習をしていきましょう。あなたの強みや弱みも理解しているからこそ、効率的な学習の継続が可能です。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken2/img_eiken2subsc_2.jpg" alt="講座と一緒の講師が担当" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 3</div>
                      <h3 class="text-left"><strong class="text-primary">必要な回数</strong>だけレッスン可能</h3>
                    <p>自分のペースに合わせ、レッスン回数を毎月2回・4回から選択できます。<br>短期集中講座を終えた後は、ご自身に合った丁度よいペースで学習をご継続ください。<br>必ず継続は力となってくれます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken2/img_eiken2subsc_3.jpg" alt="必要な回数だけレッスン可能" class="w-100 h-auto">
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12">

                <div class="text-center">
                  <p class="wt_mcopy">＼気になる講座を体験できる／
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1"
                    class="btn btn-danger rounded-pill btn-lg">無料体験レッスン実施中 →</a></div>
              </div>
            </div>

          </div>
        </section>          

        <section class="wt_sec_grey">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center">修了者向け定期コース <strong class="txt_kiri">料金プラン</strong></h2>
                <p class="mb-5">こちらの講座は、二次試験合格コースを修了した方のみとなります。<br>月2回のコース、月4回のコースを用意しています。</p>
              </div>
            </div>

            <TMPL_INCLUDE NAME="../include/price_eiken2_teiki.html">              

            <div class="row">
              <div class="col-12 text-center">
                <p class="text-center mb-2"><strong>＼体験レッスン実施中！たった5分で予約が可能／</strong></p>
                <div class="wt_mvbtn"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">まずはこちらから無料の会員登録をしてください</a></div>
              </div>
            </div>
          </div>
        </section>   
          
                  <section class="wt_sec_turquoise">
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <h2 class="text-center">英検二次試験対策コースに関する<br class="d-block d-md-none">よくあるご質問</h2>
                          <p class="text-left text-md-center">%product_name%にこれまでいただいた質問をまとめました。<br>学習方法についてはコース監修の早川先生が直接回答をしています。<br>皆さまの英検対策に繋がれば幸いです。</p>
                        </div>
                      </div>

                      <div class="row mt-5 mb-5 pb-3 faq">
                        <div class="col-12">

                          <div class="fbox">
                            <h3 class="question wt_question">英検の2次試験の勉強の仕方がわかりません。どのように勉強すれば良いですか？</h3>
                            <div class="answer wt_bggrey">
                              <p>これは、英検の二次試験で求められているスキルを理解して、それに合う「型」を身につけることが1番重要です。</p>
                              <p>型を身につけるためには、教材を使った学習が一番確実で早いと思います。</p>
                              <p>もし、一人で学習するのが不安と感じている方は、学習を見てくれるコーチを付けることもお薦めしています！</p>
                            </div>
                          </div>

                          <div class="fbox">
                            <h3 class="question wt_question">2次試験で試験官はどのような部分を重点的に見られるのですか？</h3>
                            <div class="answer wt_bggrey">
                              <p>二次試験は大きく4つの構成に分かれます。<br>「パッセージの音読と質問」「イラストを見た上での質問」「トピックに関する質問」「日常に関する質問」</p>
                              <p>パッセージへの質問であれば、対応部分を答えられるか？<br>イラストへの質問には、それぞれの行動と考えを答えられるか？<br>トピックに関する質問、日常に関する質問であれば、まずは自分の意見を明確にした上で、その理由を答えられるかです。</p>
                              <p>毎回、二次試験で出される「質問の型」は同じなので、「解答も型」を身につければ、合格することが出来ます。</p>
                            </div>
                          </div>

                          <div class="fbox">
                            <h3 class="question wt_question">面接で、面接官が話されていることがうまく聞き取れません。聞き返すときは何と尋ねればよろしいでしょうか？</h3>
                            <div class="answer wt_bggrey">
                              <p>担当する面接官によって、聞き取りやすい、聞き取りにくいはありますが、もしわからなかったら聞き返しても問題ありません。</p>
                              <p>「Could you repeat the question?」「Pardon?」でも大丈夫です。</p>
                              <p>そして、これも事前に型を身につけていれば、多少文章が聞き取れなかったとしても、聞こえた単語から何を聞かれているかが想像出来るようになりますよ。</p>
                            </div>
                          </div>

                          <div class="fbox">
                            <h3 class="question wt_question">面接試験になると緊張して英語が出てこない生徒へのアドバイスがあればぜひお聴きしたいです。</h3>
                            <div class="answer wt_bggrey">
                              <p>緊張するのは当たり前なので、焦ることのないように型をしっかりと理解して、事前に何度も練習を繰り返すことです。</p>
                              <p>それでも緊張してしまうようでしたら、面接官に「How are you?」と質問された時に、大きな声で「I’m nervous.」と答えてください。<br>面接官も笑ってくれるので、場が少し和むと思います。</p>
                            </div>
                          </div>


                          <div class="fbox">
                            <h3 class="question wt_question">発音が上手くなりたいのですが、どうすれば良いですか？</h3>
                            <div class="answer wt_bggrey">
                              <p>音声付きの教材を使って、徹底的に真似をしてください。<br>見本を使わずに闇雲に練習をしても、それが合っているのかわからないので不安になってしまいます。</p>
                              <p>カラオケと一緒でまずは音声を繰り返し真似ていく、そうすると次第に自分でも喋れるようになるし、発音も良くなっていきます。</p>
                            </div>
                          </div>

                          <div class="fbox">
                            <h3 class="question wt_question">前向きな姿勢で英語の実力をある程度カバーすることは可能ですか？</h3>
                            <div class="answer wt_bggrey">
                                <p>アティチュードという評価項目があります。</p>
                                <p>「ちゃんと伝えようとしている態度」「はっきりと答えているかどうか」<br>「自然に反応しているかどうか」という3つの点も評価の要素になりますので、点数に繋がる可能性はあります。</p>
                                <p>但し、英検2級で求められているスキルを満たしていないと合格は難しいので、前向きな姿勢と共に、面接の対策はしっかり行いましょう！</p>
                            </div>
                          </div>

                          <div class="fbox">
                            <h3 class="question wt_question">文法的に少し間違っていても沢山言った方がいいのでしょうか？それとも正確性をとった方がいいのでしょうか？</h3>
                            <div class="answer wt_bggrey">
                              <p>面接は正確性の方が大事です。<br>ただ、いっぱい喋ってもマイナスになることはありませんし、正確性に気を取られて話せなくなるのは一番良くないので、積極的に話をしていきましょう。</p>
                            </div>
                          </div>

                          <div class="fbox">
                            <h3 class="question wt_question">カリキュラムについて、事前に確認することは出来ますか？</h3>
                            <div class="answer wt_bggrey">
                              <p>はい、可能です！<br>まず、各コースのカリキュラムの一部を各コースページにてご紹介させていただいております。<br>更に詳細の内容を知りたい方は体験レッスンをお申し込みください。<br>体験の流れと共に、ご案内をさせていただきます。</p>
                            </div>
                          </div>

                          <div class="fbox">
                            <h3 class="question wt_question">教材の購入は必須でしょうか？</h3>
                            <div class="answer wt_bggrey">
                              <p>体験レッスンは無料教材を使用しますので、購入は不要です。<br>但し、実際のコース受講に関しては、教材購入をお願いしております。<br>一部、桐原書店から出版されている教材に関しては、コース受講者様に無償プレゼントさせていただいております。</p>
                            </div>
                          </div>

                          <div class="fbox">
                            <h3 class="question wt_question">オンラインレッスンに必要な環境は何でしょうか？</h3>
                            <div class="answer wt_bggrey">
                              <p>PCとインターネット環境があればレッスンを実施することが出来ます。<br>スマホでの受講は教材が共有できないためお断りをしております。</p>
                            </div>
                          </div>

                          <div class="fbox">
                            <h3 class="question wt_question">講師はどうやって選べば良いですか？</h3>
                            <div class="answer wt_bggrey">
                              <p>はい、各講師教えられるコースは違いますので、体験したいコースより講師をお探しください。<br>各講師、自分の空いている時間をスケジュール枠として登録しておりますので、皆さまのご都合に合わせて予約をお願いいたします。</p>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="row mt-5">
                        <div class="col-12 text-center">
                          <a href="/wte/faq" class="btn btn-secondary rounded-pill wt_btn">その他のご質問はこちらから</a>
                        </div>
                      </div>

                    </div>

                    <script type="application/ld+json">
                      {
                        "@context": "https://schema.org",
                        "@type": "FAQPage",
                        "name": "英検一次試験対策コースに関するご質問",
                        "mainEntity": [{
                            "@type": "Question",
                            "name": "Q. 英検の2次試験の勉強の仕方がわかりません。どのように勉強すれば良いですか？",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "これは、英検の二次試験で求められているスキルを理解して、それに合う「型」を身につけることが1番重要です。
                              型を身につけるためには、教材を使った学習が一番確実で早いと思います。
                              もし、一人で学習するのが不安と感じている方は、学習を見てくれるコーチを付けることもお薦めしています！"
                            }
                          },
                          {
                            "@type": "Question",
                            "name": "Q. 2次試験で試験官はどのような部分を重点的に見られるのですか？",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "二次試験は大きく4つの構成に分かれます。
                              「パッセージの音読と質問」「イラストを見た上での質問」「トピックに関する質問」「日常に関する質問」
                              パッセージへの質問であれば、対応部分を答えられるか？
                              イラストへの質問には、それぞれの行動と考えを答えられるか？
                              トピックに関する質問、日常に関する質問であれば、まずは自分の意見を明確にした上で、その理由を答えられるかです。
                              毎回、二次試験で出される「質問の型」は同じなので、「解答も型」を身につければ、合格することが出来ます。"
                            }
                          },
                          {
                            "@type": "Question",
                            "name": "Q. 面接で、面接官が話されていることがうまく聞き取れません。聞き返すときは何と尋ねればよろしいでしょうか？",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "担当する面接官によって、聞き取りやすい、聞き取りにくいはありますが、もしわからなかったら聞き返しても問題ありません。
                              「Could you repeat the question?」「Pardon?」でも大丈夫です。
                              そして、これも事前に型を身につけていれば、多少文章が聞き取れなかったとしても、聞こえた単語から何を聞かれているかが想像出来るようになりますよ。"
                            }
                          },
                          {
                            "@type": "Question",
                            "name": "Q. 面接試験になると緊張して英語が出てこない生徒へのアドバイスがあればぜひお聴きしたいです。",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "緊張するのは当たり前なので、焦ることのないように型をしっかりと理解して、事前に何度も練習を繰り返すことです。
                              それでも緊張してしまうようでしたら、面接官に「How are you?」と質問された時に、大きな声で「I’m nervous.」と答えてください。
                              面接官も笑ってくれるので、場が少し和むと思います。"
                            }
                          },
                          {
                            "@type": "Question",
                            "name": "Q. 発音が上手くなりたいのですが、どうすれば良いですか？",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "音声付きの教材を使って、徹底的に真似をしてください。
                              見本を使わずに闇雲に練習をしても、それが合っているのかわからないので不安になってしまいます。
                              カラオケと一緒でまずは音声を繰り返し真似ていく、そうすると次第に自分でも喋れるようになるし、発音も良くなっていきます。。"
                            }
                          },
                          {
                            "@type": "Question",
                            "name": "Q. 前向きな姿勢で英語の実力をある程度カバーすることは可能ですか？",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "アティチュードという評価項目があります。
                              「ちゃんと伝えようとしている態度」「はっきりと答えているかどうか」
                              「自然に反応しているかどうか」という3つの点も評価の要素になりますので、点数に繋がる可能性はあります。
                              但し、英検2級で求められているスキルを満たしていないと合格は難しいので、前向きな姿勢と共に、面接の対策はしっかり行いましょう！"
                            }
                          },
                          {
                            "@type": "Question",
                            "name": "Q. 文法的に少し間違っていても沢山言った方がいいのでしょうか？それとも正確性をとった方がいいのでしょうか？",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "面接は正確性の方が大事です。
                              ただ、いっぱい喋ってもマイナスになることはありませんし、正確性に気を取られて話せなくなるのは一番良くないので、積極的に話をしていきましょう。"
                            }
                          },
                          {
                            "@type": "Question",
                            "name": "Q. カリキュラムについて、事前に確認することは出来ますか？",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "はい、可能です！
                              まず、 各コースのカリキュラムの一部を各コースページにてご紹介させていただいております。
                              更に詳細の内容を知りたい方は体験レッスンをお申し込みください。
                              体験の流れと共に、 ご案内をさせていただきます。 "
                            }
                          },
                          {
                            "@type": "Question",
                            "name": "Q. 教材の購入は必須でしょうか？",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "体験レッスンは無料教材を使用しますので、購入は不要です。
                              但し、 実際のコース受講に関しては、 教材購入をお願いしております。
                              一部、 桐原書店から出版されている教材に関しては、 コース受講者様に無償プレゼントさせていただいております。 "
                            }
                          },
                          {
                            "@type": "Question",
                            "name": "Q. オンラインレッスンに必要な環境は何でしょうか？",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "PCとインターネット環境があればレッスンを実施することが出来ます。
                              スマホでの受講は教材が共有できないためお断りをしております。 "
                            }
                          },
                          {
                            "@type": "Question",
                            "name": "Q. 講師はどうやって選べば良いですか？",
                            "acceptedAnswer": {
                              "@type": "Answer",
                              "text": "はい、各講師教えられるコースは違いますので、体験したいコースより講師をお探しください。
                              各講師、 自分の空いている時間をスケジュール枠として登録しておりますので、 皆さまのご都合に合わせて予約をお願いいたします。 "
                            }
                          }
                        ]
                      }
                    </script>


                  </section>
          
        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">定期学習</strong>コースを受けるには？</h2>
              </div>
              <div class="col-12 col-lg-8 offset-lg-2 pt-lg-4">
                  
                  
                <p>定期学習コースは、全8回の<a href="/wte/eiken2">英検二次試験合格コース</a>の受講を終了された方が対象です。</p>
                <p>まずは、二次試験合格コース　へのお申し込みをお願いいたします。</p>
                <p class="mb-0">既に二次試験合格コースを終了されている方は、ぜひ定期学習コースをご受講ください。</p>
                  <ul>
                      <li>英検合格を目指したい</li>
                      <li>引き続き同じ講師に教えてもらいたい</li>
                      <li>せっかく身につけた英語力を定着させたい</li>   
                      <li>苦手分野の強化をしたい</li> 
                  </ul>  
                <p>そんな思いを定期学習コースでサポートいたします！</p>
              </div>
            </div>
          </div>
        </section>           

        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item" content="https://academy.kirihara.co.jp/">
              <span class="wt_crumb" itemprop="item">ホーム</span>
              <meta itemprop="position" content="1">
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/eiken2" itemprop="item" content="https://academy.kirihara.co.jp/wte/eiken2">
              <span itemprop="name">英検二次試験対策</span>
              <meta itemprop="position" content="2" />
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/eiken2subsc" itemprop="item" content="https://academy.kirihara.co.jp/wte/eiken2subsc">
              <span itemprop="name">英検対策定期コース</span>
              <meta itemprop="position" content="3">
            </a>
          </li>
        </ul>
      </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
          <!-- Schema -->
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Article",
              "name": "英検二次試験コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」",
              "headline": "短期集中型オンラインTOEIC対策の料金プランのご案内です。他校と比べても圧倒的な安さで充実のカリキュラムを受けられます",
              "description": "この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。英検対策を引き続き継続したい方への、新しいプランです！ぜひ、講座が終了しましたらご検討くださいませ。",
              "datePublished": "2022-10-26T09:00:00+09:00",
              "dateModified": "2023-12-27T13:00:00+09:00",
              "url": "https://academy.kirihara.co.jp/wte/eiken2subsc",
              "mainEntityOfPage": "https://academy.kirihara.co.jp/wte/eiken2subsc",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ],
              "author": [{
                "@type": "Organization",
                "name": "KIRIHARA Online Academy",
                "url": "https://academy.kirihara.co.jp/"
              }]
            }

          </script>
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "WebPage",
              "name": "英検二次試験コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」",
              "description": "この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。英検対策を引き続き継続したい方への、新しいプランです！ぜひ、講座が終了しましたらご検討くださいませ。",
              "url": "https://academy.kirihara.co.jp/wte/eiken2subsc",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ]
            }

          </script>
</body>

</html>
