<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>英検一次試験（筆記）対策コース 教材のご紹介｜桐原書店のオンライン英会話「KIRIHARA Online Academy」</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,KIRIHARA Online Academy,TOEIC,早川幸治" />
  <meta property="og:title" content="英検一次試験（筆記）対策コース 教材のご紹介｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="KIRIHARA Online Academyでは、良質な教材を使ったカリキュラムをご用意し、生徒様の短期間での目標級合格に向けて、サポートを行っています。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/eiken1text" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/eiken1text" />
  <meta name="twitter:title" content="英検一次試験（筆記）対策コース 教材のご紹介｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta name="twitter:description" content="KIRIHARA Online Academyでは、良質な教材を使ったカリキュラムをご用意し、生徒様の短期間での目標級合格に向けて、サポートを行っています。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_eiken1.html">

    <main role="main" class="wt_main">

          <section class="wt_headvis wt_head_eiken1">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>英検一次試験（筆記）対策コース 教材のご紹介</h1>
                      </div>
                  </div>
              </div>
          </section>



          <section>
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                      <h2 class="text-center">英検一次試験（筆記）対策コースの<strong class="txt_kiri">レッスン教材</strong>について</h2>
                      <p class="wt_copy txt_kiri text-center mb-5">桐原書店の単語帳＆Workbookで語彙力を強化し<br>旺文社の教本と過去問も活用して、英検&reg;合格を目指す！</p>
                      <p>KIRIHARA Online Academyでは、良質な教材を使ったカリキュラムをご用意し、生徒様の短期間での目標級合格に向けて、サポートを行っています。<br>以下、利用する教材を説明させていただきます。</p>
                    </div>
                </div>
            </div>
          </section>


          <section class="wt_bggrey" id="databaseavail" name="databaseavail">
            <div class="container">
                <div class="row mb-5 pb-5">
                    <div class="col-12 col-md-5 pr-md-5 pl-md-5 mb-5 text-center">
                      <img src="/assets/img/books/eikentext_1.png" class="w-75 h-auto rounded" alt=">TOEIC&reg;L&amp;Rテスト書き込みドリル">
                    </div>
                    <div class="col-12 col-md-7 pr-md-5 pl-md-5">
                      <h3 class="text-center" style="line-height:1.2;">データベース アヴェイル 4技能 英単語・熟語<br><span style="font-size: 65%;">（編：桐原書店編集部）</span></h3>
                      <p class="text-center txt_kiri"><strong>英検&reg;や大学入学共通テストにも対応！<br>さまざまな試験対策に使えるデーターベース</strong></p>
                      <p>英検&reg;やGTECなどの試験の過去問を徹底分析し、選定された語句が収録されています。</p>
                      <p>約1,900の英単語、約200の熟語がレベル別、テーマ別で掲載されているので、学びやすいのがメリット。</p>
                      <p>過去に英語検定試験で出題された文法・語法についてのコラムや、レベルごとに長文と実践問題も収録されています。</p>
                      <p>さらに、桐原書店のホームページやアプリから音声データを入手することが可能。見出し語と例文の音声が聞けるので、音読学習で単語が学べますよ。</p>
                      <p>Database Availを使った音読学習に反復学習を組み合わせて、学んだ単語を記憶にしっかり定着させましょう！</p>
                    </div>

                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-12 col-md-5 order-md-2 pr-md-5 pl-md-5 mb-5 text-center">
                      <img src="/assets/img/books/eikentext_2.png" class="w-75 h-auto rounded" alt="データベース アヴェイル Workbook">
                    </div>
                    <div class="col-12 col-md-7 order-md-1 pr-md-5 pl-md-5">
                      <h3 class="text-center" style="line-height:1.2;">データベース アヴェイル Workbook<br><span style="font-size: 65%;line-height:1.2;">（編：桐原書店編集部）</span></h3>
                      <p class="text-center txt_kiri"><strong>Database Availと組み合わせて効果アップ！<br>レベル別で学習しやすいWorkbookです</strong></p>
                      <p>Database Availで学んだ単語や熟語を定着させるための補助教材。</p>
                      <p>目で見て、音声を聞き、声を出すことに加え、このWorkbookに書き出して単語・熟語を学習するとより効果的です。</p>
                      <p>Workbookを単語学習と併用することで、単語や熟語をより記憶に定着させることができます。さらに、音声と例文を活用してディクテーションを行うことも可能。</p>
                      <p>ディクテーションとは聞いた英語を書き取る学習法のことで、リスニング力の向上に効果があると言われています。</p>
                      <p>また、Level 1（準2級）、Level 2（2級）、Level 3（準1級）の3段階のレベル別構成となっているので、勉強しやすいです。</p>
                    </div>

                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-12 col-md-5 pr-md-5 pl-md-5 mb-5 text-center">
                      <img src="/assets/img/books/eikentext_3.png" class="w-75 h-auto rounded" alt=">TOEIC&reg;L&amp;Rテスト書き込みドリル">
                    </div>
                    <div class="col-12 col-md-7 pr-md-5 pl-md-5">
                      <h3 class="text-center" style="line-height:1.2;">英検総合対策教本<br><span style="font-size: 65%;margin-top:-15px;">（編：旺文社）</span></h3>
                      <p class="text-center txt_kiri"><strong>英検&reg;対策をする上で必ず読んでおきたい教材<br>一次試験だけでなく、二次試験対策にも役立ちます</strong></p>
                      <p>英検&reg;対策をする上での教科書として活用できます。出題形式の傾向、解説とトレーニング、実戦問題で構成されており、二次試験対策についての内容も含まれます。</p>
                      <p>準2級と2級の教本は、仮定法、不定詞、比較級などの文法事項がしっかりと学べる内容となっています。</p>
                      <p>準1級の教本では、語彙問題、読解問題、英作文問題、リスニング問題の各分野がまんべんなく網羅されています。</p>
                      <p>受験者が学生の場合、この教本で対策を進め、学校で習っていない文法事項を学習すると良いでしょう。CDも付属されているので、音読教材としても使えます。</p>

                    </div>
                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-12 col-md-5 order-md-2 pr-md-5 pl-md-5 mb-5 text-center">
                      <img src="/assets/img/books/eikentext_4.png" class="w-75 h-auto rounded" alt="データベース アヴェイル Workbook">
                    </div>
                    <div class="col-12 col-md-7 order-md-1 pr-md-5 pl-md-5">
                      <h3 class="text-center" style="line-height:1.2;">英検過去6回全問題集<br><span style="font-size: 65%;line-height:1.2;">（編：旺文社）</span></h3>
                      <p class="text-center txt_kiri"><strong>2年分の過去問が解ける！<br>解説が詳しく分かりやすい教材です</strong></p>
                      <p>英検対策の際は、過去問も解いておくのがポイント。英検過去6回全問題集を使って対策をすることで、本試験の傾向がつかめます。</p>
                      <p>また、本番同様に時間を計りながら問題を解けば、時間配分の感覚を身につけられます。現時点での実力を把握することも可能です。</p>
                      <p>なお、英検&reg;過去6回全問題集には、過去6回分、つまり2年分の試験が収録されています</p>
                      <p>試験本番までに2年分解いておくのが望ましいと言われているので、この問題集を使って対策することで、試験本番への備えができます。</p>
                      <p>教本と合わせて活用し、目標級に合格できる力をつけましょう！</p>
                    </div>

                </div>
            </div>
          </section>



        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="url" content="https://academy.kirihara.co.jp/">
              <span class="wt_crumb" itemprop="name">ホーム</span>
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/eiken1" itemprop="name" content="https://academy.kirihara.co.jp/wte/eiken1">
              <span itemprop="title">英検一次試験対策</span>
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/eikentext" itemprop="name" content="https://academy.kirihara.co.jp/wte/eikentext">
              <span itemprop="title">英検&reg;対策コースの教材のご紹介</span>
            </a>
          </li>
        </ul>
    </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
    <TMPL_INCLUDE NAME="../include/foot.html">
          <!-- Schema -->
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Article",
              "name": "英検&reg;対策コースの教材のご紹介｜オンライン学習のKIRIHARA Online Academy",
              "headline": "KIRIHARA Online Academy 指定のレッスン教材について",
              "description": "KIRIHARA Online Academyでは、良質な教材を使ったカリキュラムをご用意し、生徒様の短期間での目標級合格に向けて、サポートを行っています。",
              "datePublished": "2022-08-08T09:00:00+09:00",
              "dateModified": "2022-08-08T13:00:00+09:00",
              "url": "https://academy.kirihara.co.jp/wte/eiken1text",
              "mainEntityOfPage": "https://academy.kirihara.co.jp/wte/eiken1text",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ],
              "author": [{
                "@type": "Organization",
                "name": "KIRIHARA Online Academy",
                "url": "https://academy.kirihara.co.jp/"
              }]
            }

          </script>
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "WebPage",
              "name": "英検&reg;対策コースの教材のご紹介｜オンライン学習のKIRIHARA Online Academy",
              "description": "KIRIHARA Online Academyでは、良質な教材を使ったカリキュラムをご用意し、生徒様の短期間での目標級合格に向けて、サポートを行っています。",
              "url": "https://academy.kirihara.co.jp/wte/eiken1text",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ]
            }

          </script>
</body>

</html>
