<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>英検ライティング対策コース｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="オンライン英会話を活用し、マンツーマンの英検ライティング対策レッスンを提供いたします。英作文に初めて取り組む方から英検1級を取得したい方まで、目的別に5つのコースがあります。ライティングに特化して、徹底的に「型」を身につけます。型を身につけることで、あらゆるトピックに対応できるようになります。また、すべての英作文で使いまわしができる便利な表現も数多く学ぶことができます。型を学びながら、書いた英作文に対して、講師からのフィードバックがありますので、ライティングの強みや弱みを把握することができます。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="英検ライティング対策コース｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="オンライン英会話を活用し、マンツーマンの英検ライティング対策レッスンを提供いたします。英作文に初めて取り組む方から英検1級を取得したい方まで、目的別に5つのコースがあります。ライティングに特化して、徹底的に「型」を身につけます。型を身につけることで、あらゆるトピックに対応できるようになります。また、すべての英作文で使いまわしができる便利な表現も数多く学ぶことができます。型を学びながら、書いた英作文に対して、講師からのフィードバックがありますので、ライティングの強みや弱みを把握することができます。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/eikenw" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eikenw.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/eikenw" />
  <meta name="twitter:title" content="英検ライティング対策コース｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="オンライン英会話を活用し、マンツーマンの英検ライティング対策レッスンを提供いたします。英作文に初めて取り組む方から英検1級を取得したい方まで、目的別に5つのコースがあります。ライティングに特化して、徹底的に「型」を身につけます。型を身につけることで、あらゆるトピックに対応できるようになります。また、すべての英作文で使いまわしができる便利な表現も数多く学ぶことができます。型を学びながら、書いた英作文に対して、講師からのフィードバックがありますので、ライティングの強みや弱みを把握することができます。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eikenw.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_coursevis wt_head_eikenw">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>英検ライティング対策コース</h1>
                        <h4 class="text-center">初めて英作文に取り組む方から、学習効率を高めたい方へ</h4>
                      </div>
                  </div>
              </div>
          </section>
          <section>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-center">オンライン英会話を活用し、マンツーマンの<strong class="txt_kiri">英検ライティング対策レッスン</strong></h2>
                    
                  <p>英作文に初めて取り組む方から英検1級を取得したい方まで、目的別に5つのコースがあります。</p>

                  <p>ライティングに特化して、徹底的に「型」を身につけます。型を身につけることで、あらゆるトピックに対応できるようになります。また、すべての英作文で使いまわしができる便利な表現も数多く学ぶことができます。</p>

                  <p>型を学びながら、書いた英作文に対して、講師からのフィードバックがありますので、ライティングの強みや弱みを把握することができます。<br>また、自分で書いた英作文を評価できるようにするために、よい書き方／悪い書き方を分析する力も磨きます。</p>

                  <p>「書いて、評価して終わり」ではなく、さらにアップグレードするための書き直しも取り入れるため、上達を感じやすく、短期間で精度の高いライティング力を身につけることができます。マンツーマンでのサポートやフィードバックがあるからこそ実現できる内容です。</p>
                    
                </div>
              </div>
            </div>
          </section>
 <section class="wt_sec_bg_1">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">英検ライティング対策コース</strong>の特徴</h2>
        </div>
      </div>
    <div class="row">
      <div class="col-12 col-md-4 text-center wt_feature wt_feature_1">
        <img src="/assets/img/eikenw/feature_1.jpg" alt="徹底的にライティングの「型」を身につけます" class="w-100 rounded">
        <h3 class="mb-5">徹底的にライティングの<strong>「型」</strong>を身につけます</h3>
        <p class="text-left">まずは問題集や例題を活用し、英検の試験に特化したライティングの型を身に付けていきます。基本的な文章の構成を理解することでライティングのスコアを上げていきます。</p>
      </div>
      <div class="col-12 col-md-4 text-center wt_feature wt_feature_2">
        <img src="/assets/img/eikenw/feature_2.jpg" alt="実践＆フィードバックの繰り返しによりスキルアップ" class="w-100 rounded">
        <h3 class="mb-5"><strong>実践＆フィードバック</strong>の繰り返しによりスキルアップ</h3>
        <p class="text-left">立場を変えた回答を作成したり、自分の意見を作文できるように語彙を覚えたり、基礎的な力を上げていきます。試験対策にとどまらないライティングの実践スキルを身に付けます。</p>
      </div>
      <div class="col-12 col-md-4 text-center wt_feature wt_feature_3">
        <img src="/assets/img/eikenw/feature_3.jpg" alt="苦手な個所を克服するピンポイントのアドバイスを提供" class="w-100 rounded">
        <h3 class="mb-5">苦手な個所を克服する<strong>ピンポイント</strong>のアドバイスを提供</h3>
        <p class="text-left">講師とマンツーマンレッスンで文法や語彙、表現方法など、ライティングにおける苦手な箇所を発見し、徹底的にトレーニングしていくことで、少しでも加点に繋がる特訓を行います。</p>
      </div>
    </div>
      
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center order-md-2">
          <img src="/assets/img/course/hayakawa.jpg" alt="早川幸治先生" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center order-md-1">
          <div class="wt_fukidashi p-5">
            <h3>コース監修 - 早川幸治（Jay）先生より</h3>
              <p class="text-left">ライティングは、知識ではなく<strong>スキル</strong>です。モデルを真似ることから入り、<strong>「書く←→評価」</strong>を繰り返すことにより、着実に上達します。学習しにくそうに感じるかもしれないライティングですが、自分の中に<strong>「型」</strong>をインストールすることで、素早く精度の高い英作文を書くことができるようになります。</p>
          </div>
        </div>
      </div>
      
    </div>
          </section>


  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">英検ライティング対策コース</strong>のプラン一覧</h2>
        </div>
      </div>
      <div class="row wt_plan mb-5">
        <div class="col-12 col-md-4 mb-5">
          <h4 class="text-center">英検準1級ライティング対策コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item text-primary"><span>税込価格</span><strong>49,500</strong>円</li>
            <!--<li class="list-group-item text-primary"><strong>近日公開</strong></li>-->
            <li class="list-group-item"><span>回数</span>全<strong>8</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>50</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>英語でエッセーを書く機会のなかった方</li>
              <li>英作文の書き方がよくわからない方</li>
              <li>英作文問題の点数がなかなか上がらない方</li>
              <li>2級英作文とのギャップに困惑し対応方法に苦慮している方</li>
            </ul></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-5">
          <h4 class="text-center">英検2級ライティング対策コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item text-primary"><span>税込価格</span><strong>44,000</strong>円</li>
            <li class="list-group-item"><span>回数</span>全<strong>8</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>50</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>英作文の書き方がよくわからない方</li>
              <li>英作文問題の点数がなかなか上がらない方</li>
              <li>準2級英作文とのギャップに困惑し対応方法に苦慮している方</li>
            </ul></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-5">
          <h4 class="text-center">英検準2級ライティング対策コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item text-primary"><span>税込価格</span><strong>44,000</strong>円</li>
            <li class="list-group-item"><span>回数</span>全<strong>8</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>50</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>英作文の書き方がよくわからない方</li>
              <li>英作文問題の点数がなかなか上がらない方</li>
              <li>3級英作文とのギャップに困惑し対応方法に苦慮している方</li>
            </ul></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-5">
          <h4 class="text-center">英検3級ライティング対策コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item text-primary"><span>税込価格</span><strong>44,000</strong>円</li>
            <li class="list-group-item"><span>回数</span>全<strong>8</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>50</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>英作文の書き方がよくわからず、苦手意識がある方</li>
              <li>英作文問題の点数がなかなか上がらない方</li>
            </ul></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-5">
          <h4 class="text-center">英検1級ライティング対策コース</h4>
          <ul class="list-group list-group-flush text-center">
            <!--<li class="list-group-item text-primary"><span>税込価格</span><strong>49,500</strong>円</li>-->
            <li class="list-group-item text-primary"><strong>近日公開</strong></li>
            <li class="list-group-item"><span>回数</span>全<strong>8</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>50</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>準1級のエッセーとのギャップに困惑し対応に苦慮されている方</li>
              <li>1級レベルのエッセーライティングで安定して点数を獲得したい方</li>
              <li>ライバルとの差をライティングでつけたい方</li>
            </ul></li>
          </ul>
        </div>

      </div>
    </div>
  </section>








    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
