<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>英検一次試験コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」</title>
  <meta name="description" content="この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。英検対策を引き続き継続したい方への、新しいプランです！ぜひ、講座が終了しましたらご検討くださいませ。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,KIRIHARA Online Academy,TOEIC,早川幸治" />
  <meta property="og:title" content="英検一次試験コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。英検対策を引き続き継続したい方への、新しいプランです！ぜひ、講座が終了しましたらご検討くださいませ。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/eiken1subsc" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png" />
  <meta property="og:site_name" content="英検一次試験コース修了者向け定期コース｜オンラインで2ヶ月間短期集中｜KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/eiken1subsc" />
  <meta name="twitter:title" content="英検一次試験コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta name="twitter:description" content="この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。英検対策を引き続き継続したい方への、新しいプランです！ぜひ、講座が終了しましたらご検討くださいませ。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <link rel="stylesheet" href="/assets/css/lp.css?4">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_eiken1.html">

      <main role="main" class="wt_main">
          
          <section class="wt_headvis wt_head_eiken1">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>英検一次試験コース修了者向け定期コース</h1>
                      </div>
                  </div>
              </div>
          </section>          



        <section class="wt_sec_grey">
          <div class="container">
            <div class="row ">
              <div class="col-12">
                <h2 class="text-center">講座が終わった後も学習を<strong class="txt_kiri">サポート</strong><br>修了者向け定期学習コース</h2>
              </div>
              <!--<div class="col-12 col-md-8 offset-md-2">
                <div class="mb-5">
                  <img src="/assets/img/eiken1/eiken1subsc.jpg" class="w-100 h-auto" alt="英検一次試験コース修了者向け定期コース">
                </div>
                <p>「いつも励ましていただき学習習慣がつきました」<br>
                  「この2ヶ月間で英語力がワンランク上がりました」<br>
                  「リスニングのコツがわかりやる気が湧きました」</p>
                  <p>受講生の皆さまから、沢山のお喜びの声をいただいております！</p>
                  <p>この度、TOEIC対策を「さらに」充実させるために、講座修了者へ「サブスク型」の定期コースを提供することになりました。</p>
                  <p>より一層TOEICの力をつけるための、新プランです！<br>
                  通常の講座と合わせてご活用いただけますと幸いです。</p>
              </div>
              <div class="col-12 col-md-5">
              </div>-->
            </div>
            <div class="row ">
              <div class="col-12 col-md-6">
                  <p>「英検本試験直前のレッスンで安心できました」<br>「リスニング練習の成果が出てきて嬉しいです」<br>「説明を受けながら学習した方が記憶に残ります」</p>
                  <p>コースを受講した生徒様から、たくさんお喜びのご連絡をいただきました！</p>
                  <p>この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。</p>
                  <p>英検対策を引き続き継続したい方への、新しいプランです！<br>ぜひ、講座が終了しましたらご検討くださいませ。</p>
              </div>
              <div class="col-12 col-md-6">      
                  <img src="/assets/img/eiken1/eiken1subsc-2.jpg" class="w-100 h-auto" alt="英検一次試験コース修了者向け定期学習コース">
              </div>                
             </div>      
          </div>
        </section>
          
          
       <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検対策の<strong class="txt_kiri">総仕上げ</strong>に<br>定期学習コースの特長</h2>
                <p class="text-left text-md-center">定期学習コースは、英検一次試験対策コース(全8回コース)を終えて、<br class="d-none d-md-block">追加で授業を受けたい・継続して英検対策をしたい方のためのオンリーワンのコースです。<br>英検対策コースに引き続き、担当講師が受講生一人一人の弱みの強化に注力したレッスンを提供します。</p>
              </div>
            </div>
          </div>

          <div class="container-fluid">

            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 1</div>
                    <h3 class="text-left">苦手を<strong class="text-primary">ピンポイント</strong>で強化</h3>
                    <p>英検受験をされた方は個人成績表をもとに苦手を見つけ、しっかりヒアリングさせていただきます。カリキュラム通りに進む英検対策講座(全8回コース)とは異なり、自身の弱みの克服のための授業を受け、着実な英語力UPに繋がります。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1subsc_1.jpg" alt="苦手をピンポイントで強化" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 2</div>
                      <h3 class="text-left"><strong class="text-primary">講座と同じ講師</strong>が担当</h3>
                    <p>英検対策講座を担当した講師が定期コースも継続して担当することが可能です！2ヶ月間共に学習してきて関係性もでき、一人一人の強みや弱みもしっかり把握しています。日本人講師の細やかなサポートもとても好評です。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1subsc_2.jpg" alt="講座と同じ講師が担当" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 3</div>
                      <h3 class="text-left"><strong class="text-primary">必要な回数</strong>だけレッスン可能</h3>
                    <p>自分のペースに合わせ、レッスン回数を毎月2回・4回から選択できます。<br>短期集中講座を終えた後は、ご自身に合った丁度よいペースで学習をご継続ください。<br>必ず継続は力となってくれます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1subsc_3.jpg" alt="必要な回数だけレッスン可能" class="w-100 h-auto">
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12">

                <div class="text-center">
                  <p class="wt_mcopy">＼気になる講座を体験できる／
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1"
                    class="btn btn-danger rounded-pill btn-lg">無料体験レッスン実施中 →</a></div>
              </div>
            </div>

          </div>
        </section>          

        <section class="wt_sec_grey">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center">修了者向け定期コース <strong class="txt_kiri">料金プラン</strong></h2>
                <p class="mb-5">こちらの講座は、一次試験対策コースを修了した方のみとなります。<br>月2回のコース、月4回のコースを用意しています。</p>
              </div>
            </div>

            <TMPL_INCLUDE NAME="../include/price_eiken1_teiki.html">            

            <div class="row">
              <div class="col-12 text-center">
                <p class="text-center mb-2"><strong>＼体験レッスン実施中！たった5分で予約が可能／</strong></p>
                <div class="wt_mvbtn"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">まずはこちらから無料の会員登録をしてください</a></div>
              </div>
            </div>
          </div>
        </section>
          
        <section class="d-none">
          <div class="container">
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center">今だけ！<strong class="txt_kiri">TOEICに特化した</strong><br class="d-block d-md-none">フレーズ学習できる<strong class="txt_kiri">教材プレゼント</strong></h2>
              </div>
              <div class="col-12 col-md-8">
                <p>定期学習コースにお申込みいただいた方限定！<br>TOEIC&reg;L&amp;Rテスト書き込みドリル【フレーズ言いまわし編】をプレゼント！</p>
                <p class="mb-0">【書籍の特徴】</p>
                <ul>
                      <li>1日4ページ“20日間”でよく出るフレーズの基礎が学べる</li>
                      <li>単語をフレーズ単位で覚えるため、文章で使われる形に近い学習が可能◎</li>
                      <li>書いて覚えるドリル形式（書く→覚える→定着する）</li>
                      <li>スコア500(日常会話である程度問題なくやりとりができるレベル)目標</li>
                      <li>「カリスマTOEIC講師」として知られる早川幸治（Jay）先生著作！</li>               
                </ul>                       
                 <p>こちらを活用することで、ツカエル英語表現を身に着けましょう！</p>
                 <div class="text-center"><a href="/wte/eiken1subsctext" class="btn btn-secondary rounded-pill wt_btn">教材説明はこちら</a></div>
              </div>
              <div class="col-12 col-md-4 text-center">
                <img src="/assets/img/eiken1/books_present_sub.png" class="w-75 h-auto" loading="lazy"
                  alt="今だけ！TOEICに特化したフレーズ学習できる教材プレゼント">
              </div>
            </div>
          </div>
        </section>          
          
        <section class="wt_sec_turquoise">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検一次試験対策コースに関する<br class="d-block d-md-none">よくあるご質問</h2>
                <p class="text-left text-md-center">%product_name%にこれまでいただいた質問をまとめました。<br>学習方法についてはコース監修の早川先生が直接回答をしています。<br>皆さまの英検対策に繋がれば幸いです。</p>
              </div>
            </div>

            <div class="row mt-5 mb-5 pb-3 faq">
              <div class="col-12">

                <div class="fbox">
                  <h3 class="question wt_question">リスニングが苦手です。リスニング力をあげるための方法を知りたいです！</h3>
                  <div class="answer wt_bggrey">
                    <p>方法は2つあります。</p>
                    <p>まず、読んだ時にわからない単語については聞いてもわからないので、その場合は単語力を伸ばす必要があります。</p>
                    <p>次に、おそらくほとんどの方がこちらで悩みだと思うのですが、「読むとわかるけど聞くとわからない」というケースです。<br>この場合には「文字と音のギャップ」を埋める必要あり、このためにできるのは「英語のリズムを徹底的に真似すること」です。</p>
                    <p>カラオケで1曲歌えるようになるのと同じ感覚で、何度も何度も練習してもらえれば確実に英語が聞き取れるようになっていきます。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">長文読解で分からない単語があるとつまづきます。どうすればいいですか？</h3>
                  <div class="answer wt_bggrey">
                    <p>本番ではそのまま読み進めたほうがよいです。</p>
                    <p>コツとして、わからない「名詞」や「動詞」が出てきた場合は、「何か」・「何かする」と訳してください。</p>
                    <p>例えば動詞の後ろに「machine」と出てきた場合、「機械」に「何かする」ので、想定できる訳として「動かす・直す・導入する」など、ある程度選択肢が限られてきます。（関連する単語から意味を連想することができます。）</p>
                    <p>「形容詞 」・「副詞」が出てきた場合は、説明を加えるだけですので、わからない場合は飛ばして大丈夫です。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">ライティングでこんな方法はして欲しくないというものを教えてください。</h3>
                  <div class="answer wt_bggrey">
                    <p>「日本語の直訳」はあまり好ましくありません。</p>
                    <p>ライティングには「型」があります。<br>それをちゃんと身につけるだけで、テスト対策にも日常でも使える作文の力が身に付きます。</p>
                    <p>書き方の「型」は教材でも学べますし、KIRIHARA Online Academyのオンライン英会話レッスンでもお教えすることができます。</p>
                    <p>ますは「型」を身に着け、単語を入れ替えて訳せるといったところまでレベルを伸ばしていきましょう。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">英検のテキストの英単語を覚えるより、単語帳を覚えた方がいいでしょうか？</h3>
                  <div class="answer wt_bggrey">
                    <p>両方とも取り組んでいただきたいです。</p>
                    <p>英検の教本だけだと単語のコーナーは少なめなので、単語を集中的に学習するには足りない部分があります。</p>
                    <p>単語帳で勉強したものを、さらに英検の教本で強化していく、といったやり方が好ましいです。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">音読はどのようにしたらよいですか</h3>
                  <div class="answer wt_bggrey">
                    <p>一言でいうと、「徹底的に英語の音（リズム）をまねる」という感じです。</p>
                    <p>一度解き終わった過去問題集などを使って、付属の音声と合わせて発声してみてください。<br>とにかく「徹底的に繰り返し発音を真似る」ことが大切です。</p>
                    <p>KIRIHARA Online Academyでは、効果的な音読方法としてオンライン英会話を通じて「リピーティング」「オーバーラッピング」「シャドーイング」の解説もしています。<br>一度オンラインの無料体験レッスンをお試しください。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">試験まで時間がなく、単語だけ徹底的にやるか、文法と単語を半々にやるかどちらが良いですか？</h3>
                  <div class="answer wt_bggrey">
                    <p>この2択はとても難しいです…。</p>
                    <p>その前提の上で、正解数を増やすという意味では、文法はパターンなので身に着けるのに時間がかかりますので、単語の方がいいと思います。</p>
                    <p>ある程度文法が頭に入っている場合には、文法は問題だけ解いて、単語を大量に頭に入れていくというやり方が良いかもしれません。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">文法は全て覚えるべきでしょうか？</h3>
                  <div class="answer wt_bggrey">
                    <p>文法は「文を構成するためのルール」ですから、知っていればいるほどスムーズな理解が可能となります。</p>
                    <p>ただ、ルールだけ覚えても読んだり聞いたりできるようにはならないため、英文を活用しながら学習することをお勧めします。</p>
                    <p>ルールを確認したうえで該当する文法が使われている英文に多く触れる。<br>パズルのように分解して理解するのではなく、感覚的に理解できるようになると強いです。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">長文読解をする際に日本語と照らし合わせ理解していくのか、一度自分で読んで問題を解くのとどちらがいいでしょうか？</h3>
                  <div class="answer wt_bggrey">
                    <p>何もわからない場合は、日本語を先に読み内容を理解したうえで、英語ではどのような単語や文法が使われているのかを確認するというところからスタートすることをお勧めします。</p>
                    <p>わからないことをやりつづけても上達するわけではありませんので、「わかる」ということを優先してください。</p>
                    <p>たとえば、本文を読めなければ問題は解けませんから、学習のスタート段階では、「日本語で本文を読んだ後に、英語の問題に取り組む」などの工夫も効果的です。<br>問題を解くことを優先せずに、本文の内容を理解することを優先してください。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">カリキュラムについて、事前に確認することは出来ますか？</h3>
                  <div class="answer wt_bggrey">
                    <p>はい、可能です！<br>まず、各コースのカリキュラムの一部を各ページにてご紹介させていただいております。<br>更に詳細の内容を知りたい方は体験レッスンをお申し込みください。<br>オンライン英会話レッスンにて、ご案内をさせていただきます。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">教材の購入は必須でしょうか？</h3>
                  <div class="answer wt_bggrey">
                    <p>体験レッスンは無料教材を使用しますので、購入は不要です。<br>但し、実際のコース受講に関しては、教材購入をお願いしております。<br>一部、桐原書店から出版されている教材に関しては、コース受講者様に無償プレゼントさせていただいております。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">オンライン英会話レッスンに必要な環境は何でしょうか？</h3>
                  <div class="answer wt_bggrey">
                    <p>PCとインターネット環境があればレッスンを実施することが出来ます。<br>スマホでの受講は教材が共有できないためお断りをしております。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">講師はどうやって選べば良いですか？</h3>
                  <div class="answer wt_bggrey">
                    <p>はい、各講師教えられるコースは違いますので、体験したいコースより講師をお探しください。<br>各講師、自分の空いている時間をスケジュール枠として登録しておりますので、皆さまのご都合に合わせて予約をお願いいたします。<br>オンライン英会話レッスンの最後に今後のスケジュールを講師と相談してください。</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12 text-center">
                <a href="/wte/faq" class="btn btn-secondary rounded-pill wt_btn">その他のご質問はこちらから</a>
              </div>
            </div>

          </div>

          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "FAQPage",
              "name": "英検一次試験対策コースに関するご質問",
              "mainEntity": [{
                  "@type": "Question",
                  "name": "Q. リスニングが苦手です。リスニング力をあげるための方法を知りたいです！",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "方法は2つあります。
                    まず、読んだ時にわからない単語については聞いてもわからないので、その場合は単語力を伸ばす必要があります。
                    次に、おそらくほとんどの方がこちらで悩みだと思うのですが、「読むとわかるけど聞くとわからない」というケースです。
                    この場合には「文字と音のギャップ」を埋める必要あり、このためにできるのは「英語のリズムを徹底的に真似すること」です。
                    カラオケで1曲歌えるようになるのと同じ感覚で、何度も何度も練習してもらえれば確実に英語が聞き取れるようになっていきます。"
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 長文読解で分からない単語があるとつまづきます。どうすればいいですか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "本番ではそのまま読み進めたほうがよいです。
                    コツとして、わからない「名詞」や「動詞」が出てきた場合は、「何か」・「何かする」と訳してください。
                    例えば動詞の後ろに「machine」と出てきた場合、「機械」に「何かする」ので、想定できる訳として「動かす・直す・導入する」など、ある程度選択肢が限られてきます。（関連する単語から意味を連想することができます。）
                    「形容詞 」・「副詞」が出てきた場合は、説明を加えるだけですので、わからない場合は飛ばして大丈夫です。"
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. ライティングでこんな方法はして欲しくないというものを教えてください。",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "「日本語の直訳」はあまり好ましくありません。
                    ライティングには「型」があります。
                    それをちゃんと身につけるだけで、テスト対策にも日常でも使える作文の力が身に付きます。
                    書き方の「型」は教材でも学べますし、KIRIHARA Online Academyでもお教えすることができます。
                    ますは「型」を身に着け、単語を入れ替えて訳せるといったところまでレベルを伸ばしていきましょう。"
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 英検のテキストの英単語を覚えるより、単語帳を覚えた方がいいでしょうか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "両方とも取り組んでいただきたいです。
                    英検の教本だけだと単語のコーナーは少なめなので、単語を集中的に学習するには足りない部分があります。
                    単語帳で勉強したものを、さらに英検の教本で強化していく、といったやり方が好ましいです。"
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 音読はどのようにしたらよいですか",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "一言でいうと、「徹底的に英語の音（リズム）をまねる」という感じです。
                    一度解き終わった過去問題集などを使って、付属の音声と合わせて発声してみてください。
                    とにかく「徹底的に繰り返し発音を真似る」ことが大切です。
                    KIRIHARA Online Academyでは、効果的な音読方法として「リピーティング」「オーバーラッピング」「シャドーイング」の解説もしています。
                    一度オンラインの無料体験レッスンをお試しください。"
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 試験まで時間がなく、単語だけ徹底的にやるか、文法と単語を半々にやるかどちらが良いですか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "この2択はとても難しいです…。
                    その前提の上で、正解数を増やすという意味では、文法はパターンなので身に着けるのに時間がかかりますので、単語の方がいいと思います。
                    ある程度文法が頭に入っている場合には、文法は問題だけ解いて、単語を大量に頭に入れていくというやり方が良いかもしれません。"
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 文法は全て覚えるべきでしょうか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "文法は「文を構成するためのルール」ですから、知っていればいるほどスムーズな理解が可能となります。
                    ただ、ルールだけ覚えても読んだり聞いたりできるようにはならないため、英文を活用しながら学習することをお勧めします。
                    ルールを確認したうえで該当する文法が使われている英文に多く触れる。
                    パズルのように分解して理解するのではなく、感覚的に理解できるようになると強いです。"
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 長文読解をする際に日本語と照らし合わせ理解していくのか、一度自分で読んで問題を解くのとどちらがいいでしょうか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "何もわからない場合は、日本語を先に読み内容を理解したうえで、英語ではどのような単語や文法が使われているのかを確認するというところからスタートすることをお勧めします。
                    わからないことをやりつづけても上達するわけではありませんので、「わかる」ということを優先してください。
                    たとえば、本文を読めなければ問題は解けませんから、学習のスタート段階では、「日本語で本文を読んだ後に、英語の問題に取り組む」などの工夫も効果的です。
                    問題を解くことを優先せずに、本文の内容を理解することを優先してください。"
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. カリキュラムについて、事前に確認することは出来ますか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "はい、可能です！
                    まず、 各コースのカリキュラムの一部を各コースページにてご紹介させていただいております。
                    更に詳細の内容を知りたい方は体験レッスンをお申し込みください。
                    体験の流れと共に、 ご案内をさせていただきます。 "
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 教材の購入は必須でしょうか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "体験レッスンは無料教材を使用しますので、購入は不要です。
                    但し、 実際のコース受講に関しては、 教材購入をお願いしております。
                    一部、 桐原書店から出版されている教材に関しては、 コース受講者様に無償プレゼントさせていただいております。 "
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. オンラインレッスンに必要な環境は何でしょうか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "PCとインターネット環境があればレッスンを実施することが出来ます。
                    スマホでの受講は教材が共有できないためお断りをしております。 "
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 講師はどうやって選べば良いですか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "はい、各講師教えられるコースは違いますので、体験したいコースより講師をお探しください。
                    各講師、 自分の空いている時間をスケジュール枠として登録しておりますので、 皆さまのご都合に合わせて予約をお願いいたします。 "
                  }
                }
              ]
            }
          </script>


        </section>
          
        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">定期学習</strong>コースを受けるには？</h2>
              </div>
              <div class="col-12 col-lg-8 offset-lg-2 pt-lg-4">
                  
                  
                <p>定期学習コースは、全8回の<a href="/wte/eiken1">英検一次試験対策コース</a>の受講を終了された方が対象です。</p>
                <p>まずは、一次試験対策コース　へのお申し込みをお願いいたします。</p>
                <p class="mb-0">既に一次試験対策コースを終了されている方は、ぜひ定期学習コースをご受講ください。</p>
                  <ul>
                      <li>英検合格を目指したい</li>
                      <li>引き続き同じ講師に教えてもらいたい</li>
                      <li>せっかく身につけた英語力を定着させたい</li>   
                      <li>苦手分野の強化をしたい</li> 
                  </ul>  
                <p>そんな思いを定期学習コースでサポートいたします！</p>
              </div>
            </div>
          </div>
        </section>           

        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item" content="https://academy.kirihara.co.jp/">
              <span class="wt_crumb" itemprop="item">ホーム</span>
              <meta itemprop="position" content="1">
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/eiken1" itemprop="item" content="https://academy.kirihara.co.jp/wte/eiken1">
              <span itemprop="name">英検一次試験対策</span>
              <meta itemprop="position" content="2" />
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/eiken1subsc" itemprop="item" content="https://academy.kirihara.co.jp/wte/eiken1subsc">
              <span itemprop="name">英検対策定期コース</span>
              <meta itemprop="position" content="3">
            </a>
          </li>
        </ul>
      </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
          <!-- Schema -->
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Article",
              "name": "英検一次試験コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」",
              "headline": "短期集中型オンラインTOEIC対策の料金プランのご案内です。他校と比べても圧倒的な安さで充実のカリキュラムを受けられます",
              "description": "この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。英検対策を引き続き継続したい方への、新しいプランです！ぜひ、講座が終了しましたらご検討くださいませ。",
              "datePublished": "2022-10-26T09:00:00+09:00",
              "dateModified": "2023-12-27T13:00:00+09:00",
              "url": "https://academy.kirihara.co.jp/wte/eiken1subsc",
              "mainEntityOfPage": "https://academy.kirihara.co.jp/wte/eiken1subsc",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ],
              "author": [{
                "@type": "Organization",
                "name": "KIRIHARA Online Academy",
                "url": "https://academy.kirihara.co.jp/"
              }]
            }

          </script>
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "WebPage",
              "name": "英検一次試験コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」",
              "description": "この度、英検対策を「もっと」効果を上げるために、講座修了の方々に「サブスクリプション型」の定期コースを提供いたします。英検対策を引き続き継続したい方への、新しいプランです！ぜひ、講座が終了しましたらご検討くださいませ。",
              "url": "https://academy.kirihara.co.jp/wte/eiken1subsc",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken1.png",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ]
            }

          </script>
</body>

</html>
