<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>英検&reg;対策コースの教材のご紹介｜オンライン学習のKIRIHARA Online Academy</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,KIRIHARA Online Academy,TOEIC,早川幸治" />
  <meta property="og:title" content="英検二次試験（面接）対策コース 教材のご紹介｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="KIRIHARA Online Academyでは、良質な教材を使ったカリキュラムをご用意し、生徒様の短期間での目標級合格に向けて、サポートを行っています。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/eiken2text" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken2.png" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/eiken2text" />
  <meta name="twitter:title" content="英検二次試験（面接）対策コース 教材のご紹介｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta name="twitter:description" content="KIRIHARA Online Academyでは、良質な教材を使ったカリキュラムをご用意し、生徒様の短期間での目標級合格に向けて、サポートを行っています。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken2.png" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_eiken1.html">

    <main role="main" class="wt_main">

          <section class="wt_headvis wt_head_eiken2">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>英検二次試験（筆記）対策コース 教材のご紹介</h1>
                      </div>
                  </div>
              </div>
          </section>



          <section>
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                      <h2 class="text-center">英検二次試験（筆記）対策コースの<strong class="txt_kiri">レッスン教材</strong>について</h2>
                      <p class="wt_copy txt_kiri text-center mb-5">本試験の問題形式に合わせ、二次試験の型を理解しよう</p>
                      <p>KIRIHARA Online Academy英検二次試験（筆記）対策コースで利用する教材を説明いたします。<br>二次試験の合格を目指すためにも、実際の本試験の問題形式に近い教材を使い、反復練習を行います。</p>
                    </div>
                </div>
            </div>
          </section>


          <section class="wt_bggrey">
            <div class="container">
                <div class="row mb-5 pb-5">
                    <div class="col-12 col-md-5 pr-md-5 pl-md-5 mb-5 text-center">
                      <img src="/assets/img/books/eikentext2_1.png" class="w-75 h-auto rounded" alt=">TOEIC&reg;L&amp;Rテスト書き込みドリル">
                    </div>
                    <div class="col-12 col-md-7 pr-md-5 pl-md-5">
                      <h3 class="text-center" style="line-height:1.2;">英検二次試験・面接完全予想問題<br><span style="font-size: 65%;">（編：旺文社）</span></h3>
                      <p>問題編には14回分の予想問題を収録しています。実際に声に出して解き、解説をしっかり読んで、面接試験を攻略しましょう。</p>
                      <p>「面接試験が実際にどのように行われるか分からないため不安」という受験者の方のために、動画を制作しました。動画には面接室での試験の様子はもちろん、会場に到着してから会場を出るまでを映像で収録してあります。</p>
                      <p>英検S-CBTの体験ができる「旺文社　英検対策ウェブ模試」に対応しています。</p>
                    </div>

                </div>
            </div>
          </section>



        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="url" content="https://academy.kirihara.co.jp/">
              <span class="wt_crumb" itemprop="name">ホーム</span>
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/eiken2" itemprop="name" content="https://academy.kirihara.co.jp/wte/eiken2">
              <span itemprop="title">英検二次試験対策</span>
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/eikentext" itemprop="name" content="https://academy.kirihara.co.jp/wte/eiken2text">
              <span itemprop="title">英検二次試験（筆記）対策コース 教材のご紹介</span>
            </a>
          </li>
        </ul>
    </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
    <TMPL_INCLUDE NAME="../include/foot.html">
          <!-- Schema -->
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Article",
              "name": "英検&reg;対策コースの教材のご紹介｜オンライン学習のKIRIHARA Online Academy",
              "headline": "KIRIHARA Online Academy 指定のレッスン教材について",
              "description": "KIRIHARA Online Academyでは、良質な教材を使ったカリキュラムをご用意し、生徒様の短期間での目標級合格に向けて、サポートを行っています。",
              "datePublished": "2022-08-08T09:00:00+09:00",
              "dateModified": "2022-08-08T13:00:00+09:00",
              "url": "https://academy.kirihara.co.jp/wte/eiken2text",
              "mainEntityOfPage": "https://academy.kirihara.co.jp/wte/eiken2text",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken2.png",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ],
              "author": [{
                "@type": "Organization",
                "name": "KIRIHARA Online Academy",
                "url": "https://academy.kirihara.co.jp/"
              }]
            }

          </script>
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "WebPage",
              "name": "英検&reg;対策コースの教材のご紹介｜オンライン学習のKIRIHARA Online Academy",
              "description": "KIRIHARA Online Academyでは、良質な教材を使ったカリキュラムをご用意し、生徒様の短期間での目標級合格に向けて、サポートを行っています。",
              "url": "https://academy.kirihara.co.jp/wte/eiken2text",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_eiken2.png",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ]
            }

          </script>
</body>

</html>
