<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>小論文のプロフェッショナルが指導 オンライン家庭教師</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,動画学習コース,マンツーマン,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="小論文のプロフェッショナルが指導 オンライン家庭教師" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <meta property="og:site_name" content="KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="小論文のプロフェッショナルが指導 オンライン家庭教師" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_essay.html">

      <main role="main" class="wt_main wt_essay">

          <section class="wt_headvis wt_head_essaymv">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>小論文の書き方 動画学習コース</h1>
                      </div>
                  </div>
              </div>
          </section>

          
        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">もっと得点を稼げる</strong>ようになる！<br><span class="text-lead">小論文の書き方 中上級コース</span></h2>
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-12 col-lg-6 mb-3 pt-xl-5">
                <p class="mt-xl-5">小論文の答案が書けても、どうやって点数を伸ばせばいいか困っていませんか？小論文の出題形式別のテクニックを学び、実践演習で鍛えていきましょう。</p>
                <p>本講座は25分×4本の動画を見るオンデマンドコースです。<br>点数を稼げる小論文を目指す生徒様に向けて作成しています。</p>
                <p>会員登録すると、初中級コース第1回の動画を見れますので、ぜひ一度ご確認ください。</p>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <img src="/assets/img/essay/img_esmv2_01.jpg" class="w-100" alt="小論文の答案が書けても、どうやって点数を伸ばせばいいか困っていませんか？">
              </div>
            </div> 
              
            <div class="row">
              <div class="col-12 text-center">
                <a href="https://academy.kirihara.co.jp/WTE/reg.cgi?m=essay#register" class="btn wt_btn btn-primary rounded-pill wt_btn">第一回動画を無料視聴する</a>
              </div>
            </div>     
              
          </div>
        </section>    
          
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">小論文の書き方 中上級コース料金</h2>
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-12 col-xl-10 offset-xl-1 mb-4 wt_course_wap">  
                <div class="wt_card wt_card_g wt_course">
                  <h3 class="text-center">小論文の書き方 中上級コース</h3>
                  <p class="text-center">一応答案が書けても、どのように点数を伸ばすか困っていませんか？具体的に得点を稼げるポイントを明瞭解説！</p>
                    <table class="" style="max-width:300px;margin: 0 auto;">
                        <tr>
                            <td class="w-20"><strong>時間</strong></td>
                            <td><strong>25分×4</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>料金</strong></td>
                            <td><strong>6,600円</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>内容</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="w-20">第一回</td>
                            <td>小論文の基本構成(基礎・応用)</td>
                        </tr> 
                        <tr>
                            <td class="w-20">第二回</td>
                            <td>実践演習(多角視点)</td>
                        </tr>
                        <tr>
                            <td class="w-20">第三回</td>
                            <td>小論文の出題形式別テクニック</td>
                        </tr> 
                        <tr>
                            <td class="w-20">第四回<br><small style="white-space: nowrap;">(オンデマンド)</small></td>
                            <td>総復習・本番に向けて直前対策</td>
                        </tr> 
                       
                    </table>    
                 </div>  
              </div>
            </div> 
          </div>
        </section>          
         
          
        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">講師のご紹介</strong></h2>
              </div>
            </div>
            <div class="row mt-5">
               <div class="col-12 mb-4 text-center">
                <div class="wt_card wt_course pt-3">
                  <div class="row mt-5">
                    <div class="col-12 col-lg-6 mb-4">
                      <h3 class="mt-4 text-left" style="color: #343434;">唐澤邦仁</h3>
                      <p class="text-left">これまで300校以上の高校で、約6万人の高校生、1500人の先生方に小論文の書き方を伝授してきました。<br>小論文は決してラッキー・アンラッキーの試験ではなく、得点を重ねていける書き方のある試験です。<br>ぜひ本講座で効率的な小論文の書き方を習得してください。</p>
                      <p class="text-left mb-0"><small>※会員登録すると、小論文の書き方の動画講座1話分を無料で視聴可能です</small></p>
                    </div>                          
                    <div class="col-12 col-lg-6 mb-4 text-center">
                      <div class="wt_youtube_cont mx-3">
                        <div class="wt_youtube">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/adtqYGG2y5w?rel=0&theme=light&showinfo=0&autohide=1&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>    
                  </div>
                </div>
              </div>               
            </div>
          </div>
        </section> 
          
          
        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">オリジナル教材</strong>について</h2>
              </div>
            </div>
            <div class="row mt-5">
               <div class="col-12 mb-4 text-center">
                <div class="wt_card wt_course wt_problem_g pt-3">
                  <div class="row mt-5">
                    <div class="col-12 col-lg-6 mb-4 pt-xl-5">
                      <p class="text-left pt-xl-5">動画コースでは、動画の内容をさらに深く理解するためのオリジナル教材を用意しています。</p>
                      <p class="text-left">コース加入者皆さまに、オリジナル教材をお渡ししておりますので、動画と一緒にご利用ください。</p>
                    </div>                          
                    <div class="col-12 col-lg-6 mb-4 text-center px-5">
                      <img src="/assets/img/essay/img_esmv2_02.jpg" class="w-100" alt="講師のご紹介">                        
                    </div>    
                  </div>
                </div>
              </div>               
            </div>
            <div class="row mt-5">
              <div class="col-12 text-center">
                <a href="https://academy.kirihara.co.jp/WTE/reg.cgi?m=essay#register" class="btn wt_btn btn-primary rounded-pill wt_btn">第一回動画を無料視聴する</a>
              </div>
            </div>               
              
          </div>
        </section>                     

      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot_cv.html">
          <script src="%static_url%/js/dom.js"></script>
          <script src="%static_url%/js/inputlimit.js"></script>
          <style>
            #coupon_code {
              width: 8em;
            }

          </style>
</body>

</html>
