<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>小論文のプロフェッショナルが指導 オンライン家庭教師</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="小論文のプロフェッショナルが指導 オンライン家庭教師" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_essay.jpg" />
  <meta property="og:site_name" content="KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="小論文のプロフェッショナルが指導 オンライン家庭教師" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_essay.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <link rel="stylesheet" href="/assets/css/lp.css?4">
<style>
.wt_course strong.text-orange{
     color: #ff2717;
}
.wt_course strong.text-orange2{
     color: #ff7e00;   
}  
.wt_catch p.wt_mcopy {
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.2em;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #454545!important;
    font-size: 16px;
    border-radius: 10px;
    background: #fbd5d5;
}  
.wt_mvbtn a:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 10px;
    background: url("/assets/img/common/mv_btn_essay.png") no-repeat left bottom;
    background-size: contain;
    z-index: 5;
    width: 75px;
    height: 75px;
} 
    @media (min-width:768px){
        .img_study img{
            position: absolute;
            right: 15px;
            bottom: 25px;
        }   
    }
    @media (min-width:1200px){
        .karasawa2{
            position: relative;
            bottom: 30px;
        }
    }
</style>      
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_essay.html">

      <main role="main" class="wt_main wt_essay">

        <section class="wt_mainvis wt_mainvis_es">
          <div class="wt_catch">
            <div class="wt_catch_circle">
              <div>
                <h4 class="txt_lt mt-4">25年の実績</h4>  
                <h2 class="txt_lt pb-0">小論文・志望理由書のプロフェッショナルが指導</h2>  
                <h1 class="mb-5">オンライン家庭教師</h1>
                <!--<div class=""><a href="#register" class="btn wt_btn btn-primary rounded-pill ">無料で動画視聴する</a></div>-->                  
                <div class="text-center">
                  <p class="wt_mcopy">＼無料で1話分の動画が確認できる／
                  </p>
                </div>
                <div class="wt_mvbtn"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">初中級コース第1話の動画を見る(無料)</a></div>
              </div>
            </div>
          </div>
          <ul class="wt_slider wt_slider_es">
            <li class="wt_slider_es"></li>
          </ul>
        </section>


        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">小論文・志望理由を書くのに<strong class="txt_kiri">苦労している</strong>あなたへ</h2>
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-12 col-lg-6 mb-3">
                <p>アイデアをまとめること<br>論理的に考えること、<br>そして適切な言葉で表現すること。</p>
                <p>学習者様の皆様は小論文・志望理由書の作成において、様々な困難を抱えているかと思います。</p>
                <p>しかし、心配しないでください。<br>KIRIHARA Online Academyは、小論文・志望理由書作成のお悩みを解決するためのオンラインコースを提供しています。</p>
                <p>経験豊かな講師が、具体的なテクニックと実践的な指導で、あなたのスキルを向上させます。</p>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <img src="/assets/img/reg/img_reg_theme.jpg" class="w-100" alt="小論文を書くのに苦労しているあなたへ">
              </div>
            </div> 
              
            <div class="row">
              <div class="col-12 col-xl-10 offset-xl-1 ">              

                <div class="wt_problem wt_problem2">
                  <h3 class="text-center txt_kiri">このコースはこんなお悩みを解決します</h3>
                  <div class="row">
                    <div class="col-12 col-lg-6 text-center">
                      <p class="mb-2">＜小論文の書き方＞</p>    
                      <ul class="p-0 mb-0 p-lg-3">
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>情報の選び方・組み立て方に迷ってしまう</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>段落や流れを上手に組み立てられない</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>具体的な証拠や引用を見つけるのが難しい</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>魅力的で適切な文章を書ける自信がない</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>段落やアイデアの結びつきがうまくいかない</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>適切な言葉や表現を選ぶのに迷ってしまう</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>正確さや文法の正しさに自信が持てない</li>  
                      </ul>
                    </div>
                    <div class="col-12 col-lg-6 text-center">
                      <p class="mb-2">＜志望理由書の書き方＞</p>                           
                      <ul class="p-0 mb-0 p-lg-3">
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>何を書けばよいのかわからない</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>内容の組み立てがわからない</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>説得力のある内容に仕上げるには？</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>面接試験はどうやって乗り切ればよいか？</li>
                      </ul>
                    </div>                      
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>    
          
        <section class="wt_sec_grey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">桐原書店の<strong class="txt_kiri">小論文コース</strong>では</h2>
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-12 col-lg-6 mb-3 pt-xl-5">
                <p>小論文の評価のポイントは、「独自の主張があるか」それが「論理的に説明されているか」の2点です。</p>
                <p>動画コースでは、主張したいことに対し、それを効果的に述べるための考え方を学び、どのように書いていけばよいかを具体的に指導します。</p>
                <p>優れた小論文に仕上げるためにはどうすればよいかを示し、書くことへの意欲を促します。</p>
              </div>
              <div class="col-12 col-lg-6 mb-3 text-center">
                <div class="wt_youtube_cont mx-3 mb-3">
                    <div class="wt_youtube">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/adtqYGG2y5w?rel=0&theme=light&showinfo=0&autohide=1&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <h4>動画コース講師：<strong class="text-bg">唐澤邦仁</strong></h4>
              </div>
            </div> 
          </div>
        </section>          
          

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">選ばれる<strong class="txt_kiri">6つのポイント</strong></h2>
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_school.png" class="w-75" alt="設立50年 教育出版社の桐原書店がノウハウを惜しみなくお伝えします！">
                  </div>
                  <p>設立50年<br>教育出版社の桐原書店が<br class="d-none d-sm-block">ノウハウを惜しみなくお伝えします！</p>
              </div>
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_lecture.png" class="w-75" alt="延べ300校以上から講演依頼殺到！大人気講師を独り占め！">
                  </div>
                  <p>のべ数千校以上から講演依頼殺到！<br class="d-none d-sm-block">大人気講師を独り占め！</p>
              </div>
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_checklist.png" class="w-75" alt="最新の入試傾向を知ることができる">
                  </div>
                  <p>最新の入試傾向を<br class="d-none d-sm-block">知ることができる</p>
              </div>
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_video.png" class="w-75" alt="「便利さ」いつでもどこでも何度でも学習できる">
                  </div>
                  <p>「便利さ」<br>いつでもどこでも何度でも<br class="d-none d-sm-block">学習できる</p>
              </div>
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_writing.png" class="w-75" alt="学びを定着 レッスン毎に前回の復習の時間があります！定着化を目指します。">
                  </div>
                  <p>学びを定着<br>レッスン毎に前回の復習の時間があります！<br class="d-none d-sm-block">定着化を目指します。</p>
              </div>
              <div class="col-6 col-lg-4 text-center mb-3">
                  <div class="wt_gray-circle text-center mb-3">
                    <img src="/assets/img/reg/img_reg_ethics.png" class="w-75" alt="短期集中型 入試目前の学生のためにぎゅっと4講義に凝縮">
                  </div>
                  <p>短期集中型<br>入試目前の学生のために<br class="d-none d-sm-block">ぎゅっと4講義に凝縮</p>
              </div>

            </div>   

              
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center">
                  <p class="wt_mcopy">＼無料で1話分の動画が確認できる／
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">初中級コース第1話の動画を見る(無料)</a></div>
              </div>
            </div>              
              
              
          </div>
        </section>

        <section class="wt_sec_grey">
          <div class="container">
              
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">              

                <div class="wt_problem pb-0">
                  <h3 class="text-center">学習できる事</h3>
                  <div class="row">
                    <div class="col-6 col-lg-8 pr-lg-0">
                    　<p class="mb-0">＜小論文の書き方＞</p>       
                      <ul class="p-0 mb-0 p-lg-3 pt-xl-2">
                        <li class="mb-2 mb-xl-4"><span class="fas fa-check" aria-hidden="true"></span>合格するための答案を書くことができるようになる</li>
                        <li class="mb-2 mb-xl-4"><span class="fas fa-check" aria-hidden="true"></span>そもそも小論文とは何かが理解できる</li>
                        <li class="mb-2 mb-xl-4"><span class="fas fa-check" aria-hidden="true"></span>小論文の勉強方法が分かり、独力により書く力の向上が可能</li>
                        <li class="mb-2 mb-xl-4"><span class="fas fa-check" aria-hidden="true"></span>実施時期の早い総合型選抜入試・推薦入試に効率良く対応することが可能</li>
                        <li class="mb-2 mb-xl-4"><span class="fas fa-check" aria-hidden="true"></span>多様な設問形式に対応できる考え方、書き方を学ぶことができる</li>
                        <li class="mb-2 mb-xl-4"><span class="fas fa-check" aria-hidden="true"></span>作成した志望書に基づいて面接の練習ができる</li>                          
                      </ul>
                    　<p class="mb-0">＜志望理由書の書き方＞</p>       
                      <ul class="p-0 mb-0 p-lg-3 pt-xl-2">
                        <li class="mb-2 mb-xl-4"><span class="fas fa-check" aria-hidden="true"></span>学習者の状況にあわせたアドバイスを受けられる</li>
                        <li class="mb-2 mb-xl-4"><span class="fas fa-check" aria-hidden="true"></span>学校ではなかなか受けられない個別対応を実現</li>
                        <li class="mb-2 pb-5 mb-xl-4"><span class="fas fa-check" aria-hidden="true"></span>専門講師が親身に対応するため、質問や相談がしやすい</li>
                      </ul>                        
                    </div>
                    <div class="col-6 col-lg-4 text-center px-xl-5 img_study">
                      <img src="/assets/img/essay/img_karasawa_1.png" class="w-100" alt="学習出来る事">
                    </div>                      
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>



        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">選べる<strong class="txt_kiri">3つのコース</strong></h2>
                <p class="text-center">自分に合ったコースを選択！</p>

              </div>
            </div>
              
            <TMPL_INCLUDE NAME="../include/price_essay.html">
              
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center">
                  <p class="wt_mcopy">＼無料で1話分の動画が確認できる／
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">初中級コース第1話の動画を見る(無料)</a></div>
              </div>
            </div>                 
              
          </div>
        </section>


        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">受講までの<strong class="txt_kiri">流れ</strong></h2>
                <p class="text-center">最短3分！すぐに学習を始められます。</p>  
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_1 mb-5">
                <span class="wt_flow_step"><span class="lead">1</span></span>
                <img src="/assets/img/reg/flow_1.png" alt="無料会員登録をする" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">無料会員登録をする</h3>
                <p>氏名・メールアドレスを記載するのみ！簡単30秒！</p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_2 mb-5">
                <span class="wt_flow_step"><span>2</span></span>
                <img src="/assets/img/reg/flow_2.png" alt="お申込みをする" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">お申込みをする</h3>
                <p>すぐにメールをお送りします。お申込みフォームに入力して完了！</p>  
              </div>
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_3 mb-5">
                <span class="wt_flow_step"><span>3</span></span>
                <img src="/assets/img/reg/flow_3.png" alt="レッスン受講開始" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">レッスン受講開始</h3>
                <p>お支払いの確認ができましたら、視聴用のリンクをお送りします。テキストをダウンロードし、即受講いただけます。</p>  
              </div>
            </div>
          </div>
        </section>
          
        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">              

                <div class="wt_problem wt_problem_g pb-0">
                  <h3 class="text-center">こんな方に<strong class="txt_kiri">おすすめ</strong></h3>
                  <div class="row mt-5">
                    <div class="col-6 col-md-8 col-lg-8 col-xl-7 offset-xl-1">
                      <ul class="p-0 mb-0 p-lg-3">
                        <li class="mb-4 mt-xl-4"><strong><span class="fas fa-check-square" aria-hidden="true"></span>大学入試まで時間がない方</strong></li>
                        <li class="mb-4"><strong><span class="fas fa-check-square" aria-hidden="true"></span>何から勉強してよいかわからない</strong></li>
                        <li class="mb-4"><strong><span class="fas fa-check-square" aria-hidden="true"></span>学校で小論文・志望理由書作成の指導がなくお困りの学生</strong></li>
                        <li class="mb-4"><strong><span class="fas fa-check-square" aria-hidden="true"></span>小論文・志望理由書の書き方や論理的な構成を一から学びたい</strong></li>
                        <li class="pb-3"><strong><span class="fas fa-check-square" aria-hidden="true"></span>志望理由書をもとに面接体験・練習したい方</strong></li> 
                      </ul>
                    </div>
                    <div class="col-6 col-md-4 px-lg-4 text-center">
                      <img src="/assets/img/essay/img_karasawa_2.png" alt="こんな方におすすめ" class="w-100 karasawa2">
                    </div>                      
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>  
          
        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">講師紹介</strong></h2>
              </div>
            </div>
            <div class="row mt-5">
               <div class="col-12 col-xl-6 mb-4 text-center">
                <div class="wt_card wt_course pt-5">
                <!--<img src="/assets/img/reg/img_reg_prof.png?v2" class="rounded-circle w-50" alt="唐澤邦仁">-->
                    <div class="wt_youtube_cont mx-3">
                      <div class="wt_youtube">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/adtqYGG2y5w?rel=0&theme=light&showinfo=0&autohide=1&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      </div>
                    </div>
    
                  <h3 class="text-center mt-4" style="color: #343434;">唐澤邦仁</h3>
                  <p class="text-left">これまで300校以上の高校で、約6万人の高校生、1500人の先生方に小論文の書き方を伝授してきました。<br>小論文は決してラッキー・アンラッキーの試験ではなく、得点を重ねていける書き方のある試験です。<br>ぜひ本講座で効率的な小論文の書き方を習得してください。</p>
                  <p class="text-left mb-0"><small>※会員登録すると、小論文の書き方の動画講座1話分を無料で視聴可能です</small></p>
                </div>
              </div>
               <div class="col-12 col-xl-6 mb-4 text-center">
                <div class="wt_card wt_course pt-5">
                  <div class="wt_youtube_cont mx-3">    
                    <img src="/assets/img/reg/img_reg_prof2.png" class="w-100 mb-0" style="border-radius: 0;" alt="井端紀子">    
                  </div>
                  <h3 class="text-center mt-4" style="color: #343434;">井端紀子</h3>
                  <p class="text-left">小論文についての疑問を解決します。<br>「小論文」と聞いただけで苦手意識を持ってしまう人も多いでしょう。しかし小論文は、コツをつかめば書けるようになります。そして、書いたものには「よい所」が必ずあります。その「よい所」を生かして自信につなげるためのお手伝いをいたします。</p>
                  <p class="text-left mb-0"><small>※個別指導コースの担当をさせていただきます</small></p>
                </div>
              </div>                
            </div>
          </div>
        </section>          

       


          <section class="wt_sec_bg_1 wt_toeic">
            <div class="container pdb0">
              <div class="row">
                <div class="col-12 mb-5">
                  <h2 class="text-center">よくある<strong class="txt_kiri">質問</strong></h2>
                </div>
              </div>
            </div>
            <div class="container faq">
              <div class="row">
                <div class="col-12 mb-5">
                  <h2>オンライン家庭教師に関するご質問</h2>

                  <div class="fbox">
                    <h3 class="question wt_question pt-4 pb-4"><strong>お支払い方法を教えてください</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">クレジットカード・銀行振込でのお支払いが可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-4 pb-4"><strong>受講期限はありますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">申込日から3ヶ月です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-4 pb-4"><strong>視聴期限はありますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">購入いただければ永遠に視聴可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-4 pb-4"><strong>パソコン・タブレットは必要でしょうか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">画面上でテキストを見ながら学習する場合は必要です。携帯での受講も可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-4 pb-4"><strong>個別指導コースのみの受講はできますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">可能ですが、オンデマンドを受講頂いた後に個別指導コースの受講がおすすめです！</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-4 pb-4"><strong>教材の購入は必要ですか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">テキスト教材の購入は不要です。弊社オリジナルの教材をPDFでダウンロードしていただきます。</p></div>
                  </div>

 

                </div>

              </div>

                 

            </div>
          </section>          
          

        <section id="register" style="display: none;">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">まずは<strong class="txt_kiri">無料で動画視聴</strong>を<br class="d-block d-md-none">会員登録はこちらから</h2>
                <p class="text-lg-center mb-lg-5">会員登録いただいた方には、無料動画を用意しています。</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">
                <div class="wt_form wt_form_layer">

                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="cfmset" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <TMPL_IF NAME="errs">
                      <p class="errs">%errs%</p>
                    </TMPL_IF>

                    <div class="form-group" style="display: none">
                      <label class="required %member_lastname_err% %member_firstname_err%">お名前</label>
                      <div class="row">
                        <div class="col-2 col-sm-1">
                          <label for="member_lastname" class=" %member_lastname_err% %member_firstname_err%">%member_lastname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_lastname" name="member_lastname" value="%member_lastname%" placeholder="（例）山田" class="form-control %member_lastname_err%" />
                        </div>
                        <div class="col-2 col-sm-1">
                          <label for="member_firstname" class="%member_lastname_err% %member_firstname_err%">%member_firstname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_firstname" name="member_firstname" value="%member_firstname%" placeholder="（例）太郎" class="form-control %member_firstname_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_handle" class="required %member_handle_err%">%member_handle_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_handle" name="member_handle" value="%member_handle%" placeholder="（例）桐原一郎" class="form-control %member_handle_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_email" class="required %member_email_err%">%member_email_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_email" name="member_email" value="%member_email%" placeholder="（例）yamada@example.com" class="form-control %member_email_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_pass" class="required %member_pass_err%">%member_pass_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="password" id="member_pass" name="member_pass" value="%member_pass%" placeholder="%member_pass_caption%を入力してください（8～12文字）" class="form-control %member_pass_err%" />
                          <div class="form-group">
                            <input type="password" id="member_pass2" name="member_pass2" value="%member_pass2%" placeholder="確認の為、再度%member_pass_caption%を入力してください" class="form-control %member_pass2_err%" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" style="display:none;">
                      <label for="coupon_code" class="%coupon_code_err%">%coupon_code_caption%</label>
                      <input type="text" id="coupon_code" name="coupon_code" value="rwmvhpjo" class="form-control %coupon_code_err%" />
                      <ul class="note">
                        <li>%coupon_code_caption%をお持ちの方は、ここに8桁の半角英数字で入力してください</li>
                      </ul>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="agree">利用規約</label>
                        </div>
                        <div class="col-12 col-xl-8 mb-5">
                          <div class="wt_termsbox wt_termsbox_lp">
                            <div>
                              <TMPL_INCLUDE NAME="../include/agreement.html">
                            </div>
                            <div>
                              <TMPL_INCLUDE NAME="../include/privacypolicy.html">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center">
                          <h5 class="text-center">規約に同意いただいた方は、「次へすすむ」ボタンを押してください</h5>
                        </div>
                      </div>

                      <div class="text-center mb-5">
                        <input type="submit" value="次へすすむ" class="btn btn-danger rounded-pill wt_btn" />
                      </div>

                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
          <script src="%static_url%/js/dom.js"></script>
          <script src="%static_url%/js/inputlimit.js"></script>
          <style>
            #coupon_code {
              width: 8em;
            }

          </style>
</body>

</html>
