<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>【2023年秋】4回の動画で小論文の書き方をマスター受験生応援キャンペーンを開催！｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="KIRIHARA Online Academy恒例の英語学習者のためのオンラインセミナー！2022年の一番初めの今回はTOEICRL&Rテスト対策のセミナーを行います。 セミナー講師は勿論、KOAのコース監修務める早川幸治（Jay）先生！" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="【2023年秋】4回の動画で小論文の書き方をマスター受験生応援キャンペーンを開催！" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="KIRIHARA Online Academy恒例の英語学習者のためのオンラインセミナー！2022年の一番初めの今回はTOEICRL&Rテスト対策のセミナーを行います。 セミナー講師は勿論、KOAのコース監修務める早川幸治（Jay）先生！" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/essay2023" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/event/ogp_essay2024.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/essay2023" />
  <meta name="twitter:title" content="【2023年秋】4回の動画で小論文の書き方をマスター受験生応援キャンペーンを開催！" />
  <meta name="twitter:description" content="KIRIHARA Online Academy恒例の英語学習者のためのオンラインセミナー！2022年の一番初めの今回はTOEICRL&Rテスト対策のセミナーを行います。 セミナー講師は勿論、KOAのコース監修務める早川幸治（Jay）先生！" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/event/ogp_essay2024.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <link rel="stylesheet" href="/assets/css/lp.css?4"> 
<style>
/*----------全体設定----------*/
section {
    padding-top: 15px;
    padding-bottom: 15px;
} 
    @media (min-width:992px){  
    section {
        padding-top: 30px;
        padding-bottom: 30px;
    }   
} 
      
#event{
  background:url(/assets/img/event/bg_body_essay2023.png) repeat center top -30px #ecbd9b;
  background-size:100%;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans JP", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.9;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
} 
    
 a.btn-autumn{
   color: #fff;
   background-color: #ff9945;
   border-color: #ff9945;     
}   
 a.btn-autumn:hover {
   color: #fff;
   text-decoration: none;
   background-color: #e67f29;
   border-color: #e67f29;       
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}  
.wt_card_g_2 {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 15px;
    height: 100%;
}    
.infomation1{
    background: #fff;
    padding: 0px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.infomation2{
    background: #fff;
	padding: 40px 30px 50px 30px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
} 
    
#event section .infomation2 h2,#event section .infomation3 h2{
    text-align: center;
}


@media (max-width:767px){
    .infomation2{
	    padding: 50px 15px 35px 15px;
    }
    section{
        margin: 0 10px;
    }    
}
 
.wt_course strong.text-orange{
     color: #ff2717;
}
.wt_course strong.text-orange2{
     color: #ff7e00;   
}    

</style>      
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main" id="event">
         
<!--メインビジュアル-->
  <section>
      <div class="container">
          <div class="row">
              <div class="col-12 infomation1">
                  <img src="/assets/img/event/ogp_essay2024.jpg?v2" class="w-100">
              </div>
              <div class="col-12 infomation2">
                  <h2>4回の動画で小論文の書き方をマスター<br>受験生応援キャンペーンを開催！</h2>
                  <h3 class="wt_copy txt_kiri text-center mb-4">25年の実績！KIRIHARA Online Academy(KOA)「小論文の書き方コース」のお得なご案内です。</h3>
                  <p>本講座では皆さんが持っている「書く力」を、安定的に得点に結びつけるメソッドを紹介し、以下の効果が期待できます。</p>
                  <ul>
                      <li>小論文テストの点数を安定させることができる</li>
                      <li>初めて見た問題に対して、何をどういう順番で書けばよいのかが分かるようになる</li>
                      <li>下書きを短時間で完成させることができるようになる</li>
                  </ul>
                  <p>どのような設問が出題されても「現場対応」ができるようになります。</p>
                  <p>今なら期間限定の割引キャンペーン中！<br>本番までの短期間で得点アップの効果が期待できる、KOAのオンライン小論文で合格を勝ち取りましょう！</p>
                  
                  <img src="/assets/img/event/banner_essay2024-2.jpg" class="w-100 mt-3">
                  
                  <div class="row mt-5">
                      <div class="col-12">              
                        <div class="text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-autumn rounded-pill wt_btn">初中級コース第1話の動画を見る(無料)</a></div>
                      </div>
                 </div>
              </div>              
          </div>
      </div>
  </section>
      

      
      
<!--講座講師の唐澤より-->     
  <section>
          <div class="container infomation2">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">講座講師の唐澤より</h2>
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-12 col-lg-6 mb-3 pt-xl-5">
                <p>小今の段階で「小論文全く書き方がわかりません。」「毎回模擬試験の度に1行目から何を書いたらいいか悩んでうんうん考えて書いています。」という方、まずはこのブロック図を覚えてしまってください。</p>
                <p>ブロック3つが並んでいます。<br>知識0の人はブロック1つが段落1つだと思ってください。<br>つまり、原稿用紙の上にその3つの段落をその順番に書く、それだけで小論文になります。</p>
                <p>1つ例を挙げてみます。<br>皆さんゴミの分別収集というのはご存知かと思います。<br>燃えるゴミと思えないゴミを分けて出す分別収集ですね。<br>例えば、「あなたはゴミの分別収集のさらなる徹底について賛成ですが、あるいは反対ですか？」こういう出題がなされたとします。<br>これを400字で書きなさい。そんな小論文が問われたとしましょう。<br>今まででしたら、おそらく1行目から何を書いたらいいか、うんうん悩んで書かれていたと思います。</p>
                <p>先ほどのブロック図を再度見直してくださいね。<br>あのブロックの順番に書けば、この問題もすぐに小論文にすることができます。<br>では、何を書くかどの順番で書くか見ていきましょう。</p>
                <p>続きを見たい方へ、<a href="/WTE/reg.cgi?s=1">会員登録</a>で無料で講座1話を見ることができます。</p>
              </div>
              <div class="col-12 col-lg-6 mb-3 text-center">
                <div class="wt_youtube_cont mx-3 mb-3">
                    <div class="wt_youtube">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/adtqYGG2y5w?rel=0&theme=light&showinfo=0&autohide=1&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <img src="/assets/img/event/img_essay2023_01.jpg" class="w-100 mt-5">
              </div>
            </div> 
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-autumn rounded-pill wt_btn">初中級コース第1話の動画を見る(無料)</a></div>
              </div>
            </div>
          </div>
  </section>
      
  <section>
          <div class="container infomation2">
            <div class="row"> 
               <div class="col-12 col-md-6"> 
                  <div class="wt_card_g_2">
                    <h3 class="text-center mb-3">高校3年生の皆様</h3>   
                    <img src="/assets/img/event/img_essay2023_02.png" class="w-100 mb-4">
                    <p>高校3年生の皆さん！<br>国公立二次や私大の独自入試で「小論文」を書かなければならない方はいませんか。<br>これまで「小論文」対策をしっかりやった！と言えますか？<br>文章に自信のある方、書くことが苦にならない方、それだけでは入試の小論文には対策不足です。<br>センスだけで「小論文」を書いた場合、問題による当たり外れが大きくなりますよ。<br>本講座では皆さんが持っている「書く力」を、安定的に得点に結びつけるメソッドを紹介しています。<br>本番までの短時間で視聴でき、かつ得点アップの効果が期待できる、桐原書店のオンライン小論文で、合格を勝ち取りましょう！</p>
                  </div>
               </div>
               <div class="col-12 col-md-6"> 
                  <div class="wt_card_g_2">
                    <h3 class="text-center mb-3">高校1・2年生へ</h3>   
                    <img src="/assets/img/event/img_essay2023_03.png" class="w-100 mb-4">
                    <p>高校2年生、1年生の皆さん！<br>卒業後の進路については考え始めていますか？<br>大学入試にチャンレンジする方、総合型選抜や推薦型選抜での受験は視野に入っていますでしょうか。<br>これらの入試において特に重視されているのが「小論文」です。<br>「小論文」について、どのようなイメージを持たれているでしょうか。<br>「難しい」「練習しても上達しない」「そもそも勉強方法が分からない」「ラッキーアンラッキーで合否が決まる」このような印象を抱いていませんか？<br>「小論文」は決して形のないものではありません。書くべき事柄を書くべき形で書けば、誰もが得点できるジャンルです。<br>本講座では書き方知識ゼロの段階から、大学入試レベルの小論文を書けるようになるよう、懇切丁寧に解説しています。<br>室内時間が増える冬の期間を利用して、「小論文」の書き方を一気にマスターしてみませんか。</p>
                  </div>
               </div>                 
            </div>
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-autumn rounded-pill wt_btn">初中級コース第1話の動画を見る(無料)</a></div>
              </div>
            </div>              
         </div>
  </section>
         
<!--選べる3つのコース-->        
  <section class="wt_essay">
          <div class="container infomation2">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">選べる<strong class="txt_kiri">3つのコース</strong></h2>
                <p class="text-center">自分に合ったコースを選択！</p>

              </div>
            </div>
              
            <div class="row"> 
                
              <div class="col-12 col-xl-4 mb-4 wt_course_wap">
                <div class="wt_card wt_card_g wt_course">
                  <h3 class="text-center">小論文の書き方 初中級コース</h3>
                  <p>小論文を書くとき、一行目から悩んでいませんか？すらすら答案が書けるようになります！</p>
                    <table class="">
                        <tr>
                            <td class="w-20"><strong>時間</strong></td>
                            <td><strong>25分×4</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>料金</strong></td>
                            <td><s style="font-weight: bold;">5,500円</s> <i class="fa fa-play mx-2"></i> <strong class="text-orange">2,200円</strong><br><h5 class="text-danger mb-0">※2024年2月29日までのキャンペーン</h5></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>内容</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="w-20">第一回</td>
                            <td>小論文のルール</td>
                        </tr> 
                        <tr>
                            <td class="w-20">第二回</td>
                            <td>小論文のテクニック・出題形式</td>
                        </tr>
                        <tr>
                            <td class="w-20">第三回</td>
                            <td>小論文でやってはいけない事</td>
                        </tr> 
                        <tr>
                            <td class="w-20">第四回<br><small style="white-space: nowrap;">(オンデマンド)</small></td>
                            <td>小論文の効率的な勉強方法</td>
                        </tr>                        
                    </table>    
                </div>
              </div>

               <div class="col-12 col-xl-4 mb-4 recommend">
                <h4 class="text-center">おすすめ</h4>   
                <div class="wt_card wt_card_g wt_course">
                  <h3 class="text-center">小論文の書き方 中上級コース</h3>
                  <p>一応答案が書けても、どのように点数を伸ばすか困っていませんか？具体的に得点を稼げるポイントを明瞭解説！</p>
                    <table class="">
                        <tr>
                            <td class="w-20"><strong>時間</strong></td>
                            <td><strong>25分×4</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>料金</strong></td>
                            <td><s style="font-weight: bold;">6,600円</s> <i class="fa fa-play mx-2"></i> <strong class="text-orange2">3,300円</strong><br><h5 class="text-danger mb-0">※2024年2月29日までのキャンペーン</h5></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>内容</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="w-20">第一回</td>
                            <td>小論文の基本構成(基礎・応用)</td>
                        </tr> 
                        <tr>
                            <td class="w-20">第二回</td>
                            <td>実践演習(多角視点)</td>
                        </tr>
                        <tr>
                            <td class="w-20">第三回</td>
                            <td>小論文の出題形式別テクニック</td>
                        </tr> 
                        <tr>
                            <td class="w-20">第四回<br><small style="white-space: nowrap;">(オンデマンド)</small></td>
                            <td>総復習・本番に向けて直前対策</td>
                        </tr> 
                       
                    </table>    
                </div>
              </div>  
                
               <div class="col-12 col-xl-4 mb-4 wt_course_wap">
                <div class="wt_card wt_card_g wt_course" style="height: 100%;">
                  <h3 class="text-center">個別指導コース</h3>
                  <p>プロフェッショナル講師を独り占め</p>
                    <table class="">
                        <tr>
                            <td class="w-20"><strong>時間</strong></td>
                            <td><strong>25分×1</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>料金</strong></td>
                            <td><strong>3,630円</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>内容</strong></td>
                            <td>スペシャリスト講師からマンツーマン指導！</td>
                        </tr>
                        <tr>                
                            <td colspan="2">
                                <p class="mb-0 px-0 mr-1">1. 志望理由書とは何か</p>
                                <ul class="px-3 mr-0">
                                    <li>そもそもどのような目的で提出を求められる書類なのか</li>
                                    <li>書くべき内容は何なのか</li>
                                </ul>
                                <p class="mb-0 px-0 mr-1">2. 志望理由書の基本的な書き方</p>
                                <ul class="px-3 mr-0">
                                    <li>個々の書くべき要素はどういうものか</li>
                                    <li>文章化するときの注意点とは</li>
                                </ul>
                                <p class="mb-0 px-0 mr-1">3. より高い評価を受けるために</p>
                                <ul class="px-3 mr-0">
                                    <li>全文を構成する際のコツ</li>
                                    <li>表現面の注意点 </li>                                
                                </ul>
                            </td>
                        </tr>
                    </table>    
                </div>
              </div>  
            </div>
              
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-autumn rounded-pill wt_btn">初中級コース第1話の動画を見る(無料)</a></div>
              </div>
            </div>                 
              
        </div>
  </section>      
      
      
<!--受講までの流れ-->
  <section class="mb-5">
          <div class="container infomation2">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">受講までの<strong class="txt_kiri">流れ</strong></h2>
                <p class="text-center">最短3分！すぐに学習を始められます。</p>  
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_1 mb-5">
                <span class="wt_flow_step"><span class="lead">1</span></span>
                <img src="/assets/img/reg/flow_1.png" alt="無料会員登録をする" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">無料会員登録をする</h3>
                <p>氏名・メールアドレスを記載するのみ！簡単30秒！</p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_2 mb-5">
                <span class="wt_flow_step"><span>2</span></span>
                <img src="/assets/img/reg/flow_2.png" alt="お申込みをする" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">お申込みをする</h3>
                <p>すぐにメールをお送りします。お申込みフォームに入力して完了！</p>  
              </div>
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_3 mb-5">
                <span class="wt_flow_step"><span>3</span></span>
                <img src="/assets/img/reg/flow_3.png" alt="レッスン受講開始" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">レッスン受講開始</h3>
                <p>お支払いの確認ができましたら、視聴用のリンクをお送りします。テキストをダウンロードし、即受講いただけます。</p>  
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-autumn rounded-pill wt_btn">初中級コース第1話の動画を見る(無料)</a></div>
              </div>
            </div>              
         </div>
  </section>


           


    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
