<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>小論文のプロフェッショナルが指導 オンライン家庭教師</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,個別指導コース,マンツーマン,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="小論文のプロフェッショナルが指導 オンライン家庭教師" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <meta property="og:site_name" content="KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="小論文のプロフェッショナルが指導 オンライン家庭教師" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_essay.html">

      <main role="main" class="wt_main wt_essay">

          <section class="wt_headvis wt_head_essaymv">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>小論文の書き方 個別指導コース</h1>
                      </div>
                  </div>
              </div>
          </section>

          
        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">あなたの小論文に合わせて</strong>指導します！<br><span class="text-lead">小論文の書き方 個別指導コース</span></h2>
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-12 col-lg-6 mb-3">
                <p>小論文のプロフェッショナル講師からマンツーマンで教えてもらえるコースです。小論文についての疑問を解決します。</p>
                <p>「小論文って何？」<br>「小論文はどう書くの？」</p>
                <p>というような初歩的な悩みから、<br>「より説得力のある小論文を書くには？」<br>「志望理由書のポイントは？」<br>というような実践につながる悩みまで、幅広くサポートいたします。</p>
                <p>会員登録すると、初中級コースの第1回の動画を見れますので、ぜひ一度ご確認ください。</p>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <img src="/assets/img/essay/img_esmv3_01.jpg" class="w-100" alt="小論文のプロフェッショナル講師からマンツーマンで教えてもらえるコースです">
              </div>
            </div> 
              
            <div class="row">
              <div class="col-12 text-center">
                <a href="https://academy.kirihara.co.jp/WTE/reg.cgi?m=essay#register" class="btn wt_btn btn-primary rounded-pill wt_btn">小論文のレッスン動画を視聴する</a>
              </div>
            </div>     
              
          </div>
        </section>    
          
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">小論文の書き方 中上級コース料金</h2>
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-12 col-xl-10 offset-xl-1 mb-4 wt_course_wap">
                <div class="wt_card wt_card_g wt_course" style="height: 100%;">
                  <h3 class="text-center">個別指導コース</h3>
                  <p class="text-center">プロフェッショナル講師を独り占め</p>
                    <table class="" style="max-width:400px;margin: 0 auto;">
                        <tr>
                            <td class="w-20"><strong>時間</strong></td>
                            <td><strong>25分×1</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>料金</strong></td>
                            <td><strong>3,630円</strong></td>
                        </tr>
                        <tr>
                            <td class="w-20"><strong>内容</strong></td>
                            <td>スペシャリスト講師からマンツーマン指導！</td>
                        </tr>
                        <tr>                
                            <td colspan="2">
                                <p class="mb-0 px-0 mr-1">1. 志望理由書とは何か</p>
                                <ul class="px-3 mr-0">
                                    <li>そもそもどのような目的で提出を求められる書類なのか</li>
                                    <li>書くべき内容は何なのか</li>
                                </ul>
                                <p class="mb-0 px-0 mr-1">2. 志望理由書の基本的な書き方</p>
                                <ul class="px-3 mr-0">
                                    <li>個々の書くべき要素はどういうものか</li>
                                    <li>文章化するときの注意点とは</li>
                                </ul>
                                <p class="mb-0 px-0 mr-1">3. より高い評価を受けるために</p>
                                <ul class="px-3 mr-0">
                                    <li>全文を構成する際のコツ</li>
                                    <li>表現面の注意点 </li>                                
                                </ul>
                            </td>
                        </tr>
                    </table>    
                </div>
              </div>
            </div> 
          </div>
        </section>          
         
          
        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">講師のご紹介</strong></h2>
              </div>
            </div>
            <div class="row mt-5">
               <div class="col-12 mb-4 text-center">
                <div class="wt_card wt_course pt-3">
                  <div class="row mt-5">
                    <div class="col-12 col-lg-6 mb-4">
                      <h3 class="mt-4 text-left" style="color: #343434;">井端紀子</h3>
                      <p class="text-left">小論文についての疑問を解決します。<br>「小論文」と聞いただけで苦手意識を持ってしまう人も多いでしょう。しかし小論文は、コツをつかめば書けるようになります。そして、書いたものには「よい所」が必ずあります。その「よい所」を生かして自信につなげるためのお手伝いをいたします。</p>
                      <p class="text-left mb-0"><small>※個別指導コースの担当をさせていただきます</small></p>
                    </div>                          
                    <div class="col-12 col-lg-6 mb-4 text-center">
                      <div class="wt_youtube_cont mx-3">    
                        <img src="/assets/img/reg/img_reg_prof2.png" class="w-100 mb-0" style="border-radius: 0;" alt="井端紀子">    
                      </div>
                    </div>    
                  </div>
                </div>
              </div>               
            </div>
          </div>
        </section> 
          
                             

      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot_cv.html">
          <script src="%static_url%/js/dom.js"></script>
          <script src="%static_url%/js/inputlimit.js"></script>
          <style>
            #coupon_code {
              width: 8em;
            }

          </style>
</body>

</html>
