<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>よくあるご質問｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="よくあるご質問｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/faq" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/faq" />
  <meta name="twitter:title" content="よくあるご質問｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <TMPL_INCLUDE NAME="../include/analysis.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

  <main role="main" class="wt_main">
       
        <section class="wt_headvis wt_head_faq">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>よくあるご質問</h1>
                    </div>
                </div>
            </div>
        </section>
          <!-- content section -->
          <section class="page">
            <div class="container pdb0">
              <div class="row">
                <div class="col-xs-12">
                  <p class="mgb0">お客様からよくいただくご質問内容をまとめています。お問い合わせの前に、こちらのページより、すぐに疑問点の解決が出来れば幸いです。</p>
                </div>
              </div>
            </div>
          </section>

          <!-- content section -->
          <section class="page">
            <div class="container faq">
              <div class="row">
                <div class="col-xs-12">
                  <h2>%product_name%について</h2>

                  <div class="fbox">
                    <h3 class="question">Q. 登録料金や入会費は必要ですか？</h3>
                    <div class="answer"><p>いいえ、%member_caption%登録に費用は一切かかりません。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question">Q. 始めるために必要なものは何ですか？</h3>
                    <div class="answer">
                      <p>インターネットに繋がるパソコン、ヘッドセット（またはマイクとスピーカー）、通話システムの3つです。また、WEBカメラをご用意いただくことをオススメしています。※顔が見えて安心感も高まります</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question">Q. %product_name%では何が出来ますか？</h3>
                    <div class="answer"><p>Google Meetを利用してマンツーマンでレッスンを受けることが可能です。また、PDFや動画をダウンロードすることができます。オンラインでも充実したレッスンをご提供しております。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question">Q. 海外からでも受講できますか？</h3>
                    <div class="answer"><p>はい、受講可能です。必要な環境がそろっていれば、世界中のどこからでもレッスンを受講していただけます。</p></div>
                  </div>

                </div>
              </div>
            </div>
          </section>

          <!--FAQカテゴリセクション「コンテンツダウンロード、レッスンについて」start-->
          <section class="page">
            <div class="container faq">
              <div class="row">
                <div class="col-xs-12">

                  <!--中見出し：コンテンツダウンロード、レッスンについて-->
                  <h2>レッスン、コンテンツダウンロードについて</h2>

                  <!--FAQ：動画や資料は一度ダウンロードしたら、いつでも･･start-->
                  <div class="fbox">


                    <h3 class="question">Q. 動画や資料は一度ダウンロードしたら、いつでも見ることが出来ますか？</h3>


                    <div class="answer"><p>ダウンロードしたものをPCに保存をしておけば、いつでも見ることが可能です。しかし、動画やPDFのダウンロードURLにはそれぞれ有効期限が設定されています。有効期限が過ぎた動画やPDFを再度見るためには購入する必要がございます。</p></div>

                  </div>
                  <!--FAQ：動画や資料は一度ダウンロードしたら、いつでも･･end-->

                  <!--FAQ：%prof_caption%はどのような方がいますか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. %prof_caption%はどのような方がいますか？</h3>


                    <div class="answer"><p>幅広い方が在籍しています。詳しくは、<a href="/wte/prflstfrm/">%prof_caption%一覧</a>からご覧いただけます。</p></div>

                  </div>
                  <!--FAQ：%prof_caption%はどのような方がいますか？end-->

                  <!--FAQ：キャンセルはどのように行いますか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. キャンセルはどのように行いますか？</h3>


                    <div class="answer clearfix">
                      <!--<div class="wrapRight hiddeni"><img src="/img/figure/caps/cancel_faq.png" width="200" alt="" /></div>-->
                      <p>マイページ＞レッスン履歴・予約確認＞該当するレッスンの詳細ページより<br />キャンセルが可能です。キャンセルには「理由」の記載が必須となります。<br />キャンセルは、レッスン開始時間の%cancelable_hours%時間前であれば課金対象外となります。<br />レッスン開始の%cancelable_hours%時間前より後のキャンセルは、課金対象となりますのでご注意ください。</p>
                    </div>

                  </div>
                  <!--FAQ：キャンセルをしたらチケットはいつ戻ってきますか？end-->


                  <!--FAQ：キャンセルをしたらチケットはいつ戻ってきますか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. キャンセルをしたらチケットはいつ戻ってきますか？</h3>


                    <div class="answer">
                      <p>すぐに返還が行われます。ただしレッスン開始時間から%cancelable_hours%時間前より後にキャンセルした場合は、「緊急キャンセル」としてレッスン完了から%lesson_bill_limit%分後にチケットが返還されます。なお、緊急キャンセルの場合は、レッスンに必要なチケットの%cancel2_point_fee_rate%％を消費いたします。あらかじめご了承ください。</p>
                    </div>

                  </div>
                  <!--FAQ：キャンセルをしたらチケットはいつ戻ってきますか？end-->


                  <!--FAQ:一日に何回レッスンを受けることができますか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. 一日に何回レッスンを受けることができますか？</h3>


                    <div class="answer"><p>一日に受講できるレッスンの制限はありません。利用できるチケットがあれば、好きなだけレッスンをご予約いただけます。</p></div>

                    </div>
                  <!--FAQ：一日に何回レッスンを受けることができますか？end-->

                    <!--FAQ：受講可能な時間帯は何時までですか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. 受講可能な時間帯は何時までですか？</h3>


                    <div class="answer"><p>基本的には24時間受講可能です。</p></div>

                  </div>
                  <!--FAQ：受講可能な時間帯は何時までですか？end-->

                  <!--FAQ：レッスン前に確認することは何ですか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. レッスン前に確認することは何ですか？</h3>


                    <div class="answer"><p>ご確認いただきたいことは2点あります。</p>
                      <ol>
                        <li>ヘッドセットとWEBカメラの接続テスト</li>
                        <li>%prof_caption%からのコンタクトの申請を承認</li>
                      </ol>
                    <p>音声やカメラの不具合の原因が%member_caption%様側にございますと、レッスンができなかった場合でもチケットの返還が出来ません。<br />また、コンタクトの申請を承認いただかないと、%prof_caption%はコールをする事が出来ませんので必ず承認をお願いします。</p></div>

                  </div>
                  <!--FAQ：レッスン前に確認することは何ですか？end-->

                  <!--FAQ：レッスン前に先生と連絡は取れますか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. レッスン前に先生と連絡をとれますか？</h3>


                    <div class="answer"><p>はい、可能です。「レッスン履歴」で該当レッスンページを確認⇒メッセージ欄からメッセージを送ってください。先生からメッセージが来た場合も、メッセージの部分に表示されます。なお、先生からメッセージがくると、自動的に登録メールアドレスにお知らせメールが届くようになっています。「レッスン履歴」にある該当ページからも確認可能です。</p></div>

                  </div>
                  <!--FAQ：レッスン前に先生と連絡をとれますか？end-->

                  <!--FAQ：予約が正しく出来たか確認したいですstart-->
                  <div class="fbox">


                    <h3 class="question">Q. 予約が正しく出来たか確認したいです</h3>


                    <div class="answer"><p>予約が完了すると、登録されたメールアドレス宛に「予約完了メール」が配信されます。ご確認ください。なお、キャンセルの完了や先生からのメッセージもメールでお知らせしております。</p></div>

                  </div>
                  <!--FAQ：予約が正しく出来たか確認したいですend-->


                  <!--FAQ：先生からのコールがこない場合はどうしたら良いですか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. 先生からのコールがこない場合はどうしたら良いですか？</h3>


                    <div class="answer">
                      <ol>
                        <li>他にソフトウェアが立ち上げっていないか確認する</li>
                        <li>それでもコールがない場合は、先生にメッセージを残して完了報告で「未実施」を報告してください</li>
                      </ol>
                    </div>
                  </div>
                  <!--FAQ：先生からのコールがこない場合はどうしたら良いですか？end-->


                  <!--FAQ：レッスンの感想を送りたいですstart-->
                  <div class="fbox">


                    <h3 class="question">Q. レッスンの感想を送ることはできますか？</h3>


                    <div class="answer"><p>はい、可能です。サイドメニュー「レッスン履歴」をクリックし、該当するレッスンページの「感想」から投稿してください。%prof_caption%と事務局に感想が届きます。なお、いただいた感想はサイトで使わせていただく可能性がございます。</p></div>

                  </div>
                  <!--FAQ：レッスンの感想を送りたいですend-->

                  <!--FAQ：「お気に入り」とはなんですか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. 「お気に入り」とはなんですか？</h3>


                    <div class="answer"><p>お気に入りの先生の予定を効率よく予約するための機能です。お気に入りの先生がいたら「お気に入り」ボタンをクリックしてください。こちらのお気に入り一覧に反映されます。お気に入り機能は「%prof_caption%一覧ページ」と「%prof_caption%の詳細ページ」から使用可能です。</p></div>

                  </div>
                  <!--FAQ：「お気に入り」とはなんですか？end-->



                </div>
              </div>
            </div>
          </section>
          <!--FAQカテゴリセクション「コンテンツダウンロード、レッスンについて」end-->

          <!--ページ内リンク「料金に関するご質問」-->
          <a name="plan" id="plan"></a>

          <!--FAQカテゴリセクション「料金について」start-->
          <section class="page">
            <div class="container faq">
              <div class="row">
                <div class="col-xs-12">

                  <!--中見出し：料金について-->
                  <h2>料金、チケットについて</h2>

                  <!--FAQ：料金はどのくらいかかりますか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. 料金はどのくらいかかりますか？</h3>


                    <div class="answer"><p>詳しくは<a href="/wte/plan/">料金プランのページ</a>をご覧ください。</p></div>

                  </div>
                  <!--FAQ：料金はどのくらいかかりますか？end-->

                  <!--FAQ：支払方法について教えてくださいstart-->
                  <div class="fbox">


                    <h3 class="question">Q. 支払方法について教えてください</h3>


                    <div class="answer"><p>クレジットカード決済と銀行振り込みにて対応をしております。</p></div>

                  </div>
                  <!--FAQ：支払方法について教えてくださいend-->

                  <!--FAQ：月額%member_caption%ですが有効期限前にチケットを使い切ってしまいましたstart-->
                  <div class="fbox">


                    <h3 class="question">Q. 月額%member_caption%ですが有効期限前にチケットを使い切ってしまいました</h3>


                    <div class="answer"><p>月額%member_caption%コースと並行して、都度チケットを購入することも可能です。新しくチケットを購入した場合、有効期限は購入した日から１ヶ月後に延長されます。</p></div>

                  </div>
                  <!--FAQ：月額%member_caption%ですが有効期限前にチケットを使い切ってしまいましたend-->

                  <!--FAQ：チケットの有効期限はどこで確認できますか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. チケットの有効期限はどこで確認できますか？</h3>


                    <div class="answer"><p>ログイン後、<a href="%ssl_host_url%/WTE/mypage.cgi?m=actlstfrm">【チケット入出金明細】ページ</a>でご確認いただけます。</p></div>

                  </div>
                  <!--FAQ：チケットの有効期限はどこで確認できますか？end-->


                </div>
              </div>
            </div>
          </section>
          <!--FAQカテゴリセクション「料金について」end-->

          <!--ページ内リンク「%member_caption%登録に関するご質問」-->
          <a name="member" id="member"></a>

          <!--FAQカテゴリセクション「%member_caption%登録について」start-->
          <section class="page">
            <div class="container faq">
              <div class="row">
                <div class="col-xs-12">

                  <!--中見出し：%member_caption%登録・その他について-->
                  <h2>%member_caption%登録・その他について</h2>

                  <!--FAQ：%member_caption%登録にはお金がかかりますか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. %member_caption%登録にはお金がかかりますか？</h3>


                    <div class="answer"><p>いいえ、%member_caption%登録は無料でできます。</p></div>

                  </div>
                  <!--FAQ：%member_caption%登録にはお金がかかりますか？end-->

                  <!--FAQ：%member_caption%登録をしたのですが、レッスンが予約出来ませんstart-->
                  <div class="fbox">


                    <h3 class="question">Q. %member_caption%登録をしたのですが、レッスンが予約出来ません</h3>


                    <div class="answer"><p><a href="%ssl_host_url%/WTE/mypage.cgi?m=mbrmodfrm">こちら</a>から情報を登録してください。基本的なプロフィールを登録していただくと、レッスン予約が可能となります。</p></div>

                  </div>
                  <!--FAQ：%member_caption%登録をしたのですが、レッスンが予約出来ませんend-->

                  <!--FAQ：登録情報の取り扱いは？start-->
                  <div class="fbox">


                    <h3 class="question">Q. 登録情報の取り扱いは？</h3>


                    <div class="answer"><p>お客様の登録情報は当社で厳重にお通り扱いさせていただきます。</p></div>

                  </div>
                  <!--FAQ：登録情報の取り扱いは？end-->

                  <!--FAQ：%member_caption%登録したのに、確認メールが届きません。start-->
                  <div class="fbox">


                    <h3 class="question">Q. %member_caption%登録したのに、確認メールが届きません</h3>


                    <div class="answer"><p>お使いのメールサービス（Yahooメール、Gmailなどフリーのメールアドレス）では%product_name%からのお知らせが「迷惑メールフォルダ」に分類されてしまう場合があるようです。受信時は「迷惑メールフォルダ」も併せてご確認くださいますよう宜しくお願いいたします。</p></div>

                  </div>
                  <!--FAQ：%member_caption%登録したのに、確認メールが届きません。end-->

                  <!--FAQ：携帯電話のアドレスを登録したのですが、メールが届きませんstart-->
                  <div class="fbox">


                    <h3 class="question">Q. 携帯電話のアドレスを登録したのですが、メールが届きません</h3>


                    <div class="answer"><p>携帯電話に関しては、携帯キャリア側でスパム対策を強化していること、個別に利用者がスパム設定をできることから、受信出来ないことが多いようです。文字化けされてしまう場合は、お手数ではございますがメールソフトのバージョンアップ、もしくは他のフリーアドレス（Gmail等）を取得していただけますでしょうか。</p><p>※バージョンアップを行わずとも、文字のエンコードを【UTF-8】に変更いただくことで文字化けが修正できる場合がございますので、まずは以下をお試しください。</p>
                      <ul>
                        <li>auの場合は<a href="http://www.au.kddi.com/service/email/support/meiwaku/email_boshi/filter/shitei_jushin/index.html">こちら</a>をご確認ください。</li>
                        <li>softbankの場合は<a href=" http://mb.softbank.jp/mb/support/antispam/settings/indivisual/whiteblack/">こちら</a>をご確認ください。</li>
                        <li>docomoの場合は<a href="http://www.nttdocomo.co.jp/info/spam_mail/measure/domain/">こちら</a>をご確認ください。</li>
                      </ul>
                    </div>


                  </div>
                  <!--FAQ：携帯電話のアドレスを登録したのですが、メールが届きませんend-->

                  <!--FAQ：一度登録した情報の変更や削除は出来ますか？start-->
                  <div class="fbox">


                    <h3 class="question">Q. 一度登録した情報の変更や削除は出来ますか？</h3>


                    <div class="answer"><p>はい、出来ます。ログイン後の<a href="%ssl_host_url%//WTE/mypage.cgi?m=mbrmodfrm">プロフィール編集</a>からいつでも自由に変更することが出来ます。一度登録した情報の削除につきましては、退会の処理が必要となりますのでお問い合わせページのフォームより、ご連絡ください。</p></div>

                  </div>
                  <!--FAQ：一度登録した情報の変更や削除は出来ますか？end-->

                  <!--FAQ：一人が%member_caption%登録をしたら、複数人で‥start-->
                  <div class="fbox">


                    <h3 class="question">Q. 一人が%member_caption%登録をしたら、複数人で利用することは出来ますか？</h3>


                    <div class="answer"><p>複数人でのご利用は出来ません。必ずお一人ずつ%member_caption%登録をお願いいたします。</p></div>

                  </div>
                  <!--FAQ：一人が%member_caption%登録をしたら、複数人で‥end-->

                  <!--FAQ：休会や退会することは出来ますかstart-->
                  <div class="fbox">


                    <h3 class="question">Q. 休会や退会することは出来ますか</h3>


                    <div class="answer"><p>休会はできませんので、一度退会していただいた後、再度入会していただく必要があります。退会をご希望の場合は、お問い合わせフォームより退会希望の旨をご連絡ください。<br /><br />月額プランの休会もございませんので、一度プランの解約処理をお願いいたします。</p></div>

                  </div>
                  <!--FAQ：休会や退会することは出来ますかend-->

                  <!--FAQ：パスワードを変更したいですstart-->
                  <div class="fbox">


                    <h3 class="question">Q. パスワードを変更したいです</h3>


                    <div class="answer"><p>ログイン後、<a href="%ssl_host_url%/WTE/mypage.cgi?m=passwdfrm">PW変更</a>から変更可能です。</p></div>

                  </div>
                  <!--FAQ：パスワードを変更したいですend-->

                  <!--FAQ：パスワードが分からなくなりましたstart-->
                  <div class="fbox">


                    <h3 class="question">Q. パスワードが分からなくなりました</h3>


                    <div class="answer"><p>ログイン画面のパスワード・リセットから、パスワードを再設定してください。</p></div>

                  </div>
                  <!--FAQ：パスワードが分からなくなりましたend-->


                  <!--FAQ：推薦環境を教えてくださいstart-->
                  <div class="fbox">


                    <h3 class="question">Q. 推奨環境を教えてください</h3>


                    <div class="answer"><p>推奨環境は以下の通りです。</p>
                    <ul>
                      <li style="margin-bottom:5px;">【インターネットブラウザ】<div style="margin-bottom:5px;">・Windows <br />&ndash; Mozilla FireFox 3.6 以降 <br />&ndash; Google Chrome 10 以降 <br />&ndash; Apple Safari 5 以降 <br />&ndash; Microsoft Internet Explorer 8 以降 </div><div>・Mac <br />&ndash; Apple Safari 5 以降 <br />&ndash; Mozilla FireFox 3.6 以降 <br />&ndash; Google Chrome 10 以降</div></li>
                      <li>【パソコン本体】 <br />・メインメモリ <br />&ndash; 2GB以上</li>
                    </ul>
                    </div>

                  </div>
                  <!--FAQ：推薦環境を教えてくださいend-->

                  <!--FAQ：ブラウザ以外の推薦環境を教えてくださいstart-->
                  <div class="fbox">


                    <h3 class="question">Q. ブラウザ以外の推薦環境を教えてください</h3>


                    <div class="answer"><p>【ネット環境】有線環境</p></div>

                  </div>
                  <!--FAQ：ブラウザ以外の推薦環境を教えてくださいend-->

                  <!--FAQ：受信したメールが文字化けしてしまいますstart-->
                  <div class="fbox">


                    <h3 class="question">Q. 受信したメールが文字化けしてしまいます</h3>


                    <div class="answer"><p>一部の古いメールソフトですと、サポートがされておらず文字化けされてしまうようです。文字化けされてしまう場合は、お手数ではございますがメールソフトのバージョンアップ、もしくは他のフリーアドレス（Gmail等）を取得していただけますでしょうか。</p><p>※バージョンアップを行わずとも、文字のエンコードを【UTF-8】に変更いただくことで文字化けが修正できる場合がございますので、まずは以下をお試しください。</p>
                     <ul>
                      <li>Outlookの場合は<a href="http://support.microsoft.com/kb/881816/ja">こちら</a>をご確認ください。</li>
                      <li>Thunderbirdの場合の場合は<a href="https://support.mozillamessaging.com/ja/kb/configuration-options-character-encoding">こちら</a>をご確認ください。</li>
                      <li>Becky!の場合の場合は<a href="http://www.mcas-vista.com/becky/email/mojiko-do.html">こちら</a>をご確認ください。</li>
                    </ul>

                  </div>
                  <!--FAQ：受信したメールが文字化けしてしまいますend-->


                </div>
              </div>
            </div>
          </section>
          <!--FAQカテゴリセクション「%member_caption%登録・その他について」end-->

        </section>
        <!--セクション「よくあるご質問」end-->

      </div>
      <!--コンテナend-->

    </article>
    <!--メインコンテンツend-->

  </div>
  <!--コンテンツend-->

  <!--footer.html読み込み-->
  <TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">

<script>
$(function() {
	$('.limitunit').each(function(){
		var txt1 = $(this).html();
		$(this).html(
			txt1.replace('d','日')
		);
	});
	$('.limitunit').each(function(){
		var txt2 = $(this).html();
		$(this).html(
			txt2.replace('h','時間')
		);
	});
	$('.limitunit').each(function(){
		var txt3 = $(this).html();
		$(this).html(
			txt3.replace('m','分')
		);
	});
});
</script>
</body>
</html>
