<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>Step by Step 文法・単語 基礎コース｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="ワールドトーク×桐原書店とは？｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/about" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/about" />
  <meta name="twitter:title" content="ワールドトーク×桐原書店とは？｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_coursevis wt_head_grammer">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>Step by Step 文法・単語 基礎コース</h1>
                        <h4 class="text-center">英語が苦手な方、中学英語で挫折した方、英文法から英語をやり直したい方へ</h4>
                      </div>
                  </div>
              </div>
          </section>
          <section>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-center">オンライン英会話を活用し、マンツーマンの<strong class="txt_kiri">文法・単語 基礎レッスン</strong><br>中学英語で挫折した方や、英文法から英語をやり直したい方へ</h2>
                    
                  <p>英語が苦手な方向けの基礎文法＆基礎単語を身につけるコースです。</p>

                  <p>英語が苦手な方に共通するのが、「単語が覚えられない」「文法のルールがわからない」というものです。これは英語と日本語訳、また解説だけで理解しようとしているために、覚えづらさや理解しづらさがあります。これらを克服するためのトレーニングが音読です。</p>

                  <p>音読をすることで、文字だけでなく音を通して英語に触れることができるため、記憶しやすくなります。日本語を使う時には、文法を意識することはあまりないのは、母国語だからということもありますが、その前提として「声に出して使うことで理解してきたから」です。</p>

                  <p>本コースでは、音読を通して「こうつながる」や「こう言う」という感覚的な理解に対して、「なぜそうなのか」というルールの理解を追求するため、今までにない英語の理解が可能となります。</p>
                </div>
              </div>
            </div>
          </section>
 <section class="wt_sec_bg_1">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">Step by Step 文法・単語 基礎コース</strong>の特徴</h2>
        </div>
      </div>
    <div class="row">
      <div class="col-12 col-md-4 text-center wt_feature wt_feature_1">
        <img src="/assets/img/index/feature_1.jpg" alt="教材を活用した効率的・効果的なレッスン" class="w-100 rounded">
        <h3 class="mb-5">徹底的に<strong>基礎固め</strong>ができます</h3>
        <p class="text-left">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-12 col-md-4 text-center wt_feature wt_feature_2">
        <img src="/assets/img/index/feature_2.jpg" alt="TOEIC界のカリスマ講師早川幸治先生が監修！" class="w-100 rounded">
        <h3 class="mb-5"><strong>音読</strong>を通じた知識＆スキルアップが可能</h3>
        <p class="text-left">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
      <div class="col-12 col-md-4 text-center wt_feature wt_feature_3">
        <img src="/assets/img/index/feature_3.jpg" alt="日本人英語講師があなたの学習をマンツーマンサポート" class="w-100 rounded">
        <h3 class="mb-5">苦手な個所を克服する<br><strong>ピンポイントのアドバイス</strong></h3>
        <p class="text-left">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
    </div>
      
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center order-md-2">
          <img src="/assets/img/course/hayakawa.jpg" alt="早川幸治先生" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center order-md-1">
          <div class="wt_fukidashi p-5">
            <h3>コース監修 - 早川幸治（Jay）先生より</h3>
            <p class="text-left">
              掛け算九九を覚えた時、文字を見ただけでなく声を出しながらリズムで身につけませんでしたか？英語も同様に身につけることができます。<strong>音読</strong>を取り入れることで、単語や文法を覚えやすくなるだけでなく、<strong>英語の発音やリズム</strong>も一緒に身につけることができます。上達を感じながら、英語を楽しんでください！</p>
          </div>
        </div>
      </div>
      
    </div>
          </section>


  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">Step by Step 文法・単語 基礎コース</strong>のプラン</h2>
        </div>
      </div>
      <div class="row wt_plan mb-5">
        <div class="col-12 col-md-6 offset-md-3">
          <h4 class="text-center">tep by Step 文法・単語 基礎コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item text-primary"><span>税抜価格</span><strong>33,000</strong>円</li>
            <li class="list-group-item"><span>回数</span>全<strong>16</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>25</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>中学英語で挫折した方</li>
              <li>英文法から英語をやり直したい方</li>
            </ul></li>
          </ul>
        </div>
        <!--<div class="col-12 col-md-4 mb-5">
          <h4 class="text-center">TOEICR L&amp;Rテスト730点突破コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item text-primary"><span>税抜価格</span><strong>33,000</strong>円</li>
            <li class="list-group-item"><span>回数</span>全<strong>8</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>50</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>TOEICR L&amp;Rテストで730点を突破したい</li>
              <li>TOEICR L&amp;Rテストでスコアアップしたい</li>
              <li>大学入学後のプレースメントテスト対策したい</li>
              <li>勤務先よりTOEICR L&amp;Rテストのスコアアップを要請されている</li>
            </ul></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-5">
          <h4 class="text-center">TOEICR Bridge L&amp;Rテスト対策コース</h4>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item text-primary"><span>税抜価格</span><strong>33,000</strong>円</li>
            <li class="list-group-item"><span>回数</span>全<strong>8</strong>回</li>
            <li class="list-group-item"><span>1コマ</span><strong>50</strong>分</li>
            <li class="list-group-item"><span>対象者</span><ul>
              <li>TOEICR L&amp;Rテストを受検して歯が立たない</li>
              <li>TOEICR L&amp;Rテストに初めて挑戦する中高生</li>
              <li>英語が苦手で学び直ししたいと考えている社会人</li>
              <li>大学入学後のプレースメントテスト対策したい</li>
            </ul></li>
          </ul>
        </div>-->
      </div>
    </div>
  </section>








    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
