<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>桐原書店のノウハウが凝縮された オンラインIELTS対策</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,桐原書店,TOEIC,英検,TOEFL,iBT&reg;対策" />
  <meta property="og:title" content="桐原書店のノウハウが凝縮された オンラインIELTS対策" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_ielts.jpg" />
  <meta property="og:site_name" content="KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="桐原書店のノウハウが凝縮された オンラインIELTS対策" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_ielts.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <link rel="stylesheet" href="/assets/css/lp.css?4">
<style>
.wt_course strong.text-orange{
     color: #ff2717;
}
.wt_course strong.text-orange2{
     color: #ff7e00;   
}  
.wt_catch p.wt_mcopy {
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.2em;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #454545!important;
    font-size: 16px;
    border-radius: 10px;
    background: #fbd5d5;
}  
/*.wt_mvbtn a:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 10px;
    background: url("/assets/img/common/mv_btn_essay.png") no-repeat left bottom;
    background-size: contain;
    z-index: 5;
    width: 75px;
    height: 75px;
}*/
    @media (min-width:768px){
        .img_study img{
            position: absolute;
            right: 15px;
            bottom: 25px;
        }   
    }    
</style>      
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main wt_essay">

        <section class="wt_mainvis wt_slider_toefl">
          <div class="wt_catch">
            <div class="wt_catch_circle">
              <div>
                <h2 class="txt_lt mt-4 pb-0">桐原書店<b style="font-size: 60%;">のノウハウが凝縮された</b></h2>  
                <h1 class="mb-5">オンラインIELTS対策</h1>
                <!--<div class=""><a href="#register" class="btn wt_btn btn-primary rounded-pill ">無料で動画視聴する</a></div>-->                  
                <div class="text-center">
                  <p class="wt_mcopy">2026年3月開講！
                  </p>
                </div>
                <div class="wt_mvbtn"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">気になる方は会員登録から！</a></div>
              </div>
            </div>
          </div>
          <ul class="wt_slider wt_slider_toefl">
            <li class="wt_slider_ielts"></li>
          </ul>
        </section>
        
        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">『IELTS』</strong>のご案内<!--<br><span style="font-size: 60%;">※2025年1月開講</span>--></h2>
                  <h4 class="text-center"></h4>  
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-12 mb-3">
                <p>IELTS受験者数は、今や世界で年間数百万人にのぼります。日本でも海外留学や移住を目指す目的で受験する方が増え、特に近年は、国内の大学入試で活用するために受験する高校生も増加しています。</p>

                <p><strong>「憧れの海外留学への一歩を踏み出したい！」</strong><br>
                <strong>「目標の大学に入るためにスコアを取りたい！」</strong><br>
                きっと皆さんはこのような目標をお持ちのはずです。しかし、IELTSの試験は問題のタイプが特殊で、難易度が高めです。実際に目標スコアを取るにはどうしたらいいのか悩んでいる方が多いのではないでしょうか。
                </p>
              </div>
              <div class="col-12 col-xl-10 offset-xl-1 pb-5">              
                <div class="wt_problem wt_problem2">
                  <div class="row">
                    <div class="col-12 text-center">
                      <ul class="p-0 mb-0 p-lg-3">
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>初めての受験で、何をすればいいかわからない</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>何回受けてもスコアが目標に届かない…</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>本番通りの問題を解きながら学びたい</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>IELTSを熟知している先生に習いたいが、ネイティブ講師の英語授業にはついていけない…</li>
                      </ul>
                    </div>                     
                  </div>
                </div>
              </div>
              <div class="col-12 pt-lg-3">  
                <p>こういったお悩みを解決すべく、日本人講師の強みを生かしながら、幅広いレベルのIELTS受験者の実力アップにつながるよう設計いたしました。</p>  
              </div>
            </div>              
              </div>
              <!--<div class="col-12 my-3">
                <img src="/assets/img/toefl/img_toefl_theme.png" class="w-100" alt="『TOEFL iBT&reg; Starterコース』のご案内">
                <h6 class="text-right font-weight-normal pt-2">※ETS Japan　TOEFL®テスト日本事務局サイトより<br><a href="https://www.toefl-ibt.jp/test_takers/toefl_ibt/2hours/" target="_blank">https://www.toefl-ibt.jp/test_takers/toefl_ibt/2hours/</a></h6>  
              </div>-->
            </div> 
              
              
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center">
                  <p class="wt_mcopy">2026年3月開講！
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">気になる方は会員登録から！</a></div>
              </div>
            </div>                 
              
 
          </div>
        </section>    
          
        <section class="wt_sec_bg_1">
          <div class="container">  
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center">IELTSを<strong class="txt_kiri">学習する目的</strong>は？</h2>
                  <h4 class="text-center"></h4>  
              </div>
            </div>              
            <div class="row mb-5">
              <div class="col-12 col-lg-6 mb-3">
                <p>皆さんがIELTSを受験する目的は何ですか？</p>
                <p>大学や大学院への留学および国内進学でしょうか？<br>語学留学またはロースクール・ビジネススクールなどへの留学でしょうか？<br>あるいはご自身の英語力におけるスキル強化・弱点克服でしょうか。</p> 
                <p>留学や大学院進学等を視野に入れてIELTSの学習を決意したものの、現実的な英語力がIELTSを受験するレベルに達しておらず苦悩されているとの声を英語学習者の方からよく耳にします。<br>
                とくにスピーキングやライティングは、独学での習得が非常に困難な技能といえるでしょう。</p>
                <p>そのような方のために、KIRIHARA Online Academyでは、現状の英語力からIELTSの本受験にトライできる英語力に引き上げる、あるいは既に受験された方もバンドスコアを着実にアップさせるためのコースを開発しました。</p>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <img src="/assets/img/ielts/img_ielts_01.jpg" class="w-100" alt="IELTSを学習する目的は？">
              </div>
              <div class="col-12 mb-3">
                <p>『IELTSコース』は、IELTSの初学者はもちろん、具体的な目標スコアに向けて必要な英語力を高めたい方にもご活用いただきたいプログラムです。</p>
                <p>IELTSのライティング、リーディング、リスニング、スピーキングの各テストで問われる知識やスキルを磨くために、学習しやすく効果が出やすい順に学んでいきますので、IELTSは難しそう！という不安や苦手意識のある方にも是非おすすめしたい内容となっています。</p>
              </div>    
            </div>               
          </div>
        </section>    
        
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">＼最短距離で目標スコアへ！／<br class="d-none d-md-block"><br class="d-block d-md-none">IELTSコース <strong class="txt_kiri">5つの特徴</strong></h2>
              </div>
            </div>
          </div>

          <div class="container-fluid">

            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point 1</div>
                    <h3 class="text-left">挫折させない！<strong class="text-primary">マンツーマン指導</strong>による<strong class="text-primary">ティーチング×コーチング</strong></h3>
                    <p> IELTS対策の最大の壁は、学習の継続です。<br>
                        本コースでは、マンツーマン指導によるティーチングはもちろん、試験当日までモチベーションを維持するための「コーチング」も実施します。</p>
                    <p>一人ひとりの分からない点や弱点を的確に把握し、完全攻略に向けて徹底的にサポートします。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/ielts/img_ielts1_1.jpg" alt="" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point 2</div>
                      <h3 class="text-left">今の実力からスタート！<br>レベル別の<strong class="text-primary">最適化カリキュラム</strong></h3>
                    <p>「今の英語力でIELTSに挑戦できるか不安…」という方もご安心ください。<br>
                        事前のヒアリングに基づき、実践演習メインの「学習パターン①」と、基礎固めからスタートする「学習パターン②」のいずれかをご提案します。</p>
                    <p>まずはIELTSのスタートラインに立てる英語力を養い、目標スコアの達成を目指します。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/ielts/img_ielts1_2.jpg" alt="" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point 3</div>
                      <h3 class="text-left">最強の<strong class="text-primary">教材群！</strong><br>基礎固め用の教材は<strong class="text-primary">無償提供</strong></h3>
                    <p>教材には、IELTS共同所有者であるIDP Educationの「公認問題集」と、桐原書店の「技能別IELTS頻出英単語3800」を採用し、質の高い学習を実現します。</p>
                    <p>さらに、初中級レベルの方の基礎固めに使用する桐原書店の『英語4技能ハイパートレーニング（長文読解）』シリーズは、コース受講者に無償で提供いたします。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/ielts/img_ielts1_3.jpg" alt="" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point 4</div>
                      <h3 class="text-left">本番さながら！<br>4技能を<strong class="text-primary">最短で攻略する</strong>実践型レッスン </h3>
                    <p>毎回のレッスン冒頭で行う単語テストで語彙力を鍛えながら、4技能すべてをバランスよく対策します。</p>
                    <p>講師を面接官に見立てたスピーキングの模擬面接や、修正点を的確に指摘してリライト（書き直し）を行うライティング指導など、IELTSの形式や出題内容をリアルに体感できる実践的な内容です。
                    </p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/ielts/img_ielts1_4.jpg" alt="" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point 5</div>
                      <h3 class="text-left">タイパ重視！<br><strong class="text-primary">2ヶ月・全8回</strong>の短期集中プログラム </h3>
                    <p>学習時間に対する学習効果を最大限に高めるため、無駄を省き、効果が出やすい順序で学習を進めます。</p>
                    <p>有効期間2ヶ月・全8回という短期集中型のコースで、留学や進学に向けた自学自習の基礎力を一気に引き上げます。</p>
                    <p>全8回コース修了後は、1ヶ月に2回または4回を受講する「定期コース」をお選びいただくことで、無理な出費なく弱点の克服などを目的とした学習の継続を図ることができます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/ielts/img_ielts1_5.jpg" alt="" class="w-100 h-auto">
              </div>
            </div>
          </div>
        </section>

        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">料金</strong>について</h2>

              </div>
            </div>
              
            <TMPL_INCLUDE NAME="../include/price_ielts.html">
                
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center">
                  <p class="wt_mcopy">2026年3月開講！
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">気になる方は会員登録から！</a></div>
              </div>
            </div>                   
              
          </div>
        </section>


        <section class="wt_bggrey d-none">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">受講までの<strong class="txt_kiri">流れ</strong></h2>
                <p class="text-center">最短3分！すぐに学習を始められます。</p>  
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_1 mb-5">
                <span class="wt_flow_step"><span class="lead">1</span></span>
                <img src="/assets/img/reg/flow_1.png" alt="無料会員登録をする" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">無料会員登録をする</h3>
                <p>氏名・メールアドレスを記載するのみ！簡単30秒！</p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_2 mb-5">
                <span class="wt_flow_step"><span>2</span></span>
                <img src="/assets/img/reg/flow_2.png" alt="お申込みをする" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">お申込みをする</h3>
                <p>すぐにメールをお送りします。お申込みフォームに入力して完了！</p>  
              </div>
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_3 mb-5">
                <span class="wt_flow_step"><span>3</span></span>
                <img src="/assets/img/reg/flow_3.png" alt="レッスン受講開始" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">レッスン受講開始</h3>
                <p>お支払いの確認ができましたら、視聴用のリンクをお送りします。テキストをダウンロードし、即受講いただけます。</p>  
              </div>
            </div>
          </div>
        </section>
            
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12 mb-5">
                  <h2 class="text-center"><strong class="txt_kiri">使用教材</strong>について</h2>
                  <p>『IELTSコース』では受講生の方に、講座での使用教材として『英語4技能ハイパートレーニング長文読解』シリーズ3冊を無償にてご提供します。『IDP Education IELTS公認問題集』および『技能別IELTS頻出英単語3800』については、各種書店・通販サイト等でお求めのうえ初回レッスンをご予約いただけますようお願いします。（無料体験レッスンの段階では教材のご準備は不要です）</p>
              </div>
            </div>
              
            <p class="mb-2">※以下3教材はコース加入者にプレゼントさせていただきます</p>  
            <div class="row textbox texttop">
              <div class="col-4 col-md-2 textimg">
                  <img src="/assets/img/toefl/toefltext_1.png" alt="英語4技能ハイパートレーニング 長文読解（３）標準編" class="w-100 h-auto" />
              </div>
              <div class="col-8 col-md-4 textdet">
                <h4>英語4技能ハイパートレーニング 長文読解（３）標準編</h4>
                <p>出版：桐原書店<br>著者：安河内哲也 著／アンドリュー・ロビンス【監修】</p>
                <p>※レベルや必要に応じて，IELTSに近いタイプの問題を解いていただきます</p>
              </div>
              <div class="col-4 col-md-2 textimg textright">
                  <img src="/assets/img/toefl/toefltext_2.png" alt="英語4技能ハイパートレーニング 長文読解（４）中級編" class="w-100 h-auto" />
              </div>
              <div class="col-8 col-md-4 textdet">
                <h4>英語4技能ハイパートレーニング 長文読解（４）中級編</h4>
                <p>出版：桐原書店<br>著者：安河内哲也 著／アンドリュー・ロビンス【監修】</p>
                <p>※レベルや必要に応じて，IELTSLに近いタイプの問題を解いていただきます</p>
              </div>
            </div>
            <div class="row textbox texttop mb-5">
              <div class="col-4 col-md-2 textimg">
                  <img src="/assets/img/toefl/toefltext_3.png" alt="英語4技能ハイパートレーニング 長文読解（５）上級編" class="w-100 h-auto" />
              </div>
              <div class="col-8 col-md-4 textdet">
                <h4>英語4技能ハイパートレーニング 長文読解（５）上級編</h4>
                <p>出版：桐原書店<br>著者：安河内哲也 著／アンドリュー・ロビンス【監修】</p>
                <p>※レベルや必要に応じて，IELTSに近いタイプの問題を解いていただきます</p>
              </div>
              <div class="col-4 col-md-2 textimg textright">
              </div>
              <div class="col-8 col-md-4 textdet">
              </div>
            </div>
              
            <p class="mb-2">※以下の教材を各自ご購入いただきます</p>

            <div class="row textbox texttop">
              <div class="col-4 col-md-2 textimg">
                <a href="https://www.kirihara.co.jp/product/detail/002250/" target="_blank">                  
                  <img src="/assets/img/ielts/ieltstext_4.jpg" alt="" class="w-100 h-auto" />
                </a>
              </div>
              <div class="col-8 col-md-4 textdet">
                <h4>IDP Education IELTS公認問題集</h4>
                <p>出版：桐原書店<br>
                    著者：IDP Education / イングリッシュイノベーションズ 共著<br>
                    ※リーディング、リスニング、ライティング、スピーキングの４技能すべてにおいて実際のIELTS試験と同じ水準の問題が掲載されていることに加え、定番の出題形式や傾向を網羅した詳しい解説付き。限りなく本番の試験に近い問題を体感できます。
<br>
                </p>
              </div>
              <div class="col-4 col-md-2 textimg textright">
                <a href="https://www.kirihara.co.jp/product/detail/002267/" target="_blank">                  
                  <img src="/assets/img/ielts/ieltstext_5.jpg" alt="" class="w-100 h-auto" />
                </a>
              </div>
              <div class="col-8 col-md-4 textdet">
                <h4>技能別IELTS頻出英単語3800</h4>
                <p>出版：桐原書店<br>
                  ※IELTS受験に必須の英単語3800語を網羅。<br>
                  Part 1：基本単語1000[Speaking、Writing必須英単語]<br>
                  Part 2：コア単語2000[Listening、Reading必須英単語]<br>
                  Part 3：分野別英単語800<br>
                  各Partが頻度順に掲載されているので、重要度の高い英単語から順番に学習可能。<br>
                  覚えた単語のチェックやディクテーションなどに活用できるオンラインマスクリスニング機能付き。
                </p>
              </div>
            </div>              

              <div class="row mt-5">
                <div class="col-12">
                  <p class="mb-2">ぜひKIRIHARA Online Academyの『IELTSコース』を活用してIELTSに関する知見を高め、効率的にスコアアップを実現して、将来への道を切り開いてください。</p>
                </div>
              </div>
              
                
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center">
                  <p class="wt_mcopy">2026年3月開講！
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">気になる方は会員登録から！</a></div>
              </div>
            </div>                   
              
           </div>
         </section>            
        


          <section class="wt_sec_bg_1 wt_toeic d-none">
            <div class="container pdb0">
              <div class="row">
                <div class="col-12 mb-5">
                  <h2 class="text-center">よくある<strong class="txt_kiri">質問</strong></h2>
                </div>
              </div>
            </div>
            <div class="container faq">
              <div class="row">
                <div class="col-12 mb-5">
                  <h2>オンライン家庭教師に関するご質問</h2>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>お支払い方法を教えてください</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">クレジットカード・銀行振込でのお支払いが可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>受講期限はありますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">申込日から3ヶ月です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>視聴期限はありますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">購入いただければ永遠に視聴可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>パソコン・タブレットは必要でしょうか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">画面上でテキストを見ながら学習する場合は必要です。携帯での受講も可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>個別指導コースのみの受講はできますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">可能ですが、オンデマンドを受講頂いた後に個別指導コースの受講がおすすめです！</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>教材の購入は必要ですか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">テキスト教材の購入は不要です。弊社オリジナルの教材をPDFでダウンロードしていただきます。</p></div>
                  </div>
                </div>
              </div>

            </div>
          </section>          
          

        <section id="register" style="display: none;">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">まずは<strong class="txt_kiri">無料で動画視聴</strong>を<br class="d-block d-md-none">会員登録はこちらから</h2>
                <p class="text-lg-center mb-lg-5">会員登録いただいた方には、無料動画を用意しています。</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">
                <div class="wt_form wt_form_layer">

                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="cfmset" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <TMPL_IF NAME="errs">
                      <p class="errs">%errs%</p>
                    </TMPL_IF>

                    <div class="form-group" style="display: none">
                      <label class="required %member_lastname_err% %member_firstname_err%">お名前</label>
                      <div class="row">
                        <div class="col-2 col-sm-1">
                          <label for="member_lastname" class=" %member_lastname_err% %member_firstname_err%">%member_lastname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_lastname" name="member_lastname" value="%member_lastname%" placeholder="（例）山田" class="form-control %member_lastname_err%" />
                        </div>
                        <div class="col-2 col-sm-1">
                          <label for="member_firstname" class="%member_lastname_err% %member_firstname_err%">%member_firstname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_firstname" name="member_firstname" value="%member_firstname%" placeholder="（例）太郎" class="form-control %member_firstname_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_handle" class="required %member_handle_err%">%member_handle_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_handle" name="member_handle" value="%member_handle%" placeholder="（例）桐原一郎" class="form-control %member_handle_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_email" class="required %member_email_err%">%member_email_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_email" name="member_email" value="%member_email%" placeholder="（例）yamada@example.com" class="form-control %member_email_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_pass" class="required %member_pass_err%">%member_pass_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="password" id="member_pass" name="member_pass" value="%member_pass%" placeholder="%member_pass_caption%を入力してください（8～12文字）" class="form-control %member_pass_err%" />
                          <div class="form-group">
                            <input type="password" id="member_pass2" name="member_pass2" value="%member_pass2%" placeholder="確認の為、再度%member_pass_caption%を入力してください" class="form-control %member_pass2_err%" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" style="display:none;">
                      <label for="coupon_code" class="%coupon_code_err%">%coupon_code_caption%</label>
                      <input type="text" id="coupon_code" name="coupon_code" value="rwmvhpjo" class="form-control %coupon_code_err%" />
                      <ul class="note">
                        <li>%coupon_code_caption%をお持ちの方は、ここに8桁の半角英数字で入力してください</li>
                      </ul>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="agree">利用規約</label>
                        </div>
                        <div class="col-12 col-xl-8 mb-5">
                          <div class="wt_termsbox wt_termsbox_lp">
                            <div>
                              <TMPL_INCLUDE NAME="../include/agreement.html">
                            </div>
                            <div>
                              <TMPL_INCLUDE NAME="../include/privacypolicy.html">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center">
                          <h5 class="text-center">規約に同意いただいた方は、「次へすすむ」ボタンを押してください</h5>
                        </div>
                      </div>

                      <div class="text-center mb-5">
                        <input type="submit" value="次へすすむ" class="btn btn-danger rounded-pill wt_btn" />
                      </div>

                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
     
        <TMPL_INCLUDE NAME="../include/foot.html">
          <script src="%static_url%/js/dom.js"></script>
          <script src="%static_url%/js/inputlimit.js"></script>
          <style>
            #coupon_code {
              width: 8em;
            }

          </style>
</body>

</html>
