<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>
    <TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="description" content="出版社「桐原書店」とオンライン英会話「ワールドトーク」が共同開発した新しいオンライン英会話スクール「KIRIHARA Online Academy」。英検対策・TOEIC対策に特化し、教材を活用した自宅学習と、講師とのマンツーマンのオンラインレッスンを組み合わせた、最も効率の良い、受験対策サービスです。コース監修は英語講師として多数の書籍を出版している「早川幸治（Jay）先生」が行っています。英検・TOEICの受験に少しでもお悩みを抱えている方は是非、一度無料体験レッスンをお試しください。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="出版社「桐原書店」とオンライン英会話「ワールドトーク」が共同開発した新しいオンライン英会話スクール「KIRIHARA Online Academy」。英検対策・TOEIC対策に特化し、教材を活用した自宅学習と、講師とのマンツーマンのオンラインレッスンを組み合わせた、最も効率の良い、受験対策サービスです。コース監修は英語講師として多数の書籍を出版している「早川幸治（Jay）先生」が行っています。英検・TOEICの受験に少しでもお悩みを抱えている方は是非、一度無料体験レッスンをお試しください。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="出版社「桐原書店」とオンライン英会話「ワールドトーク」が共同開発した新しいオンライン英会話スクール「KIRIHARA Online Academy」。英検対策・TOEIC対策に特化し、教材を活用した自宅学習と、講師とのマンツーマンのオンラインレッスンを組み合わせた、最も効率の良い、受験対策サービスです。コース監修は英語講師として多数の書籍を出版している「早川幸治（Jay）先生」が行っています。英検・TOEICの受験に少しでもお悩みを抱えている方は是非、一度無料体験レッスンをお試しください。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <TMPL_INCLUDE NAME="../include/analysis.html">
</head>

<body id="user" class="index drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0&appId=229437533792557&autoLogAppEvents=1" nonce="Krjb1tBG"></script>
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">


        <section class="wt_mainvis">
          <div class="wt_catch">
            <div class="wt_catch_circle">
              <div>
                <p class="wt_catch_logo mb-4 d-none d-md-block"><img src="/assets/img/common/logo.svg" alt="ワールドトーク×桐原書店" class="w-75"></p>
                <p>最短距離で<br><span>結果</span>をつくる</p>
                <h1>桐原書店とワールドトークが共同開発する<br>資格対策（英検・TOEIC）に特化した<br class="d-block d-md-none">オンライン英会話</h1>
                <div class="wt_mvbtn"><a href="%ssl_host_url%/WTE/reg.cgi" class="btn btn-danger rounded-pill btn-lg">無料体験<span class="d-none d-md-inline">レッスン</span>はこちら</a></div>
              </div>
            </div>
          </div>
          <ul class="wt_slider owl-carousel owl-carousel-mv">
            <li class="wt_slider01"></li>
            <li class="wt_slider02"></li>
            <li class="wt_slider03"></li>
          </ul>
        </section>


        <section>
          <!--<div class="container">
            <div class="row">
              <div class="col-12 col-md-10 offset-md-1">
                <ul class="wt_headline mb-5">
                  <li><a href=""><img src="/assets/img/index/bnr_toeic.jpg" class="w-100" /></a></li>
                </ul>
              </div>
            </div>
          </div>-->
          <div class="container-fluid">
     <div class="row">
     <div class="col-12">
      <ul class="wt_headline owl-carousel owl-carousel-bnr mb-5">
        <li><a href="/wte/event20220208"><img src="/assets/img/index/bnr_event_20220208.jpg" /></a></li>
        <li><a href="/wte/toeic"><img src="/assets/img/index/bnr_w_toeic.jpg" /></a></li>
        <li><a href="/wte/eiken1"><img src="/assets/img/index/bnr_w_eiken1.jpg" /></a></li>
      </ul>
      </div>
      </div>
    </div>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">KIRIHARA Online Academy</strong>について</h2>
                <h3 class="text-center wt_copy mb-5"><strong class="txt_kiri">「桐原書店」</strong>の教材・カリキュラム × <strong class="txt_wt">「ワールドトーク」</strong>の日本人講師<br class="d-none d-md-block">による<strong class="wt_marker">TOEIC対策</strong>・<strong class="wt_marker">英検対策</strong>に特化したオンライン英会話です！</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <p>KIRIHARA Online Academyは出版社<a href="https://www.kirihara.co.jp/" target="_blank"><strong>「桐原書店」</strong></a>とオンライン英会話スクール<a href="https://www.worldtalk.jp/" target="_blank"><strong>「ワールドトーク」</strong></a>が共同で開発した新しいオンライン英会話サービスです！<br>英検対策・TOEIC対策に特化し、教材を活用した自己学習と、日本人講師とのマンツーマンのオンラインレッスンを組み合わせた、最も効率の良い受験対策サービスです。</p>
                <p>コース監修は英語講師として、多数の書籍を出版している<strong>「早川幸治（Jay）先生」</strong>が行っています。</p>
                <p>英検・TOEICの受験に少しでもお悩みを抱えている方は是非、一度無料体験レッスンをお試しください。<br>生徒の皆さまの目標達成へ向けて、精いっぱいサポートさせていただきます。</p>
              </div>
              <div class="col-12 col-md-6">
                <div class="wt_youtube_cont">
                  <div class="wt_youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rqwFddMQ5-I?rel=0&theme=light&showinfo=0&autohide=1&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen onclick="ga('send','event','movie','click','mv_suzu');"></iframe>
                  </div>
                </div>
                <p class="text-center">コース監修者：早川幸治（Jay）先生からのメッセージ</p>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-12 text-center">
                <a href="/WTE/reg.cgi" class="btn btn-primary rounded-pill wt_btn">KIRIHARA Online Academyに登録！</a>
              </div>
            </div>
          </div>
        </section>
        
        

        <section class="wt_sec_turquoise">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">オンライン英会話×TOEIC・英検対策</h2>
                <h3 class="text-center wt_copy mb-5">「自己学習 × オンラインレッスン」を組み合わせたレッスンカリキュラムで<br class="d-none d-md-block">効率的にスコアアップや合格に繋がる仕組みをつくる</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mb-5">
                <p>KIRIHARA Online Academyのカリキュラムは、教材を使用した自己学習と、「実際に英検を合格している」「TOEICの高得点スコアを持っている」日本人講師による、マンツーマンレッスンを組み合わせた仕組みです。</p>
                <ul class="list-unstyled mb-5">
                  <li><span class="fas fa-check text-secondary"></span>独学だとどうしてもさぼってしまう・・・</li>
                  <li><span class="fas fa-check text-secondary"></span>勉強しているけれど、今の方法で合っているのか不安・・・</li>
                  <li><span class="fas fa-check text-secondary"></span>忙しくて勉強する時間を作ることが出来ない・・・</li>
                  <li><span class="fas fa-check text-secondary"></span>効率よく勉強出来る方法を知りたい・・・</li>
                </ul>
                <p>こんなお悩みを持つ方にお薦めです。<br>カリキュラムに添って、無駄なく試験までのプログラムを受けて頂き、学習におけるつまづきや、試験への不安や悩みの解消、そしてしっかりと学習を継続できる環境づくりをさせていただきます。</p>
              </div>
              <div class="col-12 mb-5">
                <p><img src="/assets/img/index/img_onlinelesson.png" class="w-100 h-auto" alt="自己学習とオンラインレッスンを組み合わせた効率的な学習方法"></p>
              </div>
              <div class="col-12">
                <p>学習者にとって、英語の<strong>「コンテンツ」</strong>は充実している時代です。<br>だからこそ、これからは英語の<strong>「コーチ」</strong>が必要とされていると考えています。<br>実績が豊富で、そして丁寧で優しい日本人の講師が、あなたのコーチとしてしっかりと学習指導をさせていただきます。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">KIRIHARA Online Academyは<strong class="text-primary">こんな方にお薦め</strong>です！</h2>
              </div>
              <div class="col-12 mb-5">
                <p><img src="/assets/img/index/img_onlinelesson2.png" class="w-100 h-auto" alt="よくあるTOEIC対策、英検対策を行う学習者の悩みとその解決方法について"></p>
              </div>
            </div>
          </div>
        </section>
        
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">KIRIHARA Online Academy</strong> の特徴</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 text-center wt_feature wt_feature_1">
                <img src="/assets/img/index/feature_1.jpg" alt="TOEIC・英検対策のための本格的なカリキュラムを準備" class="w-100 rounded">
                <h3 class="mb-5"><strong>TOEIC・英検</strong>対策のための本格的なカリキュラムを準備</h3>
                <p class="text-left">桐原書店オリジナルのTOEICや英検対策を効率化する、本格的なプログラムを準備いたしました。皆さまのTOEICのスコアアップや英検の合格に是非ご活用ください。</p>
              </div>
              <div class="col-12 col-md-4 text-center wt_feature wt_feature_2">
                <img src="/assets/img/index/feature_2.jpg" alt="TOEIC界のカリスマ講師早川幸治先生が監修！" class="w-100 rounded">
                <h3 class="mb-5">TOEIC講師<br><strong>早川幸治先生</strong>が監修！</h3>
                <p class="text-left">当スクールで提供するコースの監修を、TOEIC講師として有名な早川幸治先生が行っています。「出題傾向に慣れ」「英語力を身に付け」「解答方法を身に付ける」効果的な学習法を提供します。</p>
              </div>
              <div class="col-12 col-md-4 text-center wt_feature wt_feature_3">
                <img src="/assets/img/index/feature_3.jpg" alt="日本人英語講師があなたの学習をマンツーマンサポート" class="w-100 rounded">
                <h3 class="mb-5"><strong>日本人英語講師</strong>があなたの学習をマンツーマンサポート</h3>
                <p class="text-left">TOEICや英検の対策において、学習計画の作成と毎日の学習の継続は欠かせません。資格対策の得意な日本人講師があなたの目標達成に寄り添い、計画的な学習のサポートをさせていただきます。</p>
              </div>
            </div>


          </div>
        </section>

        <!--<section class="wt_sec_bg_1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">TOEICや英検対策でこんな<strong class="text-primary">お悩み</strong>ありませんか？</h2>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center">
          <img src="./assets/img/index/case_1.jpg" alt="自分がわかるまで質問ができる" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center">
          <div class="wt_fukidashi p-5">
            <h3><span class="fas fa-check"></span><strong>独学</strong>で勉強をするのがむずかしい方</h3>
            <p class="text-left">動画や教材、アプリなど試験対策のためのツールは色々あるけど、何が一番効果的なのかわからない。一人だとどうしてもモチベーションが続かない。そんな方にオンラインレッスンをお薦めしています！</p>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center order-md-2">
          <img src="./assets/img/index/case_2.jpg" alt="自分の間違いや癖を修正できる" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center order-md-1">
          <div class="wt_fukidashi p-5">
            <h3><span class="fas fa-check"></span>最も<strong>効率の良い</strong>方法を実践したい方</h3>
            <p class="text-left">仕事や習い事で忙しいからこそ、効率よく試験対策を行いたいという方に。指定したカリキュラムに沿って、あなた専用の講師があなたの進捗管理やレベルチェックもしてくれます。</p>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center">
          <img src="./assets/img/index/case_3.jpg" alt="今後の学習方法を相談できる" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center">
          <div class="wt_fukidashi p-5">
            <h3><span class="fas fa-check"></span>子どもの<strong>進学や成績</strong>に役立てたい方</h3>
            <p class="text-left">週数回のオンライン英会話レッスンだけで、すぐに英語力を向上させるのはとても難しく、レッスン以外の毎日の学習もとても重要となります。同じように1から英語を覚えていった日本人講師だからこそ、効果的な学習相談ができると考えています。</p>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-3 col-md-2 pl-0 pl-md-3 text-center order-md-2">
          <img src="./assets/img/index/case_4.jpg" alt="自分の間違いや癖を修正できる" class="w-100 rounded-circle">
        </div>
        <div class="col-9 col-md-10 pr-0 pl-0 pr-md-3 pl-md-3 text-center order-md-1">
          <div class="wt_fukidashi p-5">
            <h3><span class="fas fa-check"></span>グローバルな環境で<strong>成長</strong>していきたい方</h3>
            <p class="text-left">自分の間違いや癖を、正しく指摘してくれるコーチがいると一気に学力は向上します。文法の間違いや、発音の癖など、細かい修正は日本語による説明がとても重要になります。日本人講師だからこそ、弱い部分を明確に指導することができるのです。</p>
          </div>
        </div>
      </div>
    </div>
  </section>-->

        <!--<section class="pb-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">ワールドトークの日本人講師の<br class="d-block d-sm-none"><strong class="text-primary">特徴</strong></h2>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row wt_sec_blue">
        <div class="col-12 col-md-6 p-5 order-md-2">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-md-11 col-xl-10 p-5">
              
              <h3 class="mb-5">ワールドトークの<br>質の高い日本人講師を採用</h3>
              <p class="mb-5">英検対策やTOIEC対策を行う上で、実際に試験を経験している日本人講師が生徒のみなさまに伴走させていただく形が最も効率の良い方法です。<br>日本人講師をメインとするオンライン英会話「ワールドトーク」より、人気の高い丁寧な講師が皆さまの学習をサポートさせていただきますので、安心してご利用いただけます。</p>
              <p><a href="/wte/prflstfrm" class="btn btn-secondary rounded-pill wt_btn">登録している講師を見る</a></p>
            </div>
            <div class="col-md-1 col-xl-2"></div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-md-0 order-md-1 wt_bg_strength_1">
        </div>
      </div>
      <div class="row wt_sec_turquoise">
        <div class="col-12 col-md-6 p-5">
          <div class="row h-100 align-items-center">
            <div class="col-md-1 col-xl-2 col-xxl-3"></div>
            <div class="col-12 col-md-11 col-xl-10 p-5">
              
              <h3 class="mb-5">桐原書店の<br>資格対策に特化した教材を活用</h3>
              <p class="mb-5">英語教材から、学校の教科書まで教育に特化した出版会社「桐原書店」が、各プログラムにおける教材支援を行っております。<br>TOEIC対策のための豊富なテキストや、各プログラム毎の教材選定など、受験において最適なご利用教材をご案内させていただきます。</p>
              <p><a href="/wte/text" class="btn btn-secondary rounded-pill wt_btn">使用教材のご紹介</a></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-md-0 wt_bg_strength_2">
        </div>
      </div>
      <div class="row wt_sec_navy">
        <div class="col-12 col-md-6 p-5 order-md-2">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-md-11 col-xl-10 p-5">
              
              <h3 class="mb-5">カリスマ講師！<br>早川幸治先生がプログラムを監修</h3>
              <p class="mb-5">ワールドトーク×桐原書店では、全てのプログラムに対し、「カリスマTOEIC講師」として知られる早川幸治先生にプログラム監修を行っていただいております。<br>資格対策のプロフェッショナルが考えた、TOEICの点数アップ、英検の合格までのカリキュラムを、生徒の皆さまにご提供いたします。</p>
              <p><a href="/wte/text" class="btn btn-secondary rounded-pill wt_btn">早川幸治先生インタビュー</a></p>
            </div>
            <div class="col-md-1 col-xl-2"></div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-md-0 order-md-1 wt_bg_strength_3">
        </div>
      </div>
    </div>
  </section>-->

        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="text-primary">TOEIC・英検対策</strong>コース一覧</h2>
                <p class="text-center">KIRIHARA Online Academyでは試験対策に特化したコースを用意しています！<br>気になるコースの詳細をご確認いただき、興味がありましたら一度ご体験ください。</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="wt_card text-center">
                  <a href="/wte/toeic"><img src="./assets/img/index/service_1.jpg?1" alt="TOEIC BRIDGE L&amp;Rテスト対策コース" class="w-100"></a>
                  <h3>TOEIC&reg; L&amp;Rテスト突破コース</h3>
                  <!--<ul class="wt_card_tagli">
                    <li>対象：<span class="wt_card_tag">高校生</span><span class="wt_card_tag">大学生</span><span class="wt_card_tag">大人</span></li>
                  </ul>-->
                  <p class="text-left">TOEIC各パートで問われている知識やスキルを磨くために、学習しやすく効果が出やすい順序に学習します。マンツーマン指導によるコーチングとティーチングにより、試験当日まで継続するためのモチベーションの維持や、分からない点や自分の弱い部分を攻略するための学習をサポートさせていただきます。</p>
                  <a href="/wte/toeic" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="wt_card text-center">
                  <a href="/wte/eiken1"><img src="./assets/img/index/service_2.jpg?1" alt="英検一次試験対策コース" class="w-100">
                  </a>
                  <h3>英検一次試験対策コース</h3>
                  <!--<ul class="wt_card_tagli">
                    <li>対象：<span class="wt_card_tag">小学生</span><span class="wt_card_tag">中学生</span><span class="wt_card_tag">高校生</span></li>
                  </ul>-->
                  <p class="text-left">英検対策レッスンではマンツーマンの利点を生かして、理解不足の部分を中心に学習します。文法やライティングなど、独学で身につけにくい部分の克服に効果的です。多くの学習者が苦手とする単語学習についても、講師のアドバイスのもと進めることができるため、より効率的な取り組みができます。</p>
                  <!--<a href="/wte/eiken1" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>-->
                  <a href="/wte/eiken1" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="wt_card text-center">
                  <!--<a href="/wte/eikenw">--><img src="./assets/img/index/service_3.jpg?1" alt="英検ライティング対策コース" class="w-100">
                  <!--</a>-->
                  <h3>英検ライティング対策コース</h3>
                  <!--<ul class="wt_card_tagli">
                    <li>対象：<span class="wt_card_tag">中学生</span><span class="wt_card_tag">高校生</span></li>
                  </ul>-->
                  <p class="text-left">ライティングに特化し、徹底的に「型」を身につけます。型を身につけることで、あらゆるトピックに対応できるようになります。また、使いまわしができる便利な表現も数多く学ぶことができます。英作文に対して講師のフィードバックもありますので、エッセーの強みや弱みを把握することができます。</p>
                  <a href="/wte/eikenw" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>
                  <!--<p><strong class="txt_kiri">※2021年9月スタート予定</strong></p>-->
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="wt_card text-center">
                  <a href="/wte/eiken2"><img src="./assets/img/index/service_4.jpg?1" alt="英検二次試験対策コース" class="w-100">
                  </a>
                  <h3>英検二次試験対策コース</h3>
                  <!--<ul class="wt_card_tagli">
                    <li>対象：<span class="wt_card_tag">中学生</span><span class="wt_card_tag">高校生</span></li>
                  </ul>-->
                  <p class="text-left">英検の二次試験は、正しい発音やアクセントで読む力や、文書やイラストの内容を正確に伝える力、意見を具体的に伝えるスピーキング力が求められます。本コースでは二次試験に特化したスピーキングの「型」を身につけます。講師からのフィードバックを元に、強みや弱みを把握することができます。</p>
                  <a href="/wte/eiken2" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="wt_card text-center">
                  <!--<a href="/wte/grammar">--><img src="./assets/img/index/service_5.jpg?1" alt="Step by Step文法・単語基礎" class="w-100">
                  <!--</a>-->
                  <h3>Step by Step文法・単語基礎</h3>
                  <!--<ul class="wt_card_tagli">
                    <li>対象：<span class="wt_card_tag">大学生</span><span class="wt_card_tag">大人</span></li>
                  </ul>-->
                  <p class="text-left">英語が苦手な方向けの基礎文法＆基礎単語を身につけていくコースです。「単語が覚えられない」「文法のルールがわからない」という共通の課題に対し、本コースでは音読を通して「なぜそうなのか」というルールの理解を追求してきます。今までにない英語の理解が可能となります。</p>
                  <!--<a href="/wte/grammar" class="text-center btn btn-secondary rounded-pill wt_btn_sm">詳しく見る</a>-->
                  <p><strong class="txt_kiri">※2021年近日スタート予定</strong></p>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">登録している<strong class="text-primary">日本人</strong>講師一覧</h2>
                <p></p>
              </div>
              <div class="col-12 owl-carousel owl-carousel-cr mb-5">
                <TMPL_LOOP NAME="pref_score_loop" PROF_INTRO_CHARS="40" LIMIT="14">
                  <div class="wt_carousel p-4 p-sm-5">
                    <a href="%ssl_host_url%/wte/prfdtlfrm/%prof_id%"></a>
                    <TMPL_IF NAME="prof_logo">
                      <img src="%prof_logo_2_url%" alt="%prof_handle% 先生" class="rounded-circle w-100 mb-4" />
                      <TMPL_ELSE>
                        <img src="%static_url%/imgs/profile_blank.png" alt="%prof_handle% 先生" class="rounded-circle w-100 mb-4" />
                    </TMPL_IF>
                    <h4 class="text-center mb-4">%prof_handle%</h4>
                    <p class="mb-0">%prof_intro%</p>
                  </div>
                </TMPL_LOOP>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><br class="d-block d-sm-none"><strong class="text-primary">体験</strong>レッスンの流れ</h2>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-md-4 text-center wt_flow wt_flow_1">
                <span class="wt_flow_step">Step<br><span>1</span></span>
                <img src="./assets/img/index/flow_1.png" alt="自分がわかるまで質問ができる" class="w-75 rounded-circle img-thumbnail mb-5">
                <h3 class="mb-5">まずは無料で会員登録</h3>
                <p class="text-left">会員登録フォームから、プロフィールの登録をお願いいたします。登録は簡単！無料で出来ますのでご安心ください。</p>
              </div>
              <div class="col-12 col-md-4 text-center wt_flow wt_flow_2">
                <span class="wt_flow_step">Step<br><span>2</span></span>
                <img src="./assets/img/index/flow_2.png" alt="自分の間違いや癖を修正できる" class="w-75 rounded-circle img-thumbnail mb-5">
                <h3 class="mb-5">体験レッスンを予約します</h3>
                <p class="text-left">プロフィールの登録が終わったら、先生を検索してみましょう。気になる講師がいましたら予約を取ってみましょう。</p>
              </div>
              <div class="col-12 col-md-4 text-center wt_flow wt_flow_3">
                <span class="wt_flow_step">Step<br><span>3</span></span>
                <img src="./assets/img/index/flow_3.png" alt="今後の学習方法を相談できる" class="w-75 rounded-circle img-thumbnail mb-5">
                <h3 class="mb-5">時間が来たら体験スタート！</h3>
                <p class="text-left">レッスンの予約時間になりましたら、ZOOMを立ち上げてください。講師からコールがありましたらレッスンスタートです！</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <a href="/wte/lesson" class="btn btn-secondary rounded-pill wt_btn">体験レッスンまでの流れ</a>
              </div>
            </div>
          </div>
        </section>

        <section class="wt_sec_turquoise">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><br class="d-block d-sm-none"><strong>学校関係者</strong>の皆さまへ</h2>
                <p>生徒への英検対策メニューをもっと充実させたいとお考えの学校関係者の皆さま、是非KIRIHARA Online Academyを一度お試しください。<br>桐原書店の担当より、まずはヒアリングをさせていただきます。<br>下記リンクより、まずは気軽にお問い合わせください。</p>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-12 text-center">
                <a href="https://www.kirihara.co.jp/koa_school_form/" target="_blank" class="btn btn-light rounded-pill wt_btn">学校関係者様お問い合わせ</a>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><br class="d-block d-sm-none"><strong class="text-primary">運営事務局</strong>からのお知らせ</h2>
                <p class="text-center">運営事務局からのお知らせです。また、Twitterでは講師のスケジュール登録を確認できます。是非、フォローをお願いいたします。</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="wt_news">
                  <TMPL_LOOP NAME="ann_loop">
                    <h4>%ann_title%</h4>
                    <div class="idate">%ann_cdate_0%/%ann_cdate_1%/%ann_cdate_2%</div>
                    <p>%ann_content%</p>
                    <hr />
                  </TMPL_LOOP>
                </div>
              </div>
              <div class="col-12 col-md-4 top_twitter">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/KIRIHARA_WT?ref_src=twsrc%5Etfw">Tweets by KIRIHARA_WT</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
              <div class="col-12 col-md-4">
                <div class="fb-page" data-href="https://www.facebook.com/Wt_kiri-103615725247978" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                  <blockquote cite="https://www.facebook.com/Wt_kiri-103615725247978" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Wt_kiri-103615725247978">Wt_kiri</a></blockquote>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!--footer.html読み込み-->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
          <script>
            $(document).ready(function() {

              /* owl-carousel */
              $(".owl-carousel-mv").owlCarousel({
                loop: true,
                items: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                slideSpeed: 1500,
                dots: false
              });
              $(".owl-carousel-cr").owlCarousel({
                loop: true,
                autoplay: true,
                autoplaySpeed: 1000,
                responsive: {
                  0: {
                    items: 2,
                    margin: 5
                  },
                  768: {
                    items: 4,
                    margin: 15
                  },
                  992: {
                    items: 5,
                    margin: 15
                  },
                  1200: {
                    items: 6,
                    margin: 15
                  },
                  1600: {
                    items: 7,
                    margin: 15
                  }
                }
              });
              $(".owl-carousel-bnr").owlCarousel({
                loop: true,
                autoplay: true,
                autoplaySpeed: 750,
                center: true,
                responsive: {
                  0: {
                    items: 1,
                    margin: 5
                  },
                  768: {
                    items: 1,
                    margin: 15
                  },
                  992: {
                    items: 2,
                    margin: 30
                  },
                  1200: {
                    items: 2,
                    margin: 40
                  },
                  1600: {
                    items: 2,
                    margin: 60
                  }
                }
              });
            });

          </script>
</body>

</html>
