<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>法人研修の資料ダウンロード・ご相談｜<TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="description" content="お問い合わせ完了画面｜ワールドトーク×桐原書店のサービスに関するお問い合わせはこちらから。会員様も入会希望の方もどんなご質問でも構いませんので、フォームよりお送りください。英検やTOEICの受講を控えている方も何か不安をお持ちでしたら是非お声がけください。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="法人研修の資料ダウンロード・ご相談｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="ワールドトーク×桐原書店のサービスに関するお問い合わせはこちらから。会員様も入会希望の方もどんなご質問でも構いませんので、フォームよりお送りください。英検やTOEICの受講を控えている方も何か不安をお持ちでしたら是非お声がけください。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/site.cgi?m=knsfrmshw" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/site.cgi?m=knsfrmshw" />
  <meta name="twitter:title" content="法人研修の資料ダウンロード・ご相談｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="ワールドトーク×桐原書店のサービスに関するお問い合わせはこちらから。会員様も入会希望の方もどんなご質問でも構いませんので、フォームよりお送りください。英検やTOEICの受講を控えている方も何か不安をお持ちでしたら是非お声がけください。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">

        <section class="wt_headvis wt_head_contact">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>法人研修の資料ダウンロード・ご相談</h1>
              </div>
            </div>
          </div>
        </section>



        <section>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2 wt_form">
                <p>お問い合わせを送信しました。お送りいただいたお問い合わせは、担当より順次ご対応いたします。なお、お問い合わせ対応時間は平日 月～金の10：00～19：00です。対応時間外のお問い合わせにつきましては、翌営業日にご対応いたします。あらかじめご了承ください。</p>
                <p class="text-center"><a href="/">&raquo; ページTOPに戻る</a></p>
              </div>
            </div>
          </div>
        </section>
        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li><a href="/" itemprop="url" content="https://academy.kirihara.co.jp/"><span class="wt_crumb" itemprop="title">ホーム</span></a></li>
          <li><a href="%ssl_host_url%/WTE/site.cgi?m=knsfrmshw" itemprop="url" content="https://academy.kirihara.co.jp/WTE/site.cgi?m=knsfrmshw"><span itemprop="title">法人研修の資料ダウンロード・ご相談</span></a></li>
        </ul>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>
