<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>参加までの流れ - <TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="description" content="%product_name%のご利用方法をまとめました。%member_caption%登録からレッスンのご予約方法、チケット購入方法など、初めての%member_caption%様向けのご利用ガイドとなります。是非一度ご覧ください。" />
  <meta name="keywords" content="%product_name%,オンラインレッスン,%prof_caption%予約" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">

  <TMPL_INCLUDE NAME="../include/header.html">
    <div id="sb-site">

      <!-- head section -->
      <section class="phead">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>参加までの流れ</h1>
            </div>
          </div>
        </div>
      </section>

      <!-- content section -->
      <section class="page bggrey">
        <div class="container tline">
          <div class="row">
            <div class="col-xs-12">
              <p class="text-center mgb0">レッスンの受講開始までの流れを説明いたします。</p>
              <h2 class="tlinefst">はじめに</h2>
              <div class="tbox clearfix">
                <h3>必要なもの</h3>
                <p>%product_name%に必要なものはたったこれだけ。</p>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                    <img src="/assets/img/icons/pc.svg" class="w50 mg0" alt="パソコン"><br>
                    <h4>パソコン</h4>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                    <img src="/assets/img/icons/internet.svg" class="w50 mg0" alt="インターネット"><br>
                    <h4>インターネット</h4>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                    <img src="/assets/img/icons/headset.svg" class="w50 mg0" alt="カメラ・ヘッドセット"><br>
                    <h4 class="mgb0">カメラ・ヘッドセット</h4>
                    <div>※必要な方のみ</div>
                  </div>
                </div>
              </div>

              <h2>Step.1 %member_caption%登録</h2>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>1. 新規%member_caption%登録ページで情報入力</h3>
                    <p><a href="/WTE/reg.cgi">新規%member_caption%登録ページ</a>から、姓名、ニックネーム、メールアドレス、パスワードを入力して登録ボタンをクリックしてください。入力いただいたメールアドレス宛てに、確認のメールが届きます。メール本文に記載されている確認URLをクリックすると、%member_caption%登録が完了します。</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_reg.png" class="img-thumbnail w100" alt="新規%member_caption%登録">
                  </div>
                </div>
              </div>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>2. マイページにログイン</h3>
                    <p>%member_caption%登録が完了したら、<a href="/WTE/mypage.cgi">%member_caption%ログインページから</a>マイページにログインをしましょう！ログインをすると、運営事務局からのお知らせなどが表示されます。こちらは日々情報が更新されるので、定期的にご確認くださいね。</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_login.png" class="img-thumbnail w100" alt="マイページにログイン">
                  </div>
                </div>
              </div>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>3. プロフィール登録</h3>
                    <p>ログインをしたら、まず初めにプロフィール登録画面が表示されるのであなたの情報を登録してください。プロフィール情報が未登録だと、レッスンの予約が出来ません。ご登録いただく内容は、レッスン時に%prof_caption%が参考にする情報となります。レッスンの時間を少しでも有効に利用するためにも、ぜひたくさんの情報をご登録ください。<br />※こちらにご登録いただくSkypeIDを利用し、レッスンを行いますので、お間違えのないようご注意ください！</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_edit.png" class="img-thumbnail w100" alt="プロフィール登録">
                  </div>
                </div>
              </div>

              <h2>Step.2 チケット購入</h2>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>1. カード決済ページで希望のプランを選択</h3>
                    <p>%product_name%でレッスンをするためには、チケットを購入する必要があります。チケットの購入は、マイページログイン後、カード決済ぺージから行います。複数のプランがあるので、希望の料金プランを購入しましょう。チケットには、複数の料金体系があります。料金プランに関しては料金プランのページをご覧ください。</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_card.png" class="img-thumbnail w100" alt="カード決済ページで希望のプランを選択">
                  </div>
                </div>
              </div>
              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>2. カード情報の入力</h3>
                    <p>選択したプランを確認後、「カード決済手続きに進む」をクリックしてください。クレジットカードの情報入力フォームが表示されますので、クレジットカードの情報をご入力ください。また、%product_name%では、「VISA」「MasterCard」「JCB」に対応しております。</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_cregit.png" class="img-thumbnail w100" alt="カード情報の入力">
                  </div>
                </div>
              </div>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>3. チケット取得</h3>
                    <p>クレジットカード情報を登録後、画面がこのように変わったら購入完了です。チケット数はマイページトップにて確認することが出来ます。レッスンをするためには、購入したチケットを使って%prof_caption%のスケジュールに予約を入れる必要があります。</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_cardcpt.png" class="img-thumbnail w100" alt="チケット取得">
                  </div>
                </div>
              </div>

              <h2>Step.3 レッスン予約</h2>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>1. 日程からレッスン予約</h3>
                    <p>レッスン日は、マイページの[日程から予約][%prof_caption%から予約]から登録が可能です。日程から予約する場合は、まずカレンダーより自分の予約を取りたい日時をクリックします。カレンダーをクリックすると、その日に予約コマを登録している%prof_caption%が一覧で表示されます。レッスンを受けたい時間と%prof_caption%を選択し、レッスンの予約を取ります。</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_schedule.png" class="img-thumbnail w100" alt="日程からレッスン予約">
                  </div>
                </div>
              </div>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>2. %prof_caption%からレッスン予約</h3>
                    <p>%prof_caption%は経験豊富で、幅広いバックグラウンドを持った方がたくさん登録されています。%prof_caption%から予約をクリックし、目的に合わせて%prof_caption%を選んでみてください。検索タグによる絞り込み検索やお気に入り登録も可能です。%prof_caption%の詳細ページに表示されているカレンダーより、日時を選択しレッスンの予約が可能です。</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_guide.png" class="img-thumbnail w100" alt="%prof_caption%からレッスン予約">
                  </div>
                </div>
              </div>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>3. レッスンを予約</h3>
                    <p>レッスンの予約が完了すると、メールが届きますので、ご確認ください。また、予約をした%prof_caption%には、レッスン詳細ページより、メッセージを送ることができます。レッスン前に予め「どういったレッスンをしたいのか」等、送ることが出来るのでぜひご利用ください。予約のためのチケットが足りない場合は、チケット購入よりチケットを購入ください。</p>
                    <div class="gbox" style="overflow:auto">
                      <ul class="note">
                        <li>予約は、レッスン開始時間の%lesson_reservation_limit%時間前まで可能です</li>
                        <li>キャンセルは、レッスン開始時間の%cancelable_hours%時間前であれば課金対象外となります</li>
                        <li>%cancelable_hours%時間以降のキャンセルは、課金対象となりますのでご注意ください</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_lesson.png" class="img-thumbnail w100" alt="レッスンを予約">
                  </div>
                </div>
              </div>

              <h2>レッスンスタート</h2>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>1. 通話テスト</h3>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_sound.png" class="img-thumbnail w100" alt="通話テスト">
                  </div>
                </div>
              </div>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>2. レッスン開始！</h3>
                    <p>時間になると、%prof_caption%からコールがあります。「通話ボタン」をクリックして、レッスンを始めましょう！もし、%prof_caption%が時間になっても現れないようでしたら、事務局までお問い合わせくださいませ。</p>
                  </div>
                </div>
              </div>

              <h2>終了後</h2>

              <div class="tbox clearfix">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8">
                    <h3>レッスンが完了したら</h3>
                    <p>レッスン終了後は、マイページのレッスン履歴から「完了報告」を行います。報告内容は以下の3種類です。</p>
                    <div class="gbox" style="overflow:auto">
                      <ul>
                        <li>「完了」問題なくレッスンが行われた</li>
                        <li>「未実施」%prof_caption%が来なかった</li>
                        <li>「トラブル」自分がレッスンに参加できなかった</li>
                      </ul>
                    </div>
                    <p>該当する内容にチェックを入れ、感想と評価を入力したら「報告する」を押して、終了です。報告ができる期間は、レッスン終了後%lesson_report_limit%分以内です。%lesson_report_limit%分をすぎると、自動的に「完了」のステータスで報告されますのでお気を付けください。レッスン履歴からは、%prof_caption%への「口コミ」もできますので是非ご利用くださいませ。</p>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-4">
                    <img src="/assets/img/caps/caps_report.png" class="img-thumbnail w100" alt="レッスンが完了したら">
                  </div>
                </div>
              </div>

              <div class="tbox">
                <div class="row">
                  <div class="col-xs-12">
                    <h3>マイページでは、こんなことも出来ます！</h3>
                    <h4>メモ機能があります</h4>
                    <p>マイページの目のつくところに、自由に使えるメモ機能があります。次回のレッスンのための覚書や、目標を書いておいてもOKです。</p>
                    <h4>動画やテキストをダウンロードできます</h4>
                    <p>チケットを使って、テキストをダウンロードすることができるので、好きなものを選んでダウンロードしてください！</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
    </div>
    <TMPL_INCLUDE NAME="../include/foot.html">
      <TMPL_INCLUDE NAME="../include/analysis.html">
</body>

</html>
