<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>【重要】通話ツールを4/15（火）より  SkypeからGoogle Meetに変更します｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="【重要】通話ツールを4/15（火）より  SkypeからGoogle Meetに変更します｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/lesson" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/lesson" />
  <meta name="twitter:title" content="【重要】通話ツールを4/15（火）より  SkypeからGoogle Meetに変更します｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_head_lesson">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>【重要】通話ツールの切り替えについて</h1>
                      </div>
                  </div>
              </div>
          </section>



          <section>
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12">
                      <h2 class="text-center">【重要】通話ツールを4/15（火）よりSkypeからGoogle Meetに変更します</h2>
                      <p>いつもKIRIHARA Online Academyをご利用いただきましてありがとうございます。</p>
                      <p>レッスンにて使用している「Skype」が5/5で終了するとMicrosoftよりアナウンスがありました。<br>そこで、KIRIHARA Online AcademyではSkypeに代わり、<strong>Google Meet</strong>を新しい通話ツールとして採用します。</p>
                      <h3 class="text-center text-danger">移行切り替え日<br>4/15（火）12:00～</h3>
                      <p>上記日程以降、通話ツールがGoogle Meetになりますので、ご注意ください。<br>現時点において、予約時、レッスン開始前のリマインダーメールに、講師のGoogle Meet URLを記載されています。<br>移行日以降、レッスンの時間になりましたら、URLを開いていただきご参加ください。</p>
                      <p>PCをご利用の方は、アプリのインストールは不要です。<br>また、スマホ・タブレットで授業をされる方は、Google Meetのアプリをダウンロードする必要があるためご注意ください。</p>
                      <p>今後ともKIRIHARA Online Academyをよろしくお願いいたします。</p>                
                        
                        
                    </div>
                </div>

                <div class="row mb-5">
                    
                </div>
            </div>
          </section>
    </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
    <TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>
