<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>コース一覧・料金表｜桐原書店のオンライン学習サービス「KIRIHARA Online Academy」
  </title>
  <meta name="description" content="KIRIHARA Online Academyのコース料金一覧です。TOEICから英検まで買い切りで安価なプランで提供しています。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="料金プラン｜桐原書店のオンライン学習サービス「KIRIHARA Online Academy」" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/plan" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="桐原書店のオンライン学習サービス「KIRIHARA Online Academy」" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/plan" />
  <meta name="twitter:title" content="コース一覧・料金表｜桐原書店のオンライン学習サービス「KIRIHARA Online Academy」" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">

        <section class="wt_headvis wt_head_plan">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>コース一覧・料金表</h1>
              </div>
            </div>
          </div>
        </section>


        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">各コース料金一覧</h2>
                <p class="mb-5 text-center">KIRIHARA Online Academyのコース料金一覧です。<br>TOEICや英検対策を安価なプラン価格でご提供しています。<br>また、桐原書店の教材も無償プレゼントを行っております。<br>（※その他教材は生徒の皆さまにご購入いただいております）</p>
              </div>
            </div>
          </div>
        </section>



        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">TOEIC&reg;L&amp;Rテスト突破コース 料金について</h2>
                <p class="mb-5 text-center">KIRIHARA Online AcademyのTOEIC対策コースの料金プランです。</p>
              </div>
            </div>
            <TMPL_INCLUDE NAME="../include/price_toeic.html">
            <TMPL_INCLUDE NAME="../include/price_toeic_teiki.html">
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検一次試験対策コース 料金について</h2>
                <p class="mb-5 text-center">KIRIHARA Online Academyの英検一次試験対策コースの料金プランです。</p>
              </div>
            </div>
            <TMPL_INCLUDE NAME="../include/price_eiken1.html">
            <TMPL_INCLUDE NAME="../include/price_eiken1_teiki.html">
          </div>
        </section>

        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検二次試験対策コース 料金について</h2>
                <p class="mb-5 text-center">KIRIHARA Online Academyの英検一次試験対策コースの料金プランです。</p>
              </div>
            </div>
            <TMPL_INCLUDE NAME="../include/price_eiken2.html">
            <TMPL_INCLUDE NAME="../include/price_eiken2_teiki.html">
          </div>
        </section>
              
              
              
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">TOEFL iBT Starterコース 料金について</h2>
                <p class="mb-5 text-center">KIRIHARA Online AcademyのTOEFL iBT Starterコースの料金プランです。</p>
              </div>
            </div>
            <TMPL_INCLUDE NAME="../include/price_toefl.html">
          </div>
        </section>
              
              

        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">小論文の書き方コース 料金について</h2>
                <p class="mb-5 text-center">KIRIHARA Online Academyの小論文の書き方コースの料金プランです。</p>
              </div>
            </div>
            <TMPL_INCLUDE NAME="../include/price_essay.html">
          </div>
        </section>


        <section class="wt_sec_bg_1">
          <!-- content section -->
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">お支払い方法</h2>
                <p class="text-center mb-5">%product_name%ではチケットの購入に「クレジットカード決済」と「銀行振込」に対応しています。</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="tbox">
                  <h3 class="text-center">クレジットカード決済</h3>
                  <ul class="pselect">
                    <li><img src="/assets/img/icons/visa.svg" alt="VISA"></li>
                    <li><img src="/assets/img/icons/mastercard.svg" alt="MASTERカード"></li>
                    <!--<li><img src="/assets/img/icons/jcb.svg" alt="JCB"></li>-->
                  </ul>
                  <ul>
                    <li>クレジットカードは、VISA、MASTER
                      <!--、JCB-->のみ取り扱いが可能です。</li>
                    <li>月額%member_caption%プランの場合、毎月1回お選びいただいたコースの月額料金をクレジットカードにて課金させていただきます。</li>
                    <li>カード情報の送信は初月のみで、翌月からは自動的に引き落としされるので、面倒な更新作業は必要ありません。</li>
                    <li>お支払い後、すぐにレッスン予約することが可能です。</li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="tbox">
                  <h3 class="text-center">銀行振込</h3>
                  <ul class="pselect">
                    <li><img src="/assets/img/icons/bank.svg" alt="銀行振込"></li>
                  </ul>
                  <ul>
                    <li>銀行振込はスポットプランのみの対応となります。</li>
                    <li>銀行振込フォームより購入プランを送信いただいた後、お客様よりお振込み頂く流れとなります。</li>
                    <li>入金確認後に受講が可能となります。※金融機関により、お振込みいただいてから確認までに数日かかる場合もございます。</li>
                    <li>お振り込み手数料はお客様ご負担となります。</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li><a href="/" itemprop="url" content="https://academy.kirihara.co.jp/"><span class="wt_crumb" itemprop="title">ホーム</span></a></li>
          <li><a href="%ssl_host_url%/wte/plan" itemprop="url" content="https://academy.kirihara.co.jp/wte/plan"><span itemprop="title">コース一覧・料金表</span></a></li>
        </ul>
      </main>
      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>