<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>【重要】料金プランの金額変更について｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="【重要】料金プランの金額変更について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/lesson" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/lesson" />
  <meta name="twitter:title" content="【重要】料金プランの金額変更について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_head_lesson">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>【重要】料金プランの金額変更について</h1>
                      </div>
                  </div>
              </div>
          </section>



          <section>
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12">
                      <!--<h2 class="text-center"><span class="wt_h_badge">STEP1</span>まずは<strong class="txt_kiri">登録</strong>から</h2>-->
                        <p>平素は、弊社サービスをご利用いただきまして、誠にありがとうございます。<br>この度、KIRIHARA Online Academyは、<strong>2025年1月1日（水）より一般向け料金プランの価格を変更させていただくこととなりました。</strong></p>
                        
                        <p>昨今の物価高騰や最低賃金の引き上げに伴うコスト上昇を受け、サービスの品質を維持し、引き続き皆様に高品質な講座を提供するため、料金を改定させていただくこととなりました。</p>
                        
                        <p>ご利用料金の改定内容を以下に記載いたします。</p>

                     <h3 class="mb-2">【新料金適用日】</h3>
                        <p class="mb-5">2025年1月1日（水）</p>
                        
                        
                        
                     <h3 class="mb-2">【TOEICコース】</h3>
                        <p>TOEIC500～600点突破コース：33,000円（税込）→ <strong class="text-danger">38,500円（税込）</strong><br>TOEIC730点突破コース：33,000円（税込）→ <strong class="text-danger">38,500円（税込）</strong></p>

                        <p>TOEIC修了者向け定期コース月2回：8,800円/月（税込） → <strong class="text-danger">9,900円/月（税込）</strong><br>TOEIC修了者向け定期コース月4回：17,600円/月（税込） → <strong class="text-danger">19,800円/月（税込）</strong></p>

                     <h3 class="mt-5 mb-2">【英検コース】</h3>
                        <p>英検準1級一次試験対策コース：44,000円（税込） → <strong class="text-danger">49,500円（税込）</strong><br>英検2級一次試験対策コース：33,000円（税込） → <strong class="text-danger">38,500円（税込）</strong><br>英検準2級一次試験対策コース：33,000円（税込） → <strong class="text-danger">38,500円（税込）</strong></p>

                        <p>英検準1級二次試験合格コース：44,000円（税込） → <strong class="text-danger">49,500円（税込）</strong><br>英検2級二次試験合格コース：33,000円（税込） → <strong class="text-danger">38,500円（税込）</strong><br>英検準2級二次試験合格コース：33,000円（税込） → <strong class="text-danger">38,500円（税込）</strong></p>

                        <p>英検試験修了者向け定期コース月2回（準1級）：8,800円/月（税込） → <strong class="text-danger">13,200円/月（税込）</strong><br>英検試験修了者向け定期コース月2回（2級～準2級）：8,800円/月（税込） → <strong class="text-danger">9,900円/月（税込）</strong><br>英検試験修了者向け定期コース月4回（準1級）：17,600円/月（税込） → <strong class="text-danger">26,400円/月（税込）</strong><br>英検試験修了者向け定期コース月4回（2級～準2級）：17,600円/月（税込） → <strong class="text-danger">19,800円/月（税込）</strong></p>

                     <p class="mt-5">価値あるサービスを提供するため、努力を続けてまいりましたが、現在の社会的背景を踏まえ、このたびの決定に至りましたことを、何卒ご理解いただけますようお願い申し上げます。</p>
                     <p>今後も、皆様の学習を全力でサポートし、目標達成のお手伝いができるよう努めてまいります。<br>引き続きKIRIHARA Online Academyをご利用いただけますと幸いです。</p>                     
                        
                        
                    </div>
                </div>

                <div class="row mb-5">
                    
                </div>
            </div>
          </section>
    </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
    <TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>
