<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>%prof_caption%一覧 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="" />
<meta name="keywords" content="スカイプ,%product_name%" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="drawer drawer--right">

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- head section -->
    <section class="phead">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>%prof_caption%一覧</h1>
          </div>
        </div>
      </div>
    </section>

    <!--メインコンテンツstart-->
    <article id="main" class="col4">

      <!--コンテナStart-->
      <div class="container">

        <!--セクション「%prof_caption%一覧」start-->
        <section class="box">
        <TMPL_INCLUDE NAME="../include/messagealert.html">

          <!--セクション見出し-->
          <h1>かんたん予約</h1>


            <div class="alignCenter pagetab">
              <ul>
              <TMPL_IF NAME="available">
                <li class="selected"><span>予約可能な%prof_caption%を表示</span></li>
                <li><a href="%CGI_URL%?m=prfschfrm&amp;ymd=%dt_Y%%dt_m%%dt_d%&amp;available=0">すべての%prof_caption%を表示</a></li>
          	  <TMPL_ELSE>
                <li><a href="%CGI_URL%?m=prfschfrm&amp;ymd=%dt_Y%%dt_m%%dt_d%&amp;available=1">予約可能な%prof_caption%を表示</a></li>
                <li class="selected"><span>すべての%prof_caption%を表示</span></li>
          	  </TMPL_IF>
          	  </ul>
            </div>

          <div class="pager">
            <ul class="weekloop">
            <TMPL_LOOP NAME="week_loop">
              <TMPL_IF NAME="current">
                <li><span>%dt_n%/%dt_j%（%dt_wj%）</span></li>
              <TMPL_ELSE>
                <li><a href="%CGI_URL%?m=prfschfrm&amp;ymd=%dt_Y%%dt_m%%dt_d%&amp;available=%available%">%dt_n%/%dt_j%（%dt_wj%）</a></li>
              </TMPL_IF>
            </TMPL_LOOP>
            </ul>
          </div>

          <div class="search">
            <form action="%CGI_URL%" method="post">
              <input type="hidden" name="m" value="prfschfrm" />
              <input type="hidden" name="ymd" value="%ymd%" />
              <input type="hidden" name="available" value="%available%" />
              <fieldset>
                <dl class="w100 clearfix">
                  <!-- 全文検索 -->
                  <dt class="w20 wrapLeft">全文検索</dt>
                  <dd class="w70 wrapLeft"><input type="text" id="s_prof_fulltext" name="s_prof_fulltext" value="%s_prof_fulltext%" class="w90" /></dd>
                </dl>
                <div class="searchtop alignRight"> ↓ 詳細検索を開く ↓ </div>
              </fieldset>
              <fieldset class="toggle">
                <div class="clearfix">
                  <dl class="w40 wrapLeft">
                    <!-- ハンドル名 -->
                    <dt>%prof_handle_caption%</dt>
                    <dd><input type="text" id="s_prof_handle" name="s_prof_handle" value="%s_prof_handle%" class="w100" /></dd>
                    <!-- オススメ -->
                    <dt>%prof_reco_caption%</dt>
                    <dd>
                      <TMPL_IF NAME="s_prof_reco">
                        <label><input type="checkbox" name="s_prof_reco" id="s_prof_reco" value="1" checked="checked" /></label>
                      <TMPL_ELSE>
                        <label><input type="checkbox" name="s_prof_reco" id="s_prof_reco" value="1" /></label>
                      </TMPL_IF>
                      オススメのみに限定
                    </dd>
                  </dl>
                  <dl class="w30 wrapLeft">
                    <!-- 性別 -->
                    <dt>%prof_gender_caption%　</dt>
                    <dd>
                      <select id="s_prof_gender" name="s_prof_gender" class="w100">
                        <option value="">----</option>
                        <option value="1" %s_prof_gender_1_selected%>男性</option>
                        <option value="2" %s_prof_gender_2_selected%>女性</option>
                      </select>
                    </dd>
                    <!-- 出身 -->
                    <dt>%prof_country_caption%</dt>
                    <dd>
                      <select name="s_prof_country" id="s_prof_country">
                        <option value="">----</option>
                        <TMPL_LOOP NAME="s_prof_country_loop"><option value="%country_code%" %selected%>%country_name%</option></TMPL_LOOP>
                      </select>
                    </dd>
                    <!-- 居住 -->
                    <dt>%prof_residence_caption%</dt>
                    <dd>
                      <select name="s_prof_residence" id="s_prof_residence">
                        <option value="">----</option>
                        <TMPL_LOOP NAME="s_prof_residence_loop"><option value="%country_code%" %selected%>%country_name%</option></TMPL_LOOP>
                      </select>
                    </dd>
                  </dl>
                  <dl class="w30 wrapLeft">
                    <!-- チケット数 -->
                    <dt style="width:40%;">%prof_fee_caption%</dt>
                    <dd style="width:60%;"><input type="text" id="s_prof_fee" name="s_prof_fee" value="%s_prof_fee%" class="w30" />回以下</dd>
                    <!-- ランク -->
                    <dt>%prof_rank_caption%</dt>
                    <dd>
                      <select name="s_prof_rank" id="s_prof_rank">
                        <option value="">----</option>
                        <TMPL_LOOP NAME="s_prof_rank_loop"><option value="%id%" %selected%>%title%</option></TMPL_LOOP>
                      </select> ランク以上
                    </dd>
                  </dl>
                </div>
                <div class="clearfix">
                  <dl class="w50 wrapLeft">
                    <!-- 特徴 -->
                    <dt>%prof_character_caption%</dt>
                    <dd><TMPL_LOOP NAME="s_prof_character_loop"><label class="s_checkbox"><input type="checkbox" id="s_prof_character_%id%" name="s_prof_character" value="%id%" %checked% />%title%</label></TMPL_LOOP></dd>
                  </dl>
                  <dl class="w50 wrapLeft">
                    <!-- 興味 -->
                    <dt>%prof_interest_caption%</dt>
                    <dd><TMPL_LOOP NAME="s_prof_interest_loop"><label class="s_checkbox"><input type="checkbox" id="s_prof_interest_%id%" name="s_prof_interest" value="%id%" %checked% />%title%</label></TMPL_LOOP></dd>
                  </dl>
                </div>
              </fieldset>
              <div class="alignCenter"><input type="submit" value="　検　索　" /></div>
            </form>
          </div>

          <div class="pager">
            <ul>
              <li>
                <!--条件：URLが入るのであればaタグをつける-->
                <TMPL_IF NAME="prev_url">
                <a href="%prev_url%" title="前の%prev_num%件へ"> &laquo; 前へ</a>
                <!--条件：URLが入らなければspanタグをつける-->
                <TMPL_ELSE>
                <span> &laquo; 前へ</span>
                </TMPL_IF>
                <!--条件：end-->
              </li>
              <!--ループ：ページ数分ループstart-->
              <TMPL_LOOP NAME="page_loop">
              <li>
                <!--条件：カレントであればspanタグをつける-->
                <TMPL_IF NAME="current">
                <span>%page%</span>
                <!--条件：それ以外であればaタグをつける-->
                <TMPL_ELSE>
                <a href="%url%">%page%</a>
                </TMPL_IF>
                <!--条件：end-->
              </li>
              </TMPL_LOOP>
              <!--ループ：ページ数分ループend-->
              <li>
                <!--条件：URLが入るのであればaタグをつける-->
                <TMPL_IF NAME="next_url">
                <a href="%next_url%" title="次の%next_num%件へ">次へ &raquo; </a>
                <!--条件：URLが入らなければspanタグをつける-->
                <TMPL_ELSE>
                <span>次へ &raquo; </span>
                </TMPL_IF>
                <!--条件：end-->
              </li>
            </ul>
          </div>

          <p class="alignCenter hiddeni">%hit_with_comma%件中、%start_with_comma%件目から%end_with_comma%件目までの%fetch_with_comma%件を表示しています。</p>

          <div class="sort">
            <ul class="alignCenter">
              <li>
                <!--条件：人気順を選択している場合、テキスト表示-->
                <TMPL_IF NAME="sort_key_score_selected">
                人気順<span class="hiddeni">に並べる</span>
                <!--条件：人気順を選択していない場合、リンク表示-->
                <TMPL_ELSE>
                <a href="%search_base_url%&amp;sort_key=score&amp;ymd=%ymd%&amp;available=%available%">人気順<span class="hiddeni">に並べる</span></a>
                </TMPL_IF>
                <!--条件：end-->
              </li>
              <li>
                <!--条件：ランク順を選択している場合、テキスト表示-->
                <TMPL_IF NAME="sort_key_rank_selected">
                ランク順<span class="hiddeni">に並べる</span>
                <!--条件：ランク順を選択していない場合、リンク表示-->
                <TMPL_ELSE>
                <a href="%search_base_url%&amp;sort_key=rank&amp;ymd=%ymd%&amp;available=%available%">ランク順<span class="hiddeni">に並べる</span></a>
                </TMPL_IF>
                <!--条件：end--></li>
              <li>
                <!--条件：チケット順を選択している場合、テキスト表示-->
                <TMPL_IF NAME="sort_key_fee_selected">
                チケット<span class="hiddeni">が少ない</span>順<span class="hiddeni">に並べる</span>
                <!--条件：チケット順を選択していない場合、リンク表示-->
                <TMPL_ELSE>
                <a href="%search_base_url%&amp;sort_key=fee&amp;ymd=%ymd%&amp;available=%available%">チケット<span class="hiddeni">が少ない</span>順<span class="hiddeni">に並べる</span></a>
                </TMPL_IF>
                <!--条件：end--></li>
              <li>
                <!--条件：新着順を選択している場合、テキスト表示-->
                <TMPL_IF NAME="sort_key_new_selected">
                新着順<span class="hiddeni">に並べる</span>
                <!--条件：新着順を選択していない場合、リンク表示-->
                <TMPL_ELSE>
                <a href="%search_base_url%&amp;sort_key=new&amp;ymd=%ymd%&amp;available=%available%">新着順<span class="hiddeni">に並べる</span></a>
                </TMPL_IF>
                <!--条件：end--></li>
            </ul>
          </div>
          <!--ソートend-->

          <!--ループ：%prof_caption%一覧情報 start-->
          <TMPL_LOOP NAME="row_loop" COLS="4">
          <table class="scrollable">
            <thead>
              <tr>
                <th class="prfdate"></th>
                <TMPL_LOOP NAME="thead_loop">
                <th class="prfface">
                  <a href="%CGI_URL%?m=prfdtlfrm&amp;prof_id=%prof_id%">
                  <!--条件：写真を登録している場合表示-->
                  <TMPL_IF NAME="prof_logo">
                    <img src="%prof_logo_3_url%?%epoch%" width="120" height="120" alt="" />
                  <!--条件：写真を登録していない場合Noimage表示-->
                  <TMPL_ELSE>
                    <img src="%static_url%/imgs/profile_blank.png" width="120" height="120" alt="" />
                  </TMPL_IF>
                  <!--条件：end-->
                  </a>
                  <TMPL_IF NAME="prof_id">
                    <div class="alignCenter prftit">
                      <a href="%CGI_URL%?m=prfdtlfrm&amp;prof_id=%prof_id%">%prof_handle%</a>
                    </div>
                    <ul class="flag">
                      <li class="t11">出身:<span class="%prof_country%"></span></li>
                      <li class="t11">居住:<span class="%prof_residence%"></span></li>
                    </ul>
                  </TMPL_IF>
                </th>
                </TMPL_LOOP>
              </tr>
            </thead>
            <tbody>
              <TMPL_LOOP NAME="tbody_row_loop">
              <tr>
                <th>%h%:%m%</th>
                <TMPL_LOOP NAME="tbody_col_loop">
                <td>
                  <TMPL_IF NAME="sch_id">
                    <TMPL_IF NAME="disabled">
                      <span class="finished">%stime% 終了</span>
                    <TMPL_ELSE>
                      <TMPL_IF NAME="lsn_id">
                        <span class="reserved">%stime% 予約あり</span>
                      <TMPL_ELSE>
                        <span class="vacant"><a href="#" onclick="showRegister();return false;">%stime% 空き</a></span>
                      </TMPL_IF>
                    </TMPL_IF>
                  <TMPL_ELSE>
                  	&nbsp;
                  </TMPL_IF>
                </td>
                </TMPL_LOOP>
              </tr>
              </TMPL_LOOP>
            </tbody>
          </table>
          </TMPL_LOOP>

          <div class="pager">
            <ul>
              <li>
                <!--条件：URLが入るのであればaタグをつける-->
                <TMPL_IF NAME="prev_url">
                <a href="%prev_url%" title="前の%prev_num%件へ"> &laquo; 前へ</a>
                <!--条件：URLが入らなければspanタグをつける-->
                <TMPL_ELSE>
                <span> &laquo; 前へ</span>
                </TMPL_IF>
                <!--条件：end-->
              </li>
              <!--ループ：ページ数分ループstart-->
              <TMPL_LOOP NAME="page_loop">
              <li>
                <!--条件：カレントであればspanタグをつける-->
                <TMPL_IF NAME="current">
                <span>%page%</span>
                <!--条件：それ以外であればaタグをつける-->
                <TMPL_ELSE>
                <a href="%url%">%page%</a>
                </TMPL_IF>
                <!--条件：end-->
              </li>
              </TMPL_LOOP>
              <!--ループ：ページ数分ループend-->
              <li>
                <!--条件：URLが入るのであればaタグをつける-->
                <TMPL_IF NAME="next_url">
                <a href="%next_url%" title="次の%next_num%件へ">次へ &raquo; </a>
                <!--条件：URLが入らなければspanタグをつける-->
                <TMPL_ELSE>
                <span>次へ &raquo; </span>
                </TMPL_IF>
                <!--条件：end-->
              </li>
            </ul>
          </div>
        </section>
        <!--セクション「%prof_caption%一覧」end-->

      </div>
      <!--コンテナend-->

    </article>
    <!--メインコンテンツend-->

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
  <script>
    function showRegister() {
      if(window.confirm("登録ユーザーでログインすると、レッスンの予約ができます。\n新規登録しますか？\n※すでに登録されている方は「キャンセル」をクリックし、ログインしてください。")){
        location.href='%ssl_host_url%/WTE/reg.cgi';
      }
    }
  </script>
</body>
</html>
