<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>講師の品質について｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="講師の品質について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/quality" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/quality" />
  <meta name="twitter:title" content="講師の品質について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_head_quality">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>講師の品質について</h1>
                      </div>
                  </div>
              </div>
          </section>




    <!-- content section -->
    <section class="page">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>オンライン英会話ビジネスを真剣にご検討している方へ</h2>
            <p>株式会社ライトアップでは、そんな想いをお持ちの方に、2012年よりオンライン英会話予約管理システム%product_name%を販売しています。これまで、システムをご導入いただいたお客様は85社、日本で最もご利用されているオンライン英会話システムとなりました。</p>
            <p>%product_name%の一番の特徴は、自社で「ワールドトーク」というオンライン英会話サイトを運営し、順調に成長させた経験があるという事です。私たちのビジネスがうまくいった成功体験も共に、御社ビジネスのサポートをさせていただきます。少しでも興味をお持ちいただけましたら、是非、お問い合わせフォームより、お気軽にお問い合わせください。</p>
          </div>
        </div>
      </div>
    </section>

    <!-- content section -->
    <section class="page">
      <div class="container">
        <div class="row feat">
          <div class="col-xs-12 col-md-4">
            <img src="/assets/img/index/img_feat_01.jpg" class="img-thumbnail" alt="">
            <h3 class="text-center">85社の豊富なシステム導入実績</h3>
            <p>%product_name%の販売をスタートさせてから5年が経ちました。今では85社の企業様にシステムのご導入をいただきました。そのため、システムの安定性や運用サポートの面では特に自信を持っています。</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="/assets/img/index/img_feat_02.jpg" class="img-thumbnail" alt="">
            <h3 class="text-center">%member_caption%15,000人のサービス運営</h3>
            <p>他のシステム会社との大きな違いが、自社でサービスを運営していること。オンライン英会話「ワールドトーク」は2011年のオープン以来順調に成長しています。その運営ノウハウも共有いたします。</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <img src="/assets/img/index/img_feat_03.jpg" class="img-thumbnail" alt="">
            <h3 class="text-center">2ヶ月でサイト立ち上げが可能</h3>
            <p>サイトを早く立ち上げたいというご要望にもお応え出来ます。サイト構築やデザイン制作も一緒にご提供。各ページのテンプレートも整備していますので、簡単にサイトの立ち上げが可能です。</p>
          </div>
        </div>
        <TMPL_IF NAME="session_member_handle">
        <TMPL_ELSE>
        <div class="row mgt50">
          <div class="col-xs-12">
            <div class="mvbtn text-center"><a href="%ssl_host_url%/WTE/reg.cgi">無料体験はこちらから</a></div>
          </div>
        </div>
        </TMPL_IF>
      </div>
    </section>


    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
