<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>
    学校向け英検対策｜桐原書店のオンライン英会話「KIRIHARA Online Academy」
  </title>
  <meta name="description"
    content="桐原書店が提供する、全国の公立・私立の中学校・高等学校様へ、授業に導入できるオンライン英検対策講座です。少人数グループ制で、級別に英検対策ができます。日本人講師が丁寧に担当します。生徒の受験対策として、そして英語4技能の強化のために、興味をお持ちいただけましたらぜひ資料請求ください。" />
  <meta name="keywords"
    content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,KIRIHARA Online Academy,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="学校向け英検対策｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta property="og:type" content="product" />
  <meta property="og:description"
    content="桐原書店が提供する、全国の公立・私立の中学校・高等学校様へ、授業に導入できるオンライン英検対策講座です。少人数グループ制で、級別に英検対策ができます。日本人講師が丁寧に担当します。生徒の受験対策として、そして英語4技能の強化のために、興味をお持ちいただけましたらぜひ資料請求ください。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/school" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <meta property="og:site_name" content="学校向け英検対策｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/school" />
  <meta name="twitter:title" content="学校向け英検対策｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta name="twitter:description"
    content="桐原書店が提供する、全国の公立・私立の中学校・高等学校様へ、授業に導入できるオンライン英検対策講座です。少人数グループ制で、級別に英検対策ができます。日本人講師が丁寧に担当します。生徒の受験対策として、そして英語4技能の強化のために、興味をお持ちいただけましたらぜひ資料請求ください。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <link rel="stylesheet" href="/assets/css/lp.css?9">
    <style media="screen">
      .wt_courseh4{
    background: #00ada9;
    color: #fff;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
      }
    </style>
    <style>
      .wt_mvbtn a.btn-secondary{font-size:2rem;line-height:1.5;font-weight:600;box-shadow:0 6px 0 #df940e,0 12px 0 rgb(0 0 0 / 15%)}
      .wt_subcopy{
  font-size: 1.7rem;
}
.wt_maincopy{
  font-size: 3.2rem;
}
@media(min-width:768px){
  .wt_subcopy{
    font-size: 2.5rem;
}
.wt_maincopy{
  font-size: 3.6rem;
}
}
.wt_mvbtn_paper a:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 4px;
    background: url("/assets/img/common/btn_pdf.png") no-repeat left bottom;
    background-size: contain;
    z-index: 5;
    width: 85px;
    height: 82.65px;
} 
@media (max-width:767px){
    .wt_mvbtn_paper{
        margin-bottom: 15px;
    }    
    .wt_mvbtn_paper a:before {
        bottom: 3px;
        left: 4px;
        width: 68px;
        height: 62px;
    }  
    .kenshu_asg h4{
        font-size: 1em;
        margin-right: -5px;
        margin-left: -5px;
    }
}        
.wt_footer_banner{
    display: none;
}     
section.kenshu_sub_ttl{
    background: url("/assets/img/common/bg_kenshu_subttl.jpg") no-repeat center center;   
    background-size: cover;
} 
section.kenshu_sub_ttl h2{
    background: none; 
    margin-bottom: 0;
    padding: 0;
} 
@media (max-width:767px){        
    .wt_slider li::after {
        background-image: none;
    }  
}    
    </style>
</head>

<body id="user" class="wt_toeic drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0&appId=229437533792557&autoLogAppEvents=1"
      nonce="Krjb1tBG"></script>
    <TMPL_INCLUDE NAME="../include/header_eiken1.html">

      <main role="main" class="wt_main">
        <section class="wt_mainvis">
          <div class="wt_catch">
            <div class="wt_catch_circle">
              <div>
                <h1 class="mb-5">中学校・高等学校様向け<br>オンライン英検対策</h1>
                <h2>学校の授業に英検対策を導入するなら<br>桐原書店のオンライン英会話「KIRIHARA Online Academy」</h2>
                <div class="container">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="wt_mvbtn wt_mvbtn_paper"><a href="/WTE/site.cgi?m=knsfrmshw" class="btn btn-secondary rounded-pill btn-lg">資料をダウンロード</a></div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="wt_mvbtn"><a href="/WTE/site.cgi?m=knsfrmshw" class="btn btn-danger rounded-pill btn-lg">ご相談はこちらから</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="wt_slider">
            <li class="wt_slider_school"></li>
          </ul>
        </section>


        <section>
          <div class="container">        
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">  
                <a href="https://academy.kirihara.co.jp/wte/school20241220">   
                  <img src="/assets/img/school/topbanner_school2024-11-2.jpg" class="w-100" alt="英検の指導法+効率化Webセミナーのお知らせ">
                </a>    
              </div>
            </div>             
          </div>
        </section> 

          
        <!-- theme section -->
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12 px-5 text-center">
                <h2 class="mb-5">こんな<strong class="text-primary">課題</strong>はありませんか？</h2>
                <p class="text-start text-md-center mb-5">生徒の英検対策をもう少し効率的に行いたい先生、<br>英検の受験率をもっとあげたい学校様へ</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 px-md-5 text-center wt_theme">
                  <h3 class="h4"><span class="d-none d-sm-inline">生徒の</span>英検対策を<br>もっとサポート<br class="d-inline d-sm-none">したい</h3>
                <div><img src="/assets/img/school/illust1.png" class="w-100 mb-3" alt="生徒の英検対策をもっとサポートしたい" loading="lazy"></div>
              </div>
              <div class="col-4 px-md-5 text-center wt_theme">
                <h3 class="h4">1人の教員で<br>生徒の指導に<br class="d-inline d-sm-none">限界がある</h3>
                <div><img src="/assets/img/school/illust2.png" class="w-100 mb-3" alt="1人の教員で生徒の指導に限界がある" loading="lazy"></div>
              </div>
              <div class="col-4 px-md-5 text-center wt_theme">
                  <h3 class="h4"><span class="d-none d-sm-inline">英語</span>授業の中で<br>英検対策を<br class="d-inline d-sm-none">導入したい</h3>
                <div><img src="/assets/img/school/illust3.png" class="w-100 mb-3" alt="英語授業の中で英検対策を導入したい" loading="lazy"></div>
              </div>
            </div>
          </div>
        </section>

        <!-- solution section -->
        <section class="wte_bg_image wte_bg_image_3 mt-lg-5">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 py-2 py-lg-4">
                <h2 class="text-center text-white heading_no_logo pb-0 mb-0">忙しい学校教員の皆さまをサポートする<br>学校向けオンライン英検対策はじめました</h2>
              </div>
            </div>
          </div>
        </section>  
          
          
          
        <!-- case section -->
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12 px-5">
                <h2 class="text-center mb-5">桐原書店の<strong class="text-primary">オンライン英検対策</strong></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 text-center wt_case">
                <img src="/assets/img/school/case_1.png" class="w-100 h-auto mb-4" alt="受験する級別に少人数グループ制">
                <h3 class="text-center mb-4">受験する級別に<br><strong class="text-primary wt_marker">少人数グループ制</strong></h3>
                  <p class="text-left">1人の先生で、クラス全員の英検指導に限界はあります。</p>
                  <p class="text-left">KIRIHARA Online Academyでは、<strong>受験する英検の級別に、少人数グループレッスンを実施</strong>。</p>
                  <p class="text-left">生徒のレベルに合わせた指導が可能です。</p>
              </div>
              <div class="col-12 col-md-4 text-center wt_case">
                <img src="/assets/img/school/case_2.png" class="w-100 h-auto mb-4" alt="年間授業に合わせてカリキュラム作成">
                <h3 class="text-center mb-4">年間授業に合わせて<br><strong class="text-primary wt_marker">カリキュラム作成</strong></h3>
                  <p class="text-left">授業の中で英検対策を実施したい教員様へ。</p>
                  <p class="text-left">学校の授業に組み込みができるように、<strong>年間の授業スケジュールに合わせたカスタマイズが可能</strong>。</p>
                  <p class="text-left">授業時間を有効に活用し、英検対策ができます。</p>
              </div>
              <div class="col-12 col-md-4 text-center wt_case">
                <img src="/assets/img/school/case_3.png" class="w-100 h-auto mb-4" alt="日本人講師が丁寧にテスト対策">
                <h3 class="text-center mb-4">日本人講師が<br><strong class="text-primary wt_marker">丁寧にテスト対策</strong></h3>
                  <p class="text-left">英検指導ができる講師が少ないとお考えの方へ。</p>
                  <p class="text-left">KIRIHARA Online Academyでは、<strong>英検の級を取得している、日本人講師を採用しています</strong>。</p>
                  <p class="text-left">文法指導やテストの解説など、丁寧に説明いたします。</p>
              </div>
            </div>

          </div>
        </section>          

        <section>
          <div class="container">
            <div class="row">

              <div class="col-12 mb-5">
                <h2 class="text-center"><strong class="txt_kiri">生徒への英検対策</strong>をお考えの、中学校・高等学校様へ<br><strong class="txt_kiri">桐原書店</strong>開発のオンライン英検講座をご利用ください
                </h2>
                <p class="wt_copy txt_kiri text-center mb-4 mb-md-0">生徒の進路について真剣に考えている教育機関の方々へ、<br class="d-none d-md-block">桐原書店ではそのお悩みを解決するお手伝いをいたします。</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-7 mb-5">
                <p class="mb-5">総合型選抜入試や一般入試においても加点の要素となる「英検」。<br>生徒の皆さまの取得をサポートしたい先生も多いのではないでしょうか？
                  </p>
                <p class="mb-5">ただし、受験学習や進路相談、様々な活動を控える学校生活において、先生方も大変お忙しくされているかと思います。<br>
                私たちも、多くの先生方とお話をしておりますが、<strong class="wt_marker">「英検対策まで手が回ってなくて」</strong>というお声もよく聞きます。</p>
                <p class="mb-0">そこで、桐原書店では学校や教育機関の皆さまに対し、オンラインを活用した英検対策講座を用意しました。<br><strong class="wt_marker">2ヶ月という短期間</strong>で英検に必要な4技能をしっかり強化できる、そんな講座を行います。</p>
              </div></strong>
              <div class="col-12 col-md-5 mb-5">
                <img src="/assets/img/school/img_school_1.jpg" alt="学校向け英検対策" class="w-100"
                  loading="lazy">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="wt_problem mb-5 d-md-block">
                  <h3 class="text-center">こんなことでお悩みではありませんか？</h3>
                  <ul class="text-center p-0">
                    <li><span class="fas fa-check" aria-hidden="true"></span>英検受験を考えている生徒に対策に特化した講座を提供したい</li>
                    <li><span class="fas fa-check" aria-hidden="true"></span>学校の生徒向けの英検対策をアウトソース化したい</li>
                    <li><span class="fas fa-check" aria-hidden="true"></span>英検に特化した内容のオンライン英会話を活用したい</li>
                    <li><span class="fas fa-check" aria-hidden="true"></span>生徒の保護者に向けて、リーズナブルな英検対策講座をお知らせしたい</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="mb-5">全12回の学習カリキュラムで、教本と過去問を使い、英語4技能の基礎から応用までしっかりと対策。<br>講師は日本人講師を活用し、マンツーマンで生徒の皆さまを丁寧にサポートいたします。</p>
<!--                <p class="mb-5">今、2023年度第1回英検に向けての学校、教育機関の皆さま向けの特別プランを用意しております。<br>是非この機会にお申し込みくださいませ。</p>
                <h3 class="text-center"><strong class="wt_marker">2023年3月24日（金）</strong>までの特別価格です！</h3>-->
                <p class="text-center">※各コース税込価格で表示しています</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <table class="table table-striped mb-5">
                <thead class="bg_turquoise">
                  <tr>
                    <th class="text-center">コース名</th>
                    <th class="text-center">通常価格</th>
<!--                    <th class="text-center tablepush">キャンペーン価格</th>-->
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>英検準1級 一次試験対策コース</td>
                    <td>44,000円</td>
<!--                    <td class="tablepush"><strong class="text-danger h3">33,000円</strong></td>-->
                  </tr>
                  <tr>
                    <td>英検2級 一次試験対策コース</td>
                    <td>33,000円</td>
<!--                    <td class="tablepush"><strong class="text-danger h3">22,000円</strong></td>-->
                  </tr>
                  <tr>
                    <td>英検準2級 一次試験対策コース</td>
                    <td>33,000円</td>
<!--                    <td class="tablepush"><strong class="text-danger h3">22,000円</strong></td>-->
                  </tr>
                </tbody>
              </table>
              </div>
              <div class="col-12 col-md-6">
                <table class="table table-striped mb-5">
                <thead class="bg_turquoise">
                  <tr>
                    <th class="text-center">コース名</th>
                    <th class="text-center">通常価格</th>
<!--                    <th class="text-center tablepush">キャンペーン価格</th>-->
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>英検準1級 二次試験対策コース</td>
                    <td>44,000円</td>
<!--                    <td class="tablepush"><strong class="text-danger h3">33,000円</strong></td>-->
                  </tr>
                  <tr>
                    <td>英検2級 二次試験対策コース</td>
                    <td>33,000円</td>
<!--                    <td class="tablepush"><strong class="text-danger h3">22,000円</strong></td>-->
                  </tr>
                  <tr>
                    <td>英検準2級 二次試験対策コース</td>
                    <td>33,000円</td>
<!--                    <td class="tablepush"><strong class="text-danger h3">22,000円</strong></td>-->
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <div class="text-center">
                  <p class="wt_mcopy">＼まずは、気軽にお問合せください／
                  </p>
                </div>
                <div class="wt_mvbtn"><a href="https://www.kirihara.co.jp/koa_school_form/" class="btn btn-danger rounded-pill wt_btn" target="_blank">詳しく知りたい方はこちら →</a></div>
              </div>
            </div>
          </div>
        </section>

        <section class="wt_sec_turquoise">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">コース参加の生徒様には1,600円相当の<br class="d-block d-md-none">書籍もプレゼント！</h2>
              </div>
              <div class="col-12 col-md-8">
                <p>KIRIHARA Online Academyの英検一次試験対策コースへ参加いただいた方に、桐原書店から「もれなく」2冊の単語学習教材をプレゼントします！</p>
                <ul class="d-none d-md-block">
                  <li>DataBase AVAIL 4技能 英単語・熟語</li>
                  <li>DataBase AVAIL Workbook</li>
                </ul>
              </div>
              <div class="col-12 col-md-4">
                <img src="/assets/img/lp/books_present_eiken.png" class="w-100 h-auto" loading="lazy"
                  alt="桐原書店から「もれなく」2冊の教材をプレゼントします">
              </div>
            </div>
          </div>
        </section>





        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検一次試験対策コースを受講した生徒様の<strong class="txt_kiri">声</strong></h2>
                <p class="text-center">実際に、KIRIHARA Online
                  Academyのオンライン英検一次試験対策の講座を利用した生徒様から、多くの感想をいただいております！<br>いただいた口コミを、簡単に抜粋してご紹介させていただきます。</p>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row wt_recguide">
              <div class="owl-carousel owl-carousel-cr mb-5">
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
                  <img src="/assets/img/voice/voice_41.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">的確に指摘をしていただり、細かいところを質問して答えてもらえるのは、やはり日本人講師の強みだと思いました。 </p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
                  <img src="/assets/img/voice/voice_43.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">苦手な単語はやっぱり覚えられないと実感。日本語の中に英語を混ぜて思い出しやすくするんですね。やってみます。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
                  <img src="/assets/img/voice/voice_44.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">本日もありがとうございました。曖昧に覚えていたところの再確認もできました。また次回もよろしくお願いします！</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
                  <img src="/assets/img/voice/voice_46.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">明日が本番なので、本番に向けてのアドバイスを頂けてよかったです。明日は、最大限力を発揮できるように頑張ります。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
                  <img src="/assets/img/voice/voice_47.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">自分1人でやるよりも、説明を受けながら学習した方が単語や勉強の内容が記憶に残るので、とてもいいと思いました。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
                  <img src="/assets/img/voice/voice_48.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">今日は、英検試験の前日として、それに向けた学習ができてよかったです。改めて、試験の流れを確認できて安心しました。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
                  <img src="/assets/img/voice/voice_49.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">リスニング練習を一問一緒にやって、どのように練習したら良いか理解しました。これからの自主勉強に役立てられそうです。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
                  <img src="/assets/img/voice/voice_52.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">とても明るくて、コミュニケーションの取りやすい素晴らしい先生でした。間違ったところも、具体的に説明してくれました。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3 h-100">
                  <img src="/assets/img/voice/voice_41.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">いつもありがとうございます。一人だと気づかなかった点が明らかになるので、大変助かります。引き続きお願します。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
                  <img src="/assets/img/voice/voice_43.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">英作文の書き方が全くわからなかったのですが、講師が熱心に教えていただいたおかげで英作文のことが少しわかりました。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
                  <img src="/assets/img/voice/voice_44.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">本日もありがとうございました。リスニングの力も付いて自信を取り戻してきています。来週もよろしくお願いいたします。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
                  <img src="/assets/img/voice/voice_46.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">普段使っていない英語や英語での説明に、短い時間ながら頭をひねって回答を考えられたのが良いアウトプットにつながった！ </p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
                  <img src="/assets/img/voice/voice_47.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">ありがとうございました。 人生初の英検受験なので、英検の特徴など教えていただけたことも、とても勉強になりました。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
                  <img src="/assets/img/voice/voice_48.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">発音を褒めていただいたと明るい声で報告がありました。自信を取り戻し、学習への意欲が出てきたのも先生のおかげです。</p>
                </div>
                <div class="wt_carousel_voice p-4 p-sm-5 mt-3">
                  <img src="/assets/img/voice/voice_49.png" alt="" class="rounded-circle w-25 mb-4" loading="lazy">
                  <p class="mb-0">まだ微妙に間違っているところとかを察知して教えてくれている。案外抜けているところが多く、まだ詰められると感じた。</p>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">KIRIHARA Online Academyの英検対策はここが<strong class="txt_kiri">違う</strong>！</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 text-center wt_feature wt_feature_1">
                <img src="/assets/img/school/img_school_2.jpg" alt="英検合格のための短期集中カリキュラムを準備" class="w-100 rounded"
                  loading="lazy">
                <h3><strong>桐原書店</strong>がコース開発</h3>
                <p class="text-left">KIRIHARA Online Academyは英検対策に特化したオンライン英会話スクールです。<br>英語教材の出版や、学校様向けの検定教科書開発をしている桐原書店が、これまでのノウハウを元にコースを開発いたしました。</p>
              </div>
              <div class="col-12 col-md-4 text-center wt_feature wt_feature_2">
                <img src="/assets/img/school/img_school_3.jpg" alt="日本人の英会話講師がマンツーマンで学習サポート" class="w-100 rounded"
                  loading="lazy">
                <h3><strong>日本人講師</strong>がサポート</h3>
                <p class="text-left">
                  オンライン授業は英検の級を取得している日本人講師が担当いたします。<br>学校様のご要望に応じて、一次試験対策から二次試験対策まで、少人数グループで級別に指導させていただくことが可能です。
                </p>
              </div>
              <div class="col-12 col-md-4 text-center wt_feature wt_feature_3">
                <img src="/assets/img/school/img_school_4.jpg" alt="英検対策に特化した講座を完全オンラインで提供" class="w-100 rounded"
                  loading="lazy">
                <h3><strong>オンライン授業</strong>で提供</h3>
                <p class="text-left">GIGAスクール構想より、全国の学校の生徒1人1台、ICT端末が導入されました。<br>学校の授業内でのオンライン英検講座の導入も可能、希望に合わせて年間カリキュラムを作成させていただきます。</p>
              </div>
            </div>
          </div>
        </section>


        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">英検一次試験対策コースの<strong class="txt_kiri">カリキュラム</strong>について</h2>
                <p>
                  カリキュラムの内容に興味をお持ちの方へ、ここでは英検2級一次試験対策コースで実際に行っている内容を大公開させていただきます。<br>この内容を2ヶ月間というスケジュールで行うので、簡単ではないことがわかると思います。<br>具体的に講座内容をご確認いただき、本気で合格を目指したい方は、ぜひ一度無料体験レッスンでコースをご検討ください。
                </p>
              </div>
              <div class="col-12">
                <h4>英検一次試験対策コース基本方針</h4>
                <ol class="d-block d-md-none mb-5">
                  <li>レベルチェックと学習進捗状況を講師と確認</li>
                  <li>マンツーマンで生徒様に合った指導を行う</li>
                  <li>各レッスン後に宿題を出させていただきます</li>
                </ol>
                <ol class="d-none d-md-block mb-5">
                  <li>レベルチェックの結果や学習進捗状況を講師と確認し、指導内容の調整をします。</li>
                  <li>マンツーマンレッスンで、苦手分野の克服など、各生徒様に合った指導をさせていただきます。</li>
                  <li>各レッスン後に宿題を出させていただきます。</li>
                </ol>

                <div class="d-block d-md-none">

                  <table class="table table-striped wt_coursetable">
                    <thead>
                      <tr>
                        <th class="text-center w-10">DAY</th>
                        <th class="text-center w-30">宿題（次回の授業に向けて準備）</th>
                        <th class="text-center w-60">オンラインレッスン概要</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1回</td>
                        <td>
                          <ul>
                            <li>文法（文型、時制、態、助動詞）</li>
                            <li>日々の語彙学習</li>
                            <li>リスニング、リーディング、ライティング</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>出題傾向や学習法確認</li>
                            <li>読解基礎（長文構成・読み方）</li>
                            <li>英作文の基礎（作文の構成）</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>2回</td>
                        <td>
                          <ul>
                            <li>文法（仮定法、不定詞、動名詞、分詞）</li>
                            <li>日々の単語学習</li>
                            <li>リスニング、リーディング、ライティング</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>学習した文法の復習</li>
                            <li>語彙・リスニング・読解</li>
                            <li>ライティングフィードバック</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>3回</td>
                        <td>
                          <ul>
                            <li>文法（関係詞、比較）</li>
                            <li>日々の単語学習</li>
                            <li>リスニング、リーディング、ライティング</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>学習した文法の復習</li>
                            <li>語彙・リスニング・読解</li>
                            <li>ライティングフィードバック</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>4回</td>
                        <td>
                          <ul>
                            <li>文法（名詞、代名詞、冠詞、形容詞、副詞）</li>
                            <li>日々の単語学習</li>
                            <li>リスニング、リーディング、ライティング</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>語彙・リスニング・読解確認</li>
                            <li>ライティングのフィードバック</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>5回</td>
                        <td>
                          <ul>
                            <li>文法（前置詞・接続詞、特殊な構文）</li>
                            <li>日々の語彙学習</li>
                            <li>リスニング、リーディング、ライティング</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>学習した文法の復習</li>
                            <li>語彙・リスニング・読解確認</li>
                            <li>ライティングのフィードバック</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>6回</td>
                        <td>
                          <ul>
                            <li>日々の語彙学習</li>
                            <li>リスニング、リーディング、ライティング</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>語彙・リスニング・読解確認</li>
                            <li>ライティングのフィードバック</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>7回</td>
                        <td>
                          <ul>
                            <li>日々の単語学習</li>
                            <li>リスニング、リーディング、ライティング</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>学習した文法の復習</li>
                            <li>語彙・リスニング・読解確認</li>
                            <li>ライティングのフィードバック</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>8回</td>
                        <td>
                          <ul>
                            <li>語彙学習</li>
                            <li>リスニング、リーディング、ライティング</li>
                            <li>間違った箇所等の振り返り</li>
                          </ul>
                        </td>
                        <td>
                          <ul>
                            <li>Vocabulary5分間</li>
                            <li>語彙・リスニング・読解確認</li>
                            <li>ライティングのフィードバック</li>
                            <li>アドバイス、総括・振り返り</li>
                          </ul>
                        </td>
                      </tr>
  
                    </tbody>
                  </table>
                </div>
                <div class="d-none d-md-block">

                  <div class="row">
                    <div class="col-12">
                      <table class="table table-striped wt_coursetable">
                        <thead>
                          <tr>
                            <th class="text-center w-10">DAY</th>
                            <th class="text-center w-30">宿題</th>
                            <th class="text-center w-60">レッスン概要</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1回</td>
                            <td>
                              <ul>
                                <li>文法（文型、時制、態、助動詞）</li>
                                <li>日々の語彙学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（教本から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>単語の出題傾向や学習法の確認</li>
                                <li>読解の基礎（長文の構成・読み方のコツ）</li>
                                <li>英作文の基礎（作文の構成）</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>2回</td>
                            <td>
                              <ul>
                                <li>文法（仮定法、不定詞、動名詞、分詞）</li>
                                <li>日々の単語学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（教本から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>学習した文法の復習</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>3回</td>
                            <td>
                              <ul>
                                <li>文法（関係詞、比較）</li>
                                <li>日々の単語学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（教本・問題集から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>学習した文法の復習</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>4回</td>
                            <td>
                              <ul>
                                <li>文法（名詞、代名詞、冠詞、形容詞、副詞）</li>
                                <li>日々の単語学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（教本・問題集から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>5回</td>
                            <td>
                              <ul>
                                <li>文法（前置詞・接続詞、特殊な構文）</li>
                                <li>日々の語彙学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（問題集から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>学習した文法の復習</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>6回</td>
                            <td>
                              <ul>
                                <li>日々の語彙学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（問題集から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>7回</td>
                            <td>
                              <ul>
                                <li>日々の単語学習</li>
                                <li>リスニング、リーディング、ライティングの宿題（問題集から）</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>学習した文法の復習</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td>8回</td>
                            <td>
                              <ul>
                                <li>語彙学習</li>
                                <li>リスニング、リーディング、ライティングの宿題</li>
                                <li>間違った箇所等の振り返り</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Vocabulary5分間テスト</li>
                                <li>語彙・リスニング・読解の確認</li>
                                <li>ライティングのフィードバックとトレーニング</li>
                                <li>コース期間で上達したことや課題点のフィードバック、テスト本番に向けてのアドバイス、総括・振り返り</li>
                              </ul>
                            </td>
                          </tr>
      
                        </tbody>
                      </table>

                      <p class="mt-4 lead">注：書籍名(略称)<br>「データベースAvail」⇒「データベース アヴェイル 4技能 英単語・熟語」<br>「教本」 ⇒「英検総合対策教本」<br>「問題集」 ⇒「英検過去6回全問題集」</p>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <div class="text-center">
                        <p class="wt_mcopy">＼まずは、気軽にお問合せください／
                        </p>
                      </div>
                      <div class="wt_mvbtn"><a href="https://www.kirihara.co.jp/koa_school_form/" class="btn btn-danger rounded-pill wt_btn" target="_blank">詳しく知りたい方はこちら →</a></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><br class="d-none d-md-block">英検一次試験合格コース<strong class="txt_kiri">の狙い</strong></h2>
              </div>
            </div>
          </div>

          <div class="container-fluid">

            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 1</div>
                    <h3 class="text-left">生徒それぞれの英語力をもとに<br>取り組む<strong class="text-primary">課題</strong>と合格への<strong class="text-primary">道筋を明確に</strong>します</h3>
                    <p>KIRIHARA Online Academyでは学習カリキュラムを用意し、英検一次試験の合格のための効率的なプログラムを用意しております。<br>一次試験に必要な技能をバランスよく強化し、総合的に英語力を強化していきますので、安心して試験対策に臨めます。</p>
                    <p>さらに生徒一人ひとりにマンツーマンで日本人講師のオンラインレッスンがつきますので、生徒個人の苦手や強みに合わせて、課題を明確にした上で指導をさせていただきます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_2.jpg" alt="生徒それぞれの英語力をもとに取り組む課題と合格への道筋を明確にします" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 2</div>
                    <h3 class="text-left">講師の管理により学習内容のムラを減らし<br><strong class="text-primary">バランスよく学習</strong>できるようになります</h3>
                    <p>生徒それぞれに学習記録シートをお渡しし、日々の学習内容と学習時間を記録する形でお願いしております。<br>また、講師と学習記録を共有することで、学習が足りない部分や苦手な技能を強化し、バランスよく合格のための力を身につけていきます。</p>
                    <p>独学ではどうしても自分の力がついているのか不安という方も、講師という客観的な視点でレベルをチェックすることで、迷いなく学習に集中して取り組むことが出来るようになります。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_3.jpg" alt="講師の管理により学習内容のムラを減らしバランスよく学習できるようになります" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 3</div>
                    <h3 class="text-left">必要な単語やフレーズの定着度を把握し<br>重要な<strong class="text-primary">文法項目のチェック</strong>もできます</h3>
                    <p>桐原書店より出版しているDatabase AVAILを使用し、語彙力の強化と記憶へのフレーズの定着を目指しています。<br>本書は5年分の試験問題の中から、その級の合格のために習得すべき必要語句を選定し、無駄な学習がないように配慮がされています。</p>
                    <p>また、実際のレッスンの最初にVocabularyテストを行い、知識への定着度を逐一チェックさせていただきます。<br>間違えた問題は講師よりシェアさせていただきますので、復習にご活用いただけます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_4.jpg" alt="必要な単語やフレーズの定着度を把握し重要な文法項目のチェックもできます" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 4</div>
                    <h3 class="text-left">音読でインプットとアウトプットの力を繋ぎ<br><strong class="text-primary">リスニング力</strong>や<strong class="text-primary">総合力を向上</strong>させます</h3>
                    <p>KIRIHARA Online Academyのカリキュラムの特徴として、4技能強化のための音読トレーニングを重視しております。<br>音読を習慣化することで、リスニングやリーディング力の強化や一次試験のあとの、面接でのスピーキング対策にも繋がります。</p>
                    <p>また、英検合格のみならず、その後の英語コミュニケーション能力の向上を目指しておりますので、徹底したアウトプットを繰り返すことで、生徒それぞれの英会話力の向上につとめさせていただきます。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_5.jpg" alt="音読でインプットとアウトプットの力を繋ぎリスニング力や総合力を向上させます" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 5</div>
                    <h3 class="text-left">現状の語彙力や読解力を把握し<br>講師と共有することで<strong class="text-primary">苦手意識を減らします</strong></h3>
                    <p>リーディングの理解度を確認するため、生徒にはリーディングチェックリストをお渡しし、記入をお願いしています。<br>問題の理解度や長文内での語彙の習得度などを確認することで、リーディングにおける課題を見える化します。</p>
                    <p>講師が客観的に生徒それぞれのリーディングの課題を捉えられることで、読解のために文法の理解が足りていないのか、語彙が不足しているのかを判断し、強化のためのアドバイスをさせていただきます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_6.jpg" alt="現状の語彙力や読解力を把握し講師と共有することで苦手意識を減らします" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 6</div>
                    <h3 class="text-left">ライティングの「型」を身につけ<br>合格のための<strong class="text-primary">技術を身につけます</strong></h3>
                    <p>ライティング問題に関しては、英検特有の型を習得することで、アウトプットのためのスキルを向上させることができます。<br>またライティングした内容はレッスンにて講師が確認し内容のフィードバックをさせていただきます。</p>
                    <p>英検を実際に取得している日本人講師が添削を行いますので、よりライティングのスコアをアップさせるための作文のコツやアドバイスなどもさせていただきます。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_7.jpg" alt="ライティングの「型」を身につけ合格のための技術を身につけます" class="w-100 h-auto">
              </div>
            </div>

          </div>
        </section>


        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">詳しく話を聞きたい方は、<strong class="txt_kiri">お問い合わせ</strong>ください</h2>
                <p>お申込みを考えている、もしくは一度詳しく話を聞いてみたい方は、桐原書店ホームページよりお問い合わせください。</p>
                <p>生徒様の英検指導を「真剣」に考える先生方へ、桐原書店が「本気」で向き合います！</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <div class="text-center">
                  <p class="wt_mcopy">＼まずは、気軽にお問合せください／
                  </p>
                </div>
                <div class="wt_mvbtn"><a href="https://www.kirihara.co.jp/koa_school_form/" class="btn btn-danger rounded-pill wt_btn" target="_blank">詳しく知りたい方はこちら →</a></div>
              </div>
            </div>
          </div>
        </section>
        <!--セクション「よくあるご質問」end-->
        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item" content="https://academy.kirihara.co.jp/">
              <span class="wt_crumb" itemprop="name">ホーム</span>
              <meta itemprop="position" content="1" />
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/school" itemprop="item" content="https://academy.kirihara.co.jp/wte/school">
              <span itemprop="name">学校向け英検対策</span>
              <meta itemprop="position" content="2" />
            </a>
          </li>
        </ul>
      </main>



      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">

          <style>
            #feed h3 {
              font-size: 1.7rem;
              margin: 15px 20px;
              margin-bottom: 0.5em;
              line-height: 1.6;
              font-weight: 500;
              height: 81.56px;
              overflow: hidden;
            }

            #feed p {
              font-size: 1.4rem;
              margin-bottom: 0;
            }

            #feed .date {
              font-size: 1.2rem;
              color: #888;
              margin: 15px;
              text-align: right;
            }

            .colcont {
              position: relative;
              margin-bottom: 1.5em;
              margin-right: -3px;
              margin-left: -3px;
              border-radius: 2px;
              background: #fff;
              -webkit-box-shadow: 0px 1px 3px rgb(0 0 0 / 18%);
              box-shadow: 0px 1px 3px rgb(0 0 0 / 18%);
              transition: all 300ms ease-out;
              -webkit-transition: all 300ms ease-out;
            }

            .colcont:hover {
              -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
              -webkit-box-shadow: 0px 3px 18px 3px rgb(0 0 0 / 8%);
              box-shadow: 0px 3px 18px 3px rgb(0 0 0 / 8%);
            }

            #feed a {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              text-indent: -999px;
              z-index: 2;
            }

            #feed .colcont img {
              width: 100%;
              height: auto;
              transition: all 300ms ease-out;
              -webkit-transition: all 300ms ease-out;
            }

            .imgcont {
              overflow: hidden;
              padding: 0;
            }

            .align-middle {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          </style>



          <!-- Schema -->
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Course",
              "name": "学校向けオンライン英会話",
              "description": "短期集中でTOEIC® L&Rテスト対策を実施！初心者から中級者まで！オンライン英会話 × 教材 × 学習カリキュラム",
              "url": "https://academy.kirihara.co.jp/wte/school",
              "mainEntityOfPage": "https://academy.kirihara.co.jp/wte/school",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg",
              "provider": {
                "@type": "Organization",
                "name": "桐原書店",
                "sameAs": "https://www.kirihara.co.jp/"
              }
            }, {
              "@context": "http://schema.org",
              "@type": "Article",
              "name": "学校向け英検対策｜桐原書店のオンライン英会話「KIRIHARA Online Academy」",
              "headline": "短期集中でTOEIC® L&Rテスト対策を実施！初心者から中級者まで！オンライン英会話 × 教材 × 学習カリキュラム",
              "description": "桐原書店が提供する、全国の公立・私立の中学校・高等学校様へ、授業に導入できるオンライン英検対策講座です。少人数グループ制で、級別に英検対策ができます。日本人講師が丁寧に担当します。生徒の受験対策として、そして英語4技能の強化のために、興味をお持ちいただけましたらぜひ資料請求ください。",
              "datePublished": "2023-01-01T11:00:00+09:00",
              "dateModified": "2023-01-01T11:00:00+09:00",
              "url": "https://academy.kirihara.co.jp/wte/school",
              "mainEntityOfPage": "https://academy.kirihara.co.jp/wte/school",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ],
              "author": [{
                "@type": "Organization",
                "name": "KIRIHARA Online Academy",
                "url": "https://academy.kirihara.co.jp/"
              }]
            }
          </script>
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "WebPage",
              "name": "学校向け英検対策｜KIRIHARA Online Academy",
              "description": "桐原書店が提供する、全国の公立・私立の中学校・高等学校様へ、授業に導入できるオンライン英検対策講座です。少人数グループ制で、級別に英検対策ができます。日本人講師が丁寧に担当します。生徒の受験対策として、そして英語4技能の強化のために、興味をお持ちいただけましたらぜひ資料請求ください。",
              "url": "https://academy.kirihara.co.jp/wte/school",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ]
            }
          </script>


          <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
          <script>
            $(document).ready(function () {

              /* owl-carousel */
              $(".owl-carousel-mv").owlCarousel({
                loop: true,
                items: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                slideSpeed: 1500,
                dots: false
              });
              $(".owl-carousel-bnr").owlCarousel({
                loop: true,
                autoplay: true,
                autoplaySpeed: 600,
                center: true,
                responsive: {
                  0: {
                    items: 1,
                    margin: 5
                  },
                  768: {
                    items: 1,
                    margin: 15
                  },
                  992: {
                    items: 2,
                    margin: 15
                  }
                }
              });
              $(".owl-carousel-cr").owlCarousel({
                loop: true,
                autoplay: true,
                autoplaySpeed: 750,
                responsive: {
                  0: {
                    items: 2,
                    margin: 5
                  },
                  768: {
                    items: 4,
                    margin: 15
                  },
                  992: {
                    items: 5,
                    margin: 15
                  },
                  1200: {
                    items: 6,
                    margin: 15
                  },
                  1600: {
                    items: 7,
                    margin: 15
                  }
                }
              });
            });
          </script>

</body>

</html>
