<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>Skypeへの移行手順について｜<TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,KIRIHARA Online Academy,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="Skypeへの移行手順について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/starterskype" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/starterskype" />
  <meta name="twitter:title" content="Skypeへの移行手順について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">

        <section class="wt_headvis wt_head_starter">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>Skypeの設定方法について</h1>
              </div>
            </div>
          </div>
        </section>
        <!-- content section -->

<section class="wt_sec_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center" itemprop="name"><strong class="text-primary">Skype</strong>のアカウント作成方法</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Timeline -->
                        <ul class="wt_timeline">
                            <li class="wt_timeline-title">
                                <h3 class="shadow">はじめに</h3>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>Skypeって何？</h4>
                                <p>KIRIHARA Online AcademyのオンラインレッスンではSkypeを使用いたします。Skypeは、利用者同士なら世界中どこでも無料で会話ができるソフトです。</p>
                                <div class="row">
                                    <div class="col-12 col-md-3 mb-5 mb-md-0 text-center">
                                        <img src="/assets/img/icons/skype.svg" class="w-75 h-auto" alt="Skypeとは？">
                                    </div>
                                    <div class="col-12 col-md-9 mb-5 mb-md-0">
                                            <h4>Skypeとは</h4>
                                            <p>世界中で使われている、無料のインターネット電話です。パソコンにインストールすればすぐに利用することが出来ます。操作方法がシンプルでわかりやすく、現在世界で約4億人ものユーザが利用しているソフトです。</p>
                                            <p>初めてSkypeを利用する方は、以下をご参考にSkypeの設定を行いましょう！</p>
                                    </div>
                                </div>    
                            </li>
                            <li class="wt_timeline-title">
                                <h3 class="shadow"><span class="font-small">アカウント作成</span></h3>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>1. Skypeのホームページへアクセス</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>まずは、Skypeのホームページにアクセスします。
                                        <br><a href="https://signup.live.com/?lic=1" target="_blank">Skype社公式ホームページ</a></p>
                                        <p>サイト右上の「サインイン」ボタンをクリックしてください。メニューに「マイアカウント」「Skype for Webを使う」「サインアップ」と表示がされますので、「サインアップ」をクリックします。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypesign.png" class="w-100 h-auto img-thumbnail" alt="Skypeのホームページへアクセス">
                                    </div>
                                    <div class="col-12 cmb-md-0">
                                        <p>すでにSkypeのアカウントを持っている方は「マイアカウント」をクリックし、サイトにログインした後、左上に表示されている「ダウンロード」からハードウェアを選択し、Skypeのダウンロードをお願い致します。
                                        </p>
                                    </div>                                        
                                </div>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>2. 新規アカウント作成</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p class="mb-0">Skypeを利用するには、Microsoftアカウントを作成する必要があります。まずは、こちらの画面からMicrosoftアカウントを作成します。既存のメールアドレスを利用してMicrosoftアカウントを作成出来ますので、【または、既にお持ちのメールアドレスを使う】をクリックします。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypemake.png" class="w-100 h-auto img-thumbnail" alt="メールアドレスを使う">
                                    </div>
                                </div>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>3. 必要情報の入力</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>Microsoftアカウントに登録するメールアドレス、パスワードのご入力をお願い致します。<br>入力後【次へ】をクリックします。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypecreate.png" class="w-100 h-auto img-thumbnail" alt="メールアドレスを入力">
                                    </div>
                                </div>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>4. 氏名の入力</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>登録する姓名のご入力をお願い致します。こちらに登録する姓名は、【Skype表示名】となります。※SkypeIDとは異なります。<br>入力後【次へ】をクリックします。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypename.png" class="w-100 h-auto img-thumbnail" alt="詳細の追加">
                                    </div>
                                </div>

                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>5. セキュリティコードの確認</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>入力いただいたメールアドレス宛に、セキュリティコードが送られます。ブラウザはそのままにして、メールを確認し、メール本文に記載されているセキュリティコードをコピーしてください。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypecord.png" class="w-100 h-auto img-thumbnail" alt="セキュリティコードの確認">
                                    </div>
                                </div>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>6. セキュリティコードの入力</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>ブラウザに戻り、メールで届いたセキュリティコードを入力ください。<br>入力後【次へ】をクリックします。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypemail.png" class="w-100 h-auto img-thumbnail" alt="セキュリティコードの入力">
                                    </div>
                                </div>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>7. アカウント作成完了</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>画面が切り替われば、アカウントの作成完了です。Microsoftアカウントとともに、Skypeアカウントが作成されました。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypeaccount.png" class="w-100 h-auto img-thumbnail" alt="アカウント作成完了">
                                    </div>
                                </div>
                            </li>                            
                            <li class="wt_timeline-title">
                                <h3 class="shadow">ID確認</h3>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>1. ブラウザでSkypeにログイン</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>Skypeサイトにアクセスし、サイト右上の「サインイン」ボタンをクリックします。メニュー「マイアカウント」をクリックしてください。次のページでSkypeに登録をしたメールアドレスとパスワードを入力します。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypesign.png" class="w-100 h-auto" alt="Skypeにログイン">
                                    </div>
                                </div>

                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>2. 発信者IDをクリック</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>ログイン後のページの真ん中あたりにある「機能を管理」内にございます【発信者ID】をクリックします。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypeequip.png" class="w-100 h-auto" alt="発信者ID">
                                    </div>
                                </div>

                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>3. SkypeIDを確認する</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>ページが切り替わると、赤枠の部分にご利用いただいているSkypeアカウントの【SkypeID】が表示されます。こちらをKIRIHARA Online Academyにご登録ください。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypeshow.png" class="w-100 h-auto" alt="SkypeIDを確認">
                                    </div>
                                </div>

                            </li>
                            
                            <li class="wt_timeline-title">
                                <h3 class="shadow">通話する</h3>
                            </li>                            
                            
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>1. 通話テスト</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>通話をする前は回線や音声の確認のために、必ず通話テストを行いましょう。まず、連絡先に入っている【Echo / Sound Test Service】を選択してください。【通話】ボタンが表示されるので、こちらをクリックします。すぐにコールが鳴り、自動音声が流れますので説明に従って通話テストを行ってください。</p>
                                        <ul>
                                            <li>少々時間がかかる場合もございます。</li>
                                            <li>WEBカメラのテストは、Skypeメニューの「ヘルプ」→「通話品質ガイド」→「サウンドチェックリザード」にて行うことができます。</li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skypetest.png" class="w-100 h-auto" alt="通話テスト">
                                    </div>
                                </div>

                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>2. コンタクト承認・コンタクト申請</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <p>通話をするときは、通話相手を連絡先に追加する必要があります。連絡先に追加する方法は2つの方法があります。</p>
                                        <ol>
                                            <li>通話相手からのコンタクト申請を承認して追加する</li>
                                            <li>通話相手にコンタクト申請を行って追加する</li>
                                        </ol>
                                        <p class="mt-4 mb-0">KIRIHARA Online Academyでは主に、講師からコンタクト申請が行われるので1の方法となります。</p>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12 col-md-6 mb-5 mb-md-0">
                                        <h4>1の場合（コンタクト承認）</h4>
                                        <ol>
                                            <li>追加リクエストがあるとSkype上にお知らせが表示されます</li>
                                            <li>こちらをクリックし、相手からのメッセージを確認します</li>
                                            <li>【連絡先リストに追加】ボタンをクリックで承認完了です</li>
                                        </ol>
                                    </div>
                                    <div class="col-12 col-md-6 mb-5 mb-md-0 mt-xs-0">
                                        <h4>2の場合（コンタクト申請）</h4>
                                        <ol class="mt-0">
                                            <li>Skype画面左下の【連絡先を追加】ボタンをクリック</li>
                                            <li>相手のSkype名などを入力し、通話相手を検索します</li>
                                            <li>該当する相手を選び【追加】ボタンをクリックします</li>
                                            <li>メッセージを入力し、【リクエストの送信】をクリック</li>
                                            <li>コンタクト要求が承認されると連絡先に追加されます</li>
                                        </ol>
                                    </div>
                                </div>                                  

                            </li>

                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>3. 通話する</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>開始時間になると、講師からコールがあります。【通話ボタン】をクリックすると、通話をすることが出来ます。自分からコールを行う場合は、連絡先から相手を選び、【ビデオ通話】もしくは【電話と通話】をクリックします。</p>

                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/caps_skype.png" class="w-100 h-auto" alt="通話する">
                                    </div>
                                </div>
                            </li>

                            <li class="wt_timeline-title">
                                <h3 class="shadow">完了！</h3>
                            </li>
                            

                        </ul>
                        <!-- End -->

                        </div>
                    </div>
                </div>


                <ul class="wt_breadcrumb mt-5" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li><a href="/" itemprop="url" content="https://www.worldtalk.jp/"><span class="wt_crumb" itemprop="title">ホーム</span></a></li>
                    <li><a href="/wte/starterskype" itemprop="url" content="https://www.worldtalk.jp/wte/startermeet"><span itemprop="title">Skypeについて</span></a></li>
                </ul>
    </section>
    <!-- foot section -->
    <TMPL_INCLUDE NAME="../include/footer.html">
  <TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>

