<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>Google Meetへの移行手順について｜<TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,KIRIHARA Online Academy,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="Google Meetへの移行手順について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/starterGoogle Meet" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/startermeet" />
  <meta name="twitter:title" content="Google Meetへの移行手順について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">

        <section class="wt_headvis wt_head_starter">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>Google Meetの利用方法について</h1>
              </div>
            </div>
          </div>
        </section>
        <!-- content section -->

        <section class="wt_sec_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center" itemprop="name"><strong class="text-primary">Google Meet</strong>の利用方法</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Timeline -->
                        <ul class="wt_timeline">
                            <li class="wt_timeline-title">
                                <h3 class="shadow">はじめに</h3>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>Google Meetって何？</h4>
                                <p>KIRIHARA Online AcademyのオンラインレッスンではGoogle Meetを使用いたします。Google Meetは、利用者同士なら世界中どこでも無料で会話ができるソフトです。</p>
                                <div class="row">
                                    <div class="col-12 col-md-3 mb-5 mb-md-0 text-center">
                                        <img src="/assets/img/icons/meet.png" class="w-75 h-auto" alt="Google Meetとは？">
                                    </div>
                                    <div class="col-12 col-md-9 mb-5 mb-md-0">
                                            <h4>Google Meetとは</h4>
                                            <p>Google Meetは、利用者同士なら世界中どこでも無料でミーティングができるソフトです。</p>
                                            <p>Google Meetでレッスンを受講する際、アカウントは不要です。</p>
                                    </div>
                                </div>    
                            </li>
                            <li class="wt_timeline-title">
                                <h3 class="shadow"><span class="h6">Meetにアクセス</span></h3>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>1. URLもしくはボタンを確認</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>レッスンが開始する数分前に、レッスンのリマインドメールに記載されたURLか、レッスン詳細ページに表示された「Meetを利用する」ボタンをクリックします。</p>

                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/meet_00.png" class="w-100 h-auto img-thumbnail" alt="URLを確認">
                                    </div>
                                             
                                </div>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>2. Meetを開く</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p class="mb-0">URLをクリックすると、Google Meetのページが表示されます。</p>
                                        <ul class="note">
                                            <li>マイクやカメラの設定について確認画面が表示されることがございます。それぞれ【許可】をするようにお願いします。</li>
                                        </ul>                                        
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/meet_01.png" class="w-100 h-auto img-thumbnail" alt="Google Meetを開く">
                                    </div>
                                </div>
                            </li>
                          
                            <li class="wt_timeline-title">
                                <h3 class="shadow">接続テスト</h3>
                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>1. マイクのテスト</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>まずは、マイクをテストします。画面左下にある「マイク配列」をクリックし、マイクに向かって声を出してみてください。このとき、マイクのアイコンの横にある青色のバーが動いていればマイクは正常に機能しています。</p>
                                        <p>バーが動かない場合は、選択しているスピーカーに間違いがないかご確認ください。（他のマイクが選択肢に表示されていれば、そちらを選択して再度テストをしてください）</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/meet_02.png" class="w-100 h-auto" alt="マイクのテスト">
                                    </div>
                                </div>

                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>2. スピーカーのテスト</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>続いてスピーカーのテストをします。画面左下にある「スピーカーアイコン」をクリックし、「スピーカーをテスト」をクリックします。音声が流れていればスピーカーは正常に機能しています。</p>
                                        <p>音声が聞こえない場合は、選択しているスピーカーに間違いがないか、設定がミュートになっていないかを確認します。（他のスピーカーが選択肢に表示されていれば、そちらを選択して再度テストをしてください）</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/meet_03.png" class="w-100 h-auto" alt="スピーカーのテスト">
                                    </div>
                                </div>

                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>3. カメラのテスト</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>Google Meetの画面に、カメラの映像が映っていれば問題ありません。もしカメラが映っていない場合は、カメラのマークが✕になっていないか確認ください。</p>
                                        <p>カメラのマークが✕の場合、カメラマークをクリックするとカメラがオンに切り替わります。</p>
                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/meet_04.png" class="w-100 h-auto" alt="カメラのテスト">
                                    </div>
                                </div>

                            </li>
                            
                            <li class="wt_timeline-title">
                                <h3 class="shadow">完了！</h3>
                            </li>                       
                            
                            <li class="wt_timeline-title">
                                <h3 class="shadow"><span  class="h6">レッスン開始</span></h3>
                            </li>                            
                            
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>1. 参加をリクエスト</h4>
                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>「参加をリクエスト」をクリックします。講師が許可をするまで少々お待ち下さい。</p>

                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/meet_05.png" class="w-100 h-auto" alt="参加をリクエスト">
                                    </div>
                                </div>

                            </li>
                            <li class="wt_timeline-item bg-white rounded ml-5 p-5 shadow">
                                <div class="wt_timeline-arrow"></div>
                                <h4>2. レッスン開始</h4>

                                <div class="row">
                                    <div class="col-12 col-md-8 mb-5 mb-md-0">
                                        <p>講師が許可をすると画面が切り替わります。レッスンを受講ください！</p>

                                    </div>
                                    <div class="col-12 col-md-4 mb-5 mb-md-0">
                                        <img src="/assets/img/caps/meet_06.png" class="w-100 h-auto" alt="レッスン開始">
                                    </div>
                                </div>

                            </li>



                            <li class="wt_timeline-title">
                                <h3 class="shadow">完了！</h3>
                            </li>
                            

                        </ul>
                        <!-- End -->

                        </div>
                    </div>
                </div>


                <ul class="wt_breadcrumb mt-5" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li><a href="/" itemprop="url" content="https://www.worldtalk.jp/"><span class="wt_crumb" itemprop="title">ホーム</span></a></li>
                    <li><a href="/wte/startermeet" itemprop="url" content="https://www.worldtalk.jp/wte/startermeet"><span itemprop="title">Meetについて</span></a></li>
                </ul>

    </section>
    <!-- foot section -->
    <TMPL_INCLUDE NAME="../include/footer.html">
  <TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>

