<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>Zoomの利用について｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="Zoomの利用について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/agree" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/agree" />
  <meta name="twitter:title" content="Zoomの利用について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

  <main role="main" class="wt_main">
       
        <section class="wt_headvis wt_head_starter">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Zoomの利用について</h1>
                    </div>
                </div>
            </div>
        </section>
    <!-- content section -->
    <section class="page">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Zoomって何？</h2>
            <p class="mgb50">Zoomは、利用者同士なら世界中どこでも無料でミーティングができるソフトです。%product_name%ではレッスンにクラウド・ビデオ会議ソフト「Zoom」（ズーム）を使用します。</p>
            <h3 class="text-center mgb30">%product_name%でZoomを使うのは何故？</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <p class="text-center"><img src="/assets/img/icons/zoom_01.png" class="w50" alt=""></p>
            <h3>１クリックでつながる</h3>
            <p>スカイプのような%member_caption%登録やアカウント作成なしに、送られてきたURLをクリックすれば自動的につながります。</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <p class="text-center"><img src="/assets/img/icons/zoom_02.png" class="w50" alt=""></p>
            <h3>１クリックで録画できる</h3>
            <p>%prof_caption%の説明を見逃したとき、復習したいとき、あるいは接続が切れたときに、この機能があると安心してレッスンができます。</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <p class="text-center"><img src="/assets/img/icons/zoom_03.png" class="w50" alt=""></p>
            <h3>スマホからもつながる</h3>
            <p>無料のZoomアプリをインストールする必要がありますが、簡単にスマートフォンからも接続ができます。データ通信料が小さいので接続は安定しており、通信料金もあまりかからないため気軽にご利用できます。</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <p class="text-center"><img src="/assets/img/icons/zoom_04.png" class="w50" alt=""></p>
            <h3>無料で簡単!しかも多機能</h3>
            <p>簡単で使いやすいだけでなく、ビデオ機能、画面やホワイドボードの共有等、いろいろな機能がついています。</p>
          </div>
        </div>
      </div>
    </section>

    <!-- content section -->
    <section class="page bggrey">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center">Zoomを使う</h2>
            <p class="text-center">レッスンを予約すると、%prof_caption%からレッスンのときに使う参加用URLがメールに送られてきます。</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 tline">
            <h2 class="tlinefst">パソコンを利用する場合</h2>
            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>ダウンロード開始</h3>
                  <p class="mgb0">ミーティング時間になったら、届いたメールのURLをクリックします。もしも自動でダウンロードが始まらない場合には「ダウンロード」をクリックしてください。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_01.png" class="img-thumbnail w100" alt="パソコンを利用する場合">
                </div>
              </div>
            </div>
            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>アプリのインストール</h3>
                  <p class="mgb0">初めてZoomを使用するときは、自動的にアプリがインストールされます。<br>※１-２分かかります<br>２回目からは、インストールされているアプリが自動的に起動します。Zoomが起動すると、画面の中央に「コンピューターでオーディオに参加」という画面が出ますので、青の部分をクリックしてください。青のボタンをクリックすると、画面左下のマークが、ヘッドフォンからマイクに変わります。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_02.jpg" class="img-thumbnail w100" alt="パソコンを利用する場合">
                </div>
              </div>
            </div>
            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>レッスン開始</h3>
                  <p class="mgb0">左下のマークがマイクマークなれば入室完了です。<br>声を出してみて、マイクマークの中にある青のメーターが動くかどうかを確かめてください。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_03.jpg" class="img-thumbnail w100" alt="パソコンを利用する場合">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 tline">
            <h2 class="tlinefst">スマホやタブレットから参加する場合</h2>
            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>アプリのインストール</h3>
                  <p>パソコンで参加する場合は、事前にZoomのアプリをインストールする必要はありませんが、スマホやタブレットをはじめて使うときは事前にインストールします。</p>
                  <p class="mgb0">ストアを開いて「Zoom Cloud Meeting」というアプリを事前にインストールしてください。<br>※Android端末ではGooglePlay、iPhoneではApp Storeになります。<br>インストール後、「開く」をタップするとアプリが開きます。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_sp_01.jpg" class="img-thumbnail w100" alt="スマホやタブレットから参加する場合">
                </div>
              </div>
            </div>
            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>レッスンURLのクリック</h3>
                  <p>1. レッスン予約すると、%prof_caption%から、Zoomの参加用URLが送られてきます。そのアドレスの下9桁の数字をZoomに参加するときに入力します。</p>
                  <p>2. 「ミーティングに参加」をタップ → メールにある9ケタのミーティングIDと名前を入力 → 「ミーティングに参加」をタップ</p>
                  <p class="mgb0">これでZoomに入室できます。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_sp_02.jpg" class="img-thumbnail w100" alt="スマホやタブレットから参加する場合">
                </div>
              </div>
            </div>
            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>レッスンの開始</h3>
                  <p>初めてZoom会議に参加する際には、右の画像のように、カメラとマイクへのアクセスの確認メッセージが出ますので、「許可」をタップしてください。<br>また「デバイスオーディオを介して通話」をタップすると、マイクが使用できる状態になります。<br>2回目以降は、メールのリンクをクリックすると、自動的にアプリが開いてZoom会議室に入室することができます。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_sp_03.jpg" class="img-thumbnail w100" alt="スマホやタブレットから参加する場合">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- content section -->
    <section class="page bgblock">
      <div class="container">
        <div class="row">
          <div class="col-12 tline">
            <h2 class="tlinefst">Zoomの使い方</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 tline notline">

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>マイクのON/OFF</h3>
                  <p class="mgb0">Zoomの画面の左下にあるマイクアイコンを見てください。マイクが正しく接続されているときは、声を出すと、青色のメーターが声に合わせて上下します。声を出しても、青色のメーターが動かないときは、マイクマークの右の<span class="up"><i class="fa fa-angle-up" aria-hidden="true"></i></span>をクリックすると、リストが出てくるので、使用しているマイクが正しく選択されているかどうかを確認してください。<br>マイクを消音（ミュート）するときには、マイクマークをクリックします。赤い斜めの線が出ているときは、消音（ミュート）されている状態です。もう一度クリックすると、消音（ミュート）が解除されます。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_04.jpg" class="img-thumbnail w100" alt="スマホやタブレットから参加する場合">
                </div>
              </div>
            </div>

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>カメラのON/OFF</h3>
                  <p class="mgb0">Zoomの画面の下に並ぶアイコンの中で、左から２番目がカメラアイコンです。カメラアイコンをクリックすると、「カメラOFF」の状態になり、画面がアイコン表示になります。<br>カメラアイコンをもう１度クリックすると、「カメラON」になり、画面にあなたの顔が表示されるようになります。カメラが正しく表示されない場合は、カメラアイコンの右の<span class="up"><i class="fa fa-angle-up" aria-hidden="true"></i></span>マークをクリックします。リストが表示されますので、使用しているカメラが正しく選択されているかどうかを確認してください。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_05.jpg" class="img-thumbnail w100" alt="スマホやタブレットから参加する場合">
                </div>
              </div>
            </div>

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>名前の変更</h3>
                  <p>自分の顔が映っている部分の左下に、名前が表示されます。<br>表示されている名前を変更することができます。まずは、自分が映っている画面にカーソルを合わせてクリックします。（Windowsの場合は右クリック）</p>
                  <p class="mgb0">出てきたメニューの中で「名前を変更」を選択すると、ポップアップが出てきますので、そこに変更したい名前を打ち込んでください。アプリのバージョンが古いなどが原因で、画面上でクリックしてもメニューが表示されない場合があります。そのときは、次の方法で名前を変更してください。<br>Zoom画面の下に並んでいるアイコンの中の「参加者」をクリックすると、右側に参加者リストが表示されます。その中から自分の名前を探してください。自分の名前を見つけて、そこにカーソルを合わせると、「名前の変更」というボタンが現れますので、クリックして名前を変更してください。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_06.jpg" class="img-thumbnail w100" alt="スマホやタブレットから参加する場合">
                </div>
              </div>
            </div>

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>ビュー(見え方)の変更</h3>
                  <p>Zoomには２つのビュー(見え方)があり、切り替えることができます。</p>
                  <ol class="mgb30">
                    <li>ギャラリービュー：参加者全員の顔が同じ大きさで表示する見え方</li>
                    <li>スピーカービュー：話をしている人を自動的に選択して大きく表示する見え方</li>
                  </ol>
                  <p>画面右上の表示が「スピーカービュー」になっているか確認してください。<br>「ギャラリービュー」になっていたら、クリックすると、スピーカービューに切り替わります。</p>
                  <p class="mgb0">スピーカービューにしているときに、拡大表示される人を固定したい場合があります。<br>拡大表示を固定したい人の画面でクリック（Windowsは右クリック）し、表示されるメニューから「ビデオの固定」を選択すると、固定することができます。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_07.jpg" class="img-thumbnail w100" alt="ビュー(見え方)の変更">
                </div>
              </div>
            </div>

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>ルームから抜ける</h3>
                  <p class="mgb0">Zoomのルームから退出するときは、右下の「退出」をクリックします。ポップアップが出てて来ますので、「ミーティングから退出」と書いてあるボタンをクリックすると、ルームから退出することができます。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_08.jpg" class="img-thumbnail w100" alt="ルームから抜ける">
                </div>
              </div>
            </div>

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>最新版へのアップデート</h3>
                  <p>PCのZoomアプリからアップデートします。Zoomアプリを起動し、検索バーの右にある名前アイコン（アカウントにプロフィール写真を設定している場合には写真が表示される）をクリックするとメニューが表示されます。</p>
                  <p>「アップデートの確認」をクリックすると、最新版かどうかのチェックが始まり、次のようなウインドウが開きます。</p>
                  <p>しばらくすると、ダウンロードが完了し、最新版がある場合は、次のように「変更が利用可能」と表示されます。</p>
                  <p class="mgb0">どんな機能が新しく使えるようになったのか、「新機能」をクリックすると、更新内容が表示されます。更新内容を確認したら「今すぐ更新」をクリックしてください。最新版がインストールされます。インストールされたかどうかを確認するには、もう一度、「アップデートの確認..」をクリックしてください。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_09.jpg" class="img-thumbnail w100" alt="最新版へのアップデート">
                </div>
              </div>
            </div>

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>Zoomの画面共有</h3>
                  <p class="mgb0">パソコンの画面を、%member_caption%様と%prof_caption%のどちらにも表示させることができます。<br>同じ資料を見ながら議論することができて便利です。<br>資料上にコメントを書き込んだり、印をつけたりできます。<br>こちらではファイルとホワイトボードの画面共有、コメントの付け方をご紹介します。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_10.jpg" class="img-thumbnail w100" alt="Zoomの画面共有">
                </div>
              </div>
            </div>

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>ファイルの共有</h3>
                  <ol class="mgb0">
                    <li>画面下に表示される操作メニューの「画面の共有」というボタンを押します。共有したいファイルはあらかじめ開いておきます。</li>
                    <li>共有したいファイルを選択し、右下の「画面の共有」ボタンを押します。共有したいファイルを選択できます。<br>コメントをつけるときは、コメントツールバーの「コメントを付ける」ボタンを押すとできます。</li>
                    <li>「共有の停止」で画面の共有を終了します。</li>
                  </ol>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_10.jpg" class="img-thumbnail w100" alt="ファイルの共有">
                </div>
              </div>
            </div>

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>ホワイトボードの共有</h3>
                  <p class="mgb0">操作メニューの「画面の共有」ボタンを押して、「ホワイトボード」を選択してください。</p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_13.jpg" class="img-thumbnail w100" alt="ホワイトボードの共有">
                </div>
              </div>
            </div>

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>コメントを付ける</h3>
                  <p>共有した画面にコメントを書くことができます。書いたコメントは%member_caption%様と%prof_caption%に表示されます。</p>
                  <ol class="mgb0">
                    <li>上部の「オプションの表示」の横にある下向きの三角印を押します。</li>
                    <li>出てきたメニューにある「コメントを付ける」を選択します。</li>
                    <li>コメント用のツールバーが表示され、画面に書き込むことができるようになります。</li>
                  </ol>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_11.jpg" class="img-thumbnail w100" alt="コメントを付ける">
                </div>
              </div>
            </div>

            <div class="tbox clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                  <h3>録画する</h3>
                  <p>
                    「レコーディング」をクリックし、「このコンピューターにレコーディング」を選択すると、
                    左上に「レコーディング」の表示、下には「一時停止/停止」の表示がされます。<br>ミーティングを終了すると、録画された動画が自動的に表示されます。
                  </p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                  <img src="/assets/img/caps/zoom_pc_12.jpg" class="img-thumbnail w100" alt="録画する">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- foot section -->
    <TMPL_INCLUDE NAME="../include/footer.html">
  <TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>

