<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>体験レッスン<TMPL_INCLUDE NAME="../include/title.html">
  </title>
  <TMPL_INCLUDE NAME="../include/head.html">
    <meta name="robots" content="noindex,nofollow" />
</head>

<body id="user">
  <TMPL_INCLUDE NAME="../include/body.html">
    <body id="instructor" class="instructor">
      <TMPL_INCLUDE NAME="../include/body.html">
    
          <main role="main">
            <section class="wt_sec_bg_1 p-4">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-lg-8">
                    <iframe src="/assets/pdf/toeic_730_taiken_listening.pdf"  scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border:none;width:100%;height:100vh"></iframe>
                  </div>
                  <div class="col-12 col-lg-4">
                    <h3>No.3</h3>
                    <audio controls src="/assets/taiken/taiken_730-3.mp3"></audio>
                    <h3>No.4</h3>
                    <audio controls src="/assets/taiken/taiken_730-4.mp3"></audio>
                    <h3>No.5</h3>
                    <audio controls src="/assets/taiken/taiken_730-5.mp3"></audio>
                  </div>
                </div>
    
              </div>
            </section>
          </main>
      <!-- foot section -->
        <TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>
