<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>使用教材についてのご紹介｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="使用教材についてのご紹介｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/text" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/text" />
  <meta name="twitter:title" content="使用教材についてのご紹介｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_head_text">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>使用教材についてのご紹介</h1>
                      </div>
                  </div>
              </div>
          </section>



    <!-- head section -->
    <section class="phead">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>教科書・テキスト</h1>
          </div>
        </div>
      </div>
    </section>

    <!-- content section -->
    <section class="search bgblock">
      <div class="container">

        <div class="row">
          <div class="col-xs-12">
            <h2>市販のテキストについて</h2>
            <h3>Side By Side</h3>
            <p>初級用英会話教材の世界的ベストセラー「SIDE by SIDE」。日常生活をテーマに、総合的な英語力を養成することを目的とした教材です。カラフルなイラストが満載で、楽しみながら英語力をアップしていける構成になっています。</p>
          </div>
        </div>
        
        <div class="row textbox texttop">
          <div class="col-xs-4 col-md-2 textimg">
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/0131119591/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0131119591&linkCode=as2&tag=wte-support-22&linkId=fd5654317805fd19651c9feabeeb8d7a">
              <img src="/assets/img/books/img_sidebyside1.png" alt="Side By Side book1" />
            </a>
          </div>
          <div class="col-xs-8 col-md-4 textdet">
            <h4><a target="_blank" href="https://www.amazon.co.jp/gp/product/0131119591/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0131119591&linkCode=as2&tag=wte-support-22&linkId=fd5654317805fd19651c9feabeeb8d7a">Side by Side 1<img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0131119591" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a></h4>
            <p>英語のことはさっぱり忘れてしまった…、まったく今まで英語に触れたことがないという方向け。自己紹介の仕方や、買い物の方法など英語の基本を学ぶことができます。</p>
            <ul class="textinfo">
              <li>対象<span>中学1年～2年程度</span></li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-2 textimg textright">
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/0131119605/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0131119605&linkCode=as2&tag=wte-support-22&linkId=cf133481281d5407f2954fd1db49b504">
              <img src="/assets/img/books/img_sidebyside2.png" alt="Side By Side book2" />
            </a>
          </div>
          <div class="col-xs-8 col-md-4 textdet">
            <h4><a target="_blank" href="https://www.amazon.co.jp/gp/product/0131119605/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0131119605&linkCode=as2&tag=wte-support-22&linkId=cf133481281d5407f2954fd1db49b504">Side by Side 2<img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0131119605" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a></h4>
            <p>単語は出てくるけど、基本的な文がうまく作れなくてつまってしまう…という方向け。会話でよく使われる表現の練習ができます。</p>
            <ul class="textinfo">
              <li>対象<span>中学2年程度</span></li>
            </ul>
          </div>
        </div>
        <div class="row textbox mgb50">
          <div class="col-xs-4 col-md-2 textimg">
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/0131841793/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0131841793&linkCode=as2&tag=wte-support-22&linkId=17b2510b40ee5ba6d13c40fb26cd1534">
              <img src="/assets/img/books/img_sidebyside3.png" alt="Side By Side book3" />
            </a>
          </div>
          <div class="col-xs-8 col-md-4 textdet">
            <h4><a target="_blank" href="https://www.amazon.co.jp/gp/product/0131841793/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0131841793&linkCode=as2&tag=wte-support-22&linkId=17b2510b40ee5ba6d13c40fb26cd1534">Side by Side 3<img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0131841793" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a></h4>
            <p>基本的な文法、現在完了形までは大丈夫！簡単な日常会話はできるという方向け。文法の復習を踏まえて、日常会話のレベルの底上げが出来ます。</p>
            <ul class="textinfo">
              <li>対象<span>中学3年程度</span></li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-2 textimg textright">
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/0131841807/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0131841807&linkCode=as2&tag=wte-support-22&linkId=ee30dd2a90d335fca777de43246b2c56">
              <img src="/assets/img/books/img_sidebyside4.png" alt="Side By Side book4" />
            </a>
          </div>
          <div class="col-xs-8 col-md-4 textdet">
            <h4><a target="_blank" href="https://www.amazon.co.jp/gp/product/0131841807/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0131841807&linkCode=as2&tag=wte-support-22&linkId=ee30dd2a90d335fca777de43246b2c56">Side by Side 4<img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0131841807" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a></h4>
            <p>中級レベルの方にお薦め。基礎的な文法を復習しながら、仮定法などを取り入れたナチュラルで高度な表現を学べます。</p>
            <ul class="textinfo">
              <li>対象<span>高校卒業程度</span></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <h3>Let's Go</h3>
            <p>英会話学習が初めての小学生から、中学生まで幅広い年齢層のお子さまが英会話学習に利用している子ども英語学習の定番教材です。英会話学習に飽きないように、豊富なイラストやキャラクター、会話、歌やゲーム等を愉しみながら、聴き読み書き話す4技能をバランスよく体系的に習得できる教材です。</p>
          </div>
        </div>

        <div class="row textbox texttop">
          <div class="col-xs-4 col-md-2 textimg">
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626180/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626180&linkCode=as2&tag=wte-support-22&linkId=1fc211a3a325ff6529bed0e5e1d1e806">
              <img src="/assets/img/books/img_letsgo1.png" alt="Let's Go Level 1" />
            </a>
          </div>
          <div class="col-xs-8 col-md-4 textdet">
            <h4><a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626180/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626180&linkCode=as2&tag=wte-support-22&linkId=1fc211a3a325ff6529bed0e5e1d1e806">Let's Go Level 1<img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0194626180" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a></h4>
            <p>友だちの紹介や、家族についての話が出来るようになります。単数形や複数形の使い分けや、無声音と有声音の発音の違いも学べます。</p>
            <ul class="textinfo">
              <li>対象<span>小学校低学年?中学年</span></li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-2 textimg textright">
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626199/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626199&linkCode=as2&tag=wte-support-22&linkId=19345a294d6d22abf3376042766f5138">
              <img src="/assets/img/books/img_letsgo2.png" alt="Let's Go Level 2" />
            </a>
          </div>
          <div class="col-xs-8 col-md-4 textdet">
            <h4><a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626199/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626199&linkCode=as2&tag=wte-support-22&linkId=19345a294d6d22abf3376042766f5138">Let's Go Level 2<img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0194626199" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a></h4>
            <p>自宅の住所・電話番号・時刻・日課や行動などの話が出来るようになります。前置詞の使い分けや、長母音の発音を学ぶことが出来ます。</p>
            <ul class="textinfo">
              <li>対象<span>小学校低学年?中学年</span></li>
            </ul>
          </div>
        </div>
        <div class="row textbox">
          <div class="col-xs-4 col-md-2 textimg">
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626202/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626202&linkCode=as2&tag=wte-support-22&linkId=e0a2b5a3bfc03896e9ea54f6bfd2fadf">
              <img src="/assets/img/books/img_letsgo3.png" alt="Let's Go Level 3" />
            </a>
          </div>
          <div class="col-xs-8 col-md-4 textdet">
            <h4><a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626202/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626202&linkCode=as2&tag=wte-support-22&linkId=e0a2b5a3bfc03896e9ea54f6bfd2fadf">Let's Go Level 3<img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0194626202" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a></h4>
            <p>学校・学校外や放課後のアクティビティについて話すことが出来るようになります。頻度を表す福祉や、bl、gl、plなどの発音も学べます。</p>
            <ul class="textinfo">
              <li>対象<span>小学校中学年?高学年</span></li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-2 textimg textright">
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626210/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626210&linkCode=as2&tag=wte-support-22&linkId=44aef8f00c3f4c249d2ee3d359b13ddc">
              <img src="/assets/img/books/img_letsgo4.png" alt="Let's Go Level 4" />
            </a>
          </div>
          <div class="col-xs-8 col-md-4 textdet">
            <h4><a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626210/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626210&linkCode=as2&tag=wte-support-22&linkId=44aef8f00c3f4c249d2ee3d359b13ddc">Let's Go Level 4<img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0194626210" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a></h4>
            <p>希望や夢、過去にしたこと、週末の予定や計画について話すことが出来るようになります。過去形やch、sh、ph、whの発音も学べます。</p>
            <ul class="textinfo">
              <li>対象<span>小学校中学年?高学年</span></li>
            </ul>
          </div>
        </div>
        <div class="row textbox mgb50">
          <div class="col-xs-4 col-md-2 textimg">
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626229/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626229&linkCode=as2&tag=wte-support-22&linkId=97b87cef0e81e41e901532b69e99ed27">
              <img src="/assets/img/books/img_letsgo5.png" alt="Let's Go Level 5" />
            </a>
          </div>
          <div class="col-xs-8 col-md-4 textdet">
            <h4><a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626229/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626229&linkCode=as2&tag=wte-support-22&linkId=97b87cef0e81e41e901532b69e99ed27">Let's Go Level 5<img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0194626202" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0194626229" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a></h4>
            <p>活動・過去・未来についての話、五感を使った表現を使えるようになります。動詞の過去進行形や現在完了形を学ぶことが出来ます。</p>
            <ul class="textinfo">
              <li>対象<span>小学校高学年?中学低学年</span></li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-2 textimg textright">
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626237/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626237&linkCode=as2&tag=wte-support-22&linkId=d181324acb4af391b882422adb3a53a7">
              <img src="/assets/img/books/img_letsgo6.png" alt="Let's Go Level 6" />
            </a>
          </div>
          <div class="col-xs-8 col-md-4 textdet">
            <h4><a target="_blank" href="https://www.amazon.co.jp/gp/product/0194626237/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=0194626237&linkCode=as2&tag=wte-support-22&linkId=d181324acb4af391b882422adb3a53a7">Let's Go Level 6<img src="//ir-jp.amazon-adsystem.com/e/ir?t=wte-support-22&l=am2&o=9&a=0194626237" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a></h4>
            <p>技能についての話や、原因と結果の説明をすることが出来るようになります。仮定条件を使った文を作ることが出来るようになります。</p>
            <ul class="textinfo">
              <li>対象<span>小学校高学年?中学低学年</span></li>
            </ul>
          </div>
        </div>
          
          
      </div>
    </section>
  
  <!--footer.html読み込み-->
  <TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
  
</body>
</html>
