<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>桐原書店のノウハウが凝縮された オンラインTOEFL iBT&reg;対策</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,桐原書店,TOEIC,英検,TOEFL,iBT&reg;対策" />
  <meta property="og:title" content="桐原書店のノウハウが凝縮された オンラインTOEFL iBT&reg;対策" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toefl.jpg" />
  <meta property="og:site_name" content="KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/WTE/reg.cgi" />
  <meta name="twitter:title" content="桐原書店のノウハウが凝縮された オンラインTOEFL iBT&reg;対策" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toefl.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
  <link rel="stylesheet" href="/assets/css/lp.css?4">
<style>
.wt_course strong.text-orange{
     color: #ff2717;
}
.wt_course strong.text-orange2{
     color: #ff7e00;   
}  
.wt_catch p.wt_mcopy {
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.2em;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #454545!important;
    font-size: 16px;
    border-radius: 10px;
    background: #fbd5d5;
}  
.wt_mvbtn a:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 10px;
    background: url("/assets/img/common/mv_btn_essay.png") no-repeat left bottom;
    background-size: contain;
    z-index: 5;
    width: 75px;
    height: 75px;
} 
    @media (min-width:768px){
        .img_study img{
            position: absolute;
            right: 15px;
            bottom: 25px;
        }   
    }    
</style>      
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main wt_essay">

        <section class="wt_mainvis wt_slider_toefl">
          <div class="wt_catch">
            <div class="wt_catch_circle">
              <div>
                <h2 class="txt_lt mt-4 pb-0">桐原書店<b style="font-size: 60%;">のノウハウが凝縮された</b></h2>  
                <h1 class="mb-5">オンラインTOEFL iBT&reg;対策</h1>
                <!--<div class=""><a href="#register" class="btn wt_btn btn-primary rounded-pill ">無料で動画視聴する</a></div>-->                  
                <div class="text-center">
                  <p class="wt_mcopy">コース改定のため新規販売休止中
                  </p>
                </div>
                <div class="wt_mvbtn"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">気になる方は会員登録から！</a></div>
              </div>
            </div>
          </div>
          <ul class="wt_slider wt_slider_toefl">
            <li class="wt_slider_toefl"></li>
          </ul>
        </section>
          
          
        <section>
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-10 offset-md-1">           
                  <div class="row">
                    <div class="col-12 wt_headline">
                      <p class="pl-3 pl-lg-5">本コースは2026年1月の<a href="https://www.toefl-ibt.jp/test_takers/toefl_ibt/202601/" target="_blank">TOEFL iBT改訂</a>に対応するため、一次的に<strong class="text-danger">新規販売を休止</strong>させていただいております。</p>
                      <p class="pl-3 pl-lg-5">2026年春に一部内容をリニューアルして販売再開予定です。<br>今しばらくお待ちいただければ幸いです。</p>
                      <p class="pl-3 pl-lg-5">ご質問・ご不明点がございましたら、<a href="/WTE/site.cgi?m=inqfrmshw">お問合せフォーム</a>からご連絡ください。
                      <p class="m-0 pl-3 pl-lg-5">2026年2月　KIRIHARA Online Academy運営事務局</p>    
                    </div>
                  </div>
               </div>
            </div>                    
            </div>
        </section>          
          
        <!--<section class="d-none">
          <div class="container">
              
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">  
                <a href="https://academy.kirihara.co.jp/wte/event20250417">   
                  <img src="/assets/img/toefl/topbanner_school2025-04-17.png" class="w-100" alt="ETS Japan共催セミナーのお知らせ">     
                </a>    
              </div>
            </div>             

          </div>
        </section>-->              


        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">『TOEFL iBT&reg; Starterコース』</strong>のご案内<!--<br><span style="font-size: 60%;">※2025年1月開講</span>--></h2>
                  <h4 class="text-center"></h4>  
              </div>
            </div>
              
            <div class="row mb-5">
              <div class="col-12 mb-3">
                <p>TOEFL iBT&reg;は、一般的に大学留学や大学院留学において対応できる力を測定するテストのため、リーディング、リスニング、スピーキング、ライティングという技能別の4つのセクションすべてにおいて、大学生活を想定したアカデミックな英語に対応できる力が必要となります。</p>
                <p>また、「話す」「書く」といったひとつの技能だけでなく、複数の技能を組み合わせて解答する統合型問題も出題されますので、スピーキングやライティングにおいても、設問読解力やリスニング力との合わせ技が必要となります。</p>
                <p>2023年のリニューアルではAcademic Discussion Taskという新形式の設問も加わりました。</p>
              </div>
              <div class="col-12 my-3">
                <img src="/assets/img/toefl/img_toefl_theme.png" class="w-100" alt="『TOEFL iBT&reg; Starterコース』のご案内">
                <h6 class="text-right font-weight-normal pt-2">※ETS Japan　TOEFL®テスト日本事務局サイトより<br><a href="https://www.toefl-ibt.jp/test_takers/toefl_ibt/2hours/" target="_blank">https://www.toefl-ibt.jp/test_takers/toefl_ibt/2hours/</a></h6>  
              </div>
            </div> 
              
              
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center">
                  <p class="wt_mcopy">コース改定のため新規販売休止中
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">気になる方は会員登録から！</a></div>
              </div>
            </div>                 
              
 
          </div>
        </section>    
          
        <section class="wt_sec_bg_1">
          <div class="container">  
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center">TOEFL iBT&reg;を<strong class="txt_kiri">学習する目的</strong>は？</h2>
                  <h4 class="text-center"></h4>  
              </div>
            </div>              
            <div class="row mb-5">
              <div class="col-12 col-lg-6 mb-3">
                <p>皆さんがTOEFL&reg; iBTを受験する目的は何ですか？ </p> 
                <p>大学や大学院への留学および国内進学でしょうか？<br>語学留学またはロースクール・ビジネススクールなどへの留学でしょうか？<br>あるいはご自身の英語力におけるスキル強化・弱点克服でしょうか。</p>
                <p>留学や大学院進学等を視野に入れてTOEFL iBT&reg;の学習を決意したものの、現実的な英語力がTOEFL iBT&reg;を受験するレベルに達しておらず苦悩されているとの声を英語学習者の方からよく耳にします。<br>とくにスピーキングやライティングは、独学での習得が非常に困難な技能といえるでしょう。</p>
                <p>そのような方のために、KIRIHARA Online Academyでは、現状の英語力からTOEFL iBT&reg;の本受験にトライできる英語レベルに引き上げるための橋渡しとなるコースを開発しました。</p>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <img src="/assets/img/toefl/img_toefl_01.jpg" class="w-100" alt="TOEFL iBT&reg;を学習する目的は？">
              </div>
              <div class="col-12 mb-3">
                  <p><strong>『TOEFL iBT&reg; Starterコース』</strong>は、TOEFL iBT&reg;の初学者で学習方法が定着していない方や、学習開始を視野に入れながらTOEFL iBT&reg;に必要な英語力まで高めたい方のためのプログラムです。</p>
                  <p><strong>『TOEFL iBT&reg; Starterコース』</strong>には以下のねらいがあり、受講生のTOEFL iBT&reg;における目標到達に向けてのアプローチや留学時の学びをより充実したものとするための基礎力や対応力の強化を図ります。</p>
              </div>    
            </div> 
            <div class="row">
              <div class="col-12 col-xl-10 offset-xl-1 pb-5">              
                <div class="wt_problem wt_problem2">
                  <h3 class="text-center txt_kiri">本コースのねらい</h3>
                  <div class="row">
                    <div class="col-12 text-center">
                      <ul class="p-0 mb-0 p-lg-3">
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>TOEFL iBT&reg;のスタートラインに立つための英語力（4技能）を身に付けること</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>TOEFL iBT&reg;の2023年以降の新形式の特徴や出題内容を体感すること</li>
                        <li class="mb-2"><span class="fas fa-check" aria-hidden="true"></span>留学や進学後においても自立的に学んでいくための基礎力をつけること</li>
                      </ul>
                    </div>                     
                  </div>
                </div>
              </div>
              <div class="col-12 pt-lg-3">  
                <p>TOEFL iBT&reg;の各セクションで問われる知識やスキルを磨くために、学習しやすく効果が出やすい順に学習していきますので、不安や苦手意識のある方にこそご活用いただきたいプログラムです。</p>  
              </div>
            </div>              
          </div>
        </section>    
               

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center"><strong class="txt_kiri">料金</strong>について</h2>

              </div>
            </div>
              
            <TMPL_INCLUDE NAME="../include/price_toefl.html">
                
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center">
                  <p class="wt_mcopy">コース改定のため新規販売休止中
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">気になる方は会員登録から！</a></div>
              </div>
            </div>                   
              
          </div>
        </section>


        <section class="wt_bggrey d-none">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">受講までの<strong class="txt_kiri">流れ</strong></h2>
                <p class="text-center">最短3分！すぐに学習を始められます。</p>  
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_1 mb-5">
                <span class="wt_flow_step"><span class="lead">1</span></span>
                <img src="/assets/img/reg/flow_1.png" alt="無料会員登録をする" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">無料会員登録をする</h3>
                <p>氏名・メールアドレスを記載するのみ！簡単30秒！</p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_2 mb-5">
                <span class="wt_flow_step"><span>2</span></span>
                <img src="/assets/img/reg/flow_2.png" alt="お申込みをする" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">お申込みをする</h3>
                <p>すぐにメールをお送りします。お申込みフォームに入力して完了！</p>  
              </div>
              <div class="col-12 col-md-6 col-lg-4 text-center wt_flow wt_flow_3 mb-5">
                <span class="wt_flow_step"><span>3</span></span>
                <img src="/assets/img/reg/flow_3.png" alt="レッスン受講開始" class="w-100 rounded-circle img-thumbnail mb-4">
                <h3 class="mb-4 txt_kiri">レッスン受講開始</h3>
                <p>お支払いの確認ができましたら、視聴用のリンクをお送りします。テキストをダウンロードし、即受講いただけます。</p>  
              </div>
            </div>
          </div>
        </section>
            
        <section class="wt_bggrey">
          <div class="container">
            <div class="row">
              <div class="col-12 mb-5">
                  <h2 class="text-center"><strong class="txt_kiri">使用教材</strong>について</h2>
                  <p>『TOEFL iBT&reg; Starterコース』では受講生の方に、講座での使用教材として以下を無償にてご提供します。これらの教材を活用して無理なく基礎力の底上げを目指します。</p>
              </div>
            </div>
              
            <p class="mb-2">※以下4教材はコース加入者にプレゼントさせていただきます</p>  
            <div class="row textbox texttop">
              <div class="col-4 col-md-2 textimg">
                  <img src="/assets/img/books/eikentext_1.png" alt="ataBase AVAIL 4技能 英単語・熟語" class="w-100 h-auto" />
              </div>
              <div class="col-8 col-md-4 textdet">
                <h4>DataBase AVAIL 4技能 英単語・熟語</h4>
                <p>出版：桐原書店<br>著者：桐原書店編集部 編</p>
                <p>英単語約1,900，熟語約200をレベル別・テーマ別に分類して収録。</p>
              </div>
              <div class="col-4 col-md-2 textimg textright">
                  <img src="/assets/img/toefl/toefltext_1.png" alt="英語4技能ハイパートレーニング 長文読解（３）標準編" class="w-100 h-auto" />
              </div>
              <div class="col-8 col-md-4 textdet">
                <h4>英語4技能ハイパートレーニング 長文読解（３）標準編</h4>
                <p>出版：桐原書店<br>著者：安河内哲也 著／アンドリュー・ロビンス【監修】</p>
                <p>※レベルや必要に応じて，TOEFLに近いタイプの問題を解いていただきます</p>
              </div>
            </div>
            <div class="row textbox texttop mb-5">
              <div class="col-4 col-md-2 textimg">
                  <img src="/assets/img/toefl/toefltext_2.png" alt="英語4技能ハイパートレーニング 長文読解（４）中級編" class="w-100 h-auto" />
              </div>
              <div class="col-8 col-md-4 textdet">
                <h4>英語4技能ハイパートレーニング 長文読解（４）中級編</h4>
                <p>出版：桐原書店<br>著者：安河内哲也 著／アンドリュー・ロビンス【監修】</p>
                <p>※レベルや必要に応じて，TOEFLに近いタイプの問題を解いていただきます</p>
              </div>
              <div class="col-4 col-md-2 textimg textright">
                <img src="/assets/img/toefl/toefltext_3.png" alt="英語4技能ハイパートレーニング 長文読解（５）上級編" class="w-100 h-auto" />
              </div>
              <div class="col-8 col-md-4 textdet">
                <h4>英語4技能ハイパートレーニング 長文読解（５）上級編</h4>
                <p>出版：桐原書店<br>著者：安河内哲也 著／アンドリュー・ロビンス【監修】</p>
                <p>※レベルや必要に応じて，TOEFLに近いタイプの問題を解いていただきます</p>
              </div>
            </div>
              
            <p class="mb-2">※以下の教材を各自ご購入いただきます</p>

            <div class="row textbox texttop">
              <div class="col-4 col-md-3 textimg">
                <a href="https://amzn.to/4fXGAH1" target="_blank">                  
                  <img src="/assets/img/toefl/toefltext_4.png" alt="ataBase AVAIL 4技能 英単語・熟語" class="w-100 h-auto" />
                </a>
              </div>
              <div class="col-8 col-md-9 textdet">
                <h4>The Official Guide to the TOEFL iBT&reg; Test<br>SEVENTH EDITION<br>※TOEFL iBT&reg;公認ガイド</h4>
                <p>出版：McGraw-Hill<br>著者：Educational Testing Service著<br>価格：6,380円（税込）</p>
                <p>最新のOfficial Guide 7thを使用することで，本番の試験に近い問題を体感できます。</p>
              </div>
            </div>              

              <div class="row mt-5">
                <div class="col-12">
                  <p class="mb-2">ぜひKIRIHARA Online Academyの「TOEFL iBT&reg; Starterコース」を活用してTOEFL iBT&reg;に関する知見を高め、効率的にスコアアップを実現して、将来への道を切り開いてください。</p>
                </div>
              </div>
              
                
            <div class="row mt-5">
              <div class="col-12">              
                <div class="text-center">
                  <p class="wt_mcopy">コース改定のため新規販売休止中
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">気になる方は会員登録から！</a></div>
              </div>
            </div>                   
              
           </div>
         </section>            
        


          <section class="wt_sec_bg_1 wt_toeic d-none">
            <div class="container pdb0">
              <div class="row">
                <div class="col-12 mb-5">
                  <h2 class="text-center">よくある<strong class="txt_kiri">質問</strong></h2>
                </div>
              </div>
            </div>
            <div class="container faq">
              <div class="row">
                <div class="col-12 mb-5">
                  <h2>オンライン家庭教師に関するご質問</h2>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>お支払い方法を教えてください</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">クレジットカード・銀行振込でのお支払いが可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>受講期限はありますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">申込日から3ヶ月です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>視聴期限はありますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">購入いただければ永遠に視聴可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>パソコン・タブレットは必要でしょうか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">画面上でテキストを見ながら学習する場合は必要です。携帯での受講も可能です。</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>個別指導コースのみの受講はできますか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">可能ですが、オンデマンドを受講頂いた後に個別指導コースの受講がおすすめです！</p></div>
                  </div>

                  <div class="fbox">
                    <h3 class="question wt_question pt-3 pb-5"><strong><span class="mr-2 mr-md-5">Q</span>教材の購入は必要ですか</strong></h3>
                    <div class="answer wt_bggrey"><p class="p-5 mb-0">テキスト教材の購入は不要です。弊社オリジナルの教材をPDFでダウンロードしていただきます。</p></div>
                  </div>
                </div>
              </div>

            </div>
          </section>          
          

        <section id="register" style="display: none;">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">まずは<strong class="txt_kiri">無料で動画視聴</strong>を<br class="d-block d-md-none">会員登録はこちらから</h2>
                <p class="text-lg-center mb-lg-5">会員登録いただいた方には、無料動画を用意しています。</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">
                <div class="wt_form wt_form_layer">

                  <form method="post" action="%CGI_URL%">
                    <input type="hidden" name="m" value="cfmset" />
                    <input type="hidden" name="pkey" value="%pkey%" />
                    <TMPL_IF NAME="errs">
                      <p class="errs">%errs%</p>
                    </TMPL_IF>

                    <div class="form-group" style="display: none">
                      <label class="required %member_lastname_err% %member_firstname_err%">お名前</label>
                      <div class="row">
                        <div class="col-2 col-sm-1">
                          <label for="member_lastname" class=" %member_lastname_err% %member_firstname_err%">%member_lastname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_lastname" name="member_lastname" value="%member_lastname%" placeholder="（例）山田" class="form-control %member_lastname_err%" />
                        </div>
                        <div class="col-2 col-sm-1">
                          <label for="member_firstname" class="%member_lastname_err% %member_firstname_err%">%member_firstname_caption%：</label>
                        </div>
                        <div class="col-10 col-sm-5" style="line-height:1">
                          <input type="text" id="member_firstname" name="member_firstname" value="%member_firstname%" placeholder="（例）太郎" class="form-control %member_firstname_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_handle" class="required %member_handle_err%">%member_handle_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_handle" name="member_handle" value="%member_handle%" placeholder="（例）桐原一郎" class="form-control %member_handle_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_email" class="required %member_email_err%">%member_email_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="text" id="member_email" name="member_email" value="%member_email%" placeholder="（例）yamada@example.com" class="form-control %member_email_err%" />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="member_pass" class="required %member_pass_err%">%member_pass_caption%</label>
                        </div>
                        <div class="col-12 col-xl-8">
                          <input type="password" id="member_pass" name="member_pass" value="%member_pass%" placeholder="%member_pass_caption%を入力してください（8～12文字）" class="form-control %member_pass_err%" />
                          <div class="form-group">
                            <input type="password" id="member_pass2" name="member_pass2" value="%member_pass2%" placeholder="確認の為、再度%member_pass_caption%を入力してください" class="form-control %member_pass2_err%" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group" style="display:none;">
                      <label for="coupon_code" class="%coupon_code_err%">%coupon_code_caption%</label>
                      <input type="text" id="coupon_code" name="coupon_code" value="rwmvhpjo" class="form-control %coupon_code_err%" />
                      <ul class="note">
                        <li>%coupon_code_caption%をお持ちの方は、ここに8桁の半角英数字で入力してください</li>
                      </ul>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-xl-4">
                          <label for="agree">利用規約</label>
                        </div>
                        <div class="col-12 col-xl-8 mb-5">
                          <div class="wt_termsbox wt_termsbox_lp">
                            <div>
                              <TMPL_INCLUDE NAME="../include/agreement.html">
                            </div>
                            <div>
                              <TMPL_INCLUDE NAME="../include/privacypolicy.html">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center">
                          <h5 class="text-center">規約に同意いただいた方は、「次へすすむ」ボタンを押してください</h5>
                        </div>
                      </div>

                      <div class="text-center mb-5">
                        <input type="submit" value="次へすすむ" class="btn btn-danger rounded-pill wt_btn" />
                      </div>

                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
     
        <TMPL_INCLUDE NAME="../include/foot.html">
          <script src="%static_url%/js/dom.js"></script>
          <script src="%static_url%/js/inputlimit.js"></script>
          <style>
            #coupon_code {
              width: 8em;
            }

          </style>
</body>

</html>
