<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>DAYゼロについて｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="TOEIC(R) L&R対策コース　進め方について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/about" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/about" />
  <meta name="twitter:title" content="TOEIC(R) L&R対策コース　進め方について｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_head_lesson">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>TOEIC&reg; L&amp;R テスト730点突破コース</h1>
                      </div>
                  </div>
              </div>
          </section>
          
          <!--TOP説明-->
           <section>
            <div class="container">
               <h2 class="text-center">今後の進め方について</h2>
                <div class="row mb-5">
                    <div class="col-12 col-md-6 pr-md-5 pl-md-5">
                    <p>TOEIC&reg; L&amp;Rテスト730点突破コースに加入いただいた方へ、今後の手順についてご案内いたします。</p>
                     <p>これからオンラインレッスンをスタートするまで、以下のステップで進んでまいります。</p>
                  <ol class="font-weight-bold">
                    <li>教材を準備する</li>
                    <li>必要シートをダウンロードする</li>
                    <li>DAYゼロをスタートする</li>
                    <li>学習記録を付ける</li>
                    <li>オンラインレッスンをスタートする</li>
                  </ol>
                  <p>それぞれ確認いただきまして、TOEIC&reg; L&amp;Rテスト対策を進めていきましょう。</p>
                  
                  <p>また、カリキュラムは、<a href="https://academy.kirihara.co.jp/assets/pdf/ca_toeic_730.pdf">こちらのページ</a>にてご確認いただけます。</p>
                  </div>
                     <div class="col-12 col-md-6 pr-md-5 pl-md-5 mb-5">
                      <iframe width="384" height="216" src="https://www.youtube.com/embed/cA9d5TTqWOk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            
            </div>
          　</section>

          <!--教材の準備-->
            <section>
            <div class="container">
               <h2 class="text-center">教材の準備</h2>
                <div class="row mb-5">
                    <div class="col-12 col-md-6 pr-md-5 pl-md-5">
                    <p>こちらのコースでは、以下の3冊の教材を提供しております。</p>
                      <ol class="font-weight-bold mb-4">
                        <li>書き込みドリル</li>
                        <li>Database TOEIC</li>
                        <li>FACTBOOK（初版）</li>
                      </ol>
                      <p>会員様ご自身で、公式問題集8（IIBC出版）のご用意をお願いいたします。</p>
                      <ul>
                          <li>Amazonで購入<br><a href="https://amzn.to/3GttdM9" traget="_blank">https://amzn.to/3GttdM9</a></li>
                          <li>楽天ブックで購入<br><a href="https://a.r10.to/haj8Rg" traget="_blank">https://a.r10.to/haj8Rg</a></li>
                      </ul>
                    </div>
                    
                     <div class="col-12 col-md-6 pr-md-5 pl-md-5 mb-5">
                      <iframe width="384" height="216" src="https://www.youtube.com/embed/cA9d5TTqWOk?start=52" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
          　</section>
          
          
          <!--シートのダウンロード-->
          <section>
            <div class="container">
               <h2 class="text-center">シートのダウンロード</h2>
                <div class="row mb-5">
                    <div class="col-12 col-md-6 pr-md-5 pl-md-5">
                        <p>カリキュラムを進めるにあたり必要なシートをご用意しております。URLにアクセスし、ダウンロードをお願いいたします。</p>
                    <p>【ファイル内容】<br>
                    Excelデータ：730点コース管理シート<br>
                    PDFデータ：TOEICテスト自己分析表、TOEICテスト自己分析表（サンプル）、学習記録シート、Free Reading Speed Test Matrix</p>
                    <p>Excelデータ、PDFデータどちらも内容は同じです。PDF版は、印刷してご利用ください。Excel版は直接Excelにご入力ください。</p>
                    
                    <div class="offset-md-1 text-center">
                      <a href="https://academy.kirihara.co.jp/assets/pdf/toeic_730_check.zip" class="btn btn-primary rounded-pill wt_btn"><span class="fa"></span> シートをダウンロード</a>
                    </div>
                    </div>
                    
                     <div class="col-12 col-md-6 pr-md-5 pl-md-5 mb-5">
                      <iframe width="384" height="216" src="https://www.youtube.com/embed/cA9d5TTqWOk?start=149" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
          </section>

          <!--DAYゼロについて-->
          <section>
            <div class="container">
               <h2 class="text-center">DAYゼロについて</h2>
                <div class="row mb-5">
                    <div class="col-12 col-md-6 pr-md-5 pl-md-5">
                    <p>「DAYゼロ」は、オンラインレッスンを開始する前に、自分の実力を診断するための期間です。公式問題集8の準備が完了いたしましたら、時間を計って公式問題集のTEST1を実際のテスト形式で解いていきましょう。</p>
                    <p>解き終えましたら、答え合わせを行い、ダウンロードした「TOEICテスト自己分析表」にご入力をお願いいたします。<br>【所要時間】<br>リスニングセクション：約45分<br>リーディングセクション：約75分</p>
                    </div>
                    
                     <div class="col-12 col-md-6 pr-md-5 pl-md-5 mb-5">
                      <iframe width="384" height="216" src="https://www.youtube.com/embed/cA9d5TTqWOk?start=217" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    
                    <div class="col-12 col-md-6 pr-md-5 pl-md-5">
                    <h3>DAYゼロ期間に取り組む課題（推奨）</h3>
                    <p>公式問題集でのテストが終わりましたら、オンラインレッスンを受講するまでに<strong>文法の確認</strong>を行うことを推奨しています。「FACTBOOK」、若しくは皆さまの方でお持ちの「英語の文法書」を活用し、TOEICに必要とされる英文法の不明点を確認しましょう。</p>
                    </div>
                    
                    <div class="col-12 col-md-6 pr-md-5 pl-md-5 mb-5">
                      <iframe width="384" height="216" src="https://www.youtube.com/embed/cA9d5TTqWOk?start=501" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
               </div>
            </div>
          </section>

          <!--オンラインレッスンをスタートする-->
          <section>
            <div class="container">
               <h2 class="text-center">オンラインレッスンをスタートする</h2>
                <div class="row mb-5">
                    <div class="col-12 col-md-6 pr-md-5 pl-md-5">
                    <p>DAYゼロが完了いたしましたら、オンラインレッスンをスタートします。レッスンをスタートするには、レッスンをご予約頂く必要がございます。</p>
                    <ol>
                     <li>マイページにログイン</li>
                     <li>【TOEIC&reg; L&amp;Rテスト730点突破コース】をクリック</li>
                     <li>表示された講師を選んで、クリックする</li>
                     <li>カレンダーから、レッスンを受講できる日時を選んでクリック</li>
                     <li>【TOEIC&reg; L&amp;R テスト730点突破コース】を選択し<br>「予約確定」をクリック</li>
                     <li>レッスン予約完了</li>
                    </ol>
                    <p>予約時間までにZoomを立ち上げて受講しましょう！</p>
                    </div>
                    
                     <div class="col-12 col-md-6 pr-md-5 pl-md-5 mb-5">
                      <iframe width="384" height="216" src="https://www.youtube.com/embed/cA9d5TTqWOk?start=809" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    
                    <div class="col-12 col-md-6 pr-md-5 pl-md-5">
                    <h3>レッスン受講期間中に取り組む課題（推奨）</h3>
                    <ul>
                        <li>多読・速読のトレーニング<br>「Free Reading Speed Test」を利用し、多読・速読のトレーニングを行いましょう。
                        <br>Free Reading Speed Test：<a href="http://www.freereadingtest.com/" target="_blank">http://www.freereadingtest.com/</a></li>
                        <li>音読のトレーニング<br>KIRIHARA Online Academyで最も推奨している学習方法です。<br>
                            <ul>
                                <li>書き込みドリルで問題を解いたら、問題文や解答を音読する</li>
                                <li>単語を覚えたら例題を音読する</li>
                                <li>公式問題集で解答を確認したら、問題文や解答を音読する</li>
                            </ul>
                            など、日々の学習に取り入れていきましょう。
                        </li>
                    </ul>
                    </div>
                    
                    <div class="col-12 col-md-6 pr-md-5 pl-md-5 mb-5">
                      <iframe width="384" height="216" src="https://www.youtube.com/embed/cA9d5TTqWOk?start=549" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
               </div>
            </div>
          </section>

          
          <!--学習記録について-->
          <section>
            <div class="container">
               <h2 class="text-center">学習記録について</h2>
                <div class="row mb-5">
                    <div class="col-12 col-md-6 pr-md-5 pl-md-5">
                        <p>教材が届き、学習をスタートしたタイミングから、ダウンロードした「学習記録シート」に、毎日「何を」「何時間（何分）」やったかの記入を行いましょう。学習記録は講師とのレッスンの一番最初に毎回確認し合いますので、毎日忘れずに記録をお願いいたします。ご自身が2ヶ月間、どのくらいの学習を積み上げてきたのかを可視化することができ、モチベーションも上がります。学習を続けていくためにも、記録に残すことはとても大切です。楽しみながら、記入していきましょう！</p>
                    </div>
                    
                     <div class="col-12 col-md-6 pr-md-5 pl-md-5 mb-5">
                      <iframe width="384" height="216" src="https://www.youtube.com/embed/cA9d5TTqWOk?start=757" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
          </section>
          
          
<!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">
</body>
</html>
