<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>TOEIC&reg;対策コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」</title>
  <meta name="description" content="この度、TOEIC対策を「さらに」充実させるために、講座修了者へ「サブスクリプション型」の定期コースを提供することになりました。より一層TOEIC&reg;の力をつけるための、新しいプランです！ぜひ、通常の講座と合わせてご活用くださいませ。" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,KIRIHARA Online Academy,TOEIC,早川幸治" />
  <meta property="og:title" content="TOEIC&reg;対策コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="この度、TOEIC対策を「さらに」充実させるために、講座修了者へ「サブスクリプション型」の定期コースを提供することになりました。より一層TOEIC&reg;の力をつけるための、新しいプランです！ぜひ、通常の講座と合わせてご活用くださいませ。" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/toeicsubsc2" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeicsubsc.jpg" />
  <meta property="og:site_name" content="TOEIC&reg;対策プログラム｜オンラインで2ヶ月間短期集中｜KIRIHARA Online Academy" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/toeicsubsc2" />
  <meta name="twitter:title" content="TOEIC&reg;対策コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」" />
  <meta name="twitter:description" content="この度、TOEIC対策を「さらに」充実させるために、講座修了者へ「サブスクリプション型」の定期コースを提供することになりました。より一層TOEIC&reg;の力をつけるための、新しいプランです！ぜひ、通常の講座と合わせてご活用くださいませ。" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeicsubsc.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
    <link rel="stylesheet" href="/assets/css/lp.css?4">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header_toeic.html">

      <main role="main" class="wt_main">

        <section class="wt_headvis wt_head_toeic">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>TOEIC&reg;対策コース修了者向け定期コース</h1>
              </div>
            </div>
          </div>
        </section>



        <section class="wt_sec_grey">
          <div class="container">
            <div class="row ">
              <div class="col-12">
                <h2 class="text-center">講座が終わった後も学習を<strong class="txt_kiri">サポート</strong><br>修了者向け定期学習コーススタート</h2>
              </div>
              <!--<div class="col-12 col-md-8 offset-md-2">
                <div class="mb-5">
                  <img src="/assets/img/toeic/toeicsubsc.jpg" class="w-100 h-auto" alt="TOEIC&reg;対策コース修了者向け定期コース">
                </div>
                <p>「いつも励ましていただき学習習慣がつきました」<br>
                  「この2ヶ月間で英語力がワンランク上がりました」<br>
                  「リスニングのコツがわかりやる気が湧きました」</p>
                  <p>受講生の皆さまから、沢山のお喜びの声をいただいております！</p>
                  <p>この度、TOEIC対策を「さらに」充実させるために、講座修了者へ「サブスク型」の定期コースを提供することになりました。</p>
                  <p>より一層TOEICの力をつけるための、新プランです！<br>
                  通常の講座と合わせてご活用いただけますと幸いです。</p>
              </div>
              <div class="col-12 col-md-5">
              </div>-->
            </div>
            <div class="row ">
              <div class="col-12 col-md-6">
                  <p>「いつも励ましていただき学習習慣がつきました」<br>「この2ヶ月間で英語力がワンランク上がりました」<br>「リスニングのコツがわかりやる気が湧きました」</p>
                  <p>受講生の皆さまから、沢山のお喜びの声をいただいております！</p>
                  <p>この度、TOEIC対策を「さらに」充実させるために、講座修了者へ「サブスクリプション型」の定期コースを提供することになりました。</p>
                  <p>より一層TOEIC&reg;の力をつけるための、新しいプランです！<br>ぜひ、通常の講座と合わせてご活用くださいませ。</p>
              </div>
              <div class="col-12 col-md-6">      
                  <img src="/assets/img/toeic/toeicsubsc-2.jpg" class="w-100 h-auto" alt="TOEIC&reg;対策コース修了者向け定期コース">
              </div>                
             </div>      
          </div>
        </section>
          
          
       <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">更なる<strong class="txt_kiri">スコアアップ</strong>に向けた<br>定期学習コースの特長</h2>
                <p class="text-left text-md-center">定期学習コースは、TOEIC対策講座(全8回コース)を終えて、<br class="d-none d-md-block">追加で授業を受けたい・TOEICの更なるスコアアップを目指したいという方に向けたオンリーワンのコースです。<br>TOEIC対策講座(全8回コース)に引き続き、担当講師が受講生一人一人の苦手分野の強化に注力したレッスンを提供します。</p>
              </div>
            </div>
          </div>

          <div class="container-fluid">

            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 1</div>
                    <h3 class="text-left">苦手を<strong class="text-primary">ピンポイント</strong>で強化</h3>
                    <p>KIRIHARA Online Academy独自の問診票を元に講師とのカウンセリングで苦手を見つけ、受講生のスコアアップのお手伝いをいたします。カリキュラム通りに進むTOEIC対策講座(全8回コース)とは異なり、自身の苦手の克服にコミットした授業を受けることで着実な英語力UPに繋がります。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_2.jpg" alt="2ヶ月間の学習カリキュラムで英検受験のための総合力を鍛えます" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2 pl-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 2</div>
                      <h3 class="text-left"><strong class="text-primary">講座と同じ講師</strong>が担当</h3>
                    <p>TOEIC講座を担当した講師が定期コースも継続して担当することが可能です！2ヶ月間共に学習をした講師なので、受講生一人一人の苦手な分野を理解しています。細やかなサポートが可能なので、安心して受講いただけます。</p>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
              <div class="col-12 col-md-6 order-md-1 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_4.jpg" alt="単語やフレーズの定着度をテスト試験に出やすい語句に集中" class="w-100 h-auto">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 pr-md-5">
                <div class="row h-100 align-items-center">
                  <div class="col-md-3"></div>
                  <div class="col-12 col-md-9 p-md-5">
                    <div class="badge wt_badge">point. 3</div>
                      <h3 class="text-left"><strong class="text-primary">必要な回数</strong>だけレッスン可能</h3>
                    <p>自分のペースに合わせてレッスン回数を毎月2回・4回から選択できます。<br>自己学習⇔講師との学習で定着に丁度良いペースの為、忙しい方でも無理なく継続できます。</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0 mb-5 mb-md-0">
                <img src="/assets/img/eiken1/img_eiken1_5.jpg" alt="必要な単語やフレーズの定着度を把握し重要な文法項目のチェックもできます" class="w-100 h-auto">
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12">

                <div class="text-center">
                  <p class="wt_mcopy">＼気になる講座を体験できる／
                  </p>
                </div>
                <div class="wt_mvbtn text-center"><a href="/WTE/reg.cgi?s=1"
                    class="btn btn-danger rounded-pill btn-lg">無料体験レッスン実施中 →</a></div>
              </div>
            </div>

          </div>
        </section>          

        <section class="wt_sec_grey">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center">修了者向け定期コース <strong class="txt_kiri">料金プラン</strong></h2>
                <p class="mb-5">こちらの講座は、突破コースを修了した方のみとなります。<br>月2回のコース、月4回のコースを用意しています。</p>
              </div>
            </div>

            <TMPL_INCLUDE NAME="../include/price_toeic_teiki.html">             

            <div class="row">
              <div class="col-12 text-center">
                <p class="text-center mb-2"><strong>＼体験レッスン実施中！たった5分で予約が可能／</strong></p>
                <div class="wt_mvbtn"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">まずはこちらから無料の会員登録をしてください</a></div>
              </div>
            </div>
          </div>
        </section>
          
        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center">今だけ！<strong class="txt_kiri">TOEICに特化した</strong><br class="d-block d-md-none">フレーズ学習できる<strong class="txt_kiri">教材プレゼント</strong></h2>
              </div>
              <div class="col-12 col-md-8">
                <p>定期学習コースにお申込みいただいた方限定！<br>TOEIC&reg;L&amp;Rテスト書き込みドリル【フレーズ言いまわし編】をプレゼント！</p>
                <p class="mb-0">【書籍の特徴】</p>
                <ul>
                      <li>1日4ページ“20日間”でよく出るフレーズの基礎が学べる</li>
                      <li>単語をフレーズ単位で覚えるため、文章で使われる形に近い学習が可能◎</li>
                      <li>書いて覚えるドリル形式（書く→覚える→定着する）</li>
                      <li>スコア500(日常会話である程度問題なくやりとりができるレベル)目標</li>
                      <li>「カリスマTOEIC講師」として知られる早川幸治（Jay）先生著作！</li>               
                </ul>                       
                 <p>こちらを活用することで、ツカエル英語表現を身に着けましょう！</p>
                 <div class="text-center"><a href="/wte/toeicsubsctext" class="btn btn-secondary rounded-pill wt_btn">教材説明はこちら</a></div>
              </div>
              <div class="col-12 col-md-4 text-center">
                <img src="/assets/img/toeic/books_present_sub.png" class="w-75 h-auto" loading="lazy"
                  alt="今だけ！TOEICに特化したフレーズ学習できる教材プレゼント">
              </div>
            </div>
          </div>
        </section>          
          
        <section class="wt_sec_turquoise">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">TOEIC&reg;コースに関するよくあるご質問</h2>
                <p class="text-center">%product_name%にこれまでいただいた質問をまとめました。<br>その他の不明点があれば、こちらのよくある質問ページもご確認ください。</p>
              </div>
            </div>

            <div class="row mt-5 mb-5 pb-3 faq">
              <div class="col-12">

                <div class="fbox">
                  <h3 class="question wt_question">TOEICの長文問題が解ききれないのですがいい勉強方法はありますか？</h3>
                  <div class="answer wt_bggrey">
                    <p>はい、KIRIHARA Online Academyでも推奨している「音読トレーニング」は、<br>長文を早く読むスキルを身につけるのに効果的なので、ぜひご活用ください。</p>
                    <p>他にも、長文に慣れることも大事です。<br>カリキュラムでは多読トレーニングを行う教材がありますので、とにかく多くの英文に触れ、少しでも速く読む訓練をすることも大事です。</p>
                    <p>毎日、5分〜10分程度でも、ちゃんと続けることで力になりますよ！</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">単語を覚えるのが苦手なのですが、単語学習も音読は効果的ですか？</h3>
                  <div class="answer wt_bggrey">
                    <p>はい、もちろん効果的です！<br>出来れば、単語帳に英語の例文が載っていると思うので、それを音読してください。</p>
                    <p>例えば、単語をフレーズ単位で覚えることもできるようになりますし、その単語がどんな場面で使われる単語か、<br>どんな単語と一緒に使われやすいのか？といったことも、音読で感覚として身についてくるのでとてもおすすめです！</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">TOEICでスコアアップするためには毎日何時間くらい勉強したらいいですか？</h3>
                  <div class="answer wt_bggrey">
                    <p>目標点数にもよりますが、KIRIHARA Online Academyのカリキュラムでは、一日3時間を推奨としてお伝えしています。</p>
                    <p>実際に毎日忙しくてなかなか3時間も、時間作れないよとおっしゃっる方は多いです。<br>でも、カリキュラムを受けていただいた方は、平日でも通勤時間や休み時間を使ったり、<br>休日で平日足りなかった学習時間の埋め合わせをしたり、みなさん頑張っていますよ！</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">音読はどのくらいやればいいですか？また音読のコツなどあれば教えてください</h3>
                  <div class="answer wt_bggrey">
                    <p>音読のコツですが、問題集を解いたらしっかりと答え合わせをしてください。<br>そして、正しい回答で自分の頭でちゃんと理解した英文を音読することがもっとも効果的です。</p>
                    <p>一つの英文に対し、5セット程度音読を繰り返してください。<br>出来るだけ反復することが大切ですので、次の日にまた音読を繰り返します。<br>日々継続して音読の習慣をつけていけば、英語の感覚が自然に身に付きますよ。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">カリキュラムについて、事前に確認することは出来ますか？</h3>
                  <div class="answer wt_bggrey">
                    <p>はい、可能です！<br>まず、各コースのカリキュラムの一部を各コースページにてご紹介させていただいております。<br>更に詳細の内容を知りたい方は体験レッスンをお申し込みください。<br>体験の流れと共に、ご案内をさせていただきます。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">教材の購入は必須でしょうか？</h3>
                  <div class="answer wt_bggrey">
                    <p>体験レッスンは無料教材を使用しますので、購入は不要です。<br>但し、実際のコース受講に関しては、教材購入をお願いしております。<br>一部、桐原書店から出版されている教材に関しては、コース受講者様に無償プレゼントさせていただいております。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">オンラインレッスンに必要な環境は何でしょうか？</h3>
                  <div class="answer wt_bggrey">
                    <p>PCとインターネット環境があればレッスンを実施することが出来ます。<br>スマホでの受講は教材が共有できないためお断りをしております。</p>
                  </div>
                </div>

                <div class="fbox">
                  <h3 class="question wt_question">講師はどうやって選べば良いですか？</h3>
                  <div class="answer wt_bggrey">
                    <p>はい、各講師教えられるコースは違いますので、体験したいコースより講師をお探しください。<br>各講師、自分の空いている時間をスケジュール枠として登録しておりますので、皆さまのご都合に合わせて予約をお願いいたします。</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12 text-center">
                <a href="/wte/faq" class="btn btn-secondary rounded-pill wt_btn">その他のご質問はこちらから</a>
              </div>
            </div>

          </div>

          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "FAQPage",
              "name": "TOEICコースに関するご質問",
              "mainEntity": [{
                  "@type": "Question",
                  "name": "Q. TOEICの長文問題が解ききれないのですがいい勉強方法はありますか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "はい、KIRIHARA Online Academyでも推奨している「音読トレーニング」は、長文を早く読むスキルを身につけるのに効果的なので、ぜひご活用ください。
                    他にも、 長文に慣れることも大事です。
                    カリキュラムでは多読トレーニングを行う教材がありますので、 とにかく多くの英文に触れ、 少しでも速く読む訓練をすることも大事です。
                    毎日、 5 分〜 10 分程度でも、 ちゃんと続けることで力になりますよ！ "
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 単語を覚えるのが苦手なのですが、単語学習も音読は効果的ですか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "はい、もちろん効果的です！
                    出来れば、 単語帳に英語の例文が載っていると思うので、 それを音読してください。
                    例えば、 単語をフレーズ単位で覚えることもできるようになりますし、 その単語がどんな場面で使われる単語か、 どんな単語と一緒に使われやすいのか？ といったことも、 音読で感覚として身についてくるのでとてもおすすめです！ "
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. TOEICでスコアアップするためには毎日何時間くらい勉強したらいいですか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "目標点数にもよりますが、KIRIHARA Online Academyのカリキュラムでは、一日3時間を推奨としてお伝えしています。
                    実際に毎日忙しくてなかなか3時間も、 時間作れないよとおっしゃっる方は多いです。
                    でも、 カリキュラムを受けていただいた方は、 平日でも通勤時間や休み時間を使ったり、 休日で平日足りなかった学習時間の埋め合わせをしたり、 みなさん頑張っていますよ！ "
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 音読はどのくらいやればいいですか？また音読のコツなどあれば教えてください",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "音読のコツですが、問題集を解いたらしっかりと答え合わせをしてください。
                    そして、 正しい回答で自分の頭でちゃんと理解した英文を音読することがもっとも効果的です。
                    一つの英文に対し、 5 セット程度音読を繰り返してください。
                    出来るだけ反復することが大切ですので、 次の日にまた音読を繰り返します。
                    日々継続して音読の習慣をつけていけば、 英語の感覚が自然に身に付きますよ。 "
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. カリキュラムについて、事前に確認することは出来ますか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "はい、可能です！
                    まず、 各コースのカリキュラムの一部を各コースページにてご紹介させていただいております。
                    更に詳細の内容を知りたい方は体験レッスンをお申し込みください。
                    体験の流れと共に、 ご案内をさせていただきます。 "
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 教材の購入は必須でしょうか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "体験レッスンは無料教材を使用しますので、購入は不要です。
                    但し、 実際のコース受講に関しては、 教材購入をお願いしております。
                    一部、 桐原書店から出版されている教材に関しては、 コース受講者様に無償プレゼントさせていただいております。 "
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. オンラインレッスンに必要な環境は何でしょうか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "PCとインターネット環境があればレッスンを実施することが出来ます。
                    スマホでの受講は教材が共有できないためお断りをしております。 "
                  }
                },
                {
                  "@type": "Question",
                  "name": "Q. 講師はどうやって選べば良いですか？",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "はい、各講師教えられるコースは違いますので、体験したいコースより講師をお探しください。
                    各講師、 自分の空いている時間をスケジュール枠として登録しておりますので、 皆さまのご都合に合わせて予約をお願いいたします。 "
                  }
                }
              ]
            }
          </script>            

        </section>
          
        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-12">
                  <h2 class="text-center"><strong class="txt_kiri">定期学習</strong>コースを受けるには？</h2>
              </div>
              <div class="col-12 col-md-6 pt-lg-4">
                <p>定期学習コースは、全8回のTOEIC&reg;コースの受講を終了された方が対象です。</p>
                <p>まずは、TOEIC&reg;コース　へのお申し込みをお願いいたします。</p>
                <p class="mb-0">既にTOEIC&reg;コースを終了されている方は、ぜひ定期学習コースをご受講ください。</p>
                  <ul>
                      <li>さらなるスコアアップを目指したい</li>
                      <li>引き続き同じ講師に教えてもらいたい</li>
                      <li>せっかく身につけた英語力を定着させたい</li>   
                      <li>苦手分野の強化をしたい</li> 
                  </ul>  
                <p>そんな思いを定期学習コースでサポートいたします！</p>
              </div>
              <div class="col-12 col-md-6 text-center pt-lg-5">
                <img src="/assets/img/toeic/books_present_sub2.png" class="w-80 h-auto" loading="lazy"
                  alt="今だけ！TOEICに特化したフレーズ学習できる教材プレゼント">
              </div>
            </div>
          </div>
        </section>           

        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item" content="https://academy.kirihara.co.jp/">
              <span class="wt_crumb" itemprop="item">ホーム</span>
              <meta itemprop="position" content="1">
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/toeic" itemprop="item" content="https://academy.kirihara.co.jp/wte/toeic">
              <span itemprop="name">TOEIC対策</span>
              <meta itemprop="position" content="2">
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/toeicsubsc" itemprop="item" content="https://academy.kirihara.co.jp/wte/toeicsubsc">
              <span itemprop="name">TOEIC&reg;対策定期コース</span>
              <meta itemprop="position" content="3">
            </a>
          </li>
        </ul>
      </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        <TMPL_INCLUDE NAME="../include/foot.html">
          <!-- Schema -->
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Article",
              "name": "TOEIC&reg;対策コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」",
              "headline": "短期集中型オンラインTOEIC対策の料金プランのご案内です。他校と比べても圧倒的な安さで充実のカリキュラムを受けられます",
              "description": "この度、TOEIC対策を「さらに」充実させるために、講座修了者へ「サブスクリプション型」の定期コースを提供することになりました。より一層TOEIC&reg;の力をつけるための、新しいプランです！ぜひ、通常の講座と合わせてご活用くださいませ。",
              "datePublished": "2022-10-26T09:00:00+09:00",
              "dateModified": "2023-12-27T13:00:00+09:00",
              "url": "https://academy.kirihara.co.jp/wte/toeicsubsc2",
              "mainEntityOfPage": "https://academy.kirihara.co.jp/wte/toeicsubsc2",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeicsubsc.jpg",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ],
              "author": [{
                "@type": "Organization",
                "name": "KIRIHARA Online Academy",
                "url": "https://academy.kirihara.co.jp/"
              }]
            }

          </script>
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "WebPage",
              "name": "TOEIC&reg;対策コース修了者向け定期コース｜桐原書店のオンライン英会話「KIRIHARA Online Academy」",
              "description": "この度、TOEIC対策を「さらに」充実させるために、講座修了者へ「サブスクリプション型」の定期コースを提供することになりました。より一層TOEIC&reg;の力をつけるための、新しいプランです！ぜひ、通常の講座と合わせてご活用くださいませ。",
              "url": "https://academy.kirihara.co.jp/wte/toeicsubsc2",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeicsubsc.jpg",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ]
            }

          </script>
</body>

</html>
