<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>TOEIC&reg;対策コースの教材のご紹介｜オンライン学習のKIRIHARA Online Academy</title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,KIRIHARA Online Academy,TOEIC,早川幸治" />
  <meta property="og:title" content="TOEIC&reg;L&amp;Rテスト対策コースの教材のご紹介｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/toeictext" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@KIRIHARA_WT" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/toeictext" />
  <meta name="twitter:title" content="TOEIC&reg;L&amp;Rテスト対策コースの教材のご紹介｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header_toeic.html">

    <main role="main" class="wt_main">

          <section class="wt_headvis wt_head_toeic">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>TOEIC&reg;L&amp;Rテスト対策コースの教材のご紹介</h1>
                      </div>
                  </div>
              </div>
          </section>



          <section>
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                      <h2 class="text-center">%product_name% 指定の<strong class="txt_kiri">レッスン教材</strong>について</h2>
                      <p class="wt_copy txt_kiri text-center mb-5">桐原書店のTOEIC教材で基礎力を強化し<br>TOEIC公式問題集を活用し、応用力を身につける！</p>
                      <p>KIRIHARA Online Academyでは、短期集中で目標スコアを獲得するために必要十分な 教材を活用したカリキュラムをご用意し、学習者の目標達成に向けてのサポートを行っています。<br>以下、利用する教材の説明をさせていただきます。</p>
                    </div>
                </div>
            </div>
          </section>

          <section class="wt_sec_turquoise">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-center">今だけ、5,500円相当の<br class="d-block d-md-none">書籍プレゼント！</h2>
                </div>
                <div class="col-12 col-md-8">
                  <p>KIRIHARA Online AcademyのTOEIC&reg; L&amp;Rテスト対策コースへ申込いただいた方に桐原書店から「もれなく」3冊の教材をプレゼントします！この機会にぜひご利用ください！</p>
                  <ul class="d-none d-md-block">
                    <li>TOEIC&reg; L&amp;Rテスト 書き込みドリル</li>
                    <li>DataBase TOEIC&reg; L&amp;Rテスト最強単語&amp;フレーズ</li>
                    <li>総合英語FACTBOOK ~ これからの英文法</li>
                  </ul>
                </div>
                <div class="col-12 col-md-4">
                  <img src="/assets/img/lp/books_present.png" class="w-100 h-auto" alt="桐原書店から「もれなく」3冊の教材をプレゼントします">
                </div>
              </div>
            </div>
          </section>

          <section class="wt_bggrey">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12">
                      <h3 class="text-center">コース購入者へ桐原書店よりプレゼントする教材について</h3>
                    </div>
                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-12 col-md-5 pr-md-5 pl-md-5 mb-5 text-center">
                      <img src="/assets/img/books/toeictext_1.jpg" class="w-75 h-auto rounded" alt=">TOEIC&reg;L&amp;Rテスト書き込みドリル">
                    </div>
                    <div class="col-12 col-md-7 pr-md-5 pl-md-5">
                      <h3 class="text-center" style="line-height:1.2;">TOEIC&reg;L&amp;Rテスト書き込みドリル<br><span style="font-size: 65%;">（著：早川幸治）</span></h3>
                      <p class="text-center txt_kiri"><strong>スコアが伸びないのは基本事項のとりこぼしです！ <br>記憶に定着しやすい書き込み式で、英語の基礎固めにおススメの教材です！</strong></p>
                      <p>シリーズ累計40万部の実績を誇るTOEIC教材。<br>14年前に初版が発売されて、現在では多くの大学でも指導用の教材として利用されています。</p>
                      <p>書き込みドリルが基礎固めに最適な理由として、よくある模擬試験問題集とは異なり、基礎を学ぶためのページが用意されていること。各パートごとの問題を解くために、必要な知識を一式学べるのが特徴です！</p>
                      <p>TOEIC試験の対策として、基本的な問題を落とさず得点することがスコアを安定させるコツです。スコアが伸びた方は「書き込みドリル」を完璧にマスターしたという結果が出ています。 <br>公式問題集に取り掛かる前に、基礎力をしっかり身につけて、英語力を伸ばしていきましょう！</p>
                    </div>

                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-12 col-md-5 order-md-2 pr-md-5 pl-md-5 mb-5 text-center">
                      <img src="/assets/img/books/toeictext_2.jpg" class="w-75 h-auto rounded" alt="TOEIC&reg;L&amp;Rテスト最強 単語&amp;フレーズ">
                    </div>
                    <div class="col-12 col-md-7 order-md-1 pr-md-5 pl-md-5">
                      <h3 class="text-center" style="line-height:1.2;">TOEIC&reg;L&amp;Rテスト最強 単語&amp;フレーズ<br><span style="font-size: 65%;line-height:1.2;">（著：早川幸治）</span></h3>
                      <p class="text-center txt_kiri"><strong>TOEIC学習者の最優先課題は語彙力の強化です！ <br>脳が覚えやすい仕組みをつくり、少ない労力で効率よく語句を覚える！</strong></p>
                      <p>早川幸治先生が監修のTOEIC&reg;L&amp;Rテストに特化した単語＆フレーズ集。</p>
                      <p>Database TOEICの特徴として、「ジャンル別」「レベル別」に単語を覚えられること。<br>そして、「同義表現」や「類似表現」を一緒に覚えられるため、記憶に定着しやすい仕掛け作りをしています。TOEIC試験にのぞむための、語彙力強化に適しています！</p>
                      <p>効率的な単語学習方法は、反復学習と、音声に合わせた英文の音読です。<br>また、「書き込みドリル」との併用で、同じ単語に触れる機会も増えるため、更に単語学習の効率を高められます！</p>
                    </div>

                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-12 col-md-5 pr-md-5 pl-md-5 mb-5 text-center">
                      <img src="/assets/img/books/toeictext_4.jpg" class="w-75 h-auto rounded" alt=">TOEIC&reg;L&amp;Rテスト書き込みドリル">
                    </div>
                    <div class="col-12 col-md-7 pr-md-5 pl-md-5">
                      <h3 class="text-center" style="line-height:1.2;">総合英語 FACTBOOK ~ これからの英文法<br><span style="font-size: 65%;margin-top:-15px;">（著：大西泰斗/ポールマクベイ）</span></h3>
                      <p class="text-center txt_kiri"><strong>目標スコアに届かない原因の一つに英文法の曖昧な理解が挙げられます！ <br>英文法を理解するために手元に置いておきたい文法書です</strong></p>
                      <p>大西泰斗先生が監修した桐原書店の文法書FACTBOOK。<br>
                          例文解説アニメーション、例文音声、そしてCheck問題も付属し、文法学習を強力にサポートします。</p>

                      <p>ただ文法の暗記をさせるのではなく、イラストや動画を使い、初心者にもわかりやすい解説を心がけており、多くの学習者の「なぜ」に答えます。</p>

                      <p>TOEIC学習に入る前の文法の復習として、また学習における文法のつまづきを解消するための教材として、ご利用ください。</p>

                    </div>

                </div>
            </div>
          </section>

          <section class="">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12">
                      <h3 class="text-center">コース購入者に購入をお願いしている教材について</h3>
                    </div>
                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-12 col-md-5 order-md-2 pr-md-5 pl-md-5 mb-5 text-center">
                      <img src="/assets/img/books/toeictext_5.jpg?v2" class="w-75 h-auto rounded" alt="TOEIC L&amp;Rテスト最強 単語&amp;フレーズ">
                    </div>
                    <div class="col-12 col-md-7 order-md-1 pr-md-5 pl-md-5">
                     <h3 class="text-center" style="line-height:1.2;">公式TOEIC Listening & Reading 問題集 12<br><span style="font-size: 65%;line-height:1.2;">（発行者：一般財団法人 国際ビジネスコミュニケーション協会）</span></h3>
                     <p class="text-center txt_kiri"><strong>本番同様の問題で実践的なテスト対策を<br>模擬試験から、解き直し、音読教材としても活用</strong></p>
                     <p>TOEIC&reg;L&amp;Rテストを主催するETSから出版されている問題集で、本番同様の問題が掲載されています。シリーズとしてこれまで1～12まで出版されており、一つの問題集に2回分の模擬試験が収録されています。</p>

                     <p>まずはじめに、TEST1を受験ください。<br>時間を測り、本番さながらの環境で問題を解くことで、現時点でのおおよそのTOEICスコアを把握することができます。<br>自分の強みと弱みを理解し、効率的な学習を進めていけるようになります。</p>

                     <p>日々の学習を行い基礎力を伸ばした後は、TEST2を実施し自分の学習の成果をご確認ください。<br>本番試験までに、さらに集中して学習が必要なポイントを見つけることが可能です！</p>
                    </div>

                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <p class="text-center mb-2"><strong>＼体験レッスン実施中！たった5分で予約が可能／</strong></p>
                    <div class="wt_mvbtn"><a href="/WTE/reg.cgi?s=1" class="btn btn-danger rounded-pill wt_btn">まずはこちらから無料の会員登録をしてください</a></div>
                  </div>
                </div>
            </div>
          </section>
        <!--セクション「よくあるご質問」end-->

        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="url" content="https://academy.kirihara.co.jp/">
              <span class="wt_crumb" itemprop="name">ホーム</span>
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/toeic" itemprop="name" content="https://academy.kirihara.co.jp/wte/toeic">
              <span itemprop="title">TOEIC対策</span>
            </a>
          </li>
          <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="%ssl_host_url%/wte/toeictext" itemprop="name" content="https://academy.kirihara.co.jp/wte/toeictext">
              <span itemprop="title">TOEICコースの教材について</span>
            </a>
          </li>
        </ul>
    </main>


      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
    <TMPL_INCLUDE NAME="../include/foot.html">
          <!-- Schema -->
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Article",
              "name": "TOEIC&reg;対策コースの教材のご紹介｜オンライン学習のKIRIHARA Online Academy",
              "headline": "短期集中型オンラインTOEIC対策の料金プランのご案内です。他校と比べても圧倒的な安さで充実のカリキュラムを受けられます",
              "description": "TOEIC&reg;L&amp;Rテスト突破コースの料金プランをご説明いたします。2か月のコースを買い切りで33,000円（税込）でご利用可能です。通常のTOEICコーチングサービスと比べても圧倒的な安さでコース受講が可能です。月額利用のオンライン英会話教室と比べても安価でご利用いただけますので、是非TOEICのスコアアップをお考えの方はご利用くださいませ。",
              "datePublished": "2022-08-08T09:00:00+09:00",
              "dateModified": "2022-08-08T13:00:00+09:00",
              "url": "https://academy.kirihara.co.jp/wte/toeictext",
              "mainEntityOfPage": "https://academy.kirihara.co.jp/wte/toeictext",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ],
              "author": [{
                "@type": "Organization",
                "name": "KIRIHARA Online Academy",
                "url": "https://academy.kirihara.co.jp/"
              }]
            }

          </script>
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "WebPage",
              "name": "TOEIC&reg;対策コースの教材のご紹介｜オンライン学習のKIRIHARA Online Academy",
              "description": "TOEIC&reg;L&amp;Rテスト突破コースの料金プランをご説明いたします。2か月のコースを買い切りで33,000円（税込）でご利用可能です。通常のTOEICコーチングサービスと比べても圧倒的な安さでコース受講が可能です。月額利用のオンライン英会話教室と比べても安価でご利用いただけますので、是非TOEICのスコアアップをお考えの方はご利用くださいませ。",
              "url": "https://academy.kirihara.co.jp/wte/toeictext",
              "image": "https://academy.kirihara.co.jp/assets/img/ogp/ogp_toeic.jpg",
              "sameAs": [
                "https://www.facebook.com/KIRIHARA.Online.Academy",
                "https://twitter.com/WT_Kirihara",
                "https://www.youtube.com/channel/UCOTgYM848bG69vAT7Y0ol4A"
              ]
            }

          </script>
</body>

</html>
