<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<meta content="IE=edge" http-equiv=X-UA-Compatible>
<meta content="width=device-width,initial-scale=1" name=viewport>
<title>%product_name% - Skypeを使って自宅で語学学習！初心者にも優しい、日本人語学%prof_caption%メインのオンライン英会話です。 - <TMPL_INCLUDE NAME="../include/title.html"></title>
<meta name="description" content="スカイプを使って、自宅で気軽に語学学習をしませんか？英語初心者にも優しい、日本人語学%prof_caption%メインのマンツーマン英会話レッスンを用意しています。オンライン英会話ならワールドオンラインイストーク（WOI）をご活用ください。" />
<meta name="keywords" content="スカイプ,%product_name%" />
<TMPL_INCLUDE NAME="../include/head.html">
</head>
<body id="user" class="drawer drawer--right">

<!--Facebookアプリ用js-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=229437533792557";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<TMPL_INCLUDE NAME="../include/header.html">
  <div id="sb-site">

    <!-- head section -->
    <section class="phead">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>%product_name%からのお知らせ</h1>
          </div>
        </div>
      </div>
    </section>

    <!--メインコンテンツstart-->
    <article id="main" class="col4">

      <!--コンテナstart-->
      <div class="container index clearfix">

        <!--メインビジュアルstart-->
        <div class="slider-wrapper theme-default">

          <!--jquery flexslider呼び出し-->
          <div id="slider" class="flexslider">
            <ul class="slides">
              <li>
                <a href="/wte/about/"><img src="/img/figure/slider/slider_01.jpg" width="755" height="250" alt="オンラインサービスを始めるなら「%product_name%」" /></a>
              </li>
            </ul>
          </div>

        </div>
        <!--メインビジュアルend-->

        <div class="colhalf partition flat" style="margin-bottom:15px;">

          <!--セクション「%product_name%からのお知らせ」start-->
          <section class="info">

            <!--セクション見出し-->
            <h1>%product_name%からのお知らせ</h1>

            <!--jquery jscrollpane呼び出し-->
            <dl class="scroll-pane-arrows">

              <!--ループ：お知らせの日時と内容start-->
              <TMPL_LOOP NAME="ann_loop">
              <dt>%ann_cdate_0%年%ann_cdate_1%月%ann_cdate_2%日 %ann_cdate_3%:%ann_cdate_4%:%ann_cdate_5% %ann_title%</dt>
              <dd>%ann_content%</dd>
              </TMPL_LOOP>
              <!--ループ：お知らせの日時と内容end-->

            </dl>

          </section>
          <!--セクション「%product_name%からのお知らせ」end-->

          <!--セクション「%product_name%とは」start-->
          <section class="about">

            <!--セクション見出し-->
            <h1>%product_name%とは</h1>

            <p>%product_name%は、手軽に、安価に、オンラインサービスを始めるお手伝いをいたします。システムだけではなく、実際にオンライン英会話サービスを運用してきたノウハウも合わせて提供いたします。</p>
            <p>サービスの集客も合わせてサポートいたします。一緒に%product_name%始めませんか？</p>

          </section>
          <!--セクション「%product_name%とは」end-->

        </div>
        <div class="colhalf flat" style="margin-bottom:15px;">

          <!--セクション「人気%prof_caption%一覧」start-->
          <section class="toplist">

            <!--セクション見出し-->
            <h1>人気%prof_caption%一覧</h1>

            <div style="border-top:2px solid #e5e5e5;">

              <!--ループ：人気%prof_caption%（5件）start-->
              <TMPL_LOOP NAME="pref_new_loop" PROF_INTRO_CHARS="50" LIMIT="5">
              <div class="list clearfix">

                <!--サムネイル画像-->
                <div class="imagelist">
                  <a href="/wte/prfdtlfrm/%prof_id%">

                    <!--条件：写真が登録されていたら表示-->
                    <TMPL_IF NAME="prof_logo">
                    <img src="%prof_logo_1_url%?%epoch%" width="%prof_logo_1_w%" height="%prof_logo_1_h%" alt="" />

                    <!--条件：写真が登録されていなかったらnoimage画像表示-->
                    <TMPL_ELSE>
                    <img src="%static_url%/imgs/profile_blank.png" width="%prof_logo_1_w%" height="%prof_logo_1_h%" alt="" />
                    </TMPL_IF>
                    <!--条件：end-->

                  </a>
                </div>

                <!--ニックネーム、ランク、チケット-->
                <div class="profilelist">
                  <div class="t15"><a href="/wte/prfdtlfrm/%prof_id%"><strong>%prof_handle%</strong></a></div>
                  <div class="t11">rank:%prof_rank_title%</div>
                  <div class="t11">point:%prof_fee_with_comma%pt</div>
                </div>

                <!--紹介+リンク-->
                <div class="introductionlist">
                  <div class="t12">%prof_intro%</div>
                  <div class="alignRight button listbuttun"><a href="/wte/prfdtlfrm/%prof_id%" class="green">詳細を見る</a></div>
                </div>

              </div>
              </TMPL_LOOP>
              <!--ループ：人気%prof_caption%（5件）end-->

            </div>
          </section>
          <!--セクション「人気%prof_caption%一覧」end-->

          <!--セクション「新着%prof_caption%一覧」start-->
          <section class="toplist">

            <!--セクション見出し-->
            <h1>新着%prof_caption%一覧</h1>

            <div style="border-top:2px solid #e5e5e5;">

              <!--ループ：新着%prof_caption%（5件）start-->
              <TMPL_LOOP NAME="pref_score_loop" PROF_INTRO_CHARS="50" LIMIT="5">
              <div class="list clearfix">
                <div class="imagelist">
                  <a href="/wte/prfdtlfrm/%prof_id%">

                    <!--条件：写真が登録されていたら表示-->
                    <TMPL_IF NAME="prof_logo">
                    <img src="%prof_logo_1_url%?%epoch%" width="%prof_logo_1_w%" height="%prof_logo_1_h%" alt="" />

                    <!--条件：写真が登録されていなかったらnoimage画像表示-->
                    <TMPL_ELSE>
                    <img src="%static_url%/imgs/profile_blank.png" width="%prof_logo_1_w%" height="%prof_logo_1_h%" alt="" />
                    </TMPL_IF>
                    <!--条件：end-->

                  </a>
                </div>

                <!--ニックネーム、ランク、チケット-->
                <div class="profilelist">
                  <div class="t15"><a href="/wte/prfdtlfrm/%prof_id%"><strong>%prof_handle%</strong></a></div>
                  <div class="t11">rank:%prof_rank_title%</div>
                  <div class="t11">point:%prof_fee_with_comma%pt</div>
                </div>

                <!--紹介+リンク-->
                <div class="introductionlist">
                  <div class="t12">%prof_intro%</div>
                  <div class="alignRight button listbuttun"><a href="/wte/prfdtlfrm/%prof_id%" class="green">詳細を見る</a></div>
                </div>
              </div>
              </TMPL_LOOP>
              <!--ループ：新着%prof_caption%（5件）end-->

            </div>
          </section>
          <!--セクション「新着%prof_caption%一覧」end-->

        </div>
        <div style="margin:0 15px">

          <!--Facebook Likebox-->
          <div class="fb-like-box" data-href="http://www.facebook.com/pages/WTE%E3%83%AF%E3%83%BC%E3%83%AB%E3%83%89%E3%83%88%E3%83%BC%E3%82%AF%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%B3/125285890911840" data-width="720" data-height="260" data-show-faces="true" data-border-color="#e5e5e5" data-stream="false" data-header="false"></div>

        </div>

      </div>
      <!--コンテナend-->

    </article>
    <!--メインコンテンツend-->

    <!-- foot section -->
<TMPL_INCLUDE NAME="../include/footer.html">
  </div>
<TMPL_INCLUDE NAME="../include/foot.html">
<TMPL_INCLUDE NAME="../include/analysis.html">

<script src="/js/lib/modernizr.custom.06504.js"></script>
<script>
(function($) {$(document).ready(function() {$.slidebars();});}) (jQuery);
</script>
<script src="/js/jquery/jqueryAutoHeight.js"></script>
<script>
  $(document).ready(function(){
    $('.flat').autoHeight();
  });
</script>


<!-------------BLADEリターゲティングタグstart----------------->

<script type="text/javascript">
<!--
var blade_co_account_id='3394';
var blade_group_id='';

(function() {
var host = (location.protocol == 'https:') ? 'https://d-track.send.microad.jp' : 'http://d-cache.microad.jp';
var path = '/js/bl_track.js';

var bs = document.createElement('script');
bs.type = 'text/javascript'; bs.async = true;
bs.charset = 'utf-8'; bs.src = host + path;

var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(bs, s);
})();
-->
</script>
<!-------------BLADEリターゲティングタグEND----------------->


<!-------------logicadリターゲティングタグstart----------------->


<script type="text/javascript">var smnAdvertiserId = '00000400';</
script><script type="text/javascript" src="//cd-ladsp-com.s3.amazonaws.
com/script/pixel.js"></script>

<!-------------logicadリターゲティングタグEND----------------->

<!-------------fine link タグマネージャ　start----------------->

<script type="text/javascript">
  (function () {
    var tagjs = document.createElement("script");
    var s = document.getElementsByTagName("script")[0];
    tagjs.async = true;
    tagjs.src = "//s.yjtag.jp/tag.js#site=KAEcQlf";
    s.parentNode.insertBefore(tagjs, s);
  }());
</script>
<noscript>
  <iframe src="//b.yjtag.jp/iframe?c=KAEcQlf" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>

<!-------------fine link タグマネージャ　----------------->

<!---リタゲ　WBN　start--->
<script type="text/javascript" language="javascript">
/* <![CDATA[ */
var yahoo_retargeting_id = 'F6LAYZI10N';
var yahoo_retargeting_label = '';
/* ]]> */
</script>
<script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script>
<!---リタゲ　WBN　END--->

</body>
</html>
