<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>Twitterで予約チェック｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="本格的な英検1級～5級対策、TOEIC対策が出来る「ワールドトーク×桐原書店」のTwitterアカウントのご紹介です。登録している日本人講師のスケジュール登録情報や、運営事務局からのお薦め講師情報など、ご利用者に役立つ情報がいっぱいです！是非、アカウントのフォローをお願いいたします！" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="Twitterで予約チェック｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="本格的な英検1級～5級対策、TOEIC対策が出来る「ワールドトーク×桐原書店」のTwitterアカウントのご紹介です。登録している日本人講師のスケジュール登録情報や、運営事務局からのお薦め講師情報など、ご利用者に役立つ情報がいっぱいです！是非、アカウントのフォローをお願いいたします！" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/wte/twitter" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/wte/twitter" />
  <meta name="twitter:title" content="Twitterで予約チェック｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="本格的な英検1級～5級対策、TOEIC対策が出来る「ワールドトーク×桐原書店」のTwitterアカウントのご紹介です。登録している日本人講師のスケジュール登録情報や、運営事務局からのお薦め講師情報など、ご利用者に役立つ情報がいっぱいです！是非、アカウントのフォローをお願いいたします！" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <link rel="canonical" href="https://academy.kirihara.co.jp/wte/twitter" />
  <link rel="alternate" hreflang="ja" href="https://academy.kirihara.co.jp/wte/twitter" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
  <TMPL_INCLUDE NAME="../include/header.html">

    <main role="main" class="wt_main">
         
          <section class="wt_headvis wt_head_twitter">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1>Twitterで予約チェック</h1>
                      </div>
                  </div>
              </div>
          </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">Twitterで講師のスケジュール予約をチェックしよう</h2>
                <p>登録している日本人講師のスケジュール登録情報や、運営事務局からのお薦め講師情報など、ご利用者に役立つ情報がいっぱいです！<br>是非、アカウントのフォローをお願いいたします！</p>
              </div>
            </div>
          </div>
        </section>
        
        <ul class="wt_breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li><a href="/" itemprop="url" content="https://academy.kirihara.co.jp/"><span class="wt_crumb" itemprop="title">ホーム</span></a></li>
          <li><a href="%ssl_host_url%/wte/twitter" itemprop="url" content="https://academy.kirihara.co.jp/wte/twitter"><span itemprop="title">Twitterで予約チェック</span></a></li>
        </ul>
      </main>

      <!-- foot section -->
      <TMPL_INCLUDE NAME="../include/footer.html">
        </div>
        <TMPL_INCLUDE NAME="../include/foot.html">
</body>

</html>
