<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset=utf-8>
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title>パスワード・リセット｜<TMPL_INCLUDE NAME="../include/title.html"></title>
  <meta name="description" content="" />
  <meta name="keywords" content="オンライン英会話,スカイプ英会話,日本人講師,日本語対応可,日本語OK,初心者向け,マンツーマン,World Talk,ワールドトーク,桐原書店,TOEIC,英検" />
  <meta property="og:title" content="%member_caption%マイページ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:type" content="product" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://academy.kirihara.co.jp/" />
  <meta property="og:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <meta property="og:site_name" content="<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@WT_Kirihara" />
  <meta name="twitter:url" content="https://academy.kirihara.co.jp/" />
  <meta name="twitter:title" content="%member_caption%マイページ｜<TMPL_INCLUDE NAME="../include/title.html">" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://academy.kirihara.co.jp/assets/img/ogp/ogp.jpg" />
  <TMPL_INCLUDE NAME="../include/head.html">
</head>

<body id="user" class="drawer drawer--right">
  <TMPL_INCLUDE NAME="../include/body.html">
    <TMPL_INCLUDE NAME="../include/header.html">

      <main role="main" class="wt_main">
        <section class="wt_sec_bg_1">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-10 offset-md-1">
                <h2 class="text-center">パスワード・リセット</h2>
            <div class="wt_form wt_form_layer">
              <p>ご指定のメールアドレスにパスワードリセットの手順を送信しました。</p>
              <p>メールにはパスワード再設定用のURLが掲載されています。このブラウザーを閉じずに、そのままメールに記載されたURLをアドレス欄に入れてください。<br />※メールが届かない場合は、メールアドレスが登録されていない可能性がございます。別のアドレスでお試し下さいませ。</p>
            </div>
          </div>
        </div>
      </div>
    </section>
   </main>
  <!--footer.html読み込み-->
  <TMPL_INCLUDE NAME="../include/footer.html">
<TMPL_INCLUDE NAME="../include/foot.html">
</body>
</html>
